*.env

# Python
__pycache__
*.pyc
coverage*
.coverage
htmlcov
.pytest_cache
.ruff_cache
.mypy_cache
*.egg-info/
*.log

# OS
.DS_Store
*.swp

# editors / IDEs
/.idea/
.vscode

# Node
node_modules/

# Mac
.DS_Store
._*

# other
public/
data/
