# Autodetect text files
* text=auto

# Ensure those won't be messed up with
# *.svg binary
*.jpg binary
*.png binary
*.pdf binary
*.pptx binary
*.docx binary
*.xlsx binary
*.ppt binary
*.doc binary
*.xls binary

# Remove noise from Github language stats
# credits: https://proandroiddev.com/removing-noise-from-your-github-language-stats-e96113f8183d
app/web/_pages/episodes/*.njk linguist-vendored
