---
title: "Tuesday, June 13th, 2023"
description: This is the ninth episode of the podcast.
tags: episode
episode: "009"
date: 2023-06-13T17:02:57.278433+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-06-13_podcast_dist.mp3
    length: 12 minutes, 9 seconds
    size: 11.16 MB
rss:
    enclosure_length: 11703328
    itunes_duration: 12:09
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 10 minutes, 41 seconds
words:
    count: 1,724
    rate: 142 words per minute
references:
    count: 24
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/06/13/top-3-technologies-to-power-your-career-growth-in-zambia/
      title: "Top 3 technologies to power your career growth in Zambia"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/13/mabika-a-doubt-for-ivory-coast-game/
      title: "Mabika a doubt for Ivory Coast game"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/there-is-need-to-effectively-monitor-cdf-projects-imenda/
      title: "There is need to effectively monitor CDF Projects-Imenda"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/13/shime-tips-copper-queens-to-improve-midfield-attack-transition/
      title: "Shime tips Copper Queens to improve midfield-attack transition"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-special-olympics-team-ready-for-special-olympic-games/
      title: "Zambia Special Olympics team ready for special Olympic games"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kenya-pushes-for-direct-talks-with-sudan-rivals/
      title: "Kenya pushes for direct talks with Sudan rivals"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-was-never-involved-in-gassing-chief-mukuni-testifies/?utm_source=rss&utm_medium=rss&utm_campaign=i-was-never-involved-in-gassing-chief-mukuni-testifies
      title: "I was never involved in gassing-Chief Mukuni testifies"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/13/i-wasnt-involved-in-gassing-mukuni/
      title: "I wasn’t involved in gassing – Mukuni"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/13/my-life-in-pf-has-become-hell-on-earth-laments-mungandu/
      title: "My life in PF has become hell on earth, laments Mung’andu"
    - source: News Diggers!
      url: https://diggers.news/business/2023/06/13/over-1000-fqm-workers-to-be-re-deployed-as-the-mine-merges-with-kansanshi/
      title: "Over 1,000 FQM workers to be “re-deployed” as the mine merges with Kansanshi"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/13/chitembwe-confident-zambia-will-qualify-for-paris-games/
      title: "Chitembwe confident Zambia will qualify for Paris Games"
    - source: Mwebantu
      url: https://www.mwebantu.com/bishop-benjamin-phiri-cautions-priests-against-issuing-statements-with-potential-to-divide-the-church-and-government/?utm_source=rss&utm_medium=rss&utm_campaign=bishop-benjamin-phiri-cautions-priests-against-issuing-statements-with-potential-to-divide-the-church-and-government
      title: "Bishop Benjamin Phiri cautions priests against issuing statements with potential to divide the church and government"
    - source: Mwebantu
      url: https://www.mwebantu.com/another-lusaka-woman-attempts-to-marry-another-man-while-still-married/?utm_source=rss&utm_medium=rss&utm_campaign=another-lusaka-woman-attempts-to-marry-another-man-while-still-married
      title: "Another Lusaka woman attempts to marry another man while still married"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/trump-arrives-in-florida-ahead-of-court-appearance/
      title: "Trump arrives in Florida ahead of court appearance"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ex-pf-chief-mwila-denies-proceeds-of-crime-charge/
      title: "Ex PF Chief Mwila denies proceeds of crime charge"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/13/hh-should-meet-archbishop-banda-brebner/
      title: "HH should meet Archbishop Banda – Brebner"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zra-calls-on-csos-to-help-fight-tax-fraud/
      title: "ZRA calls on CSOs to help fight tax fraud"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kylian-mbappe-paris-st-germain-are-prepared-to-sell-france-forward/
      title: "Kylian Mbappe: Paris St-Germain are prepared to sell France forward"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tanzania-zambia-vow-to-deepen-cooperation/
      title: "Tanzania, Zambia vow to deepen cooperation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/anc-expels-ex-secretary-general-magashule/
      title: "ANC expels ex-Secretary General Magashule"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/13/avoid-vengeance-stick-to-the-laws-vj-urges-upnd/
      title: "Avoid vengeance, stick to the laws, VJ urges UPND"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-ponders-stronger-economic-diplomatic-ties/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-ponders-stronger-economic-diplomatic-ties
      title: "President Hichilema ponders stronger economic diplomatic ties"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mkushi-council-to-buy-11000-desks/
      title: "Mkushi Council to buy 11,000 desks"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/world-bank-nods-100m-tourism-development-fund/
      title: "World Bank nods $100m tourism development fund"
---
