---
title: "Thursday, October 26th, 2023"
description: This is the one hundred and first episode of the podcast.
tags: episode
episode: "101"
date: 2023-10-26T17:32:44.179522+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-10-26_podcast_dist.mp3
    length: 10 minutes, 52 seconds
    size: 9.99 MB
rss:
    enclosure_length: 10470353
    itunes_duration: 10:52
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 11 minutes, 47 seconds
words:
    count: 1,540
    rate: 142 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/26/refs-must-aspire-to-reach-highest-levels-of-performance-faz/
      title: "Refs must aspire to reach highest levels of performance – FAZ"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/10/26/munir-in-court-for-seditious-practices/
      title: "Munir in court for seditious practices"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-and-tanzania-forge-stronger-economic-ties-for-development/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-and-tanzania-forge-stronger-economic-ties-for-development
      title: "Zambia and Tanzania forge stronger economic ties for development"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-will-not-tolerate-sextortion-acc-warns/?utm_source=rss&utm_medium=rss&utm_campaign=we-will-not-tolerate-sextortion-acc-warns
      title: "We will not tolerate sextortion, ACC warns"
    - source: Mwebantu
      url: https://www.mwebantu.com/bilateral-agreement-between-zambia-and-japan-underway-to-boost-investment/?utm_source=rss&utm_medium=rss&utm_campaign=bilateral-agreement-between-zambia-and-japan-underway-to-boost-investment
      title: "Bilateral agreement between Zambia and Japan underway to boost investment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/anthrax-breaks-out-in-ep-7-people-infected/
      title: "Anthrax Breaks Out in EP, 7 people Infected"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/1000-zaf-officer-apply-for-loans/
      title: "1,000 ZAF Officer Apply for Loans"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/26/police-nab-5-criminals-aged-between-15-and-22-in-matero/
      title: "Police nab 5 criminals aged between 15 and 22 in Matero"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/26/chambeshi-chiyangi-tip-chipolopolo-to-make-2026-world-cup/
      title: "Chambeshi, Chiyangi tip Chipolopolo to make 2026 World Cup"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/26/zambia-will-surprise-rivals-at-hockey-olympic-qualifiers-bwali/
      title: "Zambia will surprise rivals at hockey Olympic qualifiers – Bwali"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sa-gets-1bn-world-bank-loan-to-tackle-power-crisis/
      title: "SA gets $1bn World Bank loan to tackle power crisis"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cb-needs-more-resources-for-water/
      title: "“CB needs More Resources for Water”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/african-health-challenges-need-home-grown-solutions-hh/
      title: "African Health Challenges Need Home Grown Solutions-HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambiajapan-to-sign-investment-agreement/
      title: "Zambia,Japan To Sign Investment Agreement"
    - source: Mwebantu
      url: https://www.mwebantu.com/suspected-criminal-beaten-to-death-by-mob/?utm_source=rss&utm_medium=rss&utm_campaign=suspected-criminal-beaten-to-death-by-mob
      title: "Suspected criminal beaten to death by mob"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zns-signs-deal-to-build-5000-km-of-township-roads-at-725m/
      title: "ZNS Signs Deal to Build 5,000 km of Township Roads at $725m"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/26/chitangala-explains-delay-in-rehabilitating-oydc-facilities/
      title: "Chitangala explains delay in rehabilitating OYDC facilities"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lack-of-funds-affecting-basketball-performance/
      title: "“Lack of Funds Affecting Basketball Performance”"
    - source: Mwebantu
      url: https://www.mwebantu.com/chipolopolo-makes-a-slight-leap-in-world-rankings/?utm_source=rss&utm_medium=rss&utm_campaign=chipolopolo-makes-a-slight-leap-in-world-rankings
      title: "Chipolopolo makes a slight leap in World Rankings"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/farmers-warned-of-arrest-if-they-sell-fisp-inputs/
      title: "Farmers Warned of Arrest if they Sell FISP Inputs"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mulusa-challenges-councils-on-cdf/
      title: "Mulusa Challenges Councils on CDF"
---
