---
title: "Wednesday, December 20th, 2023"
description: This is the one hundred and fortieth episode of the podcast.
tags: episode
episode: "140"
date: 2023-12-20T20:47:46.567701+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-12-20_podcast_dist.mp3
    length: 6 minutes, 25 seconds
    size: 5.92 MB
rss:
    enclosure_length: 6202992
    itunes_duration: 06:25
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 33 seconds
words:
    count: 892
    rate: 139 words per minute
references:
    count: 26
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/20/2023-has-been-a-remarkable-year-for-zambian-sports-nocz/
      title: "2023 has been a remarkable year for Zambian sports – NOCZ"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/20/grant-should-leave-blueprint-for-local-coaches-to-follow-mulonga/
      title: "Grant should leave blueprint for local coaches to follow – Mulonga"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/12/20/how-will-muchima-stop-cadres-from-grabbing-land-if-he-wants-upnd-favoured/
      title: "How will Muchima stop cadres from grabbing land if he wants UPND favoured?"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/20/ecz-rejects-nominations-for-pf-candidates-in-mwansabombwe-mpika/
      title: "ECZ rejects nominations for PF candidates in Mwansabombwe, Mpika"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/20/muchimas-statement-on-land-unconstitutional-zla/
      title: "Muchima’s statement on land unconstitutional – ZLA"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-reintroduce-security-checkpoints-amidst-the-rise-in-criminal-activities-in-the-country/?utm_source=rss&utm_medium=rss&utm_campaign=police-reintroduce-security-checkpoints-amidst-the-rise-in-criminal-activities-in-the-country
      title: "Police reintroduce security checkpoints amidst the rise in criminal activities in the country"
    - source: Mwebantu
      url: https://www.mwebantu.com/unveiling-the-victors-zindi-hackathon-winners-share-their-journeys/?utm_source=rss&utm_medium=rss&utm_campaign=unveiling-the-victors-zindi-hackathon-winners-share-their-journeys
      title: "Unveiling the Victors: Zindi Hackathon Winners Share Their Journeys"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-calls-for-end-to-war-and-need-to-embrace-dialoge/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-calls-for-end-to-war-and-need-to-embrace-dialoge
      title: "Zambia calls for end to war and need to embrace dialogue"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/polls-open-in-highly-anticipated-dr-congo-election/
      title: "Polls open in highly-anticipated DR Congo election"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/bishop-kazhila-counsels-zambians/
      title: "Bishop KAZHILA counsels Zambians"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/south-korea-students-sue-after-teacher-ends-exam-90-seconds-early/
      title: "South Korea: Students sue after teacher ends exam 90 seconds early"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2023/12/20/our-problems-not-unique-but-solutions-must-be/
      title: "Our problems not unique, but solutions must be"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/20/agriculture-ps-admits-using-wrong-documents-to-direct-bid-agrizam/
      title: "Agriculture PS admits using wrong documents to direct bid Agrizam"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/dont-blame-govt-on-kwacha-fall-mvunga/
      title: "Don’t blame Govt on kwacha fall – MVUNGA"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/12/20/state-awards-police-commissioner-who-was-nabbed-over-sugilite/
      title: "State awards police commissioner who was nabbed over sugilite"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/12/20/lungus-argument-that-his-eligibility-has-been-pronounced-on-lacks-merit-youth-activist/
      title: "Lungu’s argument that his eligibility has been pronounced on lacks merit – Youth activist"
    - source: Mwebantu
      url: https://www.mwebantu.com/student-found-with-a-case-for-stealing-and-trying-to-sell-a-6-year-old-boy-in-exchange-for-drugs-in-chibolya-township/?utm_source=rss&utm_medium=rss&utm_campaign=student-found-with-a-case-for-stealing-and-trying-to-sell-a-6-year-old-boy-in-exchange-for-drugs-in-chibolya-township
      title: "Student found with a case for stealing and trying to sell a 6 year-old boy in exchange for drugs in Chibolya Township"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/new-zaf-commander-sworn-in/
      title: "New ZAF Commander Sworn In"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ministry-of-mines-develops-draft-critical-minerals-strategy/
      title: "Ministry of Mines develops draft critical minerals strategy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/french-court-jails-rwandan-ex-doctor-24-years-over-genocide/
      title: "French court jails Rwandan ex-doctor 24 years over genocide"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/12/20/egyptian-demands-5-6m-back-produces-video-evidence-of-officers-extorting-money/
      title: "Egyptian demands $5.6m back, produces video evidence of officers extorting money"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/20/kundananji-tops-goal50-list/
      title: "Kundananji tops GOAL50 list"
    - source: Mwebantu
      url: https://www.mwebantu.com/bally-fires-barry/?utm_source=rss&utm_medium=rss&utm_campaign=bally-fires-barry
      title: "Bally fires Barry !!!"
    - source: Mwebantu
      url: https://www.mwebantu.com/former-napsa-employee-convicted-for-fraud/?utm_source=rss&utm_medium=rss&utm_campaign=former-napsa-employee-convicted-for-fraud
      title: "Former NAPSA employee convicted for fraud"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zaf-boss-contract-terminated/
      title: "ZAF boss contract terminated"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-super-league-to-go-on-recess/
      title: "Zambia Super League to go on recess"
---
