---
title: "Monday, October 16th, 2023"
description: This is the ninety-third episode of the podcast.
tags: episode
episode: "093"
date: 2023-10-16T16:57:13.900337+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-10-16_podcast_dist.mp3
    length: 9 minutes, 14 seconds
    size: 8.49 MB
rss:
    enclosure_length: 8906347
    itunes_duration: 09:14
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 30 seconds
words:
    count: 1,312
    rate: 142 words per minute
references:
    count: 18
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/16/failing-to-win-at-home-cost-us-lubasi/
      title: "Failing to win at home cost us – Lubasi"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/16/upnd-distances-itself-from-lungus-jogging-attack/
      title: "UPND distances itself from Lungu’s jogging attack"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/gold-scam-jet-to-be-forfeited-to-the-state/
      title: "Gold scam jet to be forfeited to the state"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chambeshi-dam-slowly-drying-up/
      title: "Chambeshi dam slowly drying up"
    - source: News Diggers!
      url: https://diggers.news/business/2023/10/16/dont-worry-about-zambia-airways-malfunction-it-was-cleared-minister/
      title: "Don’t worry about Zambia Airways malfunction, it was cleared – Minister"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/daniel-noboa-elected-ecuadors-youngest-president/
      title: "Daniel Noboa elected Ecuador’s youngest president"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rains-expected-this-week/
      title: "Rains expected this week"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/france-28-29-south-africa-ruthless-springboks-edge-out-france-in-epic-world-cup-contest/
      title: "France 28-29 South Africa: Ruthless Springboks edge out France in epic World Cup contest"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/10/16/conversations-on-conservation-inspiring-insights-from-the-2023-conservation-careers-fair/
      title: "Conversations on Conservation: Inspiring insights from the 2023 Conservation Career’s Fair"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/16/afcon-draws-look-easy-on-paper-but-tough-in-reality/
      title: "AFCON draws look easy on paper but tough in reality"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/16/noc-urges-athletes-to-strive-qualify-for-paris-olympics/
      title: "NOC urges athletes to strive, qualify for Paris Olympics"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-assures-kitwe-residents-on-water-challenges/
      title: "Govt assures Kitwe residents on Water Challenges"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/16/its-illogical-in-a-liberalised-economy-to-have-zns-distribute-mealie-meal-kampyongo/
      title: "It’s illogical in a liberalised economy to have ZNS distribute mealie meal – Kampyongo"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/16/ne-yo-macky-2-state-house-visit-sparks-upnd-outrage-as-hh-censures-members/
      title: "Ne-Yo, Macky 2 State House visit sparks UPND outrage, as HH censures members"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/first-batch-of-medical-supplies-arrive-from-egypt/
      title: "First batch of medical supplies arrive from Egypt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/concession-agreement-signed-for-ndola-sakania-mufulira-road/
      title: "Concession Agreement signed for Ndola -Sakania-Mufulira road"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/16/copper-queens-lose-cosafa-cup-final-to-malawi/
      title: "Copper Queens lose Cosafa Cup final to Malawi"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/10/16/hh-must-listen-to-the-cries-of-his-loyal-supporters-he-will-need-them/
      title: "HH must listen to the cries of his loyal supporters, he will need them"
---
