---
title: "Tuesday, October 3rd, 2023"
description: This is the eighty-fifth episode of the podcast.
tags: episode
episode: "085"
date: 2023-10-03T17:00:17.053269+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-10-03_podcast_dist.mp3
    length: 9 minutes, 22 seconds
    size: 8.61 MB
rss:
    enclosure_length: 9031317
    itunes_duration: 09:22
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 8 minutes, 1 second
words:
    count: 1,331
    rate: 142 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/03/kalumba-wins-munkonge-memorial-scrabble-championships/
      title: "Kalumba wins Munkonge Memorial Scrabble Championships"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/03/kamanga-eyes-afcon-bid/
      title: "Kamanga eyes 2029 AFCON bid"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mutati-challenges-private-sector/
      title: "MUTATI challenges private sector"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/oil-cartel-leader-warns-of-prolonged-high-prices/
      title: "Oil cartel leader warns of prolonged high prices"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/seychelles-opposition-leader-charged-with-witchcraft/
      title: "Seychelles opposition leader charged with witchcraft"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/03/gillan-on-course-for-podium-finish-at-moja-extravaganza-chess-tourney/
      title: "Gillan on course for podium finish at Moja Extravaganza chess tourney"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/03/faz-rues-elimination-of-power-muza-from-caf-games/
      title: "FAZ rues elimination of Power, MUZA from CAF games"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/10/03/the-crookedness-of-defending-an-illegality-when-it-suits-you-part-2/
      title: "The crookedness of defending an illegality when it suits you: Part 2"
    - source: News Diggers!
      url: https://diggers.news/business/2023/10/03/we-seriously-thought-about-putting-tax-on-mobile-money-govt/
      title: "We seriously thought about putting tax on mobile money – Govt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/increased-allocation-to-legal-aid-cheers-germany-envoy/
      title: "Increased allocation to Legal Aid cheers German Envoy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ecz-unhappy-with-pfs-nakacinda/
      title: "ECZ unhappy with PF’s NAKACINDA"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/03/its-hard-to-appreciate-cdf-increment-weve-only-received-k6m-of-2023-allocation-kampyongo/
      title: "It’s hard to appreciate CDF increment, we’ve only received K6m of 2023 allocation – Kampyongo"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/03/national-assembly-forms-caucus-to-promote-disability-rights/
      title: "National Assembly forms caucus to promote disability rights"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mukubwe-residents-in-ngabwe-appeal-for-a-modern-school/
      title: "MUKUBWE residents in NGABWE appeal for a modern school"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/10/03/musukwa-challenges-seizure-of-his-properties-without-charge/
      title: "Musukwa challenges seizure of his properties without charge"
    - source: Mwebantu
      url: https://www.mwebantu.com/yes-i-abandoned-my-three-children-woman-tells-court/?utm_source=rss&utm_medium=rss&utm_campaign=yes-i-abandoned-my-three-children-woman-tells-court
      title: "Yes, I abandoned my three children-Woman tells court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/newsclick-delhi-police-raid-homes-of-prominent-journalists/
      title: "NewsClick: Delhi police raid homes of prominent journalists"
---
