---
title: "Monday, October 23rd, 2023"
description: This is the ninety-eighth episode of the podcast.
tags: episode
episode: "098"
date: 2023-10-23T17:03:57.607526+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-10-23_podcast_dist.mp3
    length: 12 minutes, 44 seconds
    size: 11.70 MB
rss:
    enclosure_length: 12268410
    itunes_duration: 12:44
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 11 minutes, 41 seconds
words:
    count: 1,781
    rate: 140 words per minute
references:
    count: 25
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/23/cdf-procured-police-vehicles-will-be-in-constituencies-before-end-of-oct-mwiimbu/
      title: "CDF-procured police vehicles will be in constituencies before end of Oct – Mwiimbu"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/23/dont-underrate-any-opponent-at-afcon-mbesuma-tips-chipolopolo/
      title: "Don’t underrate any opponent at AFCON, Mbesuma tips Chipolopolo"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/23/patel-wins-zir-as-defending-champ-gomes-crushes-out/
      title: "Patel wins ZIR as defending champ Gomes crushes out"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/magandes-death-saddens-hh/
      title: "Magande’s Death Saddens HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sinda-buys-6000-desks-using-cdf/
      title: "Sinda Buys 6,000 Desks Using CDF"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-release-47-mothers-from-prison/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-release-47-mothers-from-prison
      title: "President Hichilema release 47 mothers from prison"
    - source: Mwebantu
      url: https://www.mwebantu.com/tanzanian-president-dr-samia-suluhu-hassan-expected-in-the-country-for-three-day-developmental-state-visit/?utm_source=rss&utm_medium=rss&utm_campaign=tanzanian-president-dr-samia-suluhu-hassan-expected-in-the-country-for-three-day-developmental-state-visit
      title: "Tanzanian President, Dr Samia Suluhu Hassan expected in the country for three day developmental State visit"
    - source: Mwebantu
      url: https://www.mwebantu.com/lawyer-who-poisoned-attempted-suicide-and-poisoned-son-to-be-detained-at-chainama-hospital/?utm_source=rss&utm_medium=rss&utm_campaign=lawyer-who-poisoned-attempted-suicide-and-poisoned-son-to-be-detained-at-chainama-hospital
      title: "Lawyer who poisoned attempted suicide and poisoned son to be detained at Chainama Hospital"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/budima-dance-festival-can-unite-people/
      title: "“Budima Dance Festival Can Unite People”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/evelyn-hone-college-challenged-to-adopt-e-learning/
      title: "Evelyn Hone College Challenged to adopt E-Learning"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/swine-fever-hits-another-chongwe-farm/
      title: "Swine Fever Hits another Chongwe Farm"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/23/warriors-triumph-over-power/
      title: "Warriors triumphs over Power Dynamos"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/23/mps-can-benefit-from-cdf-projects-provided-they-declare-interest-in-writing-govt/
      title: "MPs can benefit from CDF projects provided they declare interest in writing – Govt"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/23/musokotwane-is-not-sincere-on-rising-commodity-prices-simumba/
      title: "Musokotwane is not sincere on rising commodity prices – Simumba"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/23/pf-postpones-convention-suspends-chama-3-mps/
      title: "PF postpones convention, suspends Chama, 3 MPs"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kenyan-wins-zambian-rally/
      title: "Kenyan Wins Zambian Rally"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/10/23/hhs-tolerance-of-defiant-non-performing-ministers-will-cost-him/
      title: "HH’s tolerance of defiant, non-performing ministers will cost him"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-pardons-815-inmates-for-independence-anniversary/
      title: "HH Pardons 815 Inmates for Independence Anniversary"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/reserve-5-of-cdf-for-mobility-aids/
      title: "“Reserve 5% of CDF for Mobility Aids”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kundananji-scores-5th-goal-of-season/
      title: "Kundananji Scores 5th Goal of Season"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/23/yango-zambia-joins-maluba-rotary-club-in-cancer-awareness-campaign/
      title: "Yango Zambia joins Maluba Rotary Club in cancer awareness campaign"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/23/muchima-warns-pf-mwanya-ba-kabwalala-you-were-illegally-giving-land/
      title: "Muchima warns PF: Mwanya ba kabwalala, you were illegally giving land"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nkandu-hands-over-mini-hospital/
      title: "Nkandu Hands over Mini Hospital"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-mourns-ngandu-magandes-death/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-mourns-ngandu-magandes-death
      title: "President Hichilema mourns N’gandu Magande’s death"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/israel-hits-hundreds-of-gaza-sites-as-it-warns-campaign-may-last-months/
      title: "Israel hits hundreds of Gaza sites as it warns campaign may last months"
---
