---
title: "Wednesday, June 28th, 2023"
description: This is the twentieth episode of the podcast.
tags: episode
episode: "020"
date: 2023-06-28T17:02:15.119373+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-06-28_podcast_dist.mp3
    length: 16 minutes, 28 seconds
    size: 15.12 MB
rss:
    enclosure_length: 15849485
    itunes_duration: 16:28
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 59 seconds
words:
    count: 2,331
    rate: 142 words per minute
references:
    count: 34
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/28/zha-names-provisional-squad-for-paris-qualifiers/
      title: "ZHA names provisional squad for Paris qualifiers"
    - source: Mwebantu
      url: https://www.mwebantu.com/rainford-kalaba-hangs-up-his-boots-after-13-seasons-at-tp-mazembe/?utm_source=rss&utm_medium=rss&utm_campaign=rainford-kalaba-hangs-up-his-boots-after-13-seasons-at-tp-mazembe
      title: "Rainford Kalaba Hangs Up His Boots After 13 Seasons at TP Mazembe"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/expected-benefits-from-debt-restructuring-deal/?utm_source=rss&utm_medium=rss&utm_campaign=expected-benefits-from-debt-restructuring-deal
      title: "Expected benefits from debt-restructuring deal"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/deal-saves-5-8bn/?utm_source=rss&utm_medium=rss&utm_campaign=deal-saves-5-8bn
      title: "Deal saves $5.8bn"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/1200-exhibit-at-trade-fair/?utm_source=rss&utm_medium=rss&utm_campaign=1200-exhibit-at-trade-fair
      title: "1,200 exhibit at trade fair"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/fawuz-engages-kaunda-as-gs/?utm_source=rss&utm_medium=rss&utm_campaign=fawuz-engages-kaunda-as-gs
      title: "FAWUZ engages Kaunda as GS"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/28/matambo-lists-hhs-fulfilled-promises/
      title: "Matambo lists HH’s fulfilled promises"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/28/copper-queens-will-surprise-giants-at-world-cup-munshya/
      title: "Copper Queens will surprise giants at World Cup – Munshya"
    - source: News Diggers!
      url: https://diggers.news/business/2023/06/28/were-eager-to-put-debt-restructuring-details-in-place-hh-tells-world-bank/
      title: "We’re eager to put debt restructuring details in place, HH tells World Bank"
    - source: Mwebantu
      url: https://www.mwebantu.com/finance-minister-urges-zambians-to-never-find-themselves-in-debt-accumulation/?utm_source=rss&utm_medium=rss&utm_campaign=finance-minister-urges-zambians-to-never-find-themselves-in-debt-accumulation
      title: "Finance minister urges Zambians to never find themselves in debt accumulation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/take-farming-as-a-business-farmers-told/
      title: "Take farming as a business, farmers told"
    - source: Mwebantu
      url: https://www.mwebantu.com/son-of-the-house-to-hold-apology-presser-tomorrow/?utm_source=rss&utm_medium=rss&utm_campaign=son-of-the-house-to-hold-apology-presser-tomorrow
      title: "‘Son of the House’ to hold apology presser tomorrow"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kalumbila-public-institutions-to-be-connected-to-power/
      title: "Kalumbila public institutions to be connected to power grid"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/use-cdf-wisely-tayali-tells-constituents/
      title: "Use CDF wisely, Tayali tells constituents"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/women-rugby-pre-olympics-qualifiers-on-as-senegal-jet-in/
      title: "Women rugby Pre-Olympics qualifiers on, as Senegal jet in"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/ndola-cancer-hospital-construction-timely/?utm_source=rss&utm_medium=rss&utm_campaign=ndola-cancer-hospital-construction-timely
      title: "Ndola cancer hospital construction timely"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/zccm-ih-confirms-firms-shortlisted-for-mopani/?utm_source=rss&utm_medium=rss&utm_campaign=zccm-ih-confirms-firms-shortlisted-for-mopani
      title: "ZCCM-IH confirms firms shortlisted for Mopani"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/mourinho-eyes-luring-daka-to-rome/?utm_source=rss&utm_medium=rss&utm_campaign=mourinho-eyes-luring-daka-to-rome
      title: "Mourinho eyes luring Daka to Rome"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/senegal-shock-brazil/
      title: "Senegal shock Brazil"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/28/speaker-rules-mposha-out-of-order-for-saying-some-houses-are-full-of-dollars/
      title: "Speaker rules Mposha out of order for saying “some houses are full of dollars”"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/28/munir-gets-bench-warrant-for-missing-court/
      title: "Munir gets bench warrant for missing court"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/28/as-roma-eyes-daka/
      title: "AS Roma eyes Daka"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/28/pf-using-lungu-to-play-politics-they-cant-stand-on-their-own-miles/
      title: "PF using Lungu to play politics, they can’t stand on their own – Miles"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-will-have-more-fiscal-space-after-debt-restructuring-mulenga/
      title: "Govt will have more fiscal space after debt restructuring-Mulenga"
    - source: News Diggers!
      url: https://diggers.news/business/2023/06/28/lets-keep-calm-mealie-meal-prices-will-stabilise-millers/
      title: "Let’s keep calm, mealie meal prices will stabilise – Millers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/national-prosecution-authority-vows-to-pursue-illicit-proceeds-of-crime/
      title: "National Prosecution Authority vows to pursue illicit proceeds of crime"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/we-will-compete-to-win-afcon-klings-says/
      title: "‘We will compete to win Afcon,’ Klings says"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-is-ready-for-the-big-time-mizinga/
      title: "Zambia is ready for the big time-Mizinga"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/munir-zulu-faces-arrest/?utm_source=rss&utm_medium=rss&utm_campaign=munir-zulu-faces-arrest
      title: "Munir Zulu faces arrest"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/28/acc-quizzes-gbm-his-lawyer-over-alleged-forged-letter/
      title: "ACC quizzes GBM, his lawyer over alleged forged letter"
    - source: Mwebantu
      url: https://www.mwebantu.com/zumani-zimba-three-others-committed-to-the-high-court-for-terrorism-related-charges/?utm_source=rss&utm_medium=rss&utm_campaign=zumani-zimba-three-others-committed-to-the-high-court-for-terrorism-related-charges
      title: "Zumani Zimba, three others committed to the High Court for terrorism related charges"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fire-association-calls-for-modern-fire-service-training-schools/
      title: "Fire Association calls for modern fire service training schools"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fra-starts-paying-farmers-2/
      title: "FRA starts paying farmers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/erb-explains-fuel-stock-outs/
      title: "ERB explains fuel stock outs"
---
