---
title: "Friday, August 25th, 2023"
description: This is the sixtieth episode of the podcast.
tags: episode
episode: "060"
date: 2023-08-25T16:55:06.772004+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-08-25_podcast_dist.mp3
    length: 6 minutes, 55 seconds
    size: 6.36 MB
rss:
    enclosure_length: 6674026
    itunes_duration: 06:55
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 2 minutes, 49 seconds
words:
    count: 992
    rate: 143 words per minute
references:
    count: 14
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/25/koffie-confident-of-sinking-power/
      title: "Koffie confident of sinking Power"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/25/pf-managed-cost-of-living-we-tried-to-make-zambians-happy-gbm/
      title: "PF managed cost of living, we tried to make Zambians happy – GBM"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/25/govt-hails-avics-speedy-quality-works-on-chingola-kasumbalesa-road/
      title: "Govt hails AVIC’s “speedy, quality” works on Chingola-Kasumbalesa road"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/25/kwacha-fluctuations-may-continue-until-mining-sector-issues-are-resolved-fundanga/
      title: "Kwacha fluctuations may continue until mining sector issues are resolved – Fundanga"
    - source: Mwebantu
      url: https://www.mwebantu.com/copper-queens-global-rating-improves/?utm_source=rss&utm_medium=rss&utm_campaign=copper-queens-global-rating-improves
      title: "Copper Queens’ global rating improves"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/25/govt-will-advertise-tender-for-stadia-refurbishment-nkandu/
      title: "Govt will advertise tender for stadia refurbishment – Nkandu"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/25/i-hope-to-score-against-mweene-says-gyan-in-african-legends-presser/
      title: "I hope to score against Mweene, says Gyan in African legends presser"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/foreign-nationals-in-gold-scam-are-safe-dec/
      title: "Foreign nationals in gold scam are safe – DEC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/niger-to-allow-in-other-junta-troops-if-attacked/
      title: "Niger to allow in other junta troops if attacked"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/25/engage-us-if-aggrieved-by-property-seizures-dec/
      title: "Engage us if aggrieved by property seizures – DEC"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/25/hh-rightly-fired-you-concourt-tells-sikazwe/
      title: "HH rightly fired you, ConCourt tells Sikazwe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kigali-warns-rwandan-catholics-over-cult-like-rituals/
      title: "Kigali warns Rwandan Catholics over ‘cult-like’ rituals"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/25/grant-names-27-man-provisional-squad-for-final-afcon-qualifier/
      title: "Grant names 27-man provisional squad for final AFCON qualifier"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-mother-traumatised-and-bedridden-after-husband-sexually-abuse-daughter/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-mother-traumatised-and-bedridden-after-husband-sexually-abuse-daughter
      title: "Lusaka mother traumatised and bedridden after husband sexually abuse daughter"
---
