---
title: "Friday, August 11th, 2023"
description: This is the fifty-first episode of the podcast.
tags: episode
episode: "051"
date: 2023-08-11T16:56:44.348375+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-08-11_podcast_dist.mp3
    length: 11 minutes, 19 seconds
    size: 10.39 MB
rss:
    enclosure_length: 10894578
    itunes_duration: 11:19
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 26 seconds
words:
    count: 1,619
    rate: 143 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/11/i-agreed-to-be-mmembes-surety-because-he-cant-run-away-miles/
      title: "I agreed to be M’membe’s surety because he can’t run away – Miles"
    - source: Mwebantu
      url: https://www.mwebantu.com/let-us-add-value-to-exploited-minerals-within-the-country-president-hichilema-implores-japan/?utm_source=rss&utm_medium=rss&utm_campaign=let-us-add-value-to-exploited-minerals-within-the-country-president-hichilema-implores-japan
      title: "Let us add value to exploited minerals within the country, President Hichilema implores Japan"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/11/even-a-g2-knows-k28m-cdf-does-more-things-than-k1-6m-gary-responds-to-kalaba/
      title: "Even a G2 knows K28m CDF does more things than K1.6m, Gary responds to Kalaba"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/08/11/hh-is-not-the-worst-dictator-but-he-can-certainly-do-better/
      title: "HH is not “the worst dictator”, but he can certainly do better"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/11/govt-warns-against-selling-of-cdf-application-forms/
      title: "Govt warns against selling of CDF application forms"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/matambo-calls-for-increases-security-at-markets/
      title: "Matambo Calls for Increases Security at Markets"
    - source: Mwebantu
      url: https://www.mwebantu.com/an-at-least-five-year-jail-term-awaits-the-brutal-step-mum-accused-of-torturing-her-four-year-old-son/?utm_source=rss&utm_medium=rss&utm_campaign=an-at-least-five-year-jail-term-awaits-the-brutal-step-mum-accused-of-torturing-her-four-year-old-son
      title: "A five year jail term awaits the brutal ‘step mum’ accused of torturing her four-year-old ‘son’."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mother-nabbed-for-assaulting-stepson/
      title: "Mother Nabbed for Assaulting Stepson"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/11/cbu-students-slapped-with-k500-penalty-fee/
      title: "CBU students slapped with K500 penalty fee"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/11/jailed-ex-zampost-bosses-ask-high-court-to-acquit-them/
      title: "Jailed ex-ZAMPOST bosses ask High Court to acquit them"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/japan-falls-to-sweden/
      title: "Japan Falls to Sweden"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/11/trial-in-corruption-case-involving-ex-high-court-judge-moved-to-oct/
      title: "Trial in corruption case involving ex-High Court Judge moved to Oct"
    - source: Mwebantu
      url: https://www.mwebantu.com/true-love-isoka-man-caught-writing-mathematics-exam-for-his-wife/?utm_source=rss&utm_medium=rss&utm_campaign=true-love-isoka-man-caught-writing-mathematics-exam-for-his-wife
      title: "‘TRUE LOVE’: Isoka man caught writing mathematics exam for his wife"
    - source: Mwebantu
      url: https://www.mwebantu.com/buildcon-fc-in-trouble/?utm_source=rss&utm_medium=rss&utm_campaign=buildcon-fc-in-trouble
      title: "Buildcon FC in trouble"
    - source: Mwebantu
      url: https://www.mwebantu.com/lufwanyama-father-arrested-for-allegedly-sexually-abusing-six-year-old-daughter-while-in-a-drunken-state/?utm_source=rss&utm_medium=rss&utm_campaign=lufwanyama-father-arrested-for-allegedly-sexually-abusing-six-year-old-daughter-while-in-a-drunken-state
      title: "Lufwanyama father arrested for allegedly sexually abusing six-year-old daughter while in a drunken state."
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/11/well-summon-zicta-to-get-details-on-why-beeline-isnt-yet-operational-ps/
      title: "We’ll summon ZICTA to get details on why Beeline isn’t yet operational – PS"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/some-retired-teachers-told-to-leave-staff-houses/
      title: "Some Retired Teachers Told to leave Staff Houses"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/police-launch-manhunt-for-murderers/
      title: "Police Launch Manhunt for Murderers"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/11/court-views-16-mukula-laden-containers-in-mongu/
      title: "Court views 16 Mukula-laden containers in Mongu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/english-premier-league-resumes/
      title: "English Premier League Resumes"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/11/were-better-than-upnd-its-very-easy-for-zambians-to-re-elect-us-pf/
      title: "We’re better than UPND, it’s very easy for Zambians to re-elect us – PF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/new-hiv-infections-high-among-15-35-year-olds/
      title: "New HIV Infections high among 15-35 Year-Olds"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/11-japanese-firms-in-zambia-to-explore-investment-opportunities/
      title: "11 Japanese Firms In Zambia to Explore Investment Opportunities"
---
