---
title: "Wednesday, June 7th, 2023"
description: This is the fifth episode of the podcast.
tags: episode
episode: "005"
date: 2023-06-07T17:01:51.562286+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-06-07_podcast_dist.mp3
    length: 12 minutes, 33 seconds
    size: 11.53 MB
rss:
    enclosure_length: 12087015
    itunes_duration: 12:33
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 26 seconds
words:
    count: 1,796
    rate: 143 words per minute
references:
    count: 26
    sources: 3
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hockey-womens-team-fails-to-secure-tickets-oman-trip/
      title: "HOCKEY WOMENS TEAM FAILS TO SECURE TICKETS FOR OMAN TRIP"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/07/speaker-is-impartial-changalas-complaint-misplaced-zambezi-west-mp/
      title: "Speaker is impartial, Changala’s complaint misplaced – Zambezi West MP"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/07/after-2027-people-will-ask-why-decentralisation-wasnt-implemented-earlier-hamaundu/
      title: "After 2027, people will ask why decentralisation wasn’t implemented earlier – Hamaundu"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/07/zambia-draws-morocco-kenya-at-african-beach-handball-games/
      title: "Zambia draws Morocco, Kenya at African Beach Handball Games"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/07/zambia-needs-better-playing-surfaces-grant/
      title: "Zambia needs better playing surfaces – Grant"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/06/07/diary-of-a-35-year-old-retiree-episode-17/
      title: "Diary of a 35 year old retiree (Episode 17)"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/07/katangas-expenditure-was-beyond-her-income-witness/
      title: "Katanga’s expenditure was beyond her income – Witness"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/07/weve-learnt-that-even-champions-taste-failure-zesco-utd-chief/
      title: "We’ve learnt that even champions taste failure – Zesco Utd Chief"
    - source: Mwebantu
      url: https://www.mwebantu.com/three-year-old-defiled-by-a-mentally-challenged-person-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=three-year-old-defiled-by-a-mentally-challenged-person-police-say
      title: "Three-year-old defiled by a mentally challenged person, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fifa-to-handover-chipatas-dk-stadium-to-faz/
      title: "FIFA TO HANDOVER CHIPATA’S DK STADIUM TO FAZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chilubi-fails-to-submit-cdf-proposals-for-2023/
      title: "CHILUBI FAILS TO SUBMIT CDF PROPOSALS FOR 2023"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-gives-starlink-license/
      title: "GOVT GIVES STARLINK LICENSE"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-makes-progress-in-decentralization-and-housing-policies/
      title: "“GOVT MAKES PROGRESS IN DECENTRALIZATION AND HOUSING POLICIES”"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/07/lusambo-on-10-days-bed-rest-court-hears/
      title: "Lusambo on 10 days bed rest, court hears"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-suspected-criminals-shot-dead/?utm_source=rss&utm_medium=rss&utm_campaign=two-suspected-criminals-shot-dead
      title: "Two suspected criminals shot dead"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fustal-team-trip-to-croatia-aborted/
      title: "FUSTAL TEAM TRIP TO CROATIA ABORTED"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/top-south-african-investigator-into-rapists-escape-dies/
      title: "Top South African investigator into rapist’s escape dies"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rda-releases-k5m-for-bridge-repairs-in-itezhi-tezhi/
      title: "RDA RELEASES K5M FOR BRIDGE REPAIRS IN ITEZHI-TEZHI"
    - source: News Diggers!
      url: https://diggers.news/business/2023/06/07/upnd-has-good-policies-but-their-success-is-dependent-on-peoples-output-sacika/
      title: "UPND has good policies but their success is dependent on people’s output – Sacika"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-prioritizes-rehab-of-airports/
      title: "GOVT PRIORITIZES REHAB OF AIRPORTS"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/07/cash-given-out-to-marketeers-along-tokyo-way-is-transparent-money-mweetwa/
      title: "Cash given out to marketeers along Tokyo Way is transparent money – Mweetwa"
    - source: Mwebantu
      url: https://www.mwebantu.com/a-zambia-national-parks-and-wildlife-authority-village-scout-dies-after-accidentally-shooting-himself/?utm_source=rss&utm_medium=rss&utm_campaign=a-zambia-national-parks-and-wildlife-authority-village-scout-dies-after-accidentally-shooting-himself
      title: "A Zambia National Parks and Wildlife Authority  Village Scout dies after accidentally shooting himself"
    - source: Mwebantu
      url: https://www.mwebantu.com/eighteen-year-old-commits-suicide-after-mental-breakdown/?utm_source=rss&utm_medium=rss&utm_campaign=eighteen-year-old-commits-suicide-after-mental-breakdown
      title: "Eighteen-year-old commits suicide after mental breakdown"
    - source: Mwebantu
      url: https://www.mwebantu.com/flu-knocks-down-bull-dozzer/?utm_source=rss&utm_medium=rss&utm_campaign=flu-knocks-down-bull-dozzer
      title: "Flu knocks down Bull Dozzer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mc-wabwino-goes-into-acting/
      title: "MC WABWINO GOES INTO ACTING"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/patsonfrankie-lameck-jet-into-camp/
      title: "PATSON,FRANKIE, LAMECK JET INTO CAMP"
---
