---
title: "Monday, November 20th, 2023"
description: This is the one hundred and eighteenth episode of the podcast.
tags: episode
episode: "118"
date: 2023-11-20T17:01:40.160874+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-11-20_podcast_dist.mp3
    length: 5 minutes, 58 seconds
    size: 5.49 MB
rss:
    enclosure_length: 5760788
    itunes_duration: 05:58
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 26 seconds
words:
    count: 827
    rate: 139 words per minute
references:
    count: 10
    sources: 1
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-eyes-compact-with-africa-initiative/
      title: "Zambia eyes Compact With Africa Initiative"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/far-right-outsider-javier-milei-wins-argentina-presidential-run-off-election/
      title: "Far-right outsider Javier Milei wins Argentina presidential run-off election"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/body-builders-flex-muscles-for-mr-kabwata/
      title: "Body builders flex muscles for Mr. Kabwata"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipolopolo-step-up-niger-preps/
      title: "Chipolopolo step up Niger preps"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/africa-cdc-calls-for-enhanced-surveillance-of-antimicrobial-resistance/
      title: "Africa CDC calls for enhanced surveillance of antimicrobial resistance"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/eastern-anthrax-vaccination-drive-gains-momentum/
      title: "Eastern anthrax vaccination drive gains momentum"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipolopolo-world-cup-qualifier-against-niger-on-znbc-tv/
      title: "Chipolopolo world cup qualifier against Niger on ZNBC TV"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-releases-k1-3-billion-cdf/
      title: "Govt releases K1.3 billion CDF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/work-with-hh-chief-lubunda/
      title: "Work with HH-Chief Lubunda"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/information-technology-has-potential-to-create-jobs-and-wealth-icaz/
      title: "Information Technology has potential to create jobs and wealth-ICAZ"
---
