---
title: "Tuesday, July 4th, 2023"
description: This is the twenty-fourth episode of the podcast.
tags: episode
episode: "024"
date: 2023-07-04T17:07:57.141524+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-07-04_podcast_dist.mp3
    length: 19 minutes, 51 seconds
    size: 18.21 MB
rss:
    enclosure_length: 19098696
    itunes_duration: 19:51
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 15 minutes, 40 seconds
words:
    count: 2,830
    rate: 143 words per minute
references:
    count: 41
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/copper-earnings-grow-by-10/?utm_source=rss&utm_medium=rss&utm_campaign=copper-earnings-grow-by-10
      title: "Copper earnings grow by 10%"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/04/helping-abduction-victims-doesnt-have-to-involve-court-haimbe/
      title: "Helping abduction victims doesn’t have to involve court – Haimbe"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/duties-of-deceased-estates-administrators/?utm_source=rss&utm_medium=rss&utm_campaign=duties-of-deceased-estates-administrators
      title: "Duties of deceased estates administrators"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/fic-calls-for-dialogue-to-fight-fintech-fraud/?utm_source=rss&utm_medium=rss&utm_campaign=fic-calls-for-dialogue-to-fight-fintech-fraud
      title: "FIC calls for dialogue to fight fintech fraud"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/cosafa-champions-off-to-defend-crown/?utm_source=rss&utm_medium=rss&utm_campaign=cosafa-champions-off-to-defend-crown
      title: "COSAFA champions off to defend crown"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/04/chipolopolo-looking-forward-to-defending-cosafa-cup-title-sichone/
      title: "Chipolopolo looking forward to defending Cosafa Cup title – Sichone"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/04/police-ask-nabbed-pf-members-about-lungus-money-claims-nakacinda/
      title: "Police ask nabbed PF members about Lungu’s money, claims Nakacinda"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/milupi-sells-zambia-at-africa-china-expo/?utm_source=rss&utm_medium=rss&utm_campaign=milupi-sells-zambia-at-africa-china-expo
      title: "Milupi sells Zambia at Africa-China expo"
    - source: Mwebantu
      url: https://www.mwebantu.com/ecls-children-cry-stop-trying-us-in-the-media/?utm_source=rss&utm_medium=rss&utm_campaign=ecls-children-cry-stop-trying-us-in-the-media
      title: "ECL’s children cry, stop trying us in the media"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/04/govt-embarrassed-to-admit-theres-no-basis-for-deregistering-pf-chama/
      title: "Govt embarrassed to admit there’s no basis for deregistering PF – Chama"
    - source: Mwebantu
      url: https://www.mwebantu.com/ambassador-chibamba-kanyama-presents-his-letter-of-credence-to-us-president-joe-biden/?utm_source=rss&utm_medium=rss&utm_campaign=ambassador-chibamba-kanyama-presents-his-letter-of-credence-to-us-president-joe-biden
      title: "Ambassador Chibamba Kanyama presents his Letter of Credence to US President Joe Biden"
    - source: Mwebantu
      url: https://www.mwebantu.com/93-year-old-woman-dies-after-being-hit-by-a-motor-vehicle-while-seated-outside-her-house-in-shantumbu-area/?utm_source=rss&utm_medium=rss&utm_campaign=93-year-old-woman-dies-after-being-hit-by-a-motor-vehicle-while-seated-outside-her-house-in-shantumbu-area
      title: "93 year old woman dies after being hit by a motor vehicle while seated outside her house in Shantumbu area"
    - source: Mwebantu
      url: https://www.mwebantu.com/alleged-wife-killer-nabbed-on-likili-bus-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=alleged-wife-killer-nabbed-on-likili-bus-police-say
      title: "Alleged wife killer nabbed on Likili bus, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/munir-in-more-trouble-because-of-kaizer/?utm_source=rss&utm_medium=rss&utm_campaign=munir-in-more-trouble-because-of-kaizer
      title: "Munir in more trouble because of Kaizer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-in-angola/
      title: "HH IN ANGOLA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-challenges-private-health-facilities/
      title: "GOVT CHALLENGES PRIVATE HEALTH FACILITIES"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/baby-burns-to-death-in-house-fire/
      title: "BABY BURNS TO DEATH IN HOUSE FIRE"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chief-chanje-asks-leaders-to-promote-unity/
      title: "CHIEF CHANJE ASKS LEADERS TO PROMOTE UNITY"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rugby-zambia-on-verge-of-olympic-qualification/
      title: "RUGBY: ZAMBIA ON VERGE OF OLYMPIC QUALIFICATION"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/women-7s-team-assured-of-state-support/?utm_source=rss&utm_medium=rss&utm_campaign=women-7s-team-assured-of-state-support
      title: "Women 7s team assured of State support"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/zambia-kenya-tourism-ties-welcome/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-kenya-tourism-ties-welcome
      title: "Zambia, Kenya tourism ties welcome"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/mwape-unveils-23-for-world-cup/?utm_source=rss&utm_medium=rss&utm_campaign=mwape-unveils-23-for-world-cup
      title: "Mwape unveils 23 for World Cup"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/king-mswati-mukuni-confer-privately-in-livingstone/?utm_source=rss&utm_medium=rss&utm_campaign=king-mswati-mukuni-confer-privately-in-livingstone
      title: "King Mswati, Mukuni confer privately in Livingstone"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/04/kamanga-urges-caf-envoys-to-invest-in-training/
      title: "Kamanga urges CAF envoys to invest in training"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/04/it-was-heartening-to-confer-with-fifa-president-kamanga/
      title: "It was heartening to confer with FIFA president – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/04/prisca-demands-reduction-of-backlog-for-persons-awaiting-trial/
      title: "PRISCA demands reduction of backlog for persons awaiting trial"
    - source: Mwebantu
      url: https://www.mwebantu.com/boy-4-found-dead-and-partially-burnt-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=boy-4-found-dead-and-partially-burnt-police-say
      title: "Boy 4, found dead and partially burnt, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-leaves-for-angola/?utm_source=rss&utm_medium=rss&utm_campaign=president-hakainde-hichilema-leaves-for-angola
      title: "President Hakainde Hichilema leaves for Angola"
    - source: Mwebantu
      url: https://www.mwebantu.com/three-arrested-for-possession-of-sugilite-mineral-ore-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=three-arrested-for-possession-of-sugilite-mineral-ore-police-say
      title: "Three arrested for possession of sugilite mineral ore, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zamssa-starts-distribution-of-health-kits/
      title: "ZAMSSA STARTS DISTRIBUTION OF HEALTH KITS"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambiakenya-form-jic-on-tourism-development/
      title: "ZAMBIA,KENYA FORM JIC ON TOURISM DEVELOPMENT"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambiaangoladrc-handover-concession-of-lobito-corridor/
      title: "ZAMBIA,ANGOLA,DRC HANDOVER CONCESSION OF LOBITO CORRIDOR"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/banda-calls-for-cdf-sensitization/
      title: "BANDA CALLS FOR CDF SENSITIZATION"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/07/04/savenda-discontinues-matter-challenging-restriction-of-its-account/
      title: "Savenda discontinues matter challenging restriction of its account"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/04/mwape-laments-dropping-players-as-he-names-final-world-cup-squad/
      title: "Mwape laments dropping players as he names final World Cup squad"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zulu-king-denies-being-poisoned/
      title: "ZULU KING DENIES BEING POISONED"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-can-win-afcon-chamanga/
      title: "ZAMBIA CAN WIN AFCON -CHAMANGA"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/wheres-chilangwa/?utm_source=rss&utm_medium=rss&utm_campaign=wheres-chilangwa
      title: "Where’s Chilangwa?"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/07/04/state-opposes-unilus-plea-for-summary-possession-of-mwanawasas-retirement-house/
      title: "State opposes UNILUS’ plea for summary possession of Mwanawasa’s retirement house"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-die-in-road-accident-in-mwense-luapula-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=two-die-in-road-accident-in-mwense-luapula-police-say
      title: "Two die in road accident in Mwense, Luapula, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tasila-says-family-being-demonized/
      title: "TASILA SAYS FAMILY BEING DEMONIZED"
---
