---
title: "Wednesday, July 26th, 2023"
description: This is the thirty-ninth episode of the podcast.
tags: episode
episode: "039"
date: 2023-07-26T16:57:21.169195+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-07-26_podcast_dist.mp3
    length: 14 minutes, 2 seconds
    size: 12.89 MB
rss:
    enclosure_length: 13514765
    itunes_duration: 14:02
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 4 seconds
words:
    count: 2,010
    rate: 143 words per minute
references:
    count: 30
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2023/07/26/2-in-court-for-aggravated-robbery-rape-and-personation/
      title: "2 in court for aggravated robbery, rape and personation"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/26/theres-no-healthcare-to-talk-about-in-w-province-its-saddening-masebo/
      title: "There’s no healthcare to talk about in W/Province, it’s saddening – Masebo"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/26/zambia-7s-mens-drawn-against-rivals-nigeria/
      title: "Zambia’ 7’s mens drawn against rivals Nigeria"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/26/germany-provides-zambia-with-k750m-grant/
      title: "Germany provides Zambia with K750m grant"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/26/drawing-african-stars-is-fair-chipepo/
      title: "Drawing African Stars is fair – Chipepo"
    - source: Mwebantu
      url: https://www.mwebantu.com/power-muza-know-their-caf-opponents/?utm_source=rss&utm_medium=rss&utm_campaign=power-muza-know-their-caf-opponents
      title: "Power, MUZA know their CAF opponents"
    - source: Mwebantu
      url: https://www.mwebantu.com/new-boots-same-shame-zambia-booted-out-of-the-world-cup/?utm_source=rss&utm_medium=rss&utm_campaign=new-boots-same-shame-zambia-booted-out-of-the-world-cup
      title: "New boots, same shame; Zambia booted out of the World Cup"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-govt-takes-immense-pride-in-copper-queens/
      title: "HH : Govt Takes Immense pride in Copper Queens"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/new-malaria-vaccine-gets-green-light-in-burkina-faso/
      title: "New malaria vaccine gets green light in Burkina Faso"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/1403-mulungushi-university-students-get-loans/
      title: "1,403 Mulungushi University Students Get Loans"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/namibia-drug-enforcements-officials-in-zambia/
      title: "Namibian Drug Enforcements Officials In Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/environmentally-friendly-cooking-equipment-to-fight-deforestation/
      title: "Environmentally Friendly Cooking Equipment To Fight Deforestation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/copper-queens-knockout-of-world-cup/
      title: "Copper Queens Out of World Cup"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/26/weve-granted-7-power-purchase-agreements-in-the-first-half-of-2023-erb/
      title: "We’ve granted 7 power purchase agreements in the first half of 2023 – ERB"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fra-pays-out-k595m/
      title: "FRA Pays Out K595m"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/07/26/51-houses-owners-appeal-against-3-year-sentence/
      title: "51 houses ‘owners’ appeal against 3-year sentence"
    - source: Mwebantu
      url: https://www.mwebantu.com/the-manchester-city-way-1xbet-shares-the-success-story-of-europes-best-team/?utm_source=rss&utm_medium=rss&utm_campaign=the-manchester-city-way-1xbet-shares-the-success-story-of-europes-best-team
      title: "The Manchester City way: 1xBet shares the success story of Europe’s best team"
    - source: Mwebantu
      url: https://www.mwebantu.com/our-girls-need-exposure-copper-queens-get-presidential-encouragement/?utm_source=rss&utm_medium=rss&utm_campaign=our-girls-need-exposure-copper-queens-get-presidential-encouragement
      title: "‘Our girls need exposure’ Copper Queens get presidential encouragement"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/26/government-secures-alternative-boots-for-copper-queens/
      title: "Government secures alternative boots for Copper Queens"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rabies-breaks-out-in-kafue/
      title: "Rabies Breaks out in Kafue"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ministry-of-sports-znbc-sign-mou/
      title: "Ministry of Sports, ZNBC Sign MOU"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zns-buys-33-earth-moving-equipment/
      title: "ZNS Buys 33 Earth Moving Equipment"
    - source: Mwebantu
      url: https://www.mwebantu.com/courier-fraud-alert-dont-be-scammed-warns-zra/?utm_source=rss&utm_medium=rss&utm_campaign=courier-fraud-alert-dont-be-scammed-warns-zra
      title: "Courier fraud alert! Dont be scammed warns ZRA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-leading-example-in-empowerment-of-girlswomen/
      title: "“Zambia leading Example in Empowerment of Girls,Women”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/changes-made-to-the-cjoc-chairmanship/
      title: "Changes Made to the CJOC Chairmanship"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/26/sonangol-oil-refinery-project-will-reduce-fuel-prices-kapala/
      title: "Sonangol Oil Refinery Project will reduce fuel prices – Kapala"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/26/i-cant-blame-those-pushing-for-lungus-comeback-a-lot-of-people-love-him-kafwaya/
      title: "I can’t blame those pushing for Lungu’s comeback, a lot of people love him – Kafwaya"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-fake-police-officers-attack-rape-and-steal-cash-from-student-unconscious/?utm_source=rss&utm_medium=rss&utm_campaign=two-fake-police-officers-attack-rape-and-steal-cash-from-student-unconscious
      title: "Two fake police officers attack, rape and steal cash from student unconscious"
    - source: Mwebantu
      url: https://www.mwebantu.com/5-year-old-brings-grenade-to-school-it-detonates-injures-two-fellow-pupils-aged-five-and-nine/?utm_source=rss&utm_medium=rss&utm_campaign=5-year-old-brings-grenade-to-school-it-detonates-injures-two-fellow-pupils-aged-five-and-nine
      title: "5-year-old brings grenade to school, it detonates, injures two fellow pupils aged five and nine"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kevin-spacey-found-not-guilty-in-sex-offences-trial/
      title: "Kevin Spacey found not guilty in sex offences trial"
---
