---
title: "Monday, November 13th, 2023"
description: This is the one hundred and thirteenth episode of the podcast.
tags: episode
episode: "113"
date: 2023-11-13T16:56:00.462957+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-11-13_podcast_dist.mp3
    length: 12 minutes, 3 seconds
    size: 11.07 MB
rss:
    enclosure_length: 11610545
    itunes_duration: 12:03
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 45 seconds
words:
    count: 1,731
    rate: 144 words per minute
references:
    count: 24
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/11/13/netball-zambia-scouts-seeks-funds-to-participate-at-africa-cup/
      title: "Netball Zambia seeks funds to participate at Africa Cup"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/13/well-ensure-mundubile-gets-back-leader-of-opposition-role-chisanga/
      title: "We’ll ensure Mundubile gets back leader of opposition role – Chisanga"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/11/13/zindaba-2-others-deny-forgery-charges/
      title: "Zindaba, 2 others deny forgery charges"
    - source: News Diggers!
      url: https://diggers.news/business/2023/11/13/zicb-highlights-its-5yr-economic-impact/
      title: "ZICB highlights its 5yr economic impact"
    - source: Mwebantu
      url: https://www.mwebantu.com/gold-scam-case-fails-to-take-off-dpp-yet-to-issue-consent/?utm_source=rss&utm_medium=rss&utm_campaign=gold-scam-case-fails-to-take-off-dpp-yet-to-issue-consent
      title: "‘Gold scam’ case fails to take off, DPP yet to issue consent"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-pushed-chikondi-and-he-landed-on-a-stone-and-stopped-breathing/?utm_source=rss&utm_medium=rss&utm_campaign=i-pushed-chikondi-and-he-landed-on-a-stone-and-stopped-breathing
      title: "“I pushed Chikondi and he landed on a stone and stopped breathing”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/epileptic-patient-drowns-following-an-attack/
      title: "Epileptic patient drowns following an attack"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/stakeholders-welcome-cancellation-of-mining-operations-in-lower-zambezi-national-park/
      title: "Stakeholders welcome cancellation of mining operations in Lower Zambezi National Park"
    - source: Mwebantu
      url: https://www.mwebantu.com/nalis-rehab-to-continue-in-zambia/?utm_source=rss&utm_medium=rss&utm_campaign=nalis-rehab-to-continue-in-zambia
      title: "Nali’s rehab to continue in Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/napsa-dg-challenges-media/
      title: "NAPSA DG challenges media"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/11/13/winning-opener-wont-guarantee-world-cup-qualification-grant/
      title: "Winning opener won’t guarantee World Cup qualification – Grant"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/13/kbn-tv-honours-17-with-leadership-excellence-awards/
      title: "KBN TV honours 17 with Leadership Excellence Awards"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-justifies-increase-in-minimum-wages/
      title: "Govt justifies increase in minimum wages"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-has-abundant-football-talent-nkandu/
      title: "Zambia has abundant football talent – NKANDU"
    - source: News Diggers!
      url: https://diggers.news/business/2023/11/13/ncc-halts-construction-works-at-carousel-mall-fines-contractor-k150000/
      title: "NCC halts construction works at Carousel Mall, fines contractor K150,000"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-aprehends-suspected-mentally-retarded-man-for-defiling-an-imbecile/?utm_source=rss&utm_medium=rss&utm_campaign=police-aprehends-suspected-mentally-retarded-man-for-defiling-an-imbecile
      title: "Police apprehends suspected mentally retarded man for defiling an imbecile"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/11/13/so-we-are-still-buying-defective-drugs/
      title: "So we are still buying defective drugs?"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/11/13/power-adds-to-nkanas-misery-with-2-0-win/
      title: "Power adds to Nkana’s misery with 2-0 win"
    - source: Mwebantu
      url: https://www.mwebantu.com/ex-rtsa-boss-denies-forging-dead-mans-nrc/?utm_source=rss&utm_medium=rss&utm_campaign=ex-rtsa-boss-denies-forging-dead-mans-nrc
      title: "Ex RTSA boss denies forging dead man’s NRC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ngocc-offers-solidarity-to-speaker-of-the-national-assembly/
      title: "NGOCC offers solidarity to Speaker of the National Assembly"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/13/only-radiotherapy-services-wont-be-provided-while-cdh-is-being-revamped-masebo/
      title: "Only radiotherapy services won’t be provided while CDH is being revamped – Masebo"
    - source: Mwebantu
      url: https://www.mwebantu.com/faz-eyes-third-straight-copper-queens-afcon-qualification/?utm_source=rss&utm_medium=rss&utm_campaign=faz-eyes-third-straight-copper-queens-afcon-qualification
      title: "FAZ eyes third straight Copper Queens AfCON qualification"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lightning-fires-threaten-planet-cooling-forests/
      title: "Lightning fires threaten planet-cooling forests"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kenyans-get-tree-planting-holiday-to-plant-100-million-seedlings/
      title: "Kenyans get tree-planting holiday to plant 100 million seedlings"
---
