---
title: "Tuesday, November 7th, 2023"
description: This is the one hundred and ninth episode of the podcast.
tags: episode
episode: "109"
date: 2023-11-07T16:56:11.379772+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-11-07_podcast_dist.mp3
    length: 13 minutes, 8 seconds
    size: 12.06 MB
rss:
    enclosure_length: 12642068
    itunes_duration: 13:08
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 57 seconds
words:
    count: 1,856
    rate: 141 words per minute
references:
    count: 25
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/11/07/a-fruitless-effort-to-defend-the-fuel-supply-scandal-part-2/
      title: "A fruitless effort to defend the fuel supply scandal: Part 2"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/11/07/uncertainty-remains-over-zambias-home-venue-for-world-cup-qualifiers/
      title: "FAZ gets greenlight to host Congo Brazzaville at Levy Mwanawasa"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/07/govt-calls-for-speedy-implementation-of-signed-agreements-between-zambia-and-turkey/
      title: "Govt calls for speedy implementation of signed agreements between Zambia and Turkey"
    - source: News Diggers!
      url: https://diggers.news/business/2023/11/07/boz-increases-reserve-ratio-by-3-to-control-inflation/
      title: "BoZ increases reserve ratio by 3% to control inflation"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/07/unza-management-rubbishes-abuse-of-resources-claims-by-unzalaru/
      title: "UNZA management rubbishes abuse of resources claims by UNZALARU"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/dec-seizes-bank-accounts-with-k19-5m/
      title: "DEC seizes bank accounts with K19.5m"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/07/govt-announces-k1300-minimum-wage-for-domestic-workers/
      title: "Govt announces K1,300 minimum wage for domestic workers"
    - source: Mwebantu
      url: https://www.mwebantu.com/acc-expands-its-anti-corruption-efforts-to-muchinga-province-as-new-office-to-open/?utm_source=rss&utm_medium=rss&utm_campaign=acc-expands-its-anti-corruption-efforts-to-muchinga-province-as-new-office-to-open
      title: "ACC expands its Anti-Corruption efforts to Muchinga Province as new office to open"
    - source: Mwebantu
      url: https://www.mwebantu.com/kitwe-man-arrested-for-having-sex-with-a-dog/?utm_source=rss&utm_medium=rss&utm_campaign=kitwe-man-arrested-for-having-sex-with-a-dog
      title: "Kitwe man arrested for having sex with a dog"
    - source: Mwebantu
      url: https://www.mwebantu.com/17-suspects-escape-from-lawful-custody-at-kabwe-central-station-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=17-suspects-escape-from-lawful-custody-at-kabwe-central-station-police-say
      title: "17 suspects escape from lawful custody at Kabwe Central Station, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/minimum-wages-for-domestic-workers-increased/?utm_source=rss&utm_medium=rss&utm_campaign=minimum-wages-for-domestic-workers-increased
      title: "Minimum wages for domestic workers increased"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chief-justice-tips-lawyers-judges/
      title: "Chief Justice tips Lawyers, Judges"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kawana-dismisses-chellah-tukutas-claims/
      title: "KAWANA dismisses CHELLAH TUKUTA’s claims"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ukraine-war-grenade-birthday-gift-kills-army-chief-zaluzhnys-aide/
      title: "Ukraine war: Grenade birthday gift kills army chief Zaluzhny’s aide"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/11/07/the-fall-of-the-kwacha/
      title: "The Fall of the Kwacha"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/11/07/nkana-players-have-no-winning-mentality-bakala/
      title: "Nkana players have no winning mentality – Bakala"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/11/07/stop-investigating-matter-in-court-magistrate-tells-acc-in-hibeene-case/
      title: "Stop investigating matter in court, Magistrate tells ACC in Hibeene case"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/07/trade-kings-contributes-k200000-towards-manufacturers-month/
      title: "Trade Kings contributes K200,000 towards Manufacturers’ Month"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/south-korea-reports-bedbug-infestation/
      title: "South Korea reports bedbug infestation"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-officer-allegedly-commits-suicide-following-a-marital-dispute-with-his-wife-over-her-infidelity/?utm_source=rss&utm_medium=rss&utm_campaign=police-officer-allegedly-commits-suicide-following-a-marital-dispute-with-his-wife-over-her-infidelity
      title: "Police officer allegedly commits suicide following a marital dispute with his wife over her infidelity"
    - source: Mwebantu
      url: https://www.mwebantu.com/receptionist-narrates-in-murder-case-of-indian-who-was-strangled-to-death/?utm_source=rss&utm_medium=rss&utm_campaign=receptionist-narrates-in-murder-case-of-indian-who-was-strangled-to-death
      title: "Receptionist narrates in murder case of Indian who was strangled to death"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cidrz-employee-kills-workmate-steals-19-laptops-sets-offices-on-fire/
      title: "CIDRZ employee kills workmate, steals 19 laptops & sets offices on fire"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-detain-a-cidrz-employee-for-the-death-of-his-colleague-theft-and-arson/?utm_source=rss&utm_medium=rss&utm_campaign=police-detain-a-cidrz-employee-for-the-death-of-his-colleague-theft-and-arson
      title: "Police detain a CIDRZ employee for the death of his colleague, theft and arson"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lack-of-integrity-main-challenge-in-civil-service-kangwa/
      title: "Lack of integrity, main challenge in civil service – KANGWA"
    - source: Mwebantu
      url: https://www.mwebantu.com/three-men-nabbed-for-gang-raping-a-woman/?utm_source=rss&utm_medium=rss&utm_campaign=three-men-nabbed-for-gang-raping-a-woman
      title: "Three men nabbed for gang raping a woman"
---
