---
title: "Friday, September 29th, 2023"
description: This is the eighty-third episode of the podcast.
tags: episode
episode: "083"
date: 2023-09-29T16:55:48.523054+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-09-29_podcast_dist.mp3
    length: 9 minutes, 55 seconds
    size: 9.12 MB
rss:
    enclosure_length: 9563799
    itunes_duration: 09:55
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 15 seconds
words:
    count: 1,396
    rate: 141 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/29/ex-high-court-judge-withdraws-case-against-state/
      title: "Ex-High Court judge withdraws case against state"
    - source: Mwebantu
      url: https://www.mwebantu.com/13th-lusaka-motor-show-unveils-official-partner-castrol-confirms-75-brands-exhibiting/?utm_source=rss&utm_medium=rss&utm_campaign=13th-lusaka-motor-show-unveils-official-partner-castrol-confirms-75-brands-exhibiting
      title: "13th Lusaka Motor Show Unveils Official Partner Castrol & Confirms 75+ Brands Exhibiting!"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/29/kampyongo-consoles-dismissed-chushi/
      title: "Kampyongo consoles dismissed Chushi"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/29/police-nab-2-over-counterfeit-fertiliser/
      title: "Police nab 2 over counterfeit fertiliser"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/29/i-managed-to-reduce-exam-leakages-i-can-help-mabumba/
      title: "I managed to reduce exam leakages, I can help – Mabumba"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-arrest-gabriel-banda-allegedly-initiating-the-recent-riot-and-looting-at-unza/?utm_source=rss&utm_medium=rss&utm_campaign=police-arrest-gabriel-banda-allegedly-initiating-the-recent-riot-and-looting-at-unza
      title: "Police arrest Gabriel Banda allegedly initiating the recent riot and looting at UNZA"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/29/u-s-embassy-fires-10-staff-for-corrupt-practices/
      title: "U.S Embassy fires 10 staff for corrupt practices"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/29/2024-budget-will-no-doubt-achieve-nothing-pf/
      title: "2024 budget will no doubt achieve nothing – PF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zema-suspends-manganese-ore-processing/
      title: "ZEMA suspends manganese ore processing"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/29/ti-z-advises-govt-to-maintain-cdf-allocation-reduce-personal-income-tax/
      title: "TI-Z advises govt to maintain CDF allocation, reduce personal income tax"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-calls-on-zambians-to-grow-maize-to-supplement-the-staple-food/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-calls-on-zambians-to-grow-maize-to-supplement-the-staple-food
      title: "President Hichilema calls on Zambians to grow maize to supplement the staple food"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/second-batch-of-health-centre-kits-arrives-in-zambia/
      title: "Second batch of health centre kits arrive in Zambia"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/29/people-want-results-who-the-govt-spokesperson-is-doesnt-matter-mundubile/
      title: "People want results, who the govt spokesperson is doesn’t matter – Mundubile"
    - source: Mwebantu
      url: https://www.mwebantu.com/unscrupulous-people-supply-counterfeit-fertilizer/?utm_source=rss&utm_medium=rss&utm_campaign=unscrupulous-people-supply-counterfeit-fertilizer
      title: "Unscrupulous people supply counterfeit fertilizer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-commits-to-upholding-national-values/
      title: "Govt commits to upholding national values"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/police-warn-of-counterfeit-fertiliser-on-the-market/
      title: "Police warn of counterfeit fertiliser on the market"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-people-die-after-being-burnt-in-an-accident-in-mkushi/?utm_source=rss&utm_medium=rss&utm_campaign=two-people-die-after-being-burnt-in-an-accident-in-mkushi
      title: "Two people die after being burnt in an accident in Mkushi."
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/29/nzovu-fumes-we-wont-allow-any-investor-to-abuse-our-environment/
      title: "Nzovu fumes: We won’t allow any investor to abuse our environment"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/29/mwamba-dragged-to-court-for-assaulting-cop/
      title: "Mwamba dragged to court for assaulting cop"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-man-arrested-for-allegedly-advocating-to-overthrow-government-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-man-arrested-for-allegedly-advocating-to-overthrow-government-police-say
      title: "Lusaka man arrested for allegedly advocating to overthrow Government, police say."
    - source: Mwebantu
      url: https://www.mwebantu.com/former-first-lady-esther-expected-in-court-today-for-alleged-theft-of-cars-and-us400000-money-laundering/?utm_source=rss&utm_medium=rss&utm_campaign=former-first-lady-esther-expected-in-court-today-for-alleged-theft-of-cars-and-us400000-money-laundering
      title: "Former First Lady, Esther, expected in court today for alleged theft of cars and US$400,000 money laundering"
---
