---
title: "Monday, November 6th, 2023"
description: This is the one hundred and eighth episode of the podcast.
tags: episode
episode: "108"
date: 2023-11-06T17:00:06.518377+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-11-06_podcast_dist.mp3
    length: 9 minutes, 2 seconds
    size: 8.30 MB
rss:
    enclosure_length: 8707399
    itunes_duration: 09:02
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 15 seconds
words:
    count: 1,276
    rate: 141 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/11/06/strengthening-domestic-resource-mobilization-through-enhanced-mining-sector-performance/
      title: "Strengthening Domestic Resource Mobilization Through Enhanced Mining Sector Performance"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/06/speaker-reprimands-chilangwa-for-missing-23-sittings/
      title: "Speaker reprimands Chilangwa for missing 23 sittings"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/11/06/bakala-blames-players-for-nkanas-3-1-loss-to-nkwazi/
      title: "Bakala blames players for Nkana’s 3-1 loss to Nkwazi"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/11/06/mwali-endures-miserable-start-to-nkwazi-invitational-chess-tourney/
      title: "Mwali endures miserable start to Nkwazi Invitational Chess tourney"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/06/we-need-to-be-brave-balatwingilila-if-we-have-fear-prof-luo-tells-pf-members/
      title: "We need to be brave, balatwingilila if we have fear, Prof Luo tells PF members"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/11/06/a-fruitless-effort-to-defend-the-fuel-supply-scandal-part-1/
      title: "A fruitless effort to defend the fuel supply scandal: Part 1"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/06/im-from-matero-no-one-can-rough-me-up-miles/
      title: "I’m from Matero, no one can rough me up – Miles"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/11/06/court-orders-lungu-to-reply-to-lsk-mans-petition-by-nov-17/
      title: "Court orders Lungu to reply to Lsk man’s petition by Nov 17"
    - source: Mwebantu
      url: https://www.mwebantu.com/mporokoso-man-awakens-to-lifeless-body-of-wife-and-two-daughters-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=mporokoso-man-awakens-to-lifeless-body-of-wife-and-two-daughters-police-say
      title: "Mporokoso man awakens to lifeless body of wife and two daughters, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lundazi-chama-to-be-connected-to-national-grid/
      title: "Lundazi-Chama to be connected to national grid"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/unza-tips-govt-on-anthrax/
      title: "UNZA tips Govt on Anthrax"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/06/hakainde-youre-small-dont-forget-you-failed-5-times-gbm/
      title: "Hakainde, you’re small, don’t forget you failed 5 times – GBM"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-did-not-dribble-anyone-i-just-followed-the-pf-constitutionmiles-sampa-says/?utm_source=rss&utm_medium=rss&utm_campaign=i-did-not-dribble-anyone-i-just-followed-the-pf-constitutionmiles-sampa-says
      title: "I did not dribble anyone, I just followed the PF constitution,Miles Sampa says"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mmembes-matter-referred-to-the-high-court/
      title: "M’MEMBE’s matter referred to the High Court"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/06/well-continue-being-impartial-ecz/
      title: "We’ll continue being impartial – ECZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/anti-corruption-commission-launches-serenje-district-office-to-strengthen-the-battle-against-corruption/?utm_source=rss&utm_medium=rss&utm_campaign=anti-corruption-commission-launches-serenje-district-office-to-strengthen-the-battle-against-corruption
      title: "Anti-Corruption Commission launches Serenje District Office to Strengthen the battle against corruption"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/defiant-museveni-downplays-ugandas-removal-from-agoa/
      title: "Defiant Museveni downplays Uganda’s removal from AGOA"
---