---
title: "Thursday, September 28th, 2023"
description: This is the eighty-second episode of the podcast.
tags: episode
episode: "082"
date: 2023-09-28T16:56:35.623639+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-09-28_podcast_dist.mp3
    length: 6 minutes, 45 seconds
    size: 6.21 MB
rss:
    enclosure_length: 6511863
    itunes_duration: 06:45
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 20 seconds
words:
    count: 955
    rate: 141 words per minute
references:
    count: 13
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/09/28/race-but-let-scz-deal-with-zmsa-issues-nkandu-tells-motorsport-drivers/
      title: "Race, but let SCZ deal with ZMSA issues, Nkandu tells motorsport drivers"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/09/28/china-smart-manufacturing-giant/
      title: "China, Smart Manufacturing Giant"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/28/stay-away-from-politics-govt-tells-immigration-officers/
      title: "Stay away from politics, Govt tells Immigration officers"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/28/declared-assets-should-be-made-public-audited-kalungu/
      title: "Declared assets should be made public, audited – Kalungu"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/28/2-die-in-mukushi-road-accident/
      title: "2 die in Mukushi road accident"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/28/im-a-product-of-the-media-and-will-rely-on-them-going-forward-mweetwa/
      title: "I’m a product of the media and will rely on them going forward – Mweetwa"
    - source: Mwebantu
      url: https://www.mwebantu.com/state-asks-concort-to-dismiss-sean-tembo-petition-on-hhs-foreign-trips/?utm_source=rss&utm_medium=rss&utm_campaign=state-asks-concort-to-dismiss-sean-tembo-petition-on-hhs-foreign-trips
      title: "State asks Concort to dismiss Sean Tembo petition on HH’s foreign trips"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/28/theres-no-prescribed-number-of-trips-a-president-should-undertake-ag/
      title: "There’s no prescribed number of trips a President should undertake – AG"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/09/28/zmsa-agm-saga-why-drivers-are-refusing-to-race-in-the-zambia-international-rally/
      title: "ZMSA AGM saga: why drivers are refusing to race in the Zambia International Rally"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/28/police-nab-socialist-party-youth-chair-for-instigating-unza-riots/
      title: "Police nab Socialist Party youth chair for instigating UNZA riots"
    - source: Mwebantu
      url: https://www.mwebantu.com/village-banking-goes-wrong-members-allegedly-swindled-k1million/?utm_source=rss&utm_medium=rss&utm_campaign=village-banking-goes-wrong-members-allegedly-swindled-k1million
      title: "‘Village banking’ goes wrong, members allegedly swindled K1million"
    - source: Mwebantu
      url: https://www.mwebantu.com/nakonde-man-ends-his-life-after-his-fiance-got-married-to-another-man-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=nakonde-man-ends-his-life-after-his-fiance-got-married-to-another-man-police-say
      title: "Nakonde man ends his life after his fiancé got married to another man, police say"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/28/suggestions-that-lungu-is-campaigning-through-jogging-sessions-nonsensical-nakacinda/
      title: "Suggestions that Lungu is campaigning through jogging sessions nonsensical – Nakacinda"
---
