---
title: "Thursday, November 2nd, 2023"
description: This is the one hundred and sixth episode of the podcast.
tags: episode
episode: "106"
date: 2023-11-02T17:02:03.573323+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-11-02_podcast_dist.mp3
    length: 10 minutes, 5 seconds
    size: 9.26 MB
rss:
    enclosure_length: 9711339
    itunes_duration: 10:05
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 46 seconds
words:
    count: 1,457
    rate: 144 words per minute
references:
    count: 18
    sources: 2
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/donald-trump-jrs-courtroom-debut-chuckles-smiles-and-mispronunciation/
      title: "Donald Trump Jr’s courtroom debut: Chuckles, smiles and mispronunciation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/officers-deployed-to-lumezi-to-help-contain-anthrax/
      title: "Officers deployed to Lumezi to help contain anthrax"
    - source: Mwebantu
      url: https://www.mwebantu.com/govt-withdraws-benefits-for-former-head-of-states-from-ecl-following-his-declaration-to-go-back-to-active-politics/?utm_source=rss&utm_medium=rss&utm_campaign=govt-withdraws-benefits-for-former-head-of-states-from-ecl-following-his-declaration-to-go-back-to-active-politics
      title: "Govt withdraws benefits for former head of states from ECL following his declaration to go back to active politics"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ngos-urged-to-be-factual/
      title: "NGOs urged to be factual"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kalulushi-district-fisp-distribution-in-full-swing/
      title: "Kalulushi District  FISP distribution in full swing"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/brain-power-dropped-among-over-50s-during-covid-19-pandemic-study-shows/
      title: "Brain power dropped among over-50s during Covid-19 pandemic, study shows"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/shell-posts-6-2bn-profit-as-oil-prices-rise-again/
      title: "Shell posts $6.2bn profit as oil prices rise again"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/man-utd-0-3-newcastle-erik-ten-hag-vows-to-fight-on-but-questions-grow-for-reds-boss/
      title: "Man Utd 0-3 Newcastle: Erik ten Hag vows to ‘fight on’ but ‘questions’ grow for Reds boss"
    - source: Mwebantu
      url: https://www.mwebantu.com/sombre-mood-as-four-year-old-boy-torture-ordeal-from-stepmother/?utm_source=rss&utm_medium=rss&utm_campaign=sombre-mood-as-four-year-old-boy-torture-ordeal-from-stepmother
      title: "Sombre mood as four-year-old boy torture ordeal from ‘stepmother’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/anthrax-outbreak-n-western-province-on-high-alert/
      title: "Anthrax outbreak :N/Western Province on high alert"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambian-weightlifters-set-for-olympic-qualifiers/
      title: "Zambian weightlifters set for Olympic qualifiers"
    - source: Mwebantu
      url: https://www.mwebantu.com/black-queens-of-ghana-want-to-dim-copper-queens-shine-in-paris-games/?utm_source=rss&utm_medium=rss&utm_campaign=black-queens-of-ghana-want-to-dim-copper-queens-shine-in-paris-games
      title: "Black Queens of Ghana want to dim Copper Queens’ shine in Paris Games"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/boss-of-indonesia-cough-syrup-maker-jailed-after-child-deaths/
      title: "Boss of Indonesia cough syrup maker jailed after child deaths"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/police-guarding-pf-secretariat-to-prevent-clashes/
      title: "Police guarding PF secretariat to prevent clashes"
    - source: Mwebantu
      url: https://www.mwebantu.com/pf-infighting-continues-as-mile-sampas-election-challenged-in-court/?utm_source=rss&utm_medium=rss&utm_campaign=pf-infighting-continues-as-mile-sampas-election-challenged-in-court
      title: "PF infighting continues as Mile Sampa’s election challenged in court"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-will-not-take-sides-pertaining-to-pf-rivalry-mwiimbu-says/?utm_source=rss&utm_medium=rss&utm_campaign=we-will-not-take-sides-pertaining-to-pf-rivalry-mwiimbu-says
      title: "We will not take sides pertaining to PF rivalry, Mwiimbu says"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-outsmarted-in-36-12-defeat-to-kenya/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-outsmarted-in-36-12-defeat-to-kenya
      title: "Zambia ‘outsmarted’ in 36-12 defeat to Kenya"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ghana-zambia-pledge-to-fight-illicit-activities/
      title: "Ghana, Zambia pledge to fight illicit activities"
---
