---
title: "Tuesday, August 1st, 2023"
description: This is the forty-third episode of the podcast.
tags: episode
episode: "043"
date: 2023-08-01T17:07:20.216174+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-08-01_podcast_dist.mp3
    length: 12 minutes, 46 seconds
    size: 11.72 MB
rss:
    enclosure_length: 12290979
    itunes_duration: 12:46
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 15 minutes, 3 seconds
words:
    count: 1,827
    rate: 143 words per minute
references:
    count: 27
    sources: 5
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/01/election-of-first-female-tiz-president-elates-ngocc/
      title: "Election of first female TIZ president elates NGOCC"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/01/erb-hikes-fuel-prices/
      title: "ERB hikes fuel prices"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/01/hh-congratulates-copper-queens-for-costa-rica-win/
      title: "HH congratulates Copper Queens for Costa Rica win"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/01/world-cup-run-the-beginning-of-greater-success-kamanga/
      title: "World Cup run the beginning of greater success – Kamanga"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/shebeens-should-have-no-place-in-our-communities/?utm_source=rss&utm_medium=rss&utm_campaign=shebeens-should-have-no-place-in-our-communities
      title: "Shebeens should have no place in our communities"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/01/kwacha-fluctuations-within-normal-band-musokotwane/
      title: "Kwacha fluctuations within normal band – Musokotwane"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/man-kills-brother-after-drinking-spree/
      title: "Man Kills Brother After Drinking Spree"
    - source: MUVI Television
      url: https://www.muvitv.com/2023/08/press-statement-by-muzala-samukonga/?utm_source=rss&utm_medium=rss&utm_campaign=press-statement-by-muzala-samukonga
      title: "PRESS STATEMENT BY MUZALA SAMUKONGA."
    - source: Mwebantu
      url: https://www.mwebantu.com/state-oils-injured-samukonga/?utm_source=rss&utm_medium=rss&utm_campaign=state-oils-injured-samukonga
      title: "State oils injured Samukonga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kasanda-warns-ministry-staff-on-corruption/
      title: "Kasanda Warns Ministry Staff on Corruption"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cardi-b-throws-microphone-into-crowd-at-gig-after-being-hit-by-drink/
      title: "Cardi B throws microphone into crowd at gig after being hit by drink"
    - source: Mwebantu
      url: https://www.mwebantu.com/businessman-who-swallowed-2kg-cocaine-in-court/?utm_source=rss&utm_medium=rss&utm_campaign=businessman-who-swallowed-2kg-cocaine-in-court
      title: "Businessman who swallowed 2kg cocaine in court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/teacher-calls-for-hearing-screening-centres/
      title: "Teacher Calls for Hearing Screening Centres"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/hh-condemns-niger-coup/?utm_source=rss&utm_medium=rss&utm_campaign=hh-condemns-niger-coup
      title: "HH condemns Niger coup"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hr-institute-gets-tough-on-illegalities/
      title: "HR Institute Gets Tough on Illegalities"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/israel-president-praises-copper-queens/
      title: "Israeli President Praises Copper Queens"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/01/copper-queens-brush-costa-rica-aside/
      title: "Copper Queens brush Costa Rica aside"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/01/2-general-workers-get-3-years-for-stealing-from-sda-church/
      title: "2 general workers get 3 years for stealing from SDA church"
    - source: MUVI Television
      url: https://www.muvitv.com/2023/08/press-statement-for-immediate-release/?utm_source=rss&utm_medium=rss&utm_campaign=press-statement-for-immediate-release
      title: "PRESS STATEMENT FOR IMMEDIATE RELEASE"
    - source: Mwebantu
      url: https://www.mwebantu.com/abductors-back-in-court/?utm_source=rss&utm_medium=rss&utm_campaign=abductors-back-in-court
      title: "Abductors back in court"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/08/01/our-womens-soccer-team-deserves-respect-and-commendation/
      title: "Our women’s soccer team deserves respect and commendation"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/01/pf-are-cry-babies-ig/
      title: "PF are cry babies – IG"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-police-officer-commits-suicide-in-unclear-circumstances/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-police-officer-commits-suicide-in-unclear-circumstances
      title: "Lusaka police officer commits suicide in unclear circumstances"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/israel-zambia-seek-stronger-ties/
      title: "Israel, Zambia Seek Stronger Ties"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/01/were-concerned-about-mealie-meal-prices-not-lungus-movements-upnd/
      title: "We’re concerned about mealie-meal prices, not Lungu’s movements – UPND"
    - source: MUVI Television
      url: https://www.muvitv.com/2023/08/lcc-warns-unscrupulous-revenue-collectors/?utm_source=rss&utm_medium=rss&utm_campaign=lcc-warns-unscrupulous-revenue-collectors
      title: "LCC WARNS UNSCRUPULOUS REVENUE COLLECTORS"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sugilite-mining-must-benefit-local-people/
      title: "“Sugilite Mining Must benefit Local People”"
---
