---
title: "Wednesday, August 16th, 2023"
description: This is the fifty-fourth episode of the podcast.
tags: episode
episode: "054"
date: 2023-08-16T17:00:16.918169+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-08-16_podcast_dist.mp3
    length: 14 minutes, 40 seconds
    size: 13.47 MB
rss:
    enclosure_length: 14119972
    itunes_duration: 14:40
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 7 minutes, 59 seconds
words:
    count: 2,089
    rate: 142 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/law-is-vocation-of-service/?utm_source=rss&utm_medium=rss&utm_campaign=law-is-vocation-of-service
      title: "Law is vocation of service"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/16/zictas-live-facial-photographs-directive-violates-right-to-privacy-insists-cof/
      title: "ZICTA’s live facial photographs directive violates right to privacy, insists COF"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/16/hh-dates-angola-2/
      title: "HH dates Angola"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/16/tanzanian-national-who-swallowed-111-cocaine-pellets-slapped-with-7-yrs/
      title: "Tanzanian national who swallowed 111 cocaine pellets slapped with 7 yrs"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/16/we-need-to-see-actualisation-of-investment-pledges-ctpd/
      title: "We need to see actualisation of investment pledges – CTPD"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/16/govt-should-open-up-about-challenges-faced-in-its-negotiations-with-vedanta-saasa/
      title: "Govt should open up about challenges faced in its negotiations with Vedanta – Saasa"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/16/im-grateful-to-hh-for-my-appointment-i-dont-take-it-lightly-nevers/
      title: "I’m grateful to HH for my appointment, I don’t take it lightly – Nevers"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-takes-over-chairmanship-of-sadc-organ-on-politicsdefence-and-security/?utm_source=rss&utm_medium=rss&utm_campaign=president-hakainde-hichilema-takes-over-chairmanship-of-sadc-organ-on-politicsdefence-and-security
      title: "President Hakainde Hichilema takes over chairmanship of SADC organ on politics,defence and security"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/vinfast-vietnam-ev-maker-valued-at-more-than-ford-or-gm/
      title: "VinFast: Vietnam EV maker valued at more than Ford or GM"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hawaiian-firesjoe-biden-vows-to-visit-soon-amid-criticism/
      title: "Hawaiian fires:Joe Biden vows to visit soon amid criticism"
    - source: Mwebantu
      url: https://www.mwebantu.com/commander-ii-about-to-be-single-as-wife-files-for-divorce-because-of-death-threats-and-violence/?utm_source=rss&utm_medium=rss&utm_campaign=commander-ii-about-to-be-single-as-wife-files-for-divorce-because-of-death-threats-and-violence
      title: "Commander II about to be single, as wife files for divorce because of death threats and violence"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/north-korea-says-us-soldier-fled-because-of-racism-in-army/
      title: "North Korea says US soldier fled because of racism in army"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/aymeric-laporte-manchester-city-accept-undisclosed-offer-from-al-nassr-for-spain-defender/
      title: "Aymeric Laporte: Manchester City accept undisclosed offer from Al-Nassr for Spain defender"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-set-for-key-sadc-chairmanship-role/
      title: "HH set for key  SADC chairmanship role"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/16/no-govt-official-state-house-staff-is-linked-to-private-jet-scandal-mwiimbu/
      title: "No govt official, State House staff is linked to private jet scandal – Mwiimbu"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/16/muchemwas-wife-files-for-divorce-says-hes-abusive/
      title: "Muchemwa’s wife files for divorce, says he’s abusive"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/16/if-miles-wanted-convention-he-shouldve-withdrawn-case-against-chilangwa-lubinda-chisanga/
      title: "If Miles wanted convention, he should’ve withdrawn case against Chilangwa, Lubinda – Chisanga"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/16/nalumango-cautions-young-people-against-behaviour-that-leads-to-hiv-infection/
      title: "Nalumango cautions young people against behaviour that leads to HIV infection"
    - source: Mwebantu
      url: https://www.mwebantu.com/power-arrive-in-battlefield/?utm_source=rss&utm_medium=rss&utm_campaign=power-arrive-in-battlefield
      title: "Power arrive in battlefield"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-in-angola-for-sadc-summit/
      title: "HH in Angola for SADC Summit"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-continue-updating-school-curriculum/
      title: "Govt to continue updating school curriculum"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chelsea-agree-53m-deal-for-southampton-midfielder-romeo-lavia/
      title: "Chelsea agree £53m deal for Southampton midfielder Romeo Lavia"
    - source: Mwebantu
      url: https://www.mwebantu.com/imbwili-calls-on-mines-minister-paul-kabuswe-to-tell-the-nation-the-truth-regarding-the-gold-scandal/?utm_source=rss&utm_medium=rss&utm_campaign=imbwili-calls-on-mines-minister-paul-kabuswe-to-tell-the-nation-the-truth-regarding-the-gold-scandal
      title: "Imbwili calls on mines Minister, Paul Kabuswe to tell the nation the truth regarding the gold scandal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/upnd-govt-open-to-constructive-criticism-kasanda-says/
      title: "UPND govt open to constructive criticism, Kasanda says"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mineralsplane-still-under-seizure-mwiimbu/
      title: "Minerals,plane still under seizure-Mwiimbu"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/its-not-gold-govt/?utm_source=rss&utm_medium=rss&utm_campaign=its-not-gold-govt
      title: "It’s not gold – Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/youth-breaks-into-court-to-drink-some-water/?utm_source=rss&utm_medium=rss&utm_campaign=youth-breaks-into-court-to-drink-some-water
      title: "Youth breaks into court to ‘drink some water’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/high-charcoal-demand-in-urban-areas-worries-govt/
      title: "High charcoal demand in urban areas worries govt"
---
