---
title: "Friday, December 22nd, 2023"
description: This is the one hundred and forty-second episode of the podcast.
tags: episode
episode: "142"
date: 2023-12-22T14:15:40.479602+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-12-22_podcast_dist.mp3
    length: 6 minutes, 12 seconds
    size: 5.71 MB
rss:
    enclosure_length: 5986904
    itunes_duration: 06:12
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 10 minutes, 24 seconds
words:
    count: 878
    rate: 142 words per minute
references:
    count: 14
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/12/22/bravo-dingani-for-partnering-with-media-on-tax-education-compliance/
      title: "Bravo Dingani for partnering with media on tax education, compliance"
    - source: News Diggers!
      url: https://diggers.news/business/2023/12/22/airtel-africa-registers-its-150-millionth-customer/
      title: "Airtel Africa registers its 150 millionth customer"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/22/moh-records-85-new-cholera-cases-in-lsk-eastern/
      title: "MOH records 85 new cholera cases in Lsk, Eastern"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/22/arrows-face-mutondo-stars/
      title: "Arrows face Mutondo Stars"
    - source: News Diggers!
      url: https://diggers.news/business/2023/12/22/were-considering-doing-a-debt-swap-with-erb-zesco/
      title: "We’re considering doing a debt swap with ERB – Zesco"
    - source: Mwebantu
      url: https://www.mwebantu.com/clatous-chama-facing-disciplinary-action-simba-sc/?utm_source=rss&utm_medium=rss&utm_campaign=clatous-chama-facing-disciplinary-action-simba-sc
      title: "‘Clatous Chama facing disciplinary action,’ Simba SC"
    - source: Mwebantu
      url: https://www.mwebantu.com/kopala-chief-sues-acc-over-seized-account-with-over-us200000/?utm_source=rss&utm_medium=rss&utm_campaign=kopala-chief-sues-acc-over-seized-account-with-over-us200000
      title: "Kopala chief sues ACC over seized account with over US$200,000"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/22/mabika-missing-from-caf-list-because-of-injury-faz/
      title: "Mabika missing from CAF list because of injury – FAZ"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/12/22/in-2021-my-brother-gave-me-k5m-from-pf-cadres-to-keep-for-him-rape-accused-tells-court/
      title: "In 2021, my brother gave me K5m from PF cadres to keep for him, rape-accused tells court"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/22/procurement-issues-still-a-problem-in-govt-ministries-notes-pac/
      title: "Procurement issues still a problem in govt ministries, notes PAC"
    - source: Mwebantu
      url: https://www.mwebantu.com/chikotesha-gets-afcon-appointment/?utm_source=rss&utm_medium=rss&utm_campaign=chikotesha-gets-afcon-appointment
      title: "Chikotesha gets AfCON appointment"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/22/fazs-afcon-budget-is-about-k59m-reveals-nkandu/
      title: "FAZ’s AFCON budget is about K59m, reveals Nkandu"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/22/banda-finishes-third-at-malawi-chess-open/
      title: "Banda finishes third at Malawi Chess Open"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/court-sets-judgment-date-for-katete-police-officer/
      title: "Court sets judgment date for Katete Police officer"
---
