---
title: "Wednesday, September 27th, 2023"
description: This is the eighty-first episode of the podcast.
tags: episode
episode: "081"
date: 2023-09-27T16:57:17.515859+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-09-27_podcast_dist.mp3
    length: 11 minutes, 23 seconds
    size: 10.46 MB
rss:
    enclosure_length: 10971070
    itunes_duration: 11:23
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 1 second
words:
    count: 1,602
    rate: 141 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/27/annual-declaration-of-assets-law-for-speaker-ministers-extends-to-all-mps-mutti/
      title: "Annual declaration of assets law for Speaker, ministers extends to all MPs – Mutti"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/09/27/zambia-botswana-submit-joint-bid-to-host-2027-afcon/
      title: "Zambia, Botswana submit joint bid to host 2027 AFCON"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/27/results-for-1-094-candidates-have-been-nullified-for-exam-malpractices-syakalima/
      title: "Results for 1, 094 candidates have been nullified for exam malpractices – Syakalima"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/09/27/zambia-international-rally-will-proceed-zmsa/
      title: "Zambia International Rally will proceed – ZMSA"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-woman-arrested-for-arson-following-marital-dispute/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-woman-arrested-for-arson-following-marital-dispute
      title: "Lusaka woman arrested for arson following marital dispute"
    - source: Mwebantu
      url: https://www.mwebantu.com/chapter-one-foundation-raises-concerns-over-on-going-marginalisation-of-women-in-high-office-appointments/?utm_source=rss&utm_medium=rss&utm_campaign=chapter-one-foundation-raises-concerns-over-on-going-marginalisation-of-women-in-high-office-appointments
      title: "Chapter One Foundation raises concerns over on going marginalisation of women in high office appointments"
    - source: Mwebantu
      url: https://www.mwebantu.com/pr-girl-media-to-host-the-7th-annual-beerville-in-a-dancehall-edition-this-saturday/?utm_source=rss&utm_medium=rss&utm_campaign=pr-girl-media-to-host-the-7th-annual-beerville-in-a-dancehall-edition-this-saturday
      title: "PR Girl Media to host the 7th annual Beerville in a dancehall edition this Saturday"
    - source: Mwebantu
      url: https://www.mwebantu.com/live-broadcast-of-court-proceedings-in-zambia-coming/?utm_source=rss&utm_medium=rss&utm_campaign=live-broadcast-of-court-proceedings-in-zambia-coming
      title: "Live broadcast of court proceedings in Zambia coming"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nzovu-warns-firms-in-kabwe-on-pollution/
      title: "Nzovu Warns firms in Kabwe  on Pollution"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambias-economic-recovery-on-truck-imf/
      title: "Zambia’s Economic Recovery on Track -IMF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/wife-kills-hubbys-side-chic/
      title: "Wife Kills Hubby’s Side Chic"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lets-balance-tourism-investment-and-conservation/
      title: "“Let’s Balance Tourism Investment and Conservation”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/european-investment-bank-to-fund-lobito-rail-project/
      title: "European Investment Bank To Fund Lobito Rail Project"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/27/iba-writes-to-unza-radio-again-for-allowing-unpalatable-language-on-air/
      title: "IBA writes to UNZA Radio again for allowing “unpalatable” language on air"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/27/misa-urges-mweetwa-to-accelerate-enactment-of-ati-law/
      title: "MISA urges Mweetwa to accelerate enactment of ATI law"
    - source: Mwebantu
      url: https://www.mwebantu.com/mobile-money-vendor-dies-after-being-run-over-by-a-motor-vehicle-belonging-to-criminals-who-stole-his-phone/?utm_source=rss&utm_medium=rss&utm_campaign=mobile-money-vendor-dies-after-being-run-over-by-a-motor-vehicle-belonging-to-criminals-who-stole-his-phone
      title: "Mobile money vendor dies after being run over by a motor vehicle belonging to criminals who stole his phone"
    - source: Mwebantu
      url: https://www.mwebantu.com/it-is-your-time-to-shine-kundananji-tells-cosafa-bound-players/?utm_source=rss&utm_medium=rss&utm_campaign=it-is-your-time-to-shine-kundananji-tells-cosafa-bound-players
      title: "‘It is your time to shine;’ Kundananji tells COSAFA bound players"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/147262-2/
      title: "Smart Zambia Wins Award"
    - source: Mwebantu
      url: https://www.mwebantu.com/chipolopolo-to-face-salah-in-egypt-friendly/?utm_source=rss&utm_medium=rss&utm_campaign=chipolopolo-to-face-salah-in-egypt-friendly
      title: "Chipolopolo to face Salah in Egypt-friendly"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/27/criminals-kill-kalingalinga-man-after-stealing-his-phone/
      title: "Criminals kill Kalingalinga man after stealing his phone"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/27/debt-burdened-nations-need-access-to-cheaper-financing-kakubo-tells-unga/
      title: "Debt-burdened nations need access to cheaper financing, Kakubo tells UNGA"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-says-fight-against-corruption-is-ongoing/?utm_source=rss&utm_medium=rss&utm_campaign=president-hakainde-hichilema-says-fight-against-corruption-is-ongoing
      title: "President Hakainde Hichilema says fight against corruption is ongoing"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/school-in-kenya-fined-for-posting-photos-of-pupils/
      title: "School in Kenya Fined for Posting photos of Pupils"
---
