---
title: "Tuesday, September 12th, 2023"
description: This is the seventieth episode of the podcast.
tags: episode
episode: "070"
date: 2023-09-12T17:01:46.261629+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-09-12_podcast_dist.mp3
    length: 13 minutes, 45 seconds
    size: 12.63 MB
rss:
    enclosure_length: 13241422
    itunes_duration: 13:45
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 31 seconds
words:
    count: 1,973
    rate: 143 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/political-collaboration-key-to-national-unity/?utm_source=rss&utm_medium=rss&utm_campaign=political-collaboration-key-to-national-unity
      title: "Political collaboration key to national unity"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/12/dec-nabs-gloryland-director-his-wife-for-conning-people-out-of-over-k1m/
      title: "DEC nabs Gloryland director, his wife for conning people out of over K1m"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/12/vedanta-will-begin-to-make-profit-after-4-years-kabuswe/
      title: "Vedanta will begin to make profit after 4 years – Kabuswe"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/12/ill-provide-my-services-where-theyre-needed-whether-church-or-tavern-zimba/
      title: "I’ll provide my services where they’re needed, whether church or tavern – Zimba"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/09/12/trident-sideline-mwanza-after-winless-streak/
      title: "Trident sideline Mwanza after winless streak"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-couple-arrested-for-allegedly-obtaining-over-k1-million-from-members-of-public-in-an-investment-scam/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-couple-arrested-for-allegedly-obtaining-over-k1-million-from-members-of-public-in-an-investment-scam
      title: "Lusaka couple arrested for allegedly obtaining over K1 million from members of public in an investment scam"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/increased-maize-production-answer-to-high-mealie-meal-price-zcf/
      title: "Increased Maize production answer to High mealie meal price-ZCF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/vet-officers-told-not-to-aid-illegal-livestock-movement/
      title: "Vet officers told  not to aid illegal livestock movement"
    - source: Mwebantu
      url: https://www.mwebantu.com/raphael-nakachinda-is-pf-secretary-general/?utm_source=rss&utm_medium=rss&utm_campaign=raphael-nakachinda-is-pf-secretary-general
      title: "Raphael Nakachinda is PF Secretary General."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hosting-of-digital-government-africa-summit-welcomed/
      title: "Hosting of Digital Government Africa Summit welcomed"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/syakalima-calls-for-exchange-visits-among-african-educationalists/
      title: "Syakalima calls for exchange visits among African educationalists"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/female-surgeons-sexually-assaulted-while-operating/
      title: "Female surgeons sexually assaulted while operating"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/govt-huawei-ink-digital-deal/?utm_source=rss&utm_medium=rss&utm_campaign=govt-huawei-ink-digital-deal
      title: "Govt, Huawei ink digital deal"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/12/zra-recovers-over-k10m-in-tax-evasion-case/
      title: "ZRA recovers over K10m in tax evasion case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/12-zambian-swimmers-set-for-africa-junior-championships/
      title: "12 Zambian swimmers set for Africa Junior Championships"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/12/hh-begins-china-tour-of-duty/
      title: "HH begins China tour of duty"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/12/cost-of-living-in-lsk-drops-by-k34/
      title: "Cost of living in Lsk drops by K34"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/12/venture-into-farming-benefit-from-12m-empowerment-sme-minister-urges-zambians/
      title: "Venture into farming, benefit from $12m empowerment, SME Minister urges Zambians"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/09/12/faz-salutes-fans-stakeholders-after-zambias-afcon-qualification/
      title: "FAZ salutes stakeholders after Zambia’s AFCON qualification"
    - source: Mwebantu
      url: https://www.mwebantu.com/munir-zulu-arrested-for-allegedly-inciting-zambians-that-president-hichilema-will-call-for-early-elections/?utm_source=rss&utm_medium=rss&utm_campaign=munir-zulu-arrested-for-allegedly-inciting-zambians-that-president-hichilema-will-call-for-early-elections
      title: "Munir Zulu arrested for allegedly inciting Zambian’s that President Hichilema will call for early elections"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/muchinga-farmers-receive-fra-payment/
      title: "Muchinga farmers receive FRA payment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-praises-chinese-founding-father-mao/
      title: "HH praises Xi for  support to Zambia"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/12/gassing-suspects-said-they-got-chemicals-from-zumani-witness/
      title: "Gassing suspects said they got chemicals from Zumani – Witness"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/pogba-provisionally-suspended-for-anti-doping-offence/
      title: "Pogba provisionally suspended for anti doping offence"
    - source: Mwebantu
      url: https://www.mwebantu.com/nega-nega-man-dies-after-falling-off-an-ox-cart-which-later-ran-over-him-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=nega-nega-man-dies-after-falling-off-an-ox-cart-which-later-ran-over-him-police-say
      title: "Nega Nega man dies after falling off an Ox-cart which later ran over him, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/poor-petauke-cdf-works-irk-upnd/
      title: "Poor  Petauke CDF works irk UPND"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tanzania-denies-claims-of-wildlife-smuggling-to-uae/
      title: "Tanzania denies claims of wildlife smuggling to UAE"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/luis-rubiales-former-spanish-fa-president-to-appear-in-court-over-jenni-hermoso-kiss/
      title: "Luis Rubiales: Former Spanish FA president to appear in court over Jenni Hermoso kiss"
---
