---
title: "Thursday, August 24th, 2023"
description: This is the fifty-ninth episode of the podcast.
tags: episode
episode: "059"
date: 2023-08-24T17:22:45.973545+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-08-24_podcast_dist.mp3
    length: 14 minutes, 36 seconds
    size: 13.40 MB
rss:
    enclosure_length: 14048918
    itunes_duration: 14:36
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 30 minutes, 29 seconds
words:
    count: 2,068
    rate: 142 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/24/hh-is-focused-on-fixing-mealie-meal-issues-not-mmembe-kasanda/
      title: "HH is focused on fixing mealie meal issues, not M’membe – Kasanda"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/24/lets-not-bring-politics-into-airport-gold-scandal-kalaba/
      title: "Let’s not bring politics into airport gold scandal – Kalaba"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/24/mulenga-tips-muza-power-to-win-caf-ties/
      title: "Mulenga tips MUZA, Power to win CAF ties"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/24/boz-says-it-released-300m-on-the-market-to-moderate-exchange-rate/
      title: "BoZ says it released $300m on the market to moderate exchange rate"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-calls-for-brics-summit-to-strengthen-african-coordination-in-addressing-global-challenges/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-calls-for-brics-summit-to-strengthen-african-coordination-in-addressing-global-challenges
      title: "President Hichilema calls for BRICS summit to strengthen African coordination in addressing global challenges"
    - source: Mwebantu
      url: https://www.mwebantu.com/suspended-sakala-out-of-comoros-clash/?utm_source=rss&utm_medium=rss&utm_campaign=suspended-sakala-out-of-comoros-clash
      title: "Suspended Sakala out of Comoros clash"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/brics-to-expand-to-11-countries-from-next-january/
      title: "BRICS to expand to 11 countries from next January"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rda-to-install-131-acrow-bridges/
      title: "RDA to install 131 Acrow Bridges"
    - source: Mwebantu
      url: https://www.mwebantu.com/monetary-policy-rate-increased-from-9-5-percent-to-10-0/?utm_source=rss&utm_medium=rss&utm_campaign=monetary-policy-rate-increased-from-9-5-percent-to-10-0
      title: "Monetary policy rate increased from 9.5 percent to 10.0"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/prosecutors-urged-to-uphold-professionalism/
      title: "Prosecutors urged to uphold professionalism"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/police-officer-sentenced-to-5-years-imprisonment/
      title: "Police officer sentenced to 5 years imprisonment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hopes-that-mri-scans-can-screen-men-for-prostate-cancer/
      title: "Hopes that MRI scans can screen men for prostate cancer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-calls-for-cheaper-capital-for-africa/
      title: "HH calls for cheaper capital for Africa"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/zra-rakes-in-k4bn-under-amnesty/?utm_source=rss&utm_medium=rss&utm_campaign=zra-rakes-in-k4bn-under-amnesty
      title: "ZRA rakes in K4bn under amnesty"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/24/musukwas-seized-properties-are-still-the-focus-of-an-investigation-dec-tells-court/
      title: "Musukwa’s seized properties are still the focus of an investigation, DEC tells court"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/24/dont-do-wrong-things-to-please-us-mweetwa-tells-police/
      title: "Don’t do wrong things to please us, Mweetwa tells police"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kenyan-athletes-held-after-love-triangle-death-of-rwandan-runner-siragi-rubayita/
      title: "Kenyan athletes held after ‘love triangle’ death of Rwandan runner Siragi Rubayita"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/08/24/opposition-is-now-free-but-upnd-is-making-a-mistake/
      title: "Opposition is now free, but UPND is making a mistake"
    - source: Mwebantu
      url: https://www.mwebantu.com/nivea-lotion-kiwi-polish-invites-two-youths-to-court/?utm_source=rss&utm_medium=rss&utm_campaign=nivea-lotion-kiwi-polish-invites-two-youths-to-court
      title: "Nivea lotion, kiwi polish ‘invites’ two youths to court"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/24/pf-writes-to-prison-authorities-over-denial-to-visit-zumani-others/
      title: "PF writes to prison authorities over denial to visit Zumani, others"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/24/wemba-moore-miss-the-cut-at-alton-tour/
      title: "Wemba, Moore miss the cut at Alton tour"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mukosa-challenges-chambeshi-water-supply-company/
      title: "MUKOSA challenges Chambeshi Water Supply Company"
    - source: Mwebantu
      url: https://www.mwebantu.com/acc-board-chairperson-wants-declaration-of-assets-to-be-extended-to-specified-top-government-officials/?utm_source=rss&utm_medium=rss&utm_campaign=acc-board-chairperson-wants-declaration-of-assets-to-be-extended-to-specified-top-government-officials
      title: "ACC board chairperson wants declaration of assets to be extended to specified top government officials"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/24/rhoda-tumbles-but-vows-to-come-back-stronger/
      title: "Rhoda tumbles but vows to come back stronger"
    - source: Mwebantu
      url: https://www.mwebantu.com/mkushi-man-dies-after-his-vehicle-overturned-and-hit-into-a-tree/?utm_source=rss&utm_medium=rss&utm_campaign=mkushi-man-dies-after-his-vehicle-overturned-and-hit-into-a-tree
      title: "Mkushi man dies after his vehicle overturned and hit into a tree"
    - source: Mwebantu
      url: https://www.mwebantu.com/prisoner-steals-exhibits-at-police-station/?utm_source=rss&utm_medium=rss&utm_campaign=prisoner-steals-exhibits-at-police-station
      title: "Prisoner steals exhibits at police station"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zimbabwe-voting-continues-amid-ballot-rigging-fears/
      title: "Zimbabwe voting continues amid ballot-rigging fears"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/africa-legends-exhibition-match-set-for-nov-4-2023/
      title: "Africa Legends exhibition match set for Nov 4, 2023"
---
