---
title: "Thursday, August 10th, 2023"
description: This is the fiftieth episode of the podcast.
tags: episode
episode: "050"
date: 2023-08-10T16:57:05.452255+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-08-10_podcast_dist.mp3
    length: 11 minutes, 18 seconds
    size: 10.38 MB
rss:
    enclosure_length: 10885802
    itunes_duration: 11:18
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 48 seconds
words:
    count: 1,630
    rate: 144 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/spain-face-test-in-netherlands/
      title: "Spain face Test in Netherlands"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/accountants-key-to-economic-recovery/?utm_source=rss&utm_medium=rss&utm_campaign=accountants-key-to-economic-recovery
      title: "Accountants key to economic recovery"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/israel-business-forum-generates-800m-deals-zda/?utm_source=rss&utm_medium=rss&utm_campaign=israel-business-forum-generates-800m-deals-zda
      title: "Israel business forum generates $800m deals – ZDA"
    - source: Mwebantu
      url: https://www.mwebantu.com/anything-is-possible-leicester-coach-address-transfer-concerns-amid-patson-daka-everton-links/?utm_source=rss&utm_medium=rss&utm_campaign=anything-is-possible-leicester-coach-address-transfer-concerns-amid-patson-daka-everton-links
      title: "‘Anything is possible,’ Leicester coach address transfer concerns amid Patson Daka-Everton links"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-improve-eye-medical-care/
      title: "Govt To improve Eye Medical Care"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/shortage-of-tutors-hits-chipata-college-of-nursing/
      title: "Shortage of Tutors Hits Chipata College of Nursing"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/wild-fires-claim-36-people-in-hawaii/
      title: "Wild Fires Claim 36 people in Hawaii"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-calls-on-accountants-to-help-champion-the-fight-against-corruption/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-calls-on-accountants-to-help-champion-the-fight-against-corruption
      title: "President Hichilema calls on accountants to help champion the fight against corruption"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/142799-2/
      title: "Govt To Raise Awareness on Safety at Work"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lusaka-mfez-firms-request-for-more-incentives/
      title: "Lusaka MFEZ Firms Request For more Incentives"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/star-times-znbc-agree-to-build-capacity/
      title: "Star Times, ZNBC Agree To Build Capacity"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-to-host-sports-expo/
      title: "Zambia To Host Sports Expo"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/bush-fire-kills-2-year-old-boy/
      title: "Bush Fire Kills 2 Year-Old Boy"
    - source: Mwebantu
      url: https://www.mwebantu.com/14-year-old-grade-five-luanshya-boy-dies-after-being-strangled-to-death-in-unclear-circumstances/?utm_source=rss&utm_medium=rss&utm_campaign=14-year-old-grade-five-luanshya-boy-dies-after-being-strangled-to-death-in-unclear-circumstances
      title: "14-year-old grade five Luanshya boy dies after being strangled to death in unclear circumstances."
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-resident-charged-with-incitement-of-uniformed-personnel/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-resident-charged-with-incitement-of-uniformed-personnel
      title: "Lusaka resident charged with incitement of uniformed personnel"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/man-who-threatened-biden-shot-dead-in-fbi-raid-in-utah/
      title: "Man who threatened Biden shot dead in FBI raid in Utah"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/142804-2/
      title: "Ecuador’s Presidential Candidate Shot Dead"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/no-room-for-abuse-hh/?utm_source=rss&utm_medium=rss&utm_campaign=no-room-for-abuse-hh
      title: "No room for abuse – HH"
    - source: Mwebantu
      url: https://www.mwebantu.com/woman71-gathers-courage-to-report-son-for-raping-her/?utm_source=rss&utm_medium=rss&utm_campaign=woman71-gathers-courage-to-report-son-for-raping-her
      title: "Woman,71, gathers courage to report son for raping her"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/green-buffaloes-drawn-in-group-a-of-cosafa-womens-championship/
      title: "Green Buffaloes Drawn in Group A of COSAFA Women’s Championship"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/commission-warns-incompetent-civil-servants/
      title: "Commission Warns Incompetent Civil Servants"
---
