---
title: "Monday, August 21st, 2023"
description: This is the fifty-seventh episode of the podcast.
tags: episode
episode: "057"
date: 2023-08-21T17:34:06.548373+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-08-21_podcast_dist.mp3
    length: 14 minutes, 48 seconds
    size: 13.59 MB
rss:
    enclosure_length: 14249536
    itunes_duration: 14:48
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 41 minutes, 49 seconds
words:
    count: 2,043
    rate: 138 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/hotels-lodges-key-in-tourism/?utm_source=rss&utm_medium=rss&utm_campaign=hotels-lodges-key-in-tourism
      title: "Hotels, lodges key in tourism"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/21/council-officers-are-never-around-theyre-always-in-meetings-mps/
      title: "Council officers are never around, they’re always in meetings – MPs"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/08/21/the-environmental-management-act-interrogating-proposed-amendments-and-what-it-means-for-responsible-large-scale-land-based-investments-in-zambia-part-ii/
      title: "The Environmental Management Act: Interrogating proposed amendments and what it means for responsible large-scale land-based investments in Zambia PART II"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/21/govt-issues-warning-against-individuals-abusing-cdf/
      title: "Govt issues warning against individuals abusing CDF"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/thief-dies-after-robbing-pastor/?utm_source=rss&utm_medium=rss&utm_campaign=thief-dies-after-robbing-pastor
      title: "Thief dies after robbing pastor"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/21/media-ethics-complaints-committee-unveiled/
      title: "Media ethics, complaints committee unveiled"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/21/mufulira-wanderers-edges-green-buffaloes/
      title: "Mufulira Wanderers edges Green Buffaloes"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/21/upnds-relationship-with-chiefs-not-the-best-but-its-improving-kaputa/
      title: "UPND’s relationship with chiefs not the best, but it’s improving – Kaputa"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/21/the-2023-2024-football-season-reflections/
      title: "The 2023/2024 football season reflections"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/143654-2/
      title: "Zimbabwe deports SA journalists before election"
    - source: Mwebantu
      url: https://www.mwebantu.com/media-our-is-cardinal-partner-speaker-for-the-national-assembly-nelly-mutti-says/?utm_source=rss&utm_medium=rss&utm_campaign=media-our-is-cardinal-partner-speaker-for-the-national-assembly-nelly-mutti-says
      title: "Media our is cardinal partner, Speaker for the National Assembly, Nelly Mutti says"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipata-correctional-facility-produces-5000-bags-of-maize/
      title: "Chipata Correctional Facility Produces 5,000 bags of Maize"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/local-authorities-told-to-upgrade-settlements/
      title: "Local Authorities Told to Upgrade Settlements"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/muza-skipper-smells-second-round-progress/?utm_source=rss&utm_medium=rss&utm_campaign=muza-skipper-smells-second-round-progress
      title: "MUZA skipper smells second round progress"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/upnd-has-put-measures-to-stablize-mealie-meal-prices-mweetwa/
      title: "UPND has Put Measures to Stablize Mealie Meal Prices-Mweetwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/avoid-pre-exposure-to-chronic-illness/
      title: "“Avoid Pre-exposure to Chronic Illnesses”"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/21/upnd-acting-like-devils-by-denying-us-access-to-zumani-lubinda/
      title: "UPND acting like devils by denying us access to Zumani – Lubinda"
    - source: Mwebantu
      url: https://www.mwebantu.com/four-die-in-mufulira-road-traffic-accident-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=four-die-in-mufulira-road-traffic-accident-police-say
      title: "Four die in Mufulira road traffic accident, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/copper-queens-ranked-25th-on-fifa-rankings/?utm_source=rss&utm_medium=rss&utm_campaign=copper-queens-ranked-25th-on-fifa-rankings
      title: "Copper Queens ranked 25th on FIFA Rankings"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fra-buys-20m-sacks/
      title: "FRA Buys 20m Sacks"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zns-exporting-south-african-maize-through-eagles-holding/
      title: "“ZNS Exporting South African Maize through Eagles Holding”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/pf-has-no-future-mulenga/
      title: "PF has no Future- Mulenga"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/21/conflicting-statements-from-govt-officials-breed-mistrust-ccz/
      title: "Conflicting statements from govt officials breed mistrust – CCZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/help-small-scale-farmers-go-into-agro-processing/
      title: "“Help Small Scale Farmers go Into Agro-Processing”"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/kagem-gives-school-furniture/?utm_source=rss&utm_medium=rss&utm_campaign=kagem-gives-school-furniture
      title: "KAGEM gives school furniture"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/21/chingola-kasumbalesa-road-60-done-rda/
      title: "Chingola-Kasumbalesa road 60% done – RDA"
    - source: Mwebantu
      url: https://www.mwebantu.com/man-30-found-guilty-of-raping-96-year-old-neighbour/?utm_source=rss&utm_medium=rss&utm_campaign=man-30-found-guilty-of-raping-96-year-old-neighbour
      title: "Man, 30, found guilty of raping 96-year-old neighbour"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chief-chisunka-condemns-harassment-of-lungu/
      title: "Chief Chisunka Condemns Harassment of Lungu"
---
