---
title: "Monday, September 4th, 2023"
description: This is the sixty-fourth episode of the podcast.
tags: episode
episode: "064"
date: 2023-09-04T16:56:15.292157+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-09-04_podcast_dist.mp3
    length: 14 minutes, 14 seconds
    size: 13.07 MB
rss:
    enclosure_length: 13704519
    itunes_duration: 14:14
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 59 seconds
words:
    count: 2,029
    rate: 143 words per minute
references:
    count: 27
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/09/04/old-time-man-city-football-betting-company-1xbet-reveals-5-superstars-who-played-for-the-worlds-strongest-club-before-the-abu-dhabi-united-group/
      title: "Old time Man City: Football betting company 1xBet reveals 5 superstars who played for the world’s strongest club before the Abu Dhabi United Group"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/09/04/enhancing-community-participation-and-consultation-for-an-effective-constituency-development-fund-cdf/
      title: "Enhancing Community Participation and Consultation for an Effective Constituency Development Fund (CDF)"
    - source: Mwebantu
      url: https://www.mwebantu.com/multichoice-greenlight-season-2-of-shaka-ilembe/?utm_source=rss&utm_medium=rss&utm_campaign=multichoice-greenlight-season-2-of-shaka-ilembe
      title: "MultiChoice greenlight season 2 of Shaka Ilembe"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/09/04/health-problems-versus-health-solutions-a-football-match-on-the-pitch-who-wins/
      title: "Health Problems Versus Health Solutions: A Football Match On the Pitch: Who Wins?"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/04/we-need-to-broaden-tax-base-zica/
      title: "We need to broaden tax base – ZICA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zimbabwe-opposition-rules-out-legal-challenge-to-poll/
      title: "Zimbabwe opposition rules out legal challenge to poll"
    - source: Mwebantu
      url: https://www.mwebantu.com/katete-town-council-secretary-arrested-by-acc-for-misusing-council-property-for-personal-gain/?utm_source=rss&utm_medium=rss&utm_campaign=katete-town-council-secretary-arrested-by-acc-for-misusing-council-property-for-personal-gain
      title: "Katete Town Council Secretary arrested by ACC for misusing Council Property for personal gain"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ukraines-defence-minister-oleksii-reznikov-dismissed/
      title: "Ukraine’s defence minister Oleksii Reznikov dismissed"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-julys-annual-extravaganza-a-purple-empire-of-royals/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-julys-annual-extravaganza-a-purple-empire-of-royals
      title: "Lusaka July’s annual extravaganza: a purple empire of royals"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/gabon-coup-leader-to-be-sworn-in-as-interim-president/
      title: "Gabon coup leader to be sworn in as interim president"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nevers-tells-politicians-to-have-interest-of-the-country-at-heart/
      title: "Nevers Tells Politicians to have Interest of the Country at Heart"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/resist-school-being-absent-from-school/
      title: "“Resist Being Absent from School”"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/04/death-of-35-in-luano-road-accident-saddens-rtsa/
      title: "Death of 35 in Luano road accident saddens RTSA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/elephants-destroy-vegetable-field-in-livingstone/
      title: "Elephants Destroy Vegetable field in Livingstone"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-hockey-team-group-in-b-for-world-cup/
      title: "Zambia Hockey Team in Group B for World Cup"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/04/theres-so-much-govt-is-doing-but-only-negatives-are-being-heard-kasanda/
      title: "There’s so much govt is doing but only negatives are being heard – Kasanda"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/04/upnd-a-mosaic-of-inconsistency-mpombo/
      title: "UPND a mosaic of inconsistency – Mpombo"
    - source: Mwebantu
      url: https://www.mwebantu.com/soldier-arrested-for-aggravated-robbery-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=soldier-arrested-for-aggravated-robbery-police-say
      title: "Soldier arrested for aggravated robbery, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/boxer-muzeyas-night-ends-in-tears-after-nasty-head-injury/?utm_source=rss&utm_medium=rss&utm_campaign=boxer-muzeyas-night-ends-in-tears-after-nasty-head-injury
      title: "Boxer Muzeya’s Night Ends in Tears After Nasty Head Injury"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/suspected-cholera-cases-recorded-in-nsama/
      title: "Suspected Cholera Cases Recorded in Nsama"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/flying-doctors-evacuate-mkushi-accident-victims/
      title: "Flying Doctors Evacuate Luano Accident Victims"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/04/lcc-police-nab-2-illegal-alcohol-sellers-at-nipa-evelyn-hone/
      title: "LCC police nab 2 illegal alcohol sellers at NIPA, Evelyn Hone"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/04/proflight-procures-parcel-freighter-jet/
      title: "Proflight procures parcel freighter jet"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/04/zra-fic-join-forces-to-combat-illicit-financial-flows/
      title: "ZRA, FIC join forces to combat illicit financial flows"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-dont-know-what-the-future-holds-for-daka-leicester-coach/?utm_source=rss&utm_medium=rss&utm_campaign=i-dont-know-what-the-future-holds-for-daka-leicester-coach
      title: "‘I don’t know what the future holds for Daka;’ Leicester coach"
    - source: Mwebantu
      url: https://www.mwebantu.com/victim-reports-step-father-to-police-for-alleged-rape-after-her-mother-refused-to-do-so-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=victim-reports-step-father-to-police-for-alleged-rape-after-her-mother-refused-to-do-so-police-say
      title: "Victim reports step-father to police for alleged rape after her mother refused to do so, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chesstumelo-lwenyeka-seeks-fourth-victory/
      title: "CHESS:Tumelo Lwenyeka Seeks Fourth Victory"
---
