---
title: "Wednesday, September 6th, 2023"
description: This is the sixty-sixth episode of the podcast.
tags: episode
episode: "066"
date: 2023-09-06T17:01:06.718234+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-09-06_podcast_dist.mp3
    length: 11 minutes, 46 seconds
    size: 10.81 MB
rss:
    enclosure_length: 11335947
    itunes_duration: 11:46
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 8 minutes, 50 seconds
words:
    count: 1,675
    rate: 142 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/vedanta-return-good-move/?utm_source=rss&utm_medium=rss&utm_campaign=vedanta-return-good-move
      title: "Vedanta return good move"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/emotions-at-play-in-quicksilver-exit/?utm_source=rss&utm_medium=rss&utm_campaign=emotions-at-play-in-quicksilver-exit
      title: "Emotions at play in ‘Quicksilver’ exit"
    - source: Mwebantu
      url: https://www.mwebantu.com/chingola-woman-on-the-run-after-unlawfully-wounding-hubby-with-beer-bottle-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=chingola-woman-on-the-run-after-unlawfully-wounding-hubby-with-beer-bottle-police-say
      title: "Chingola woman on the run after unlawfully wounding hubby with beer bottle, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kcm-dispute-resolution-to-attract-investment-chamber-of-mines/
      title: "KCM Dispute resolution to attract investment-Chamber of Mines"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/tributes-pour-in-for-jeff-sitali/?utm_source=rss&utm_medium=rss&utm_campaign=tributes-pour-in-for-jeff-sitali
      title: "Tributes pour in for Jeff Sitali"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/police-quiz-former-first-lady/
      title: "Police quiz former first lady"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/g/
      title: "Myanmar: Aung San Suu Kyi denied ‘urgent care’, says son"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/145386-2/
      title: "Ex-Proud Boys leader Enrique Tarrio jailed for 22 years for Capitol riot"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/luano-accident-death-toll-rises-to-33/
      title: "Luano accident death toll rises to 33"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/to-matero-after-care-with-love/?utm_source=rss&utm_medium=rss&utm_campaign=to-matero-after-care-with-love
      title: "To Matero After Care, with love"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/namibia-and-zambia-ink-four-mous/
      title: "Namibia and Zambia ink four MoU’s"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/premier-league-howard-webb-says-nathan-ake-goal-for-man-city-should-not-have-stood/
      title: "Premier League: Howard Webb says Nathan Ake goal for Man City should not have stood"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/us-open-2023-results-novak-djokovic-beats-taylor-fritz-to-reach-record-47th-major-semi-final/
      title: "US Open 2023 results: Novak Djokovic beats Taylor Fritz to reach record 47th major semi-final"
    - source: Mwebantu
      url: https://www.mwebantu.com/chambishi-copper-smelter-driver-dies-while-nine-others-in-critical-condition-following-rta/?utm_source=rss&utm_medium=rss&utm_campaign=chambishi-copper-smelter-driver-dies-while-nine-others-in-critical-condition-following-rta
      title: "Chambishi Copper Smelter driver dies while nine others in critical condition following RTA"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-can-even-coach-manchester-united-new-nkana-coach-ian-bakala-sends-strong-message-to-doubters/?utm_source=rss&utm_medium=rss&utm_campaign=i-can-even-coach-manchester-united-new-nkana-coach-ian-bakala-sends-strong-message-to-doubters
      title: "‘I can even coach Manchester United;’ new Nkana coach Ian Bakala sends strong message to doubters"
    - source: Mwebantu
      url: https://www.mwebantu.com/jeff-sitali-film-maker-dies-at-his-home-in-ndola/?utm_source=rss&utm_medium=rss&utm_campaign=jeff-sitali-film-maker-dies-at-his-home-in-ndola
      title: "Jeff Sitali, film maker dies at his home in Ndola"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/bakala-ready-for-nkana-hot-seat/?utm_source=rss&utm_medium=rss&utm_campaign=bakala-ready-for-nkana-hot-seat
      title: "Bakala ready for Nkana hot seat"
    - source: Mwebantu
      url: https://www.mwebantu.com/five-provinces-to-experience-power-supply-interruptions-says-zesco/?utm_source=rss&utm_medium=rss&utm_campaign=five-provinces-to-experience-power-supply-interruptions-says-zesco
      title: "Five provinces to experience power supply interruptions, says Zesco."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/african-women-in-agriculture-call-for-inclusivity/
      title: "African women in agriculture call for inclusivity"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/manchester-united-shares-dive-on-report-sale-is-off/
      title: "Manchester United shares dive on report sale is off"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/vedanta-commits-1-2bn/?utm_source=rss&utm_medium=rss&utm_campaign=vedanta-commits-1-2bn
      title: "Vedanta commits $1.2bn"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/full-house-for-chipolopolo-sunzu-in-today/?utm_source=rss&utm_medium=rss&utm_campaign=full-house-for-chipolopolo-sunzu-in-today
      title: "Full house for Chipolopolo, Sunzu in today"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/decentralisation-policy-roll-out-cheers-phiri/
      title: "Decentralisation policy roll out cheers Phiri"
---
