---
title: "Friday, December 29th, 2023"
description: This is the one hundred and forty-seventh episode of the podcast.
tags: episode
episode: "147"
date: 2023-12-29T14:10:36.409222+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-12-29_podcast_dist.mp3
    length: 8 minutes, 35 seconds
    size: 7.89 MB
rss:
    enclosure_length: 8273559
    itunes_duration: 08:35
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 22 seconds
words:
    count: 1,135
    rate: 132 words per minute
references:
    count: 19
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2023/12/29/zra-urges-power-utilities-to-utilise-alternative-sources-of-energy-in-2024/
      title: "ZRA urges power utilities to utilise alternative sources of energy in 2024"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/29/cholera-claims-5-lives-in-last-24-hours/
      title: "Cholera claims 5 lives in last 24 hours"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/29/with-lungus-return-pfs-end-will-be-like-unip-mmd-nevers/
      title: "With Lungu’s return, PF’s end will be like UNIP, MMD – Nevers"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/29/judge-katanekwas-suspension-an-act-of-intimidation-mundubile/
      title: "Judge Katanekwa’s suspension an act of intimidation – Mundubile"
    - source: Mwebantu
      url: https://www.mwebantu.com/1xbet-sponsored-a-football-tournament-as-part-of-the-zambia-road-safety-week/?utm_source=rss&utm_medium=rss&utm_campaign=1xbet-sponsored-a-football-tournament-as-part-of-the-zambia-road-safety-week
      title: "1xBet sponsored a football tournament as part of the Zambia Road Safety Week"
    - source: Mwebantu
      url: https://www.mwebantu.com/witchdoctor-and-three-others-nabbed-for-conspiring-to-murder-a-businessman/?utm_source=rss&utm_medium=rss&utm_campaign=witchdoctor-and-three-others-nabbed-for-conspiring-to-murder-a-businessman
      title: "Witchdoctor and three others nabbed for conspiring to murder a businessman"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/donald-trump-blocked-from-maine-presidential-ballot-in-2024/
      title: "Donald Trump blocked from Maine presidential ballot in 2024"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2023/12/29/3-easy-ways-to-make-money-with-1xbet/
      title: "3 easy ways to make money with 1xBet"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/matambo-impressed-with-cb-pupils-performance-in-exams/
      title: "MATAMBO impressed with CB pupils performance in exams"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/russia-reopens-embassy-in-burkina-faso/
      title: "Russia reopens embassy in Burkina Faso"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/29/man-kills-self-after-fight-with-his-mother/
      title: "Man kills self after fight with his mother"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/29/vehicle-licences-will-be-issued-by-local-govt-from-2024-ps/
      title: "Vehicle licences will be issued by local govt from 2024 – PS"
    - source: News Diggers!
      url: https://diggers.news/business/2023/12/29/inflation-closes-2023-at-13-1/
      title: "Inflation closes 2023 at 13.1%"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/29/we-attended-to-105433-patients-in-2023-flying-doctors/
      title: "We attended to 105,433 patients in 2023 – Flying doctors"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-need-to-be-reasonable-avram-grant-talks-afcon-chances/?utm_source=rss&utm_medium=rss&utm_campaign=we-need-to-be-reasonable-avram-grant-talks-afcon-chances
      title: "‘We need to be reasonable,’ Avram Grant talks AfCON chances"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/12/29/hhs-corruption-fight-is-a-sham-says-the-father-of-corruption/
      title: "HH’s corruption fight is a sham, says the father of corruption"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/wave-of-russian-air-strikes-reported-across-ukraine/
      title: "Wave of Russian air strikes reported across Ukraine"
    - source: Mwebantu
      url: https://www.mwebantu.com/faz-suspends-referee/?utm_source=rss&utm_medium=rss&utm_campaign=faz-suspends-referee
      title: "FAZ suspends referee"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/christianity-shapes-zambian-society-hh/
      title: "Christianity shapes Zambian society – HH"
---
