---
title: "Wednesday, November 8th, 2023"
description: This is the one hundred and tenth episode of the podcast.
tags: episode
episode: "110"
date: 2023-11-08T18:51:07.220673+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-11-08_podcast_dist.mp3
    length: 5 minutes, 59 seconds
    size: 5.51 MB
rss:
    enclosure_length: 5781270
    itunes_duration: 05:59
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 31 seconds
words:
    count: 881
    rate: 147 words per minute
references:
    count: 10
    sources: 1
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sweden-urged-to-continue-supporting-zambias-debt-restructuring-deal/
      title: "Sweden urged to continue supporting Zambia’s debt restructuring deal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ati-bill-to-be-tabled-in-parliament/
      title: "ATI Bill to be tabled in Parliament"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mine-unions-welcome-kcm-implementation-deal/
      title: "Mine Unions welcome KCM Implementation deal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mosquito-nets-are-not-harmful-dr-hamainza/
      title: "Mosquito nets are NOT harmful – Dr. HAMAINZA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nigerian-man-killed-in-test-on-bullet-proof-charm/
      title: "Nigerian man killed in test on bullet-proof charm"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/us-warns-israel-against-reoccupying-gaza-after-war/
      title: "US warns Israel against reoccupying Gaza after war"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sudan-conflict-thousands-flee-fresh-ethnic-killings-in-darfur/
      title: "Sudan conflict: Thousands flee fresh ethnic killings in Darfur"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/parliament-clarifies-on-position-of-leader-of-the-opposition/
      title: "Parliament clarifies on position of Leader of the Opposition"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambiaeu-sign-agreement-on-forest-management/
      title: "Zambia,EU sign agreement on forest management"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/man-crushed-to-death-by-robot-in-south-korea/
      title: "Man crushed to death by robot in South Korea"
---