---
title: "Tuesday, June 27th, 2023"
description: This is the nineteenth episode of the podcast.
tags: episode
episode: "019"
date: 2023-06-27T17:00:57.273063+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-06-27_podcast_dist.mp3
    length: 17 minutes, 21 seconds
    size: 15.91 MB
rss:
    enclosure_length: 16686237
    itunes_duration: 17:21
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 8 minutes, 41 seconds
words:
    count: 2,453
    rate: 141 words per minute
references:
    count: 34
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/180769-2/?utm_source=rss&utm_medium=rss&utm_campaign=180769-2
      title: "Health Business Symposium to look at New Public Order"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/lets-promote-our-local-languages/?utm_source=rss&utm_medium=rss&utm_campaign=lets-promote-our-local-languages
      title: "Let’s promote our local languages"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/27/stardy-5-others-plead-not-guilty-in-gulfstream-corruption-case/
      title: "Stardy, 5 others plead not guilty in Gulfstream corruption case"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/27/muza-mute-as-banda-leaves-club/
      title: "MUZA mutes as Banda leaves club"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/139971-2/
      title: "FBI failed ‘at fundamental level’ before Capitol riot, Senate report claims"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/angela-bassett-black-panther-actress-to-receive-honorary-oscar/
      title: "Angela Bassett: Black Panther actress to receive honorary Oscar"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chinese-millionaire-fails-27th-attempt-at-passing-university-entrance-exams/
      title: "Chinese millionaire fails 27th attempt at passing university entrance exams"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/muza-fc-parts-ways-with-head-coach-banda/
      title: "Muza FC parts ways with Head Coach Banda"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/27/lubinda-asks-court-to-set-him-free/
      title: "Lubinda asks court to set him free"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/27/copper-queens-will-come-good-before-world-cup-kamanga/
      title: "Copper Queens will come good before World Cup – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/business/2023/06/27/people-failing-to-access-empowerment-are-questioning-why-my-ministry-was-created-mubanga/
      title: "People failing to access empowerment are questioning why my ministry was created – Mubanga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/trump-heard-on-tape-discussing-highly-confidential-secret-documents/
      title: "Trump heard on tape discussing ‘highly confidential, secret’ documents"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/parley-to-discuss-chilangwas-absence-from-parliament/
      title: "Parley to discuss Chilangwa’s absence from Parliament"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/its-big-deal/?utm_source=rss&utm_medium=rss&utm_campaign=its-big-deal
      title: "It’s big deal"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/resolve-kalungwishi-impasse-quickly/?utm_source=rss&utm_medium=rss&utm_campaign=resolve-kalungwishi-impasse-quickly
      title: "Resolve Kalungwishi Impasse quickly"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/musokotwane-calls-for-balance-over-mine-investments-taxes/?utm_source=rss&utm_medium=rss&utm_campaign=musokotwane-calls-for-balance-over-mine-investments-taxes
      title: "Musokotwane calls for balance over mine investments, taxes"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/27/abuse-of-energy-drinks-worries-govt/
      title: "Abuse of energy drinks worries govt"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/27/its-now-time-to-unlock-projects-hh/
      title: "It’s now time to unlock projects – HH"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/27/zambia-mints-five-medals-at-african-shaolin-kung-fu/
      title: "Zambia mints five medals at African Shaolin Kung Fu"
    - source: News Diggers!
      url: https://diggers.news/business/2023/06/27/we-want-to-formalise-mining-activities-for-successfully-registered-cooperatives-govt/
      title: "We want to formalise mining activities for successfully registered cooperatives – Govt"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/27/jctr-opposes-dpps-move-to-seek-civil-forfeiture-of-former-first-familys-assets/
      title: "JCTR opposes DPP’s move to seek civil forfeiture of former first family’s assets"
    - source: Mwebantu
      url: https://www.mwebantu.com/munir-zulu-faces-arrest-for-missing-court/?utm_source=rss&utm_medium=rss&utm_campaign=munir-zulu-faces-arrest-for-missing-court
      title: "Munir Zulu faces arrest for missing court"
    - source: Mwebantu
      url: https://www.mwebantu.com/muza-coach-quits/?utm_source=rss&utm_medium=rss&utm_campaign=muza-coach-quits
      title: "Muza coach ‘quits’"
    - source: Mwebantu
      url: https://www.mwebantu.com/four-year-old-chambishi-boy-gets-burnt-to-death-while-trying-to-escape-a-bush-fire-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=four-year-old-chambishi-boy-gets-burnt-to-death-while-trying-to-escape-a-bush-fire-police-say
      title: "Four year old Chambishi boy gets burnt to death while trying to escape a bush fire, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/man-dies-while-digging-for-gold-in-mpika/?utm_source=rss&utm_medium=rss&utm_campaign=man-dies-while-digging-for-gold-in-mpika
      title: "Man dies while digging for gold in Mpika"
    - source: Mwebantu
      url: https://www.mwebantu.com/chinsali-man-murders-wife-during-a-quarrel-over-sons-death/?utm_source=rss&utm_medium=rss&utm_campaign=chinsali-man-murders-wife-during-a-quarrel-over-sons-death
      title: "Chinsali man murders wife during a quarrel over son’s death"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/debt-restructuring-agreement-calls-for-more-hard-work-cso-debt-alliance/
      title: "Debt restructuring agreement calls for more hard work-CSO Debt Alliance"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/znbs-records-positive-growth/
      title: "ZNBS Records positive growth"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ndola-to-get-cancer-diseases-hospital/
      title: "Ndola to get Cancer diseases hospital"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kabompo-schools-get-desks/
      title: "Kabompo schools get desks"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/un-developing-irrigation-scheme-in-chirundu/
      title: "UN developing irrigation scheme in Chirundu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/media-urged-to-champion-transparency-issues/
      title: "Media urged to champion transparency issues"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-menwomen-hockey-national-teams-unveiled/
      title: "Zambia men,women hockey national teams unveiled"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/josko-gvardiol-rb-leipzig-want-at-least-100m-euros-for-man-city-target/
      title: "Josko Gvardiol: RB Leipzig want at least 100m euros for Man City target"
---
