---
title: "Thursday, July 27th, 2023"
description: This is the fortieth episode of the podcast.
tags: episode
episode: "040"
date: 2023-07-27T17:01:35.341633+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-07-27_podcast_dist.mp3
    length: 13 minutes, 48 seconds
    size: 12.67 MB
rss:
    enclosure_length: 13289902
    itunes_duration: 13:48
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 18 seconds
words:
    count: 1,915
    rate: 139 words per minute
references:
    count: 29
    sources: 4
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/munir-zulu-libel-case-fails-to-take-off/?utm_source=rss&utm_medium=rss&utm_campaign=munir-zulu-libel-case-fails-to-take-off
      title: "Munir Zulu libel case fails to take off"
    - source: Mwebantu
      url: https://www.mwebantu.com/my-husband-edgar-lungu-developed-the-15-properties-says-esther-lungu/?utm_source=rss&utm_medium=rss&utm_campaign=my-husband-edgar-lungu-developed-the-15-properties-says-esther-lungu
      title: "My husband, Edgar Lungu, developed the 15 properties, says Esther Lungu"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/27/over-k595m-has-been-paid-out-to-farmers-fra/
      title: "Over K595m has been paid out to farmers – FRA"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/27/were-proud-of-you-hh-tells-copper-queens/
      title: "We’re proud of you, HH tells Copper Queens"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/zambians-proud-of-copper-queens-hh-first-lady/?utm_source=rss&utm_medium=rss&utm_campaign=zambians-proud-of-copper-queens-hh-first-lady
      title: "Zambians proud of Copper Queens – HH, First Lady"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/removal-of-vendors-hidden-crimes-exposed/?utm_source=rss&utm_medium=rss&utm_campaign=removal-of-vendors-hidden-crimes-exposed
      title: "Removal of vendors: Hidden crimes exposed"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/betting-detrimental-to-nation-hh/?utm_source=rss&utm_medium=rss&utm_campaign=betting-detrimental-to-nation-hh
      title: "Betting detrimental to nation – HH"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/27/fic-trends-report-lacks-depth-tiz/
      title: "FIC trends report lacks depth – TIZ"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/kwacha-bullish/?utm_source=rss&utm_medium=rss&utm_campaign=kwacha-bullish
      title: "Kwacha bullish"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/early-flight/?utm_source=rss&utm_medium=rss&utm_campaign=early-flight
      title: "Early flight"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-strategy-aims-to-up-rice-production-by-50/
      title: "Govt. Strategy Aims to Up Rice Production by 50%"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zema-assesses-652-projects-valued-at-k14bn/
      title: "ZEMA Assesses 652 Projects valued at K14bn"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/dec-nabs-chibolya-heroin-supplier/
      title: "DEC Nabs Chibolya Heroin Supplier"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/death-during-baptism/?utm_source=rss&utm_medium=rss&utm_campaign=death-during-baptism
      title: "Death during baptism"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/stray-lion-captured-in-mpongwe/
      title: "Stray Lion Captured in Mpongwe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/netherlands-usa-draw/
      title: "Netherlands, USA draw"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/27/parley-rejects-motion-for-reintroduction-of-religious-ministry/
      title: "Parley rejects motion for reintroduction of religious ministry"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/27/mia-wins-as-team-zambia-impresses-at-world-aquatics-championships/
      title: "Mia wins as team Zambia impresses at World Aquatics Championships"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/27/nmc-gives-zambia-motorsport-association-agm-ultimatum/
      title: "NMC gives Zambia Motorsport Association AGM ultimatum"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/27/spain-dumps-copper-queens-out-of-world-cup/
      title: "Spain dumps Copper Queens out of World Cup"
    - source: Mwebantu
      url: https://www.mwebantu.com/nine-get-burnt-in-chongwe-after-a-transformer-burst-in-flames-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=nine-get-burnt-in-chongwe-after-a-transformer-burst-in-flames-police-say
      title: "Nine get burnt in Chongwe after a transformer burst in flames, police say"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/ex-tennis-star-mukandila-battles-for-zta-presidency/?utm_source=rss&utm_medium=rss&utm_campaign=ex-tennis-star-mukandila-battles-for-zta-presidency
      title: "Ex-tennis star Mukandila battles for ZTA presidency"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/27/diversify-your-diet-eat-roller-jctr-encourages-citizens/
      title: "Diversify your diet, eat roller, JCTR encourages citizens"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/arrested-ministry-of-finance-official-offer-to-pay-back/
      title: "Arrested Ministry of Finance Officials Offer to Pay Back"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/thieves-steal-prosecutors-laptop-notebook/
      title: "Thieves Steal Prosecutor’s Laptop, notebook"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/lusambo-fails-with-his-application/?utm_source=rss&utm_medium=rss&utm_campaign=lusambo-fails-with-his-application
      title: "Lusambo fails with his application"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/27/production-of-concentrate-commences-at-fqms-enterprise-nickel-mine/
      title: "Production of concentrate commences at FQM’s Enterprise nickel mine"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/putin-hosts-africa/
      title: "PUTIN HOSTS AFRICA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/russia-to-enhance-tradeinvestment-ties-with-africa/
      title: "RUSSIA TO ENHANCE TRADE,INVESTMENT TIES WITH  AFRICA"
---
