---
title: "Monday, August 14th, 2023"
description: This is the fifty-second episode of the podcast.
tags: episode
episode: "052"
date: 2023-08-14T16:56:52.537885+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-08-14_podcast_dist.mp3
    length: 9 minutes, 8 seconds
    size: 8.40 MB
rss:
    enclosure_length: 8807289
    itunes_duration: 09:08
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 34 seconds
words:
    count: 1,273
    rate: 139 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/faz-clears-copper-queens-world-cup-allowances/
      title: "FAZ clears Copper Queens’ World cup allowances"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/education-upnd-milestones-in-2-years/?utm_source=rss&utm_medium=rss&utm_campaign=education-upnd-milestones-in-2-years
      title: "Education: UPND milestones in 2 years"
    - source: Mwebantu
      url: https://www.mwebantu.com/university-student-dies-after-complaining-of-sharp-pain-in-the-head/?utm_source=rss&utm_medium=rss&utm_campaign=university-student-dies-after-complaining-of-sharp-pain-in-the-head
      title: "University student dies after complaining of sharp pain in the head"
    - source: Mwebantu
      url: https://www.mwebantu.com/pirates-and-chipata-to-battle-for-buildcon-place/?utm_source=rss&utm_medium=rss&utm_campaign=pirates-and-chipata-to-battle-for-buildcon-place
      title: "Pirates and Chipata to battle for Buildcon place"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/niger-coup-ousted-president-bazoum-to-be-charged-with-high-treason-junta-says/
      title: "Niger coup: Ousted President Bazoum to be charged with high treason, junta says"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lewanika-general-hospital-wins-kudos/
      title: "Lewanika General Hospital wins kudos"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/energy-expert-welcomes-govt-energy-policies/
      title: "Energy expert welcomes govt energy policies"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kalulushi-to-get-over-3000-desks/
      title: "Kalulushi to get  over 3,000 desks"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/livingstone-city-council-receives-cdf-allocation/
      title: "Livingstone City Council receives CDF allocation"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/upnd-on-course-2/?utm_source=rss&utm_medium=rss&utm_campaign=upnd-on-course-2
      title: "UPND on course"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/teen-wedding-involving-14-yr-old-girl-stopped/?utm_source=rss&utm_medium=rss&utm_campaign=teen-wedding-involving-14-yr-old-girl-stopped
      title: "Teen wedding involving 14-yr-old girl stopped"
    - source: Mwebantu
      url: https://www.mwebantu.com/15-year-old-females-among-junkies-rounded-up-in-lusaka-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=15-year-old-females-among-junkies-rounded-up-in-lusaka-police-say
      title: "15-year-old females among junkies rounded up in Lusaka, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/father-who-has-a-child-with-his-daughter-jailed-for-50-years/?utm_source=rss&utm_medium=rss&utm_campaign=father-who-has-a-child-with-his-daughter-jailed-for-50-years
      title: "Father who has a child with his daughter jailed for 50 years"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sikumba-keen-to-market-traditional-ceremonies/
      title: "Sikumba keen to market traditional ceremonies"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chasefu-town-council-record-management-called-into-question/
      title: "Chasefu town council record management called into question"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/neymar-transfer-news-al-hilal-agree-deal-with-paris-st-germain-for-brazil-forward/
      title: "Neymar transfer news: Al-Hilal agree deal with Paris St-Germain for Brazil forward"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/himachal-pradesh-nine-dead-dozens-trapped-in-india-temple-collapse/
      title: "Himachal Pradesh: Nine dead, dozens trapped in India temple collapse"
---
