---
title: "Thursday, August 17th, 2023"
description: This is the fifty-fifth episode of the podcast.
tags: episode
episode: "055"
date: 2023-08-17T16:59:21.587970+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-08-17_podcast_dist.mp3
    length: 16 minutes, 4 seconds
    size: 14.75 MB
rss:
    enclosure_length: 15469561
    itunes_duration: 16:04
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 7 minutes, 4 seconds
words:
    count: 2,217
    rate: 138 words per minute
references:
    count: 33
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/sexuality-education-progressive/?utm_source=rss&utm_medium=rss&utm_campaign=sexuality-education-progressive
      title: "Sexuality education progressive"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/law-not-all-about-riches-malila/?utm_source=rss&utm_medium=rss&utm_campaign=law-not-all-about-riches-malila
      title: "Law not all about riches – Malila"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/singing-competition-key-to-promoting-peace-among-pupils-2/?utm_source=rss&utm_medium=rss&utm_campaign=singing-competition-key-to-promoting-peace-among-pupils-2
      title: "Singing competition key to promoting peace among pupils"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/singing-competition-key-to-promoting-peace-among-pupils/?utm_source=rss&utm_medium=rss&utm_campaign=singing-competition-key-to-promoting-peace-among-pupils
      title: "Singing competition key to promoting peace among pupils"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/17/we-are-going-ahead-with-our-rally-vows-pf/
      title: "We are going ahead with our rally, vows PF"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/17/its-premature-for-dpp-to-apply-for-forfeiture-of-properties-esther-tells-court/
      title: "It’s premature for DPP to apply for forfeiture of properties, Esther tells court"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/17/i-left-sp-because-i-was-unhappy-about-certain-things-bwalya/
      title: "I left SP because I was unhappy about certain things – Bwalya"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/were-delivering-on-our-mandate-kasanda/?utm_source=rss&utm_medium=rss&utm_campaign=were-delivering-on-our-mandate-kasanda
      title: "We’re delivering on our mandate – Kasanda"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/17/pf-would-have-concealed-private-jet-scandal-chipoka/
      title: "PF would have concealed private jet scandal – Chipoka"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/17/its-concerning-that-zambia-is-being-used-as-a-conduit-for-organised-crime-lifuka/
      title: "It’s concerning that Zambia is being used as a conduit for organised crime – Lifuka"
    - source: Mwebantu
      url: https://www.mwebantu.com/napsa-stars-sign-nigerian-striker-amokachi/?utm_source=rss&utm_medium=rss&utm_campaign=napsa-stars-sign-nigerian-striker-amokachi
      title: "Napsa Stars sign Nigerian striker Amokachi"
    - source: Mwebantu
      url: https://www.mwebantu.com/tanzanian-jailed-seven-years-for-swallowing-2kg-cocaine/?utm_source=rss&utm_medium=rss&utm_campaign=tanzanian-jailed-seven-years-for-swallowing-2kg-cocaine
      title: "Tanzanian jailed seven years for ‘swallowing’ 2KG cocaine"
    - source: Mwebantu
      url: https://www.mwebantu.com/suspected-restaurant-suicide-on-longolongo-road-in-lusaka/?utm_source=rss&utm_medium=rss&utm_campaign=suspected-restaurant-suicide-on-longolongo-road-in-lusaka
      title: "Suspected restaurant ‘suicide’ on Longolongo Road in Lusaka"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/marigold-farm-looking-for-7000-workers/
      title: "Marigold Farm Looking for 7,000 workers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zicta-rolls-out-satellite-broadband-in-rural-towns/
      title: "ZICTA Rolls Out Satellite Broadband in Rural Towns"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fire-burns-7-shops-at-nakadoli-market/
      title: "Fire burns 7 Shops at Nakadoli Market"
    - source: Mwebantu
      url: https://www.mwebantu.com/more-arrests-made-in-golide-scam-unveiled-by-authorities/?utm_source=rss&utm_medium=rss&utm_campaign=more-arrests-made-in-golide-scam-unveiled-by-authorities
      title: "More arrests made in ‘golide’ scam unveiled by authorities"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/5-die-in-isoka-after-truck-overturns/?utm_source=rss&utm_medium=rss&utm_campaign=5-die-in-isoka-after-truck-overturns
      title: "5 die in Isoka after truck overturns"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/hh-to-continue-pushing-for-regional-stability/?utm_source=rss&utm_medium=rss&utm_campaign=hh-to-continue-pushing-for-regional-stability
      title: "HH to continue pushing for regional stability"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/17/prolonged-seizure-of-properties-by-leas-worries-lawyer/
      title: "Prolonged seizure of properties by LEAs worries lawyer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-support-youths-doing-legal-mining/
      title: "Govt To Support Youths Doing Legal Mining"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/08/17/why-have-some-zambians-stopped-trusting-the-upnd/
      title: "Why have some Zambians stopped trusting the UPND?"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/17/rda-embarks-on-nationwide-campaign-against-overloading-of-vehicles/
      title: "RDA embarks on nationwide campaign against overloading of vehicles"
    - source: Mwebantu
      url: https://www.mwebantu.com/samukongas-world-championships-dream-in-shreds-but-za-remains-optimistic/?utm_source=rss&utm_medium=rss&utm_campaign=samukongas-world-championships-dream-in-shreds-but-za-remains-optimistic
      title: "Samukonga’s World Championships Dream in Shreds but ZA remains optimistic"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/17/we-dont-receive-orders-from-hh-despite-sitting-under-his-office-acc/
      title: "We don’t receive orders from HH despite sitting under his office – ACC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kitwe-pastors-welcome-digital-nrc/
      title: "Kitwe Pastors Welcome Digital NRC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zesco-to-build-bulk-substation-in-masaiti/
      title: "Zesco To Build Bulk Substation in Masaiti"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/school-curriculum-will-continue-improving/
      title: "“School Curriculum Will Continue Improving”"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/saboi-says-shell-bring-5-hamasakas-before-court/?utm_source=rss&utm_medium=rss&utm_campaign=saboi-says-shell-bring-5-hamasakas-before-court
      title: "Saboi says she’ll bring 5 Hamasakas before court"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/17/opposition-jealous-of-hh-because-of-what-hes-doing-mbula/
      title: "Opposition jealous of HH because of what he’s doing – Mbula"
    - source: Mwebantu
      url: https://www.mwebantu.com/journalists-tour-seized-gold-planes/?utm_source=rss&utm_medium=rss&utm_campaign=journalists-tour-seized-gold-planes
      title: "Journalists’ tour seized ‘gold planes’"
    - source: Mwebantu
      url: https://www.mwebantu.com/nali-describes-surgery-as-successful/?utm_source=rss&utm_medium=rss&utm_campaign=nali-describes-surgery-as-successful
      title: "Nali describes surgery as successful"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/standard-chartered-makes-k299m-profit/
      title: "Standard Chartered Makes K299m Profit"
---
