---
title: "Friday, August 18th, 2023"
description: This is the fifty-sixth episode of the podcast.
tags: episode
episode: "056"
date: 2023-08-18T17:07:10.995844+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-08-18_podcast_dist.mp3
    length: 14 minutes, 34 seconds
    size: 13.37 MB
rss:
    enclosure_length: 14020494
    itunes_duration: 14:34
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 14 minutes, 52 seconds
words:
    count: 2,045
    rate: 140 words per minute
references:
    count: 30
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/youth-skills-training-crucial-in-job-creation/?utm_source=rss&utm_medium=rss&utm_campaign=youth-skills-training-crucial-in-job-creation
      title: "Youth skills training crucial in job creation"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/hh-calls-for-stability/?utm_source=rss&utm_medium=rss&utm_campaign=hh-calls-for-stability
      title: "HH calls for stability"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/18/former-w-province-deputy-ps-sues-kalaba-tembo-for-defamation/
      title: "Former W/Province deputy PS sues Kalaba, Tembo for defamation"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/18/napsa-signs-saith-and-amokachi/
      title: "Napsa signs Saith and Amokachi"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/18/nkwazi-faces-konkola-blades-as-league-gets-underway/
      title: "Nkwazi faces Konkola Blades as League gets underway"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/man-discovered-dead-in-makeshift-restaurant/?utm_source=rss&utm_medium=rss&utm_campaign=man-discovered-dead-in-makeshift-restaurant
      title: "Man discovered dead in makeshift restaurant"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/18/over-25-zambians-will-grace-africa-youth-chess-championships-cfz/
      title: "Over 25 Zambians will grace Africa Youth Chess Championships – CFZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-open-for-business-not-criminal-activities/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-open-for-business-not-criminal-activities
      title: "Zambia open for business not criminal activities"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/scrala-trains-200-beekeepers/
      title: "SCRALA Trains 200 Beekeepers"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-dont-pay-referees-anthony-mumba-warns-against-unethical-suggestions/?utm_source=rss&utm_medium=rss&utm_campaign=we-dont-pay-referees-anthony-mumba-warns-against-unethical-suggestions
      title: "‘We don’t pay referees,’ Anthony Mumba warns against unethical suggestions"
    - source: Mwebantu
      url: https://www.mwebantu.com/dr-nevers-mumba-gets-accolades-for-his-appointment/?utm_source=rss&utm_medium=rss&utm_campaign=dr-nevers-mumba-gets-accolades-for-his-appointment
      title: "Dr Nevers Mumba gets accolades for his appointment"
    - source: Mwebantu
      url: https://www.mwebantu.com/pastor-who-admitted-having-sex-with-congregant-at-lodge-freed-of-rape-charge/?utm_source=rss&utm_medium=rss&utm_campaign=pastor-who-admitted-having-sex-with-congregant-at-lodge-freed-of-rape-charge
      title: "Pastor who admitted having sex with congregant at lodge, freed of rape charge"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/upnd-members-awarded-k1m-damages/
      title: "UPND Members awarded K1m Damages"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kasanda-attends-media-forum-in-south-africa/
      title: "Kasanda attends Media Forum in South Africa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/samukonga-rules-out-of-world-athletics-championship/
      title: "Samukonga Ruled Out of World Athletics Championship"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/handball-mens-team-gets-new-coach/
      title: "Handball Mens Team Gets New Coach"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/no-sacred-cow-in-gold-scam/
      title: "No Sacred Cow in Gold Scam-HH"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/18/katima-mulilo-border-post-to-commence-24-hour-operations/
      title: "Katima Mulilo Border Post to commence 24-hour operations"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/18/chilangwa-has-been-praying-for-those-responsible-for-his-misfortune-chisanga/
      title: "Chilangwa has been praying for those responsible for his misfortune – Chisanga"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/18/we-have-challenges-preparing-stardys-defence-due-to-oath-of-secrecy-laments-lawyer/
      title: "We have challenges preparing Stardy’s defence due to oath of secrecy, laments lawyer"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/18/nalis-surgery-a-success-surgeon/
      title: "Nali’s surgery a success – Surgeon"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/18/i-moved-my-children-to-govt-schools-to-build-confidence-in-our-school-system-syakalima/
      title: "I moved my children to govt schools to build confidence in our school system – Syakalima"
    - source: Mwebantu
      url: https://www.mwebantu.com/chingola-woman-detained-following-her-husbands-untimely-death-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=chingola-woman-detained-following-her-husbands-untimely-death-police-say
      title: "Chingola woman detained following her husband’s untimely death, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fires-burns-down-9-shops-in-kabwe/
      title: "Fires Burns Down 9 Shops in Kabwe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/stanbic-sponsorship-deal-to-napsa-increased/
      title: "Stanbic Sponsorship deal to NAPSA Increased"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/solwezi-hands-over-3-projects/
      title: "Solwezi Handsover 3 projects"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/youth-engagement-key-to-sdg-implementation/
      title: "“Youth Engagement Key to SDG implementation”"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/woman-30-convicted-of-sexually-abusing-sons-friend/?utm_source=rss&utm_medium=rss&utm_campaign=woman-30-convicted-of-sexually-abusing-sons-friend
      title: "Woman, 30, convicted of sexually abusing son’s friend"
    - source: Mwebantu
      url: https://www.mwebantu.com/woman-30-awaits-her-fate-after-found-guilty-of-defiling-a-boy/?utm_source=rss&utm_medium=rss&utm_campaign=woman-30-awaits-her-fate-after-found-guilty-of-defiling-a-boy
      title: "Woman, 30, awaits her fate after found guilty of defiling a boy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-undp-open-crop-grain-bulking-centre/
      title: "Govt., UNDP open Crop Grain Bulking Centre"
---
