---
title: "Tuesday, October 10th, 2023"
description: This is the ninetieth episode of the podcast.
tags: episode
episode: "090"
date: 2023-10-10T16:55:53.111036+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-10-10_podcast_dist.mp3
    length: 6 minutes, 14 seconds
    size: 5.74 MB
rss:
    enclosure_length: 6015324
    itunes_duration: 06:14
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 36 seconds
words:
    count: 926
    rate: 149 words per minute
references:
    count: 11
    sources: 1
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chief-hamusonde-requests-for-hospital/
      title: "Chief Hamusonde Requests for Hospital"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/body-retrieved-from-victoria-falls-boiling-pot/
      title: "Body Retrieved from Victoria Falls Boiling Pot"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hamas-we-will-not-negotiate-on-hostages-until-fighting-over/
      title: "Hamas: We will not negotiate on hostages until fighting over"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-seeks-legal-advise-on-lungus-pf-presidency/
      title: "Govt Seeks Legal Advise on Lungu’s  PF Presidency"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zaf-to-invest-in-all-sports-disciplines/
      title: "ZAF to Invest in All Sports Disciplines"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/pool-team-leaves-for-african-championship/
      title: "Pool Team Leaves for African Championship"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/afghanistan-earthquake-more-than-1000-dead-as-villagers-dig-for-survivors/
      title: "Afghanistan earthquake: More than 1,000 dead as villagers dig for survivors"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mulusa-describes-mundubiles-actions-as-unfortunate/
      title: "Mulusa Describes Mundubile’s Actions as Unfortunate"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fra-pays-out-over-230m-kwacha-to-muchinga-maize-farmers/
      title: "FRA Pays Out over 230M Kwacha To Muchinga Maize Farmers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/domestic-human-trafficking-on-the-rise/
      title: "“Domestic Human Trafficking On the Rise”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nalumango-asks-chiefs-to-plant-trees/
      title: "Nalumango Asks Chiefs to Plant Trees"
---
