---
title: "Friday, December 8th, 2023"
description: This is the one hundred and thirty-second episode of the podcast.
tags: episode
episode: "132"
date: 2023-12-08T17:17:32.567350+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-12-08_podcast_dist.mp3
    length: 5 minutes, 41 seconds
    size: 5.23 MB
rss:
    enclosure_length: 5487860
    itunes_duration: 05:41
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 25 minutes, 19 seconds
words:
    count: 803
    rate: 141 words per minute
references:
    count: 10
    sources: 2
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/suspected-criminal-shot-dead-in-lusaka/?utm_source=rss&utm_medium=rss&utm_campaign=suspected-criminal-shot-dead-in-lusaka
      title: "Suspected criminal shot dead in Lusaka"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/over-two-million-kwacha-forfeited-to-the-state/
      title: "Over two million kwacha forfeited to the state"
    - source: Mwebantu
      url: https://www.mwebantu.com/masturbation-comment-invites-sean-tembo-to-court/?utm_source=rss&utm_medium=rss&utm_campaign=masturbation-comment-invites-sean-tembo-to-court
      title: "Masturbation comment invites Sean Tembo to court"
    - source: Mwebantu
      url: https://www.mwebantu.com/trade-kings-foundation-donates-over-two-million-kwacha-to-local-farmers/?utm_source=rss&utm_medium=rss&utm_campaign=trade-kings-foundation-donates-over-two-million-kwacha-to-local-farmers
      title: "Trade Kings Foundation donates over Two million kwacha to local farmers"
    - source: Mwebantu
      url: https://www.mwebantu.com/zicta-directs-airtel-to-compensate-subscribers-for-poor-service/?utm_source=rss&utm_medium=rss&utm_campaign=zicta-directs-airtel-to-compensate-subscribers-for-poor-service
      title: "ZICTA directs Airtel to compensate subscribers for poor service"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/headway-made-in-retrieving-trapped-miners/
      title: "Three dead bodies found at Senseli Mine"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sierra-leone-ex-leader-koroma-summoned-over-failed-coup/
      title: "Sierra Leone ex-leader Koroma summoned over failed coup"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hunter-bidens-tax-indictment-drugs-escorts-and-girlfriends/
      title: "Hunter Biden’s tax indictment: Drugs, escorts and girlfriends"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-recalls-metformin-tablets-due-to-non-compliance/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-recalls-metformin-tablets-due-to-non-compliance
      title: "Zambia recalls metformin tablets due to non-compliance"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/koffi-olomides-kenya-show-in-disarray-over-debt/
      title: "Koffi Olomide’s Kenya show in disarray over debt"
---
