---
title: "Wednesday, August 2nd, 2023"
description: This is the forty-fourth episode of the podcast.
tags: episode
episode: "044"
date: 2023-08-02T19:39:54.437195+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-08-02_podcast_dist.mp3
    length: 12 minutes, 34 seconds
    size: 11.55 MB
rss:
    enclosure_length: 12109587
    itunes_duration: 12:34
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 12 seconds
words:
    count: 1,805
    rate: 144 words per minute
references:
    count: 26
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/02/womens-football-on-the-rise-in-zambia-mweene/
      title: "Women’s football on the rise in Zambia – Mweene"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/02/govt-pays-for-muzalas-treatment/
      title: "Govt pays for Muzala’s treatment"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/02/luapula-mob-attacks-minister-as-he-goes-to-inspect-sugilite-mine/
      title: "Luapula mob attacks minister as he goes to inspect Sugilite mine"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-makes-strides-in-mining-investment-from-japan/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-makes-strides-in-mining-investment-from-japan
      title: "Zambia makes strides in mining investment from Japan"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/trump-charged-with-plotting-to-overturn-election-defeat/
      title: "Trump charged with plotting to overturn election defeat"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/niger-power-blackouts-blamed-on-coup-sanctions/
      title: "Niger power blackouts blamed on coup sanctions"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/02/upnd-has-topsy-turvy-understanding-of-zns-functions-mpombo/
      title: "UPND has topsy turvy understanding of ZNS functions – Mpombo"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lizzo-accused-of-sexual-harassment-and-fat-shaming-arianna-davis-crystal-williams-and-noelle-rodriguez/
      title: "Lizzo accused of sexual harassment and fat-shaming Arianna Davis, Crystal Williams and Noelle Rodriguez"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fire-sweeps-through-chisokone-curio-market/
      title: "Fire Sweeps Through Chisokone Curio Market"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/over-k100m-stolen-from-solwezi-council/
      title: "Over K100m Stolen From Solwezi Council"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fitch-downgrades-us-credit-rating-from-aaa-to-aa/
      title: "Fitch downgrades US credit rating from AAA to AA+"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/wizkid-makes-history-with-over-one-billion-uk-streams/
      title: "Wizkid makes history with over one billion UK streams"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/02/mwali-drops-out-of-chess-world-cup-after-round-one/
      title: "Mwali drops out of chess World Cup after round one"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-legalize-motorcycles-for-public-transport/
      title: "Govt to Legalize Motorcycles for Public Transport"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nalichanda-to-remain-in-new-zealand/
      title: "Nali,Chanda To Remain in New Zealand"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/south-africa-through-to-round-of-16/
      title: "South Africa Through to Round of 16"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/08/02/emotional-haimbe-lost-an-opportunity-to-explain-npa-bill/
      title: "Emotional Haimbe lost an opportunity to explain NPA bill"
    - source: Mwebantu
      url: https://www.mwebantu.com/ndola-man-arrested-for-having-sex-with-goat-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=ndola-man-arrested-for-having-sex-with-goat-police-say
      title: "Ndola man arrested for having sex with goat, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-rebuild-businesses-affected-by-chisokone-market-fire/
      title: "Govt To  Rebuild Businesses Affected by Chisokone Market Fire"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/02/lcc-anticipates-2000-marriages-by-year-end/
      title: "LCC anticipates 2,000 marriages by year end"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/02/tiz-jawuz-toast-to-concourts-judgment-on-judiciarys-financial-independence/
      title: "TIZ, JAWUZ toast to ConCourt’s judgment on Judiciary’s financial independence"
    - source: Mwebantu
      url: https://www.mwebantu.com/chisokone-market-fire-leaves-shop-owners-in-ruins/?utm_source=rss&utm_medium=rss&utm_campaign=chisokone-market-fire-leaves-shop-owners-in-ruins
      title: "Chisokone market fire leaves shop owners in Ruins"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/02/kambikambi-tips-athletes-to-take-advantage-of-commonwealth-youth-games/
      title: "Kambikambi tips athletes to take advantage of Commonwealth Youth Games"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/02/ceec-performing-better-than-ever-jito/
      title: "CEEC performing better than ever – Jito"
    - source: Mwebantu
      url: https://www.mwebantu.com/rock-weighing-41-kilograms-falls-from-the-sky/?utm_source=rss&utm_medium=rss&utm_campaign=rock-weighing-41-kilograms-falls-from-the-sky
      title: "Rock weighing 41 kilograms ‘falls’ from the sky"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/gianluigi-buffon-italy-legend-retires-aged-45/
      title: "Gianluigi Buffon: Italy legend retires aged 45"
---
