---
title: "Monday, August 28th, 2023"
description: This is the sixty-first episode of the podcast.
tags: episode
episode: "061"
date: 2023-08-28T17:21:10.850648+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-08-28_podcast_dist.mp3
    length: 15 minutes, 42 seconds
    size: 14.41 MB
rss:
    enclosure_length: 15105098
    itunes_duration: 15:42
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 28 minutes, 52 seconds
words:
    count: 2,185
    rate: 139 words per minute
references:
    count: 32
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/08/28/constituency-development-fund-cdf-to-the-rescue/
      title: "Constituency Development Fund (CDF) to the Rescue?"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/28/mutondo-stars-edge-nkana/
      title: "Mutondo Stars edge Nkana"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/corrupt-shouldnt-cry/?utm_source=rss&utm_medium=rss&utm_campaign=corrupt-shouldnt-cry
      title: "Corrupt shouldn’t cry"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/court-of-appeal-upholds-death-sentence/?utm_source=rss&utm_medium=rss&utm_campaign=court-of-appeal-upholds-death-sentence
      title: "Court of Appeal upholds death sentence"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/28/zesco-reintroduces-electricity-connection-subsidy-targets-8300-customers/
      title: "Zesco reintroduces electricity connection subsidy, targets 8,300 customers"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/youth-participation-in-agriculture-vital/?utm_source=rss&utm_medium=rss&utm_campaign=youth-participation-in-agriculture-vital
      title: "Youth participation in agriculture vital"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/28/cybercrime-has-become-aggressive-its-keeping-banks-awake-melu/
      title: "Cybercrime has become aggressive, it’s keeping banks awake – Melu"
    - source: Mwebantu
      url: https://www.mwebantu.com/laz-dismayed-with-the-alleged-abuse-of-poa-by-police-under-upnd/?utm_source=rss&utm_medium=rss&utm_campaign=laz-dismayed-with-the-alleged-abuse-of-poa-by-police-under-upnd
      title: "LAZ dismayed with the alleged abuse of POA by police under UPND"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/28/grant-means-business/
      title: "Grant means business"
    - source: Mwebantu
      url: https://www.mwebantu.com/cobusu-president-expelled/?utm_source=rss&utm_medium=rss&utm_campaign=cobusu-president-expelled
      title: "COBUSU president expelled"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-juveniles-aged-15-and-16-have-been-arrested-in-kitwe-for-stealing-a-motor-vehicle-valued-at-k180000-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=two-juveniles-aged-15-and-16-have-been-arrested-in-kitwe-for-stealing-a-motor-vehicle-valued-at-k180000-police-say
      title: "Two juveniles aged 15 and 16 have been arrested in Kitwe for stealing a motor vehicle valued at K180,000, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-should-double-maize-production-nyendwa/
      title: "Zambia should double maize production – NYENDWA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/two-teenagers-nabbed-for-motor-vehicle-theft/
      title: "Two teenagers nabbed for motor vehicle theft"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-advertise-bids-for-stadia-rehab-nkandu/
      title: "Govt to advertise bids for stadia rehab – NKANDU"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/protests-erupt-in-libya-over-contact-with-israel/
      title: "Protests erupt in Libya over contact with Israel"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/over-k26m-paid-to-mafinga-farmers/
      title: "Over K26m paid to Mafinga farmers"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/creating-safe-spaces-for-kids-amid-hostility/?utm_source=rss&utm_medium=rss&utm_campaign=creating-safe-spaces-for-kids-amid-hostility
      title: "Creating safe spaces for kids amid hostility"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/28/macro-ocean-within-time-in-terms-of-reaching-financial-closure-govt/
      title: "Macro-Ocean within time in terms of reaching financial closure – Govt"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/28/african-football-lacks-planning-gyan/
      title: "African football lacks planning – Gyan"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/08/28/poa-an-oppressive-tool-for-all-successive-govts/
      title: "POA, an oppressive tool for all successive govts"
    - source: Mwebantu
      url: https://www.mwebantu.com/isoka-woman-gang-raped-and-bottle-inserted-in-her-private-parts/?utm_source=rss&utm_medium=rss&utm_campaign=isoka-woman-gang-raped-and-bottle-inserted-in-her-private-parts
      title: "Isoka woman gang raped and bottle inserted in her private parts"
    - source: Mwebantu
      url: https://www.mwebantu.com/meteorological-department-says-certain-parts-of-the-country-are-expected-to-experience-increased-wind-speed-and-reduction-in-temperature/?utm_source=rss&utm_medium=rss&utm_campaign=meteorological-department-says-certain-parts-of-the-country-are-expected-to-experience-increased-wind-speed-and-reduction-in-temperature
      title: "Meteorological department says certain parts of the country are expected to experience increased wind speed and reduction in temperature"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/28/yango-driver-found-dead-in-kabwata/
      title: "Yango driver found dead in Kabwata"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/power-not-intimidated-by-simba-date-coach/?utm_source=rss&utm_medium=rss&utm_campaign=power-not-intimidated-by-simba-date-coach
      title: "Power not intimidated by Simba date – coach"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/eiz-suspends-licence-for-stalwart-investment/
      title: "EIZ suspends licence for Stalwart Investment"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/08/28/muza-thrashes-cano-sport/
      title: "MUZA thrashes Cano Sport"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/van-blerk-loses-again-in-decades-old-baobab-land-saga/?utm_source=rss&utm_medium=rss&utm_campaign=van-blerk-loses-again-in-decades-old-baobab-land-saga
      title: "Van Blerk loses again in decades-old Baobab land saga"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/goals-galore-at-heroes/?utm_source=rss&utm_medium=rss&utm_campaign=goals-galore-at-heroes
      title: "Goals galore at Heroes"
    - source: Mwebantu
      url: https://www.mwebantu.com/yango-driver-murdered-by-unknown-criminals-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=yango-driver-murdered-by-unknown-criminals-police-say
      title: "Yango driver murdered by unknown criminals, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/kalomo-woman-murdered-in-cold-blood-after-serving-her-estranged-husband-with-divorce-summons-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=kalomo-woman-murdered-in-cold-blood-after-serving-her-estranged-husband-with-divorce-summons-police-say
      title: "Kalomo woman murdered in cold blood after serving her estranged husband with divorce summons, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/un-chief-expresses-concern-over-zimbabwe-polls/
      title: "UN chief expresses concern over Zimbabwe polls"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chinese-firm-eyes-electric-bikes-industry/
      title: "Chinese firm eyes electric bikes industry"
---
