---
title: "Friday, September 22nd, 2023"
description: This is the seventy-eighth episode of the podcast.
tags: episode
episode: "078"
date: 2023-09-22T16:56:33.673802+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-09-22_podcast_dist.mp3
    length: 13 minutes, 50 seconds
    size: 12.70 MB
rss:
    enclosure_length: 13321252
    itunes_duration: 13:50
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 18 seconds
words:
    count: 1,968
    rate: 142 words per minute
references:
    count: 26
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/22/gary-shares-lessons-from-china/
      title: "Gary shares lessons from China"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/22/parley-rejects-motion-urging-govt-to-create-separate-cells-for-minor-offences/
      title: "Parley rejects motion urging govt to create separate cells for minor offences"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/22/miles-applies-for-leave-to-commence-contempt-proceedings-against-lubinda-nakacinda/
      title: "Miles applies for leave to commence contempt proceedings against Lubinda, Nakacinda"
    - source: Mwebantu
      url: https://www.mwebantu.com/ecls-daughther-says-her-parents-paid-for-purchase-of-her-plot-and-it-is-not-a-crime-to-have-supportive-parents/?utm_source=rss&utm_medium=rss&utm_campaign=ecls-daughther-says-her-parents-paid-for-purchase-of-her-plot-and-it-is-not-a-crime-to-have-supportive-parents
      title: "ECL’s daughther says her parents paid for purchase of her plot and it is not a crime to have supportive parents"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/vet-dept-slaughters-600-pigs-with-swine-fever/
      title: "Vet Dept Slaughters 600 Pigs to Prevent the Spread of Swine Fever"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/146987-2/
      title: "Asteroid sample hurtling towards earth"
    - source: Mwebantu
      url: https://www.mwebantu.com/make-your-political-intentions-clear-nalumango-advises-lungu/?utm_source=rss&utm_medium=rss&utm_campaign=make-your-political-intentions-clear-nalumango-advises-lungu
      title: "Make your political intentions clear, Nalumango advises Lungu"
    - source: Mwebantu
      url: https://www.mwebantu.com/recruitment-unicaf-university/?utm_source=rss&utm_medium=rss&utm_campaign=recruitment-unicaf-university
      title: "Recruitment – Unicaf University"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-plans-to-connect-1m-rural-dwellers-to-electricity/
      title: "HH Plans to Connect 1m Rural dwellers to Electricity"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mohbad-mourners-teargassed-at-nigerias-lekki-toll-gate-after-lagos-concert/
      title: "MohBad mourners teargassed at Nigeria’s Lekki toll gate after Lagos concert"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/comesa-concerned-with-situation-in-sudan/
      title: "COMESA Concerned with Situation in Sudan"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/znbc-tv-to-show-copper-queens-match-against-morocco/
      title: "ZNBC TV to Show Copper Queens Match Against Morocco"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/22/court-allows-sampa-to-commence-contempt-proceedings-against-lubinda-nakacinda/
      title: "Court allows Sampa to commence contempt proceedings against Lubinda, Nakacinda"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/22/measures-put-in-place-to-address-high-fuel-prices-not-working-omcaz/
      title: "Measures put in place to address high fuel prices not working – OMCAZ"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/09/22/govt-awards-chinyemba-5000-after-olympic-qualification/
      title: "Govt awards Chinyemba $5000 after Olympic qualification"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mwami-border-gets-scanners/
      title: "Mwami Border Post Gets Scanners"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/22/my-state-lodge-property-was-paid-for-by-my-parents-at-k3m-lungus-daughter/
      title: "My State Lodge property was paid for by my parents at K3m – Lungu’s daughter"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/22/its-a-breach-of-law-to-compensate-people-who-got-nolle-chisanga/
      title: "It’s a breach of law to compensate people who got nolle – Chisanga"
    - source: Mwebantu
      url: https://www.mwebantu.com/16-year-old-north-western-province-boy-allegedly-kills-himself-after-being-told-to-take-responsibility-for-impregnating-a-girl/?utm_source=rss&utm_medium=rss&utm_campaign=16-year-old-north-western-province-boy-allegedly-kills-himself-after-being-told-to-take-responsibility-for-impregnating-a-girl
      title: "16-year-old North Western Province boy allegedly kills himself after being told to take responsibility for impregnating a girl"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/uth-launches-service-charter/
      title: "UTH Launches Service Charter"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/22/govt-explains-delay-in-appointing-zamtel-board-the-process-is-hectic/
      title: "Govt explains delay in appointing Zamtel board: the process is hectic"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/22/take-sichembe-to-court-so-that-hes-freed-demands-lawyer/
      title: "Take Sichembe to court so that he’s freed, demands lawyer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-taking-steps-to-digital-financial-inclusion/
      title: "“Govt Taking Steps to Digital Financial Inclusion”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lusaka-girls-chainda-primary-schools-get-conferencing-equipment/
      title: "Lusaka Girls, Chainda Primary Schools Get Conferencing Equipment"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-resident-discovers-a-head-of-a-baby-in-a-rubbish-pit-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-resident-discovers-a-head-of-a-baby-in-a-rubbish-pit-police-say
      title: "Lusaka resident discovers a head of a baby in a rubbish pit, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lungu-asked-to-state-of-hes-retired-or-not/
      title: "Lungu Asked to State if He’s Retired or Not"
---
