---
title: "Thursday, November 23rd, 2023"
description: This is the one hundred and twenty-first episode of the podcast.
tags: episode
episode: "121"
date: 2023-11-23T17:01:43.771414+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-11-23_podcast_dist.mp3
    length: 7 minutes, 38 seconds
    size: 7.03 MB
rss:
    enclosure_length: 7367843
    itunes_duration: 07:38
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 8 minutes, 13 seconds
words:
    count: 1,084
    rate: 142 words per minute
references:
    count: 13
    sources: 1
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-dates-kasama/
      title: "HH Dates Kasama"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/jamie-foxx-accused-of-sexual-assault-at-nyc-rooftop-bar-in-2015/
      title: "Jamie Foxx accused of sexual assault at NYC rooftop bar in 2015"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/melissa-barrera-actress-fired-from-scream-7-over-israel-gaza-posts/
      title: "Melissa Barrera: Actress fired from Scream 7 over Israel-Gaza posts"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ex-obama-aide-held-over-anti-muslim-abuse-at-nyc-halal-cart-vendor/
      title: "Ex-Obama aide held over anti-Muslim abuse at NYC halal cart vendor"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/dutch-election-anti-islam-populist-geert-wilders-wins-dramatic-victory/
      title: "Dutch election: Anti-Islam populist Geert Wilders wins dramatic victory"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/eagle-mealie-meal-set-for-northern-markets/
      title: "Eagle mealie meal set for Northern markets"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cdf-a-window-of-opportunity-for-financial-institutions-chipata-mayor/
      title: "CDF a window of opportunity for financial institutions-Chipata Mayor"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sa-parliament-suspends-malema-other-mps-for-a-month/
      title: "SA parliament suspends Malema, other MPs for a month"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mutati-calls-for-digitalization-of-financial-sector/
      title: "Mutati calls for digitalization of financial sector"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/copper-queens-get-additions-ahead-of-angola-wafcon-qualifier/
      title: "Copper Queens get additions ahead of Angola Wafcon Qualifier"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/heavy-rains-destroy-siavonga-homes/
      title: "Heavy rains destroy Siavonga homes"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rea-starts-construction-of-biogas-digesters-in-schools/
      title: "REA starts construction of biogas digesters in schools"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/four-suspected-zambian-human-traffickers-nabbed/
      title: "Zambian human trafficking ring busted"
---