---
title: "Friday, July 21st, 2023"
description: This is the thirty-sixth episode of the podcast.
tags: episode
episode: "036"
date: 2023-07-21T17:05:54.278505+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-07-21_podcast_dist.mp3
    length: 17 minutes, 9 seconds
    size: 15.74 MB
rss:
    enclosure_length: 16501080
    itunes_duration: 17:09
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 13 minutes, 37 seconds
words:
    count: 2,471
    rate: 144 words per minute
references:
    count: 38
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/tambatamba-checks-on-compliance-levels/?utm_source=rss&utm_medium=rss&utm_campaign=tambatamba-checks-on-compliance-levels
      title: "Tambatamba checks on compliance levels"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/stop-land-encroachments/?utm_source=rss&utm_medium=rss&utm_campaign=stop-land-encroachments
      title: "Stop land encroachments"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/japan-in-sleepless-nights/?utm_source=rss&utm_medium=rss&utm_campaign=japan-in-sleepless-nights
      title: "‘Japan in sleepless nights’"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/revisiting-lessons-from-titan-sub-implosion/?utm_source=rss&utm_medium=rss&utm_campaign=revisiting-lessons-from-titan-sub-implosion
      title: "Revisiting lessons from Titan sub implosion"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/21/therere-no-easy-games-but-play-to-your-strengths-grant-tips-copper-queens/
      title: "There’re no easy games but play to your strengths, Grant tips Copper Queens"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/21/fic-now-has-more-tools-to-detect-suspicious-transactions-kabesha/
      title: "FIC now has more tools to detect suspicious transactions – Kabesha"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/21/i-cant-race-until-i-heal-but-i-pray-for-a-miracle-muzala/
      title: "I can’t race until I heal, but I pray for a miracle – Muzala"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/21/meeting-hh-over-cdf-unnecessary-we-dont-want-our-mps-being-abducted-afterwards-pf/
      title: "Meeting HH over CDF unnecessary, we don’t want our MPs being abducted afterwards – PF"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/21/weve-learnt-our-job-is-not-to-excite-the-public-fic/
      title: "We’ve learnt our job is not to excite the public – FIC"
    - source: Mwebantu
      url: https://www.mwebantu.com/star-african-football-player-to-watch-barbra-banda/?utm_source=rss&utm_medium=rss&utm_campaign=star-african-football-player-to-watch-barbra-banda
      title: "Star African football player to watch: Barbra Banda"
    - source: Mwebantu
      url: https://www.mwebantu.com/govt-expresses-commitment-to-addressing-development-challenges-at-national-level/?utm_source=rss&utm_medium=rss&utm_campaign=govt-expresses-commitment-to-addressing-development-challenges-at-national-level
      title: "Govt expresses commitment to addressing development challenges at national level"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/schoolgirl-narrates-how-2-ndola-men-defiled-he/?utm_source=rss&utm_medium=rss&utm_campaign=schoolgirl-narrates-how-2-ndola-men-defiled-he
      title: "Schoolgirl narrates how 2 Ndola men defiled he"
    - source: Mwebantu
      url: https://www.mwebantu.com/witnesses-tell-court-document-allegedly-stolen-by-amos-is-just-missing/?utm_source=rss&utm_medium=rss&utm_campaign=witnesses-tell-court-document-allegedly-stolen-by-amos-is-just-missing
      title: "Witnesses tell court document allegedly stolen by Amos is just missing"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-woman-drags-nakonde-mp-to-court-over-child-maintenence/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-woman-drags-nakonde-mp-to-court-over-child-maintenence
      title: "Lusaka woman drags Nakonde MP to court over child maintenence"
    - source: Mwebantu
      url: https://www.mwebantu.com/minister-calls-on-mps-to-support-the-removal-of-street-vendors/?utm_source=rss&utm_medium=rss&utm_campaign=minister-calls-on-mps-to-support-the-removal-of-street-vendors
      title: "Minister calls on MPs to support the removal of street vendors"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/judge-admits-photo-evidence-in-nsama-case/?utm_source=rss&utm_medium=rss&utm_campaign=judge-admits-photo-evidence-in-nsama-case
      title: "Judge admits photo evidence in Nsama case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/putin-may-still-seek-revenge-on-wagner-boss-cia-chief/
      title: "Putin may still seek revenge on Wagner boss – CIA chief"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zam-calls-for-increased-value-addition/
      title: "ZAM calls for increased value addition"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/switzerland-see-of-world-cup-debutants-philippines/
      title: "Switzerland see off World Cup debutants Philippines"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/unsung-hero-of-journalism-now-sung-hero/?utm_source=rss&utm_medium=rss&utm_campaign=unsung-hero-of-journalism-now-sung-hero
      title: "Unsung hero of journalism, now sung hero"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/mp-sued-over-child-support/?utm_source=rss&utm_medium=rss&utm_campaign=mp-sued-over-child-support
      title: "MP sued over child support"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/copper-queens-suffer-setback-as-grace-chanda-ruled-out-of-world-cup/
      title: "Copper Queens suffer setback as Grace Chanda ruled out of world cup"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/21/govt-has-budgeted-k500m-for-recaptalisation-of-natsave-mutati/
      title: "Govt has budgeted K500m for recaptalisation of NATSAVE – Mutati"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/07/21/nakonde-mps-baby-mama-sues-for-child-maintenance/
      title: "Nakonde Mp’s ‘baby mama’ sues for child maintenance"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/07/21/upnd-killed-fic-by-denying-it-leadership/
      title: "UPND killed FIC by denying it leadership"
    - source: Mwebantu
      url: https://www.mwebantu.com/grace-chanda-out-of-world-cup-spain-win-big/?utm_source=rss&utm_medium=rss&utm_campaign=grace-chanda-out-of-world-cup-spain-win-big
      title: "Grace Chanda out of World Cup, Spain win big"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mutati-urges-parents-to-constructively-engage-children-on-social-media-use/
      title: "Mutati urges parents to constructively engage children on social media use"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/local-tourism-revealing-munda-wanga-visit/?utm_source=rss&utm_medium=rss&utm_campaign=local-tourism-revealing-munda-wanga-visit
      title: "Local tourism: Revealing Munda Wanga visit"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/wooley-lauds-zambia-police-for-retraining-officers/
      title: "Wooley lauds Zambia Police for retraining officers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/veep-warns-millers-against-exaggerating-mealie-meal-prices/
      title: "Veep warns millers against exaggerating mealie meal prices"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nkandu-challenges-copper-queens-to-rise-to-the-ocassion/
      title: "Nkandu challenges Copper Queens to rise to the ocassion"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/07/21/court-issues-another-bench-warrant-for-kaizer/
      title: "Court issues another bench warrant for Kaizer"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/07/21/cof-bloggers-of-zambia-challenge-zictas-mandatory-sim-card-live-facial-capture-directive/
      title: "COF, Bloggers of Zambia challenge ZICTA’s mandatory sim card live facial capture directive"
    - source: Mwebantu
      url: https://www.mwebantu.com/its-painful-grace-chanda-regrets-missing-world-cup/?utm_source=rss&utm_medium=rss&utm_campaign=its-painful-grace-chanda-regrets-missing-world-cup
      title: "‘It’s painful;’ Grace Chanda regrets missing World Cup."
    - source: Mwebantu
      url: https://www.mwebantu.com/repatriation-of-zambian-woman-who-died-on-a-bus-while-travelling-to-south-africa-to-be-done-next-week/?utm_source=rss&utm_medium=rss&utm_campaign=repatriation-of-zambian-woman-who-died-on-a-bus-while-travelling-to-south-africa-to-be-done-next-week
      title: "Repatriation of Zambian woman who died on a bus while travelling to South Africa to be done next week"
    - source: Mwebantu
      url: https://www.mwebantu.com/barbra-banda-seeks-clarity-on-allowances-minister-of-sport-assures-copper-queens-of-us5000-winning-bonus-per-victory/?utm_source=rss&utm_medium=rss&utm_campaign=barbra-banda-seeks-clarity-on-allowances-minister-of-sport-assures-copper-queens-of-us5000-winning-bonus-per-victory
      title: "Barbra Banda Seeks Clarity on Allowances, Minister of Sport Assures Copper Queens of US$5,000 Winning Bonus per victory"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/senior-chief-inyambo-yeta-dies/
      title: "Senior Chief Inyambo Yeta dies"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/parley-suspends-chienge-mp-for-misconduct/
      title: "Parley suspends Chienge MP for misconduct"
---
