---
title: "Tuesday, October 17th, 2023"
description: This is the ninety-fourth episode of the podcast.
tags: episode
episode: "094"
date: 2023-10-17T16:55:43.520576+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-10-17_podcast_dist.mp3
    length: 10 minutes, 51 seconds
    size: 9.97 MB
rss:
    enclosure_length: 10451961
    itunes_duration: 10:51
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 27 seconds
words:
    count: 1,566
    rate: 144 words per minute
references:
    count: 20
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/17/chipolopolo-faces-uganda/
      title: "Chipolopolo faces Uganda"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/17/zambia-receives-first-batch-of-medical-supplies-from-egypt/
      title: "Zambia receives first batch of medical supplies from Egypt"
    - source: Mwebantu
      url: https://www.mwebantu.com/multichoice-talent-factory-wraps-up-training-roadshow/?utm_source=rss&utm_medium=rss&utm_campaign=multichoice-talent-factory-wraps-up-training-roadshow
      title: "MultiChoice Talent Factory wraps up training roadshow"
    - source: Mwebantu
      url: https://www.mwebantu.com/man-kills-wife-and-commits-suicide-leaving-their-seven-month-old-child/?utm_source=rss&utm_medium=rss&utm_campaign=man-kills-wife-and-commits-suicide-leaving-their-seven-month-old-child
      title: "Man kills wife and commits suicide, leaving their seven month old child"
    - source: Mwebantu
      url: https://www.mwebantu.com/food-basket-for-a-family-of-five-rises-to-over-k9000-per-month/?utm_source=rss&utm_medium=rss&utm_campaign=food-basket-for-a-family-of-five-rises-to-over-k9000-per-month
      title: "Food basket for a family of five rises to over K9,000 per month"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sec-inks-deal-to-curb-illicit-financial-flows/
      title: "SEC inks deal to curb illicit financial flows"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/donald-trump-gets-gag-order-in-2020-election-meddling-case/
      title: "Donald Trump gets gag order in 2020 election meddling case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/putin-in-china-aiming-to-strengthen-anti-west-coalition/
      title: "Putin in China aiming to strengthen anti-West coalition"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/talks-to-digitize-social-cash-transfer-on/
      title: "Talks to digitize social cash transfer on"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipolopolo-cranes-lock-horns/
      title: "Chipolopolo ,Cranes lock horns"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/17/adequate-preparations-key-to-afcon-success-kamanga/
      title: "Adequate preparations key to AFCON success – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/17/upnd-govt-has-registered-over-23000-cooperatives-in-2-yrs-mubanga/
      title: "UPND govt has registered over 23,000 cooperatives in 2 yrs – Mubanga"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/17/zns-eagles-mealie-meal-is-fastest-selling-brand-we-have-shoprite/
      title: "ZNS’ Eagles mealie meal is fastest selling brand we have – Shoprite"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/millers-asked-to-explain-failure-to-make-profits/
      title: "Millers asked to explain failure to make profits"
    - source: Mwebantu
      url: https://www.mwebantu.com/court-hears-how-husband-teams-up-with-sister-to-beat-his-wife/?utm_source=rss&utm_medium=rss&utm_campaign=court-hears-how-husband-teams-up-with-sister-to-beat-his-wife
      title: "Court hears how husband teams up with sister to beat his wife"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/brussels-shooting-police-shoot-dead-attacker-who-killed-swedes/
      title: "Brussels shooting: Police shoot dead attacker who killed Swedes"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-calls-for-end-to-global-hostilities/
      title: "HH calls for end to global hostilities"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/10/17/ministry-of-youth-needs-a-ps-with-sports-background/
      title: "Ministry of Youth needs a PS with sports background"
    - source: Mwebantu
      url: https://www.mwebantu.com/ministry-of-health-officials-arrested-for-alleged-theft-of-latex-gloves-at-uth/?utm_source=rss&utm_medium=rss&utm_campaign=ministry-of-health-officials-arrested-for-alleged-theft-of-latex-gloves-at-uth
      title: "Ministry of Health officials arrested for alleged theft of latex gloves at UTH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/csos-welcome-mou-on-debt/
      title: "CSO’s welcome MoU on debt"
---
