---
title: "Friday, October 20th, 2023"
description: This is the ninety-seventh episode of the podcast.
tags: episode
episode: "097"
date: 2023-10-20T17:00:51.093168+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-10-20_podcast_dist.mp3
    length: 10 minutes, 7 seconds
    size: 9.29 MB
rss:
    enclosure_length: 9745609
    itunes_duration: 10:07
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 8 minutes, 36 seconds
words:
    count: 1,425
    rate: 141 words per minute
references:
    count: 17
    sources: 2
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/unka-gos-general-manager-shares-remarks-at-lusaka-tigers-fc-mou-sponsorship-handover/?utm_source=rss&utm_medium=rss&utm_campaign=unka-gos-general-manager-shares-remarks-at-lusaka-tigers-fc-mou-sponsorship-handover
      title: "Unka-Go’s General manager shares remarks at Lusaka Tigers FC MoU Sponsorship Handover"
    - source: Mwebantu
      url: https://www.mwebantu.com/yango-rolls-out-benefits-program-for-partner-drivers-couriers-in-zambia/?utm_source=rss&utm_medium=rss&utm_campaign=yango-rolls-out-benefits-program-for-partner-drivers-couriers-in-zambia
      title: "YANGO rolls out Benefits program for partner drivers & couriers in Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/300-people-left-homeless-in-lumezi/
      title: "300 people left homeless in Lumezi"
    - source: Mwebantu
      url: https://www.mwebantu.com/kitwe-man-dies-after-being-attacked-by-a-crocodile-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=kitwe-man-dies-after-being-attacked-by-a-crocodile-police-say
      title: "Kitwe man dies after being attacked by a crocodile, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/77-zambians-safely-evacuated-back-to-zambia-amid-gaza-strip-conflict/?utm_source=rss&utm_medium=rss&utm_campaign=77-zambians-safely-evacuated-back-to-zambia-amid-gaza-strip-conflict
      title: "77 Zambians safely evacuated back to Zambia amid Gaza strip conflict"
    - source: Mwebantu
      url: https://www.mwebantu.com/archbishop-telesphore-mpundu-raises-concern-over-alleged-power-abuse-by-new-dawn-administration/?utm_source=rss&utm_medium=rss&utm_campaign=archbishop-telesphore-mpundu-raises-concern-over-alleged-power-abuse-by-new-dawn-administration
      title: "Archbishop Telesphore Mpundu raises concern over alleged power abuse by New Dawn Administration"
    - source: Mwebantu
      url: https://www.mwebantu.com/maize-supplied-by-zambia-national-service-zns-is-non-gmo-says-vice-president/?utm_source=rss&utm_medium=rss&utm_campaign=maize-supplied-by-zambia-national-service-zns-is-non-gmo-says-vice-president
      title: "Maize supplied by Zambia National Service (ZNS) is Non-GMO, says Vice President"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-lauds-lobito-corridor-and-zambia-lobito-greenfield-railway-as-game-changers/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-lauds-lobito-corridor-and-zambia-lobito-greenfield-railway-as-game-changers
      title: "President Hichilema lauds Lobito Corridor and Zambia-Lobito Greenfield Railway as game-changers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/china-has-sharply-expanded-nuclear-arsenal-us-says/
      title: "China has sharply expanded nuclear arsenal, US says"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lumwana-mine-in-need-of-25000-chickens-per-month/
      title: "Lumwana mine in need of 25,000 Chickens per month"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/talks-with-private-creditors-to-gain-momentum-dr-musokotwane/
      title: "Talks with private creditors to gain momentum – Dr. MUSOKOTWANE"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zns-intervention-critical-in-stabilizing-mealie-meal-prices-veep/
      title: "ZNS intervention, critical in stabilizing mealie meal prices – VEEP"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-ensure-professionalism-in-public-service/
      title: "Govt to ensure professionalism in Public Service"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/syakalima-warns-peos-debs/
      title: "SYAKALIMA warns PEOs & DEBS"
    - source: Mwebantu
      url: https://www.mwebantu.com/30-suspected-ethiopians-detained-for-illegal-entry-into-the-country/?utm_source=rss&utm_medium=rss&utm_campaign=30-suspected-ethiopians-detained-for-illegal-entry-into-the-country
      title: "30 suspected Ethiopians detained for illegal entry into the country."
    - source: Mwebantu
      url: https://www.mwebantu.com/father-found-with-case-to-answer-in-a-case-he-is-accused-of-defiling-his-13-year-old-daughter/?utm_source=rss&utm_medium=rss&utm_campaign=father-found-with-case-to-answer-in-a-case-he-is-accused-of-defiling-his-13-year-old-daughter
      title: "Father found with case to answer in a case he is accused of defiling his 13 year old daughter."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/betway-zambia-unveils-k10m-annual-sponsorship-for-zpl/
      title: "Betway Zambia unveils K10m annual sponsorship for ZPL"
---
