---
title: "Monday, July 10th, 2023"
description: This is the twenty-seventh episode of the podcast.
tags: episode
episode: "027"
date: 2023-07-10T23:02:18.176805+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-07-10_podcast_dist.mp3
    length: 14 minutes, 31 seconds
    size: 13.33 MB
rss:
    enclosure_length: 13973263
    itunes_duration: 14:31
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 13 minutes, 22 seconds
words:
    count: 2,011
    rate: 139 words per minute
references:
    count: 29
    sources: 4
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/72-year-old-man-commits-suicide-after-murdering-his-wife-in-cold-blood-of-their-childs-paternity/?utm_source=rss&utm_medium=rss&utm_campaign=72-year-old-man-commits-suicide-after-murdering-his-wife-in-cold-blood-of-their-childs-paternity
      title: "72-year-old man commits suicide after murdering his wife in cold blood of their child’s paternity"
    - source: Mwebantu
      url: https://www.mwebantu.com/banker-in-court-in-connection-with-us175000-k1-2million-theft-from-bank-account/?utm_source=rss&utm_medium=rss&utm_campaign=banker-in-court-in-connection-with-us175000-k1-2million-theft-from-bank-account
      title: "Banker in court in connection with US$175,000, K1.2million theft from bank account"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/teachers-welcome-tmely-release-of-school-grants/
      title: "Teachers welcome tmely release of school grants"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mwaliteta-warns-youths-harassing-citizens/
      title: "Mwaliteta warns youths harassing citizens"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/no-sacred-cow-hh/?utm_source=rss&utm_medium=rss&utm_campaign=no-sacred-cow-hh
      title: "No sacred cow – HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/140830-2/
      title: "Lihefu assures farmers of early FISP distribution"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/china-kindergarten-stabbing-six-dead-in-lianjiang/
      title: "China kindergarten stabbing: Six dead in Lianjiang"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mwape-welcomes-copper-queenss-world-cup-participation/
      title: "Mwape welcomes Copper Queens’s world cup participation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mwata-kazembe-calls-for-prudent-use-of-cdf/
      title: "Mwata Kazembe calls for prudent use of CDF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mweene-retires/
      title: "Mweene retires"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/indeed-graft-fight-non-selective/?utm_source=rss&utm_medium=rss&utm_campaign=indeed-graft-fight-non-selective
      title: "Indeed graft fight non-selective"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/10/our-goats-wouldve-been-wiped-out-if-we-proceeded-with-saudi-deal-chikote/
      title: "Our goats would’ve been wiped out if we proceeded with Saudi deal – Chikote"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/07/10/achieving-sustainable-mining-in-zambia-the-role-of-technology-innovation-and-government-regulation/
      title: "Achieving Sustainable Mining in Zambia: The Role of Technology, Innovation, and Government Regulation"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/07/10/lubinda-sues-his-tenant-over-rentals/
      title: "Lubinda sues his tenant over rentals"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/10/unzalaru-congratulates-hh-on-debt-restructuring/
      title: "UNZALARU congratulates HH on debt restructuring"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mulungushi-university-develops-juice-making-machine/
      title: "Mulungushi University develops juice making machine"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/migrant-boat-from-senegal-carrying-200-people-missing-off-canary-islands/
      title: "Migrant boat from Senegal carrying 200 people missing off Canary Islands"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/10/mwali-laments-lack-of-financial-support-ahead-of-his-chess-world-cup-appearance/
      title: "Mwali laments lack of financial support ahead of his Chess World Cup appearance"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/chinese-firm-to-set-up-housing-factory/?utm_source=rss&utm_medium=rss&utm_campaign=chinese-firm-to-set-up-housing-factory
      title: "Chinese firm to set up housing factory"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/pdunot-in-competition-with-ministries-kangwa/
      title: "PDU not in competition with Ministries-Kangwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/who-calls-for-action-on-microbial-resistance/
      title: "WHO calls for action on microbial resistance"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/back-in-semi-final-contention/?utm_source=rss&utm_medium=rss&utm_campaign=back-in-semi-final-contention
      title: "Back in semi-final contention"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mwali-targets-grandmaster-norm/
      title: "Mwali targets grandmaster norm"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/banker-in-court-over-k4-million/?utm_source=rss&utm_medium=rss&utm_campaign=banker-in-court-over-k4-million
      title: "Banker in court over K4 million"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/10/timber-association-urges-govt-to-lift-mukula-ban/
      title: "Timber association urges govt to lift mukula ban"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/10/zambia-edges-comoros/
      title: "Zambia edges Comoros"
    - source: Mwebantu
      url: https://www.mwebantu.com/kennedy-mweene-retires-from-active-playing-football/?utm_source=rss&utm_medium=rss&utm_campaign=kennedy-mweene-retires-from-active-playing-football
      title: "Kennedy Mweene retires from active playing football"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kangwa-urges-private-sector-to-grow-more-food/
      title: "Kangwa urges private sector to grow more food"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/prohibited-immigrants-swell-inmates-numbers/
      title: "Prohibited Immigrants swell inmates numbers"
---
