---
title: "Monday, July 31st, 2023"
description: This is the forty-second episode of the podcast.
tags: episode
episode: "042"
date: 2023-07-31T17:02:12.782552+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-07-31_podcast_dist.mp3
    length: 16 minutes, 37 seconds
    size: 15.25 MB
rss:
    enclosure_length: 15992006
    itunes_duration: 16:37
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 55 seconds
words:
    count: 2,348
    rate: 141 words per minute
references:
    count: 33
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/govt-hailed-over-civic-space-ati/?utm_source=rss&utm_medium=rss&utm_campaign=govt-hailed-over-civic-space-ati
      title: "Govt hailed over civic space, ATI"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/31/police-nab-rockview-law-student-for-stabbing-colleague/
      title: "Police nab Rockview Law student for stabbing colleague"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/31/immigration-apprehends-over-650-in-lsk/
      title: "Immigration apprehends over 650 in Lsk"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/fra-to-buy-more/?utm_source=rss&utm_medium=rss&utm_campaign=fra-to-buy-more
      title: "FRA to buy more"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/07/31/leveraging-manganese-and-gold-mining-for-zambias-economic-growth-and-job-creation/
      title: "Leveraging Manganese and Gold Mining for Zambia’s Economic Growth and Job Creation"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/31/copper-queens-face-costa-rica-dead-rubber-fixture/
      title: "Copper Queens face Costa Rica dead rubber fixture"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/31/people-will-regret-having-taken-their-napsa-partial-insists-simukoko/
      title: "People will regret having taken their NAPSA partial, insists Simukoko"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/31/we-wont-hesitate-to-take-action-against-zesco-for-poor-performance-cautions-erb/
      title: "We won’t hesitate to take action against Zesco for poor performance, cautions ERB"
    - source: Mwebantu
      url: https://www.mwebantu.com/law-student-stabs-fellow-student-with-a-knife-under-unclear-circumstances-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=law-student-stabs-fellow-student-with-a-knife-under-unclear-circumstances-police-say
      title: "Law student stabs fellow student with a knife under unclear circumstances, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/world-tourism-body-agrees-on-innovative-strategies-to-spur-sustainable-tourism-in-afric/?utm_source=rss&utm_medium=rss&utm_campaign=world-tourism-body-agrees-on-innovative-strategies-to-spur-sustainable-tourism-in-afric
      title: "World tourism body agrees on innovative strategies to spur sustainable tourism in Afric"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-are-concerned-about-mealie-prices-says-cornelius-mweetwa/?utm_source=rss&utm_medium=rss&utm_campaign=we-are-concerned-about-mealie-prices-says-cornelius-mweetwa
      title: "We are concerned about mealie prices, says Cornelius Mweetwa"
    - source: Mwebantu
      url: https://www.mwebantu.com/gotv-introduces-gotv-supa-plus-a-package-that-offers-viewers-unmatched-sports-and-entertainment-from-the-comfort-of-their-homes/?utm_source=rss&utm_medium=rss&utm_campaign=gotv-introduces-gotv-supa-plus-a-package-that-offers-viewers-unmatched-sports-and-entertainment-from-the-comfort-of-their-homes
      title: "GOtv introduces GOtv Supa Plus, a package that offers viewers unmatched sports and entertainment from the comfort of their homes!"
    - source: Mwebantu
      url: https://www.mwebantu.com/rufunsa-mother-abandons-new-born-to-attend-a-traditional-ceremony-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=rufunsa-mother-abandons-new-born-to-attend-a-traditional-ceremony-police-say
      title: "Rufunsa mother abandons new born to attend a traditional ceremony, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zra-pounces-on-firm-that-was-not-remitting-vat/
      title: "ZRA Pounces on Firm That Was Not Remitting VAT"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/davis-mwilas-case-adjourned/
      title: "Davis Mwila’s Case Adjourned"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/2-nabbed-for-stealing-centre-pivot-cables/
      title: "2 Nabbed for Stealing Centre Pivot Cables"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/action-aid-to-construct-education-and-health-facilities-in-mpulungu/
      title: "Action Aid To Construct Education and Health facilities in Mpulungu"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/mines-safety-should-be-prioritised/?utm_source=rss&utm_medium=rss&utm_campaign=mines-safety-should-be-prioritised
      title: "Mines safety should be prioritised"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/man-20-jailed-15-yrs-for-defiling-girlfriend/?utm_source=rss&utm_medium=rss&utm_campaign=man-20-jailed-15-yrs-for-defiling-girlfriend
      title: "Man, 20, jailed 15 yrs for defiling ‘girlfriend’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/142231-2/
      title: "UPND Not Concerned With Lungu’s Movements"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/31/tiz-gets-first-female-president/
      title: "TIZ gets first female president"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/31/were-making-money-from-the-mealie-meal-zns-is-exporting-to-congo-lufuma/
      title: "We’re making money from the mealie meal ZNS is exporting to Congo – Lufuma"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-wishes-they-had-played-costa-rica-earlier-after-3-1-win/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-wishes-they-had-played-costa-rica-earlier-after-3-1-win
      title: "Zambia wishes they had played Costa Rica. Earlier After 3-1 Win"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/suicide-over-k50/?utm_source=rss&utm_medium=rss&utm_campaign=suicide-over-k50
      title: "Suicide over K50"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/31/well-be-doubting-thomas-until-ati-bill-is-enacted-fr-muyebe/
      title: "We’ll be doubting Thomas until ATI bill is enacted – Fr Muyebe"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/31/current-mood-of-despair-is-forcing-people-to-look-for-alternative-leadership-mpombo/
      title: "Current mood of despair is forcing people to look for alternative leadership – Mpombo"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/dept-of-immigration-detains-371-suspects/
      title: "Dept. of Immigration Detains 371 Suspects"
    - source: Mwebantu
      url: https://www.mwebantu.com/death-toll-in-the-likili-accident-increase-to-five/?utm_source=rss&utm_medium=rss&utm_campaign=death-toll-in-the-likili-accident-increase-to-five
      title: "Death toll in the Likili accident increase to five"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/copper-queens-sign-off-world-cup-with-win/
      title: "Copper Queens Sign off World Cup With Win"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/no-errors-in-supplementary-budget-musokotwane/?utm_source=rss&utm_medium=rss&utm_campaign=no-errors-in-supplementary-budget-musokotwane
      title: "No errors in supplementary budget – Musokotwane"
    - source: Mwebantu
      url: https://www.mwebantu.com/kcm-and-mcm-negotiations-not-yet-finalised-paul-kabuswe/?utm_source=rss&utm_medium=rss&utm_campaign=kcm-and-mcm-negotiations-not-yet-finalised-paul-kabuswe
      title: "KCM and MCM negotiations not yet finalised, Paul Kabuswe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/livingstone-records-increase-in-gbv-cases/
      title: "Livingstone Records Increase in GBV Cases"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-incentivize-eco-friendly-businesses/
      title: "Govt To Incentivize Eco-Friendly Businesses"
---
