---
title: "Monday, December 18th, 2023"
description: This is the one hundred and thirty-eighth episode of the podcast.
tags: episode
episode: "138"
date: 2023-12-18T14:10:55.542911+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-12-18_podcast_dist.mp3
    length: 5 minutes, 8 seconds
    size: 4.74 MB
rss:
    enclosure_length: 4970009
    itunes_duration: 05:08
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 34 seconds
words:
    count: 697
    rate: 136 words per minute
references:
    count: 27
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2023/12/18/stronger-structures-needed-in-face-of-climate-change/
      title: "Stronger structures needed in face of climate change"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/18/bakala-demands-january-reinforcements-after-latest-nkana-loss/
      title: "Bakala demands January reinforcements after latest Nkana loss"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/12/18/lungu-ordered-govt-not-to-build-him-a-house/
      title: "Lungu ordered govt not to build him a house"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/18/upnd-is-solid-claims-that-were-not-united-are-fiction-mweetwa/
      title: "UPND is solid, claims that we’re not united are fiction – Mweetwa"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/18/chipolopolo-players-shine-abroad/
      title: "Chipolopolo players shine abroad"
    - source: News Diggers!
      url: https://diggers.news/business/2023/12/18/loss-making-state-owned-companies-need-ultimatum-to-improve-or-shut-down-economist/
      title: "Loss making State-owned companies need ultimatum to improve or shut down – Economist"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mwami-border-to-see-increased-trade-volumes/
      title: "Mwami border to see increased trade volumes"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/north-korea-fires-most-powerful-long-range-missile-after-south-korea-us-meeting/
      title: "North Korea fires most powerful long-range missile after South Korea-US meeting"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/154640-2/
      title: "TCZ welcomes plans to scrap off visa entries into Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/jacob-zuma-lays-down-south-africa-election-challenge-to-anc/
      title: "Jacob Zuma lays down South Africa election challenge to ANC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-receives-french-budget-support/
      title: "Zambia receives French budget support"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/18/zambia-mints-7-medals-at-africa-league-championships/
      title: "Zambia mints 7 medals at Africa League championships"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/18/friday-hands-mataya-1st-mma-career-defeat/
      title: "Friday hands Mataya 1st MMA career defeat"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/18/govt-should-consult-widely-before-rolling-out-new-curriculum-mabumba/
      title: "Govt should consult widely before rolling out new curriculum – Mabumba"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-will-not-tolerate-violence-and-destabilisation-of-peace-in-the-country-police-warn-pf-given-lubinda-led-faction/?utm_source=rss&utm_medium=rss&utm_campaign=we-will-not-tolerate-violence-and-destabilisation-of-peace-in-the-country-police-warn-pf-given-lubinda-led-faction
      title: "We will not tolerate violence and destabilisation of peace in the country, police warn PF Given Lubinda led faction"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/uk-germany-and-france-step-up-global-calls-for-ceasefire/
      title: "UK, Germany and France step up global calls for ceasefire"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chibuluma-road-delays-due-to-ongoing-soil-tests-milupi/
      title: "Chibuluma road delays due to ongoing soil tests-Milupi"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambian-volleyball-needs-to-go-back-to-roots-zava/
      title: "Zambian volleyball needs to go back to roots-ZAVA"
    - source: Mwebantu
      url: https://www.mwebantu.com/victoria-falls-to-be-used-as-stage-for-ground-breaking-charity-concert-in-support-of-saving-nature/?utm_source=rss&utm_medium=rss&utm_campaign=victoria-falls-to-be-used-as-stage-for-ground-breaking-charity-concert-in-support-of-saving-nature
      title: "Victoria Falls to be used as stage for ground breaking charity concert in support of saving nature"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/faz-ponders-setting-up-coaching-school/
      title: "FAZ ponders setting up coaching school"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/18/mwale-wins-abu-title/
      title: "Mwale wins ABU title"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/18/some-revelations-in-latest-ag-report-have-been-dealt-with-hamaundu/
      title: "Some revelations in latest AG report have been dealt with – Hamaundu"
    - source: Mwebantu
      url: https://www.mwebantu.com/muchinga-woman-allegedly-beaten-to-death-by-hubby-a-month-after-getting-married/?utm_source=rss&utm_medium=rss&utm_campaign=muchinga-woman-allegedly-beaten-to-death-by-hubby-a-month-after-getting-married
      title: "Muchinga woman allegedly beaten to death by hubby a month after getting married"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/names-of-3000-newly-recruited-health-workers-set-to-be-announced/
      title: "Names of 3,000 newly recruited health workers  set to be announced"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kenya-rejects-demand-to-arrest-congolese-politicians/
      title: "Kenya rejects demand to arrest Congolese politicians"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-absa-agricultural-credit-window-facility-starts/
      title: "Govt, ABSA agricultural credit window facility starts"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-record-increase-in-plant-products-exports/
      title: "Zambia record increase in plant products exports"
---
