---
title: "Friday, October 27th, 2023"
description: This is the one hundred and second episode of the podcast.
tags: episode
episode: "102"
date: 2023-10-27T19:48:08.380812+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-10-27_podcast_dist.mp3
    length: 14 minutes, 17 seconds
    size: 13.11 MB
rss:
    enclosure_length: 13750913
    itunes_duration: 14:17
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 24 minutes, 32 seconds
words:
    count: 2,014
    rate: 141 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/27/govt-to-transfer-cancer-patients-to-tanzania-for-6-months-as-it-refurbishes-cdh/
      title: "Govt to transfer cancer patients to Tanzania for 6 months as it refurbishes CDH"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/27/were-on-the-road-to-manufacturing-medicines-locally-hh/
      title: "We’re on the road to manufacturing medicines locally – HH"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/27/how-we-drill-boreholes-a-recipe-for-cholera-masebo/
      title: "How we drill boreholes a recipe for Cholera – Masebo"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/27/chipolopolo-arent-underdogs-in-afcon-group-chivuta/
      title: "Chipolopolo aren’t underdogs in AFCON group – Chivuta"
    - source: News Diggers!
      url: https://diggers.news/business/2023/10/27/zccm-ih-pays-k109m-dividend-to-napsa/
      title: "ZCCM-IH pays K109m dividend to NAPSA"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/27/all-is-set-for-zambia-sugars-sweet-cycle-race/
      title: "All is set for Zambia Sugar’s Sweet Cycle race"
    - source: Mwebantu
      url: https://www.mwebantu.com/chikondi-bandas-granny-narrates-how-she-broke-down-after-seeing-her-missing-grandsons-corpse/?utm_source=rss&utm_medium=rss&utm_campaign=chikondi-bandas-granny-narrates-how-she-broke-down-after-seeing-her-missing-grandsons-corpse
      title: "Chikondi Banda’s granny narrates how she broke down after seeing her missing grandson’s corpse"
    - source: Mwebantu
      url: https://www.mwebantu.com/iwg-opens-new-regus-sunshare-towers-in-lusaka-as-demand-for-hybrid-working-rises/?utm_source=rss&utm_medium=rss&utm_campaign=iwg-opens-new-regus-sunshare-towers-in-lusaka-as-demand-for-hybrid-working-rises
      title: "IWG opens new REGUS Sunshare Towers in Lusaka, as demand for Hybrid working rises"
    - source: Mwebantu
      url: https://www.mwebantu.com/let-no-one-dishonor-late-president-micheal-sata-nalumango-says/?utm_source=rss&utm_medium=rss&utm_campaign=let-no-one-dishonor-late-president-micheal-sata-nalumango-says
      title: "Let no one dishonor Late President Micheal Sata!, Nalumango says"
    - source: Mwebantu
      url: https://www.mwebantu.com/male-teacher-found-guilty-of-sexually-abusing-nephew-on-his-chilanga-mulilo-day/?utm_source=rss&utm_medium=rss&utm_campaign=male-teacher-found-guilty-of-sexually-abusing-nephew-on-his-chilanga-mulilo-day
      title: "Male teacher found guilty of sexually abusing nephew on his chilanga mulilo day"
    - source: Mwebantu
      url: https://www.mwebantu.com/26-cholera-cases-recorded-in-lusaka-with-2-deaths/?utm_source=rss&utm_medium=rss&utm_campaign=26-cholera-cases-recorded-in-lusaka-with-2-deaths
      title: "26 cholera cases recorded in Lusaka, with 2 deaths."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-negotiates-for-resumption-of-digital-migration-project/
      title: "Govt Negotiates for Resumption of Digital Migration Project"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/scholarship-board-recovers-k135m/
      title: "Scholarship Board Recovers K135m"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/magande-was-a-patriot-mbula/
      title: "Magande was a Patriot -Mbula"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/young-people-learn-from-magande/
      title: "“Young People, Learn From Magande”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zammsa-to-build-regional-hub-in-kabompo/
      title: "ZAMMSA to build Regional Hub in Kabompo"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zccm-ih-gives-napsa-k109m-dividend/
      title: "ZCCM-IH Gives NAPSA K109m Dividend"
    - source: Mwebantu
      url: https://www.mwebantu.com/bola-naikosa-miles-remains-pf-president-as-court-discharges-order-stopping-him-from-holding-the-position/?utm_source=rss&utm_medium=rss&utm_campaign=bola-naikosa-miles-remains-pf-president-as-court-discharges-order-stopping-him-from-holding-the-position
      title: "Bola naikosa: Miles remains PF president, as court discharges order stopping him from holding the position"
    - source: Mwebantu
      url: https://www.mwebantu.com/four-children-die-after-allegedly-consuming-cassava-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=four-children-die-after-allegedly-consuming-cassava-police-say
      title: "Four children die after allegedly consuming cassava, police say"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/27/nkana-looks-forward-to-returning-at-home-stadium/
      title: "Nkana looks forward to returning at home stadium"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/govt-committed-to-sharing-national-cake-equally/?utm_source=rss&utm_medium=rss&utm_campaign=govt-committed-to-sharing-national-cake-equally
      title: "Govt committed to sharing national cake equally"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-to-make-mark-as-reliable-food-supplier-hh/
      title: "Zambia To Make Mark as Reliable Food Supplier-HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-consider-zns-smelter-proposal/
      title: "Govt To Consider ZNS Smelter Proposal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipolopolo-to-enter-camp-in-december/
      title: "Chipolopolo To Enter Camp in December"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/10/27/who-is-shashi-patel/
      title: "Who is Shashi Patel?"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/27/chipoka-questions-pf-mps-tendency-of-absconding-parley/
      title: "Chipoka questions PF MPs’ tendency of absconding Parley"
    - source: Mwebantu
      url: https://www.mwebantu.com/cancer-patients-to-be-referred-to-tanzania-at-governments-cost-reveals-sylvia-masebo/?utm_source=rss&utm_medium=rss&utm_campaign=cancer-patients-to-be-referred-to-tanzania-at-governments-cost-reveals-sylvia-masebo
      title: "Cancer patients to be referred to Tanzania at government’s cost, reveals Sylvia Masebo"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kfc-closes-lesotho-outlets-over-sa-poultry-ban/
      title: "KFC closes Lesotho outlets over SA poultry ban"
---
