---
title: "Monday, June 19th, 2023"
description: This is the thirteenth episode of the podcast. Content was generated using Cohere Summarize Beta, which is still experimental. There are a lot of factual errors, check the original articles for more accurate information.
tags: episode
episode: "013"
date: 2023-06-19T19:32:16.904993+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-06-19_podcast_dist.mp3
    length: 16 minutes, 40 seconds
    size: 15.29 MB
rss:
    enclosure_length: 16036727
    itunes_duration: 16:40
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 16 minutes, 53 seconds
words:
    count: 2,349
    rate: 141 words per minute
references:
    count: 35
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/19/some-people-in-advantageous-positions-prioritising-their-constituencies-insists-kambita/
      title: "Some people in advantageous positions prioritising their constituencies, insists Kambita"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/aquatic-weeds-blessing-or-nuisance/?utm_source=rss&utm_medium=rss&utm_campaign=aquatic-weeds-blessing-or-nuisance
      title: "Aquatic weeds: Blessing or nuisance?"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/19/most-csos-speak-for-themselves-not-the-people-chama/
      title: "Most CSOs speak for themselves, not the people – Chama"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/19/forget-2026-focus-on-delivery-bowman-urges-upnd/
      title: "Forget 2026, focus on delivery, Bowman urges UPND"
    - source: Mwebantu
      url: https://www.mwebantu.com/emmanuel-mwamba-reports-police-to-police/?utm_source=rss&utm_medium=rss&utm_campaign=emmanuel-mwamba-reports-police-to-police
      title: "Emmanuel Mwamba reports police to police"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/19/we-will-hold-our-own-at-afcon-grant/
      title: "We will hold our own at AFCON – Grant"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/19/banker-testifies-in-stardy-mpohas-corruption-case/
      title: "Banker testifies in Stardy, Mpoha’s corruption case"
    - source: Mwebantu
      url: https://www.mwebantu.com/multichoice-team-up-with-znbc-for-intensive-staff-training/?utm_source=rss&utm_medium=rss&utm_campaign=multichoice-team-up-with-znbc-for-intensive-staff-training
      title: "MultiChoice Team up with ZNBC for Intensive Staff Training"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mens-body-welcomes-chief-hamusondes-stance-on-early-marriages/
      title: "Men’s body welcomes Chief Hamusonde’s stance on early marriages"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/bebe-rexha-rushed-off-stage-after-a-phone-hits-her-in-the-face/
      title: "Bebe Rexha rushed off stage after a phone hits her in the face"
    - source: Mwebantu
      url: https://www.mwebantu.com/loud-music-and-prayers-complaint-in-court/?utm_source=rss&utm_medium=rss&utm_campaign=loud-music-and-prayers-complaint-in-court
      title: "Loud music and prayers complaint in court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/uphold-countrys-peacehh-urges-zambians/
      title: "Uphold country’s peace,HH urges Zambians"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ex-aide-three-others-denied-bail/
      title: "Ex-Aide, three others denied bail"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/be-entrepreneurial-zambians-urged/
      title: "Be entrepreneurial, Zambians urged"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/pirelli-italy-blocks-chinese-control-of-tyre-giant/
      title: "Pirelli: Italy blocks Chinese control of tyre giant"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/greece-boat-disaster-bbc-investigation-casts-doubt-on-coastguards-claims/
      title: "Greece boat disaster: BBC investigation casts doubt on coastguard’s claims"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/boris-johnson-mps-to-decide-on-report-that-said-ex-pm-misled-parliament/
      title: "Boris Johnson: MPs to decide on report that said ex-PM misled Parliament"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambian-chess-arbiter-to-officiate-at-2023-chess-world-cup/
      title: "Zambian chess arbiter to officiate at 2023 Chess World Cup"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ex-foreign-affairs-minister-welcomes-hhs-peace-involvement/
      title: "Ex Foreign Affairs Minister welcomes HH’s peace involvement"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/luis-enrique-paris-st-germain-close-to-appointing-former-spain-manager-as-new-boss/
      title: "Luis Enrique: Paris St-Germain close to appointing former Spain manager as new boss"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/19/lubinda-chilangwa-must-suspend-themselves-miles/
      title: "Lubinda, Chilangwa must suspend themselves – Miles"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/19/itd-have-been-easy-to-hold-convention-if-pf-was-in-govt-malama/
      title: "It’d have been easy to hold convention if PF was in govt – Malama"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/19/phew-finally-zambia-returns-to-the-afcon/
      title: "Phew, finally Zambia returns to the AFCON"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/19/cosafa-squad-takes-on-morocco-u23/
      title: "Cosafa squad takes on Morocco U23"
    - source: Mwebantu
      url: https://www.mwebantu.com/north-western-province-traditional-healer-dies-in-an-attempt-to-heal-a-client/?utm_source=rss&utm_medium=rss&utm_campaign=north-western-province-traditional-healer-dies-in-an-attempt-to-heal-a-client
      title: "North-western Province traditional healer dies in an attempt to heal a client"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/houston-rapper-big-pokey-dies-after-collapsing-during-performance/
      title: "Houston rapper Big Pokey dies after collapsing during performance"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/masebo-launches-new-zamra-lab/
      title: "Masebo launches new ZAMRA lab"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zaf-commander-sends-off-protection-unit-to-mozambique/
      title: "ZAF Commander sends off protection unit to Mozambique"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/war-must-end/?utm_source=rss&utm_medium=rss&utm_campaign=war-must-end
      title: "War must end"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kalunga-calls-for-investment-in-digital-migration-projects/
      title: "Kalunga calls for investment in digital migration projects"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/man-71-burnt-to-death-over-witchcraft-suspicions/?utm_source=rss&utm_medium=rss&utm_campaign=man-71-burnt-to-death-over-witchcraft-suspicions
      title: "Man, 71, burnt to death over witchcraft suspicions"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/06/19/understanding-zambias-beneficial-ownership-law-a-crucial-step-towards-transparency-in-the-mining-sector-part-i/
      title: "Understanding Zambia’s Beneficial Ownership Law: A Crucial Step Towards Transparency in the Mining Sector – Part I"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-am-glad-to-be-home-and-to-find-peace-says-hh/?utm_source=rss&utm_medium=rss&utm_campaign=i-am-glad-to-be-home-and-to-find-peace-says-hh
      title: "I am glad to be home and to find peace, says HH"
    - source: Mwebantu
      url: https://www.mwebantu.com/gold-dealer-escapes-death-after-being-axed-by-criminals/?utm_source=rss&utm_medium=rss&utm_campaign=gold-dealer-escapes-death-after-being-axed-by-criminals
      title: "Gold dealer escapes death after being axed by criminals"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-set-to-host-african-strongman-championship/
      title: "Zambia set to host African Strongman championship"
---
