---
title: "Friday, October 6th, 2023"
description: This is the eighty-eighth episode of the podcast.
tags: episode
episode: "088"
date: 2023-10-06T17:03:05.118646+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-10-06_podcast_dist.mp3
    length: 12 minutes, 5 seconds
    size: 11.10 MB
rss:
    enclosure_length: 11637709
    itunes_duration: 12:05
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 10 minutes, 49 seconds
words:
    count: 1,668
    rate: 138 words per minute
references:
    count: 24
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/10/06/2024-post-national-budget-analysis-a-review-of-the-sport-development-budget-proposal/
      title: "2024 POST NATIONAL BUDGET ANALYSIS – A Review of the Sport Development Budget Proposal"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/06/we-need-to-invest-in-chess-rearch-cfz/
      title: "We need to invest in chess research – CFZ"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/06/players-had-stage-fright-mwila-explains-shepolopolos-poor-cosafa-showing/
      title: "Players had stage fright, Mwila explains Shepolopolo’s poor Cosafa showing"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/06/hpcz-sets-new-dates-for-cancelled-licensure-examinations/
      title: "HPCZ sets new dates for cancelled licensure examinations"
    - source: Mwebantu
      url: https://www.mwebantu.com/tony-blair-praises-zambian-presidents-leadership-and-delivery-of-starlink-partnership/?utm_source=rss&utm_medium=rss&utm_campaign=tony-blair-praises-zambian-presidents-leadership-and-delivery-of-starlink-partnership
      title: "Tony Blair praises Zambian President’s leadership, and delivery of Starlink Partnership"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilemas-recent-china-visit-fruitful-minister-tells-parliament/?utm_source=rss&utm_medium=rss&utm_campaign=president-hakainde-hichilemas-recent-china-visit-fruitful-minister-tells-parliament
      title: "President Hakainde Hichilema’s recent China visit fruitful, Minister tells Parliament"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/stanbic-bank-to-promote-tourismculture/
      title: "Stanbic Bank To promote Tourism,Culture"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lecturer-nabbed-for-selling-grades-in-exchange-for-sex/
      title: "Lecturer Nabbed for Selling Grades in exchange for Sex"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/isoka-gets-31000-bags-fertilizer/
      title: "Isoka Gets 31,000 Bags of Fertilizer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/biden-attacked-from-both-sides-over-new-texas-border-wall/
      title: "Biden attacked from both sides over new Texas border wall"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zccm-ih-apply-for-stay-of-high-court-order-to-surrender-license/
      title: "ZCCM-IH Applies for Stay of High Court Order to Surrender License"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/06/mutti-scoops-commonwealth-parliamentarian-of-the-year-award/
      title: "Mutti scoops Commonwealth Parliamentarian of the year award"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/junior-copper-queens-face-drc-in-wc-qualifier/
      title: "Junior Copper Queens Face DRC in WC Qualifier"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/06/grant-names-squad-for-october-friendlies/
      title: "Grant names squad for October friendlies"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/06/fill-up-nkoloma-stadium-when-u20-hosts-congo-nkandu-urges-fans/
      title: "Fill up Nkoloma Stadium when U20 hosts Congo, Nkandu urges fans"
    - source: Mwebantu
      url: https://www.mwebantu.com/sex-for-grades-on-the-rise-as-acc-arrests-another-cbu-lecturer-in-connection-with-the-crime/?utm_source=rss&utm_medium=rss&utm_campaign=sex-for-grades-on-the-rise-as-acc-arrests-another-cbu-lecturer-in-connection-with-the-crime
      title: "Sex for grades on the rise, as ACC arrests another CBU lecturer in connection with the crime"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/senior-pf-socialist-party-officials-defect-to-upnd/
      title: "Senior PF, Socialist Party Officials defect to UPND"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cdf-money-is-released-according-to-utilization/
      title: "“CDF Money Is Released According to Utilization”"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/06/acc-nabs-another-sex-for-grades-cbu-lecturer/
      title: "ACC nabs another “sex for grades” CBU lecturer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chief-told-to-resolve-wrangles-outside-court/
      title: "Chiefs Told To Resolve Wrangles Outside Court"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/06/kitwe-teacher-drowns-during-teachers-day-celebrations/
      title: "Kitwe teacher drowns during Teachers Day celebrations"
    - source: MUVI Television
      url: https://www.muvitv.com/2023/10/cbu-lecturer-arrested-for-sextortion/?utm_source=rss&utm_medium=rss&utm_campaign=cbu-lecturer-arrested-for-sextortion
      title: "CBU LECTURER ARRESTED FOR SEXTORTION."
    - source: Mwebantu
      url: https://www.mwebantu.com/teachers-day-ends-in-tragedy-as-29-year-old-kitwe-teachers-drowns-in-swimming-pool/?utm_source=rss&utm_medium=rss&utm_campaign=teachers-day-ends-in-tragedy-as-29-year-old-kitwe-teachers-drowns-in-swimming-pool
      title: "Teachers day ends in tragedy as 29-year-old Kitwe Teachers drowns in swimming pool."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-has-no-intention-of-lifting-lungus-immunity/
      title: "“Govt Has No Intention of Lifting Lungu’s Immunity”"
---
