---
title: "Thursday, September 14th, 2023"
description: This is the seventy-second episode of the podcast.
tags: episode
episode: "072"
date: 2023-09-14T17:01:17.397023+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-09-14_podcast_dist.mp3
    length: 13 minutes, 26 seconds
    size: 12.34 MB
rss:
    enclosure_length: 12936313
    itunes_duration: 13:26
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 1 second
words:
    count: 1,925
    rate: 143 words per minute
references:
    count: 25
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/14/zra-destroys-sex-toys-in-livingstone/
      title: "ZRA destroys sex toys in Livingstone"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/znbc-inspects-fm-transmitters-in-samfyachiengi/
      title: "ZNBC Inspects FM Transmitters in Samfya,Chiengi"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-ready-to-work-with-zimbabwe-on-heritage-project/
      title: "Zambia Ready to Work with Zimbabwe on Heritage Project"
    - source: Mwebantu
      url: https://www.mwebantu.com/government-saddened-by-the-death-of-four-people-in-ibex-hill-area-yesterday/?utm_source=rss&utm_medium=rss&utm_campaign=government-saddened-by-the-death-of-four-people-in-ibex-hill-area-yesterday
      title: "Government saddened by the death of four people in Ibex Hill area yesterday"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/use-ai-to-drive-economic-growth/
      title: "“Use Ai to Drive Economic Growth”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kidney-foundation-donates-2-dialysis-machines-to-livingstone-hospital/
      title: "Kidney Foundation Donates 2 Dialysis Machines To Livingstone Hospital"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/09/14/vinchenzo-mbale-yo-maps-and-peter-gabriel-dont-give-up-you-are-not-alone/
      title: "Vinchenzo M’bale, Yo Maps and Peter Gabriel: “Don’t Give Up, You are Not Alone”!"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/14/let-govt-work-you-didnt-perform-when-you-had-a-chance-shikapwasha-tells-pf/
      title: "Let govt work, you didn’t perform when you had a chance, Shikapwasha tells PF"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/14/weve-restored-professionalism-in-police-service-mwiimbu/
      title: "We’ve restored professionalism in police service – Mwiimbu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cosafacopper-queens-drawn-in-group-b/
      title: "COSAFA:Copper Queens Drawn in Group B"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/14/pf-used-to-give-cdf-in-medas-mposha/
      title: "PF used to give CDF in “medas” – Mposha"
    - source: Mwebantu
      url: https://www.mwebantu.com/triple-c-warns-power/?utm_source=rss&utm_medium=rss&utm_campaign=triple-c-warns-power
      title: "Triple C warns Power"
    - source: Mwebantu
      url: https://www.mwebantu.com/fake-soldier-nabbed-for-personation/?utm_source=rss&utm_medium=rss&utm_campaign=fake-soldier-nabbed-for-personation
      title: "Fake soldier nabbed for Personation"
    - source: Mwebantu
      url: https://www.mwebantu.com/businessman-and-tanzanian-killed-by-irate-mob-in-mumbwa-district-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=businessman-and-tanzanian-killed-by-irate-mob-in-mumbwa-district-police-say
      title: "Businessman and Tanzanian killed by irate mob in Mumbwa district, police say"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/14/cabinet-approves-2024-national-budget/
      title: "Cabinet approves 2024 national budget"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-hopeful-to-supply-adequate-school-desks/
      title: "Govt Hopeful to Supply Adequate School Desks"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/dysentery-breaks-out-mpika-gold-mine/
      title: "Dysentery Breaks Out Mpika Gold Mine"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/luena-mp-wins-nabulyato-award/
      title: "Luena Mp Wins Nabulyato Award"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/14/new-dawn-govts-approach-to-corruption-fight-very-wise-czech-envoy/
      title: "New dawn govt’s approach to corruption fight very wise – Czech Envoy"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/14/stardy-vows-to-revive-pf-on-the-copperbelt/
      title: "Stardy vows to revive PF on the Copperbelt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-set-to-get-390m/
      title: "Zambia Set To Get $390m"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-grieves-over-death-of-3-pupils-in-accident/
      title: "Govt Grieves over Death of 3 Pupils in Accident"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/14/mmembe-and-lungu-cant-unseat-hh-mulyata/
      title: "M’membe and Lungu can’t unseat HH – Mulyata"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/14/ex-erb-boss-found-with-case-to-answer-in-bribery-case/
      title: "Ex-ERB boss found with case to answer in bribery case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-calls-for-rehabilitation-and-revival-of-tazara/
      title: "HH Calls for Rehabilitation and Revival of Tazara"
---
