---
title: "Monday, October 30th, 2023"
description: This is the one hundred and third episode of the podcast.
tags: episode
episode: "103"
date: 2023-10-30T17:04:38.320754+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-10-30_podcast_dist.mp3
    length: 5 minutes, 51 seconds
    size: 5.40 MB
rss:
    enclosure_length: 5660895
    itunes_duration: 05:51
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 8 minutes, 1 second
words:
    count: 846
    rate: 145 words per minute
references:
    count: 10
    sources: 1
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/south-africa-rugby-world-cup-the-springboks-give-hope-to-a-troubled-nation/
      title: "South Africa Rugby World Cup: The Springboks give hope to a troubled nation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-pledges-to-increase-maize-production/
      title: "Govt pledges to increase maize production"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ecz-implores-political-parties-to-take-part-in-polls/
      title: "ECZ Implores political parties to take part in polls"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/auditors-urged-to-seal-financial-leakages/
      title: "Auditors urged to seal financial leakages"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/anti-israel-mob-storms-dagestan-airport-in-russia/
      title: "Anti-Israel mob storms Dagestan airport in Russia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/matthew-perry-death-friends-stars-and-family-remember-brilliant-actor/
      title: "Matthew Perry death: Friends stars and family remember ‘brilliant’ actor"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/magic-johnson-declared-a-billionaire-by-forbes/
      title: "Magic Johnson declared a billionaire by Forbes"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/suspected-fake-doctor-arrested-at-south-african-hospital/
      title: "Suspected fake doctor arrested at South African hospital"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/adea-calls-for-review-of-primary-schools-curriculum/
      title: "ADEA calls for review of primary schools curriculum"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-taking-anthrax-outbreak-seriously-chikote/
      title: "Govt taking anthrax outbreak seriously-Chikote"
---
