---
title: "Monday, September 11th, 2023"
description: This is the sixty-ninth episode of the podcast.
tags: episode
episode: "069"
date: 2023-09-11T16:56:45.857892+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-09-11_podcast_dist.mp3
    length: 12 minutes, 22 seconds
    size: 11.37 MB
rss:
    enclosure_length: 11917745
    itunes_duration: 12:22
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 30 seconds
words:
    count: 1,788
    rate: 145 words per minute
references:
    count: 24
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/09/11/understanding-the-dynamics-of-domestic-debt-for-resource-mobilization-in-zambia/
      title: "Understanding the Dynamics of Domestic Debt for Resource Mobilization in Zambia"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/11/its-a-direct-divorce-if-vedanta-fails-no-liquidation-kabuswe/
      title: "It’s a direct divorce if Vedanta fails, no liquidation – Kabuswe"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/11/court-denies-kasanda-bail/
      title: "Court denies Kasanda bail"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/11/cdf-bottlenecks-should-be-dealt-with-within-the-law-banda/
      title: "CDF bottlenecks should be dealt with within the law – Banda"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/11/weve-engaged-lawyers-concerning-our-failed-rally-pf/
      title: "We’ve engaged lawyers concerning our failed rally – PF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/david-harewood-actor-says-the-government-should-apologise-for-slavery/
      title: "David Harewood: Actor says the British government should apologise for slavery"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/145861-2/
      title: "Expert welcomes shortened power purchase agreement process"
    - source: Mwebantu
      url: https://www.mwebantu.com/unga-kicks-off-at-the-un-headquarters-in-new-york-with-the-new-president-of-the-general-assembly/?utm_source=rss&utm_medium=rss&utm_campaign=unga-kicks-off-at-the-un-headquarters-in-new-york-with-the-new-president-of-the-general-assembly
      title: "UNGA kicks off at the UN Headquarters in New York with the new President of the General Assembly"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/znbc-installs15-fm-transmitters-in-rural-areas/
      title: "ZNBC installs15 FM  transmitters in rural areas"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chief-mukuni-calls-for-investment-in-zambezi-valley/
      title: "Chief Mukuni calls for investment in Zambezi valley"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hansi-flick-sacked-by-germany-as-euro-2024-hosts-lose-patience/
      title: "Hansi Flick sacked by Germany as Euro 2024 hosts lose patience"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/us-open-2023-results-novak-djokovic-wins-24th-major-by-beating-daniil-medvedev/
      title: "US Open 2023 results: Novak Djokovic wins 24th major by beating Daniil Medvedev"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/11/treating-eye-problems-with-breast-milk-dangerous-cautions-eye-hospital-nurse/
      title: "Treating eye problems with breast milk dangerous, cautions eye hospital nurse"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/11/kamono-farms-directors-deny-fraud-charges/
      title: "Kamono Farms directors deny fraud charges"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/11/polices-attempt-to-abduct-munir-from-parley-angers-leader-of-the-opposition/
      title: "Police’s attempt to “abduct” Munir from Parley angers Leader of the Opposition"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-and-first-lady-pays-tribute-to-former-chinese-president/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-and-first-lady-pays-tribute-to-former-chinese-president
      title: "President Hichilema and First Lady pays tribute to former Chinese President"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/egypt-angry-as-ethiopia-fills-nile-dam-reservoir-amid-water-row/
      title: "Egypt angry as Ethiopia fills Nile dam reservoir amid water row"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/11/new-luapula-minister-vows-to-spearhead-development/
      title: "New Luapula Minister vows to spearhead development"
    - source: Mwebantu
      url: https://www.mwebantu.com/strengthened-china-zambia-relations-offer-lessons-for-zambias-vision-says-president-hichilema/?utm_source=rss&utm_medium=rss&utm_campaign=strengthened-china-zambia-relations-offer-lessons-for-zambias-vision-says-president-hichilema
      title: "Strengthened China-Zambia relations offer lessons for Zambia’s vision, says President Hichilema"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-pays-tribute-to-ex-chinese-leader-deng/
      title: "HH pays tribute to ex-Chinese leader Deng"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/engage-katete-roads-contractor-mkaika-mp-urges-govt/
      title: "Engage Katete roads contractor, Mkaika MP urges govt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/luis-rubiales-resigns-as-president-of-spanish-fa-over-jenni-hermoso-kiss/
      title: "Luis Rubiales resigns as president of Spanish FA over Jenni Hermoso kiss"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/11/unknown-people-kill-security-guard-while-manning-bank/
      title: "Unknown people kill security guard while manning bank"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kaoma-district-road-works-begin/
      title: "Kaoma district road works begin"
---
