---
title: "Tuesday, December 26th, 2023"
description: This is the one hundred and forty-fourth episode of the podcast.
tags: episode
episode: "144"
date: 2023-12-26T14:10:01.342971+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-12-26_podcast_dist.mp3
    length: 15 minutes, 51 seconds
    size: 14.54 MB
rss:
    enclosure_length: 15249298
    itunes_duration: 15:51
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 47 seconds
words:
    count: 2,011
    rate: 127 words per minute
references:
    count: 10
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/26/theres-no-country-where-all-citizens-are-farmers-kampyongo/
      title: "There’s no country where all citizens are farmers – Kampyongo"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/26/hh-is-a-motivational-speaker-imenda/
      title: "HH is a motivational speaker – Imenda"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/12/26/mwaipopo-is-right-2023-has-been-a-rough-year-for-citizens/
      title: "Mwaipopo is right, 2023 has been a rough year for citizens"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/26/chinese-expose-kakubo-in-mine-transaction/
      title: "Chinese expose Kakubo in mine transaction"
    - source: News Diggers!
      url: https://diggers.news/business/2023/12/26/govt-projects-to-absorb-at-least-60-of-2023-cdf-by-end-of-year/
      title: "Govt projects to absorb at least 60% of 2023 CDF by end of year"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/grade-7-9-results-released/
      title: "Grade 7, 9 results released"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/12/26/dpp-wants-21-bank-accounts-linked-to-zambian-nigerian-nationals-forfeited-to-state/
      title: "DPP wants 21 bank accounts linked to Zambian, Nigerian nationals forfeited to state"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/26/opposition-insults-on-hh-worries-bishop-mambo/
      title: "Opposition insults on HH worries Bishop Mambo"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/26/church-wont-shy-away-from-critising-govt-fr-chikoya/
      title: "Church won’t shy away from critising govt – Fr Chikoya"
    - source: Mwebantu
      url: https://www.mwebantu.com/sixteen-people-killed-in-road-traffic-accidents-during-christmas-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=sixteen-people-killed-in-road-traffic-accidents-during-christmas-police-say
      title: "Sixteen people killed in road traffic accidents during Christmas, police say"
---
