---
title: "Tuesday, June 20th, 2023"
description: This is the fourteenth episode of the podcast.
tags: episode
episode: "014"
date: 2023-06-20T16:58:35.798062+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-06-20_podcast_dist.mp3
    length: 13 minutes, 45 seconds
    size: 12.63 MB
rss:
    enclosure_length: 13241417
    itunes_duration: 13:45
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 20 seconds
words:
    count: 1,968
    rate: 143 words per minute
references:
    count: 27
    sources: 3
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-undertakes-state-visits-to-rwanda-and-france-in-an-effort-to-reinforce-bilateral-relations/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-undertakes-state-visits-to-rwanda-and-france-in-an-effort-to-reinforce-bilateral-relations
      title: "President Hichilema undertakes State visits to Rwanda and France in an effort to reinforce bilateral relations"
    - source: Mwebantu
      url: https://www.mwebantu.com/govt-investigating-claims-by-former-pf-ambassador-to-ethiopia-emmanuel-mwamba-on-assault-allegations-by-police-officers/?utm_source=rss&utm_medium=rss&utm_campaign=govt-investigating-claims-by-former-pf-ambassador-to-ethiopia-emmanuel-mwamba-on-assault-allegations-by-police-officers
      title: "Govt investigating claims by former PF Ambassador to Ethiopia Emmanuel Mwamba on assault allegations by police officers."
    - source: Mwebantu
      url: https://www.mwebantu.com/eff-president-and-19-followers-start-week-in-detention/?utm_source=rss&utm_medium=rss&utm_campaign=eff-president-and-19-followers-start-week-in-detention
      title: "EFF president and 19 followers start week in detention"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/20/high-court-refuses-to-stay-warrant-of-arrest-against-chilangwa/
      title: "High Court refuses to stay warrant of arrest against Chilangwa"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/20/first-kopa-consignment-has-sold-out-reveals-kamanga/
      title: "First Kopa consignment has sold out, reveals Kamanga"
    - source: Mwebantu
      url: https://www.mwebantu.com/nkana-in-double-trouble/?utm_source=rss&utm_medium=rss&utm_campaign=nkana-in-double-trouble
      title: "Nkana in double trouble"
    - source: Mwebantu
      url: https://www.mwebantu.com/developing-story-nkana-stadium-banned-from-using-nkana-stadium-for-one-season/?utm_source=rss&utm_medium=rss&utm_campaign=developing-story-nkana-stadium-banned-from-using-nkana-stadium-for-one-season
      title: "Developing story: Nkana Banned from using Nkana Stadium for One Season"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambian-economy-has-performed-well/
      title: "“ZAMBIAN ECONOMY HAS PERFORMED WELL “"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kaputa-farmers-told-to-scale-up-production/
      title: "KAPUTA FARMERS TOLD TO SCALE UP PRODUCTION"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/20/number-of-poor-people-in-zambia-still-high-world-bank/
      title: "Number of poor people in Zambia still high – World Bank"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/copper-queens-defense-getting-fine-tuned/
      title: "COPPER QUEENS DEFENSE GETTING FINE TUNED"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kapoche-gets-2-health-centres/
      title: "KAPOCHE GETS 2 HEALTH CENTRES"
    - source: News Diggers!
      url: https://diggers.news/business/2023/06/20/adequate-access-to-farming-inputs-will-increase-our-maize-production-nusfaz/
      title: "Adequate access to farming inputs will increase our maize production – NUSFAZ"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/20/chilangwas-absence-from-parley-being-blown-out-of-proportion-mundubile/
      title: "Chilangwa’s absence from Parley being blown out of proportion – Mundubile"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/20/copper-queens-impress-mwape/
      title: "Copper Queens impress Mwape"
    - source: News Diggers!
      url: https://diggers.news/business/2023/06/20/fra-halts-sale-of-maize/
      title: "FRA halts sale of maize"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/20/grant-wakulekafye-says-mwila-in-praise-of-chipolopolo-gaffer/
      title: "Grant wakulekafye, says Mwila in praise of Chipolopolo gaffer"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/20/wemba-eyes-the-ivory-coast-open/
      title: "Wemba eyes the Ivory Coast Open"
    - source: Mwebantu
      url: https://www.mwebantu.com/10-masked-armed-robbers-steal-zesco-cable-from-nkana-water-distribution-centre-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=10-masked-armed-robbers-steal-zesco-cable-from-nkana-water-distribution-centre-police-say
      title: "10 masked armed robbers steal Zesco cable from Nkana water Distribution centre, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/food-reserve-agency-fra-stops-the-sell-of-maize-to-millers/?utm_source=rss&utm_medium=rss&utm_campaign=food-reserve-agency-fra-stops-the-sell-of-maize-to-millers
      title: "Food Reserve Agency (FRA) stops the sell of maize to millers"
    - source: Mwebantu
      url: https://www.mwebantu.com/no-friction-bruce-mwape-says-enjoying-good-working-relations-with-lisa-cole/?utm_source=rss&utm_medium=rss&utm_campaign=no-friction-bruce-mwape-says-enjoying-good-working-relations-with-lisa-cole
      title: "‘No Friction;’ Bruce Mwape says enjoying good working relations with Lisa Cole"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/economists-expectant-of-paris-club-meeting/
      title: "ECONOMISTS EXPECTANT OF PARIS CLUB MEETING"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zema-approves-cooking-oil-and-rice-processing-plant-for-kawambwa/
      title: "ZEMA APPROVES COOKING OIL AND RICE  PROCESSING PLANT FOR KAWAMBWA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/eu-gives-zambia-110m-euros/
      title: "EU GIVES ZAMBIA 110M EUROS"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kk-was-a-rare-human-being-nevers-mumba/
      title: "KK WAS A RARE HUMAN BEING- NEVERS MUMBA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/acc-launches-integrity-committee-handbook/
      title: "ACC LAUNCHES INTEGRITY COMMITTEE HANDBOOK"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/athletes-leave-for-tunisia-beach-games/
      title: "ATHLETES LEAVE FOR TUNISIA BEACH GAMES"
---
