---
title: "Tuesday, December 19th, 2023"
description: This is the one hundred and thirty-ninth episode of the podcast.
tags: episode
episode: "139"
date: 2023-12-19T14:13:39.603975+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-12-19_podcast_dist.mp3
    length: 6 minutes, 10 seconds
    size: 5.68 MB
rss:
    enclosure_length: 5953468
    itunes_duration: 06:10
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 57 seconds
words:
    count: 828
    rate: 134 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2023/12/19/france-zambia-partnerships-welcome/
      title: "France, Zambia partnerships welcome"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/12/19/access-to-information-bill-a-pandoras-box/
      title: "Access to Information Bill – A Pandora’s Box"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/19/interns-who-havent-been-paid-will-be-cleared-this-month-assures-youth-minister/
      title: "Interns who haven’t been paid will be cleared this month, assures Youth Minister"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/12/19/cholera-needs-prevention-not-mitigation/
      title: "Cholera needs prevention not mitigation"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/19/police-nab-12-in-petauke-for-theft-of-fisp-fertiliser/
      title: "Police nab 12 in Petauke for theft of FISP fertiliser"
    - source: Mwebantu
      url: https://www.mwebantu.com/chibolya-woman-to-be-jailed-atleast-15-years-for-defiling-9-year-old-boy/?utm_source=rss&utm_medium=rss&utm_campaign=chibolya-woman-to-be-jailed-atleast-15-years-for-defiling-9-year-old-boy
      title: "Chibolya woman to be jailed, atleast 15 years for defiling 9-year-old boy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fears-of-higher-oil-prices-after-red-sea-attacks/
      title: "Fears of higher oil prices after Red Sea attacks"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ugandas-anti-homosexuality-act-challenged-in-constitutional-court/
      title: "Uganda’s Anti-Homosexuality Act challenged in Constitutional Court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/12-people-arrested-in-petauke-for-fertiliser-theft/
      title: "12 people arrested in Petauke for fertiliser theft"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/be-ready-to-implement-new-si-on-minimum-wage-employers-told/
      title: "‘Be ready to implement new SI on minimum wage’-Employers told"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/i-cant-wait-to-bring-the-grammy-home/
      title: "‘I can’t wait to bring the Grammy home’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/k2-million-fraud-lands-ex-napsa-employee-in-jail/
      title: "K2 million fraud lands Ex Napsa employee in jail"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/thieves-steal-k167000-cash-from-car/
      title: "Thieves steal K167,000 cash from car"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2023/12/19/another-jobs-galore-for-health-workers/
      title: "Another jobs galore for health workers"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/19/our-athletes-have-done-well-in-2023-nkandu/
      title: "Our athletes have done well in 2023 – Nkandu"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/12/19/gold-scam-jet-owner-opposes-forfeiture-person-who-rented-it-said-thered-be-no-cargo/
      title: "Gold scam jet owner opposes forfeiture: person who rented it said there’d be no cargo"
    - source: Mwebantu
      url: https://www.mwebantu.com/british-drug-lord-nabbed-for-allegedly-concealing-over-5-kilograms-of-cocaine/?utm_source=rss&utm_medium=rss&utm_campaign=british-drug-lord-nabbed-for-allegedly-concealing-over-5-kilograms-of-cocaine
      title: "British drug lord nabbed for allegedly concealing over 5 kilograms of cocaine"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/south-chiefs-call-for-change-in-farming-practices/
      title: "South Chiefs call for change in farming practices"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rsf-seize-sudan-army-base-residents/
      title: "RSF seize Sudan army base – residents"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/19/pf-can-go-and-mobilise-well-just-remind-zambians-what-they-did-upnd/
      title: "PF can go and mobilise, we’ll just remind Zambians what they did – UPND"
    - source: Mwebantu
      url: https://www.mwebantu.com/six-arrested-for-allegedly-stealing-various-items-from-patson-dakas-flats-which-are-under-construction-in-kitwe-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=six-arrested-for-allegedly-stealing-various-items-from-patson-dakas-flats-which-are-under-construction-in-kitwe-police-say
      title: "Six arrested for allegedly stealing various items from Patson Daka’s flats which are under construction in Kitwe, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ministry-of-lands-pens-unza-mou-on-new-course/
      title: "Ministry of lands pens UNZA MoU on new course"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/12/19/chipolopolo-will-face-cameroon-in-saudi-arabia-faz/
      title: "Chipolopolo will face Cameroon in Saudi Arabia – FAZ"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/19/nrfa-lost-k217-6m-to-3-contractors-in-legal-costs-reveals-ag/
      title: "NRFA lost K217.6m to 3 contractors in legal costs, reveals AG"
    - source: News Diggers!
      url: https://diggers.news/local/2023/12/19/lsk-records-73-cholera-cases-with-2-deaths-in-last-24-hours/
      title: "Lsk records 73 cholera cases with 2 deaths in last 24 hours"
    - source: Mwebantu
      url: https://www.mwebantu.com/suspected-criminals-in-kitwe-steal-k167000-and-laptop-from-a-vehicle-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=suspected-criminals-in-kitwe-steal-k167000-and-laptop-from-a-vehicle-police-say
      title: "Suspected criminals in Kitwe steal K167,000 and laptop from a vehicle, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/us-senator-ben-cardin-angry-over-senate-sex-tape-linked-to-aide/
      title: "US Senator Ben Cardin ‘angry’ over Senate sex tape linked to aide"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chan-kenya-tanzania-and-uganda-set-to-co-host-2024-edition-of-finals/
      title: "CHAN: Kenya, Tanzania and Uganda set to co-host 2024 edition of finals"
---
