---
title: "Wednesday, September 13th, 2023"
description: This is the seventy-first episode of the podcast.
tags: episode
episode: "071"
date: 2023-09-13T17:04:34.077649+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-09-13_podcast_dist.mp3
    length: 13 minutes, 29 seconds
    size: 12.38 MB
rss:
    enclosure_length: 12977692
    itunes_duration: 13:29
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 12 minutes, 18 seconds
words:
    count: 1,878
    rate: 139 words per minute
references:
    count: 27
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/13/speeding-vehicle-kills-3-pupils/
      title: "Speeding vehicle kills 3 pupils"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/13/zambia-produced-over-14000-metric-tonnes-of-honey-in-2022-chikote/
      title: "Zambia produced over 14,000 metric tonnes of honey in 2022 – Chikote"
    - source: Mwebantu
      url: https://www.mwebantu.com/us-donates-four-helicopters-to-zambia-air-force/?utm_source=rss&utm_medium=rss&utm_campaign=us-donates-four-helicopters-to-zambia-air-force
      title: "US donates four helicopters to Zambia Air Force"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/09/13/idcs-unrealistic-expectations-for-zaffico-prove-unattainable/
      title: "IDC’s unrealistic expectations for ZAFFICO prove unattainable"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/seal-all-tax-evasion-loopholes/?utm_source=rss&utm_medium=rss&utm_campaign=seal-all-tax-evasion-loopholes
      title: "Seal all tax evasion loopholes"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-premier-league-launched-de-linking-league-operations-from-faz-secretariat/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-premier-league-launched-de-linking-league-operations-from-faz-secretariat
      title: "Zambia Premier League Launched, De-linking League Operations from FAZ Secretariat"
    - source: Mwebantu
      url: https://www.mwebantu.com/14-year-old-girl-with-a-mental-disorder-defiled-at-church-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=14-year-old-girl-with-a-mental-disorder-defiled-at-church-police-say
      title: "14-year-old girl with a mental disorder defiled at church, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/senga-hill-mporokoso-districts-get-quality-znbc-radio-signal/
      title: "Senga Hill, Mporokoso Districts Get Quality ZNBC Radio Signal"
    - source: Mwebantu
      url: https://www.mwebantu.com/given-lubinda-has-a-case-to-answer/?utm_source=rss&utm_medium=rss&utm_campaign=given-lubinda-has-a-case-to-answer
      title: "Given Lubinda has a case to answer"
    - source: Mwebantu
      url: https://www.mwebantu.com/shaderick-kasanda-has-another-gold-scam-case-before-the-magistrates-court/?utm_source=rss&utm_medium=rss&utm_campaign=shaderick-kasanda-has-another-gold-scam-case-before-the-magistrates-court
      title: "Shaderick Kasanda has another ‘gold scam’ case before the Magistrate’s Court"
    - source: Mwebantu
      url: https://www.mwebantu.com/govt-embarks-of-artificial-insemination-services-to-enhance-production-of-cattle-and-pigs/?utm_source=rss&utm_medium=rss&utm_campaign=govt-embarks-of-artificial-insemination-services-to-enhance-production-of-cattle-and-pigs
      title: "Govt embarks of Artificial Insemination services to enhance production of cattle and pigs"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-set-up-kk-museum/
      title: "Govt To Set Up KK Museum"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/13/rtsa-lifts-suspension-on-likili-motorways/
      title: "RTSA lifts suspension on Likili Motorways"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/car-hits-and-kills-4-people/
      title: "Car Hits and Kills 4 People"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/200-junior-golfers-get-training/
      title: "200 Junior Golfers Get Training"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/13/zambia-zte-pen-mou-for-smartphone-assembly-plant/
      title: "Zambia, ZTE pen MOU for smartphone assembly plant"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/13/mealie-meal-isnt-our-main-problem-but-high-unemployment-levels-saasa/
      title: "Mealie meal isn’t our main problem but high unemployment levels – Saasa"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/13/we-were-forced-to-admit-that-we-were-gassers-accused-tells-court/
      title: "We were forced to admit that we were gassers, accused tells court"
    - source: Mwebantu
      url: https://www.mwebantu.com/multichoice-cheers-collaboration-with-faz-to-upskill-league-teams/?utm_source=rss&utm_medium=rss&utm_campaign=multichoice-cheers-collaboration-with-faz-to-upskill-league-teams
      title: "MultiChoice Cheers Collaboration with FAZ to Upskill League Teams"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chinese-firms-to-invest-1-4bn-in-zambia/
      title: "Chinese Firms to Invest $1.4bn In Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/880000-children-get-polio-vaccination/
      title: "880,000 Children Get Polio Vaccination"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-has-changed-the-mode-of-investment/
      title: "“HH Has Changed the Mode of Investment”"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/13/minister-announces-60-day-water-interruption-in-lsk/
      title: "Minister announces 60-day water interruption in Lsk"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-capture-two-wanted-criminals/?utm_source=rss&utm_medium=rss&utm_campaign=police-capture-two-wanted-criminals
      title: "Police capture two wanted criminals"
    - source: Mwebantu
      url: https://www.mwebantu.com/water-blues-to-hit-lusaka/?utm_source=rss&utm_medium=rss&utm_campaign=water-blues-to-hit-lusaka
      title: "Water blues to hit Lusaka"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/un-zambias-democratic-credentials-impressive/
      title: "UN : Zambia’s Democratic Credentials Impressive"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/faz-launches-premier-league/
      title: "FAZ launches Premier League"
---
