---
title: "Thursday, July 20th, 2023"
description: This is the thirty-fifth episode of the podcast.
tags: episode
episode: "035"
date: 2023-07-20T17:07:28.821566+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-07-20_podcast_dist.mp3
    length: 8 minutes, 47 seconds
    size: 8.08 MB
rss:
    enclosure_length: 8469578
    itunes_duration: 08:47
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 15 minutes, 11 seconds
words:
    count: 1,278
    rate: 146 words per minute
references:
    count: 16
    sources: 3
articles:
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/time-to-occupy-empty-market-spaces/?utm_source=rss&utm_medium=rss&utm_campaign=time-to-occupy-empty-market-spaces
      title: "Time to occupy empty market spaces"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/teachers-want-k1-2-million-refund-after-failed-land-deal/?utm_source=rss&utm_medium=rss&utm_campaign=teachers-want-k1-2-million-refund-after-failed-land-deal
      title: "Teachers want K1.2 million refund after failed land deal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/masebo-calls-for-quality-training-of-health-workers/
      title: "Masebo calls for quality training of health workers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/travis-king-north-korea-not-responding-to-calls-on-missing-soldier-says-us/
      title: "Travis King: North Korea ‘not responding to calls’ on missing soldier, says US"
    - source: Mwebantu
      url: https://www.mwebantu.com/govt-calls-for-renewal-of-the-black-sea-grain-initiative-among-world-stakeholders/?utm_source=rss&utm_medium=rss&utm_campaign=govt-calls-for-renewal-of-the-black-sea-grain-initiative-among-world-stakeholders
      title: "Govt calls for renewal of the Black Sea Grain Initiative among world stakeholders"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hosts-new-zealand-off-to-winning-start/
      title: "Hosts New Zealand off to winning start"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/graft-fight-wont-look-at-name-or-face-haimbe/?utm_source=rss&utm_medium=rss&utm_campaign=graft-fight-wont-look-at-name-or-face-haimbe
      title: "Graft fight won’t look at name or face – Haimbe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sikongo-rural-health-center-upgraded/
      title: "Sikongo rural health center upgraded"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/plenty-trading-spaces/?utm_source=rss&utm_medium=rss&utm_campaign=plenty-trading-spaces
      title: "Plenty trading spaces"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-keen-to-emulate-uae-development-path-hh/
      title: "Zambia keen to emulate UAE development path-HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/energy-firm-targets-multi-billion-lufwanyama-solar-investment/
      title: "Energy firm targets multi billion Dollar Lufwanyama solar investment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/few-coaches-registering-for-new-season/
      title: "Few coaches registering for new season"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambiamalawi-mark-africa-border-day/
      title: "Zambia,Malawi mark Africa border day"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/be-part-of-government-digital-agenda-mutati-tells-private-sector/
      title: "Be part of government digital agenda ,Mutati tells Private sector"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/wada-targets-league-title/
      title: "Wada targets league title"
    - source: Mwebantu
      url: https://www.mwebantu.com/woman-left-traumatised-after-being-raped-by-five-men/?utm_source=rss&utm_medium=rss&utm_campaign=woman-left-traumatised-after-being-raped-by-five-men
      title: "Woman left traumatised after being raped by five men"
---
