---
title: "Tuesday, August 15th, 2023"
description: This is the fifty-third episode of the podcast.
tags: episode
episode: "053"
date: 2023-08-15T16:58:43.867071+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-08-15_podcast_dist.mp3
    length: 14 minutes, 56 seconds
    size: 13.71 MB
rss:
    enclosure_length: 14371999
    itunes_duration: 14:56
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 26 seconds
words:
    count: 2,085
    rate: 140 words per minute
references:
    count: 29
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/15/govt-should-take-nhima-back-to-moh-mqhz/
      title: "Govt should take NHIMA back to MoH – MQHZ"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/15/cooking-oil-prices-will-soon-rise-chibumba/
      title: "Cooking oil prices will soon rise – Chibumba"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/15/dont-say-things-in-the-corner-be-brave-telesphore-tells-opposition/
      title: "Don’t say things in the corner, be brave, Telesphore tells opposition"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/15/dec-detains-10-including-a-zambian-over-private-jet-fiasco/
      title: "DEC detains 10, including a Zambian, over private jet fiasco"
    - source: Mwebantu
      url: https://www.mwebantu.com/27-year-old-arrested-for-raping-an-old-woman-whose-granddaughter-he-dated/?utm_source=rss&utm_medium=rss&utm_campaign=27-year-old-arrested-for-raping-an-old-woman-whose-granddaughter-he-dated
      title: "27 year old arrested for raping an old woman, whose granddaughter he dated"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/15/past-present-boz-governors-meeting-exemplary-mvunga/
      title: "Past, present BoZ governors’ meeting exemplary – Mvunga"
    - source: Mwebantu
      url: https://www.mwebantu.com/nalis-surgery-on-tomorrow/?utm_source=rss&utm_medium=rss&utm_campaign=nalis-surgery-on-tomorrow
      title: "Nali’s surgery on tomorrow"
    - source: Mwebantu
      url: https://www.mwebantu.com/major-bust-ten-arrested-including-foreign-nationals-and-zambian-citizen-in-over-5-million-cash-and-600-gold-pieces-seizure/?utm_source=rss&utm_medium=rss&utm_campaign=major-bust-ten-arrested-including-foreign-nationals-and-zambian-citizen-in-over-5-million-cash-and-600-gold-pieces-seizure
      title: "Major Bust: Ten arrested including foreign nationals and Zambian citizen in over $5 million cash and 600 gold pieces’ seizure"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-urged-to-encourage-maize-production/
      title: "Govt urged to encourage maize production"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/trump-and-18-others-charged-in-georgia-election-inquiry/
      title: "Trump and 18 others charged in Georgia election inquiry"
    - source: Mwebantu
      url: https://www.mwebantu.com/dangerous-doctor-jailed-three-years-for-administratering-toxic-contraception-on-a-woman/?utm_source=rss&utm_medium=rss&utm_campaign=dangerous-doctor-jailed-three-years-for-administratering-toxic-contraception-on-a-woman
      title: "Dangerous ‘doctor’ jailed three years for administratering toxic contraception on a woman"
    - source: Mwebantu
      url: https://www.mwebantu.com/bundles-of-dollars-gold-fly-into-zambia-through-kkia/?utm_source=rss&utm_medium=rss&utm_campaign=bundles-of-dollars-gold-fly-into-zambia-through-kkia
      title: "Bundles of dollars, gold ‘fly’ into Zambia through KKIA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/private-sector-urged-to-invest-in-rural-areas-energy-sector/
      title: "Private sector urged to invest in rural areas energy sector"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/china-zambia-ties-still-strong-dr-tang/
      title: "China-Zambia ties still strong-Dr Tang"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/mitanda-home-needs-k75000/?utm_source=rss&utm_medium=rss&utm_campaign=mitanda-home-needs-k75000
      title: "Mitanda Home needs K75,000"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/15/feasibility-studies-for-ev-batteries-now-at-45-govt/
      title: "Feasibility studies for EV batteries now at 45% – Govt"
    - source: News Diggers!
      url: https://diggers.news/local/2023/08/15/dec-nabs-filling-station-managers-for-theft-involving-over-k4m/
      title: "DEC nabs filling station managers for theft involving over K4m"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/08/15/courts-set-judgement-date-in-kambwilis-imbwa-shaku-chawama-case/
      title: "Courts set judgement date in Kambwili’s “imbwa shaku Chawama” case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chelsea-sign-caicedo-for-100m-from-brighton/
      title: "Chelsea sign Caicedo for £100m from Brighton"
    - source: Mwebantu
      url: https://www.mwebantu.com/it-will-be-tough-perry-mutapa-speaks-ahead-of-new-season/?utm_source=rss&utm_medium=rss&utm_campaign=it-will-be-tough-perry-mutapa-speaks-ahead-of-new-season
      title: "‘it will be tough’ Perry Mutapa speaks ahead of new season"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/malaria-cases-deaths-unacceptably-highnational-malaria-centre-says/
      title: "Malaria cases, deaths unacceptably high,National Malaria Centre says"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/15/chitotela-explains-kkia-cost-says-its-shaped-like-an-eagle-not-sausage/
      title: "Chitotela explains KKIA cost, says it’s shaped like an eagle, not sausage"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/farm-blocks-have-potential-to-increase-agriculture-production/
      title: "Farm blocks have potential to increase agriculture production"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nali-to-go-under-the-knife/
      title: "Nali to go under the knife"
    - source: News Diggers!
      url: https://diggers.news/business/2023/08/15/operators-oppose-rtsas-move-to-ban-motorbikes-as-psvs/
      title: "Operators oppose RTSA’s move to ban motorbikes as PSVs"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-clinches-third-position-at-african-nations-2023-motor-cross-tournament/
      title: "Zambia clinches third position at African Nations 2023 Motor Cross tournament"
    - source: Mwebantu
      url: https://www.mwebantu.com/75-year-old-eastern-man-arrested-for-indecent-assault-of-a-14-year-old-girl-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=75-year-old-eastern-man-arrested-for-indecent-assault-of-a-14-year-old-girl-police-say
      title: "75-year-old Eastern man arrested for indecent assault of a 14-year-old girl, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hiv-prevalence-rate-among-youth-rises/
      title: "HIV Prevalence rate among youth rises"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/national-heart-hospital-success-rate-elates-hpcz/
      title: "National Heart Hospital success rate elates HPCZ"
---
