---
title: "Monday, June 12th, 2023"
description: This is the eighth episode of the podcast.
tags: episode
episode: "008"
date: 2023-06-12T16:58:23.630788+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-06-12_podcast_dist.mp3
    length: 14 minutes, 3 seconds
    size: 12.90 MB
rss:
    enclosure_length: 13526047
    itunes_duration: 14:03
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 7 seconds
words:
    count: 2,031
    rate: 145 words per minute
references:
    count: 29
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/06/12/assessing-social-and-economic-outcomes-of-zambias-ten-months-on-an-imf-program-marking-areas-for-improvement/
      title: "Assessing Social and Economic Outcomes of Zambia’s Ten-Months on an IMF Program: Marking areas for Improvement"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/colombia-plane-crash-mum-told-children-to-leave-her-and-get-help/
      title: "Colombia plane crash: Mum told children to leave her and get help"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hunter-valley-ten-people-killed-in-wedding-bus-crash-in-australia/
      title: "Hunter Valley: Ten people killed in wedding bus crash in Australia"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/12/miles-asks-court-to-dismiss-pf-officials-joinder-application/
      title: "Miles asks court to dismiss PF officials’ joinder application"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/12/over-1000-couples-have-been-reunited-civil-service-commission/
      title: "Over 1,000 couples have been reunited – Civil Service Commission"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/12/indications-are-that-upnd-will-be-a-one-term-govt-kbf/
      title: "Indications are that UPND will be a one term govt – KBF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/george-soros-hands-reins-of-25bn-empire-to-son-alex/
      title: "George Soros hands reins of $25bn empire to son Alex"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-bodies-to-migrate-procurement-systems-to-online-platform/
      title: "Govt bodies to migrate procurement systems to online platform"
    - source: Mwebantu
      url: https://www.mwebantu.com/abduction-victim-was-tortured-after-refusing-to-dance-seductively-and-drink-beer/?utm_source=rss&utm_medium=rss&utm_campaign=abduction-victim-was-tortured-after-refusing-to-dance-seductively-and-drink-beer
      title: "Abduction victim was tortured after refusing to dance seductively and drink beer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-publishes-names-of-shortlisted-defence-candidates/
      title: "Govt publishes names of shortlisted defence candidates"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/12/hh-has-set-a-precedent-by-not-removing-lungus-immunity-mweetwa/
      title: "HH has set a precedent by not removing Lungu’s immunity – Mweetwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fans-urge-copper-queens-coach-to-work-on-coordination/
      title: "Fans urge Copper Queens Coach to work on coordination"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/12/chipolopolos-hour-of-beckoning-awaits/
      title: "Chipolopolo’s hour of beckoning awaits"
    - source: Mwebantu
      url: https://www.mwebantu.com/mabika-to-miss-ivory-coast-encounter/?utm_source=rss&utm_medium=rss&utm_campaign=mabika-to-miss-ivory-coast-encounter
      title: "Mabika to miss Ivory Coast encounter?"
    - source: Mwebantu
      url: https://www.mwebantu.com/divorce-turns-tragic-as-kapiri-mposhi-man-axes-his-wife-to-death/?utm_source=rss&utm_medium=rss&utm_campaign=divorce-turns-tragic-as-kapiri-mposhi-man-axes-his-wife-to-death
      title: "Divorce turns tragic as Kapiri-Mposhi man axes his wife to death"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/silvio-berlusconi-former-italian-pm-dies-at-86/
      title: "Silvio Berlusconi, former Italian PM, dies at 86"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ex-boz-chief-calls-for-increased-exports-to-aid-debt-repayment/
      title: "EX BOZ Chief calls for increased exports to aid debt repayment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-rugby-union-cracks-whip/
      title: "Players, fans suspended as Zambia Rugby Union cracks whip"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/set-up-farms-in-areas-bordering-drc-fundanga-says/
      title: "Set up farms in areas bordering DRC, Fundanga says"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/we-are-not-there-yet-barbara/
      title: "‘we are not there yet’-Barbara"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/12/hh-sends-delegation-of-ministers-to-make-peace-with-catholic-church/
      title: "HH sends delegation of ministers to make peace with Catholic Church"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/12/2-tanzanian-illegal-miners-get-2-years/
      title: "2 Tanzanian illegal miners get 2 years"
    - source: Mwebantu
      url: https://www.mwebantu.com/elderly-woman-dies-in-a-fatal-accident/?utm_source=rss&utm_medium=rss&utm_campaign=elderly-woman-dies-in-a-fatal-accident
      title: "Elderly woman dies in a fatal accident"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nothing-sinister-about-my-visits-to-constituencies-imenda/
      title: "Nothing sinister about my visits to constituencies-Imenda"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/internet-connectivity-for-schools-coming/
      title: "Internet connectivity for schools coming"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/12/halt-money-lenders-case-until-they-pay-me-costs-in-discontinued-matter-maureen-tells-court/
      title: "Halt money lenders’ case until they pay me costs in discontinued matter, Maureen tells court"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/12/munir-denies-defamation-charges/
      title: "Munir denies defamation charges"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/monzes-malundu-schools-facing-desk-shortage/
      title: "Monze’s Malundu schools facing desk shortage"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-ready-to-trade-in-livestock-products-chikote/
      title: "Zambia ready to trade in livestock products-Chikote"
---
