---
title: "Thursday, October 12th, 2023"
description: This is the ninety-second episode of the podcast.
tags: episode
episode: "092"
date: 2023-10-12T17:14:35.896758+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-10-12_podcast_dist.mp3
    length: 11 minutes, 31 seconds
    size: 10.58 MB
rss:
    enclosure_length: 11093111
    itunes_duration: 11:31
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 22 minutes, 19 seconds
words:
    count: 1,654
    rate: 144 words per minute
references:
    count: 22
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/12/postpone-high-cost-of-living-protests-appeals-church-mother-body/
      title: "Postpone high cost of living protests, appeals church mother body"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/12/chipepo-backs-nkana-to-bounce-back/
      title: "Nkana form worries Chipepo"
    - source: News Diggers!
      url: https://diggers.news/business/2023/10/12/mof-releases-k12bn-to-finance-public-service-delivery/
      title: "MOF releases K12bn to finance public service delivery"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/world-bank-pledges-continued-support-to-zambia/
      title: "World Bank pledges continued support to Zambia"
    - source: Mwebantu
      url: https://www.mwebantu.com/bring-them-on-fashion-sakala-declares-chipolopolo-ready-to-face-any-opponent-at-afcon/?utm_source=rss&utm_medium=rss&utm_campaign=bring-them-on-fashion-sakala-declares-chipolopolo-ready-to-face-any-opponent-at-afcon
      title: "‘Bring them on;’ Fashion Sakala declares Chipolopolo ready to face any opponent at AfCON"
    - source: Mwebantu
      url: https://www.mwebantu.com/magistrate-orders-arrest-and-prosecution-of-three-police-officers-who-tortured-a-detainee/?utm_source=rss&utm_medium=rss&utm_campaign=magistrate-orders-arrest-and-prosecution-of-three-police-officers-who-tortured-a-detainee
      title: "Magistrate orders arrest and prosecution of three police officers who tortured a detainee"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ugandan-mps-reject-birth-control-for-15-year-old-girls/
      title: "Ugandan MPs reject birth control for 15-year-old girls"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/bisas-celebrate-chinamanongo/?utm_source=rss&utm_medium=rss&utm_campaign=bisas-celebrate-chinamanongo
      title: "Bisas celebrate Chinamanongo"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2023/10/12/andre-onana-and-victor-osimhen-are-2023-ballon-dor-nominees/
      title: "Andre Onana and Victor Osimhen are 2023 Ballon d’Or nominees"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/12/copper-bullets-in-egypt-test/
      title: "Copper Bullets in Egypt test"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/adopt-renewable-energy-at-household-level-mumba/
      title: "Adopt renewable energy at household level – MUMBA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipolopolo-assistant-coach-to-try-out-new-players/
      title: "Chipolopolo Assistant Coach to try out new players"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/12/lack-of-clear-roadmap-on-constitution-reform-process-worries-lifuka/
      title: "Lack of clear roadmap on constitution reform process worries Lifuka"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-police-investigate-alleged-assault-by-kabulonga-trust-school-principal-on-security-guard/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-police-investigate-alleged-assault-by-kabulonga-trust-school-principal-on-security-guard
      title: "Lusaka police investigate alleged assault by Kabulonga Trust School Principal on security guard"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/directors-charged-over-audit-queries/
      title: "Directors charged over audit queries"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/10/12/fuel-supply-and-economic-sabotage-whos-behind-it-part-2/
      title: "Fuel supply and economic sabotage, who’s behind it? Part 2"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/farmers-lose-gm-food-challenge-in-kenya/
      title: "Farmers lose GM food challenge in Kenya"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/12/suspect-kills-himself-while-in-police-custody/
      title: "Suspect kills himself while in police custody"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/12/faz-mourns-zulu/
      title: "FAZ mourns Zulu"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/12/informal-sector-accessing-over-90-of-contributions-made-by-formal-sector-nhima/
      title: "Informal sector accessing over 90% of contributions made by formal sector – NHIMA"
    - source: Mwebantu
      url: https://www.mwebantu.com/thieves-steal-from-hospital-mortuary/?utm_source=rss&utm_medium=rss&utm_campaign=thieves-steal-from-hospital-mortuary
      title: "Thieves steal from hospital mortuary"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zns-mealie-meal-prices-fall-to-be-available-in-shoprite/
      title: "ZNS mealie meal prices fall, to be available in Shoprite"
---
