---
title: "Thursday, October 19th, 2023"
description: This is the ninety-sixth episode of the podcast.
tags: episode
episode: "096"
date: 2023-10-19T17:15:31.814035+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-10-19_podcast_dist.mp3
    length: 6 minutes, 32 seconds
    size: 6.02 MB
rss:
    enclosure_length: 6308314
    itunes_duration: 06:32
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 23 minutes, 16 seconds
words:
    count: 928
    rate: 142 words per minute
references:
    count: 11
    sources: 3
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kitwe-maid-steals-us21000-cash/
      title: "Kitwe maid steals US$21,000 cash"
    - source: Mwebantu
      url: https://www.mwebantu.com/lavish-kitwe-maid-arrested-for-stealing-usd41000-in-cash-and-jewellery-to-fund-luxurious-life-style/?utm_source=rss&utm_medium=rss&utm_campaign=lavish-kitwe-maid-arrested-for-stealing-usd41000-in-cash-and-jewellery-to-fund-luxurious-life-style
      title: "Lavish Kitwe maid arrested for stealing USD$41,000 in cash and jewellery to fund luxurious life style."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zda-targets-us36bn-fdi/
      title: "ZDA targets US$36bn FDI"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/abusers-of-youth-empowerment-programmes-to-be-pursued-ps/
      title: "Abusers of youth empowerment programmes to be pursued – PS"
    - source: Zambia Daily Mail
      url: http://www.daily-mail.co.zm/we-need-more-safe-spaces/?utm_source=rss&utm_medium=rss&utm_campaign=we-need-more-safe-spaces
      title: "‘We need more safe spaces’"
    - source: Mwebantu
      url: https://www.mwebantu.com/state-house-clarifies-president-hichilemas-absence-at-the-designated-location-during-the-national-day-of-prayer-fasting-and-reconciliation/?utm_source=rss&utm_medium=rss&utm_campaign=state-house-clarifies-president-hichilemas-absence-at-the-designated-location-during-the-national-day-of-prayer-fasting-and-reconciliation
      title: "State House clarifies President Hichilema’s absence at the designated location during the National Day of Prayer, Fasting, and Reconciliation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/farmers-urged-not-to-plant-just-yet/
      title: "Farmers urged not to plant just yet"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-detain-12-suspected-somali-nationals-and-two-zambian-drivers-in-luangwa-migrant-smuggling-bust/?utm_source=rss&utm_medium=rss&utm_campaign=police-detain-12-suspected-somali-nationals-and-two-zambian-drivers-in-luangwa-migrant-smuggling-bust
      title: "Police detain 12 suspected Somali nationals and two Zambian drivers in Luangwa migrant smuggling bust"
    - source: Mwebantu
      url: https://www.mwebantu.com/banker-arrested-for-fraud-involving-over-k16-million/?utm_source=rss&utm_medium=rss&utm_campaign=banker-arrested-for-fraud-involving-over-k16-million
      title: "Banker arrested for fraud involving over K16 million"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zesco-fc-in-k2-5m-sponsorship-deal/
      title: "ZESCO FC in K2.5m sponsorship deal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-determined-to-reduce-inflation/
      title: "Govt determined to reduce inflation"
---
