---
title: "Tuesday, October 31st, 2023"
description: This is the one hundred and fourth episode of the podcast.
tags: episode
episode: "104"
date: 2023-10-31T17:06:33.353402+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-10-31_podcast_dist.mp3
    length: 12 minutes, 2 seconds
    size: 11.05 MB
rss:
    enclosure_length: 11585885
    itunes_duration: 12:02
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 5 seconds
words:
    count: 1,722
    rate: 143 words per minute
references:
    count: 22
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/31/mens-hockey-team-crushes-out-of-olympic-qualifiers/
      title: "Men’s hockey team crushes out of Olympic qualifiers"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/10/31/hh-must-not-give-room-to-state-capture-he-must-dismantle-the-fuel-cartel/
      title: "HH must not give room to state capture, he must dismantle the fuel cartel"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fukushima-us-buys-japan-seafood-to-counter-china-ban/
      title: "Fukushima: US buys Japan seafood to counter China ban"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/the-14th-amendment-plan-to-disqualify-trump-explained/
      title: "The 14th Amendment plan to disqualify Trump, explained"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tank-seen-on-key-gaza-road-as-israeli-forces-push-deeper-into-north/
      title: "Tank seen on key Gaza road as Israeli forces push deeper into north"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kerala-blasts-man-arrested-after-deadly-attack-on-jehovahs-witnesses/
      title: "Kerala blasts: Man arrested after deadly attack on Jehovah’s Witnesses"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/speaker-mutti-pays-tribute-to-mwanamwambwa/
      title: "Speaker Mutti pays tribute to Mwanamwambwa"
    - source: Mwebantu
      url: https://www.mwebantu.com/betpawa-pays-out-every-ngwee-as-customers-win-k36-6m-in-a-week/?utm_source=rss&utm_medium=rss&utm_campaign=betpawa-pays-out-every-ngwee-as-customers-win-k36-6m-in-a-week
      title: "betPawa pays out every ngwee as customers win K36.6m in a week"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/italy-calls-for-strong-trade-ties-with-zambia/
      title: "Italy calls for strong trade ties with Zambia"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/31/were-waiting-for-fifa-to-certify-levy-mwanawasa-stadium-faz/
      title: "We’re waiting for FIFA to certify Levy Mwanawasa Stadium – FAZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipangali-mortuary-works-begin/
      title: "Chipangali mortuary works begin"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-women-hockey-team-eyes-2024-olympics-spot/
      title: "Zambia women hockey team eyes  2024 Olympics spot"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/womens-ballon-dor-spain-and-barcelona-midfielder-aitana-bonmati-wins-award-for-first-time/
      title: "Women’s Ballon d’Or: Spain and Barcelona midfielder Aitana Bonmati wins award for first time"
    - source: News Diggers!
      url: https://diggers.news/business/2023/10/31/we-investigated-13-procurement-matters-in-2023-q3-zppa/
      title: "We investigated 13 procurement matters in 2023 Q3 – ZPPA"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/31/lets-change-the-traditional-way-of-auditing-by-embracing-information-systems-govt/
      title: "Let’s change the traditional way of auditing by embracing information systems – Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/parliament-receives-letter-from-morgan-ngona-as-secretary-general-of-pf/?utm_source=rss&utm_medium=rss&utm_campaign=parliament-receives-letter-from-morgan-ngona-as-secretary-general-of-pf
      title: "Parliament receives letter from Morgan Ng’ona as Secretary General of PF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/business-community-urged-to-be-proactive/
      title: "Business community urged to be proactive"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/31/muchindu-retains-africa-strongwoman-title/
      title: "Muchindu retains Africa Strongwoman title"
    - source: News Diggers!
      url: https://diggers.news/business/2023/10/31/people-smuggle-even-things-that-are-duty-free-due-to-information-gap-notes-zra/
      title: "People smuggle even things that are duty free due to information gap, notes ZRA"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/31/kamanga-calls-on-faz-zpl-to-reinforce-club-licencing/
      title: "Kamanga calls on FAZ, ZPL to reinforce club licencing"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/psmf-gets-k300m-for-agriculture-loans/
      title: "PSMF gets K300m for agriculture loans"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/handball-association-promises-crack-team-for-african-championship/
      title: "Handball Association promises crack team for African Championship"
---
