---
title: "Thursday, June 15th, 2023"
description: This is the eleventh episode of the podcast.
tags: episode
episode: "011"
date: 2023-06-15T16:57:51.393023+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-06-15_podcast_dist.mp3
    length: 11 minutes, 1 second
    size: 10.12 MB
rss:
    enclosure_length: 10612455
    itunes_duration: 11:01
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 35 seconds
words:
    count: 1,590
    rate: 144 words per minute
references:
    count: 22
    sources: 3
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zesco-probes-explosion-that-claimed-one-employee/
      title: "ZESCO PROBES EXPLOSION THAT KILLED ONE EMPLOYEE"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/covid-19-omicron-not-as-dangerous-as-delta/
      title: "COVID-19: “OMICRON NOT AS DANGEROUS AS DELTA”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kabwe-to-buy-ambulancespolice-vehicles/
      title: "KABWE TO BUY AMBULANCES,POLICE VEHICLES"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/15/chilufya-munsaka-confident-of-making-final-wc-squad/
      title: "Chilufya, Munsaka confident of making final WC squad"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/15/i-wont-regret-my-decision-to-leave-pf-antonio/
      title: "I won’t regret my decision to leave PF – Antonio"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/15/parley-launches-sdgs-programme-series/
      title: "Parley launches SDGs programme series"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mpezeni-welcomes-new-shaka-tv-series/
      title: "MPEZENI WELCOMES NEW SHAKA TV SERIES"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/we-have-enough-maize-in-reserve/
      title: "“WE HAVE ENOUGH MAIZE IN RESERVE”"
    - source: Mwebantu
      url: https://www.mwebantu.com/multichoice-launches-south-africas-epic-series-shaka-ilembe/?utm_source=rss&utm_medium=rss&utm_campaign=multichoice-launches-south-africas-epic-series-shaka-ilembe
      title: "MultiChoice Launches South Africa’s Epic Series “SHAKA iLEMBE”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/natsave-donates-to-cancer-children/
      title: "NATSAVE DONATES TO CANCER CHILDREN"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/15/culture-of-accusing-govt-of-directing-arrests-of-opposition-leaders-has-existed-for-decades-saccord/
      title: "Culture of accusing govt of directing arrests of opposition leaders has existed for decades – SACCORD"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/15/pf-challenges-registrar-to-state-which-requirements-it-hasnt-fulfilled/
      title: "PF challenges Registrar to state which requirements it hasn’t fulfilled"
    - source: News Diggers!
      url: https://diggers.news/local/2023/06/15/we-owe-k24142-each-because-of-pf-milupi/
      title: "We owe K24,142 each because of PF – Milupi"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/06/15/court-orders-state-to-retain-32-dismissed-cops-on-payroll/
      title: "Court orders state to retain 32 dismissed cops on payroll"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/06/15/faz-has-damaged-my-name-kalaba/
      title: "FAZ has damaged my name – Kalaba"
    - source: Mwebantu
      url: https://www.mwebantu.com/mumbwa-missing-corpse-was-accidentally-swapped-and-buried-by-another-family-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=mumbwa-missing-corpse-was-accidentally-swapped-and-buried-by-another-family-police-say
      title: "Mumbwa missing corpse was accidentally swapped and buried by another family, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/catholicsgei-power-sign-mou/
      title: "CATHOLICS,GEI POWER SIGN MOU TO PROTECT ENVIRONMENT"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/copper-queen-land-in-germany/
      title: "COPPER QUEENS ARRIVE IN GERMANY"
    - source: News Diggers!
      url: https://diggers.news/business/2023/06/15/we-believe-in-healthy-competition-says-liquid-as-it-welcomes-starlink/
      title: "We believe in healthy competition, says Liquid as it welcomes Starlink"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-launches-judicial-expenditure-review-report/
      title: "GOVT LAUNCHES JUDICIAL EXPENDITURE REVIEW REPORT"
    - source: Mwebantu
      url: https://www.mwebantu.com/a-video-circulating-on-social-media-where-armed-individuals-are-attacking-others-is-part-of-training-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=a-video-circulating-on-social-media-where-armed-individuals-are-attacking-others-is-part-of-training-police-say
      title: "A video circulating on social media where armed individuals are attacking others is part of training, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/muzala-on-the-line-for-diamond-race/
      title: "MUZALA ON THE LINE FOR DIAMOND RACE"
---
