---
title: "Wednesday, November 15th, 2023"
description: This is the one hundred and fifteenth episode of the podcast.
tags: episode
episode: "115"
date: 2023-11-15T16:55:02.569297+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2023-11-15_podcast_dist.mp3
    length: 8 minutes, 18 seconds
    size: 7.63 MB
rss:
    enclosure_length: 7999798
    itunes_duration: 08:18
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 2 minutes, 48 seconds
words:
    count: 1,177
    rate: 142 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/15/take-it-or-leave-it-but-dont-call-our-advice-one-sided-zccb-tells-govt/
      title: "Take it or leave it, but don’t call our advice one-sided, ZCCB tells govt"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/11/15/upnd-is-not-good-with-tyranny-they-must-leave-that-path/
      title: "UPND is not good with tyranny, they must leave that path"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/11/15/banda-chanda-kundananji-get-caf-poy-nominations/
      title: "Banda, Chanda, Kundananji get CAF POY nominations"
    - source: Mwebantu
      url: https://www.mwebantu.com/chingola-wife-dies-during-a-quarrel-with-hubby-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=chingola-wife-dies-during-a-quarrel-with-hubby-police-say
      title: "Chingola wife dies during a quarrel with hubby,  police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-dialogue-with-catholic-bishops-mweetwa/
      title: "Govt to dialogue with Catholic Bishops – MWEETWA"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/11/15/play-like-a-cup-final-against-congo-brazzaville-nyirenda-tips-chipolopolo/
      title: "Play like a cup final against Congo Brazzaville, Nyirenda tips Chipolopolo"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/11/15/we-wont-tolerate-politics-at-stadiums-nkandu/
      title: "We won’t tolerate politics at stadiums – Nkandu"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/15/tanzanian-national-sodomises-muchinga-man-after-drinking-spree/
      title: "Tanzanian national sodomises Muchinga man after drinking spree"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/15/ngo-asks-chief-justice-to-appoint-tribunal-to-probe-kapala/
      title: "NGO asks Chief Justice to appoint tribunal to probe Kapala"
    - source: Mwebantu
      url: https://www.mwebantu.com/fred-mmembe-detained-for-espionage-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=fred-mmembe-detained-for-espionage-police-say
      title: "Fred M’membe detained for Espionage, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/kaseko-gets-national-team-job/?utm_source=rss&utm_medium=rss&utm_campaign=kaseko-gets-national-team-job
      title: "Kaseko gets national team job"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/acc-challenges-ministry-of-justice-officials/
      title: "ACC challenges Ministry of Justice officials"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-army-to-recover-loans-from-officers-soldiers-for-helsb/
      title: "Zambia Army to recover loans from officers, soldiers for HELSB"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/11/15/upnd-member-sues-state-seeks-k3m-compensation/
      title: "UPND member sues State, seeks K3m compensation"
    - source: News Diggers!
      url: https://diggers.news/local/2023/11/15/hh-has-not-stopped-having-quarterly-press-conferences-state-house/
      title: "HH has not stopped having quarterly press conferences – State House"
    - source: Mwebantu
      url: https://www.mwebantu.com/chipolopolo-threaten-to-boycott-training-sessions-minister-wonders-why/?utm_source=rss&utm_medium=rss&utm_campaign=chipolopolo-threaten-to-boycott-training-sessions-minister-wonders-why
      title: "Chipolopolo threaten to boycott training sessions, minister wonders why"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/world-cup-trophy-safe-after-sa-offices-broken-into/
      title: "World Cup trophy ‘safe’ after SA offices broken into"
---
