---
title: "Wednesday, October 11th, 2023"
description: This is the ninety-first episode of the podcast.
tags: episode
episode: "091"
date: 2023-10-11T17:00:04.067796+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-10-11_podcast_dist.mp3
    length: 11 minutes, 50 seconds
    size: 10.88 MB
rss:
    enclosure_length: 11404492
    itunes_duration: 11:50
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 7 minutes, 47 seconds
words:
    count: 1,660
    rate: 140 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/11/rewrite-your-story-kamanga-tells-u20-girls/
      title: "Rewrite your story, Kamanga tells U20 girls"
    - source: News Diggers!
      url: https://diggers.news/opinion/2023/10/11/economic-sabotage-in-the-fuel-sector-whos-behind-it-part-1/
      title: "Fuel supply and economic sabotage, who’s behind it? Part 1"
    - source: Mwebantu
      url: https://www.mwebantu.com/budding-football-administrator-nashawn-zulu-dies/?utm_source=rss&utm_medium=rss&utm_campaign=budding-football-administrator-nashawn-zulu-dies
      title: "Budding football administrator Nashawn Zulu dies"
    - source: Mwebantu
      url: https://www.mwebantu.com/14th-mobile-broadband-forum-to-provide-riveting-lessons-for-zambias-digital-transformation/?utm_source=rss&utm_medium=rss&utm_campaign=14th-mobile-broadband-forum-to-provide-riveting-lessons-for-zambias-digital-transformation
      title: "14th Mobile Broadband Forum to provide riveting lessons for Zambia’s Digital Transformation"
    - source: Mwebantu
      url: https://www.mwebantu.com/huaweis-li-peng-leading-the-5g-revolution-and-pioneering-5-5g-5g-a/?utm_source=rss&utm_medium=rss&utm_campaign=huaweis-li-peng-leading-the-5g-revolution-and-pioneering-5-5g-5g-a
      title: "Huawei’s Li Peng: Leading the 5G Revolution and Pioneering 5.5G (5G-A)"
    - source: News Diggers!
      url: https://diggers.news/business/2023/10/11/those-who-get-starlink-can-start-internet-cafe-businesses-mutati/
      title: "Those who get Starlink can start ‘Internet cafe’ businesses – Mutati"
    - source: Mwebantu
      url: https://www.mwebantu.com/the-queens-return-drama-unfolds-in-season-2-of-royal-qlique-premiering-on-zambezi-magic-this-october/?utm_source=rss&utm_medium=rss&utm_campaign=the-queens-return-drama-unfolds-in-season-2-of-royal-qlique-premiering-on-zambezi-magic-this-october
      title: "The Queens return! Drama unfolds in Season 2 of Royal Qlique premiering on Zambezi Magic this October"
    - source: Mwebantu
      url: https://www.mwebantu.com/idc-board-appoints-cornwell-muleya-new-ceo/?utm_source=rss&utm_medium=rss&utm_campaign=idc-board-appoints-cornwell-muleya-new-ceo
      title: "IDC Board appoints Cornwell Muleya new CEO"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-railways-urged-to-expand-rail-network-to-all-provinces/
      title: "Zambia Railways urged to expand rail network to all provinces"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/11/zambia-breweries-unveils-jersey-for-womens-rugby-7s/
      title: "Zambia Breweries unveils jersey for women’s Rugby 7’s"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/11/govt-aims-to-nurture-high-quality-athletes-nkandu/
      title: "Govt aims to nurture high-quality athletes – Nkandu"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/10/11/kabwes-treble-sends-copper-queens-into-cosafa-semis/
      title: "Kabwe’s treble sends Copper Queens into Cosafa semis"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/body-builders-gear-up-for-mr-mtendere/
      title: "Body builders gear up for Mr. Mtendere"
    - source: News Diggers!
      url: https://diggers.news/business/2023/10/11/we-hope-to-sign-mou-with-official-creditors-soon-musokotwane/
      title: "We hope to sign MoU with official creditors soon – Musokotwane"
    - source: Mwebantu
      url: https://www.mwebantu.com/minister-of-home-affairs-and-internal-security-jack-mwiimbu-champions-new-perspective-on-migration/?utm_source=rss&utm_medium=rss&utm_campaign=minister-of-home-affairs-and-internal-security-jack-mwiimbu-champions-new-perspective-on-migration
      title: "Minister of Home Affairs and Internal Security, Jack Mwiimbu, champions new perspective on migration"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sikumba-challenges-tourism-council-of-zambia/
      title: "SIKUMBA challenges Tourism Council of Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/political-parties-must-heed-directive-by-registrar-of-societies-mweetwa/
      title: "Political parties must heed directive by Registrar of Societies – MWEETWA"
    - source: News Diggers!
      url: https://diggers.news/local/2023/10/11/well-address-mealie-meal-prices-we-dealt-with-drug-shortages-load-shedding-chipoka/
      title: "We’ll address mealie meal prices, we dealt with drug shortages, load shedding – Chipoka"
    - source: Mwebantu
      url: https://www.mwebantu.com/department-stops-suspected-child-trafficking-at-kenneth-kaunda-international-airport/?utm_source=rss&utm_medium=rss&utm_campaign=department-stops-suspected-child-trafficking-at-kenneth-kaunda-international-airport
      title: "Department stops suspected child trafficking at Kenneth Kaunda International Airport"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/coroners-court-orders-arrest-of-three-nyimba-police-officers/
      title: "Coroner’s Court orders arrest of three Nyimba police officers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zimbabwe-mps-lose-seats-because-of-fake-letter/
      title: "Zimbabwe MPs lose seats because of fake letter"
---
