---
title: "Friday, September 8th, 2023"
description: This is the sixty-eighth episode of the podcast.
tags: episode
episode: "068"
date: 2023-09-08T16:56:33.850396+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-09-08_podcast_dist.mp3
    length: 12 minutes, 1 second
    size: 11.04 MB
rss:
    enclosure_length: 11577107
    itunes_duration: 12:01
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 18 seconds
words:
    count: 1,689
    rate: 141 words per minute
references:
    count: 24
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/08/parents-no-longer-get-stressed-when-schools-re-open-syakalima/
      title: "Parents no longer get stressed when schools re-open – Syakalima"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/08/katuta-denies-threatening-to-cause-injury-on-journalist/
      title: "Katuta denies threatening to cause injury on journalist"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/08/zra-garnishes-k238m-from-taxpayers/
      title: "ZRA garnishes K238m from taxpayers"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-assures-governments-resolve-to-address-high-cost-of-living-as-he-emphasizes-strong-stance-against-corruption/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-assures-governments-resolve-to-address-high-cost-of-living-as-he-emphasizes-strong-stance-against-corruption
      title: "President Hichilema assures Government’s resolve to address high cost of living, as he emphasizes strong stance against corruption"
    - source: News Diggers!
      url: https://diggers.news/business/2023/09/08/zppa-suspends-investcorp-from-public-procurement-for-under-performance/
      title: "ZPPA suspends Investcorp from public procurement for under-performance"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/09/08/zambians-register-mixed-results-at-youth-chess-championships/
      title: "Zambians register mixed results at youth chess championships"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-to-undertake-a-state-visit-to-the-peoples-republic-of-china/?utm_source=rss&utm_medium=rss&utm_campaign=president-hakainde-hichilema-to-undertake-a-state-visit-to-the-peoples-republic-of-china
      title: "President Hakainde Hichilema to undertake a State Visit to the People’s Republic of China"
    - source: Mwebantu
      url: https://www.mwebantu.com/java-foods-to-sponsor-kupes-conference-2023/?utm_source=rss&utm_medium=rss&utm_campaign=java-foods-to-sponsor-kupes-conference-2023
      title: "Java foods to sponsor Kupes Conference 2023"
    - source: Mwebantu
      url: https://www.mwebantu.com/bible-based-education-enhance-literary-skills/?utm_source=rss&utm_medium=rss&utm_campaign=bible-based-education-enhance-literary-skills
      title: "Bible- based education enhance literary skills"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/08/hh-to-visit-china-from-sept-10-to-16/
      title: "HH to visit China from Sept 10 to 16"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/african-union-expected-to-join-g20-permanently/
      title: "African Union expected to join G20 permanently"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hong-kong-and-southern-china-battle-widespread-flooding-from-record-rains/
      title: "Hong Kong and southern China battle widespread flooding from record rains"
    - source: News Diggers!
      url: https://diggers.news/courts/2023/09/08/trial-commences-in-gassing-case/
      title: "Trial commences in gassing case"
    - source: Mwebantu
      url: https://www.mwebantu.com/no-minor-sports-in-zambia-says-hichilema/?utm_source=rss&utm_medium=rss&utm_campaign=no-minor-sports-in-zambia-says-hichilema
      title: "No Minor Sports in Zambia, says Hichilema"
    - source: Mwebantu
      url: https://www.mwebantu.com/professional-insurance-championing-zambias-motor-industry-as-title-sponsors-of-the-13th-lusaka-motor-show/?utm_source=rss&utm_medium=rss&utm_campaign=professional-insurance-championing-zambias-motor-industry-as-title-sponsors-of-the-13th-lusaka-motor-show
      title: "Professional Insurance Championing Zambia’s Motor Industry as Title Sponsors of the 13th Lusaka Motor Show"
    - source: Mwebantu
      url: https://www.mwebantu.com/chipolopolo-leaves-for-battlefield/?utm_source=rss&utm_medium=rss&utm_campaign=chipolopolo-leaves-for-battlefield
      title: "Chipolopolo leaves for battlefield"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/credit-window-for-the-public-sector-coming-hh/
      title: "Credit window for the public sector coming – HH"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/08/police-nab-upnd-councilor-for-swindling-pupils-at-his-school/
      title: "Police nab UPND Councilor for swindling pupils at his school"
    - source: News Diggers!
      url: https://diggers.news/local/2023/09/08/street-vendors-defying-laws-risk-being-prosecuted-warns-govt/
      title: "Street vendors defying laws risk being prosecuted, warns govt"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/09/08/faz-hands-fifa-donations-to-womens-super-league-teams/
      title: "FAZ hands FIFA donations to Women’s Super League teams"
    - source: Mwebantu
      url: https://www.mwebantu.com/stop-immature-politics-munir-zulu-told/?utm_source=rss&utm_medium=rss&utm_campaign=stop-immature-politics-munir-zulu-told
      title: "Stop immature politics, Munir Zulu told"
    - source: Mwebantu
      url: https://www.mwebantu.com/three-deaths-recorded-from-58-separate-accidents-in-lusaka-yesterday-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=three-deaths-recorded-from-58-separate-accidents-in-lusaka-yesterday-police-say
      title: "Three deaths recorded from 58 separate accidents in Lusaka yesterday, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/53-year-old-eastern-man-dies-after-being-killed-by-an-elephant-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=53-year-old-eastern-man-dies-after-being-killed-by-an-elephant-police-say
      title: "53-year-old Eastern man dies after being killed by an elephant, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ugandans-asked-to-stop-strangers-in-worship-places/
      title: "Ugandans asked to stop ‘strangers’ in worship places"
---
