---
title: "Friday, July 14th, 2023"
description: This is the thirty-first episode of the podcast.
tags: episode
episode: "031"
date: 2023-07-14T16:56:27.845764+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2023-07-14_podcast_dist.mp3
    length: 9 minutes, 53 seconds
    size: 9.08 MB
rss:
    enclosure_length: 9525759
    itunes_duration: 09:53
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 11 seconds
words:
    count: 1,435
    rate: 145 words per minute
references:
    count: 19
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/14/the-grants-were-giving-to-schools-are-being-abused-laments-govt/
      title: "The grants we’re giving to schools are being abused, laments govt"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/14/weve-grown-up-eating-nshima-we-cant-change-our-eating-habits-now-zaca/
      title: "We’ve grown up eating nshima, we can’t change our eating habits now – ZACA"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/14/zambians-should-expect-a-fight-from-copper-queens-susan/
      title: "Zambians should expect a fight from Copper Queens – Susan"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2023/07/14/carbon-trade-policy-formulation-not-inclusive-of-stakeholders/
      title: "Carbon Trade Policy Formulation Not Inclusive of Stakeholders"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/14/weve-seized-over-100-licences-from-illegal-alcohol-traders-lcc/
      title: "We’ve seized over 100 licences from illegal alcohol traders – LCC"
    - source: Mwebantu
      url: https://www.mwebantu.com/minister-of-foreign-affairs-and-international-cooperation-stanley-kakubo-to-lead-delegation-to-the-au-in-kenya/?utm_source=rss&utm_medium=rss&utm_campaign=minister-of-foreign-affairs-and-international-cooperation-stanley-kakubo-to-lead-delegation-to-the-au-in-kenya
      title: "Minister of Foreign Affairs and International Cooperation Stanley Kakubo to lead delegation to the AU in Kenya"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sas-jacob-zuma-seeking-medical-treatment-in-russia/
      title: "SA’s Jacob Zuma seeking medical treatment in Russia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zuma-release-from-south-african-jail-ruled-unlawful/
      title: "Zuma release from South African jail ruled unlawful"
    - source: News Diggers!
      url: https://diggers.news/business/2023/07/14/its-true-cost-of-living-has-become-unbearable-for-most-zambians-cspr/
      title: "It’s true, cost of living has become unbearable for most Zambians – CSPR"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-identifies-land-for-commercial-agriculture/
      title: "GOVT IDENTIFIES LAND FOR COMMERCIAL AGRICULTURE"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/strongmen-need-k2-6m-to-host-africa-championship/
      title: "STRONGMEN NEED K2.6M TO HOST AFRICA CHAMPIONSHIP"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2023/07/14/zambia-south-africa-cross-swords-in-cosafa-semis/
      title: "Zambia, South Africa cross swords in Cosafa semis"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2023/07/14/the-life-of-a-marketeer/
      title: "The life of a marketeer"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/14/govt-hrc-condemn-detention-of-8-year-old-boy/
      title: "Govt, HRC condemn detention of 8-year-old boy"
    - source: Mwebantu
      url: https://www.mwebantu.com/new-mopani-and-kcm-investor-to-be-announced-soon/?utm_source=rss&utm_medium=rss&utm_campaign=new-mopani-and-kcm-investor-to-be-announced-soon
      title: "New Mopani and KCM investor to be announced soon"
    - source: News Diggers!
      url: https://diggers.news/local/2023/07/14/if-its-genuine-wealth-lungu-just-needs-to-come-out-in-the-open-kasanda/
      title: "If it’s genuine wealth, Lungu just needs to come out in the open – Kasanda"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mayweather-visits-zimbabwe/
      title: "MAYWEATHER VISITS ZIMBABWE"
    - source: Mwebantu
      url: https://www.mwebantu.com/government-not-in-competition-with-the-church-president-hichilema-says/?utm_source=rss&utm_medium=rss&utm_campaign=government-not-in-competition-with-the-church-president-hichilema-says
      title: "Government not in competition with the church, President Hichilema says"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-will-not-protect-illegal-miners-nalumango/
      title: "GOVT WILL NOT PROTECT ILLEGAL MINERS- NALUMANGO"
---
