---
title: "Thursday, January 11th, 2024"
description: This is the one hundred and fifty-sixth episode of the podcast.
tags: episode
episode: "156"
date: 2024-01-11T14:10:13.524492+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-01-11_podcast_dist.mp3
    length: 5 minutes, 37 seconds
    size: 5.18 MB
rss:
    enclosure_length: 5430183
    itunes_duration: 05:37
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 57 seconds
words:
    count: 786
    rate: 140 words per minute
references:
    count: 22
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/11/i-was-happy-with-the-boys-grant/
      title: "I was happy with the boys – Grant"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/11/phiri-explains-video-of-people-queueing-for-mealie-meal-at-his-shop/
      title: "Phiri explains video of people queueing for mealie meal at his shop"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/01/11/upnd-gave-citizens-false-hope-a-good-lesson-to-voters/
      title: "UPND gave citizens false hope, a good lesson to voters"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/11/supersport-to-broadcast-afcon/
      title: "SuperSport to broadcast AFCON"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-july-2024-star-in-the-land-of-copper/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-july-2024-star-in-the-land-of-copper
      title: "Lusaka July 2024: Star in the Land of Copper"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lack-of-publicity-affects-zda/
      title: "Lack of Publicity Affects ZDA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/republican-debate-five-takeaways-as-haley-and-desantis-face-off/
      title: "Republican debate: Five takeaways as Haley and DeSantis face off"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/vedanta-to-continue-sponsoring-sports/
      title: "Vedanta To Continue Sponsoring Sports"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/11/kabwe-warriors-lashes-trident/
      title: "Kabwe Warriors lashes Trident"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mpongwes-chisapa-ward-wants-maternity-wing-completed/
      title: "Mpongwe’s Chisapa Ward wants Maternity wing Completed"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/end-malaria-partners-with-zambia-athletics/
      title: "End Malaria Partners with Zambia Athletics"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/11/mutapa-leaves-nkwazi/
      title: "Mutapa leaves Nkwazi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/11/hh-urges-citizens-to-avoid-stereotyping-beer-investments/
      title: "HH urges citizens to avoid stereotyping beer investments"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/11/upnd-govt-has-scored-on-cdf-pf-mp/
      title: "UPND govt has scored on CDF – PF MP"
    - source: Mwebantu
      url: https://www.mwebantu.com/judge-orders-dna-test-to-prove-if-bowman-lusambo-is-a-baby-daddy/?utm_source=rss&utm_medium=rss&utm_campaign=judge-orders-dna-test-to-prove-if-bowman-lusambo-is-a-baby-daddy
      title: "Judge orders DNA test to prove if Bowman Lusambo is a ‘baby daddy’"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/11/fifpro-copper-queens-sign-100000-image-rights-deal/
      title: "FIFPRO, Copper Queens sign $100,000 image rights deal"
    - source: Mwebantu
      url: https://www.mwebantu.com/bishop-john-general-case-adjourned-again/?utm_source=rss&utm_medium=rss&utm_campaign=bishop-john-general-case-adjourned-again
      title: "Bishop John General case adjourned, again"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sven-goran-eriksson-former-england-manager-says-he-has-cancer-and-best-case-a-year-to-live/
      title: "Sven-Goran Eriksson: Former England manager says he has cancer and ‘best case a year’ to live"
    - source: Mwebantu
      url: https://www.mwebantu.com/kenyan-man-escapes-isoka-court-naked/?utm_source=rss&utm_medium=rss&utm_campaign=kenyan-man-escapes-isoka-court-naked
      title: "Kenyan man escapes Isoka Court naked"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/girl-drowns-in-stream/
      title: "Girl Drowns in Stream"
    - source: Mwebantu
      url: https://www.mwebantu.com/supersport-to-broadcast-all-afcon-games-live-after-multichoice-secures-broadcast-rights/?utm_source=rss&utm_medium=rss&utm_campaign=supersport-to-broadcast-all-afcon-games-live-after-multichoice-secures-broadcast-rights
      title: "SuperSport to broadcast all AFCON games live after MultiChoice secures broadcast rights"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-commends-political-parties-in-drc-for-upholding-peace/
      title: "HH Commends Political Parties in DRC for upholding Peace"
---
