---
title: "Wednesday, August 28th, 2024"
description: "In this episode of the Zed News Podcast, we cover a range of political news, including updates on legal cases involving former government officials and US Ambassador Michael Gonzales's comments on US-Zambia relations. In sports, we discuss the upcoming AfCON qualifier between Ivory Coast and Zambia, as well as local football matches and concerns about forfeited games in the National Rugby League. On the business front, Airtel Network Zambia reports increased revenue, construction begins on a thermal power expansion project, and the Fisheries and Livestock Minister talks about potential fish exports. The episode also includes accusations of former President Edgar Lungu threatening civil servants."
tags: episode
episode: "295"
date: 2024-08-28T14:40:20.979165+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-08-28_podcast_dist.mp3
    length: 4 minutes, 2 seconds
    size: 3.73 MB
rss:
    enclosure_length: 3906095
    itunes_duration: 04:02
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 9 seconds
words:
    count: 555
    rate: 138 words per minute
references:
    count: 20
    sources: 2
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134395
      title: "Zambia has potential to start exporting fish – Kapala"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134385
      title: "Athletes’ Paralympics trip in limbo"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134393
      title: "Airtel Zambia nets K3.1bn revenue"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134388
      title: "Arrows open league title defence against MUZA"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134373
      title: "‘Catholic Church valuable partner’"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/28/davies-mwila-fails-to-appear-in-court-due-to-illness/
      title: "Mwila admitted to hospital in India, lawyer tells court"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/28/directors-in-lungus-proxys-company-seek-leave-to-appeal-property-forfeiture/
      title: "Directors in Lungu’s proxy’s company seek leave to appeal property forfeiture"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134380
      title: "‘Fix rough patch!’"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/28/kalabas-team-provoked-cadres-in-mpika-upnd/
      title: "Kalaba’s team provoked cadres in Mpika – UPND"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/28/arrows-entertain-maestro-united/
      title: "Arrows entertain Maestro United"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/28/lusambo-retains-former-ags-firm-in-corruption-case/
      title: "Lusambo retains former AG’s firm in corruption case"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/28/we-dont-impose-things-on-zambia-we-learn-from-one-another-as-equals-us-envoy/
      title: "We don’t impose things on Zambia, we learn from one another as equals – US envoy"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/28/zma-calls-for-incorporation-of-digital-technologies-in-health-system-to-curb-corruption/
      title: "ZMA calls for incorporation of digital technologies in health system to curb corruption"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/08/28/he-wants-to-come-back-to-steal-kill-and-destroy-more/
      title: "He wants to come back to steal, kill and destroy more"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/28/chinese-couple-in-court-for-smuggling-gold/
      title: "Chinese couple in court for smuggling gold"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134376
      title: "Kawana roasts ECL"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134378
      title: "Zesco explains extended power rationing"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/28/fae-names-ivory-coast-squad-to-face-chipolopolo/
      title: "Fae names Ivory Coast squad to face Chipolopolo"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134390
      title: "Phase 11 Maamba thermal power expansion project works commence"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134383
      title: "Fulfil your fixtures or else, ZRU warns rugby clubs"
---
