---
title: "Monday, July 8th, 2024"
description: "Zambia's credit rating upgrade, caring for the elderly, and exploring nuclear energy are discussed in today's Zed News Podcast episode 258. Also featured are updates on former President Edgar Lungu's eligibility case, the Copper Queens' performance at the Paris Olympic Games, and the government's efforts to address drought impacts and provide services in health and education sectors."
tags: episode
episode: "258"
date: 2024-07-08T16:57:11.117406+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-07-08_podcast_dist.mp3
    length: 6 minutes, 31 seconds
    size: 6.01 MB
rss:
    enclosure_length: 6297442
    itunes_duration: 06:31
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 21 seconds
words:
    count: 911
    rate: 140 words per minute
references:
    count: 25
    sources: 5
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/08/exploring-nuclear-energy-is-zambia-ready-for-nuclear-power-part-1/
      title: "Exploring Nuclear Energy: Is Zambia Ready for Nuclear Power? – Part 1"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133346
      title: "‘Govt, Church partners’"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/08/i-never-sent-anyone-to-negotiate-with-jay-jay-levy/
      title: "I never sent anyone to negotiate with Jay Jay – Levy"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/08/upnd-commends-vedanta-for-pledging-to-disburse-250m-to-kcm-creditors/
      title: "UPND commends Vedanta for pledging to disburse $250m to KCM creditors"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133368
      title: "Govt offices go for solar power …as HCAZ partners banks, solar kit suppliers"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/08/the-climax-of-the-pf-downfall-and-chabingas-big-headedness-part-1/
      title: "The climax of the PF downfall and Chabinga’s big-headedness; Part 1"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/08/ill-reach-out-to-lungu-so-that-we-can-talk-hh/
      title: "I’ll reach out to Lungu so that we can talk – HH"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133365
      title: "Judoka eyes Olympic medal"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133362
      title: "Ruggers finish on high"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133360
      title: "Copper Queens pledge smiles from Olympics"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133355
      title: "K22bn for public service delivery"
    - source: Mwebantu
      url: https://www.mwebantu.com/hh-accepts-proposal-to-meet-ecl/
      title: "HH accepts proposal to meet ECL"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133372
      title: "OMCAZ backs BoZ on reinforcing Kwacha as sole legal tender"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/08/zambias-credit-rating-upgrade-needs-all-players/?utm_source=rss&utm_medium=rss&utm_campaign=zambias-credit-rating-upgrade-needs-all-players
      title: "Zambia’s credit rating upgrade needs all players"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/08/caring-for-the-elderly/
      title: "Caring for the elderly"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/08/no-by-elections-im-confident-court-will-do-the-right-thing-kangombe/
      title: "No by-elections, I’m confident court will do the right thing – Kang’ombe"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/08/therell-be-stiffer-punishment-for-those-involved-in-theft-of-drugs-masebo/
      title: "There’ll be stiffer punishment for those involved in theft of drugs – Masebo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/08/lungu-is-free-to-lead-demonstration-to-state-house-hamasaka/
      title: "Lungu is free to lead demonstration to State House – Hamasaka"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133357
      title: "ECL not political factor – Mweetwa"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133352
      title: "Hypocrisy! Simuuwe tells off Ng’andu"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133349
      title: "No anarchy! Mwiimbu warns …as court rules today on ECL’s eligibility"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/08/i-was-disgusted-by-mabongas-utterances-insists-witness/
      title: "I was disgusted by Mabonga’s utterances, insists Witness"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/justice-silungwe-eulogised/
      title: "Justice SILUNGWE eulogised"
    - source: Mwebantu
      url: https://www.mwebantu.com/make-zambia-proud-kamanga-urges-copper-queens/
      title: "Make Zambia proud, Kamanga urges Copper Queens"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/legal-fraternity-urged-to-emulate-justice-silungwe/
      title: "Legal fraternity urged to emulate Justice SILUNGWE"
---
