---
title: "Tuesday, September 3rd, 2024"
description: "In this episode of the Zed News Podcast, we cover the resignation of Grace Mutembo as CEO of the Road Development Agency, the Zambian government's response to a mistaken UNHRC press release, the resumption of operations at Konkola Copper Mines, and improvements in Zambia's aviation safety score. We also discuss funding for non-traditional Zambian businesses, the Lusaka Securities Exchange's performance, ongoing renovations at Heroes Stadium, and the addition of Stophila Sunzu and Kings Kangwa to the Chipolopolo team. The episode concludes with the news of Chief ​Justice Mumba Malila's evacuation for medical treatment."
tags: episode
episode: "299"
date: 2024-09-03T17:49:42.325529+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-09-03_podcast_dist.mp3
    length: 4 minutes, 29 seconds
    size: 4.14 MB
rss:
    enclosure_length: 4340773
    itunes_duration: 04:29
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 20 seconds
words:
    count: 597
    rate: 133 words per minute
references:
    count: 29
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/03/rda-ceo-part-ways/
      title: "RDA, CEO part ways"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/03/heroes-stadium-gets-hybrid-turf/
      title: "Heroes Stadium gets hybrid turf"
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/03/we-need-to-go-nuclear-not-solar-mukanga/
      title: "We need to go nuclear, not solar – Mukanga"
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/03/people-are-being-recalled-for-work-at-kcm-kabuswe/
      title: "People are being recalled for work at KCM – Kabuswe"
    - source: Mwebantu
      url: https://www.mwebantu.com/emerald-finance-partners-with-airtel-money-to-unveil-kastarta-loan-services/
      title: "Emerald Finance partners with Airtel Money to unveil Ka’Starta Loan services"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/03/kangwa-sunzu-beef-up-chipolopolo-squad/
      title: "Kangwa, Sunzu beef up Chipolopolo squad"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-lodges-complaint-against-press-statement-allegedly-issued-by-unhrc-on-human-rights-violations/
      title: "Zambia lodges complaint against press statement allegedly issued by UNHRC on human rights violations."
    - source: Mwebantu
      url: https://www.mwebantu.com/raphael-nakachinda-arrested-for-seditious-practices/
      title: "Raphael Nakachinda arrested for seditious practices"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134509
      title: "LuSE maintains growth trajectory"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134495
      title: "Police IG heartbroken over deputy spokesperson Danny Mwale’s death"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134488
      title: "‘Africa’s SDGs targets at risk’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/lusaka-has-25000-people-on-long-acting-hiv-prevention-programme/
      title: "Lusaka has 25,000 people on long acting HIV prevention programme"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134500
      title: "Arrows shift to Levy"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/03/construction-firm-sues-faz-sg-architect-over-k161000-in-escalation-and-retention-fees-for-dk-stadium/
      title: "Construction firm sues FAZ SG, architect over K161,000 in escalation and retention fees for DK Stadium"
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/03/zambias-74-5-icao-audit-score-elates-tayali/
      title: "Zambia’s 74.5% ICAO audit score elates Tayali"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/president-hichilema-hails-chinese-heritage-in-development/
      title: "President HICHILEMA hails Chinese heritage in development"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/03/were-designing-a-tracking-method-to-monitor-drugs-govt/
      title: "We’re designing a tracking method to monitor drugs – Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/faz-in-us130000-lawsuit-over-dk-stadium/
      title: "FAZ in US$130,000 lawsuit over DK stadium."
    - source: Mwebantu
      url: https://www.mwebantu.com/chief-justice-evacuated-to-south-africa-for-medical-treatment/
      title: "Chief Justice evacuated to South Africa for medical treatment."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134506
      title: "NAPSA on course for K9bn scheme contributions target"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134498
      title: "FAZ in $161,000 lawsuit!"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134491
      title: "Zambia Army moves in to eradicate ‘junkies’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134486
      title: "Pay back $52m, State demands"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/climate-change-to-derail-africas-progress-mposha/
      title: "Climate change to derail Africa’s progress – MPOSHA"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/09/03/kabuswe-must-stop-praising-vedanta-and-start-demanding-accountability/
      title: "Kabuswe must stop praising Vedanta and start demanding accountability"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134482
      title: "Chief Justice evacuated to SA"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/03/we-need-to-be-at-an-advantage-after-the-first-round-afcon-qualifiers-faz/
      title: "We need to be at an advantage after the first round AFCON qualifiers – FAZ"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134504
      title: "Zambia Export Development Fund secures $29m for SMEs growth"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/victoria-state-governor-in-australia-cherishes-ties-with-zambia/
      title: "Victoria State Governor in Australia cherishes ties with Zambia"
---
