---
title: "Thursday, May 9th, 2024"
description: "In today's episode, Ayanda covers two news items. First, Precious Nkunika, a judiciary stores officer jailed for five years for stealing a baby at University Teaching Hospitals, has appealed against the jail term. Nkunika and her mother, Grace Siska, argue that the Lusaka Magistrate's Court erred in law and fact when it jailed them. Second, MultiChoice Zambia has congratulated six Zambian filmmakers and producers on their nomination for the 10th edition of Africa Magic Viewers’ Choice Awards (AMVCAs) and wished them the best as they travel to Nigeria for the awards ceremony."
tags: episode
episode: "241"
date: 2024-05-09T12:06:58.660020+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-05-09_podcast_dist.mp3
    length: 1 minute, 54 seconds
    size: 1.78 MB
rss:
    enclosure_length: 1867494
    itunes_duration: 01:54
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 46 seconds
words:
    count: 283
    rate: 149 words per minute
references:
    count: 2
    sources: 1
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/uth-baby-stealer-appeals-against-five-year-jail-term-says-magistrate-made-a-mistake/
      title: "UTH baby ‘stealer’ appeals against five year jail term, says magistrate made a mistake."
    - source: Mwebantu
      url: https://www.mwebantu.com/zambian-creatives-head-to-nigeria-for-the-prestigious-amvcas-as-multichoice-zambia-gives-them-a-zambia-ku-chalo-send-off/
      title: "Zambian Creatives Head to Nigeria for the Prestigious AMVCAs: As MultiChoice Zambia gives them a “Zambia Ku Chalo” send off…"
---