---
title: "Thursday, September 26th, 2024"
description: "In this episode, we cover a range of topics, including political drama in Zambia, including Binwell Mpundu's testimony and Edgar Lungu's application to recuse judges, as well as updates on the cost of living, sports, and community news. From Constitutional Court cases to the Cosafa Cup, we've got you covered with the latest news from Zambia."
tags: episode
episode: "316"
date: 2024-09-26T13:44:08.612520+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-09-26_podcast_dist.mp3
    length: 4 minutes, 6 seconds
    size: 3.79 MB
rss:
    enclosure_length: 3979240
    itunes_duration: 04:06
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 52 seconds
words:
    count: 574
    rate: 140 words per minute
references:
    count: 23
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/09/26/munirs-statement-that-hh-would-dissolve-parley-was-mere-politicking-binwell/
      title: "Munir’s statement that HH would dissolve parley was mere politicking – Binwell"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/26/mma-names-fighters-for-world-championships/
      title: "MMA names fighters for World Championships"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/26/u20-ready-to-defend-cosafa-title-mulwanda/
      title: "U20 ready to defend Cosafa title – Mulwanda"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134924
      title: "‘HH is tolerant’"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/09/26/d-speaker-followed-procedure-in-announcing-9-pf-seats-vacant-national-assembly/
      title: "D/Speaker followed procedure in announcing 9 PF seats vacant – National Assembly"
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/26/boz-cancels-betternows-licence/
      title: "BOZ cancels Betternow’s licence"
    - source: Mwebantu
      url: https://www.mwebantu.com/ecl-wants-three-constitutional-court-judges-to-recuse-themselves-from-hearing-eligibility-case/
      title: "ECL wants three Constitutional Court Judges to recuse themselves from hearing eligibility case"
    - source: Mwebantu
      url: https://www.mwebantu.com/students-tell-court-munir-zulus-alleged-seditious-statement-was-a-joke/
      title: "Students tell court Munir Zulu’s alleged seditious statement was a ‘joke’"
    - source: Mwebantu
      url: https://www.mwebantu.com/court-cannot-nullify-ecls-participation-in-2021-elections-without-nullifying-the-2021-presidential-election-john-sangwa-submits/
      title: "Court cannot nullify ECL’s participation in 2021 elections without nullifying the 2021 presidential election, John Sangwa submits"
    - source: Mwebantu
      url: https://www.mwebantu.com/lawyer-rushes-to-court-to-challenge-suspension-of-three-concort-judges/
      title: "Lawyer rushes to court to challenge suspension of three Concort Judges"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134939
      title: "U-20 team ready – Mulwanda"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/26/clubs-applauds-zpl-for-k1-6m-grant/
      title: "Clubs applauds ZPL for K1.6m grant"
    - source: Mwebantu
      url: https://www.mwebantu.com/kitwe-family-dies-in-inferno-infant-survives/
      title: "Kitwe family dies in inferno, Infant survives."
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/26/load-shedding-not-due-to-incompetence-zesco/
      title: "Load-shedding not due to incompetence – Zesco"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134943
      title: "Preps for Kasenseli re-opening startsheading"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134941
      title: "‘2025 Budget should address energy crisis’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134936
      title: "Tread cautiously – Mweene"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134933
      title: "5 stolen cars recovered in joint op"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134930
      title: "Judiciary framework on poll dispute resolution launched"
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/26/cost-of-living-will-continue-to-increase-this-year-jctr/
      title: "Cost of living will continue to increase this year – JCTR"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/26/competition-high-among-u17-girls-kanyemba/
      title: "Competition high among U17 girls – Kanyemba"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134927
      title: "Makebi offside – Kasune"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ecl-eligibility-case-adjourned-to-this-afternoon/
      title: "ECL eligibility case adjourned to this afternoon"
---
