---
title: "Tuesday, July 2nd, 2024"
description: "In this episode of Zed News Podcast, Ayanda discusses ZESCO's new load shedding schedule, a harrowing case of child sexual abuse, Christopher Kang'ombe's views on foreign exchange, the Copper Queens' growing international presence, and updates on the Ulemu fighters' performance in Congo DR. The episode also covers the passing of footballer Justin Shonga, the importance of national unity, and the court's dismissal of a defamation case against Emmanuel Jay Banda and three others. Additionally, it touches on a tenant's agreement to pay outstanding rental arrears to Kampyongo's wife, the Chipolopolo's disappointing COSAFA defence, and Zambia's continued cooperation with Japan on economic transformation."
tags: episode
episode: "254"
date: 2024-07-02T16:09:46.324437+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-07-02_podcast_dist.mp3
    length: 2 minutes, 17 seconds
    size: 2.13 MB
rss:
    enclosure_length: 2237388
    itunes_duration: 02:17
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes
words:
    count: 334
    rate: 146 words per minute
references:
    count: 12
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/02/ulemu-fighters-compete-at-impact-fc-in-lubumbashi/
      title: "Ulemu fighters compete at IMPACT FC in Lubumbashi"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/02/dirt-under-the-carpet/
      title: "Dirt under the carpet"
    - source: Mwebantu
      url: https://www.mwebantu.com/government-commends-japan-on-continued-cooperation-on-economic-transformation/
      title: "Government commends Japan on continued cooperation on economic transformation"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/02/there-can-be-no-sustainable-development-without-peace-ig/
      title: "There can be no sustainable development without peace – IG"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/02/tenant-agrees-to-pay-kampyongos-wife-k56000-in-rental-arrears/
      title: "Tenant agrees to pay Kampyongo’s wife K56,000 in rental arrears"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/02/we-need-predictable-sources-of-forex-to-ensure-stable-kwacha-kangombe/
      title: "We need predictable sources of forex to ensure stable Kwacha – Kang’ombe"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/02/national-unity-doesnt-mean-agreeing-on-everything-but-disagreeing-in-peace/
      title: "National unity doesn’t mean agreeing on everything, but disagreeing in peace"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/02/court-throws-out-levy-ngomas-defamation-suit-against-jay-jay-3-others/
      title: "Court throws out Levy Ngoma’s defamation suit against Jay Jay, 3 others"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/02/copper-queens-no-longer-underdogs-on-world-stage-kamanga/
      title: "Copper Queens no longer underdogs on world stage – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/02/faz-mourns-shonga/
      title: "FAZ mourns shonga"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/02/zesco-releases-new-load-shedding-schedule/
      title: "Zesco releases new load shedding schedule"
    - source: Mwebantu
      url: https://www.mwebantu.com/chipolopolo-disaster/
      title: "Chipolopolo Disaster"
---