---
title: "Wednesday, March 27th, 2024"
description: In this episode of the Zed News Podcast, Ayanda discusses various news items, including the Zambian government's challenge to Archbishop Alick Banda to specify which praise singers he was referring to in his homily, Sean Combs being accused of sexual assault by a male producer, and the Ministry of Small and Medium Enterprise Development hosting the first Macro, Small and Medium Enterprises and Cooperatives National Indaba. Additionally, the episode covers the resumption of negotiations between Mopani Copper Mines and Mine Union leaders, the construction and handover of a clinic in Bweengwa by China Non-Ferrous Metal Mining, and the stalled construction of a modern Boarding Secondary School in Mporokoso District. The episode also touches on Japan's shift from baby to adult diaper production, the Zambian government's concern about misinformation regarding its debt restructuring deal, and the establishment of the Kazungula Bridge Authority.
tags: episode
episode: "210"
date: 2024-03-27T16:17:02.077150+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-27_podcast_dist.mp3
    length: 56 seconds
    size: 910.26 KB
rss:
    enclosure_length: 932105
    itunes_duration: 00:56
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 31 minutes, 42 seconds
words:
    count: 141
    rate: 151 words per minute
references:
    count: 17
    sources: 2
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/upnd-hh-is-a-capable-leader/
      title: "HH is a capable leader-UPND"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chilengi-warns-of-cholera-cases-spiking/
      title: "Chilengi warns of Cholera cases spiking"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cnmm-handsover-clinic-in-bweengwa/
      title: "CNMM Handsover Clinic in Bweengwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-to-host-international-msme-indaba/
      title: "Zambia to Host International MSME Indaba"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/japan-nappy-maker-shifts-from-babies-to-adults/
      title: "Japan nappy maker shifts from babies to adults"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mweetwa-concerned-with-debt-restructuring-misinformation/
      title: "Mweetwa Concerned with Debt Restructuring Misinformation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambiabotswana-to-realize-kazungula-bridge-authority/
      title: "Zambia,Botswana to realize Kazungula Bridge Authority"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sean-diddy-combs-accused-of-sexual-assault-by-male-producer/
      title: "Sean ‘Diddy’ Combs accused of sexual assault by male producer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mopani-unions-to-start-negotiations/
      title: "Mopani, Unions to start Negotiations"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mporokoso-school-construction-stalls/
      title: "Mporokoso school Construction stalls"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/patrick-phiri-goes-to-kansanshi-fc/
      title: "Patrick Phiri Goes to Kansanshi FC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-assess-farmers-losses/
      title: "Govt to Assess farmer’s losses"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/debt-restructuring-cheers-employers-and-priests/
      title: "Debt Restructuring cheers Employers and Priests"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/green-eagles-fires-namazaba/
      title: "Green Eagles fires Namazaba"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/faz-confident-of-fustal-team-ahead-of-afcon/
      title: "FAZ Confident of Futsal Team ahead of AFCON"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/27/govt-challenges-archbishop-banda-to-specify-which-praise-singers-he-was-referring-to/
      title: "Govt challenges Archbishop Banda to specify which praise singers he was referring to"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-shifts-focus-to-commercial-creditors/
      title: "Govt shifts focus to commercial creditors"
---