---
title: "Tuesday, April 2nd, 2024"
description: In this episode of Zed News Podcast, Ayanda discusses various news items including Sydney Wemba's fourth-place finish at the Moanda Open, the Copper Queens' Olympic qualification hopes, ZESCO's denial of building a palace for Senior Chief Raphael Sikazwe Tafuna, and UMODZI Kum'mawa's concerns over Chief Chikwa's arrest. Additionally, the episode covers the death of two illegal miners in Chingola, fuel prices, debt restructuring, and a series of unusual news stories from around Zambia.
tags: episode
episode: "214"
date: 2024-04-02T12:09:14.510804+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-04-02_podcast_dist.mp3
    length: 5 minutes, 5 seconds
    size: 4.68 MB
rss:
    enclosure_length: 4910238
    itunes_duration: 05:05
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 56 seconds
words:
    count: 707
    rate: 139 words per minute
references:
    count: 15
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/02/2-illegal-miners-die-in-chingola-2/
      title: "2 illegal miners die in Chingola"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/02/easter-presented-opportunity-for-hh-ecl-to-reconcile-fr-chikoya/
      title: "Easter presented opportunity for HH, ECL to reconcile – Fr Chikoya"
    - source: Mwebantu
      url: https://www.mwebantu.com/weird-news-polygamist-dies-after-snake-bite-on-the-private-parts-police-say/
      title: "Weird News: Polygamist dies after snake bite on the private parts, police say"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/02/govt-commences-2025-budget-preps/
      title: "Govt commences 2025 budget preps"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/02/copper-queens-no-longer-underdogs-kamanga/
      title: "Copper Queens no longer underdogs – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/04/02/zesco-denies-building-palace-for-senior-chief-raphael-sikazwe-tafuna/
      title: "ZESCO denies building palace for Senior Chief Raphael Sikazwe Tafuna"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/02/damage-of-load-shedding-still-there-despite-splitting-hours-zaca/
      title: "Damage of load-shedding still there despite splitting hours – ZACA"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/02/we-must-have-a-marshall-plan-for-our-economy-saasa/
      title: "We must have a marshall plan for our economy – Saasa"
    - source: Mwebantu
      url: https://www.mwebantu.com/mine-accident-claims-two-lives-at-kcm-dump-site-police-say/
      title: "Mine accident claims two lives at KCM dump site, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/prophet-arrested-for-allegedly-defiling-a-nine-year-old-girl/
      title: "Prophet arrested for allegedly defiling a nine-year-old girl"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/02/umodzi-kummawa-condemns-chief-chikwas-arrest/
      title: "Umodzi Kum’mawa condemns Chief Chikwa’s arrest"
    - source: Mwebantu
      url: https://www.mwebantu.com/kitwe-councillor-nabbed-for-allegedly-obtaining-money-by-false-pretences/
      title: "Kitwe councillor nabbed for allegedly obtaining money by false pretences."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/02/zambias-top-golfer-finishes-4th-at-monda-open/
      title: "Zambia’s top golfer finishes 4th at Moanda Open"
    - source: Mwebantu
      url: https://www.mwebantu.com/no-bail-for-unlicensed-16-year-old-driver-charged-with-murder/
      title: "No bail for ‘unlicensed’ 16-year-old ‘driver’ charged with murder"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/02/fuel-still-too-expensive-despite-erb-maintaining-prices-btoaz/
      title: "Fuel still too expensive despite ERB maintaining prices – BTOAZ"
---