---
title: "Wednesday, December 25th, 2024"
description: "In this special Christmas episode, we reflect on the values of love, generosity, and compassion while covering top news stories in Zambia, including the police response to accusations of political oppression, the Drug Enforcement Commission's pursuit of a MP, and updates on the economy, justice, and governance."
tags: episode
episode: "380"
date: 2024-12-25T14:50:32.770801+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-12-25_podcast_dist.mp3
    length: 5 minutes, 1 second
    size: 4.63 MB
rss:
    enclosure_length: 4854446
    itunes_duration: 05:01
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 16 seconds
words:
    count: 713
    rate: 142 words per minute
references:
    count: 10
    sources: 1
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/25/i-thought-i-was-coming-here-to-rest-but-lands-ministry-is-messy-masebo/
      title: "I thought I was coming here to rest, but lands ministry is messy – Masebo"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/12/25/ho-ho-ho/
      title: "Ho! Ho! Ho!"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/25/kabanshi-isnt-the-only-sick-inmate-state-house/
      title: "Kabanshi isn’t the only sick inmate – State House"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/25/ngocc-challenges-hh-to-operationalise-gender-equity-and-equality-commission-in-2025/
      title: "NGOCC challenges HH to operationalise gender equity and equality commission in 2025"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/25/broadcasters-suffered-reduced-revenue-due-to-load-shedding-in-2024-iba/
      title: "Broadcasters suffered reduced revenue due to load shedding in 2024 – IBA"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/25/tasila-lungu-our-most-wanted-person-dec/
      title: "Tasila Lungu our most wanted person – DEC"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/25/its-been-hard-resuscitating-an-economy-which-was-in-the-grave-kawana/
      title: "It’s been hard resuscitating an economy which was in the grave – Kawana"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/12/25/court-refuses-to-stop-forfeiture-of-lungus-daughters-properties/
      title: "Court refuses to stop forfeiture of Lungu’s daughter’s properties"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/25/were-not-being-used-as-a-tool-of-political-oppression-police/
      title: "We’re not being used as a tool of political oppression – Police"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/25/zescos-80m-payment-to-exim-bank-was-100-in-conformity-with-loan-agreement-musokotwane/
      title: "Zesco’s $80m payment to Exim Bank was 100% in conformity with loan agreement – Musokotwane"
---
