---
title: "Monday, April 1st, 2024"
description: 
Summary: Zed News Podcast episode 213 features former president Edgar Lungu discussing his humility and vindication on climate change, ZICD Board Chairperson Joyce Musenge urging the government to minimize by-elections, an Auditor General's report revealing government payments for contaminated oil damages, and State House defending President Hakainde Hichilema's farm visit as a productive economic endeavor.

tags: episode
episode: "213"
date: 2024-04-01T12:32:32.728669+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-04-01_podcast_dist.mp3
    length: 2 minutes, 15 seconds
    size: 2.10 MB
rss:
    enclosure_length: 2205205
    itunes_duration: 02:15
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 2 minutes, 18 seconds
words:
    count: 320
    rate: 142 words per minute
references:
    count: 4
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/01/govt-paid-34-4m-damages-to-a-company-that-supplied-contaminated-commingled-oil-ag/
      title: "Govt paid $34.4m damages to a company that supplied contaminated commingled oil – AG"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/01/i-avoid-being-arrogant-sometimes-it-comes-inevitably-lungu/
      title: "I avoid being arrogant, sometimes it comes inevitably – Lungu"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/01/zicd-urges-govt-to-minimise-by-elections-to-save-taxpayers-money/
      title: "ZICD urges govt to minimise by-elections to save taxpayers’ money"
    - source: Mwebantu
      url: https://www.mwebantu.com/state-house-defends-president-hichilemas-farm-visit-as-productive-economic-endeavor/
      title: "State House defends President Hichilema’s farm visit as productive economic endeavor."
---