---
title: "Friday, October 25th, 2024"
description: "In this episode, we celebrate Zambia's 60th Independence Anniversary with discussions on governance, corruption, and unity, as well as updates on road accidents, court cases, politics, and sports. We also recognize the achievements of Zambians and explore the challenges faced by local filmmakers and the national football team."
tags: episode
episode: "337"
date: 2024-10-25T14:54:23.107927+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-10-25_podcast_dist.mp3
    length: 4 minutes, 31 seconds
    size: 4.17 MB
rss:
    enclosure_length: 4375043
    itunes_duration: 04:31
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 6 seconds
words:
    count: 631
    rate: 140 words per minute
references:
    count: 27
    sources: 4
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135303
      title: "Zesco MD Mapani goes"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/national-youth-games-postponed/
      title: "National Youth Games postponed"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/25/leaders-must-govern-with-integrity-zccb/
      title: "Leaders must govern with integrity – ZCCB"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/10/25/proving-the-misconduct-incompetence-of-the-3-dismissed-concourt-judges-is-easy/
      title: "Proving the misconduct, incompetence of the 3 dismissed ConCourt judges is easy"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/25/corruption-remains-a-challenge-despite-60-years-of-independence-notes-tiz/
      title: "Corruption remains a challenge despite 60 years of independence, notes TIZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/18-months-imprisonment-of-motorist-in-chief-justice-accident-too-harsh-netizens-complain/
      title: "18 months imprisonment of motorist in Chief Justice accident too harsh, Netizens complain."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135325
      title: "Continue embracing spirit of selflessness – Mweetwa"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135322
      title: "I’m speechless – Chikotesha"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135319
      title: "U-17 elimination expected"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-have-not-defected-to-upnd-former-minister-says/
      title: "I have not defected to UPND, former Minister says."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/25/chipolopolo-slides-down-on-fifa-rankings/
      title: "Chipolopolo slides down on FIFA rankings"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/25/zambians-must-shun-people-who-advocate-for-ethnicity-vj/
      title: "Zambians must shun people who advocate for ethnicity – VJ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/basketball-matero-magic-beat-brave-hearts/
      title: "Basketball :Matero Magic beat Brave Hearts"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/sata-memorial-set-for-monday/
      title: "Sata memorial set for Monday"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/25/boz-justifies-zicb-znbss-intention-to-borrow-30m-35m-respectively/
      title: "BoZ justifies ZICB, ZNBS’s intention to borrow $30m, $35m respectively"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135313
      title: "‘Lack of resources hindering local film industry growth’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135310
      title: "Kabesha wants SADC partnerships in graft probe"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135300
      title: "HH honours 13!"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135307
      title: "Let’s follow KK’s core values, citizens urged"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/tayali-calls-for-professionalism/
      title: "Tayali calls for professionalism"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/coach-calls-on-film-markers-to-make-film-about-bb11/
      title: "Coach calls on filmmarkers to make film about BB11"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-expected-in-chongwe-for-chakwera-makumbi-traditional-ceremony/
      title: "HH expected in Chongwe for Chakwera Makumbi traditional ceremony"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/none-of-us-can-change-the-past/
      title: "“None of us can change the past”"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/25/tasila-tembos-alleged-killer-sues-state-for-withholding-his-salary/
      title: "Tasila Tembo’s alleged killer sues state for withholding his salary"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/25/police-record-47-road-accidents-5-deaths-on-independence-eve/
      title: "Police record 47 road accidents, 5 deaths on Independence eve"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135316
      title: "‘IDC dividends adding value to economy’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mwananjiti-calls-for-trail-of-dismissed-concourt-judges/
      title: "Mwananjiti calls for trail of dismissed Concourt Judges"
---
