---
title: "Thursday, November 28th, 2024"
description: "In this episode, we cover local and international news, including updates on Zambian sports, politics, and economy. From the Football Association of Zambia's emphasis on integrity to the National Assembly's move to strengthen online gambling regulations, and from fuel price predictions to a breakthrough in asthma treatment, this episode touches on a wide range of topics."
tags: episode
episode: "361"
date: 2024-11-28T14:49:15.028880+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-11-28_podcast_dist.mp3
    length: 5 minutes, 11 seconds
    size: 4.78 MB
rss:
    enclosure_length: 5017032
    itunes_duration: 05:11
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 55 seconds
words:
    count: 699
    rate: 135 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/28/kalaba-dreaming-that-zambians-have-confidence-in-him-nkandu/
      title: "Kalaba dreaming that Zambians have confidence in him – Nkandu"
    - source: Mwebantu
      url: https://www.mwebantu.com/showmax-adds-mtn-mobile-money-for-seamless-payments-and-streaming-access/
      title: "Showmax Adds MTN Mobile Money for Seamless Payments and Streaming Access"
    - source: Mwebantu
      url: https://www.mwebantu.com/fred-mmembes-us20-million-gift-allegations-shock-president-hakainde-hichilema/
      title: "Fred M’membe’s US$20 million ‘gift’ allegations shock President Hakainde Hichilema."
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/28/lcc-has-no-proper-financial-system-for-collecting-revenue-chitangala/
      title: "LCC has no proper financial system for collecting revenue – Chitangala"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/28/omcaz-projects-increase-in-fuel-prices-amid-kwacha-depreciation/
      title: "OMCAZ projects increase in fuel prices amid Kwacha depreciation"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/28/shepande-slams-daily-mail-uk-over-barbra-article/
      title: "Shepande slams Daily Mail UK over Barbra article"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/28/kamanga-tips-football-leadership-in-muchinga/
      title: "Kamanga tips football leadership in Muchinga"
    - source: Mwebantu
      url: https://www.mwebantu.com/multichoice-talent-factory-2024-graduates/
      title: "MultiChoice Talent Factory 2024 graduates"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/first-new-asthma-attack-treatment-in-50-years/
      title: "First new asthma attack treatment in 50 years"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/28/national-assembly-passes-motion-to-enhance-regulation-of-online-gambling/
      title: "National Assembly passes motion to enhance regulation of online gambling"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/28/u17-girls-inspired-to-win-cosafa-kanyemba/
      title: "U17 girls inspired to win Cosafa – Kanyemba"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/28/chilufya-halts-chipepos-winning-run-with-nkana/
      title: "Chilufya halts Chipepo’s winning run with Nkana"
    - source: Mwebantu
      url: https://www.mwebantu.com/speaker-sued-over-jay-jays-seat/
      title: "Speaker ‘sued’ over Jay Jay’s seat"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/11/28/a-dead-talkative-opposition-with-no-plan/
      title: "A dead, talkative opposition with no plan"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/28/its-normal-for-procurement-to-delay-ambulances-will-be-delivered-kambita/
      title: "It’s normal for procurement to delay, ambulances will be delivered – Kambita"
    - source: Mwebantu
      url: https://www.mwebantu.com/uncle-t-resigns-from-active-politics/
      title: "Uncle T resigns from active politics"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/massive-strike-on-ukraines-energy-sector-says-minister/
      title: "‘Massive strike’ on Ukraine’s energy sector, says minister"
---