---
title: "Monday, December 9th, 2024"
description: "This episode of the Zed News Podcast covers top stories from Zambia, including a report from the US Department of State highlighting Zambia's absence of political imprisonment, football news, and updates on the country's governance, economy, and social issues. Other topics include political accountability, corruption, and cultural events."
tags: episode
episode: "368"
date: 2024-12-09T14:51:07.635139+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-12-09_podcast_dist.mp3
    length: 4 minutes, 30 seconds
    size: 4.16 MB
rss:
    enclosure_length: 4365848
    itunes_duration: 04:30
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 51 seconds
words:
    count: 629
    rate: 140 words per minute
references:
    count: 31
    sources: 5
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/09/kwati-balikalowa-lungu-says-in-reference-to-hh/
      title: "Lungu mocks HH, ulekwatako insoni"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/12/09/no-political-detainees-in-zambia-report/?utm_source=rss&utm_medium=rss&utm_campaign=no-political-detainees-in-zambia-report
      title: "No political detainees in Zambia – report"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/09/kbfs-sentiments-on-hhs-village-upbringing-an-insult-to-many-hamasaka/
      title: "KBF’s sentiments on HH’s village upbringing an insult to many – Hamasaka"
    - source: Mwebantu
      url: https://www.mwebantu.com/eight-year-old-raped-and-dumped-in-a-shallow-grave-police-arrest-suspect/
      title: "Eight year old raped and dumped in a shallow grave, police arrest suspect."
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/09/were-now-sitting-at-148-megawatts-of-exports-zesco/
      title: "We’re now sitting at 148 megawatts of exports – Zesco"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/09/its-a-contradiction-for-a-christian-nation-to-have-baseless-quarrels-everyday-hh/
      title: "It’s a contradiction for a Christian Nation to have baseless quarrels everyday – HH"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135716
      title: "Liquidity conditions in money market improve – BoZ"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135714
      title: "KoBold Metals, AFC ink deal"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135708
      title: "State House admonishes ‘disrespectful’ KBF"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135703
      title: "Malanji, Yamba case: State makes submissions"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135699
      title: "Continue preaching peace, HH urges RCZ"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135718
      title: "ZRA recovers K1.3m in VAT fraud"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/u17-cosafa-girls-zambia-demolish-mauritius-10-nil/
      title: "U17 COSAFA Girls: Zambia demolish Mauritius 10-nil"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/catering-association-hosts-first-gastronomy-night/
      title: "Catering Association hosts first Gastronomy Night"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-asks-youths-to-participate-in-anti-corruption-fight/
      title: "HH asks youths to participate in anti-corruption fight"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/09/nkana-power-dynamos-fans-in-fatal-accident/
      title: "Nkana, Power Dynamos fans in fatal accident"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/09/theres-hunger-even-offering-is-too-low-i-cant-survive-on-it-fr-kashinga/
      title: "When people are hungry, they can’t bring offering, I can’t survive – Fr Kashinga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/dialogue-is-crucial-for-resolving-national-issues/
      title: "“Dialogue is crucial for resolving national issues”"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/09/load-shedding-a-risk-to-zambias-financial-stability-boz-report/
      title: "Load shedding a risk to Zambia’s financial stability – BoZ report"
    - source: Mwebantu
      url: https://www.mwebantu.com/three-fans-die-after-kitwe-derby-in-road-traffic-accident/
      title: "Three fans die after Kitwe derby in road traffic accident"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135711
      title: "FAZ anxious!"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135706
      title: "We’ve no sleepless night over 2026 polls – Imenda"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135697
      title: "Manager shoots employee over NAPSA"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/09/airmen-punish-indeni-mighty-overcome-forest/
      title: "Airmen punish Indeni, Mighty overcome Forest"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/anti-corruption-act-to-be-reviewed/
      title: "Anti-Corruption Act to be reviewed"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/poultry-association-cries-foul-over-malawian-chicken-trader/
      title: "Poultry Association cries foul over Malawian chicken trader"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/09/princesses-demolish-zimbabwe-7-2/
      title: "Princesses demolish Zimbabwe 7-2"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/09/fube-wonders-why-methodical-govt-keeps-presenting-supplementary-budgets/
      title: "Fube wonders why “methodical” govt keeps presenting supplementary budgets"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/npa-partners-with-the-chandler-institute-of-justice/
      title: "NPA partners with the Chandler Institute of Justice"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/gbv-fast-track-courts-established-in-all-provinces-malila/
      title: "GBV fast track courts established in all provinces-Malila"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/no-need-for-people-to-besiege-the-court/
      title: "“No need for people to besiege the court”"
---
