---
title: "Friday, November 15th, 2024"
description: "This episode of the Zed News Podcast covers top stories from Zambia, including concerns over the Financial Intelligence Centre's limited funding, the Chipolopolo's crucial match against Ivory Coast, and criticisms of the government's performance. Other topics include the Zambia Revenue Authority's failure to collect mineral royalty tax, a downgrade in Zambia's GDP growth forecast, and a range of local news stories."
tags: episode
episode: "352"
date: 2024-11-15T14:49:29.234006+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-11-15_podcast_dist.mp3
    length: 5 minutes
    size: 4.61 MB
rss:
    enclosure_length: 4838561
    itunes_duration: 05:00
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 12 seconds
words:
    count: 701
    rate: 140 words per minute
references:
    count: 17
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/15/1000-medical-practitioners-drag-zma-to-court/
      title: "1,000 medical practitioners drag ZMA to court"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/15/speaker-curtails-munirs-debate-after-premature-ejaculation-remark/
      title: "Speaker curtails Munir’s “premature ejaculation” debate"
    - source: Mwebantu
      url: https://www.mwebantu.com/forgive-us-five-juvenile-suspects-write-as-they-break-out-of-prison/
      title: "“Forgive us,” five juvenile suspects write as they break out of prison."
    - source: Mwebantu
      url: https://www.mwebantu.com/fire-sweeps-through-yoyo-foods-in-lusaka-investigations-underway/
      title: "Fire sweeps through Yoyo Foods in Lusaka, investigations underway."
    - source: Mwebantu
      url: https://www.mwebantu.com/juldan-bus-services-suspended/
      title: "Juldan bus services suspended."
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/15/zra-struggles-to-explain-failure-to-collect-mineral-royalty-tax-on-k14bn-in-mineral-exports/
      title: "ZRA struggles to explain failure to collect mineral royalty tax on K14bn in mineral exports"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135558
      title: "Beat Ivory Coast!"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/15/well-repair-heroes-stadium-roof-after-fixing-turf-govt/
      title: "We’ll repair Heroes Stadium roof after fixing turf – Govt"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/15/1-2-gdp-growth-a-one-off-event-its-due-to-drought-musokotwane/
      title: "1.2% GDP growth a one-off event; it’s due to drought – Musokotwane"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/15/zicta-undergoing-restructuring-board-chair/
      title: "ZICTA undergoing restructuring – Board Chair"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/15/on-pitch-we-wont-respect-ivory-coast-says-grant-as-chipolopolo-host-elephants/
      title: "On pitch we won’t respect Ivory Coast, says Grant as Chipolopolo host Elephants"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135554
      title: "HH commissions mini solar grids in Sinda"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/11/15/its-a-shame-that-the-fic-is-the-least-funded-yet-leas-depend-on-its-work/
      title: "It’s a shame that the FIC is the least funded, yet LEAs depend on its work"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135548
      title: "PF MP banned for gross misconduct"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-has-no-plans-to-block-ecls-candidacy/
      title: "HH has NO plans to block ECL’s candidacy"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/15/govt-doesnt-give-everything-but-it-must-provide-an-enabling-environment-kateka/
      title: "Govt doesn’t give everything but it must provide an enabling environment – Kateka"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135551
      title: "Sturdy Mwale loses $2.5m farm"
---