---
title: "Monday, February 5th, 2024"
description: This is the one hundred and seventy-third episode of the podcast.
tags: episode
episode: "173"
date: 2024-02-05T16:33:43.795149+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-02-05_podcast_dist.mp3
    length: 20 minutes, 12 seconds
    size: 18.54 MB
rss:
    enclosure_length: 19437247
    itunes_duration: 20:12
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 7 minutes, 21 seconds
words:
    count: 2,630
    rate: 130 words per minute
references:
    count: 33
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/cholera-fight-gets-boost/?utm_source=rss&utm_medium=rss&utm_campaign=cholera-fight-gets-boost
      title: "Cholera fight gets boost"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/05/caz-names-four-athletes-to-compete-at-all-africa-games/
      title: "CAZ names four athletes to compete at All-Africa Games"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/05/zambians-risk-being-malnourished-due-to-high-cost-of-living-zaca/
      title: "Zambians risk being malnourished due to high cost of living – ZACA"
    - source: News Diggers!
      url: https://diggers.news/business/2024/02/05/hiked-fuel-prices-will-affect-transport-sector-growth-mbewe/
      title: "Hiked fuel prices will affect transport sector growth – Mbewe"
    - source: News Diggers!
      url: https://diggers.news/business/2024/02/05/bozs-decision-to-raise-statutory-reserve-ratio-will-trigger-accelerated-kwacha-depreciation-hambayi/
      title: "BOZ’s decision to raise Statutory Reserve Ratio will trigger accelerated Kwacha depreciation – Hambayi"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-urges-investors-to-put-their-money-in-zambia/
      title: "HH urges investors to put their money in Zambia"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/05/well-use-a-robot-to-retrieve-7-trapped-miners-macro-link/
      title: "We’ll use a robot to retrieve 7 trapped miners – Macro Link"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/govt-wants-more-direct-flights-into-zambia-sikumba/?utm_source=rss&utm_medium=rss&utm_campaign=govt-wants-more-direct-flights-into-zambia-sikumba
      title: "Govt wants more direct flights into Zambia – Sikumba"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/05/faz-urges-u17-to-finish-off-tanzania/
      title: "FAZ urges U17 to finish off Tanzania"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/hh-represented-in-cape-town/?utm_source=rss&utm_medium=rss&utm_campaign=hh-represented-in-cape-town
      title: "HH represented in Cape Town"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/ndola-groups-get-k2m-grants/?utm_source=rss&utm_medium=rss&utm_campaign=ndola-groups-get-k2m-grants
      title: "Ndola groups get K2m grants"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/teacher-nabbed-for-allegedly-assaulting-defiling-pupil/?utm_source=rss&utm_medium=rss&utm_campaign=teacher-nabbed-for-allegedly-assaulting-defiling-pupil
      title: "Teacher nabbed for allegedly assaulting, defiling pupil"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/grammys-2024-taylor-swift-makes-history-with-best-album-award/
      title: "Grammys 2024: Taylor Swift makes history with best album award"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/segun-aremu-nigerian-traditional-monarch-shot-dead-and-wife-kidnapped/
      title: "Segun Aremu: Nigerian traditional monarch shot dead and wife kidnapped"
    - source: Mwebantu
      url: https://www.mwebantu.com/four-suspected-criminals-linked-to-aggravated-robberies-shot-dead-in-kitwe/?utm_source=rss&utm_medium=rss&utm_campaign=four-suspected-criminals-linked-to-aggravated-robberies-shot-dead-in-kitwe
      title: "Four suspected criminals linked to aggravated robberies shot dead in Kitwe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/senegal-election-concerns-grow-as-president-macky-sall-fails-to-set-new-election-date/
      title: "Senegal election: Concerns grow as President Macky Sall fails to set new election date"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/climate-activist-calls-for-total-ban-on-charcoal/
      title: "climate activist calls for total ban on charcoal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nigeria-restores-power-after-weekend-blackouts/
      title: "Nigeria restores power after weekend blackouts"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/chipolopolo-on-right-track-sven/?utm_source=rss&utm_medium=rss&utm_campaign=chipolopolo-on-right-track-sven
      title: "Chipolopolo on right track – Sven"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/daka-wont-get-carried-away-by-scoring-form/?utm_source=rss&utm_medium=rss&utm_campaign=daka-wont-get-carried-away-by-scoring-form
      title: "Daka won’t get carried away by scoring form"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/geingob-death-hh-says-we-have-lost-liberation-icon/?utm_source=rss&utm_medium=rss&utm_campaign=geingob-death-hh-says-we-have-lost-liberation-icon
      title: "Geingob death: HH says ‘we have lost liberation icon’"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/05/faz-suspends-referees-manager-aziph/
      title: "FAZ suspends Referees Manager Aziph"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/02/05/the-death-of-the-third-force-and-the-rise-of-the-impotent-opposition-part-1/
      title: "The death of the third force and the rise  of the impotent opposition – Part 1"
    - source: News Diggers!
      url: https://diggers.news/business/2024/02/05/high-cost-of-living-overshadows-any-achievements-notes-eaz/
      title: "High cost of living overshadows any achievements, notes EAZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/sunzu-proved-critics-wrong/?utm_source=rss&utm_medium=rss&utm_campaign=sunzu-proved-critics-wrong
      title: "Sunzu proved critics wrong"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/05/govt-must-stop-paying-people-for-doing-nothing-at-cabinet-office-lifuka/
      title: "Govt must stop paying people for doing nothing at Cabinet Office – Lifuka"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambiadrc-win-kudos-for-electric-car-battery-initiative/
      title: "Zambia,DRC win kudos for electric car battery initiative"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambian-chess-master-calls-for-early-preps/
      title: "Zambian chess master calls for early preps"
    - source: Mwebantu
      url: https://www.mwebantu.com/cholera-fight-volunteers-to-be-given-permanent-employment/?utm_source=rss&utm_medium=rss&utm_campaign=cholera-fight-volunteers-to-be-given-permanent-employment
      title: "Cholera fight volunteers to be given permanent employment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tyla-shines-as-nigeria-stars-miss-out-in-grammy-glory/
      title: "Tyla shines as Nigeria stars miss out in Grammy glory"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/9-year-old-in-final-trials/?utm_source=rss&utm_medium=rss&utm_campaign=9-year-old-in-final-trials
      title: "9-year-old in final trials"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/05/faz-appoints-kafuli-acting-referees-manager/?utm_source=rss&utm_medium=rss&utm_campaign=faz-appoints-kafuli-acting-referees-manager
      title: "FAZ appoints Kafuli acting referees manager"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/woolley-praises-zambias-cholera-fight/
      title: "Woolley praises Zambia’s cholera fight"
---