---
title: "Wednesday, October 30th, 2024"
description: "This episode of the Zed News Podcast covers a range of news from Zambia and beyond, including political updates, health concerns, economic developments, and sports highlights. Topics include a minister's clarification on a former president's motorcade, memorial services for Michael Sata, and Zambia's ambitions in copper production and football."
tags: episode
episode: "340"
date: 2024-10-30T14:48:08.315343+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-10-30_podcast_dist.mp3
    length: 4 minutes, 14 seconds
    size: 3.91 MB
rss:
    enclosure_length: 4095850
    itunes_duration: 04:14
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 2 minutes, 53 seconds
words:
    count: 604
    rate: 143 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/30/we-are-good-friends-with-kalu-kamanga/
      title: "We’re good friends with Kalu – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/30/if-they-dont-sort-out-things-therell-be-no-pf-on-the-ballot-paper-by-2026-kaseba/
      title: "If they don’t sort out things, there’ll be no PF on the ballot paper by 2026 – Kaseba"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/30/warriors-host-arrows/
      title: "Warriors host Arrows"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/10/30/pf-politics-and-the-shameless-pissing-contest-on-satas-memorial/
      title: "PF politics and the shameless pissing contest on Sata’s memorial"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/paediatric-kidney-support-foundation-launched/
      title: "Paediatric Kidney Support Foundation launched"
    - source: Mwebantu
      url: https://www.mwebantu.com/taxi-driver-arrested-in-connection-with-murder-of-student-nurse/
      title: "Taxi driver arrested in connection with murder of student nurse."
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/30/no-damage-was-done-to-lungus-motorcade-in-chingola-mwiimbu/
      title: "No damage was done to Lungu’s motorcade in Chingola – Mwiimbu"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/30/ranking-12th-on-ballon-dor-list-a-big-motivation-bb11/
      title: "Ranking 12th on Ballon d’Or list a big motivation – BB11"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/30/queens-blow-comoros-away-in-7-0-trashing/
      title: "Queens blow Comoros away in 7-0 thrashing"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/south-africa-government-split-over-ukraine-visa-deal/
      title: "South Africa government split over Ukraine visa deal"
    - source: Mwebantu
      url: https://www.mwebantu.com/eight-miners-dead-two-injured-in-illegal-mining-collapse-at-kcm-chingola/
      title: "Eight miners dead, two injured in illegal mining collapse at KCM Chingola."
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-expects-mines-to-outline-contributions-to-3-million-tonne-copper-vision/
      title: "President Hichilema expects mines to outline contributions to 3 million-tonne copper vision"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-receives-2-million-emergency-grant-from-japan/
      title: "Zambia Receives $2 Million Emergency Grant from Japan"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/30/state-closes-case-against-yamba-malanji/
      title: "State closes case against Yamba, Malanji"
    - source: Mwebantu
      url: https://www.mwebantu.com/faz-to-determine-avram-grants-future-in-december/
      title: "FAZ to determine Avram Grant’s future in December"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/30/health-sector-gains-from-2016-to-2021-shouldnt-be-lost-chitalu/
      title: "Health sector gains from 2016 to 2021 shouldn’t be lost – Chitalu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mmd-joins-upnd-alliance/
      title: "MMD joins UPND Alliance"
---
