---
title: "Friday, May 3rd, 2024"
description: "This is episode 237 of the Zed News Podcast."
tags: episode
episode: "237"
date: 2024-05-03T12:08:43.447541+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-05-03_podcast_dist.mp3
    length: 4 minutes, 37 seconds
    size: 4.26 MB
rss:
    enclosure_length: 4466362
    itunes_duration: 04:37
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 28 seconds
words:
    count: 638
    rate: 138 words per minute
references:
    count: 12
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2024/05/03/cost-of-living-drops-by-k255/
      title: "Cost of living drops by K255"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/05/03/upnd-duped-the-media-citizens-on-the-access-to-information-law/
      title: "UPND duped the media, citizens on the Access to Information law"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/03/ndola-high-court-adjourns-faz-inter-parte-hearing-to-thursday/
      title: "Ndola High Court adjourns FAZ inter-parte hearing to Thursday"
    - source: Mwebantu
      url: https://www.mwebantu.com/short-lived-celebration-for-given-as-state-appeals-his-acquittal/
      title: "Short lived celebration for Given as State appeals his acquittal"
    - source: Mwebantu
      url: https://www.mwebantu.com/road-traffic-accident-claim-six-lives-police-say/
      title: "Road traffic accident claim six lives, police say"
    - source: News Diggers!
      url: https://diggers.news/business/2024/05/03/weve-paid-over-300-investrust-customers-zicb/
      title: "We’ve paid over 300 Investrust customers – ZICB"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/03/barbra-makes-nwsl-history-with-5-goal-contributions-in-2-starts/
      title: "Barbra makes NWSL history with 5 goal contributions in 2 starts"
    - source: News Diggers!
      url: https://diggers.news/business/2024/05/03/zesco-starts-importing-electricity-to-supplement-national-power/
      title: "Zesco starts importing electricity to supplement national power"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/03/commercial-farmer-reports-choma-upnd-councillor-to-police-over-botched-maize-deal/
      title: "Commercial farmer reports Choma UPND councillor to police over botched maize deal"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/03/because-i-never-worked-in-govt-before-becoming-president-i-never-learnt-how-to-steal-hh/
      title: "Because I never worked in govt before becoming President, I never learnt how to steal – HH"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/03/kazabu-urges-football-stakeholders-to-address-conflicts-through-established-channels/
      title: "Kazabu urges football stakeholders to address conflicts through established channels"
    - source: Mwebantu
      url: https://www.mwebantu.com/football-administrator-damiano-mutale-asks-high-court-to-refer-inter-parte-hearing-to-concourt/
      title: "Football administrator Damiano Mutale asks High Court to refer inter-parte hearing to ConCourt."
---
