---
title: "Wednesday, March 27th, 2024"
description: Zed News Podcast episode 210: Govt challenges Archbishop Banda to specify which praise singers he was referring to; Japan nappy maker shifts from babies to adults.
tags: episode
episode: "210"
date: 2024-03-27T15:30:45.234330+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-27_podcast_dist.mp3
    length: 45 seconds
    size: 736.38 KB
rss:
    enclosure_length: 754055
    itunes_duration: 00:45
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 27 minutes, 32 seconds
words:
    count: 124
    rate: 165 words per minute
references:
    count: 17
    sources: 2
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/green-eagles-fires-namazaba/
      title: "Green Eagles fires Namazaba"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/faz-confident-of-fustal-team-ahead-of-afcon/
      title: "FAZ Confident of Futsal Team ahead of AFCON"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mopani-unions-to-start-negotiations/
      title: "Mopani, Unions to start Negotiations"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cnmm-handsover-clinic-in-bweengwa/
      title: "CNMM Handsover Clinic in Bweengwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mporokoso-school-construction-stalls/
      title: "Mporokoso school Construction stalls"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/upnd-hh-is-a-capable-leader/
      title: "HH is a capable leader-UPND"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/27/govt-challenges-archbishop-banda-to-specify-which-praise-singers-he-was-referring-to/
      title: "Govt challenges Archbishop Banda to specify which praise singers he was referring to"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/japan-nappy-maker-shifts-from-babies-to-adults/
      title: "Japan nappy maker shifts from babies to adults"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mweetwa-concerned-with-debt-restructuring-misinformation/
      title: "Mweetwa Concerned with Debt Restructuring Misinformation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambiabotswana-to-realize-kazungula-bridge-authority/
      title: "Zambia,Botswana to realize Kazungula Bridge Authority"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sean-diddy-combs-accused-of-sexual-assault-by-male-producer/
      title: "Sean ‘Diddy’ Combs accused of sexual assault by male producer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-shifts-focus-to-commercial-creditors/
      title: "Govt shifts focus to commercial creditors"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/debt-restructuring-cheers-employers-and-priests/
      title: "Debt Restructuring cheers Employers and Priests"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-assess-farmers-losses/
      title: "Govt to Assess farmer’s losses"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-to-host-international-msme-indaba/
      title: "Zambia to Host International MSME Indaba"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chilengi-warns-of-cholera-cases-spiking/
      title: "Chilengi warns of Cholera cases spiking"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/patrick-phiri-goes-to-kansanshi-fc/
      title: "Patrick Phiri Goes to Kansanshi FC"
---