---
title: "Tuesday, October 29th, 2024"
description: "The Zed News Podcast covers various stories shaping Zambia today, including economic issues like debt-for-nature swaps and coal resource exploitation, social concerns like a tragic student suicide and calls for political reforms, as well as sports updates on basketball and football achievements."
tags: episode
episode: "339"
date: 2024-10-29T14:49:46.784674+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-10-29_podcast_dist.mp3
    length: 4 minutes, 20 seconds
    size: 4.00 MB
rss:
    enclosure_length: 4194904
    itunes_duration: 04:20
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 31 seconds
words:
    count: 590
    rate: 136 words per minute
references:
    count: 29
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/29/bad-governance-unproductive-politicking-affect-africas-development-cj/
      title: "Bad governance, unproductive politicking affect Africa’s development – CJ"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/29/archbishop-banda-leads-some-congregants-in-devotion-outside-pope-square-as-police-deny-him-entry/
      title: "Archbishop Banda leads some congregants in devotion outside Pope Square as police deny him entry"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135352
      title: "‘Sata united Zambia’"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/29/well-oppose-mining-in-lower-zambezi-national-park-tiz/
      title: "We’ll oppose mining in Lower Zambezi National Park – TIZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-archdiocese-condemns-police-cordon-of-cathedral-calls-government-action-systematic-abuse/
      title: "Lusaka Archdiocese condemns police cordon of Cathedral, calls government action ‘systematic abuse’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135369
      title: "ZICTA mobile transactions cash losses hit over K8m"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135361
      title: "Munaile goes for FAZ presidency again"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135355
      title: "Mulenga Sata slams ECL"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135366
      title: "‘AFCON qualification perfect Zambia@60"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135364
      title: "Golfers target podium finish in Zimbabwe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mutati-launches-19-priority-curricula-for-the-tevet-sector/
      title: "Mutati launches 19 priority curricula for the TEVET sector"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/orlando-pride-congratulate-bb11/
      title: "Orlando Pride congratulate BB11"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zns-to-open-copper-mine-in-nwp-by-2027/
      title: "ZNS to open Copper mine in NWP by 2027"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-calls-for-swift-implementation-of-projects-agreed-with-china/
      title: "HH calls for swift implementation of projects agreed with China"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/29/atletico-lusakas-teenage-striker-heads-to-bulgaria/
      title: "Atletico Lusaka’s teenage striker heads to Bulgaria"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/29/comoros-are-not-pushovers-mwila/
      title: "Comoros are not pushovers – Mwila"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/29/we-need-to-go-full-throttle-exploit-coal-for-power-generation-sixtus/
      title: "We need to go full throttle, exploit coal for power generation – Sixtus"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/29/zambians-know-how-to-change-govts-but-not-how-to-change-to-a-better-one-aka/
      title: "Zambians know how to change govts but not how to change to a better one – Aka"
    - source: Mwebantu
      url: https://www.mwebantu.com/grade-12-pupil-commits-suicide-after-parental-scolding/
      title: "Grade 12 pupil commits suicide after parental scolding."
    - source: Mwebantu
      url: https://www.mwebantu.com/munir-has-a-case-to-answer-for-allegedly-defaming-cabinet-ministers/
      title: "Munir has a case to answer for allegedly defaming cabinet ministers"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135358
      title: "‘Remove Presidential Immunity clause’"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/29/magic-ends-road-to-bal-tourney-with-perfect-record/
      title: "Magic ends road to BAL tourney with perfect record"
    - source: Mwebantu
      url: https://www.mwebantu.com/commander-iis-wife-discontinues-divorce-case/
      title: "Commander II’s wife discontinues divorce case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-lost-1m-hectares-of-white-maize-due-to-drought/
      title: "“Zambia lost 1m hectares of white maize due to drought”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-committed-to-upholding-the-rights-of-citizens-kawana/
      title: "Govt committed to upholding the rights of citizens-Kawana"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/29/debt-for-nature-swap-good-opportunity-for-zambia-to-benefit-from-carbon-trading-hamududu/
      title: "Debt-for-nature swap good opportunity for Zambia to benefit from carbon trading – Hamududu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/church-praises-govt-for-road-works/
      title: "church praises Govt for road works"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/10/29/when-politicians-focus-on-petty-politics-and-neglect-development/
      title: "When politicians focus on petty politics and neglect development"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/unicef-calls-for-investment-in-early-childhood-development/
      title: "UNICEF calls for investment in Early Childhood Development"
---