---
title: "Monday, April 29th, 2024"
description: "\*                                     \item                   \   \end User 1: Hello, and welcome to the Zed News Podcast. I'm #1 source for all your \   \ User   \ User   \ User   \ User   \   \   \   \   \"
tags: episode
episode: "233"
date: 2024-04-29T12:07:21.021044+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-04-29_podcast_dist.mp3
    length: 3 minutes, 40 seconds
    size: 3.39 MB
rss:
    enclosure_length: 3557722
    itunes_duration: 03:40
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 2 minutes, 3 seconds
words:
    count: 557
    rate: 152 words per minute
references:
    count: 0
    sources: 0
articles:
---