---
title: "Wednesday, November 13th, 2024"
description: "In this episode, we cover the latest news from Zambia, including upcoming by-elections, political updates, and economic insights from President Hakainde Hichilema. We also discuss sports news, including the Africa Cup of Nations qualifier and updates from the world of Zambian football."
tags: episode
episode: "350"
date: 2024-11-13T14:49:15.968006+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-11-13_podcast_dist.mp3
    length: 4 minutes, 6 seconds
    size: 3.78 MB
rss:
    enclosure_length: 3967955
    itunes_duration: 04:06
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes
words:
    count: 567
    rate: 138 words per minute
references:
    count: 25
    sources: 4
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/dpp-applies-for-the-forfeiture-of-2000-timber-logs-and-logging-equipment/
      title: "DPP applies for the forfeiture of 2,000 timber logs and logging equipment"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135508
      title: "CNMC targets $1.6bn investment"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/11/13/part-3-if-znbc-needs-money-it-must-beg-from-govt-zambians-must-resist-increased-tv-levy/
      title: "Part 3: If ZNBC needs money it must beg from  govt, Zambians must resist increased TV levy"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135523
      title: "Access Bank starts integration of banking systems"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/13/wada-quits-zanaco/
      title: "Wada quits Zanaco"
    - source: Mwebantu
      url: https://www.mwebantu.com/nixon-chilangwas-seat-up-for-grabs-as-ecz-set-by-elections-for-kawambwa-and-two-others/
      title: "Nixon Chilangwa’s seat up for grabs! As ECZ set by-elections for Kawambwa and two others."
    - source: Mwebantu
      url: https://www.mwebantu.com/on-ai-and-cybersecurity-an-interview-with-crowdstrike-at-gitex-global/
      title: "On AI and Cybersecurity: An Interview with CrowdStrike at GITEX GLOBAL"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/13/2024-has-been-better-for-our-industry-than-last-year-tourism-council/
      title: "2024 has been better for our industry than last year – Tourism Council"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/13/ecz-sets-date-for-by-elections-in-chilangwas-constituency/
      title: "ECZ sets date for by-elections in Chilangwa’s constituency"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/13/were-used-to-playing-teams-that-cause-us-trouble-ivory-coast-gaffer/
      title: "We’re used to playing teams that cause us trouble – Ivory Coast gaffer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kampambaklings-confident-of-win-against-ivory-coast/
      title: "Kampamba,Klings  confident of win against Ivory Coast"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kawambwa-by-election-set-for-december-202024/
      title: "Kawambwa by-election set for December 20,2024"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/13/what-does-lungu-want-to-do-in-govt-wonders-shamenda/
      title: "What does Lungu want to do in govt, wonders Shamenda"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/13/we-need-capital-but-also-best-management-to-boost-economy-hh/
      title: "We need capital, but also best management to boost economy – HH"
    - source: Mwebantu
      url: https://www.mwebantu.com/muchinga-farmer-killed-by-elephant-attack/
      title: "Muchinga farmer killed by elephant attack"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135515
      title: "Wada quits!"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-commends-eu-for-support-aviation/
      title: "Govt commends EU for support Aviation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-to-recruit-20000-community-health-volunteers/
      title: "Govt to recruit 20,000 community health volunteers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/trident-fc-ordered-to-pay-k1-4m-to-fired-coaching-staff/
      title: "Trident FC ordered to pay K1.4m to fired coaching staff"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/nalumango-calls-for-unity/
      title: "Nalumango calls for unity"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/13/keep-going-youre-focused-on-the-right-things-world-vision-leader-tells-hh/
      title: "Keep going, you’re focused on the right things, World Vision leader tells HH"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/13/chipito-ndlovu-mweene-extend-uzbekistan-stay-for-global-tourney/
      title: "Chipito, Ndlovu, Mweene extend Uzbekistan stay for global tourney"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/13/hardworking-people-understand-the-current-economic-hardships-mposha/
      title: "Hardworking people understand the current economic hardships – Mposha"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135521
      title: "Use digital market platform, ZAMACE tips farmers"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135513
      title: "HH calls for mindset change towards work"
---