---
title: "Wednesday, July 10th, 2024"
description: "In today's episode, host Ayanda discusses various news items, including the suspension of operations at Royal Park Platinum due to unsanitary conditions, the Kopala One boxing tournament, the arrest of four individuals protesting against loadshedding, the Inter Company Relay, Nchanga Rangers' acquisition of Cameroonian players, the Red Arrows' participation in the CECAFA invitational tournament, and various other local stories."
tags: episode
episode: "260"
date: 2024-07-10T17:34:18.180280+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-07-10_podcast_dist.mp3
    length: 10 minutes, 49 seconds
    size: 9.94 MB
rss:
    enclosure_length: 10420614
    itunes_duration: 10:49
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 56 seconds
words:
    count: 1,475
    rate: 136 words per minute
references:
    count: 27
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/10/pugilists-to-exchange-blows-at-kopala-one-boxing-tourney/
      title: "Pugilists to exchange blows at Kopala One Boxing tourney"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/10/lcc-suspends-royal-park-platinum-operations-due-to-unsanitary-conditions/
      title: "LCC suspends Royal Park Platinum operations due to unsanitary conditions"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133438
      title: "BoZ advises public to ignore notice on phasing out of cheques"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/10/when-wings-are-cut-off/
      title: "When wings are cut off"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/10/like-all-politicians-lungu-is-a-liar-he-never-allowed-the-judiciary-to-operate-freely/
      title: "Like all politicians, Lungu is a liar, he never  allowed the Judiciary to operate freely"
    - source: Mwebantu
      url: https://www.mwebantu.com/dpp-refuses-to-grant-consent-to-sean-tembo-in-another-case/
      title: "DPP refuses to grant consent to Sean Tembo in another case."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/10/1200-to-participate-in-inter-company-relay-mpondela/
      title: "1,200 to participate in Inter Company Relay- Mpondela"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-arrest-four-activists-at-zesco-headquarters-over-load-shedding-protest/
      title: "Police arrest four activists at Zesco Headquarters over load shedding protest"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133449
      title: "Arrows are good to go – Chisi"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133447
      title: "ICR set for this weekend"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133445
      title: "‘Sort Chipolopolo crisis!’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133440
      title: "ZICB, Airtel Business sign deal to provide 4G and 5G internet services to SMEs"
    - source: Mwebantu
      url: https://www.mwebantu.com/concort-dismisses-ecls-preliminary-issues/
      title: "Concort dismisses ECL’s preliminary issues"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133451
      title: "‘Big names won’t intimidate Copper Queens!’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/jay-banda-granted-preliminary-inquiry/
      title: "JAY BANDA granted preliminary Inquiry"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/beginning-of-two-legends-photos-of-messi-and-baby-lamine-yamal-resurface/
      title: "‘Beginning of two legends’: Photos of Messi and baby Lamine Yamal resurface"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133433
      title: "ZICB takes over Investrust Bank’s customers, assets"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/10/police-nab-4-loadshedding-protesters/
      title: "Police nab 4 loadshedding protesters"
    - source: Mwebantu
      url: https://www.mwebantu.com/fic-freezes-27-bank-accounts-over-money-laundering-suspicions/
      title: "FIC freezes 27 bank accounts over money laundering suspicions"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133435
      title: "‘ZRA has generated K416m since start of smart invoicing system’"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/10/arrows-kick-start-cecafa-challenge/
      title: "Arrows kick start CECAFA challenge"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133443
      title: "Buy as much maize as possible, millers urged"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/nine-pf-mps-granted-leave-to-commence-judicial-review/
      title: "Nine PF MPs granted leave to commence Judicial Review"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/nchanga-rangers-fc-signs-two-cameroonians/
      title: "Nchanga Rangers FC signs two Cameroonians"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/low-cdf-usage-irks-sejani/
      title: "Low CDF usage irks SEJANI"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/10/nchanga-rangers-strengthen-squad-with-cameroonian-duo/
      title: "Nchanga Rangers strengthen squad with Cameroonian duo"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133430
      title: "$511m drought relief support flows in – Veep"
---
