---
title: "Friday, August 30th, 2024"
description: "In this episode of the Zed News Podcast, host Ayanda discusses various news topics including sports, human rights, economic developments, and a tragic suicide case in Zambia. In sports, UFC star Dricus du Plessis wins against Kelvin Gastelum, while Zambia's sprinter Muzala Samukonga prepares for the Rome Diamond League. Football news reveals Atletico's victory over Zanaco and Roan Rugby's suspension of three officials. On a more serious note, UN experts raise concerns over human rights in Zambia, and a 21-year-old woman commits suicide after her boyfriend's death. Lastly, Zambia records a trade surplus of K1.4 billion from January to July 2024, with an increased annual inflation rate for August 2024."
tags: episode
episode: "297"
date: 2024-08-30T15:21:55.868088+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-08-30_podcast_dist.mp3
    length: 3 minutes, 32 seconds
    size: 3.28 MB
rss:
    enclosure_length: 3437560
    itunes_duration: 03:32
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 34 seconds
words:
    count: 486
    rate: 138 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134450
      title: "Coach Grant leaves out striker Fashion Sakala from his provisional 27-man squad"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/30/lungu-wasnt-inciting-violence-against-civil-servants-condemning-him-is-hypocrisy-kampyongo/
      title: "Lungu wasn’t inciting violence against civil servants, condemning him is hypocrisy – Kampyongo"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/30/atletico-humiliate-zanaco/
      title: "Atletico humiliate Zanaco"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/30/well-compete-well-at-paralympic-games-despite-delay-to-travel-katongo/
      title: "We’ll compete well at Paralympic Games despite delay to travel – Katongo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/30/un-human-rights-body-condemns-arbitrary-arrests-of-opposition-leaders-violation-of-freedoms-in-zambia/
      title: "UN Human Rights body condemns arbitrary arrests of opposition leaders, violation of freedoms in Zambia"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-to-end-load-shedding-in-two-years-time/
      title: "Zambia to end load shedding in two years time."
    - source: Mwebantu
      url: https://www.mwebantu.com/un-experts-raise-alarm-over-arbitrary-arrests-and-political-suppression-in-zambia/
      title: "UN experts raise alarm over arbitrary arrests and political suppression in Zambia"
    - source: Mwebantu
      url: https://www.mwebantu.com/chinese-ichola-couple-granted-k100000-cash-bail/
      title: "Chinese ‘ichola’ couple granted K100,000 cash bail."
    - source: Mwebantu
      url: https://www.mwebantu.com/21-year-old-woman-commits-suicide-five-days-after-boyfriends-death/
      title: "21-year-old woman commits suicide five days after boyfriend’s death."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134464
      title: "BAT pays Govt K218m in taxes"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134458
      title: "FAZ lifts ban on Shenko and Mutale"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134448
      title: "Weather alert: Rains, winds, dusty conditions expected"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134445
      title: "Society Business Park probe!"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134462
      title: "Mtolo hails ZNS for food security"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134456
      title: "Roan Rugby suspends 3 ‘coup plotters’"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/30/lwandamina-leaves-zesco-united/
      title: "Lwandamina leaves Zesco United"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/30/mmembe-denies-seditious-practices/
      title: "M’membe denies seditious practices"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134460
      title: "‘Muzala is true Zambian patriot!’"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/30/fashion-show-not-granted/
      title: "Fashion show not Granted"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/30/our-bill-of-rights-doesnt-meet-international-human-rights-hrc/
      title: "Our bill of rights doesn’t meet international human rights – HRC"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/30/in-may-acc-board-asked-hh-to-fire-shamakamba-over-several-shortcomings-kaaba-tells-court/
      title: "In May, ACC board asked HH to fire Shamakamba over several shortcomings, Kaaba tells court"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134466
      title: "Zambia records K14bn trade surplus"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134453
      title: "Zesco load-sheds Lwandamina, CEO"
---
