---
title: "Wednesday, March 27th, 2024"
description: Zed News Podcast episode 210 covers news items including the government challenging Archbishop Banda to specify which praise singers he was referring to, a Lusaka woman surviving after being shot by her boyfriend, the appointment of Patrick Phiri as technical director at Kansanshi Dynamos, and the dismissal of Alex Namazaba and Ronald Mukosha from Green Eagles Football Club. Other topics include the establishment of the Kazungula Bridge Authority, the FAZ's confidence in the futsal team ahead of AFCON, and the appointment of Patrick Phiri as technical advisor and Donwell Yobe as head coach at Kansanshi Dynamos.
tags: episode
episode: "210"
date: 2024-03-27T17:18:15.210635+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-27_podcast_dist.mp3
    length: 6 minutes, 39 seconds
    size: 6.12 MB
rss:
    enclosure_length: 6416148
    itunes_duration: 06:39
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 3 seconds
words:
    count: 924
    rate: 139 words per minute
references:
    count: 25
    sources: 3
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-woman-survives-after-being-shot-by-boyfriend-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-woman-survives-after-being-shot-by-boyfriend-police-say
      title: "Lusaka woman survives after being shot by boyfriend, police say"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/27/govt-challenges-archbishop-banda-to-specify-which-praise-singers-he-was-referring-to/
      title: "Govt challenges Archbishop Banda to specify which praise singers he was referring to"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/upnd-hh-is-a-capable-leader/
      title: "HH is a capable leader-UPND"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/green-eagles-fires-namazaba/
      title: "Green Eagles fires Namazaba"
    - source: Mwebantu
      url: https://www.mwebantu.com/the-boy-child-may-not-be-safe-too/?utm_source=rss&utm_medium=rss&utm_campaign=the-boy-child-may-not-be-safe-too
      title: "The boy child may not be safe too"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mporokoso-school-construction-stalls/
      title: "Mporokoso school Construction stalls"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-assess-farmers-losses/
      title: "Govt to Assess farmer’s losses"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-to-host-international-msme-indaba/
      title: "Zambia to Host International MSME Indaba"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-shifts-focus-to-commercial-creditors/
      title: "Govt shifts focus to commercial creditors"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/brazil-zambia-pen-cotton-revival-deal/
      title: "Brazil, Zambia pen cotton revival deal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/educor-in-south-africa-thousands-of-students-in-limbo-after-dysfunctional-colleges-banned/
      title: "Educor in South Africa: Thousands of students in limbo after ‘dysfunctional’ colleges banned"
    - source: Mwebantu
      url: https://www.mwebantu.com/mundubile-suspended-for-30-days-from-parliament/?utm_source=rss&utm_medium=rss&utm_campaign=mundubile-suspended-for-30-days-from-parliament
      title: "Mundubile Suspended for 30 Days from Parliament"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/patrick-phiri-goes-to-kansanshi-fc/
      title: "Patrick Phiri Goes to Kansanshi FC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cnmm-handsover-clinic-in-bweengwa/
      title: "CNMM Handsover Clinic in Bweengwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/japan-nappy-maker-shifts-from-babies-to-adults/
      title: "Japan nappy maker shifts from babies to adults"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/israel-and-hezbollah-trade-strikes-over-lebanon-border/
      title: "Israel and Hezbollah trade strikes over Lebanon border"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambiabotswana-to-realize-kazungula-bridge-authority/
      title: "Zambia,Botswana to realize Kazungula Bridge Authority"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/faz-confident-of-fustal-team-ahead-of-afcon/
      title: "FAZ Confident of Futsal Team ahead of AFCON"
    - source: Mwebantu
      url: https://www.mwebantu.com/kansanshi-appoint-patrick-phiri/?utm_source=rss&utm_medium=rss&utm_campaign=kansanshi-appoint-patrick-phiri
      title: "Kansanshi appoint Patrick Phiri"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/debt-restructuring-cheers-employers-and-priests/
      title: "Debt Restructuring cheers Employers and Priests"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chilengi-warns-of-cholera-cases-spiking/
      title: "Chilengi warns of Cholera cases spiking"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mweetwa-concerned-with-debt-restructuring-misinformation/
      title: "Mweetwa Concerned with Debt Restructuring Misinformation"
    - source: Mwebantu
      url: https://www.mwebantu.com/fired-high-court-judge-freed-from-corruption-allegations/?utm_source=rss&utm_medium=rss&utm_campaign=fired-high-court-judge-freed-from-corruption-allegations
      title: "Fired High Court Judge freed from corruption allegations"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sean-diddy-combs-accused-of-sexual-assault-by-male-producer/
      title: "Sean ‘Diddy’ Combs accused of sexual assault by male producer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mopani-unions-to-start-negotiations/
      title: "Mopani, Unions to start Negotiations"
---
