---
title: "Friday, January 5th, 2024"
description: This is the one hundred and fifty-second episode of the podcast.
tags: episode
episode: "152"
date: 2024-01-05T14:09:56.814535+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-01-05_podcast_dist.mp3
    length: 7 minutes, 25 seconds
    size: 6.82 MB
rss:
    enclosure_length: 7151336
    itunes_duration: 07:25
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 44 seconds
words:
    count: 1,023
    rate: 138 words per minute
references:
    count: 18
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/01/05/kawana-is-like-squealer-using-language-to-manipulate-citizens-suppress-dissent/
      title: "Kawana is like Squealer, using language to manipulate citizens, suppress dissent"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/05/weve-rejected-proposal-to-give-142000-hectares-of-land-to-foreign-entity-for-exploration-mpika-mp/
      title: "We’ve rejected proposal to give 142,000 hectares of land to foreign entity for exploration – Mpika MP"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/05/we-need-to-gel-set-one-common-goal-before-afcon-chipolopolo-striker/
      title: "We need to gel, set one common goal before AFCON – Chipolopolo striker"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/vedanta-not-yet-in-charge-of-kcm/
      title: "Vedanta not yet in charge of KCM"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/05/some-cops-are-impounding-vehicles-in-order-to-solicit-bribes-notes-public-protector/
      title: "Some cops are impounding vehicles in order to solicit bribes, notes Public Protector"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/01/05/utterly-despicable-and-disgusting/
      title: "Utterly despicable and disgusting"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/05/govt-tells-multichoice-to-unlock-znbc-tv1-during-afcon/
      title: "Govt tells Multichoice to unlock ZNBC TV1 during AFCON"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-determined-to-end-cholera-hh/
      title: "Govt determined to end cholera – HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/oscar-pistorius-released-on-parole-in-south-africa/
      title: "Oscar Pistorius released on parole in South Africa"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/05/its-shocking-that-hh-is-depending-on-foreign-advisory-services-to-govern-zumani/
      title: "It’s shocking that HH is depending on foreign advisory services to govern – Zumani"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-can-win-each-match-says-frankie-musonda/?utm_source=rss&utm_medium=rss&utm_campaign=we-can-win-each-match-says-frankie-musonda
      title: "‘We can win each match’, says Frankie Musonda"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-calls-for-unified-action-to-defeat-the-cholera-outbreak/?utm_source=rss&utm_medium=rss&utm_campaign=president-hakainde-hichilema-calls-for-unified-action-to-defeat-the-cholera-outbreak
      title: "President Hakainde Hichilema calls for unified action to defeat the cholera outbreak"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/05/jay-jay-disputes-govts-mealie-meal-smuggling-excuse-as-commodity-hits-k410-in-lundazi/
      title: "Jay Jay disputes govt’s mealie meal smuggling excuse, as commodity hits K410 in Lundazi"
    - source: Mwebantu
      url: https://www.mwebantu.com/upnd-sg-sued-for-calling-archbishop-alick-banda-lucifer-of-zambia/?utm_source=rss&utm_medium=rss&utm_campaign=upnd-sg-sued-for-calling-archbishop-alick-banda-lucifer-of-zambia
      title: "UPND SG sued for calling Archbishop Alick Banda “Lucifer of Zambia”"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/05/be-transparent-when-selecting-players-during-trials-faz-urges-u17-coaches/
      title: "Be transparent when selecting players during trials, FAZ urges U17 coaches"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/05/2024-promises-to-be-exciting-cycling-association/
      title: "2024 promises to be exciting – Cycling Association"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/05/cdf-cant-solve-all-problems-kangombe/
      title: "CDF can’t solve all problems – Kang’ombe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kitwe-police-seal-off-warehouse/
      title: "Kitwe police seal off warehouse"
---
