---
title: "Thursday, July 18th, 2024"
description: "In today's episode, Ayanda discusses various news items, including the normalization of abnormal behaviors in Zambian society, expectations from the 2025 National Budget, fake doctors at UTH, the dissolution of the ACC Board, and Nkana Football Club releasing 11 players. The episode also covers the Zambian government's denial of owing national football team coach Avram Grant and players, the appointment of Investrust Bank liquidators, and the Copper Queens' potential to win gold at the Paris Olympics. Additional stories include the FIC trends report controversy, the PF MPs' case, and the appointment of new liquidation managers for Investrust Bank. The episode concludes with updates on the Chipolopolo's FIFA ranking, Miles Sampa's countersuit against Morgan Ng'ona, and a police officer slapping a retired soldier accused of defilement."
tags: episode
episode: "266"
date: 2024-07-18T20:47:53.893430+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-07-18_podcast_dist.mp3
    length: 3 minutes, 42 seconds
    size: 3.42 MB
rss:
    enclosure_length: 3589906
    itunes_duration: 03:42
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 40 seconds
words:
    count: 499
    rate: 135 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133575
      title: "Drugs diverted"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/18/nkana-releases-11-players/
      title: "Nkana releases 11 players"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-people-who-have-been-masquerading-as-doctors-from-2017-at-uth-nabbed/
      title: "Two people who have been masquerading as doctors from 2017 at UTH nabbed."
    - source: Mwebantu
      url: https://www.mwebantu.com/policeman-slaps-retired-soldier-accused-of-defilement/
      title: "Policeman slaps retired soldier accused of defilement"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/18/fic-trends-report-has-exposed-kawana-and-his-minister-mweetwa/
      title: "FIC trends report has exposed Kawana and his minister Mweetwa"
    - source: Mwebantu
      url: https://www.mwebantu.com/now-miles-sampa-countersues-morgan-ngona/
      title: "Now Miles Sampa countersues Morgan Ng’ona"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133595
      title: "Investrust liquidation managers named"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133592
      title: "Envoy prods Copper Queens"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133586
      title: "Haimbe to attend AU meet in ACCRA"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133581
      title: "Cracks emerge in UKA"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133578
      title: "Govt acts to cut back social inequalities"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133598
      title: "‘Engagement of small scale OMCs to stabilise fuel supply’"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/18/the-societal-mental-challenge-normalizing-abnormalities/
      title: "The Societal Mental Challenge: Normalizing Abnormalities"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/18/expectations-from-the-2025-national-budget/
      title: "Expectations from the 2025 National Budget"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/18/police-nab-fake-uth-doctors/
      title: "Police nab fake UTH doctors"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/18/hh-dissolves-acc-board-2/
      title: "HH dissolves ACC board"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/18/govt-doesnt-owe-grant-players-nkandu/
      title: "Govt doesn’t owe Grant, players – Nkandu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chipolopolo-drop-on-fifa-rankings/
      title: "Chipolopolo drop on FIFA rankings"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/18/mulenga-tips-copper-queens-to-win-gold-at-paris-olympics/
      title: "Mulenga tips Copper Queens to win gold at Paris Olympics"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/18/parley-challenges-courts-decision-to-halt-removal-of-9-pf-mps/
      title: "Parley challenges court’s decision to halt removal of 9 PF MPs"
    - source: Mwebantu
      url: https://www.mwebantu.com/chipolopolo-drops-to-92-on-fifa-ranking/
      title: "Chipolopolo drops to 92 on FIFA Ranking"
    - source: Mwebantu
      url: https://www.mwebantu.com/when-podcasts-become-reality-its-a-mashup-that-zed-podcast-is-coming-to-a-tv-screen-near-you/
      title: "When Podcasts Become Reality-It’s a mashup! That Zed Podcast is coming to a TV Screen near you."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133589
      title: "Athletes will shine – Siame"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133584
      title: "PF MPs case: ‘High Court review might fail’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133572
      title: "Expedite projects, HH urges PPP"
    - source: News Diggers!
      url: https://diggers.news/business/2024/07/18/boz-appoints-habasonda-mulala-as-investrust-liquidators/
      title: "BOZ appoints Habasonda, Mulala as Investrust liquidators"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/haimbe-in-ghana-for-au-meeting/
      title: "HAIMBE in Ghana for AU meeting"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/no-room-for-graft-in-govt-vp/
      title: "No room for graft in Govt – VP"
---