---
title: "Friday, May 10th, 2024"
description: "**Episode Description:**Ayanda hosts Zed News Podcast episode 242, covering Chishimba Kambwili's detention after Miles Sampa withdraws as his surety, a court order for Geoffrey Mwamba to explain his absences, and the opening of the Ronnie Shikapwasha murder trial where the daughter testifies against the mother. Also discussed is GEI Power's collaboration with Turkish energy giant YEO to develop Zambia's first Solar PV Plant with Battery Storage."
tags: episode
episode: "242"
date: 2024-05-10T12:07:06.374145+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-05-10_podcast_dist.mp3
    length: 2 minutes, 5 seconds
    size: 1.94 MB
rss:
    enclosure_length: 2033423
    itunes_duration: 02:05
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 53 seconds
words:
    count: 289
    rate: 139 words per minute
references:
    count: 3
    sources: 1
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/gei-power-partners-with-turkish-energy-giant-yeo-to-develop-zambias-first-solar-pv-plant-with-battery-storage/
      title: "GEI Power Partners with Turkish Energy Giant YEO to Develop Zambia’s First Solar PV Plant with Battery Storage"
    - source: Mwebantu
      url: https://www.mwebantu.com/chishimba-kambwili-detained/
      title: "Chishimba Kambwili ‘detained’"
    - source: Mwebantu
      url: https://www.mwebantu.com/daugther-testifies-against-mother-in-ronnie-shikapwasha-murder-case/
      title: "Daugther testifies against mother in Ronnie Shikapwasha murder case"
---
