---
title: "Monday, October 21st, 2024"
description: "In this episode, we cover various topics including the increase in the Constituency Development Fund, a fuel shortage crisis, and developments in the mining sector. We also discuss positive news from the agriculture sector, sports updates, and environmental initiatives, as well as controversies surrounding President Hichilema's proposals and a dramatic outburst at a royal ceremony in Australia."
tags: episode
episode: "333"
date: 2024-10-21T14:49:05.286591+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-10-21_podcast_dist.mp3
    length: 5 minutes, 28 seconds
    size: 5.04 MB
rss:
    enclosure_length: 5286612
    itunes_duration: 05:28
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 49 seconds
words:
    count: 762
    rate: 139 words per minute
references:
    count: 20
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/21/fuel-crisis-adding-salt-to-load-shedding-wound-zctu/
      title: "Fuel crisis adding salt to load-shedding wound – ZCTU"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/communities-that-keep-trees-to-be-rewarded/
      title: "Communities that keep trees to be rewarded"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/10/21/can-increased-cdf-allocations-deliver-real-change-a-closer-look-at-implementation-challenges-and-opportunities/
      title: "Can Increased CDF Allocations Deliver Real Change? A Closer Look at Implementation Challenges and Opportunities"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/21/financial-independence-key-for-football-growth-shepande/
      title: "Financial independence key for football growth – Shepande"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/21/mutondo-stars-claim-2nd-position/
      title: "Mutondo Stars claim 2nd position"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/21/hh-fires-3-concourt-judges/
      title: "HH fires 3 ConCourt judges"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/10/21/consulting-chiefs-on-civil-servants-recruitment-will-consolidate-nepotism/
      title: "Consulting chiefs on civil servants recruitment will consolidate nepotism"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135253
      title: "President Hichilema gifts chiefs with farming inputs"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/not-my-king-australian-senator-shouts-at-charles/
      title: "Not my King, Australian senator shouts at Charles"
    - source: Mwebantu
      url: https://www.mwebantu.com/80-metre-historic-cargo-en-route-to-zambia/
      title: "62 metre historic cargo en route to Zambia"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135258
      title: "Kambwili mourns his two brothers"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/21/mma-zambia-chief-pleads-for-sponsorship/
      title: "MMA Zambia chief pleads for sponsorship"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135251
      title: "It’s all over"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/farmers-welcome-491m-grant/
      title: "Farmers welcome $491m grant"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kamanga-urges-u17-team-to-beat-japan/
      title: "Kamanga urges U17 team to beat Japan"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/21/expensive-electricity-will-result-in-subdued-profits-lower-tax-contributions-from-mines-pwc/
      title: "Expensive electricity will result in subdued profits, lower tax contributions from mines – PwC"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/21/1030-fisp-beneficiaries-have-collected-their-inputs-govt/
      title: "1,030 FISP beneficiaries have collected their inputs – Govt"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/21/reduction-in-revenue-from-mines-due-to-tax-holidays-musukwa/
      title: "Reduction in revenue from mines due to tax holidays – Musukwa"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-removes-concourt-judges-from-office/
      title: "President Hakainde Hichilema removes ConCourt judges from office."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/take-advantage-of-cash-for-work/
      title: "“Take advantage of Cash for Work”"
---
