---
title: "Monday, March 25th, 2024"
description: Zed News Podcast episode 208 features news on a ZNS officer receiving a life sentence for murder, the Absa Cup round of 16 line-up, Zambia's 4x400m relay team qualifying for the 2024 Paris Olympics, debt restructuring negotiations, and various other stories.
tags: episode
episode: "208"
date: 2024-03-25T20:23:40.566859+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-25_podcast_dist.mp3
    length: 4 minutes, 2 seconds
    size: 3.73 MB
rss:
    enclosure_length: 3915495
    itunes_duration: 04:02
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 27 seconds
words:
    count: 579
    rate: 144 words per minute
references:
    count: 38
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/mufulira-man-dies-after-taking-poisonous-herbs/
      title: "Mufulira man dies after taking poisonous herbs"
    - source: News Diggers!
      url: https://diggers.news/business/2024/03/25/8-hrs-of-load-shedding-is-better-for-manufacturers-than-splitting-zam/
      title: "8 hrs of load-shedding is better for manufacturers than splitting – ZAM"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/zambia-seeks-headroom-in-debt-restructuring-to-grow-economy/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-seeks-headroom-in-debt-restructuring-to-grow-economy
      title: "Zambia seeks ‘headroom’ in debt restructuring to grow economy"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/we-snoozed-we-lost/?utm_source=rss&utm_medium=rss&utm_campaign=we-snoozed-we-lost
      title: "We snoozed, we lost"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/rain-harvesting-works-wonders/?utm_source=rss&utm_medium=rss&utm_campaign=rain-harvesting-works-wonders
      title: "Rain harvesting works wonders"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/plate-barotse-chirundu-cruise-in-absa-cup/?utm_source=rss&utm_medium=rss&utm_campaign=plate-barotse-chirundu-cruise-in-absa-cup
      title: "Plate, Barotse, Chirundu cruise in Absa Cup"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/4x400m-relay-team-book-paris-olympics-ticket/?utm_source=rss&utm_medium=rss&utm_campaign=4x400m-relay-team-book-paris-olympics-ticket
      title: "4x400m relay team book Paris Olympics ticket"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/irh-will-put-400m-in-mopani-in-the-next-3-4-years-zccm-ih-board-chair/
      title: "IRH will put $400m in Mopani in the next 3, 4 yrs – ZCCM-IH Board Chair"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/our-movement-will-have-experienced-people-who-know-how-to-govern-muhabi/
      title: "Our movement will have experienced people who know how to govern – Muhabi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/we-can-now-sleep-comfortably-knowing-uka-is-ecl-milupi/
      title: "We can now sleep comfortably knowing UKA is ECL – Milupi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/pf-is-still-pf-were-not-all-joining-uka-chilangwa/
      title: "PF is still PF, we’re not all joining UKA – Chilangwa"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/mines-urged-to-invest-in-legacy-projects/?utm_source=rss&utm_medium=rss&utm_campaign=mines-urged-to-invest-in-legacy-projects
      title: "Mines urged to invest in legacy projects"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/juldan-properties-threatens-legal-action-against-pf-over-k1-1m-rental-debt/
      title: "Juldan Properties threatens legal action against PF over K1.1m rental debt"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/hh-will-never-use-gulfstream-lufuma-insists/
      title: "HH will never use Gulfstream, Lufuma insists"
    - source: Mwebantu
      url: https://www.mwebantu.com/girl-13-defiled-by-her-15-year-old-boyfriend/?utm_source=rss&utm_medium=rss&utm_campaign=girl-13-defiled-by-her-15-year-old-boyfriend
      title: "Girl, 13 defiled by her 15 year old boyfriend"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/imf-others-praise-zambia/
      title: "IMF, Others Praise Zambia"
    - source: Mwebantu
      url: https://www.mwebantu.com/gardener-found-with-case-to-answer-for-stealing-eagles-mealie-meal-in-shoprite/?utm_source=rss&utm_medium=rss&utm_campaign=gardener-found-with-case-to-answer-for-stealing-eagles-mealie-meal-in-shoprite
      title: "Gardener found with case to answer for stealing Eagles mealie meal in Shoprite."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/veteran-nollywood-star-amaechi-muonagor-dies-at-62/
      title: "Veteran Nollywood star Amaechi Muonagor dies at 62"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/usa-to-help-zambia-secure-the-health-sector/
      title: "USA to help Zambia secure the Health Sector"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/moscow-attack-russian-court-charges-four-men-with-act-of-terrorism/
      title: "Moscow attack: Russian court charges four men with act of terrorism"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-eurobond-holders-reach-agreement/
      title: "Zambia, Eurobond holders reach agreement"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/equity-partner-option-for-mopani-was-the-best/
      title: "“Equity Partner Option for Mopani was the best”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/elite-ladies-to-appeal-to-fifa-over-mapepa-transfer/
      title: "Elite Ladies to appeal to FIFA over Mapepa Transfer"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/mopani-pobo/?utm_source=rss&utm_medium=rss&utm_campaign=mopani-pobo
      title: "Mopani pobo!"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/zesco-cuts-down-exports/?utm_source=rss&utm_medium=rss&utm_campaign=zesco-cuts-down-exports
      title: "Zesco cuts down exports"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/tayali-opposes-kwacha-sale/?utm_source=rss&utm_medium=rss&utm_campaign=tayali-opposes-kwacha-sale
      title: "Tayali opposes Kwacha sale"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/things-would-have-been-worse-if-hh-was-not-in-charge-hamasaka/
      title: "Things would have been worse if HH was not in charge – Hamasaka"
    - source: Mwebantu
      url: https://www.mwebantu.com/mufulira-man-dies-after-ingesting-herbal-remedies/?utm_source=rss&utm_medium=rss&utm_campaign=mufulira-man-dies-after-ingesting-herbal-remedies
      title: "Mufulira man dies after ingesting herbal remedies"
    - source: Mwebantu
      url: https://www.mwebantu.com/farmer-tells-court-he-wanted-to-sell-woman-with-albinism-at-k100-million/?utm_source=rss&utm_medium=rss&utm_campaign=farmer-tells-court-he-wanted-to-sell-woman-with-albinism-at-k100-million
      title: "Farmer tells court he wanted to sell woman with albinism at K100 million."
    - source: Mwebantu
      url: https://www.mwebantu.com/current-load-shedding-may-last-up-until-the-end-of-the-year-say-mapani/?utm_source=rss&utm_medium=rss&utm_campaign=current-load-shedding-may-last-up-until-the-end-of-the-year-say-mapani
      title: "Current load-shedding may last up until the end of the year, say Mapani"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/delay-to-appoint-foreign-affairs-minister-gives-credence-to-rumours-that-hh-wants-to-reappoint-kakubo-lifuka/
      title: "Delay to appoint Foreign Affairs Minister gives credence to rumours that HH wants to reappoint Kakubo – Lifuka"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/president-hichilema-toasts-eurobond-debt-deal/
      title: "President HICHILEMA toasts Eurobond debt deal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-engage-private-firm-to-run-kanele-hills-fruit-processing-plant/
      title: "Govt To engage private firm to run Kanele Hills Fruit Processing plant"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-ranked-among-top-five-best-performing-african-leaders/?utm_source=rss&utm_medium=rss&utm_campaign=president-hakainde-hichilema-ranked-among-top-five-best-performing-african-leaders
      title: "President Hakainde Hichilema ranked among top five best performing African leaders."
    - source: Mwebantu
      url: https://www.mwebantu.com/sean-tembo-sues-minister-of-education-for-hate-speech/?utm_source=rss&utm_medium=rss&utm_campaign=sean-tembo-sues-minister-of-education-for-hate-speech
      title: "Sean Tembo sues Minister of Education for hate speech"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/03/25/zns-officer-gets-life-for-murder/?utm_source=rss&utm_medium=rss&utm_campaign=zns-officer-gets-life-for-murder
      title: "ZNS officer gets life for murder"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-secures-historic-debt-deal-with-external-bondholders/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-secures-historic-debt-deal-with-external-bondholders
      title: "Zambia secures historic debt deal with External Bondholders"
    - source: Mwebantu
      url: https://www.mwebantu.com/female-student-allegedly-raped-after-night-out-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=female-student-allegedly-raped-after-night-out-police-say
      title: "Female student allegedly raped after night out, police say"
---