---
title: "Friday, August 16th, 2024"
description: "Episode 287 of the Zed News Podcast covers various news from Zambia, including sports updates on Michael Campbell's participation in the Legends Golf Championship and Bentoe Mapulanga and Rhoida Kalenga's representation in the 2024 World Rowing Championships. The episode also discusses the Zambia Chamber of Mines president's views on the national mineral mapping, controversies surrounding Chief Justice Malila's personal opinion and the government's alleged purchase of Zambeef's Chiawa Farm. Additionally, it mentions the construction of new hospitals and health centers, political resignations and lawsuits, and the ongoing issue of load shedding in Zambia."
tags: episode
episode: "287"
date: 2024-08-16T14:09:04.812502+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-08-16_podcast_dist.mp3
    length: 4 minutes, 13 seconds
    size: 3.90 MB
rss:
    enclosure_length: 4087486
    itunes_duration: 04:13
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 50 seconds
words:
    count: 573
    rate: 136 words per minute
references:
    count: 17
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/16/govts-alleged-purchase-of-zambeef-farm-lacks-transparency-chapter-one/
      title: "Govt’s alleged purchase of Zambeef farm lacks transparency – Chapter One"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/16/campbell-sets-eyes-on-winning-legends-tour/
      title: "Campbell sets eyes on winning Legends Tour"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/16/upnd-member-sues-state-for-defamation-demands-k2m/
      title: "UPND member sues state for defamation, demands K2m"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/16/unzasu-hails-hhs-leadership/
      title: "UNZASU hails HH’s leadership"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-need-our-money-muzala-samukonga-demand/
      title: "‘We need our money,’ Muzala Samukonga demand"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/16/zambian-duo-to-compete-at-world-rowing-championship/
      title: "Zambian duo to compete at World Rowing championship"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/16/govt-signs-427m-contract-for-construction-of-5-level-one-hospitals/
      title: "Govt signs $427m contract for construction of 5 Level One hospitals"
    - source: Mwebantu
      url: https://www.mwebantu.com/herbalist-in-esther-lungu-case-to-be-charged-with-perjury-for-lying-in-court/
      title: "Herbalist in Esther Lungu case to be ‘charged’ with perjury for ‘lying’ in court."
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-man-allegedly-stabs-friend-to-death-over-gold/
      title: "Lusaka man allegedly stabs friend to death over gold"
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/16/mineral-mapping-will-make-zambia-more-attractive-for-investment-chilembo/
      title: "Mineral mapping will make Zambia more attractive for investment – Chilembo"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/08/16/justice-malilas-call-on-judges-to-make-public-comments-will-leave-judiciary-in-chaos-part-2/
      title: "Justice Malila’s call on judges to make public comments will leave Judiciary in chaos; Part 2"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/16/trymore-resigns-from-socialist-party/
      title: "Trymore Mwenda resigns from Socialist Party"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/16/everything-has-gone-down-under-upnd-including-moral-values-sumaili/
      title: "Everything has gone down under UPND, including moral values – Sumaili"
    - source: Mwebantu
      url: https://www.mwebantu.com/judge-refuses-to-give-sederick-kasanda-bail-asks-the-state-to-be-serious-and-bring-all-witnesses/
      title: "Judge refuses to give Sederick Kasanda bail, asks the State to be serious and bring all witnesses"
    - source: Mwebantu
      url: https://www.mwebantu.com/japanese-govt-aids-zambia-with-more-than-usd2million-in-response-to-drought-situation/
      title: "Japanese Govt aids Zambia with more than USD$2million in response to drought situation."
    - source: Mwebantu
      url: https://www.mwebantu.com/sate-sate-appointed-nkana-assistant-coach/
      title: "Sate Sate appointed Nkana assistant coach"
    - source: Mwebantu
      url: https://www.mwebantu.com/koseni-mwebantu-as-load-shedding-increases-to-17-hours-daily/
      title: "Koseni #Mwebantu as load shedding increases to 17 hours daily."
---