---
title: "Thursday, August 8th, 2024"
description: "This is episode 281 of the Zed News Podcast."
tags: episode
episode: "281"
date: 2024-08-08T14:09:19.103007+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-08-08_podcast_dist.mp3
    length: 3 minutes, 50 seconds
    size: 3.55 MB
rss:
    enclosure_length: 3725117
    itunes_duration: 03:50
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 5 seconds
words:
    count: 526
    rate: 137 words per minute
references:
    count: 12
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/08/08/what-erb-must-consider-in-the-proposed-regulation-of-liquid-petroleum-gas/
      title: "What ERB must consider in the proposed regulation of Liquid Petroleum Gas"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/08/i-dont-see-any-difficulties-with-title-challenge-this-season-nkana-ceo/
      title: "I don’t see any difficulties with title challenge this season – Nkana CEO"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/08/sensele-mine-is-a-ticking-time-bomb-lifuka/
      title: "Sensele Mine is a ticking time bomb – Lifuka"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133925
      title: "HH warns councils"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133922
      title: "Police closing in on fugitive ‘Jay Jay’ – Mweetwa"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133918
      title: "Govt clarifies DMMU, FQM contract"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/08/dont-announce-whom-youre-investigating-until-youre-ready-to-arrest-hh-guides-leas/
      title: "Don’t announce whom you’re investigating, until you’re ready to arrest, HH guides LEAs"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/08/i-dealt-with-curzon-global-limited-as-a-consultant-gbm-tells-court/
      title: "I dealt with Curzon Global Limited as a consultant, GBM tells court"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/08/we-used-rubber-bullets-on-kasempa-miners-no-one-died-police/
      title: "We used rubber bullets on Kasempa miners, no one died – Police"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/08/court-sets-judgement-date-in-kampyongos-corruption-case/
      title: "Court sets judgement date in Kampyongo’s corruption case"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/08/well-have-stringent-penalties-for-clubs-that-misbehave-zpl/
      title: "We’ll have stringent penalties for clubs that misbehave – ZPL"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/08/ive-been-investigated-3-times-imagine-how-many-times-id-have-been-suspended-kawana/
      title: "I’ve been investigated 3 times, imagine how many times I’d have been suspended – Kawana"
---