---
title: "Thursday, February 15th, 2024"
description: This is the one hundred and eighty-first episode of the podcast.
tags: episode
episode: "181"
date: 2024-02-15T14:14:35.620091+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-02-15_podcast_dist.mp3
    length: 4 minutes, 37 seconds
    size: 4.26 MB
rss:
    enclosure_length: 4468460
    itunes_duration: 04:37
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 8 minutes, 34 seconds
words:
    count: 627
    rate: 136 words per minute
references:
    count: 29
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/15/gabriel-banda-was-on-campus-the-day-unza-riot-happened-witness/
      title: "Gabriel Banda was on campus the day UNZA riot happened – Witness"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/15/were-close-to-reaching-hiv-epidemic-control-masebo/
      title: "We’re close to reaching HIV epidemic control – Masebo"
    - source: News Diggers!
      url: https://diggers.news/business/2024/02/15/govt-responds-to-drought-by-suspending-all-maize-exports/
      title: "Govt responds to drought, suspends all maize exports"
    - source: News Diggers!
      url: https://diggers.news/business/2024/02/15/manufactures-have-faced-difficulties-absorbing-impact-of-kwacha-depreciation-sagar/
      title: "Manufactures have faced difficulties absorbing impact of Kwacha depreciation – Sagar"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/02/15/desperate-measures-to-save-the-kwacha/
      title: "Desperate measures to save the Kwacha"
    - source: Mwebantu
      url: https://www.mwebantu.com/partners-against-piracy-pap-successfully-held-a-panel-discussion-dubbed-piracy-conversations-the-role-of-regulatory-bodies/?utm_source=rss&utm_medium=rss&utm_campaign=partners-against-piracy-pap-successfully-held-a-panel-discussion-dubbed-piracy-conversations-the-role-of-regulatory-bodies
      title: "Partners Against Piracy (PAP) successfully held a panel discussion dubbed – Piracy Conversations: The Role of Regulatory Bodies"
    - source: Mwebantu
      url: https://www.mwebantu.com/keeper-kakunta-joins-forest/?utm_source=rss&utm_medium=rss&utm_campaign=keeper-kakunta-joins-forest
      title: "Keeper Kakunta joins Forest"
    - source: Mwebantu
      url: https://www.mwebantu.com/chinkankata-boy-commits-suicide-after-being-scolded-over-cattle-wandering-into-other-fields/?utm_source=rss&utm_medium=rss&utm_campaign=chinkankata-boy-commits-suicide-after-being-scolded-over-cattle-wandering-into-other-fields
      title: "Chinkankata boy commits suicide after being scolded over cattle wandering into other fields"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mens-conference-how-some-kenyans-mark-valentines-day/
      title: "Men’s conference: How some Kenyans mark Valentine’s Day"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sweden-gives-nais-140000-for-lima-radio/
      title: "Sweden Gives NAIS $140,000 for Lima radio"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambias-ambassador-to-japan-highlights-tourism-potential-for-economic-development/?utm_source=rss&utm_medium=rss&utm_campaign=zambias-ambassador-to-japan-highlights-tourism-potential-for-economic-development
      title: "Zambia’s Ambassador to Japan highlights tourism potential for economic development"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/vedanta-pays-out-25m-for-services/
      title: "Vedanta pays out $25m for services"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/10-livingstone-houses-flooded-with-fecal/
      title: "10 Livingstone houses flooded with fecal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kundananjis-move-is-a-game-changer/
      title: "“Kundananji’s Move is a game changer”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/160481-2/
      title: "Judgement in Amos Chanda Case Postponed"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/budget-to-be-realigned-towards-food-security-hh/
      title: "Budget To be realigned towards Food Security-HH"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/15/mweetwa-tends-to-say-things-he-shouldnt-when-excited-lubinda/
      title: "Mweetwa tends to say things he shouldn’t when excited – Lubinda"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/15/pac-hears-how-moa-lost-k1-7m-through-reuse-of-import-permits/
      title: "PAC hears how MoA lost K1.7m through reuse of import permits"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-calls-on-the-church-to-champion-unity-and-progress-in-zambia/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-calls-on-the-church-to-champion-unity-and-progress-in-zambia
      title: "President Hichilema calls on the church to champion unity and progress in Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rda-awards-467-road-maintenance-contracts/
      title: "RDA awards 467 road maintenance contracts"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/israel-gaza-netanyahu-vows-to-press-ahead-with-rafah-offensive/
      title: "Israel Gaza: Netanyahu vows to press ahead with Rafah offensive"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/injectable-prep-launched-in-kitwe/
      title: "Injectable PREP Launched in Kitwe"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/15/we-have-no-immediate-plans-to-relocate-capital-city-to-ngabwe-veep/
      title: "We have no immediate plans to relocate capital city to Ngabwe – Veep"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/15/weve-embarked-on-process-of-repealing-replacing-iba-act-kawana/
      title: "We’ve embarked on process of repealing, replacing IBA Act – Kawana"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chaiwa-loaned-to-schaffhausen/
      title: "Chaiwa loaned to Schaffhausen"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/15/acc-records-warn-and-caution-statement-from-kakubo-for-abuse-of-office/
      title: "ACC records warn and caution statement from Kakubo for abuse of office"
    - source: Mwebantu
      url: https://www.mwebantu.com/zra-unearths-suspected-tax-evasion-scheme-involving-over-k82-million/?utm_source=rss&utm_medium=rss&utm_campaign=zra-unearths-suspected-tax-evasion-scheme-involving-over-k82-million
      title: "ZRA unearths suspected tax evasion scheme involving over K82 million"
    - source: Mwebantu
      url: https://www.mwebantu.com/teenager-escapes-fathers-sexual-abuse-following-his-death/?utm_source=rss&utm_medium=rss&utm_campaign=teenager-escapes-fathers-sexual-abuse-following-his-death
      title: "Teenager escapes father’s sexual abuse following his death"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/emilio-nsue-equatorial-guinea-suspend-striker-for-indiscipline-at-afcon-2023/
      title: "Emilio Nsue: Equatorial Guinea suspend striker for ‘indiscipline’ at Afcon 2023"
---
