---
title: "Monday, August 12th, 2024"
description: "This episode of the Zed News Podcast covers updates from Zambia's political landscape, including MP Stephen Kampyongo's report on MPs Ronald Chitotela and Nickson Chilangwa, Archbishop Alick Banda's visits to detained leaders, and the UPND's accusations against Socialist Party leader Fred M'membe. In economic news, Minister Felix Mutati warns Zed Mobile about entering the competitive telecom industry, and UKA Deputy Secretary General Mumbi Phiri suggests that some Cabinet ministers make contradictory statements due to alcohol consumption. The podcast also highlights good news from the science and technology sector, mining sector, and sports news, including Zambian President Hakainde Hichilema's efforts to aid 400m bronze medalist Muzala Samukonga."
tags: episode
episode: "283"
date: 2024-08-12T14:10:22.836100+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-08-12_podcast_dist.mp3
    length: 5 minutes, 25 seconds
    size: 5.00 MB
rss:
    enclosure_length: 5243561
    itunes_duration: 05:25
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 8 seconds
words:
    count: 735
    rate: 136 words per minute
references:
    count: 20
    sources: 3
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133983
      title: "HH secures USA training for Muzala"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/12/i-am-a-political-prisoner-chitotela-laments/
      title: "I am a political prisoner, Chitotela laments"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/police-making-headway-in-guntila-murder-case/
      title: "Police making headway in Guntila Murder Case"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/12/mmembe-thanks-alick-banda-for-visiting-him-in-detention/
      title: "M’membe thanks Alick Banda for visiting him in detention"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/12/sangwa-writes-hh-cautions-him-against-altering-the-constitution/
      title: "Sangwa writes HH, cautions him against altering the Constitution"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133990
      title: "‘Mining, energy deals boosting capital market savings’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133996
      title: "Scientists, editors meet in Tanzania"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133994
      title: "Limeco quicklime project gets boost"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/12/fred-doesnt-walk-the-talk-on-democracy-upnd/
      title: "Fred doesn’t walk the talk on democracy – UPND"
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/12/zambias-telecom-industry-is-vicious-you-blink-you-die-mutati-cautions-zed-mobile/
      title: "Zambia’s telecom industry is vicious, you blink you die, Mutati cautions Zed Mobile"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/12/not-announcing-investigations-protects-peoples-rights-dec/
      title: "Not announcing investigations protects people’s rights – DEC"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133992
      title: "Jubilee Metals starts Ndola operations"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133988
      title: "Mwale confident ahead of chess tourney"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133985
      title: "No favours in selection – Wada"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/12/its-up-to-hh-to-decide-if-hes-comfortable-working-with-his-drunk-ministers-mumbi/
      title: "It’s up to HH to decide if he’s comfortable working with his ‘drunk’ ministers – Mumbi"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133973
      title: "Economist hails New Dawn’s progressive agro policies"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/12/well-soon-end-senseli-retrieval-mission-matambo/
      title: "We’ll soon end Senseli retrieval mission – Matambo"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133978
      title: "Kawana assures of Govt-Church’s continued collaboration"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133975
      title: "‘K16.8bn injected into economy in July’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-drc-to-hold-talks-after-border-closure/
      title: "Zambia, DRC to hold talks after border closure"
---