---
title: "Tuesday, July 9th, 2024"
description: "In this episode of the Zed News Podcast, host Ayanda discusses various news items from Zambia, including the recovery of a pistol from an 18-year-old male juvenile, the ECZ urging polling staff to maintain professionalism during ward by-elections, Minister of Health Sylvia Masebo reporting a case of being recorded without consent, low compliance levels from employers on payment of wages, and the climax of the PF downfall and Chabinga’s big-headedness. The episode also touches on the phasing out of cheque books by the Bank of Zambia, the increase in influenza-like illnesses, and the Constitutional Court dismissing former President Edgar Lungu's preliminary issue seeking to quash a petition against his election eligibility."
tags: episode
episode: "259"
date: 2024-07-09T16:56:00.740134+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-07-09_podcast_dist.mp3
    length: 3 minutes, 8 seconds
    size: 2.91 MB
rss:
    enclosure_length: 3052408
    itunes_duration: 03:08
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 47 seconds
words:
    count: 416
    rate: 133 words per minute
references:
    count: 35
    sources: 5
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133399
      title: "Chambeshi tips technical bench"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133402
      title: "Give it your all – Kalembo"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/09/the-battle-to-be-beautiful/
      title: "The Battle to be Beautiful"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/lusambo-faces-tax-evasion/?utm_source=rss&utm_medium=rss&utm_campaign=lusambo-faces-tax-evasion
      title: "Lusambo faces tax evasion"
    - source: News Diggers!
      url: https://diggers.news/business/2024/07/09/boz-ponders-phasing-out-cheque-books/
      title: "BOZ ponders phasing out cheque books"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/employers-low-compliance-levels-worry-state/?utm_source=rss&utm_medium=rss&utm_campaign=employers-low-compliance-levels-worry-state
      title: "Employers’ low compliance levels worry State"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/emulate-silungwe-hh-prods-judiciary/?utm_source=rss&utm_medium=rss&utm_campaign=emulate-silungwe-hh-prods-judiciary
      title: "Emulate Silungwe, HH prods Judiciary"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/09/we-should-turn-up-at-court-to-offer-solidarity-to-lungu-lubinda-tells-members/
      title: "We should turn up at court to offer solidarity to Lungu, Lubinda tells members"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133390
      title: "Law fraternity eulogises former Chief Justice Annel Silungwe"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/09/weve-seen-an-increase-in-influenza-like-illnesses-moh/
      title: "We’ve seen an increase in influenza-like illnesses – MoH"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133410
      title: "Kwacha maintains mark against US dollar"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133407
      title: "Solar kit prices drop in Lsk, Ndola"
    - source: Mwebantu
      url: https://www.mwebantu.com/thirty-five-test-positive-for-influenza-says-ministry-of-health/
      title: "Thirty-five test positive for influenza, says Ministry of Health"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133416
      title: "Onion importation ends"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133413
      title: "Airtime scratch cards to go?"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/pistol-recovered-from-schoolboy/?utm_source=rss&utm_medium=rss&utm_campaign=pistol-recovered-from-schoolboy
      title: "Pistol recovered from schoolboy"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/ecz-prods-polling-staff-to-adhere-to-electoral-guidelines/?utm_source=rss&utm_medium=rss&utm_campaign=ecz-prods-polling-staff-to-adhere-to-electoral-guidelines
      title: "ECZ prods polling staff to adhere to electoral guidelines"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/9-expelled-pf-mps-make-court-submission/?utm_source=rss&utm_medium=rss&utm_campaign=9-expelled-pf-mps-make-court-submission
      title: "9 expelled PF MPs make court submission"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/curbing-drugs-pilferage-crucial/?utm_source=rss&utm_medium=rss&utm_campaign=curbing-drugs-pilferage-crucial
      title: "Curbing drugs pilferage crucial"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/zambia-zimbabwe-ponder-24hr-border-at-vic-falls/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-zimbabwe-ponder-24hr-border-at-vic-falls
      title: "Zambia, Zimbabwe ponder 24hr border at Vic Falls"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/09/the-climax-of-the-pf-downfall-and-chabingas-big-headedness-part-2/
      title: "The climax of the PF downfall and Chabinga’s big-headedness; Part 2"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/09/external-debt-has-increased-from-13-04bn-to-14-7bn-since-we-took-over-musokotwane/
      title: "External debt has increased from $13.04bn to $14.7bn since we took over – Musokotwane"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/09/mundubile-8-others-seek-judicial-review-of-speakers-decision-to-declare-their-seats-vacant/
      title: "Mundubile, 8 others seek judicial review of Speaker’s decision to declare their seats vacant"
    - source: News Diggers!
      url: https://diggers.news/business/2024/07/09/govt-grants-maamba-collieries-exploration-licenses-for-lithium-other-minerals/
      title: "Govt grants Maamba Collieries exploration licenses for lithium, other minerals"
    - source: Mwebantu
      url: https://www.mwebantu.com/expelled-pf-mps-tell-court-speakers-decision-to-declare-their-seats-vacant-was-illegal/
      title: "Expelled PF MPs tell court Speakers decision to declare their seats vacant was illegal"
    - source: Mwebantu
      url: https://www.mwebantu.com/pf-acknowledges-president-hichilemas-offer-to-meet-edgar-lungu/
      title: "PF acknowledges President Hichilema’s offer to meet Edgar Lungu."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133404
      title: "Fly the Zambian flag high – Kamanga"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133396
      title: "Diggers bury KPF"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/09/dont-vote-for-opposition-smes-minister-tells-shiwangandu-residents/
      title: "Don’t vote for opposition, SMEs Minister tells Shiwang’andu residents"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133393
      title: "Zambia hosts SADC senior officials meeting"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/masebo-reports-conversation-recording/?utm_source=rss&utm_medium=rss&utm_campaign=masebo-reports-conversation-recording
      title: "Masebo reports conversation recording"
    - source: News Diggers!
      url: https://diggers.news/business/2024/07/09/erb-lifts-domestic-solar-equipment-importation-restrictions/
      title: "ERB lifts domestic solar equipment importation restrictions"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/09/faz-boss-kamanga-sees-competitive-chipolopolo/?utm_source=rss&utm_medium=rss&utm_campaign=faz-boss-kamanga-sees-competitive-chipolopolo
      title: "FAZ boss Kamanga sees competitive Chipolopolo"
    - source: Mwebantu
      url: https://www.mwebantu.com/fic-uncovers-prostitution-and-money-laundering-activities-in-casinos/
      title: "FIC uncovers prostitution and money laundering activities in casinos."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ecl-election-eligibility-petition-to-be-heard-concourt/
      title: "ECL election eligibility petition to be heard – ConCourt"
---
