---
title: "Wednesday, November 20th, 2024"
description: "In this episode, we cover a range of topics including court cases, political developments, and sports news. We discuss a retrial ordered by the Court of Appeal, the Judicial Complaints Commission's stance on the removal of three judges, and updates on the Kawambwa Central parliamentary by-election, among other stories."
tags: episode
episode: "355"
date: 2024-11-20T14:58:58.741774+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-11-20_podcast_dist.mp3
    length: 5 minutes, 1 second
    size: 4.63 MB
rss:
    enclosure_length: 4854446
    itunes_duration: 05:01
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 13 minutes, 42 seconds
words:
    count: 672
    rate: 134 words per minute
references:
    count: 36
    sources: 5
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135617
      title: "Kasenseli Gold Mine opens new chapter in mining sector"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135620
      title: "‘Value addition key for critical minerals’"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/cops-find-socialist-cadres-with-axes-pepper-spray/?utm_source=rss&utm_medium=rss&utm_campaign=cops-find-socialist-cadres-with-axes-pepper-spray
      title: "Cops find Socialist cadres with axes, pepper spray"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/the-presidency-deserves-utmost-respect/?utm_source=rss&utm_medium=rss&utm_campaign=the-presidency-deserves-utmost-respect
      title: "The presidency deserves utmost respect"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135615
      title: "Lady golfers scout for K300, 000"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/chipolopolo-finish-top-in-group-g/?utm_source=rss&utm_medium=rss&utm_campaign=chipolopolo-finish-top-in-group-g
      title: "Chipolopolo finish top in Group G"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/20/copper-queens-resume-netball-africa-cup-preps/
      title: "Copper Queens resume Netball Africa Cup preps"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/cops-told-to-go-after-tiktokers-threatening-president/?utm_source=rss&utm_medium=rss&utm_campaign=cops-told-to-go-after-tiktokers-threatening-president
      title: "Cops told to go after TikTokers threatening President"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/20/copper-princes-blow-away-lesotho-in-9-0-win/
      title: "Copper Princes blow away Lesotho in 9-0 win"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/20/were-forecasting-very-strong-economic-recovery-for-zambia-in-2025-imf/
      title: "We’re forecasting very strong economic recovery for Zambia in 2025 – IMF"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135611
      title: "‘Simply excellent!’"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/20/african-nations-must-focus-on-mobilising-resources-locally-au/
      title: "African nations must focus on mobilising resources locally – AU"
    - source: Mwebantu
      url: https://www.mwebantu.com/my-father-gifted-me-properties-allegedly-to-be-proceeds-of-crime/
      title: "My father gifted me properties allegedly to be proceeds of crime."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135608
      title: "‘Cybercrimes Act will be enforced’"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/20/court-halts-criminal-proceedings-against-changala-in-sedition-case/
      title: "Court halts criminal proceedings against Changala in sedition case"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/20/high-court-orders-kavindele-case-to-mediation/
      title: "High Court orders Kavindele case to mediation"
    - source: Mwebantu
      url: https://www.mwebantu.com/woman-to-undergo-mental-examination-after-allegedly-stealing-baby-in-ndola/
      title: "Woman to undergo mental examination after allegedly stealing baby in Ndola"
    - source: Mwebantu
      url: https://www.mwebantu.com/speaker-gives-fugitive-mp-emmanuel-banda-seven-days-to-appear-before-parliament/
      title: "Speaker gives fugitive MP Emmanuel Banda seven days to appear before Parliament"
    - source: Mwebantu
      url: https://www.mwebantu.com/dismissed-zambia-daily-mail-photojournalist-wins-case-awarded-k241871/
      title: "Dismissed Zambia Daily Mail photojournalist wins case, awarded K241,871"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135623
      title: "Zambia, Sweden sign carbon trading deal"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/jcc-on-firm-ground/?utm_source=rss&utm_medium=rss&utm_campaign=jcc-on-firm-ground
      title: "JCC on firm ground"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/uth-gets-10-oxygen-concentrators/?utm_source=rss&utm_medium=rss&utm_campaign=uth-gets-10-oxygen-concentrators
      title: "UTH gets 10 oxygen concentrators"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/heritage-preservation-linked-to-local-literature-sikumba/
      title: "Heritage preservation linked to local literature – SIKUMBA"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/jay-jay-given-7-days-to-show-up/?utm_source=rss&utm_medium=rss&utm_campaign=jay-jay-given-7-days-to-show-up
      title: "Jay Jay given 7 days to show up"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/20/pf-wont-participate-in-kawambwa-by-election-out-of-protest-miles/
      title: "PF won’t participate in Kawambwa by-election out of protest – Miles"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/20/prioritisng-fuel-to-retail-sites-will-ensure-security-of-supply-omcaz/
      title: "Prioritisng fuel to retail sites will ensure security of supply – OMCAZ"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/11/20/a-good-leader-shouldnt-be-afraid-of-making-good-but-unpopular-decisions/
      title: "A good leader shouldn’t be afraid of making good, but unpopular decisions"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/20/erring-judges-have-no-place-in-the-judiciary-ag/
      title: "Erring judges have no place in the judiciary – AG"
    - source: Mwebantu
      url: https://www.mwebantu.com/woman-shot-with-homemade-gun-in-mpika-police-say/
      title: "Woman shot with homemade gun in Mpika, police say"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135604
      title: "Jay Jay handed 7-days ultimatum to attend parley business"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135601
      title: "‘They were not qualified’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-calls-for-success-stories-communication/
      title: "HH calls for success stories communication"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/upnd-adopts-nason-musonda-for-kawambwa-central/?utm_source=rss&utm_medium=rss&utm_campaign=upnd-adopts-nason-musonda-for-kawambwa-central
      title: "UPND  adopts  Nason  Musonda  for  Kawambwa Central"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/man-sentenced-to-hang-for-killing-wife-given-retrial/?utm_source=rss&utm_medium=rss&utm_campaign=man-sentenced-to-hang-for-killing-wife-given-retrial
      title: "Man sentenced to hang  for killing wife given  retrial"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/20/nkombo-gives-update-on-cash-for-work/?utm_source=rss&utm_medium=rss&utm_campaign=nkombo-gives-update-on-cash-for-work
      title: "Nkombo gives update on Cash for Work"
    - source: Mwebantu
      url: https://www.mwebantu.com/businessman-back-in-court-for-alleged-theft-of-mukula-worth-k1-8million-plus-us62000/
      title: "Businessman back in court for alleged theft of mukula worth K1.8million, plus US$62,000."
---
