---
title: "Thursday, November 21st, 2024"
description: "In this episode, we cover various news headlines from Zambia, including the government's commitment to investing in technology, recent human-wildlife conflicts, and political updates. We also discuss international visits, law and order updates, economic projections, education achievements, and sports highlights, including the Zambia Under-20 women's football team's winning streak."
tags: episode
episode: "356"
date: 2024-11-21T14:50:59.710460+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-11-21_podcast_dist.mp3
    length: 5 minutes, 10 seconds
    size: 4.76 MB
rss:
    enclosure_length: 4993208
    itunes_duration: 05:10
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 43 seconds
words:
    count: 681
    rate: 132 words per minute
references:
    count: 35
    sources: 5
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135629
      title: "Tell people New Dawn’s success stories -HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mutale-mwanza-arrested-for-insulting-chichi-daisy/
      title: "Mutale Mwanza arrested for insulting Chichi Daisy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-tells-farmers-to-plant-more/
      title: "HH tells farmers to plant more"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/21/lets-prevent-human-wildlife-conflict/?utm_source=rss&utm_medium=rss&utm_campaign=lets-prevent-human-wildlife-conflict
      title: "Let’s prevent human-wildlife conflict"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/21/jay-jay-busted/?utm_source=rss&utm_medium=rss&utm_campaign=jay-jay-busted
      title: "Jay Jay busted!"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/11/21/from-equality-to-equity-redesigning-zambias-constituency-development-fund-cdf-allocation-for-an-inclusive-development/
      title: "From Equality to Equity: Redesigning Zambia’s Constituency Development Fund (CDF) Allocation for An Inclusive Development"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/21/pakistani-national-gets-6-months-k450-fine-for-giving-false-information-public-officers/
      title: "Pakistani national gets 6 months, K450 fine for giving false information public officers"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/21/police-arrest-mutale-mwanza-for-harassing-chichi-daisy/
      title: "Police arrest Mutale Mwanza for harassing Chichi Daisy"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/21/copper-princesses-topple-south-africa/
      title: "Copper Princesses topple South Africa"
    - source: Mwebantu
      url: https://www.mwebantu.com/the-m-nation-has-fallen-as-mutale-mwanza-is-arrested-for-harassing-fellow-socialite/
      title: "The M-Nation has fallen as Mutale Mwanza is arrested for harassing fellow socialite"
    - source: Mwebantu
      url: https://www.mwebantu.com/2025-rhodes-scholars-for-zambia-announced/
      title: "2025 Rhodes Scholars for Zambia Announced"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135643
      title: "6.2 p.c. projected economic growth attainable – Experts"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135639
      title: "U21 netball: It’s a fair draw"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135631
      title: "PF fishing in dry pond – Mulusa"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135641
      title: "‘Zambia ripe for clean energy investment’"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/21/dnpw-guides-over-elephant-attacks/?utm_source=rss&utm_medium=rss&utm_campaign=dnpw-guides-over-elephant-attacks
      title: "DNPW guides over elephant attacks"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/21/its-landmark-victory-imenda/?utm_source=rss&utm_medium=rss&utm_campaign=its-landmark-victory-imenda
      title: "It’s landmark victory – Imenda"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/21/its-good-that-more-cosafa-teams-qualified-for-afcon-kamanga/
      title: "It’s good that more COSAFA teams qualified for AFCON – Kamanga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambiachina-to-engage-in-exchange-programmes/
      title: "Zambia,China to engage in exchange programmes"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/21/we-need-to-provide-meaningful-experiences-for-children-as-we-prepare-them-for-leadership-minister/
      title: "We need to provide meaningful experiences for children as we prepare them for leadership – Minister"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/21/witness-narrates-how-mwamba-was-apprehended-by-5-cops-at-carwash/
      title: "Witness narrates how Mwamba was apprehended by 5 cops at carwash"
    - source: Mwebantu
      url: https://www.mwebantu.com/kitwe-eight-year-old-drowns-while-waiting-to-view-famous-cold-box/
      title: "Kitwe eight-year-old drowns while waiting to view famous ‘Cold box’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135645
      title: "ZANACO develops new energy financing product"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135627
      title: "3 fired judges seek court intervention"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/muchima-statistics-can-help-better-zambias-healthcare-system/
      title: "Muchima : Statistics can help better Zambia’s Healthcare system"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-launches-empowerment-scheme/
      title: "HH launches empowerment scheme"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/21/sleep-less-fight-like-a-dog-steve-harvey/?utm_source=rss&utm_medium=rss&utm_campaign=sleep-less-fight-like-a-dog-steve-harvey
      title: "Sleep less, fight like a dog – Steve Harvey"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/21/my-husband-purchased-properties-i-own-hibeene-mwiingas-wife-tells-court/
      title: "My husband purchased properties I own, Hibeene Mwiinga’s wife tells court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chipolopolo-tasked-to-go-past-group-stage-at-afcon/
      title: "Chipolopolo tasked to go past group stage at AFCON"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135648
      title: "Zambia laying foundation for utilisation of AI – Veep"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135634
      title: "Mweetwa assures on IBA Act"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/21/govt-keen-on-ai/?utm_source=rss&utm_medium=rss&utm_campaign=govt-keen-on-ai
      title: "Govt keen on AI"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/21/uka-must-communicate-if-it-has-removed-pf-from-the-alliance-mwamba/
      title: "UKA must communicate if it has removed PF from the alliance – Mwamba"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135636
      title: "‘It’s amazing!’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/cosafa-women-u20-zambia-to-face-botswana/
      title: "COSAFA Women U20 : Zambia to face Botswana"
---