---
title: "Wednesday, January 17th, 2024"
description: This is the one hundred and sixtieth episode of the podcast.
tags: episode
episode: "160"
date: 2024-01-17T14:11:03.440004+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-01-17_podcast_dist.mp3
    length: 9 minutes, 29 seconds
    size: 8.71 MB
rss:
    enclosure_length: 9137900
    itunes_duration: 09:29
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 16 seconds
words:
    count: 1,314
    rate: 139 words per minute
references:
    count: 24
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/01/17/suspected-drug-trafficker-asks-to-take-fresh-plea-after-pleading-guilty/
      title: "Suspect asks to take fresh plea after pleading guilty to drug trafficking"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-know-chipolopolos-weakness-drc-coach-says-ahead-of-kasumbalesa-derby/?utm_source=rss&utm_medium=rss&utm_campaign=i-know-chipolopolos-weakness-drc-coach-says-ahead-of-kasumbalesa-derby
      title: "‘I know Chipolopolo’s weakness,’ DRC coach says ahead of Kasumbalesa derby"
    - source: Mwebantu
      url: https://www.mwebantu.com/bank-of-zambia-targets-inflation-control/?utm_source=rss&utm_medium=rss&utm_campaign=bank-of-zambia-targets-inflation-control
      title: "Bank of Zambia targets inflation control"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mpika-shuts-down-17-restaurants/
      title: "Mpika shuts down 17 restaurants"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nwasco-conducting-random-inspections-on-water-supply/
      title: "NWASCO Conducting Random inspections on water supply"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/17/kanyemba-names-provisional-u17-squad-for-world-cup-qualifiers/
      title: "Kanyemba names provisional U17 squad for World Cup qualifiers"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/17/mutapa-joins-power-targets-trophies/
      title: "Mutapa joins power, targets trophies"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/01/17/pf-also-denied-corruption-until-sweden-produced-evidence-and-suspended-aid/
      title: "PF also denied corruption, until Sweden produced evidence and suspended aid"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipolopolo-aim-at-leopards/
      title: "Chipolopolo aim at Leopards"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/01/17/court-finds-chilufya-tayali-with-case-to-answer/
      title: "Court finds Chilufya Tayali with case to answer"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/17/lets-end-drama-in-zambia-support-hh-mweetwa-tells-politicians/
      title: "Let’s end drama in Zambia, support HH, Mweetwa tells politicians"
    - source: Mwebantu
      url: https://www.mwebantu.com/chilufya-tayali-found-with-case-to-answer-for-allegedly-inciting-soldiers/?utm_source=rss&utm_medium=rss&utm_campaign=chilufya-tayali-found-with-case-to-answer-for-allegedly-inciting-soldiers
      title: "Chilufya Tayali found with case to answer for allegedly inciting soldiers."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/egp-slowing-down-cdf-utilization/
      title: "“EGP slowing down CDF utilization”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/karim-benzema-files-defamation-suit-against-french-interior-minister/
      title: "Karim Benzema files defamation suit against French interior minister"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nalumango-thanks-partners-for-joining-cholera-fight/
      title: "Nalumango thanks Partners for Joining Cholera fight"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/journalist-seeks-to-restore-case-where-jj-banda-urinated-in-his-mouth/
      title: "Journalist Seeks to Restore Case were JJ Banda Urinated in his mouth"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/faz-told-to-pay-attention-to-grassroot-football-for-girls/
      title: "FAZ told to pay attention to grassroot football for girls"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/17/handball-team-starts-africa-cup-campaign-against-congo/
      title: "Handball team starts Africa Cup campaign against Congo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/17/poor-performance-of-mining-sector-worrying-but-we-expect-reversal-of-trend-in-2024-boz/
      title: "Poor performance of mining sector worrying, but we expect reversal of trend in 2024 – BoZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/shikapwasha-was-a-reliable-parliamentarian/
      title: "“Shikapwasha was a reliable Parliamentarian”"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/17/we-play-to-win-says-grant-as-zambia-faces-congo/
      title: "We play to win, says Grant as Zambia faces Congo"
    - source: Mwebantu
      url: https://www.mwebantu.com/rtsa-cautions-public-service-vehicles-operators-against-abrogating-the-cholera-guidelines/?utm_source=rss&utm_medium=rss&utm_campaign=rtsa-cautions-public-service-vehicles-operators-against-abrogating-the-cholera-guidelines
      title: "RTSA cautions public service vehicles operators against abrogating the cholera guidelines"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/napsa-waives-penalties-on-contributions/
      title: "NAPSA waives Penalties on Contributions"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cdf-at-work-in-kalomo-and-luena/
      title: "CDF at work in Kalomo and Luena"
---
