---
title: "Monday, December 2nd, 2024"
description: "Today's episode covers a range of topics, including public health issues such as self-stigma among individuals living with HIV, sports news including victories and setbacks for Zambian teams, and legal cases involving government officials. The episode also touches on international relations, including partnerships with Japan and China to boost Zambia's healthcare sector and development initiatives."
tags: episode
episode: "363"
date: 2024-12-02T14:49:50.090541+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-12-02_podcast_dist.mp3
    length: 5 minutes, 28 seconds
    size: 5.04 MB
rss:
    enclosure_length: 5284104
    itunes_duration: 05:28
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 30 seconds
words:
    count: 747
    rate: 137 words per minute
references:
    count: 15
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/12/02/self-stigma/
      title: "Self-stigma"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-calls-for-innovative-solutions-and-strategic-partnerships-with-japan/
      title: "Zambia calls for innovative solutions and strategic partnerships with Japan."
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/02/former-toll-collectors-unhappy-with-redundancy-packages-chimfwembe/
      title: "Former toll collectors unhappy with redundancy packages – Chimfwembe"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/02/archbishop-banda-visits-2-youths-detained-for-mocking-hh-on-tiktok/
      title: "Archbishop Banda visits 2 youths detained for mocking HH on TikTok"
    - source: Mwebantu
      url: https://www.mwebantu.com/cnmc-chairman-wen-gang-explores-new-horizons-for-china-africa-collaboration/
      title: "CNMC Chairman Wen Gang Explores New Horizons for China-Africa Collaboration"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/02/power-goes-top-of-super-league/
      title: "Power goes top of Super League"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/02/nkandu-urges-barbra-to-ignore-naysayers/
      title: "Nkandu urges Barbra to ignore naysayers"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/02/ngocc-condemns-attacks-on-barbra/
      title: "NGOCC condemns attacks on Barbra"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/12/02/theres-no-tribal-witch-hunt-justice-is-personal-and-specific-not-collective/
      title: "There’s no tribal witch-hunt, Justice is personal and specific, not collective"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/nawakwi-is-unwell-court-postpones-trial/
      title: "NAWAKWI is unwell, Court postpones trial"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chitotelas-sentencing-adjourned-to-dec-17-2024/
      title: "CHITOTELA’s sentencing adjourned to Dec 17, 2024"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/02/matero-magic-falls-short-against-fox-basketball/
      title: "Matero Magic falls short against Fox Basketball"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/02/nkandu-tips-u17-teams-to-emulate-u20-girls-at-cosafa-tourney/
      title: "Nkandu tips U17 teams to emulate U20 girls at Cosafa tourney"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/02/govt-urges-football-house-to-ensure-level-playing-field-for-faz-elections/
      title: "Govt urges Football House to ensure level playing field for FAZ elections"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/lusaka-police-officer-jailed-for-gun-theft/
      title: "Lusaka Police Officer jailed for gun theft"
---