---
title: "Monday, March 18th, 2024"
description: "In this episode of Zed News Podcast, Ayanda discusses various news items including Zesco United's victory over Kansanshi Dynamos, Patrick Chinyemba's success at the All-Africa Games, and the advancement of Zambia's gold value chain. The episode also covers the withdrawal of the under-20 Zambian football team from the Four Nations tournament in Malawi, the World Bank's US$100 million grant to Zambia's energy sector, and the resumption of voter registration by the Electoral Commission of Zambia."
tags: episode
episode: "203"
date: 2024-03-18T14:08:27.455424+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-18_podcast_dist.mp3
    length: 4 minutes, 22 seconds
    size: 4.03 MB
rss:
    enclosure_length: 4227711
    itunes_duration: 04:22
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 9 seconds
words:
    count: 607
    rate: 139 words per minute
references:
    count: 25
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/03/18/advancing-a-vision-for-zambias-gold-a-roadmap-towards-a-sustainable-gold-value-chain/
      title: "Advancing a Vision for Zambia’s Gold: A Roadmap towards a Sustainable Gold Value Chain"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/03/18/reporting-illicit-financial-transactions-is-a-challenge-for-law-firms-they-prefer-to-make-money/
      title: "Reporting illicit financial transactions is a challenge for law firms, they prefer to make money"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/18/zambias-tourism-ku-chalo/
      title: "Zambia’s Tourism Ku Chalo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/18/kakubo-chinese-reconcile/
      title: "Kakubo, Chinese reconcile"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ecz-resumes-voter-registration-exercise/
      title: "ECZ resumes voter registration exercise"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/163557-2/
      title: "Zambia U21 National Netball Team loses second qualifier game"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-set-to-harvest-1-7m-tonnes-of-maize/
      title: "Zambia set to harvest 1.7m tonnes of maize"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/murder-suspect-commit-suicide/
      title: "Murder suspect commit suicide"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/18/zesco-cuts-arrows-lead-to-3-after-win/
      title: "Zesco cuts Arrows’ lead to 3 after win"
    - source: Mwebantu
      url: https://www.mwebantu.com/junior-chipolopolo-chicken-out-of-malawi-tourney/?utm_source=rss&utm_medium=rss&utm_campaign=junior-chipolopolo-chicken-out-of-malawi-tourney
      title: "Junior Chipolopolo chicken out of Malawi tourney."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/israel-launches-night-raid-on-gaza-al-shifa-hospital/
      title: "Israel launches night raid on Gaza al-Shifa hospital"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-experiences-ups-and-downs-at-african-games/?utm_source=rss&utm_medium=rss&utm_campaign=zambia-experiences-ups-and-downs-at-african-games
      title: "Zambia Experiences Ups and Downs at African Games"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nanjuwa-calls-for-operationalization-of-masasabi-dam/
      title: "Nanjuwa calls for operationalization of Masasabi dam"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/18/chinyemba-storms-boxing-semis/
      title: "Chinyemba storms boxing semis"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/18/lameck-ruled-out-of-four-nations-tournament/
      title: "Lameck ruled out of Four Nations tournament"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/18/weve-bitten-the-bullet-by-accepting-to-work-with-you-again-kabuswe-tells-vedanta/
      title: "We’ve bitten the bullet by accepting to work with you again, Kabuswe tells Vedanta"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/18/we-knew-umodzi-kummawa-would-be-a-political-party-govt-whip/
      title: "We knew Umodzi Kum’mawa would be a political party – Govt Whip"
    - source: Mwebantu
      url: https://www.mwebantu.com/professional-insurance-spearheads-innovation-and-economic-growth-at-2024-copperbelt-motor-show/?utm_source=rss&utm_medium=rss&utm_campaign=professional-insurance-spearheads-innovation-and-economic-growth-at-2024-copperbelt-motor-show
      title: "Professional Insurance Spearheads Innovation and Economic Growth at 2024 Copperbelt Motor Show"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/18/cristoforetti-targets-semis-at-futsal-afcon/
      title: "Cristoforetti targets semis at Futsal AFCON"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/russian-election-putin-claims-landslide-and-scorns-us-democracy/
      title: "Russian election: Putin claims landslide and scorns US democracy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/musokotwane-counsels-zambians-on-digital-platform-risks/
      title: "Musokotwane counsels Zambians on digital platform risks"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/injury-rules-lameck-banda-out-of-malawi-tourney/
      title: "Injury rules Lameck Banda out of Malawi tourney"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rent-act-review-begins/
      title: "Rent act review begins"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mbappe-scores-hat-trick-as-psg-thrash-montpellier/
      title: "Mbappe scores hat-trick as PSG thrash Montpellier"
    - source: Mwebantu
      url: https://www.mwebantu.com/world-bank-approves-us100-million-grant-to-zambia/?utm_source=rss&utm_medium=rss&utm_campaign=world-bank-approves-us100-million-grant-to-zambia
      title: "World Bank approves US$100 million grant to Zambia"
---
