---
title: "Wednesday, November 6th, 2024"
description: "In this episode, we cover a range of topics including political developments in Zambia, sports highlights, and economic news. We discuss President Hakainde Hichilema's congratulatory message to Donald Trump, corruption allegations, and legal updates, as well as celebrate Zambia's achievements in sports and agriculture."
tags: episode
episode: "345"
date: 2024-11-06T14:50:11.776430+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-11-06_podcast_dist.mp3
    length: 4 minutes, 53 seconds
    size: 4.51 MB
rss:
    enclosure_length: 4724878
    itunes_duration: 04:53
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 56 seconds
words:
    count: 690
    rate: 141 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135456
      title: "YANGO AWARDS TOP COURIERS OF ITS DELIVERY PARTNERS IN ZAMBIA AND LAUNCHES THE LOYALTY PROGRAM"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135444
      title: "HH hails recruitment of over 1,000 female cops"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135450
      title: "Fulfil tax obligations on time – ZRA"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135467
      title: "‘Finish it at home’"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/06/nscz-seeks-k1-4m-for-sports-awards/
      title: "NSCZ seeks K1.4m for sports awards"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/06/rugby-team-ready-for-africa-womens-7s-coach/
      title: "Rugby team ready for Africa Women’s 7’s – coach"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/06/musokotwane-explains-why-k1bn-wasnt-remitted-to-treasury/
      title: "Musokotwane explains why K1bn wasn’t remitted to treasury"
    - source: Mwebantu
      url: https://www.mwebantu.com/ivory-coast-will-be-tough-avram-grant/
      title: "‘Ivory Coast will be tough,’ Avram Grant"
    - source: Mwebantu
      url: https://www.mwebantu.com/zra-urges-taxpayers-to-settle-tax-arrears-by-december-31-to-avoid-penalties/
      title: "ZRA urges taxpayers to settle tax arrears by December 31 to avoid penalties."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135469
      title: "Kamanga sues State, wants passport back"
    - source: Mwebantu
      url: https://www.mwebantu.com/eff-party-president-kasonde-mwenda-found-with-case-to-answer/
      title: "EFF party president Kasonde Mwenda found with case to answer."
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/06/hh-congratulates-trump/
      title: "HH congratulates Trump"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/06/ndlovu-wins-at-immaf-world-championships/
      title: "Ndlovu wins at IMMAF world championships"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/06/faz-applauds-copper-queens-for-winning-cosafa-cup/
      title: "FAZ applauds Copper Queens for winning Cosafa Cup"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/tax-compliance-now-required-for-above-us2000-transfers-outside-zambia/
      title: "Tax compliance now required for above US$2,000 transfers outside Zambia"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/06/some-people-are-soliciting-bribes-in-exchange-for-jobs-at-mopani-matambo/
      title: "Some people are soliciting bribes in exchange for jobs at Mopani – Matambo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/06/we-need-to-recruit-3000-officers-for-2026-polls-ig/
      title: "We need to recruit 3,000 officers for 2026 polls – IG"
    - source: Mwebantu
      url: https://www.mwebantu.com/state-urges-court-not-to-give-gbm-bail/
      title: "State urges court not to give GBM bail"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135464
      title: "Zambia poised to be regional food basket – Indian minister"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135459
      title: "Govt acts to empower SMEs"
    - source: Mwebantu
      url: https://www.mwebantu.com/stardy-mwale-wanted-in-court-sick-or-healthy/
      title: "Stardy Mwale wanted in court, sick or healthy"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135447
      title: "Jay Jay’s seat under microscope"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/avram-grant-names-24-man-squad-for-afcon/
      title: "AVRAM GRANT names 24-man squad for AFCON"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/bowman-lusambo-to-spend-two-years-in-jail/
      title: "BOWMAN LUSAMBO to spend two years in jail"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/11/06/a-reminder-of-lungus-lies-abuse-and-threats-on-the-judiciary/
      title: "A Reminder of Lungu’s Lies, Abuse, and Threats on the Judiciary"
    - source: Mwebantu
      url: https://www.mwebantu.com/bowman-lusambo-to-appeal-two-year-jail-sentence-compares-trumps-re-election-to-pfs-comeback-in-2026/
      title: "Bowman Lusambo to appeal two-year jail sentence, compares Trump’s re-election to PF’s comeback in 2026"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135453
      title: "Mumba hails UPND, MMD alliance"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/fisp-distribution-almost-complete/
      title: "FISP distribution almost complete"
---
