---
title: "Tuesday, December 24th, 2024"
description: "This episode of the Zed News Podcast covers a range of topics, including the arrest of alleged witch doctors for attempting to harm President Hakainde Hichilema, the IMF's concerns about Zambia's economic development, and updates on infrastructure, governance, and sports. The episode also touches on corruption investigations, prisoner pardons, and festive treats for DStv subscribers."
tags: episode
episode: "379"
date: 2024-12-24T14:50:35.538269+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-12-24_podcast_dist.mp3
    length: 4 minutes, 44 seconds
    size: 4.37 MB
rss:
    enclosure_length: 4582353
    itunes_duration: 04:44
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 19 seconds
words:
    count: 658
    rate: 139 words per minute
references:
    count: 23
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/24/grade-1-form-1-pupils-will-open-on-feb-10-to-allow-for-smooth-curriculum-adjustment-moe/
      title: "Grade 1, Form 1 pupils will open on Feb 10 to allow for smooth curriculum adjustment – MoE"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/24/input-distribution-under-dis-is-complete-govt/
      title: "Input distribution under DIS is complete – Govt"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/24/zambias-economy-has-been-very-tough-in-2024-haabazoka/
      title: "Zambia’s economy has been very tough in 2024 – Haabazoka"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/24/unpredictable-policy-decisions-discouraging-investment-imf/
      title: "Unpredictable policy decisions discouraging investment – IMF"
    - source: Mwebantu
      url: https://www.mwebantu.com/dstv-zambia-opens-up-over-35-premium-channels-to-all-active-customers-this-festive-season/
      title: "DStv Zambia Opens Up Over 35 Premium Channels To All Active Customers This Festive Season"
    - source: Mwebantu
      url: https://www.mwebantu.com/there-is-no-looming-fuel-shortage-says-erb/
      title: "There is no looming fuel shortage says ERB"
    - source: Mwebantu
      url: https://www.mwebantu.com/ecls-daughter-chiyeso-fails-to-prevent-forfeiture/
      title: "ECL’s daughter, Chiyeso, fails to prevent forfeiture."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135713
      title: "Chiyeso’s attempt to block forfeiture tossed out"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/sioma-buys-earth-moving-equipment-using-cdf/
      title: "Sioma buys earth-moving equipment using CDF"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135717
      title: "FAZ hails debt restructuring"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135715
      title: "2 suspected wizards plead not guilty"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/12/24/witchcraft-laws-in-zambia-can-police-confidently-say-no-one-uses-charms-at-force-headquarters/
      title: "Witchcraft laws in Zambia: Can police confidently say no one uses charms at Force Headquarters?"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/24/weve-so-far-spent-6m-on-geo-mapping-survey-govt/
      title: "We’ve so far spent $6m on geo mapping survey – Govt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/dec-declares-tasila-lungu-a-most-wanted-person/
      title: "DEC declares Tasila Lungu a most wanted person"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/24/2-men-in-court-for-trying-to-bewitch-hh-admit-possessing-charms/
      title: "2 men in court for ‘trying to bewitch’ HH admit possessing charms"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-have-licence-to-posses-charms-assassin-witchdoctors-tell-court/
      title: "We have licence to posses charms, assassin ‘witchdoctors tell court."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-pardons-759-inmates-for-christmas/
      title: "HH pardons 759 inmates for Christmas"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-athletics-to-train-30-athletes-for-international-events/
      title: "Zambia Athletics to train 30 athletes for international events"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/24/ministers-on-campaign-trail-must-be-going-on-unpaid-leave-demands-ccmg/
      title: "Ministers on campaign trail must be going on unpaid leave, demands CCMG"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/state-house-dismissed-mmembes-parallel-army-claims/
      title: "State House dismissed M’membe’s  ‘parallel army’ claims"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/24/were-investigating-former-zra-boss-kingsley-chanda-for-fraud-involving-8m-acc-tells-pac/
      title: "We’re investigating former ZRA boss Kingsley Chanda for fraud involving $8m, ACC tells PAC"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-releases-commutes-sentences-for-759-inmates/
      title: "President Hichilema releases, commutes sentences for 759 inmates."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/iba-extends-cooling-off-window/
      title: "IBA extends “cooling off ” window"
---
