---
title: "Tuesday, March 5th, 2024"
description: In today's episode of Zed News Podcast, Ayanda discusses various news items including a man arrested for defiling his 12-year-old daughter, a Chinese businessman wanted for manslaughter after his dogs killed a 13-year-old girl, a man who committed suicide after stealing cattle from his wife, and a 31-year-old man arrested for defiling his girlfriend's six-year-old daughter. Additionally, the episode covers ZESCO's consideration of power importation to mitigate load-shedding, no decision made yet on ZESCO tariffs, Munyaule Market traders being engaged before demolition, and the weakening but ongoing impact of the El Niño weather event.
tags: episode
episode: "194"
date: 2024-03-05T14:15:59.924024+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-05_podcast_dist.mp3
    length: 3 minutes, 36 seconds
    size: 3.33 MB
rss:
    enclosure_length: 3492102
    itunes_duration: 03:36
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 10 minutes, 43 seconds
words:
    count: 525
    rate: 146 words per minute
references:
    count: 9
    sources: 2
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/luanshya-wife-finds-her-husband-defiling-their-12-year-old-daughter-police-day/?utm_source=rss&utm_medium=rss&utm_campaign=luanshya-wife-finds-her-husband-defiling-their-12-year-old-daughter-police-day
      title: "Luanshya wife finds her husband defiling their 12-year-old daughter, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/no-decision-made-yet-on-zesco-tariffs/
      title: "No decision made yet on ZESCO tariffs"
    - source: Mwebantu
      url: https://www.mwebantu.com/mpika-man-nabbed-for-defiling-girlfriends-daughter/?utm_source=rss&utm_medium=rss&utm_campaign=mpika-man-nabbed-for-defiling-girlfriends-daughter
      title: "Mpika man nabbed for defiling girlfriend’s daughter"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/wife-finds-hubby-defiling-their-daughter/
      title: "Wife finds hubby defiling their daughter"
    - source: Mwebantu
      url: https://www.mwebantu.com/40-year-old-man-throws-himself-towards-oncoming-truck-and-trailer-after-stealing-wifes-cattle-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=40-year-old-man-throws-himself-towards-oncoming-truck-and-trailer-after-stealing-wifes-cattle-police-say
      title: "40-year-old man throws himself towards oncoming truck and trailer after stealing wife’s cattle, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/chinese-man-wanted-at-court-after-his-10-dogs-killed-a-girl13/?utm_source=rss&utm_medium=rss&utm_campaign=chinese-man-wanted-at-court-after-his-10-dogs-killed-a-girl13
      title: "Chinese man wanted at court after his 10 dogs killed a girl,13"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/el-nino-weakens-but-above-normal-temperatures-are-predicted/
      title: "El Nino weakens but above normal temperatures are predicted"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/munyaule-market-traders-were-engaged-before-demolition-nkombo/
      title: "Munyaule Market traders were engaged before demolition – NKOMBO"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zesco-to-consider-power-importation-mapani/
      title: "ZESCO to consider power importation – MAPANI"
---