---
title: "Friday, February 9th, 2024"
description: This is the one hundred and seventy-seventh episode of the podcast.
tags: episode
episode: "177"
date: 2024-02-09T14:09:23.365299+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-02-09_podcast_dist.mp3
    length: 4 minutes, 27 seconds
    size: 4.11 MB
rss:
    enclosure_length: 4305871
    itunes_duration: 04:27
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 9 seconds
words:
    count: 645
    rate: 145 words per minute
references:
    count: 14
    sources: 2
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kambwili-deported-to-zambia-and-hospitalized/
      title: "Kambwili Deported to Zambia and hospitalized"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cbu-seeks-partner-to-develop-manganese-mine/
      title: "CBU Seeks Partner to Develop Manganese Mine"
    - source: Mwebantu
      url: https://www.mwebantu.com/it-was-mediocre-dario-bonetti-weighs-in-on-chipolopolos-afcon-showing/?utm_source=rss&utm_medium=rss&utm_campaign=it-was-mediocre-dario-bonetti-weighs-in-on-chipolopolos-afcon-showing
      title: "‘It was mediocre,’ Dario Bonetti weighs in on Chipolopolo’s AfCON showing"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-am-not-finished-sate-sate-promises-to-deliver-for-nkana/?utm_source=rss&utm_medium=rss&utm_campaign=i-am-not-finished-sate-sate-promises-to-deliver-for-nkana
      title: "‘I am not finished,’ Sate Sate promises to deliver for Nkana"
    - source: Mwebantu
      url: https://www.mwebantu.com/remember-the-name-kabange-mupopo-returns-to-copper-queens/?utm_source=rss&utm_medium=rss&utm_campaign=remember-the-name-kabange-mupopo-returns-to-copper-queens
      title: "Remember the name? Kabange Mupopo returns to Copper Queens"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/1400-youths-to-get-motorbikes/
      title: "1,400 Youths to Get Motorbikes"
    - source: Mwebantu
      url: https://www.mwebantu.com/court-refuses-to-dismiss-lucifer-of-zambia-case-against-upnd-sg/?utm_source=rss&utm_medium=rss&utm_campaign=court-refuses-to-dismiss-lucifer-of-zambia-case-against-upnd-sg
      title: "Court refuses to dismiss “Lucifer of Zambia” case against UPND SG"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/reptile-expect-calls-for-snake-anti-venom-stockpile/
      title: "Reptile expect calls for snake anti-venom stockpile"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/my-memory-is-fine-biden-hits-back-at-special-counsel/
      title: "‘My memory is fine’ – Biden hits back at special counsel"
    - source: Mwebantu
      url: https://www.mwebantu.com/solochis-boyfriend-granted-k35000-bail-after-pleading-not-guilty-to-shooting-in-the-air-at-nightclub/?utm_source=rss&utm_medium=rss&utm_campaign=solochis-boyfriend-granted-k35000-bail-after-pleading-not-guilty-to-shooting-in-the-air-at-nightclub
      title: "Solochi’s boyfriend granted K35,000 bail after pleading not guilty to shooting in the air at nightclub"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/get-involved-in-lobito-corridor-project/
      title: "“Get Involved in Lobito Corridor Project”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fodep-praises-ecz-over-voter-registration/
      title: "FODEP praises ECZ over voter registration"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/new-airport-to-be-built-in-solwezi/
      title: "New Airport to be built in Solwezi"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/futsal-coach-upbeat-ahead-of-clash-with-mozambique/
      title: "Futsal Coach upbeat ahead of Clash with Mozambique"
---
