---
title: "Friday, December 13th, 2024"
description: "This episode of the Zed News Podcast covers various news stories from Zambia, including sports achievements such as the Green Buffaloes Women's Volleyball Club's qualification for the semi-finals and the Young Chipolopolo's preparation for the COSAFA Cup final. The episode also touches on governance, public policy, and economic news, including a proposed property tax increase and a loan from the African Development Bank to boost economic governance."
tags: episode
episode: "372"
date: 2024-12-13T14:50:22.987003+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-12-13_podcast_dist.mp3
    length: 5 minutes, 1 second
    size: 4.62 MB
rss:
    enclosure_length: 4847338
    itunes_duration: 05:01
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 2 seconds
words:
    count: 717
    rate: 143 words per minute
references:
    count: 21
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/13/buffaloes-dominate-zone-6-volleyball-games-in-botswana/
      title: "Buffaloes dominate Zone-6 volleyball games in Botswana"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/13/we-challenge-lungu-to-reveal-his-plan-b-govt/
      title: "We challenge Lungu to reveal his Plan B – Govt"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/13/u17-boys-face-angola-in-cosafa-cup-final-as-girls-play-lesotho/
      title: "U17 boys face Angola in Cosafa Cup final, as girls play Lesotho"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135758
      title: "‘Zambia, France debt deal to unlock bottlenecks in economy’"
    - source: Mwebantu
      url: https://www.mwebantu.com/four-police-officers-are-implicated-in-an-alleged-gang-rape-of-an-18-year-old-female-suspect-at-luangwa-police-station/
      title: "Four police officers are implicated in an alleged gang rape of an 18-year-old female suspect at Luangwa Police Station"
    - source: Mwebantu
      url: https://www.mwebantu.com/its-time-for-gotvs-festive-open-windows-let-the-celebrations-begin-come-back-for-festive-fun-football-action-and-kids-adventures-that-bring-everyone-together/
      title: "It’s Time For GOtv’s Festive Open Windows – Let the Celebrations Begin! Come back for festive fun, football action, and kids’ adventures that bring everyone together."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135760
      title: "Casilli loses stadium!"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/12/13/indeed-upnd-has-failed-to-manage-the-fuel-sector/
      title: "Indeed, UPND has failed to manage the fuel sector"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135762
      title: "FAZ commits to football development"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/19359-2/
      title: "Copper Princesses are champions of 2024 COSAFA U17"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/13/ag-must-conduct-impromptu-audits-cof/
      title: "AG must conduct  impromptu audits – COF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/stakeholders-verify-ballots-at-ecz/
      title: "Stakeholders verify ballots at ECZ"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/13/afdb-grants-108m-loan-to-zambia/
      title: "AfDB grants $108m loan to Zambia"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/13/zambians-didnt-want-to-allow-a-president-rule-for-more-than-10yrs-hh/
      title: "Zambians didn’t want to allow a president to rule for more than 10yrs – HH"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/13/business-coalition-condemns-lccs-300-increase-in-property-tax/
      title: "Business Coalition condemns LCC’s 300% increase in property tax"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135756
      title: "Govt engages 41 contract farmers"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/13/patson-cheers-u17-boys-ahead-of-cosafa-cup-final/
      title: "Patson cheers U17 boys ahead of Cosafa Cup final"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/speaker-calls-for-special-sitting-on-tuesday/
      title: "Speaker Calls for Special Sitting on Tuesday"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-reaffirms-au-principles-of-public-service-and-administration/
      title: "Govt reaffirms AU Principles of Public Service and Administration"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/13/zambia-on-bye-for-round-one-of-wafcon-qualifiers/
      title: "Zambia on bye for round one of WAFCON qualifiers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kasune-asks-sadc-to-harmonize-laws-on-child-marriage/
      title: "Kasune asks SADC to harmonize laws on child marriage"
---
