---
title: "Tuesday, February 20th, 2024"
description: Three unidentified bodies were discovered in Chipokolo Village near Kasisi Mine in Chongwe, with one male and two female victims. The bodies were discovered meters apart in a maize field on Sunday, 18th February, 2024, and the case is currently under investigation by the police.

In today's episode of the Zed News Podcast, Ayanda discusses the discovery of three unidentified bodies in Chongwe, the warning from the Veterinary Association of Zambia about an underground market selling dog meat as goat meat, the completion of the Paul Ngozi storm drainage project in Kamwala South Health Post, the sentencing of former Inspector General of Police Charity Katanga to three years in prison for buying 10 buses using money deemed to be proceeds of crime, and the arrest of a woman for allegedly circulating a voice note accusing Copperbelt Province Minister Elisha Matambo of financial misconduct. Additionally, Ayanda touches on the death of an eight-year-old girl hit by a speeding Toyota Hilux, the discovery of three decomposed bodies in a farmer's maize field in Kasisi, Lusaka province, and the uncovering of a motor vehicle identity scam by the Zambia Revenue Authority.
tags: episode
episode: "184"
date: 2024-02-20T14:49:07.514682+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-02-20_podcast_dist.mp3
    length: 5 minutes, 19 seconds
    size: 4.90 MB
rss:
    enclosure_length: 5140120
    itunes_duration: 05:19
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 43 minutes, 49 seconds
words:
    count: 732
    rate: 138 words per minute
references:
    count: 20
    sources: 3
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chinyembe-out-to-make-history/
      title: "Chinyembe out to make History"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mulusa-engages-faz-over-solwezi-stadium-rehab-works/
      title: "Mulusa engages FAZ over Solwezi Stadium rehab Works"
    - source: MUVI Television
      url: https://www.muvitv.com/2024/02/consumption-of-dog-meat-worries-vaz/?utm_source=rss&utm_medium=rss&utm_campaign=consumption-of-dog-meat-worries-vaz
      title: "CONSUMPTION OF DOG MEAT WORRIES VAZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/revoke-forest-concession-licenses-violating-the-forests-act/
      title: "“Revoke forest concession licenses violating the Forests Act”"
    - source: Mwebantu
      url: https://www.mwebantu.com/charity-katanga-to-appeal-against-the-three-year-jail-term-which-left-her-relatives-weeping/?utm_source=rss&utm_medium=rss&utm_campaign=charity-katanga-to-appeal-against-the-three-year-jail-term-which-left-her-relatives-weeping
      title: "Charity Katanga to appeal against the three year jail term which left her relative’s weeping"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-woman-arrested-as-voice-note-alleging-theft-by-cb-minister-traced-to-her-phone/?utm_source=rss&utm_medium=rss&utm_campaign=lusaka-woman-arrested-as-voice-note-alleging-theft-by-cb-minister-traced-to-her-phone
      title: "Lusaka woman arrested as voice note alleging theft by CB minister traced to her phone."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/us-man-sues-lottery-after-being-told-340m-win-is-error/
      title: "US man sues lottery after being told $340m win is error"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kansanshi-mine-to-create-1800-jobs/
      title: "Kansanshi Mine to Create 1,800 Jobs"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mps-warned-against-misconduct/
      title: "MPs warned against misconduct"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambians-abroad-must-help-attract-fdi/
      title: "“Zambians abroad must help attract FDI”"
    - source: Mwebantu
      url: https://www.mwebantu.com/farmer-discovers-three-dead-bodies-while-carrying-out-routine-check-on-his-maize/?utm_source=rss&utm_medium=rss&utm_campaign=farmer-discovers-three-dead-bodies-while-carrying-out-routine-check-on-his-maize
      title: "Farmer discovers three dead bodies while carrying out routine check on his maize"
    - source: Mwebantu
      url: https://www.mwebantu.com/zra-uncovers-vehicle-identity-scam/?utm_source=rss&utm_medium=rss&utm_campaign=zra-uncovers-vehicle-identity-scam
      title: "ZRA uncovers vehicle identity scam"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/212-bags-of-gmo-mealie-meal-stolen/
      title: "212 bags of GMO mealie meal stolen"
    - source: MUVI Television
      url: https://www.muvitv.com/2024/02/3-bodies-found-in-chongwe-farm/?utm_source=rss&utm_medium=rss&utm_campaign=3-bodies-found-in-chongwe-farm
      title: "3 BODIES FOUND IN CHONGWE FARM"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/katanga-appeal-her-sentence/
      title: "Katanga Appeals Her Sentence"
    - source: Mwebantu
      url: https://www.mwebantu.com/eight-year-old-killed-by-speeding-vehicle-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=eight-year-old-killed-by-speeding-vehicle-police-say
      title: "Eight-year-old killed by speeding vehicle, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tambatamba-calls-for-human-capital-reserve/
      title: "Tambatamba calls for Human capital reserve"
    - source: MUVI Television
      url: https://www.muvitv.com/2024/02/councillor-simataa-elated-with-the-completion-of-paul-ngozi-storm-drainage/?utm_source=rss&utm_medium=rss&utm_campaign=councillor-simataa-elated-with-the-completion-of-paul-ngozi-storm-drainage
      title: "COUNCILLOR SIMATAA ELATED WITH THE COMPLETION OF PAUL NGOZI STORM DRAINAGE…"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/rda-seeks-consultant-for-katunda-lukulu-watopa-road/
      title: "RDA Seeks Consultant for Katunda -Lukulu- Watopa road"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ep-ready-to-host-ncwala/
      title: "EP Ready to Host Nc’wala"
---