---
title: "Wednesday, July 24th, 2024"
description: "In this episode, we cover notable stories from Zambia, including President Hichilema's agricultural initiative for traditional leaders, the under-17 women's national team preparing for the FIFA U-17 Women's World Cup, the launch of ModziPay by Zynle, and the Zambian athletics team's focus on relay events for the Paris Olympics. We also highlight the partnership between the Office of the Attorney General and Smart Zambia, the growing interest in yam cultivation, and the World Bank's commitment to supporting Zambia's economic stability."
tags: episode
episode: "270"
date: 2024-07-24T13:25:50.318125+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-07-24_podcast_dist.mp3
    length: 7 minutes, 16 seconds
    size: 6.69 MB
rss:
    enclosure_length: 7013202
    itunes_duration: 07:16
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 34 seconds
words:
    count: 999
    rate: 137 words per minute
references:
    count: 23
    sources: 5
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/24/4x400m-relay-team-admits-pressure-ahead-of-olympics/
      title: "4x400m relay team admits pressure ahead of Olympics"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/24/kanyemba-names-provisional-u17-womens-world-cup-squad/
      title: "Kanyemba names provisional U17 women’s World Cup Squad"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133682
      title: "‘Mwape’s work ethic admirable’"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/24/we-prioritise-approval-of-cdf-contracts-purchase-of-medicines-ag/
      title: "We prioritise approval of CDF contracts, purchase of medicines – AG"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133702
      title: "How policy interventions, cultural shifts can help in harnessing yam potential"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133690
      title: "World Bank assures Zambia of support"
    - source: Mwebantu
      url: https://www.mwebantu.com/k153-000-earned-through-side-hustle-lands-clinical-officer-in-court/
      title: "K153, 000 earned through ‘side hustle’ lands clinical officer in court"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133699
      title: "Winter maize production can boost Zambia’s food security"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133694
      title: "ZNFU notes increased investment in onion dryers"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/07/24/chiefs-can-help-ensure-national-food-security/?utm_source=rss&utm_medium=rss&utm_campaign=chiefs-can-help-ensure-national-food-security
      title: "Chiefs can help ensure national food security"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/24/hh-appoints-katuba-mp-as-central-province-minister/
      title: "HH appoints Katuba MP as Central Province Minister"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/24/its-not-time-to-relax-kambimbi-tells-arrows/
      title: "It’s not time to relax, Kambimbi tells Arrows"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/24/uka-presidents-ready-to-serve-under-each-other-sikota/
      title: "UKA presidents ready to serve under each other – Sikota"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/24/azadi-investment-wants-chitotelas-chongwe-house-sold-if-he-doesnt-pay-k6-5m/
      title: "Azadi Investment wants Chitotela’s Chongwe house sold if he doesn’t pay K6.5m"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133697
      title: "Networking key to job creation – HH"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133692
      title: "Construction of K8.2m Muyembe Dam in Luena farm bloc starts"
    - source: News Diggers!
      url: https://diggers.news/business/2024/07/24/govt-must-lift-ban-on-soya-cake-exports-cedora/
      title: "Govt must lift ban on soya cake exports – CEDORA"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133688
      title: "Athletes focused on Paris medal – Kalembo"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133685
      title: "‘We’ve a team that will deliver’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-exploring-possibility-of-importing-angolan-fuel/
      title: "Govt exploring possibility of importing Angolan fuel"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/24/govt-risks-losing-more-taxpayers-money-to-mikalile/
      title: "Govt risks losing more taxpayers’ money to Mikalile"
    - source: Mwebantu
      url: https://www.mwebantu.com/zynle-launches-modzipay-a-revolutionary-payment-platform/
      title: "Zynle Launches ModziPay: A Revolutionary Payment Platform"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133679
      title: "ACC insists: Muchemwa’s trucks should be forfeited"
---
