---
title: "Friday, March 15th, 2024"
description: "Zed News Podcast episode 202: Swimming coach Ian Stephenson praises swimmers' performances at the All Africa Games, FAZ warns against match-fixing in the MTN Super League, and Zambian chess players make a strong start at the Africa Individual Chess Championships. The government clarifies that a proposal to regulate social media broadcasting is still under consideration and has not been presented to Parliament or Cabinet."
tags: episode
episode: "202"
date: 2024-03-15T14:08:43.032392+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-15_podcast_dist.mp3
    length: 4 minutes, 30 seconds
    size: 4.15 MB
rss:
    enclosure_length: 4356442
    itunes_duration: 04:30
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 25 seconds
words:
    count: 626
    rate: 139 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/15/zambians-win-at-africa-individual-chess-championships/
      title: "Zambians win at Africa Individual Chess Championships"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/03/15/amos-chanda-wife-in-law-appeal-against-7-month-sentence/
      title: "Amos Chanda, wife, in-law appeal against 7-month sentence"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/15/develop-a-culture-of-paying-back-loans-hh/
      title: "Develop a culture of paying back loans – HH"
    - source: News Diggers!
      url: https://diggers.news/business/2024/03/15/smuggled-undervalued-goods-affect-local-product-pricing-trade-kings/
      title: "Smuggled, undervalued goods affect local product pricing – Trade Kings"
    - source: Mwebantu
      url: https://www.mwebantu.com/lungu-kingdom-of-northern-province-sues-zesco-for-defaming-and-evicting-their-senior-chief-from-palace/?utm_source=rss&utm_medium=rss&utm_campaign=lungu-kingdom-of-northern-province-sues-zesco-for-defaming-and-evicting-their-senior-chief-from-palace
      title: "Lungu kingdom of Northern Province sues Zesco for defaming and evicting their senior chief from palace."
    - source: Mwebantu
      url: https://www.mwebantu.com/more-legal-trouble-for-sedrick-kasanda/?utm_source=rss&utm_medium=rss&utm_campaign=more-legal-trouble-for-sedrick-kasanda
      title: "More legal trouble for Sedrick Kasanda"
    - source: Mwebantu
      url: https://www.mwebantu.com/amos-chanda-appeals-against-seven-month-jail-term-applies-for-bail/?utm_source=rss&utm_medium=rss&utm_campaign=amos-chanda-appeals-against-seven-month-jail-term-applies-for-bail
      title: "Amos Chanda appeals against seven month jail term, applies for bail"
    - source: Mwebantu
      url: https://www.mwebantu.com/zesco-to-lose-usd-35-million-per-month-due-to-load-management-energy-minister/?utm_source=rss&utm_medium=rss&utm_campaign=zesco-to-lose-usd-35-million-per-month-due-to-load-management-energy-minister
      title: "ZESCO to lose USD 35 million per month due to load management-Energy Minister"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mps-urged-to-support-2024-national-budget-realignment/
      title: "MPs urged to support 2024 national budget realignment"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/15/stephenson-hails-swimmers/
      title: "Stephenson hails swimmers"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/03/15/nakacinda-committed-to-high-court-for-trial-in-espionage-case/
      title: "Nakacinda committed to High Court for trial in espionage case"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/15/regulating-podcasts-still-just-a-proposal-mweetwa/
      title: "Regulating podcasts still just a proposal – Mweetwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cdf-allocation-to-be-increased-annually-hh/
      title: "CDF allocation to be increased annually – HH"
    - source: Mwebantu
      url: https://www.mwebantu.com/get-your-uniforms-locally-hh-urges-security-wings-ministry-of-health/?utm_source=rss&utm_medium=rss&utm_campaign=get-your-uniforms-locally-hh-urges-security-wings-ministry-of-health
      title: "‘Get your uniforms locally,’ HH urges Security wings, Ministry of health"
    - source: Mwebantu
      url: https://www.mwebantu.com/miles-sampa-offers-to-be-amos-chandas-surity/?utm_source=rss&utm_medium=rss&utm_campaign=miles-sampa-offers-to-be-amos-chandas-surity
      title: "Miles Sampa offers to be Amos Chanda’s Surity"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/15/by-oct-we-want-load-shedding-to-be-only-6-hours-kapala/
      title: "By Oct, we want load shedding to be only 6 hours – Kapala"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/15/faz-warns-against-match-fixing/
      title: "FAZ warns against match-fixing"
    - source: Mwebantu
      url: https://www.mwebantu.com/67000-divorces-in-two-years-worry-hh/?utm_source=rss&utm_medium=rss&utm_campaign=67000-divorces-in-two-years-worry-hh
      title: "67,000 divorces in two years worry HH"
    - source: Mwebantu
      url: https://www.mwebantu.com/illegal-abortion-facility-operator-nabbed-in-lusaka-following-public-tip-off/?utm_source=rss&utm_medium=rss&utm_campaign=illegal-abortion-facility-operator-nabbed-in-lusaka-following-public-tip-off
      title: "Illegal abortion facility operator nabbed in Lusaka following public tip-off."
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/03/15/kawana-mweetwa-are-not-speaking-the-same-language-on-podcast-regulation/
      title: "Kawana, Mweetwa are not speaking the same language on podcast regulation"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-have-made-progress-hh-tells-parley/?utm_source=rss&utm_medium=rss&utm_campaign=we-have-made-progress-hh-tells-parley
      title: "‘We have made progress,’ HH tells Parley"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/uka-is-comedy-of-errors-sean-tembo/
      title: "UKA is comedy of errors – SEAN TEMBO"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-ministries-urged-to-buy-local-products/
      title: "Govt ministries directed to buy local products"
---
