---
title: "Monday, May 6th, 2024"
description: "Zed News Podcast episode 238 covers various news stories from May 6th, 2024, including Sensio Banda's call for the UPND government to prioritize citizens' economic needs, the Kabwe Warriors' desire to win the Absa Cup, and the Zambian men's and women's 4x400m relay teams' performance at the Bahamas World Relay Championships. The episode also discusses the Socialist Party's growing popularity, Lumwana Radiant's intentions to challenge for the National Division One title, and the Catholic priest Fr Andrew Simpasa's call for Zambians to become problem solvers. Additionally, the episode touches on issues such as the National Health Insurance Management Authority's (NHIMA) challenges, the Zambia Medical Association's call for NHIMA's autonomy, and a lawsuit against UCZ leaders for illegally sharing church land."
tags: episode
episode: "238"
date: 2024-05-06T12:08:48.603457+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-05-06_podcast_dist.mp3
    length: 4 minutes, 36 seconds
    size: 4.25 MB
rss:
    enclosure_length: 4454659
    itunes_duration: 04:36
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 33 seconds
words:
    count: 621
    rate: 135 words per minute
references:
    count: 12
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/06/absa-cup-would-be-a-good-gift-to-kabwe-residents-chakatazya/
      title: "Absa Cup would be a good gift to Kabwe residents – Chakatazya"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/06/govt-shouldnt-prioritise-business-interests-over-citizens-sensio/
      title: "Govt shouldn’t prioritise business interests over citizens – Sensio"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/06/zambia-underwhelms-at-world-relays/
      title: "Zambia underwhelms at World Relays"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/05/06/nhima-is-a-blank-cheque-for-private-hospitals/
      title: "NHIMA is a blank cheque for private hospitals"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/06/i-pray-we-become-problem-solvers-not-fighters-fr-simpasa/
      title: "I pray we become problem solvers, not fighters – Fr Simpasa"
    - source: Mwebantu
      url: https://www.mwebantu.com/doctors-advocate-for-nhima-autonomy-and-healthcare-reform/
      title: "Doctors advocate for NHIMA autonomy and healthcare reform"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/06/u17-u20-handball-teams-start-ihf-title-chase/
      title: "U17, U20 handball teams start IHF title chase"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/06/we-need-accountants-in-constituencies-to-manage-cdf-zica/
      title: "We need accountants in constituencies to manage CDF – ZiCA"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/06/lumwana-eyes-division-one-title-after-securing-promotion/
      title: "Lumwana eyes Division One title after securing promotion"
    - source: Mwebantu
      url: https://www.mwebantu.com/ucz-leaders-implicated-in-illegal-church-land-sharing/
      title: "UCZ leaders implicated in ‘illegal’ church land sharing."
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/06/citizens-see-socialist-party-as-an-alternative-to-upnd-antonio/
      title: "Citizens see Socialist Party as an alternative to UPND – Antonio"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/06/upnd-has-focused-on-corruption-fight-neglecting-economy-dr-haabazoka/
      title: "UPND has focused on corruption fight, neglecting economy – Haabazoka"
---
