---
title: "Wednesday, February 7th, 2024"
description: This is the one hundred and seventy-fifth episode of the podcast.
tags: episode
episode: "175"
date: 2024-02-07T14:09:20.062167+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-02-07_podcast_dist.mp3
    length: 9 minutes, 6 seconds
    size: 8.37 MB
rss:
    enclosure_length: 8775947
    itunes_duration: 09:06
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 5 seconds
words:
    count: 1,244
    rate: 137 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/07/53-kamwala-traders-sue-lcc-for-demolishing-trading-stalls/
      title: "53 Kamwala traders sue LCC for demolishing trading stalls"
    - source: News Diggers!
      url: https://diggers.news/business/2024/02/07/theres-liquidity-in-the-economy-thats-why-kwacha-is-under-pressure-nkhoma/
      title: "There’s liquidity in the economy, that’s why Kwacha is under pressure – Nkhoma"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/07/schools-are-ready-to-reopen-on-feb-12-syakalima/
      title: "Schools are ready to reopen on Feb 12 – Syakalima"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/07/we-have-passionate-athletes-going-for-all-africa-games-mpondela/
      title: "We have passionate athletes going for All-Africa Games – Mpondela"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/02/07/life-is-precious-kambwili-shouldnt-play-around-with-his-life-like-that/
      title: "Life is precious, Kambwili shouldn’t play around with his life like that"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/07/we-had-fruitful-engagement-with-refs-who-boycotted-games-faz/
      title: "We had fruitful engagement with refs who boycotted games – FAZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-signs-500000-euros-mou-with-france/
      title: "Zambia signs 500,000 Euros MoU with France"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-construct-international-airport-at-kasaba-bay/
      title: "Govt. To Construct International Airport at Kasaba Bay"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/23000-youths-to-get-empowerment/
      title: "23,000 Youths to get empowerment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/private-investment-in-energy-is-the-solution-to-the-power-deficit/
      title: "“Private Investment in Energy is the solution to the Power deficit”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/afcon-2023-semi-final-on/
      title: "AFCON 2023 Semi-final On"
    - source: News Diggers!
      url: https://diggers.news/business/2024/02/07/we-want-to-make-kcm-a-world-class-mine-vedanta/
      title: "We want to make KCM a world class mine – Vedanta"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/07/sean-tembo-fails-to-take-plea-in-insulting-hh-case/
      title: "Sean Tembo fails to take plea in insulting HH case"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-makes-appointments-and-transfers-to-various-service-commissions-and-the-drug-enforcement-commission/?utm_source=rss&utm_medium=rss&utm_campaign=president-hichilema-makes-appointments-and-transfers-to-various-service-commissions-and-the-drug-enforcement-commission
      title: "President Hichilema makes appointments and transfers to various Service Commissions and The Drug Enforcement Commission"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/07/weve-put-5-0-win-over-tanzania-behind-u17-skipper/
      title: "We’ve put 5-0 win over Tanzania behind – U17 Skipper"
    - source: Mwebantu
      url: https://www.mwebantu.com/chinsali-man-arrest-for-incest/?utm_source=rss&utm_medium=rss&utm_campaign=chinsali-man-arrest-for-incest
      title: "Chinsali man arrest for incest"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/airport-corporation-records-2m-passengers/
      title: "Airport Corporation records 2m passengers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/donald-trumps-failed-immunity-appeal-is-still-a-win-for-his-delay-strategy/
      title: "Donald Trump’s failed immunity appeal is still a win for his delay strategy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/china-to-invest-1bn-in-tazara/
      title: "China to Invest $1bn in TAZARA"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/07/kalaba-justifies-joining-forces-with-lungu-after-calling-him-corrupt/
      title: "Kalaba justifies joining forces with Lungu after calling him corrupt"
    - source: Mwebantu
      url: https://www.mwebantu.com/zra-spearheads-digital-payment-revolution-99-percent-transactions-now-electronic/?utm_source=rss&utm_medium=rss&utm_campaign=zra-spearheads-digital-payment-revolution-99-percent-transactions-now-electronic
      title: "ZRA spearheads digital payment revolution, 99 percent transactions now electronic."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tattooed-kenyans-locked-out-in-youth-agency-recruitment/
      title: "Tattooed Kenyans locked out in youth agency recruitment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/meal-allowance-increased-to-k25/
      title: "Meal Allowance Increased to K25"
---
