---
title: "Monday, March 25th, 2024"
description: In this episode of Zed News Podcast, Ayanda discusses several news items including the US$400 million investment by IRH in Mopani Copper Mine, the potential formation of a political party by former Zambian High Commissioner Muhabi Lungu, and the ongoing load-shedding crisis in Zambia. The episode also touches on the alleged rape of a student at Copperbelt University and the death of Nollywood actor Amaechi Muonagor. Additionally, the US pledges to continue assisting Zambia in improving and protecting its health security, and UNICEF works to safeguard children from climate change challenges.
tags: episode
episode: "208"
date: 2024-03-25T14:08:20.681753+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-25_podcast_dist.mp3
    length: 36 seconds
    size: 593.93 KB
rss:
    enclosure_length: 608184
    itunes_duration: 00:36
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 1 second
words:
    count: 81
    rate: 135 words per minute
references:
    count: 25
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/things-would-have-been-worse-if-hh-was-not-in-charge-hamasaka/
      title: "Things would have been worse if HH was not in charge – Hamasaka"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/hh-will-never-use-gulfstream-lufuma-insists/
      title: "HH will never use Gulfstream, Lufuma insists"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/mufulira-man-dies-after-taking-poisonous-herbs/
      title: "Mufulira man dies after taking poisonous herbs"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/our-movement-will-have-experienced-people-who-know-how-to-govern-muhabi/
      title: "Our movement will have experienced people who know how to govern – Muhabi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/we-can-now-sleep-comfortably-knowing-uka-is-ecl-milupi/
      title: "We can now sleep comfortably knowing UKA is ECL – Milupi"
    - source: Mwebantu
      url: https://www.mwebantu.com/girl-13-defiled-by-her-15-year-old-boyfriend/?utm_source=rss&utm_medium=rss&utm_campaign=girl-13-defiled-by-her-15-year-old-boyfriend
      title: "Girl, 13 defiled by her 15 year old boyfriend"
    - source: Mwebantu
      url: https://www.mwebantu.com/female-student-allegedly-raped-after-night-out-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=female-student-allegedly-raped-after-night-out-police-say
      title: "Female student allegedly raped after night out, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/speed-up-mineral-exploration-chief-ndake/
      title: "Speed Up Mineral Exploration-Chief Ndake"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/usa-to-help-zambia-secure-the-health-sector/
      title: "USA to help Zambia secure the Health Sector"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/equity-partner-option-for-mopani-was-the-best/
      title: "“Equity Partner Option for Mopani was the best”"
    - source: Mwebantu
      url: https://www.mwebantu.com/gardener-found-with-case-to-answer-for-stealing-eagles-mealie-meal-in-shoprite/?utm_source=rss&utm_medium=rss&utm_campaign=gardener-found-with-case-to-answer-for-stealing-eagles-mealie-meal-in-shoprite
      title: "Gardener found with case to answer for stealing Eagles mealie meal in Shoprite."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/elite-ladies-to-appeal-to-fifa-over-mapepa-transfer/
      title: "Elite Ladies to appeal to FIFA over Mapepa Transfer"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/irh-will-put-400m-in-mopani-in-the-next-3-4-years-zccm-ih-board-chair/
      title: "IRH will put $400m in Mopani in the next 3, 4 yrs – ZCCM-IH Board Chair"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/pf-is-still-pf-were-not-all-joining-uka-chilangwa/
      title: "PF is still PF, we’re not all joining UKA – Chilangwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/makunka-dam-in-urgent-need-of-repair/
      title: "Makunka Dam in Urgent need of Repair"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/delay-to-appoint-foreign-affairs-minister-gives-credence-to-rumours-that-hh-wants-to-reappoint-kakubo-lifuka/
      title: "Delay to appoint Foreign Affairs Minister gives credence to rumours that HH wants to reappoint Kakubo – Lifuka"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/25/juldan-properties-threatens-legal-action-against-pf-over-k1-1m-rental-debt/
      title: "Juldan Properties threatens legal action against PF over K1.1m rental debt"
    - source: Mwebantu
      url: https://www.mwebantu.com/current-load-shedding-may-last-up-until-the-end-of-the-year-say-mapani/?utm_source=rss&utm_medium=rss&utm_campaign=current-load-shedding-may-last-up-until-the-end-of-the-year-say-mapani
      title: "Current load-shedding may last up until the end of the year, say Mapani"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-engage-private-firm-to-run-kanele-hills-fruit-processing-plant/
      title: "Govt To engage private firm to run Kanele Hills Fruit Processing plant"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/unicef-to-protect-children-from-climate-change-challenges/
      title: "UNICEF to protect Children from Climate Change challenges"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/veteran-nollywood-star-amaechi-muonagor-dies-at-62/
      title: "Veteran Nollywood star Amaechi Muonagor dies at 62"
    - source: News Diggers!
      url: https://diggers.news/business/2024/03/25/8-hrs-of-load-shedding-is-better-for-manufacturers-than-splitting-zam/
      title: "8 hrs of load-shedding is better for manufacturers than splitting – ZAM"
    - source: Mwebantu
      url: https://www.mwebantu.com/farmer-tells-court-he-wanted-to-sell-woman-with-albinism-at-k100-million/?utm_source=rss&utm_medium=rss&utm_campaign=farmer-tells-court-he-wanted-to-sell-woman-with-albinism-at-k100-million
      title: "Farmer tells court he wanted to sell woman with albinism at K100 million."
    - source: Mwebantu
      url: https://www.mwebantu.com/sean-tembo-sues-minister-of-education-for-hate-speech/?utm_source=rss&utm_medium=rss&utm_campaign=sean-tembo-sues-minister-of-education-for-hate-speech
      title: "Sean Tembo sues Minister of Education for hate speech"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-ranked-top-5-best-performing-african-leader/
      title: "HH ranked top 5 best performing African leader"
---