---
title: "Tuesday, April 16th, 2024"
description: " In the Zed News Podcast episode 224, Ayanda discusses various news items including Wynter Kabimba's criticism of President Hakainde Hichilema's economic policies, the Economics Association of Zambia's call for textbook economics application, and the Zambian delegation's participation in the IMF and World Bank Group Spring Meetings. Other topics include Red Arrows' challenge to win the MTN Super League and ABSA Cup, the Munali Suns' victory in the Zambia International Basketball Tournament, and the women's U17 team's preparation for the FIFA Women's World Cup qualifiers. Additionally, Patrick Chinyemba expresses confidence in winning the Sportsman of the Year award, and Jean Kapata faces questions about her involvement in the Mukula contemptuous issue. The episode also covers the PF's K13.5 million debt to Kalandanya Music Promotions and a Lusaka couple's murder trial for the death of a 14-year-old girl."
tags: episode
episode: "224"
date: 2024-04-16T12:10:18.300381+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-04-16_podcast_dist.mp3
    length: 3 minutes, 55 seconds
    size: 3.62 MB
rss:
    enclosure_length: 3798050
    itunes_duration: 03:55
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 9 seconds
words:
    count: 534
    rate: 136 words per minute
references:
    count: 12
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/16/zaf-boss-tells-arrows-to-win-league-absa-cup/
      title: "ZAF boss tells Arrows to win league, ABSA Cup"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/16/munali-suns-uz-sparks-clinch-k50000-prizes-at-basketball-tourney/
      title: "Munali Suns, UZ Sparks clinch K50,000 prizes at basketball tourney"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/16/kamanga-tips-u17-ahead-of-uganda-clash/
      title: "Kamanga tips U17 ahead of Uganda clash"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/04/16/inciting-zambians-to-make-noise-over-a-national-disaster/
      title: "Inciting Zambians to make noise over a national disaster"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/16/imf-wb-spring-meetings-important-for-zambias-transformation-journey-govt/
      title: "IMF, WB Spring Meetings important for Zambia’s transformation journey – Govt"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/16/hunger-cant-be-deferred-until-hh-fixes-economy-kabimba/
      title: "Hunger can’t be deferred until HH fixes economy – Kabimba"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/16/lets-move-away-from-text-book-economics-eaz-president-tips-economists/
      title: "Let’s move away from text book economics, EAZ president tips economists"
    - source: Mwebantu
      url: https://www.mwebantu.com/pf-ordered-to-pay-k13-5million-to-kalandanya-for-campaign-songs/
      title: "PF ordered to pay K13.5million to Kalandanya for campaign songs"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/16/i-deserve-sportsman-of-the-year-award-chinyemba/
      title: "I deserve Sportsman of the Year award – Chinyemba"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/04/16/verbatim-we-all-disobeyed-court-judgement-against-mukula-ban-kapata/
      title: "VERBATIM: We all disobeyed court judgement against Mukula ban – Kapata"
    - source: Mwebantu
      url: https://www.mwebantu.com/mum-tells-court-her-daughter14-was-beaten-day-before-she-died/
      title: "Mum tells court her daughter,14, was beaten day before she died"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/16/lets-change-currency-colour-so-that-pf-officials-can-release-hidden-stolen-money-mwaliteta/
      title: "Let’s change currency colour so that PF officials can release hidden stolen money – Mwaliteta"
---