---
title: "Wednesday, August 21st, 2024"
description: "This is episode 290 of the Zed News Podcast."
tags: episode
episode: "290"
date: 2024-08-21T14:39:04.646957+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-08-21_podcast_dist.mp3
    length: 4 minutes, 17 seconds
    size: 3.95 MB
rss:
    enclosure_length: 4143914
    itunes_duration: 04:17
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 51 seconds
words:
    count: 586
    rate: 137 words per minute
references:
    count: 19
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/21/upnd-not-willing-to-listen-to-opposition-mwamba/
      title: "UPND not willing to listen to opposition – Mwamba"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/21/immigration-increases-visa-permit-fees/
      title: "Immigration increases Visa, permit fees"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/21/sp-cant-win-elections-if-we-allow-indiscipline-expulsions-necessary-mmembe/
      title: "SP can’t win elections if we allow indiscipline, expulsions necessary – M’membe"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/21/well-work-hard-to-overturn-cl-defeat-arrows/
      title: "We’ll work hard to overturn CL defeat – Arrows"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134207
      title: "China pledges COMESA trade boost"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134204
      title: "Govt acts on harmful nshima!"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134200
      title: "Munir’s wild allegations irresponsible – Parley"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134197
      title: "Stakeholders toast UPND’s milestone achievements"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambias-mtn-super-league-becomes-the-first-african-football-league-to-use-market-leading-ai-camera-technology-for-the-2024-25-football-season-leading-to-more-matches-for-fans-to-enjoy/
      title: "Zambia’s MTN Super League becomes the first African football league to use market-leading AI camera technology for the 2024/25 football season, leading to more matches for fans to enjoy."
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/08/21/theres-been-connivance-among-those-in-power-to-allow-illegal-mining-for-their-benefit/
      title: "There’s been connivance among those in power to allow illegal mining for their benefit"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/21/i-arrested-changala-because-his-statements-incited-dissatisfaction-against-govt-witness/
      title: "I arrested Changala because his statements incited dissatisfaction against govt – Witness"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/21/i-got-scared-when-i-heard-pule-say-hhs-appointees-were-from-zambezi-region-witness/
      title: "I got scared when I heard Pule say HH’s appointees were from Zambezi region – Witness"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134209
      title: "‘There’s great economic benefits in mineral mapping’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134183
      title: "Debunking issues in the power sector"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134189
      title: "Veep reassures on quality, inclusive education for all"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/21/theres-no-illegal-mining-inside-sensele-miners-are-helping-retrieve-trapped-bodies-matambo/
      title: "There’s no illegal mining inside Sensele, miners are helping retrieve trapped bodies – Matambo"
    - source: Mwebantu
      url: https://www.mwebantu.com/zaca-calls-on-mealie-meal-and-dog-food-manufacturers-to-conduct-thorough-quality-checks-and-withdraw-any-suspicious-products-from-their-shelves/
      title: "ZACA calls on mealie meal and dog food manufacturers to conduct thorough quality checks and withdraw any suspicious products from their shelves."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134193
      title: "Long wait over! KCM handover thrills Copperbelt"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134186
      title: "Impact of Monetary Policy Rate on open market operations"
---
