---
title: "Thursday, September 5th, 2024"
description: "This episode of the Zed News Podcast covers a range of topics, including the declaration of the United Kwacha Alliance as an illegal entity in Zambia, the decision of the Socialist Party not to expel former deputy general secretary Antonio Mwanza, and the arrest of a gym instructor for allegedly beating his wife to death. In sports, Chipolopolo coach Avram Grant discusses their qualifying campaign opener against Ivory Coast, while Muzala Samukonga defends himself against accusations of abandoning Zambia. The episode also covers legal updates, including Bowman Lusambo challenging the jurisdiction of the Economic and Financial Crimes Court and FAZ president Andrew Kamanga suing Minister Elvis Nkandu and former general secretary Adrian Kashala for defamation."
tags: episode
episode: "301"
date: 2024-09-05T14:37:34.518330+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-09-05_podcast_dist.mp3
    length: 3 minutes, 33 seconds
    size: 3.29 MB
rss:
    enclosure_length: 3446759
    itunes_duration: 03:33
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 2 minutes, 22 seconds
words:
    count: 505
    rate: 142 words per minute
references:
    count: 13
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/05/nakacinda-has-turned-his-mouth-into-his-own-enemy-gary/
      title: "Nakacinda has turned his mouth into his own enemy – Gary"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/05/uka-is-an-illegal-entity-it-doesnt-exist-under-the-law-akafumba/
      title: "UKA is an illegal entity, it doesn’t exist under the law – Akafumba"
    - source: Mwebantu
      url: https://www.mwebantu.com/bowman-lusambo-tells-court-time-for-hearing-his-case-has-expired/
      title: "Bowman Lusambo tells court time for hearing his case has expired"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/05/muzala-explains-use-of-adidas-logo-at-diamond-leagues/
      title: "Muzala explains use of Adidas logo at Diamond Leagues"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/05/arrows-host-buffaloes-in-military-derby/
      title: "Arrows host Buffaloes in military derby"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/05/stakeholders-condemn-kbfs-challenge-for-women-to-have-more-babies/
      title: "Stakeholders condemn KBF’s challenge for women to have more babies"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/09/05/kamanga-sues-kashala-nkandu-for-malicious-falsehood/
      title: "Kamanga sues Kashala, Nkandu for malicious falsehood"
    - source: Mwebantu
      url: https://www.mwebantu.com/faz-president-sues-minister-of-sport-ex-faz-general-secretary/
      title: "FAZ president sues Minister of Sport, ex FAZ general secretary."
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/05/sp-resignations-not-orchestrated-by-antonio-musumali/
      title: "SP resignations not orchestrated by Antonio – Musumali"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/09/05/whats-upnds-position-on-the-nuclear-energy-agenda-which-pf-left-in-place/
      title: "What’s UPND’s position on the nuclear energy agenda which PF left in place"
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/05/milupi-distances-himself-from-mutembos-departure-from-rda/
      title: "Milupi distances himself from Mutembo’s departure from RDA"
    - source: Mwebantu
      url: https://www.mwebantu.com/it-will-be-a-big-challenge-avram-grant-says/
      title: "‘It will be a big challenge,’ Avram Grant says."
    - source: Mwebantu
      url: https://www.mwebantu.com/luanshya-hubby-allegedly-beats-wife-to-death-after-finding-her-with-another-man-in-a-toilet/
      title: "Luanshya hubby allegedly beats wife to death after finding her with another man in a toilet"
---
