---
title: "Monday, July 15th, 2024"
description: "This is episode 263 of the Zed News Podcast."
tags: episode
episode: "263"
date: 2024-07-15T16:55:21.242968+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-07-15_podcast_dist.mp3
    length: 5 minutes, 53 seconds
    size: 5.43 MB
rss:
    enclosure_length: 5692239
    itunes_duration: 05:53
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 9 seconds
words:
    count: 806
    rate: 137 words per minute
references:
    count: 23
    sources: 4
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133516
      title: "Chabinga lauds UPND’s policies"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133503
      title: "HH condemns Trump shooting"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133506
      title: "I’m the only PF leader – Miles"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/15/were-working-silently-on-cases-flagged-by-fic-acc/
      title: "We’re working silently on cases flagged by FIC – ACC"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/15/we-never-exported-maize-during-my-time-as-agriculture-minister-katambo/
      title: "We never exported maize during my time as agriculture minister – Katambo"
    - source: Mwebantu
      url: https://www.mwebantu.com/kabwe-residents-loot-maize-at-accident-scene/
      title: "Kabwe residents loot maize at accident scene"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/15/exploring-nuclear-energy-is-zambia-ready-for-nuclear-power-part-2/
      title: "Exploring Nuclear Energy: Is Zambia Ready for Nuclear Power? – Part 2"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/15/the-concourt-must-learn-from-its-mistakes-protect-the-integrity-of-the-judiciary-part-1/
      title: "The ConCourt must learn from its mistakes, protect the integrity of the Judiciary: Part 1"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/15/police-arrest-55-yr-old-man-for-faking-abduction-hiding-at-a-lodge-with-lover/
      title: "Police arrest 55-yr-old man for faking abduction, hiding at a lodge with lover"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/15/ministry-of-education-lands-are-most-complained-about-institutions-public-protector/
      title: "Ministry of Education, Lands are most complained about institutions – Public Protector"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/investrust-bank-plc-listing-terminated/
      title: "Investrust Bank Plc listing terminated"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/15/its-difficult-to-be-an-effective-mp-theres-no-democracy-in-parley-mundubile/
      title: "It’s difficult to be an effective MP, there’s no democracy in Parley – Mundubile"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133522
      title: "Connec Quarry security guard shoots, wounds worker"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133519
      title: "Govt to complete all water projects – Nzovu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chasefu-farmers-to-sell-96000-bags-of-maize-to-fra/
      title: "Chasefu farmers to sell 96,000 bags of maize to FRA"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/15/citizens-should-demonstrate-on-things-that-are-justifiably-reasonable-govt/
      title: "Citizens should demonstrate on things that are justifiably reasonable – Govt"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133525
      title: "Pension assets stand at K16bn"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-set-to-sign-concession-for-kasempa-kaoma-road/
      title: "Govt set to sign concession for Kasempa-Kaoma road"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/15/mps-bemoan-low-funding-of-smart-zambia/
      title: "MPs bemoan low funding of Smart Zambia"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133527
      title: "Jiangxi starts copper cables production"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133513
      title: "Milupi commissions Kasombo, Malolwa bridges"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133510
      title: "Gwembe man (50) fakes abduction"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/withhold-passports-for-people-facing-criminal-charges/
      title: "“Withhold passports for people facing Criminal charges”"
---