---
title: "Thursday, November 7th, 2024"
description: "Today's episode of the Zed News Podcast covers a range of stories from Zambia and beyond, including a warning from the Zambia Police Service against sharing explicit videos, Avram Grant's defense of his coaching capabilities, and updates on the economy, sports, and legal news. The episode also touches on topics such as fuel stocks, the kwacha's stability, and developments in the creative sector."
tags: episode
episode: "346"
date: 2024-11-07T14:49:59.719824+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-11-07_podcast_dist.mp3
    length: 5 minutes, 51 seconds
    size: 5.38 MB
rss:
    enclosure_length: 5646477
    itunes_duration: 05:51
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 43 seconds
words:
    count: 829
    rate: 142 words per minute
references:
    count: 27
    sources: 4
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135472
      title: "More power! …as Zesco reduces load-shedding time"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/07/court-finds-munir-with-case-to-answer-in-hate-speech-case/
      title: "Court finds Munir with case to answer in hate speech case"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/07/gbm-has-been-evacuated-to-maina-soko-his-feet-are-swollen-lawyer/
      title: "GBM has been evacuated to Maina Soko, his feet are swollen – Lawyer"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/07/miracle-advances-as-ndlovu-takes-loss-at-immaf-tourney/
      title: "Miracle advances as Ndlovu takes loss at IMMAF tourney"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135486
      title: "Treasury targets K1bn non-tax revenue"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135481
      title: "India pledges 2,500 tonnes drought relief maize"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135479
      title: "Bowman goes in for 2 years"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135476
      title: "HH toasts Trump victory"
    - source: Mwebantu
      url: https://www.mwebantu.com/stardy-mwales-sick-note-questioned/
      title: "Stardy Mwale’s sick note questioned."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/focus-on-solving-football-problems-not-financial-gain/
      title: "“Focus on solving football problems not financial gain”"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/07/police-warn-against-sharing-sex-videos-of-equatorial-guinea-official/
      title: "Police warn against sharing sex videos of Equatorial Guinea official"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ngoma-awards-set-for-december-112024/
      title: "Ngoma Awards set for December 11,2024"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/07/only-10-fuel-sites-out-of-617-dont-have-both-petrol-diesel-erb/
      title: "Only 19 fuel sites out of 617 don’t have both petrol, diesel – ERB"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/11/07/a-weak-but-stable-kwacha-will-be-better/
      title: "A weak but stable Kwacha will be better"
    - source: Mwebantu
      url: https://www.mwebantu.com/munir-zulu-found-with-case-to-answer-for-comparing-intelligence-between-bweengwa-and-lumezi-people/
      title: "Munir Zulu found with case to answer for comparing intelligence between Bweengwa and Lumezi people."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/07/sports-sector-needs-more-funding-chileshe/
      title: "Sports sector needs more funding – Chileshe"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135474
      title: "Germany hails Zambia’s governance record"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/tanzanias-deputy-solicitor-general-in-zambia/
      title: "Tanzania’s Deputy Solicitor General in Zambia"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/07/kateka-wonders-whether-chitalu-is-trying-to-impress-hh/
      title: "Kateka wonders whether Chitalu is trying to impress HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zctu-partners-with-chinese-trade-union/
      title: "ZCTU partners with Chinese trade union"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135488
      title: "USAID hails New Dawn’s economic path"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135483
      title: "Fuel stocks remain stable – ERB"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-calls-for-quality-and-timely-delivery-of-developmental-projects/
      title: "HH calls for quality and timely delivery of developmental projects"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/07/dont-judge-me-by-age-grant/
      title: "Don’t judge me by age – Grant"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/07/its-important-to-have-stable-kwacha-even-at-k26-tcz/
      title: "It’s important to have stable kwacha, even at K26 – TCZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-to-audit-cdf/
      title: "Govt to audit CDF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/police-refute-false-claims-of-officers-at-tonse-alliance-launch/
      title: "Police refute false claims of officers at Tonse Alliance launch"
---
