---
title: "Friday, November 29th, 2024"
description: "This episode of the Zed News Podcast covers a range of topics, including corporate news, sports, governance, and entrepreneurship, featuring stories on new appointments, online abuse, legal battles, and national team rankings. The episode also touches on economic development, political news, education, and technology, as well as personal tributes and awards in the sports and arts sectors."
tags: episode
episode: "362"
date: 2024-11-29T14:49:22.022213+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-11-29_podcast_dist.mp3
    length: 5 minutes, 42 seconds
    size: 5.26 MB
rss:
    enclosure_length: 5515655
    itunes_duration: 05:42
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 1 second
words:
    count: 819
    rate: 144 words per minute
references:
    count: 15
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/29/ncz-to-set-up-144000mt-fertiliser-plant/
      title: "NCZ to set up 144,000MT fertiliser plant"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-multichoice-talent-factory-academy-graduates-its-100th-student/
      title: "Lusaka MultiChoice Talent Factory Academy graduates its 100th student"
    - source: Mwebantu
      url: https://www.mwebantu.com/mutati-launches-the-new-e-mark-innovation-hub/
      title: "Mutati Launches the new E-MARK Innovation Hub"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/29/zambia-climbs-7-places-on-fifa-rankings/
      title: "Zambia climbs 7 places on FIFA rankings"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/29/pride-supports-barbra-amid-online-abuse/
      title: "Pride supports Barbra amid online abuse"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/29/idc-appoints-chilengi-as-zccm-ih-non-executive-director/
      title: "IDC appoints Chilengi as ZCCM-IH non-executive director"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/29/magic-suffers-heavy-defeat-in-elite-16-opener/
      title: "Magic suffers heavy defeat in Elite 16 opener"
    - source: Mwebantu
      url: https://www.mwebantu.com/gospel-musician-bj-ngosa-remembers-late-wife-and-son-with-gods-comfort/
      title: "Gospel musician BJ Ngosa remembers late wife and son with God’s comfort."
    - source: Mwebantu
      url: https://www.mwebantu.com/speaker-tells-ecz-petauke-central-seat-is-vacant-as-by-election-impends/
      title: "Speaker tells ECZ Petauke Central seat is vacant, as by-election impends."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/29/forests-poor-run-continues/
      title: "Forest’s poor run continues"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/29/its-unrealistic-to-expect-chipolopolo-to-lift-2025-afcon-mweetwa/
      title: "It’s unrealistic to expect Chipolopolo to lift 2025 AfCON – Mweetwa"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/29/army-recruits-sue-commander-after-dismissal/
      title: "Army recruits sue Commander after dismissal"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/11/29/a-dead-talkative-opposition-with-no-plan-part-2/
      title: "A dead, talkative opposition with no plan: Part 2"
    - source: Mwebantu
      url: https://www.mwebantu.com/barbra-nominated-for-fifa-best-award/
      title: "Barbra nominated for FIFA Best Award"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/29/case-proceedings-irregular-illegal-as-state-did-not-file-charge-lusambo-tells-court/
      title: "Case proceedings irregular, illegal as state did not file charge, Lusambo tells court"
---
