---
title: "Tuesday, July 16th, 2024"
description: "A 28-year-old man was fatally crushed by a concrete mixer in Lusaka, while Harry Findlay, a businessman, has been found with a case to answer for holding more than one passport and possessing forged immigration stamps. Meanwhile, Africa's richest man, Aliko Dangote, revealed that he does not own a home outside Nigeria. The Electoral Commission of Zambia registered 8,012 voters in June 2024, and the 2024 ABSA Marathon has attracted 100 elite athletes."
tags: episode
episode: "264"
date: 2024-07-16T16:56:24.622938+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-07-16_podcast_dist.mp3
    length: 7 minutes, 34 seconds
    size: 6.96 MB
rss:
    enclosure_length: 7299293
    itunes_duration: 07:34
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 11 seconds
words:
    count: 1,050
    rate: 139 words per minute
references:
    count: 34
    sources: 4
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ecz-to-implement-continuous-voter-registration-for-inmates/
      title: "ECZ to implement Continuous Voter Registration for inmates"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133530
      title: "Police raid ‘Mukanda’"
    - source: News Diggers!
      url: https://diggers.news/business/2024/07/16/govt-must-clarify-need-for-new-corporation-when-it-has-zccm-ih-ctpd/
      title: "Govt must clarify need for new corporation when it has ZCCM-IH – CTPD"
    - source: News Diggers!
      url: https://diggers.news/business/2024/07/16/luse-delists-investrust-bank/
      title: "LuSE delists Investrust Bank"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/16/chikotesha-to-officiate-at-olympics/
      title: "Chikotesha to officiate at Olympics"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/16/aim-for-group-stages-faz-urges-caf-envoys/
      title: "Aim for group stages, FAZ urges CAF envoys"
    - source: Mwebantu
      url: https://www.mwebantu.com/worker-crushed-to-death-by-concrete-mixer-after-power-was-restored-police-say/
      title: "Worker crushed to death by concrete mixer after power was restored, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/proud-moment-for-grace-chanda/
      title: "Proud Moment for Grace Chanda"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133552
      title: "Investrust’s LuSE listing terminated"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133543
      title: "ILO boss hails ZCTU over labour rights"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133541
      title: "Findlay in ‘soup’ over passports"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133550
      title: "Defiant UNZA dons protest"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133547
      title: "France to send climate change experts"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/k100m-needed-for-world-skills-africa-conference/
      title: "K100m needed for World Skills Africa Conference"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ecz-registers-8012-voters-in-june/
      title: "ECZ registers 8,012 voters in June"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/musukuma-returns-to-zesco/
      title: "Musukuma returns to ZESCO"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/16/people-celebrate-when-govt-struggles-laments-jito/
      title: "People celebrate when govt struggles, laments Jito"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/16/mushala-actor-apologised-to-woman-after-assaulting-her-witness-tells-court/
      title: "Mushala actor apologised to woman after assaulting her, witness tells court"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/16/the-concourt-must-learn-from-its-mistakes-protect-the-integrity-of-the-judiciary-part-2/
      title: "The ConCourt must learn from its mistakes, protect the integrity of the Judiciary: Part 2"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/16/gbm-is-scheduled-to-see-a-cardiologist-lawyers-tell-court/
      title: "GBM is scheduled to see a cardiologist, lawyers tell court"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/16/court-finds-findlay-with-case-to-answer/
      title: "Court finds Findlay with case to answer"
    - source: Mwebantu
      url: https://www.mwebantu.com/victorias-secret-revealed-in-court/
      title: "“Victoria’s secret” revealed in court"
    - source: Mwebantu
      url: https://www.mwebantu.com/visionary-entrepreneur-tryness-ntilima-redefines-beauty-standards-with-tryness-beauty-hub/
      title: "Visionary entrepreneur Tryness Ntilima redefines beauty standards with Tryness Beauty Hub."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133538
      title: "2 KCM subsidiaries to hand back properties, licences"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133533
      title: "Govt assures on investment partnerships"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/africas-richest-man-says-he-doesnt-own-a-home-outside-nigeria/
      title: "Africa’s richest man says he doesn’t own a home outside Nigeria"
    - source: Mwebantu
      url: https://www.mwebantu.com/9-mps-now-sue-miles-sampa/
      title: "9 MPs now sue Miles Sampa"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-rescue-abducted-pastor-in-lusaka-arrest-two-suspects-including-a-woman/
      title: "Police rescue abducted pastor in Lusaka, arrest two suspects including a woman"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/16/lsk-man-crushed-in-block-mixing-machine/
      title: "Lsk man crushed in block mixing machine"
    - source: Mwebantu
      url: https://www.mwebantu.com/smart-driver-of-may-the-1xbet-super-prize-winner-is-a-woman/
      title: "Smart Driver of May: the 1xBet super prize winner is a woman"
    - source: Mwebantu
      url: https://www.mwebantu.com/findlay-has-a-case-to-answer-for-his-passports/
      title: "Findlay has a case to answer for his passports."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/african-needs-to-push-for-the-early-childhood-education/
      title: "“African Needs to push for the early childhood education”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/absa-marathon-attracts-100-elite-athletes/
      title: "ABSA marathon attracts 100 elite Athletes"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/napsa-to-invest-200m-in-maamba-collieries-expansion-project/
      title: "NAPSA to invest $200m in Maamba Collieries expansion project"
---
