---
title: "Tuesday, November 19th, 2024"
description: "Today's episode of the Zed News Podcast covers a range of topics, including Zambia's U20 Women's National Team's preparation for the COSAFA U20 Women's Championship, the government's new policy to address teacher overstaffing, and ZESCO Limited's progress in reducing its debt. Additionally, the episode touches on economic matters, governance, and local government issues, as well as sports updates and international news."
tags: episode
episode: "354"
date: 2024-11-19T14:48:46.034821+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-11-19_podcast_dist.mp3
    length: 4 minutes, 47 seconds
    size: 4.42 MB
rss:
    enclosure_length: 4635434
    itunes_duration: 04:47
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 30 seconds
words:
    count: 680
    rate: 142 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135587
      title: "‘Now win AFCON group!’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135577
      title: "Tech space driving innovation – HH"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135584
      title: "Musokotwane names nine-member ZAMSTATS board"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135579
      title: "‘Diffikoti’ ditches UKA, cites lack of vision"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/19/we-aim-to-clear-our-debt-by-2nd-half-of-2026-zesco/
      title: "We aim to clear our debt by 2nd half of 2026 – Zesco"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/19/end-afcon-qualifiers-on-high-note-faz-tips-chipolopolo/
      title: "End AFCON qualifiers on high note, FAZ tips Chipolopolo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/19/ive-grown-my-business-from-selling-fritters-to-having-several-properties-mwamba/
      title: "I’ve grown my business from selling fritters to having several properties – Mwamba"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/19/u20-womens-team-ready-for-cosafa-tourney-coach/
      title: "U20 women’s team ready for Cosafa tourney –  Coach"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/19/kawana-confers-with-mwamba-over-coffee/
      title: "Kawana confers with Mwamba over coffee"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/19/people-holding-on-to-money-because-currency-flow-is-slow-hambayi/
      title: "People holding on to money because currency flow is slow – Hambayi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/19/livingstone-woman-killed-by-elephant-after-drinking-spree/
      title: "Livingstone woman killed by elephant after drinking spree"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/levies-key-to-local-councils-nkombo/
      title: "Levies key to Local Councils – NKOMBO"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/11/19/working-twice-a-week-getting-full-salary-an-indictment-on-moe-and-teaching-service-commission/
      title: "Working twice a week, getting full salary, an indictment on MoE and Teaching Service Commission"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chipolopolo-coach-eyes-victory/
      title: "Chipolopolo Coach eyes victory"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/19/weve-a-policy-of-redistributing-teachers-from-overstaffed-schools-govt/
      title: "We’ve a policy of redistributing teachers from overstaffed schools – Govt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/erb-assures-nation-of-stable-fuel-supply-2/
      title: "ERB assures nation of stable fuel supply"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mali-wins-160m-in-gold-mining-dispute-after-detaining-british-businessman/
      title: "Mali wins $160m in gold mining dispute after detaining British businessman"
---
