---
title: "Monday, July 22nd, 2024"
description: "This is episode 268 of the Zed News Podcast."
tags: episode
episode: "268"
date: 2024-07-22T16:47:21.297623+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-07-22_podcast_dist.mp3
    length: 5 minutes, 26 seconds
    size: 5.01 MB
rss:
    enclosure_length: 5248575
    itunes_duration: 05:26
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 12 seconds
words:
    count: 775
    rate: 143 words per minute
references:
    count: 19
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/22/international-tax-frameworks-and-their-impact-on-zambias-domestic-resource-mobilisation-part-1/
      title: "International tax frameworks and their impact on Zambia’s domestic resource mobilisation – Part 1"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133633
      title: "UNZA don hails HH’s graft fight"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/22/hhs-tone-on-corruption-fight-has-changed-notes-mundubile/
      title: "HH’s tone on corruption fight has changed, notes Mundubile"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-officer-accused-of-stealing-government-ak47/
      title: "Police officer accused of stealing Government AK47."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133635
      title: "‘Recovered funds being used prudently’"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/22/ag-justifies-payment-of-33m-for-construction-of-ftj-university/
      title: "AG justifies payment of $33m for construction of FTJ University"
    - source: Mwebantu
      url: https://www.mwebantu.com/miles-chabinga-both-claim-pf-presidency-in-court/
      title: "Miles, Chabinga both claim PF presidency in court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/barbra-banda-among-top-10-players/
      title: "BARBRA BANDA among top 10 players"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/22/release-report-on-2022-national-forest-indaba-unsustainable-charcoal-production-and-encroachments/
      title: "Release Report on 2022 National Forest Indaba: “unsustainable Charcoal Production and encroachments”"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/22/arrows-beat-apr-to-claim-cecafa-crown/
      title: "Arrows beat APR to claim CECAFA Crown"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133628
      title: "Masebo moved!"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/tribalism-a-thing-of-the-past-nkombo/
      title: "Tribalism, a thing of the past – NKOMBO"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/22/rugby-family-mourns-after-player-collapses-on-field/
      title: "Rugby family mourns after player collapses on field"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133638
      title: "Economic progress achieved – Musokotwane"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133631
      title: "$15bn for East, Southern Africa’s clean energy"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/22/ztta-applauds-u-19-team-for-scooping-bronze-in-botswana/
      title: "ZTTA applauds U-19 team for scooping bronze in Botswana"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/22/dissolving-acc-board-was-like-throwing-the-baby-with-bath-water/
      title: "Dissolving ACC board was like throwing the baby with bath water"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/22/we-hope-dissolution-of-acc-board-will-sanitise-corruption-fight-tiz/
      title: "We hope dissolution of ACC board will sanitise corruption fight – TIZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/elephants-destroy-gardens-and-houses-in-chipangali/
      title: "Elephants destroy gardens and houses in Chipangali"
---
