---
title: "Thursday, February 29th, 2024"
description: 
Title: Zed News Podcast episode 191
Date: Thursday, February 29th, 2024
Host: Ayanda

Summary:

In today's episode, Ayanda discusses various news items, including the ECZ urging police officers to be diligent in by-elections, the Sports Council of Zambia urging sports associations to pay affiliation fees, Barbra Banda's heroics securing Zambia's advancement in the Olympic qualifiers, and the National Assembly endorsing Miles Sampa for the candidacy of president of the Pan African Parliament. Additionally, the episode covers Edgar Lungu's potential confrontation with state police, Tasila Lungu's opposition to the state's application to forfeit her Sinda farm, and Nchimunya Mweetwa's advice to athletes regarding unethical vices and doping.


tags: episode
episode: "191"
date: 2024-02-29T14:15:55.119491+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-02-29_podcast_dist.mp3
    length: 5 minutes, 49 seconds
    size: 5.36 MB
rss:
    enclosure_length: 5620356
    itunes_duration: 05:49
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 10 minutes, 33 seconds
words:
    count: 784
    rate: 135 words per minute
references:
    count: 25
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/29/ecz-urges-cops-to-be-diligent-in-by-elections/?utm_source=rss&utm_medium=rss&utm_campaign=ecz-urges-cops-to-be-diligent-in-by-elections
      title: "ECZ urges cops to be diligent in by-elections"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/29/scz-urges-sports-associations-to-pay-affiliation-fees/
      title: "SCZ urges sports associations to pay affiliation fees"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/29/barbra-sends-ghana-packing-sets-up-morocco-date-in-olympic-qualifiers/
      title: "Barbra sends Ghana packing, sets up Morocco date in Olympic qualifiers"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/02/29/lungu-doesnt-want-peace-he-wants-problems-always/
      title: "Lungu doesn’t want peace, he wants problems, always"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/29/national-assembly-endorses-miles-for-pan-african-parliament-presidency/
      title: "National Assembly endorses Miles for Pan African Parliament presidency"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/29/i-bought-sinda-farm-at-k300000-its-not-worth-over-k13m-tasila-tells-court/
      title: "I bought Sinda Farm at K300,000, it’s not worth over K13m, Tasila tells court"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/29/imf-programme-will-fail-if-we-dont-reform-agriculture-sector-nkulukusa/
      title: "Debt restructuring will fail if we don’t reform agriculture sector, warns Nkulukusa"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/29/guard-against-unethical-vices-mweetwa-tips-ghana-bound-athletes/
      title: "Guard against unethical vices, Mweetwa tips Ghana bound athletes"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/11m-malaria-cases-recorded-in-2023/
      title: "11m Malaria Cases recorded in 2023"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-equip-youths-with-skills-ahead-of-24hr-economy/
      title: "Govt to Equip Youths with Skills ahead of 24hr Economy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/caritas-calls-for-plan-to-counter-drought/
      title: "Caritas calls for plan to counter drought"
    - source: Mwebantu
      url: https://www.mwebantu.com/acc-nab-senior-accountant-businessman/?utm_source=rss&utm_medium=rss&utm_campaign=acc-nab-senior-accountant-businessman
      title: "ACC nab senior accountant, businessman"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kamanga-salutes-copper-queens-2/
      title: "Kamanga Salutes Copper Queens"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/29/ill-heed-antonios-advice-on-separating-my-party-govt-portfolios-mweetwa/
      title: "I’ll heed Antonio’s advice on separating my party, govt portfolios – Mweetwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/eat-other-carbohydrate-not-just-nshima-nutrition-association/
      title: "Eat other carbohydrates not just Nshima-Nutrition Association"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-congratulates-copper-queens/
      title: "HH Congratulates Copper Queens"
    - source: Mwebantu
      url: https://www.mwebantu.com/assualt-accused-army-officers-wife-now-claims-bed-sores-caused-the-wounds-on-her-son/?utm_source=rss&utm_medium=rss&utm_campaign=assualt-accused-army-officers-wife-now-claims-bed-sores-caused-the-wounds-on-her-son
      title: "Assualt accused Army officer’s wife now claims bed sores caused the wounds on her son"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/adhere-to-minimum-wage-regulations-labour-commissioner/
      title: "Adhere to minimum wage regulations-Labour Commissioner"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-to-address-the-nation/
      title: "HH to address the Nation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-calls-for-support-in-making-zambia-a-transport-hub/
      title: "Govt calls for support in Making Zambia a Transport hub"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/alcohol-abuse-on-the-rise-in-livingstone/
      title: "Alcohol abuse on the rise in Livingstone"
    - source: Mwebantu
      url: https://www.mwebantu.com/sakwiba-lied-about-uka-finger-print-procession-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=sakwiba-lied-about-uka-finger-print-procession-police-say
      title: "Sakwiba lied about UKA finger print procession, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/security-tightened-as-licensure-examinations-start/
      title: "Security tightened as Licensure Examinations start"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/29/hh-to-address-nation-on-el-nino-weather/
      title: "HH to address nation on El Nino weather"
    - source: Mwebantu
      url: https://www.mwebantu.com/its-not-necessary-to-react-to-fans-bruce-mwape-parries-criticism/?utm_source=rss&utm_medium=rss&utm_campaign=its-not-necessary-to-react-to-fans-bruce-mwape-parries-criticism
      title: "‘It’s not necessary to react to fans,’ Bruce Mwape parries criticism"
---