---
title: "Friday, March 1st, 2024"
description: In this episode of the Zed News Podcast, Ayanda discusses the upcoming Manchester City vs. Manchester United match, former President Edgar Lungu's meeting with Robert Kalimi, and Zambia's delayed debt restructuring process. The Copper Queens' performance in the Paris 2024 Olympic qualifiers is analyzed, and the team is urged to improve before facing Morocco. President Hakainde Hichilema declares a national disaster due to a severe drought, and the UKA is advised to participate in by-elections to test their popularity. Other topics include a lawsuit against Tutwa Ngulube's sister and widow, the enforcement of law at police stations, and the impact of nature on Zambia's drought.
tags: episode
episode: "192"
date: 2024-03-01T14:11:10.724395+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-01_podcast_dist.mp3
    length: 8 minutes, 49 seconds
    size: 8.10 MB
rss:
    enclosure_length: 8496745
    itunes_duration: 08:49
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 51 seconds
words:
    count: 1,225
    rate: 139 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/03/01/guardian-of-tutwas-5-other-children-sues-deceaseds-widow-sister/
      title: "Guardian of Tutwa’s 5 other children sues deceased’s widow, sister"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2024/03/01/manchester-city-v-manchester-united-wholl-win-the-mancunian-derby/
      title: "Manchester City v Manchester United: who’ll win the Mancunian derby?"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/01/copper-queens-need-to-improve-before-morocco-game/
      title: "Copper Queens need to improve before Morocco game – Nkandu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/livingstone-introduces-dog-breeding-permit/
      title: "Livingstone Introduces dog breeders Permit"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kaluluzi-health-post-gets-maternity-wing/
      title: "Kaluluzi Health Post gets Maternity wing"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/israel-gaza-war-more-than-100-reported-killed-in-crowd-near-gaza-aid-convoy/
      title: "Israel-Gaza war: More than 100 reported killed in crowd near Gaza aid convoy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lion-killed-in-katete/
      title: "Lion Killed in Katete"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/03/01/indeed-its-a-national-disaster-and-it-may-get-worse/
      title: "Indeed, it’s a national disaster, and it may get worse"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mining-insaka-on-the-cards/
      title: "Mining Insaka on the Cards"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/znfu-welcome-declaration-of-drought-as-national-disaster/
      title: "ZNFU welcome declaration of drought as national disaster"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/01/whats-there-to-hold-horses-about-law-has-to-be-enforced-police/
      title: "What’s there to hold horses about, law has to be enforced – Police"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mopani-mine-contractors-on-watch-list/
      title: "Mopani Mine contractors on watch list"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-told-to-implement-irrigation-development-programme/
      title: "Govt told to Implement Irrigation Development Programme"
    - source: News Diggers!
      url: https://diggers.news/business/2024/03/01/nature-is-caning-us-for-failing-to-plan-for-the-future-haabazoka/
      title: "Nature is caning us for failing to plan for the future – Haabazoka"
    - source: News Diggers!
      url: https://diggers.news/business/2024/03/01/chinas-signing-on-zambias-debt-restructuring-is-significant-cso-debt-alliance/
      title: "China’s signing on Zambia’s debt restructuring is significant – CSO Debt Alliance"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/01/copper-queens-good-enough-to-reach-top-10-world-ranking-ghana-coach/
      title: "Copper Queens good enough to reach top 10 world ranking – Ghana coach"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/dp-advises-lungu-to-stop-issuing-alarming-statements/
      title: "DP advises Lungu to Stop Issuing Alarming Statements"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mufulira-councillor-arrested-for-soliciting-k35000-for-cdf-loans/
      title: "Mufulira Councillor arrested for soliciting K35,000 for CDF loans"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/01/i-was-waiting-to-be-picked-up-on-wednesday-lungu-tells-kalimi/
      title: "I was waiting to be picked up on Wednesday, Lungu tells Kalimi"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/table-tennis-and-badminton-athletes-off-to-ghana/
      title: "Table Tennis and Badminton Athletes off to Ghana"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/01/uka-should-participate-in-by-elections-to-test-the-waters-muchima/
      title: "UKA should participate in by-elections to test the waters – Muchima"
    - source: Mwebantu
      url: https://www.mwebantu.com/katanga-gets-k100000-bail-asked-to-surrender-passport/?utm_source=rss&utm_medium=rss&utm_campaign=katanga-gets-k100000-bail-asked-to-surrender-passport
      title: "Katanga gets K100,000 bail, asked to surrender passport"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/psmfc-designing-irrigation-package/
      title: "PSMFC Designing Irrigation Package"
---
