---
title: "Monday, July 1st, 2024"
description: "Zed News Podcast episode 253 discusses various news items, including police thwarting a robbery at a Puma filling station, the need for a comprehensive mineral value addition policy, the dangers of sex pills, and the contrast between pre-independence freedom fighters and contemporary politicians. The episode also covers issues in the transport sector, the expansion of the school feeding program, trade relations between Zambia and Mozambique, and the culture of insulting leaders on social media. Additionally, it touches on the appointment of new leaders in the PF and the future of the party."
tags: episode
episode: "253"
date: 2024-07-01T16:10:06.262814+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-07-01_podcast_dist.mp3
    length: 5 minutes, 19 seconds
    size: 4.91 MB
rss:
    enclosure_length: 5147219
    itunes_duration: 05:19
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 20 seconds
words:
    count: 769
    rate: 145 words per minute
references:
    count: 11
    sources: 2
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/social-media-insults-by-cadres-saddens-ucz-bishop/
      title: "Social media insults by cadres saddens UCZ Bishop"
    - source: Mwebantu
      url: https://www.mwebantu.com/robert-chabinga-fired-as-leader-of-opposition-in-parliament/
      title: "Robert Chabinga fired as Leader of opposition in Parliament?"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/01/died-on-top/
      title: "Died on top"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/01/rtsa-killing-transport-sector-nyimba-mp/
      title: "RTSA killing transport sector – Nyimba MP"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/01/police-thwart-puma-filling-station-robbery-kill-4-criminals/
      title: "Police thwart Puma filling station robbery, kill 4 criminals"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/01/the-imperative-for-a-comprehensive-mineral-value-addition-policy-in-zambias-mining-sector-part-2/
      title: "The Imperative for a Comprehensive Mineral Value Addition Policy in Zambia’s Mining Sector – Part 2"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/01/over-2-3m-learners-will-now-benefit-from-school-feeding-programme-govt/
      title: "Over 2.3m learners will now benefit from school feeding programme – Govt"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/01/we-withdrew-our-planned-rally-because-police-permit-delayed-sp/
      title: "We withdrew our planned rally because police permit delayed – SP"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/01/its-not-biblical-that-we-hunger-archbishop-banda/
      title: "It’s not biblical that we hunger – Archbishop Banda"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/01/nyusi-hails-hhs-vision-to-leverage-trade-through-private-investment-mobilisation/
      title: "Nyusi hails HH’s vision to leverage trade through private investment mobilisation"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/01/the-greedy-corrupt-and-tribal-politicians-of-today-would-never-gain-us-independence/
      title: "The greedy, corrupt and tribal politicians of today would never gain us independence"
---
