---
title: "Thursday, February 1st, 2024"
description: This is the one hundred and seventy-first episode of the podcast.
tags: episode
episode: "171"
date: 2024-02-01T14:08:54.511635+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-02-01_podcast_dist.mp3
    length: 6 minutes, 17 seconds
    size: 5.80 MB
rss:
    enclosure_length: 6077602
    itunes_duration: 06:17
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 40 seconds
words:
    count: 864
    rate: 138 words per minute
references:
    count: 19
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/02/01/things-are-bad-but-theyre-all-lying-no-one-has-a-solution-out-there/
      title: "Things are bad, but they’re all lying, no one has a solution out there"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/01/mealie-meal-shortages-in-e-province-serious-says-mp-as-minister-rebuffs-reports/
      title: "Mealie meal shortages in E/Province serious, says MP, as Minister rebuffs reports"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/01/faz-unveils-u17-team-to-face-tanzania/
      title: "FAZ unveils U17 team to face Tanzania"
    - source: News Diggers!
      url: https://diggers.news/business/2024/02/01/truck-drivers-plan-infinite-strike/
      title: "Truck drivers plan infinite strike"
    - source: Mwebantu
      url: https://www.mwebantu.com/witness-testifies-hearing-alleged-confession-of-four-mufulira-police-officers-accused-of-colleagues-murder/?utm_source=rss&utm_medium=rss&utm_campaign=witness-testifies-hearing-alleged-confession-of-four-mufulira-police-officers-accused-of-colleagues-murder
      title: "Witness testifies hearing alleged confession of four Mufulira police officers accused of colleague’s murder"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/01/2-tourists-sue-state-demand-10m-for-malicious-prosecution/
      title: "2 tourists sue State, demand $10m for malicious prosecution"
    - source: Mwebantu
      url: https://www.mwebantu.com/clayson-hamasaka-criticizes-former-president-lungus-tavern-mentality-approach-to-governance/?utm_source=rss&utm_medium=rss&utm_campaign=clayson-hamasaka-criticizes-former-president-lungus-tavern-mentality-approach-to-governance
      title: "Clayson Hamasaka criticizes Former President Lungu’s ‘Tavern mentality’ approach to governance"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/corruption-perceptions-index-score-welcomed/
      title: "Corruption perceptions index score welcomed"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/01/zra-takes-over-collection-of-toll-fees-at-kazungula-chirundu-border-posts/
      title: "ZRA takes over collection of toll fees at Kazungula, Chirundu border posts"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tb-joshua-expose-youtube-deletes-emmanuel-tv-channel-of-disgraced-megachurch-leader/
      title: "TB Joshua exposé: YouTube deletes Emmanuel TV channel of disgraced megachurch leader"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/01/fight-against-corruption-bearing-fruits-milupi/
      title: "Fight against corruption bearing fruits – Milupi"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambian-youths-embark-on-cultural-odyssey-as-they-join-228-global-participants-in-japans-the-ship-for-world-youth-program-2024/?utm_source=rss&utm_medium=rss&utm_campaign=zambian-youths-embark-on-cultural-odyssey-as-they-join-228-global-participants-in-japans-the-ship-for-world-youth-program-2024
      title: "Zambian Youths embark on cultural odyssey, as they join 228 Global Participants in Japan’s “The Ship for World Youth Program 2024”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/stop-preaching-tribalism-chitimukulu/
      title: "Stop preaching tribalism – CHITIMUKULU"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tinubu-decries-blanket-stereotyping-of-honest-nigerians/
      title: "Tinubu decries blanket stereotyping of ‘honest’ Nigerians"
    - source: Mwebantu
      url: https://www.mwebantu.com/emmanuel-mwamba-faces-arrest/?utm_source=rss&utm_medium=rss&utm_campaign=emmanuel-mwamba-faces-arrest
      title: "Emmanuel Mwamba faces arrest"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/01/hh-is-campaigning-for-2026-but-us-were-not-allowed-laments-mmembe/
      title: "HH is campaigning for 2026 but us we’re not allowed, laments M’membe"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/01/lets-not-waste-scarce-resources-on-politically-induced-by-elections-lifuka/
      title: "Let’s not waste scarce resources on politically induced by-elections – Lifuka"
    - source: Mwebantu
      url: https://www.mwebantu.com/serenje-woman-arrested-for-allegedly-murdering-hubby-during-marital-dispute/?utm_source=rss&utm_medium=rss&utm_campaign=serenje-woman-arrested-for-allegedly-murdering-hubby-during-marital-dispute
      title: "Serenje woman arrested for allegedly murdering hubby during marital dispute"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lcc-to-deliver-desks-to-schools-before-they-open/
      title: "LCC to deliver desks to schools before they open"
---