---
title: "Wednesday, August 7th, 2024"
description: "Today's episode of the Zed News Podcast discussed ZEMA's denial of authorizing Chinese copper processing plants in Chiwempala Township despite the Commerce Minister's claims, sports news including Orlando Pride FC's denial of selling Barbra Banda and MUZALA Samukonga's Olympic success, police recording 270 road traffic accidents over Farmers Holiday, and various political updates such as the arrest warrant for NDC president Saboi Imboela and the arrest of four suspects in a major drug bust. The podcast also covered international news, including Hamas naming Yahya Sinwar as its new overall chief."
tags: episode
episode: "280"
date: 2024-08-07T14:10:05.179943+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-08-07_podcast_dist.mp3
    length: 4 minutes, 31 seconds
    size: 4.17 MB
rss:
    enclosure_length: 4375044
    itunes_duration: 04:31
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 50 seconds
words:
    count: 614
    rate: 136 words per minute
references:
    count: 17
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/07/zbf-rues-chinyembas-exit-from-olympics/
      title: "ZBF rues Chinyemba’s exit from Olympics"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/07/court-issues-bench-warrant-against-saboi/
      title: "Court issues bench warrant against Saboi"
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/07/kcm-promised-to-pay-50-contractors-kabuswe/
      title: "KCM promised to pay 50 contractors – Kabuswe"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/07/barbra-not-for-sale-orlando-pride/
      title: "Barbra not for sale – Orlando Pride"
    - source: Mwebantu
      url: https://www.mwebantu.com/master-guide-guilty-of-inserting-something-in-girls-private-parts/
      title: "Master guide guilty of inserting ‘something’ in girl’s private parts."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/07/muzala-flies-into-olympic-finals/
      title: "Muzala flies into Olympic finals"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/08/07/a-brutal-police-reflects-badly-on-the-party-in-power/
      title: "A brutal police reflects badly on the party in power"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/07/zema-contradicts-chipoka-were-not-aware-of-chinese-processing-plants-in-chiwempala/
      title: "ZEMA contradicts Chipoka: “We’re not aware of Chinese processing plants in Chiwempala”"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133914
      title: "Cops quiz PF’s ‘vuvuzela’ Mwamba"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133911
      title: "Unite to end Ukraine-Russia war, HH urges global community"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hamas-names-yahya-sinwar-as-new-overall-leader/
      title: "Hamas names Yahya Sinwar as new overall leader"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/07/airmen-85-ready-for-new-season-mbewe/
      title: "Airmen 85% ready for new season – Mbewe"
    - source: Mwebantu
      url: https://www.mwebantu.com/four-iba-dg-suspected-killers-charged-with-murder/
      title: "Four IBA DG suspected ‘killers’ charged with murder."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133908
      title: "‘Jay Jay’ escape: Police grill his three wives"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/07/zambia-records-270-road-accidents-during-farmers-day/
      title: "Zambia records 270 road accidents during Farmers Day"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/07/dec-intercepts-drug-traffickers-in-lusaka-c-belt/
      title: "DEC intercepts drug traffickers in Lusaka, C/belt"
    - source: Mwebantu
      url: https://www.mwebantu.com/court-issues-bench-warrant-against-saboi-imboela/
      title: "Court issues bench warrant against Saboi Imboela."
---