---
title: "Thursday, September 12th, 2024"
description: "This episode of the Zed News Podcast covers a range of stories from Zambia, including the arrest of a witch doctor, political developments ahead of the 2026 general elections, concerns over the high cost of living, and updates on agriculture, health, and sports. Other topics include a notable investment forum for agricultural growth and a recognition of local content promoters."
tags: episode
episode: "306"
date: 2024-09-12T16:49:35.698333+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-09-12_podcast_dist.mp3
    length: 4 minutes, 21 seconds
    size: 4.03 MB
rss:
    enclosure_length: 4221656
    itunes_duration: 04:21
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 21 seconds
words:
    count: 596
    rate: 137 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134676
      title: "Power imports reduce – Zesco"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/banana-wine-brings-sweet-taste-of-success-to-malawi-farmers/
      title: "Banana wine brings sweet taste of success to Malawi farmers"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/self-medicating-gorillas-may-hold-new-drugs-clues/
      title: "Self-medicating gorillas may hold new drugs clues"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/09/12/uka-an-ambitious-yet-flawed-opposition-alliance/
      title: "UKA: An ambitious yet flawed opposition alliance"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/09/12/discordant/
      title: "Discordant"
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/12/cccz-hails-hhs-visit-to-china/
      title: "CCCZ hails HH’s visit to China"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/12/police-nab-mpongwe-witch-doctor-dr-sansakuwa-for-assault-abduction/
      title: "Police nab Mpongwe witch doctor Dr Sansakuwa for assault, abduction"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/12/ecz-should-take-interest-in-intra-party-elections-tiz/
      title: "ECZ should take interest in intra-party elections – TIZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-dont-know-anything-about-the-house-in-silverest-mrs-lusambo-tells-court/
      title: "I don’t know anything about the house in Silverest, Mrs Lusambo tells court."
    - source: Mwebantu
      url: https://www.mwebantu.com/no-us250000-was-sent-in-finance-ministers-bank-account-contrary-to-munire-claims-court-hears/
      title: "No US$250,000 was sent in Finance Ministers bank account, contrary to Munir’e claims, court hears"
    - source: Mwebantu
      url: https://www.mwebantu.com/pf-mps-urge-president-hichilema-to-declare-energy-crisis-a-national-disaster/
      title: "PF MPs urge president Hichilema to declare energy crisis a national disaster."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134702
      title: "Yango and Ministry of Home Affairs & Internal Security Hold Safety Sensitization Forum in Zambia"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134697
      title: "Darkest Days: Sayimbwende’s 15 years of terror"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134693
      title: "Standard Chartered Bank named best digital banker in Zambia"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/12/hh-must-provide-solutions-to-address-high-cost-of-living-as-he-addresses-parley-ngocc/
      title: "HH must provide solutions to address high cost of living as he addresses Parley – NGOCC"
    - source: Mwebantu
      url: https://www.mwebantu.com/more-remains-retrieved-from-sensele-mine-total-now-31/
      title: "More remains retrieved from Sensele mine, total now 31"
    - source: Mwebantu
      url: https://www.mwebantu.com/multichoice-commends-direct-sales-representatives/
      title: "MultiChoice Commends Direct Sales Representatives"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134687
      title: "FAO, ZDA partner to bridge $1.1bn investment gap"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134690
      title: "MSMEs have key role in economic growth – Mubanga"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134684
      title: "It’s an emotional win, says Kampamba"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134673
      title: "CJ on recovery path"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134679
      title: "Grant savours victory…as Nkandu salutes Chipolopolo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/12/farmers-under-fisp-must-deposit-k400-by-oct-31-2024-govt/
      title: "Farmers under FISP must deposit K400 by Oct 31, 2024 – Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/28-year-old-student-nurse-attempts-suicide-at-a-lodge-in-chingola/
      title: "28-year-old student nurse attempts suicide at a lodge in Chingola"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/12/chipolopolo-showed-great-mentality-grant/
      title: "Chipolopolo showed great mentality – Grant"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/09/12/royal-kents-failed-to-construct-dk-stadium-to-fit-fifa-standards-faz-tells-court/
      title: "Royal Kents failed to construct DK Stadium to fit FIFA standards, FAZ tells court"
    - source: Mwebantu
      url: https://www.mwebantu.com/chief-justice-responding-well-to-treatment-in-south-africa/
      title: "Chief Justice responding well to treatment in South Africa"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134682
      title: "Refs show up late for Lumwana, ‘Mighty’ showdown"
---