---
title: "Friday, September 20th, 2024"
description: "This episode of the Zed News Podcast covers various news updates from Zambia, including concerns over the electoral system, the UPND's victory in recent by-elections, and government initiatives on cyber issues, public health, and agriculture. The episode also touches on political drama, sports news, and more."
tags: episode
episode: "312"
date: 2024-09-20T13:45:26.219533+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-09-20_podcast_dist.mp3
    length: 5 minutes, 10 seconds
    size: 4.77 MB
rss:
    enclosure_length: 5004074
    itunes_duration: 05:10
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 12 seconds
words:
    count: 701
    rate: 136 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/09/20/as-we-said-uka-is-lungus-toy-hell-play-with-it-as-he-wishes/
      title: "As we said, UKA is Lungu’s toy, he’ll play with it as he wishes"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134810
      title: "‘Article 52 being abused’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/acctiz-launch-2024-zambia-bride-payers-index-survey/
      title: "ACC,TIZ launch 2024 Zambia Bribe Payers Index survey"
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/20/idc-commissions-k86-5m-cassava-processing-plant/
      title: "IDC commissions K86.5m Cassava Processing Plant"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/appreciate-hhs-concerns-over-lacunas/
      title: "“Appreciate HH’s concerns over lacunas”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/upnd-wins-ward-by-elections/
      title: "UPND wins ward by-elections"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/20/patrick-kangwa-applauds-faz/
      title: "Patrick Kangwa applauds FAZ"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/09/20/mabeta-defamed-me-musa-insists/
      title: "Mabeta defamed me, Musa insists"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/20/we-want-home-affairs-to-enforce-cybercrimes-zicta-to-handle-cybersecurity-mutati/
      title: "We want Home Affairs to enforce cybercrimes, ZICTA to handle cybersecurity – Mutati"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/20/we-didnt-win-many-medals-because-of-low-funding-sports-ps/
      title: "We didn’t win many medals because of low funding – Sports PS"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/09/20/chipolopolo-slips-again-on-fifa-ranking/
      title: "Chipolopolo slips again on FIFA ranking"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/20/uka-cant-go-anywhere-without-lungu-mulusa/
      title: "UKA can’t go anywhere without Lungu  – Mulusa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zamren-connect-free-wifi-to-kk-airport-east-park-mall/
      title: "ZAMREN connect free wifi to KK airport, East Park Mall"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/fisp-farmers-to-sell-at-least-10-bags-to-fra/
      title: "FISP Farmers to sell at least 10 bags to FRA"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/20/article-526-has-potential-to-disrupt-electoral-process-ecz/
      title: "Article 52(6) has potential to disrupt electoral process – ECZ"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/20/raid-at-commission-for-refugees-a-matter-of-national-security-mwiimbu/
      title: "Raid at Commission for Refugees a matter of national security – Mwiimbu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-spends-1-1m-for-measles-rubella-country-wide-vaccination-campaign/
      title: "Govt spends $1.1m for Measles-Rubella Country wide vaccination campaign"
---