---
title: "Wednesday, October 2nd, 2024"
description: "Today's episode covers a range of topics, including relationship advice, political news, and economic initiatives in Zambia. From defamation lawsuits and sedition charges to tourism concerns and sports updates, this episode has it all, keeping you informed about the latest developments in the country."
tags: episode
episode: "320"
date: 2024-10-02T13:43:54.053663+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-10-02_podcast_dist.mp3
    length: 4 minutes, 34 seconds
    size: 4.22 MB
rss:
    enclosure_length: 4421021
    itunes_duration: 04:34
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 39 seconds
words:
    count: 602
    rate: 132 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/02/lawyer-discontinues-petition-against-hhs-decision-to-suspend-3-concourt-judges/
      title: "Lawyer discontinues petition against HH’s decision to suspend 3 ConCourt Judges"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/02/zambian-table-tennis-players-shine-in-botswana/
      title: "Zambian table tennis players shine in Botswana"
    - source: Mwebantu
      url: https://www.mwebantu.com/stop-political-schemes-face-me-in-2026-lungu-challenges-president-hichilema/
      title: "Stop political schemes, face me in 2026! Lungu challenges President Hichilema"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/02/its-ridiculous-for-zra-not-to-extend-smart-invoice-incorporation-deadline-tcz/
      title: "It’s ridiculous for ZRA not to extend Smart Invoice incorporation deadline – TCZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/mwaliteta-faces-backlash-after-criticising-former-president-lungu/
      title: "Mwaliteta faces backlash after criticising former President Lungu."
    - source: Mwebantu
      url: https://www.mwebantu.com/i-wont-get-your-pledged-rewards-muzala-samukonga-says/
      title: "‘I won’t get your pledged rewards,’ Muzala Samukonga says"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135025
      title: "‘K217bn 2025 national budget ambitious’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135020
      title: "Govt stakes K246.6m for disasters"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135017
      title: "EU resumes budget support"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/10/02/financial-obligations-to-a-girlfriend/
      title: "Financial Obligations to a Girlfriend"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135014
      title: "Zesco stabilises supply!"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/02/courts-puts-mfuwe-pf-mp-on-defence-in-sedition-case/
      title: "Courts puts Mfuwe PF MP on defence in sedition case"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/02/kasune-cant-dictate-who-zambians-should-sympathise-with-kaunda/
      title: "Kasune can’t dictate who Zambians should sympathise with – Kaunda"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/02/changala-asks-court-to-subpoena-hh-nalumango-others-in-his-defence/
      title: "Changala asks court to subpoena HH, Nalumango, others in his defence"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/02/were-not-wasting-resources-by-appealing-kampyongo-lusambos-acquittal-acc/
      title: "We’re not wasting resources by appealing Kampyongo, Lusambo’s acquittal – ACC"
    - source: Mwebantu
      url: https://www.mwebantu.com/sabois-judgment-date-set/
      title: "Saboi’s Judgment date set."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/02/wanderers-call-for-calm-after-poor-form/
      title: "Wanderers call for calm after poor form"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135030
      title: "‘Money hurting football!’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135022
      title: "Govt flags-off inputs distribution"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/02/ags-assertion-that-im-not-entitled-to-k2m-compensation-baseless-upnd-nmc-member-tells-court/
      title: "AG’s assertion that I’m not entitled to K2m compensation baseless, UPND NMC member tells court"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135027
      title: "IDC’s ‘wealth fund’ to grow economy"
---
