---
title: "Thursday, May 2nd, 2024"
description: "In this episode of Zed News Podcast, Ayanda discusses various news items, including Red Arrows coach Chisi Mbewe's emphasis on focus for his team's success, the Ministry of Sports' intervention in Football House conflicts, and the Ministry's encouragement for Zambia's relay teams at the Bahamas World Championships. Additionally, the episode covers President Hakainde Hichilema's stance on political handouts to chiefs, former President Edgar Lungu's political advisor Chris Zumani Zimba's lawsuit against the State, and Economist Lubinda Haabazoka's warning about the continued rise in the cost of living. The episode also touches on the hunger situation in some constituencies, former First Lady Esther Lungu's legal issues, and Health Minister Sylvia Masebo's revelation about the National Health Insurance Management Authority (NHIMA) bank account. Lastly, Ayanda highlights Barbra Banda and Racheal Kundananji's recent performances in their respective leagues."
tags: episode
episode: "236"
date: 2024-05-02T12:10:37.365042+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-05-02_podcast_dist.mp3
    length: 3 minutes, 54 seconds
    size: 3.60 MB
rss:
    enclosure_length: 3776732
    itunes_duration: 03:54
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 38 seconds
words:
    count: 552
    rate: 142 words per minute
references:
    count: 10
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2024/05/02/haabazoka-projects-continued-rise-in-cost-of-living/
      title: "Haabazoka projects continued rise in cost of living"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/05/02/chiefs-must-stop-depending-on-political-handouts-if-their-voice-is-to-be-respected/
      title: "Chiefs must stop depending on political handouts if their voice is to be respected"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/02/its-important-for-arrows-to-remain-focused-as-we-chase-a-double-mbewe/
      title: "It’s important for Arrows to remain focused as we chase a double – Mbewe"
    - source: Mwebantu
      url: https://www.mwebantu.com/its-a-banda-brace-copper-queens-star-shines-again/
      title: "‘it’s a Banda Brace’ Copper Queens star shines again"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/02/govt-has-intervened-to-resolve-faz-wrangles-ps/
      title: "Govt has intervened to resolve FAZ wrangles – PS"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/05/02/zumani-and-another-sue-state-for-malicious-prosecution-demand-over-k230m/
      title: "Zumani and another sue State for malicious prosecution, demand over K230m"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/02/nhima-account-in-red-because-of-private-sector-abuse-masebo/
      title: "NHIMA account in red because of private sector abuse – Masebo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/02/esther-is-a-nice-woman-but-where-did-lungu-get-his-wealth-wonders-kavindele/
      title: "Esther is a nice woman, but where did Lungu get his wealth, wonders Kavindele"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/02/were-expecting-good-results-from-relay-teams-chileshe/
      title: "We’re expecting good results from relay teams – Chileshe"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/02/govt-should-address-hunger-situation-otherwise-voters-will-die-before-2026-upnd-mp/
      title: "Govt should address hunger situation, otherwise voters will die before 2026 – UPND MP"
---