---
title: "Monday, September 16th, 2024"
description: "This episode of the Zed News Podcast covers various news stories in Zambia, including energy concerns and potential cooking oil shortages, environmental issues such as toxic dust pollution, and political developments including comments from President Hakainde Hichilema and Youth, Sport, and Arts Minister Elvis Nkandu."
tags: episode
episode: "308"
date: 2024-09-16T13:46:57.410918+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-09-16_podcast_dist.mp3
    length: 4 minutes, 59 seconds
    size: 4.60 MB
rss:
    enclosure_length: 4819336
    itunes_duration: 04:59
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 37 seconds
words:
    count: 691
    rate: 139 words per minute
references:
    count: 24
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/16/theres-a-risk-of-cooking-oil-shortages-if-energy-crisis-persists-chibumba/
      title: "There’s a risk of cooking oil shortages if energy crisis persists – Chibumba"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134737
      title: "Hichilema dates Copperbelt"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/16/only-those-who-hate-hh-cant-see-light-at-the-end-of-the-tunnel-muchima/
      title: "Only those who hate HH can’t see light at the end of the tunnel – Muchima"
    - source: Mwebantu
      url: https://www.mwebantu.com/yango-group-and-zambian-national-stem-foundation-announce-yango-fellowship-for-talented-students-in-zambia/
      title: "Yango Group and Zambian National STEM Foundation Announce Yango Fellowship for talented students in Zambia"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134739
      title: "‘We’re up to the task’"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/16/bowman-laments-that-most-pf-mps-are-shunning-lungu/
      title: "Most PF MPs are shunning Lungu, laments Lusambo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/16/lungu-should-stop-drinking-if-he-wants-to-reform-nkandu/
      title: "Lungu should stop drinking if he wants to reform – Nkandu"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134754
      title: "Mufulira Leopards maul Buffaloes"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134751
      title: "It’s been a fantastic season – Samukonga"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134748
      title: "‘Don’t give up yet!’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134745
      title: "‘Smoke, mirrors’ of tobacco sector"
    - source: Mwebantu
      url: https://www.mwebantu.com/constitution-bars-any-changes-to-general-election-date-says-laz/
      title: "Constitution bars any changes to general election date says LAZ"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134756
      title: "‘HH puts Zambia on right economic path’"
    - source: News Diggers!
      url: https://diggers.news/business/2024/09/16/zaca-boss-urges-zesco-to-introduce-2-day-load-shedding-schedule/
      title: "ZACA boss urges Zesco to introduce 2-day load-shedding schedule"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/09/16/we-warned-about-the-illegal-mining-activities-in-chingola-here-we-are/
      title: "We warned about the illegal mining activities in Chingola; here we are"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/16/no-constitutional-provision-permits-any-organ-to-cancel-general-election-date-laz/
      title: "No constitutional provision permits any organ to cancel general election date – LAZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/provincial-high-courts-to-expedite-delivery-of-justice-veep/
      title: "Provincial High Courts to expedite delivery of justice – VEEP"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/16/magistrate-commits-8-junkies-to-lsk-high-court-for-aggravated-robbery-trial/
      title: "Magistrate commits 8 junkies to Lsk High Court for aggravated robbery trial"
    - source: Mwebantu
      url: https://www.mwebantu.com/chief-justice-back-home-after-successful-medical-treatment-abroad/
      title: "Chief Justice back home after successful medical treatment abroad."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134742
      title: "‘ECL to blame for constitutional lacunas’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/lusaka-businessman-arrested-for-theft/
      title: "Lusaka businessman arrested for theft"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/16/ive-learnt-to-be-a-bit-polite-in-getting-work-done-hh/
      title: "I’ve learnt to be a bit polite in getting work done – HH"
    - source: News Diggers!
      url: https://diggers.news/local/2024/09/16/wynter-shouldnt-use-pf-when-going-into-alliances-with-other-parties-mukanga/
      title: "Wynter shouldn’t use PF when going into alliances with other parties – Mukanga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chief-justice-malila-returns-home/
      title: "Chief Justice MALILA returns home"
---
