---
title: "Wednesday, February 14th, 2024"
description: This is the one hundred and eightieth episode of the podcast.
tags: episode
episode: "180"
date: 2024-02-14T14:14:43.259202+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-02-14_podcast_dist.mp3
    length: 6 minutes, 45 seconds
    size: 6.22 MB
rss:
    enclosure_length: 6521477
    itunes_duration: 06:45
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 8 minutes, 44 seconds
words:
    count: 915
    rate: 136 words per minute
references:
    count: 24
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/14/court-to-view-lubindas-chilenje-property/
      title: "Court to view Lubinda’s Chilenje property"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/14/i-contracted-tb-hiv-in-custody-mandevu-man-tells-court-demands-k17m-from-state/
      title: "I contracted TB, HIV in custody, Mandevu man tells court, demands K17m from state"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/14/hh-is-only-as-strong-as-the-weakest-member-of-his-team/
      title: "HH is only as strong as the weakest member of his team"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/14/at-least-citizens-can-now-choose-between-flowers-for-valentines-or-mealie-meal-govt/
      title: "At least citizens can now choose between flowers for Valentine’s or mealie meal – Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/chaiwa-on-the-move-joins-lower-league-side/?utm_source=rss&utm_medium=rss&utm_campaign=chaiwa-on-the-move-joins-lower-league-side
      title: "Chaiwa on the move, joins lower league side"
    - source: Mwebantu
      url: https://www.mwebantu.com/the-lord-made-it-happen-kundananji-says-bay-fc-move-is-one-she-has-been-waiting-for/?utm_source=rss&utm_medium=rss&utm_campaign=the-lord-made-it-happen-kundananji-says-bay-fc-move-is-one-she-has-been-waiting-for
      title: "‘The Lord made it happen,’ Kundananji says, Bay FC move is one she has been waiting for"
    - source: Mwebantu
      url: https://www.mwebantu.com/renowned-american-gospel-minister-travis-greene-to-headline-harvest-of-praise-concert/?utm_source=rss&utm_medium=rss&utm_campaign=renowned-american-gospel-minister-travis-greene-to-headline-harvest-of-praise-concert
      title: "Renowned American gospel minister, Travis Greene to headline Harvest of Praise concert"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zns-completes-construction-of-access-road-to-chunga-dump-site/
      title: "ZNS Completes Construction of access Road to Chunga dump site"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/reforms-coming-to-tourism-sector/
      title: "Reforms coming to tourism sector"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/luapula-building-41-camp-extension-staff-houses/
      title: "Luapula Rehabilitating 41 camp extension staff houses"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zccm-ih-still-in-control-of-kasenseli-gold-mine/
      title: "ZCCM-IH Still in Control of Kasenseli Gold Mine"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/14/milingo-files-notice-to-discontinue-immunity-case-against-state/
      title: "Milingo files notice to discontinue immunity case against State"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/14/this-is-economic-sabotage-laments-zesco-as-vandals-damage-another-transformer/
      title: "This is economic sabotage, laments Zesco as vandals damage another transformer"
    - source: Mwebantu
      url: https://www.mwebantu.com/taxi-driver-found-murdered/?utm_source=rss&utm_medium=rss&utm_campaign=taxi-driver-found-murdered
      title: "Taxi driver found murdered"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/the-elephants-from-being-showered-with-insults-to-cash-and-villas/
      title: "The elephants :From being showered with insults to cash and villas"
    - source: Mwebantu
      url: https://www.mwebantu.com/kundananji-becomes-world-most-expensive-female-footballer/?utm_source=rss&utm_medium=rss&utm_campaign=kundananji-becomes-world-most-expensive-female-footballer
      title: "Kundananji becomes world most expensive female footballer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/upnd-asks-police-to-probe-kbn-tv-after-leaking-private-conversation/
      title: "UPND asks Police to Probe KBN TV after leaking private conversation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/2023-teacher-recruitment-targeted-particular-skill-sets/
      title: "“2023 Teacher Recruitment Targeted Particular skill sets”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mpc-raised-from-11-to-12-5/
      title: "MPC raised from 11% to 12.5%"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/14/armyworm-infestation-now-at-24-countrywide-moa/
      title: "Armyworm infestation now at 24% countrywide – MoA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/no-export-of-maize/
      title: "“No Export of Maize”"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/14/chikotesha-in-thunderous-welcome/
      title: "Chikotesha in thunderous welcome"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/14/hh-calls-for-actualisation-of-mous/
      title: "HH calls for actualisation of MOUs"
    - source: Mwebantu
      url: https://www.mwebantu.com/sda-master-guide-accused-of-defilement-jailed/?utm_source=rss&utm_medium=rss&utm_campaign=sda-master-guide-accused-of-defilement-jailed
      title: "SDA Master Guide accused of defilement jailed"
---
