---
title: "Friday, January 19th, 2024"
description: This is the one hundred and sixty-second episode of the podcast.
tags: episode
episode: "162"
date: 2024-01-19T14:09:04.457666+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-01-19_podcast_dist.mp3
    length: 6 minutes, 4 seconds
    size: 5.59 MB
rss:
    enclosure_length: 5858589
    itunes_duration: 06:04
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 50 seconds
words:
    count: 845
    rate: 139 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/01/19/police-pick-up-kasanda-and-co-accused-after-nolle/
      title: "Police pick up Kasanda and co-accused after nolle"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/19/we-found-congo-very-tough-daka/
      title: "We found Congo very tough – Daka"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/19/i-will-not-seek-diggers-re-election-musonda/
      title: "I will not seek Diggers re-election – Musonda"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/19/green-buffaloes-wins-2024-lpca-chess-title/
      title: "Green Buffaloes wins 2024 LPCA chess title"
    - source: Mwebantu
      url: https://www.mwebantu.com/ronald-kampambas-graph-keeps-falling/?utm_source=rss&utm_medium=rss&utm_campaign=ronald-kampambas-graph-keeps-falling
      title: "Ronald Kampamba’s graph keeps falling"
    - source: Mwebantu
      url: https://www.mwebantu.com/kalusha-defends-roderick-kabwe/?utm_source=rss&utm_medium=rss&utm_campaign=kalusha-defends-roderick-kabwe
      title: "Kalusha defends Roderick Kabwe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/thieves-steal-maize-from-ngoni-chief/
      title: "Thieves steal maize from Ngoni chief"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/19/zambians-shouldnt-be-disappointed-with-outcome-of-congo-game-mbulakulima/
      title: "Zambian’s shouldn’t be disappointed with outcome of Congo game – Mbulakulima"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-launches-national-refugee-policy/
      title: "Govt launches National Refugee Policy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/n-korea-conducts-underwater-nuclear-weapons-system-test/
      title: "N Korea conducts ‘underwater nuclear weapons system’ test"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/elephant-cause-havoc-in-lundazi/
      title: "Elephants cause havoc in Lundazi"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/19/grant-shifts-focus-to-tanzania-game/
      title: "Grant shifts focus to Tanzania game"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/01/19/by-elections-are-costly-candidates-who-withdraw-must-be-punished/
      title: "By-Elections are costly, candidates who withdraw must be punished"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/19/lubambes-move-to-sell-80-stake-raises-panic-among-suppliers/
      title: "Lubambe’s move to sell 80% stake raises panic among suppliers"
    - source: Mwebantu
      url: https://www.mwebantu.com/chingola-businessman-accused-of-selling-fake-fertilizer/?utm_source=rss&utm_medium=rss&utm_campaign=chingola-businessman-accused-of-selling-fake-fertilizer
      title: "Chingola businessman accused of selling fake fertilizer."
    - source: Mwebantu
      url: https://www.mwebantu.com/kasanda-free-but-arrested/?utm_source=rss&utm_medium=rss&utm_campaign=kasanda-free-but-arrested
      title: "Kasanda, ‘free’ but arrested"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/warma-director-general-arrested/
      title: "WARMA Director General arrested"
---