---
title: "Friday, December 6th, 2024"
description: "This episode of the Zed News Podcast covers various news topics from Zambia, including updates on voter registration, political developments, and government initiatives in healthcare and water supply. The episode also touches on sports news, including Zambia's success in the Africa Aquatics Zone 4 Championships and the Forest Rangers' hopes for a turnaround under new leadership."
tags: episode
episode: "367"
date: 2024-12-06T14:49:36.239326+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-12-06_podcast_dist.mp3
    length: 5 minutes, 26 seconds
    size: 5.01 MB
rss:
    enclosure_length: 5256937
    itunes_duration: 05:26
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 19 seconds
words:
    count: 763
    rate: 140 words per minute
references:
    count: 20
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/06/bakala-rejoins-forest-rangers/
      title: "Bakala rejoins Forest Rangers"
    - source: Mwebantu
      url: https://www.mwebantu.com/met-advises-farmers-to-delay-planting-rain-dependant-crops-due-to-high-temps/
      title: "MET advises farmers to delay planting rain dependant crops due to high temps."
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/06/govt-to-drill-160-commercial-boreholes-in-drought-prone-provinces-at-k75m/
      title: "Govt to drill 160 commercial boreholes in drought-prone provinces at K75m"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/06/tanzania-suspends-maize-supply-to-zambia-over-non-payment/
      title: "Tanzania suspends maize supply to Zambia over non-payment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/nakachinda-cautioned-over-illegal-meetings/
      title: "Nakachinda cautioned over illegal meetings"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mozambique-unrest-affects-fuel-supply-in-zambia-malindima/
      title: "Mozambique unrest affects fuel supply in Zambia- Malindima"
    - source: Mwebantu
      url: https://www.mwebantu.com/warma-director-general-jailed-two-years-over-corruption/
      title: "WARMA director general jailed two years over corruption"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2024/12/06/how-sports-betting-and-economic-impacts-function-in-the-african-realm/
      title: "How Sports Betting and Economic Impacts Function in the African Realm"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/06/ecz-registers-10352-voters-in-oct/
      title: "ECZ registers 10,352 voters in Oct"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/06/upnd-has-failed-to-manage-fuel-sector-kateka/
      title: "UPND has failed to manage fuel sector – Kateka"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/12/06/upnd-must-lead-by-example-in-electoral-conduct/
      title: "UPND must lead by example in electoral conduct"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chipoka-advises-kbf-not-use-personal-attacks-on-hh/
      title: "Chipoka advises KBF not use personal attacks on HH"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/06/at-least-50-ambulances-will-be-in-the-country-by-dec-31-nkombo/
      title: "At least 50 ambulances will be in the country by Dec 31 – Nkombo"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/06/bitterness-will-choke-you-chipoka-tells-angry-kafwaya/
      title: "Bitterness will choke you, Chipoka tells angry Kafwaya"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/africa-aquatics-zone-4-championships-zambian-swimmers-rack-in-15-medals/
      title: "Africa Aquatics Zone 4 Championships: Zambian swimmers rack 15 medals"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-disperse-students-gathered-to-meet-former-president-edgar-lungu-at-crest-lodge/
      title: "Police disperse students gathered to meet Former president Edgar Lungu at Crest Lodge"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/12/06/judiciary-allows-private-media-to-broadcast-lungus-eligibility-case/
      title: "Judiciary allows private media to broadcast Lungu’s eligibility case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-to-build-multipurpose-sports-facilities-in-all-constituencies/
      title: "Govt to build Multipurpose sports facilities in all constituencies"
    - source: Mwebantu
      url: https://www.mwebantu.com/ati-the-country-has-enough-condoms/
      title: "Ati, the country has enough condoms."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-plans-to-upgrade-airstrips/
      title: "Govt plans to upgrade airstrips"
---
