---
title: "Friday, October 11th, 2024"
description: "This episode of the Zed News Podcast covers various news updates from Zambia, including international singer Omarion's visit, the national football team's upcoming match, and developments in the music and sports scenes. The episode also touches on national issues such as power shortages, fuel shortages, and corruption allegations, as well as updates on politics and mining in Zambia."
tags: episode
episode: "327"
date: 2024-10-11T13:42:44.522197+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-10-11_podcast_dist.mp3
    length: 5 minutes, 11 seconds
    size: 4.79 MB
rss:
    enclosure_length: 5018700
    itunes_duration: 05:11
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 2 minutes, 31 seconds
words:
    count: 712
    rate: 137 words per minute
references:
    count: 14
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/11/zambia-hosts-chad/
      title: "Zambia hosts Chad"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2024/10/11/chef-187-withdraws-from-stanbic-music-festival/
      title: "Chef 187 withdraws from Stanbic Music Festival"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/10/11/despite-the-alarming-death-toll-illegal-mining-continues-because-it-benefits-political-elites/
      title: "Despite the alarming death toll, illegal mining continues because it benefits political elites"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/national-database-for-freedom-fighters-coming/
      title: "National database for freedom Fighters coming"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/11/lungu-appoints-brenda-nyirenda-as-pf-deputy-sg/
      title: "Lungu appoints Brenda Nyirenda as PF Deputy SG"
    - source: Mwebantu
      url: https://www.mwebantu.com/ecl-describes-electricity-tariff-hike-as-unpatriotic-inhumane-and-shameful/
      title: "ECL describes electricity tariff hike as unpatriotic, inhumane, and shameful."
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2024/10/11/what-a-beautiful-culture-people-omarion/
      title: "What a beautiful culture, people – Omarion"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/11/cristoforetti-anticipates-competitive-pfl-season/
      title: "Cristoforetti anticipates competitive PFL season"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/11/we-can-only-have-full-supply-of-electricity-by-february-zesco/
      title: "We can only have full supply of electricity by February – Zesco"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/11/erb-running-away-from-taking-responsibility-for-fuel-shortages-omcaz/
      title: "ERB running away from taking responsibility for fuel shortages – OMCAZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hamududu-proposes-unbundling-of-zesco/
      title: "HAMUDUDU proposes unbundling of ZESCO"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/11/acc-joins-prosecution-of-dr-malama-others-in-case-of-wilful-failure/
      title: "ACC joins prosecution of Dr Malama, others in case of wilful failure"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/11/we-can-beat-brazil-copper-princess/
      title: "We can beat Brazil – Copper Princess"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/probe-continued-illegal-mining-kabuswe/
      title: "Probe continued illegal mining – KABUSWE"
---
