---
title: "Thursday, October 31st, 2024"
description: "This episode of the Zed News Podcast covers a range of topics, including a sensitive family dynamics issue, Zambia's success in European soccer, and updates on health and legal matters in the country. The episode also touches on sports news, including the Copper Queens' upcoming match and Red Arrows' victory in the MTN Zambia Super League."
tags: episode
episode: "341"
date: 2024-10-31T14:48:39.234504+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-10-31_podcast_dist.mp3
    length: 5 minutes, 32 seconds
    size: 5.10 MB
rss:
    enclosure_length: 5349308
    itunes_duration: 05:32
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 22 seconds
words:
    count: 803
    rate: 145 words per minute
references:
    count: 16
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/31/kalu-mourn-chavuma-fc-players/
      title: "Kalu mourns Chavuma players"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/10/31/when-2-becomes-3/
      title: "When 2 becomes 3"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/31/bolabet-partners-with-gameaid-to-fight-gambling-addiction/
      title: "BolaBet partners with GameAid to fight gambling addiction"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/31/airmen-fly-into-2nd-position-with-win-over-warriors/
      title: "Airmen fly into 2nd position with win over Warriors"
    - source: Mwebantu
      url: https://www.mwebantu.com/muvi-tv-proprietor-accsues-ex-wife-of-forgery-fraudulently-charging-bank-signatories/
      title: "MUVI TV proprietor accsues ex wife of forgery, fraudulently charging bank signatories."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135376
      title: "‘Zambians will not allow the PF back’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135372
      title: "Esther Lungu nabbed"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/the-speech-that-changed-the-course-of-womens-football/
      title: "The speech that changed the course of women’s football"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2024/10/31/zambian-football-stars-in-europe-how-overseas-talent-is-shaping-the-local-game/
      title: "Zambian Football Stars in Europe: How Overseas Talent is Shaping the Local Game"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/31/court-defers-judgement-in-sabois-defamation-case/
      title: "Court defers judgement in Saboi’s defamation case"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135378
      title: "Another dark day for Chingola!  …6 siblings among 8 illegal miners buried alive"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/31/were-ready-for-malawi-mwila/
      title: "We’re ready for Malawi – Mwila"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/10/31/why-must-zambians-spend-more-on-znbc-which-they-dont-watch/
      title: "Why must Zambians spend more on ZNBC which they don’t watch?"
    - source: Mwebantu
      url: https://www.mwebantu.com/kampyongos-wife-to-remain-in-jail-magistrate-dismisses-her-bail-application/
      title: "Kampyongo’s wife to remain in jail, magistrate dismisses her bail application"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/31/weve-not-recorded-any-cholera-cases-muchima/
      title: "We’ve not recorded any cholera cases – Muchima"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kcm-denies-ownership-of-chingola-accident-site/
      title: "KCM denies ownership of Chingola accident site"
---
