---
title: "Wednesday, December 11th, 2024"
description: "This episode of the Zed News Podcast covers a range of stories from environmental issues to governance and international relations, with a focus on Zambia. Topics include the restoration of the Kafue River Basin, the Football Association of Zambia's upcoming elections, and the Constitutional Court's ruling on former President Edgar Lungu's eligibility for future presidential elections."
tags: episode
episode: "370"
date: 2024-12-11T14:50:14.554295+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-12-11_podcast_dist.mp3
    length: 5 minutes, 3 seconds
    size: 4.67 MB
rss:
    enclosure_length: 4893735
    itunes_duration: 05:03
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 54 seconds
words:
    count: 701
    rate: 139 words per minute
references:
    count: 21
    sources: 5
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/11/were-addressing-tanzanias-withdraw-of-maize-supply-govt/
      title: "We’re addressing Tanzania’s withdraw of maize supply – govt"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/12/11/plan-b-is-in-motion-declares-lungu-after-concourt-rules-him-ineligible-to-contest-future-polls/
      title: "Plan B is in motion, declares Lungu after ConCourt rules him ineligible to contest future polls"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/11/the-church-is-not-quiet-we-are-still-talking-fr-mukosa/
      title: "The church is not quiet, we are still talking – Fr Mukosa"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135735
      title: "‘Respect ConCourt’s judgement’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-set-to-host-the-mine-tech-launch/
      title: "Zambia set to host the Mine Tech launch"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135732
      title: "ECL not eligible – ConCourt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/matambo-checks-on-kth-rehab-works/
      title: "Matambo checks on KTH rehab works"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/a-ag-mwambwa-clarifies-on-the-ambulance-case/
      title: "A/AG Mwambwa clarifies on the ambulance case"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/12/11/hope-high-for-kafue-river-basins-restoration-researcher/?utm_source=rss&utm_medium=rss&utm_campaign=hope-high-for-kafue-river-basins-restoration-researcher
      title: "Hope high for Kafue River Basin’s restoration – researcher"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/11/nkandu-hails-faz-for-introducing-gps-system/
      title: "Govt hails FAZ for introducing GPS system"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/11/we-have-to-qualify-for-afcon-bakala/
      title: "We have to qualify for AFCON – Bakala"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/u17-cosafa-girls-zambia-through-to-the-final/
      title: "U17 COSAFA GIRLS: Zambia through to the final"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/11/uk-development-minister-visits-zambia-to-celebrate-uk-zambia-relations/
      title: "UK Development Minister visits Zambia to celebrate UK-Zambia relations"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-officer-shoots-self/
      title: "Police officer shoots self."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135740
      title: "UNECA tips Zambia, DRC on EVs potential"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/11/faz-wont-stop-anyone-from-contesting-elections-kamanga/
      title: "FAZ won’t stop anyone from contesting elections – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/11/hh-state-house-not-involved-in-lungus-eligibility-judgement-govt/
      title: "HH, State House not involved in Lungu’s eligibility judgement – Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/bulldozer-stuck-in-jail-as-court-refuses-bail-application/
      title: "Bulldozer stuck in jail as court refuses bail application."
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/12/11/resetting-the-course-of-justice-democracy-and-lungus-constitutional-dead-end/
      title: "Resetting the course of Justice, Democracy and Lungu’s constitutional dead-end"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/11/3-illegal-miners-die-in-kitwe/
      title: "3 illegal miners die in Kitwe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-to-attend-virtual-extraordinary-organ-troika-summit-of-sadc/
      title: "HH to attend virtual Extraordinary Organ Troika Summit of SADC"
---