---
title: "Wednesday, May 15th, 2024"
description: "In this episode of the Zed News Podcast, host Ayanda discusses various news items from May 15th, 2024. Topics include the Under-17 women's national team preparing for their return leg against Uganda, the call for private sector support in hosting the RASA awards, the Rugby 7s provisional squad for the Africa Cup Nations qualifiers, and the MTN Super Division Week 31 clashes. Additionally, the episode covers the windfall tax debate, political power dynamics, RTSA's dismissal of directors, a witness testimony in a corruption case, and President Hakainde Hichilema's new role as the first-ever champion of foundational learning in Africa."
tags: episode
episode: "245"
date: 2024-05-15T12:10:15.462656+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-05-15_podcast_dist.mp3
    length: 4 minutes, 30 seconds
    size: 4.16 MB
rss:
    enclosure_length: 4361877
    itunes_duration: 04:30
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 1 second
words:
    count: 636
    rate: 141 words per minute
references:
    count: 10
    sources: 1
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/15/govt-seeks-private-sector-support-in-hosting-rasa-awards/
      title: "Govt seeks private sector support in hosting RASA awards"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/15/rtsa-ceo-justifies-dismissal-of-3-directors-the-agency-has-stagnated-for-a-while/
      title: "RTSA CEO justifies dismissal of 3 directors: The agency has stagnated for a while"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/15/uganda-will-be-out-to-seek-revenge-kanyemba/
      title: "Uganda will be out to seek revenge – Kanyemba"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/05/15/its-foolish-to-think-lungu-can-be-a-solution-for-a-problem-he-created/
      title: "It’s foolish to think Lungu can be a  solution for a problem he created"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/15/im-happy-woolley-is-leaving-he-was-an-extension-of-upnd-mumbi/
      title: "I’m happy Woolley is leaving, he was an extension of UPND – Mumbi"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/15/kaminsa-names-rugby-7s-provisional-squad-for-afcon-qualifiers/
      title: "Kaminsa names Rugby 7s provisional squad for AFCON qualifiers"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/15/arrows-eyes-league-coronation/
      title: "Arrows eyes league coronation"
    - source: News Diggers!
      url: https://diggers.news/business/2024/05/15/govt-must-examine-why-windfall-tax-failed-reintroduce-it-zica/
      title: "Govt must examine why windfall tax failed, reintroduce it – ZiCA"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/05/15/banker-recounts-how-pf-cash-deposits-were-made-using-mwila-as-reference/
      title: "Banker recounts how PF cash deposits were made using “Mwila” as reference"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/15/hh-becomes-first-ever-champion-of-foundational-learning-in-africa/
      title: "HH becomes first-ever champion of foundational learning in Africa"
---