---
title: "Thursday, August 22nd, 2024"
description: "In episode 291 of the Zed News Podcast, host Ayanda discusses ZESCO's increasing loadshedding hours to 17 and applying for a 156% electricity tariff hike, which Dr. Caleb Fundanga warns will negatively impact the exchange rate. MP Brian Mundubile criticizes UPND's three-year celebration, while President Hakainde Hichilema reflects on improving project management. Edith Nawakwi's sedition matter moves forward, and Munir Zulu's seditious practices charge is defended by three MPs. A Batoka Sky helicopter emergency lands in Livingstone, and eight maize meal brands contaminated with aflatoxin are named. Fashion Sakala's national team return remains uncertain, while the Zambia women's hockey team qualifies for the 2025 Africa Cup of Nations. TAZAMA Pipelines declares dividends and advances in constructing a new multi-product pipeline. Finally, the Director of Public Prosecutions acknowledges technology's transformative impact on Zambia's criminal justice system."
tags: episode
episode: "291"
date: 2024-08-22T14:39:43.270007+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-08-22_podcast_dist.mp3
    length: 3 minutes, 54 seconds
    size: 3.61 MB
rss:
    enclosure_length: 3787812
    itunes_duration: 03:54
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 30 seconds
words:
    count: 550
    rate: 141 words per minute
references:
    count: 26
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/22/increased-load-shedding-hours-will-affect-exchange-rate-fundanga/
      title: "Increased load shedding hours will affect exchange rate – Fundanga"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134225
      title: "Cops pick up manager for blocking inspectors"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134220
      title: "Police warn, caution Jay Jay’s sister"
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/22/tazama-declares-k89-6m-dividend-to-zambia/
      title: "TAZAMA declares K89.6m dividend to Zambia"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/22/mps-defend-munir-his-statement-that-hh-would-dissolve-parley-was-a-joke/
      title: "MPs defend Munir: “His statement that HH would dissolve Parley was a joke”"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/22/helicopter-that-landed-in-sewer-pond-was-carrying-2-american-tourists-police/
      title: "Helicopter that landed in sewer pond was carrying 2 American tourists – Police"
    - source: Mwebantu
      url: https://www.mwebantu.com/government-names-eight-maize-meal-brands-contaminated-with-aflatoxin/
      title: "Government names eight maize meal brands contaminated with Aflatoxin."
    - source: Mwebantu
      url: https://www.mwebantu.com/i-havent-picked-a-team-yet-avram-grant/
      title: "‘ I haven’t picked a team yet,’ Avram Grant"
    - source: Mwebantu
      url: https://www.mwebantu.com/nawakwi-asks-government-to-name-contaminated-mealie-meal-brand/
      title: "Nawakwi asks Government to name ‘contaminated’ mealie meal brand."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134244
      title: "Govt inks US$1m Heroes deal"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134232
      title: "Tayali rallies SADC on regional railway master plan"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134242
      title: "SuperSport defends AI camera"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134235
      title: "Women’s hockey team make it to 2025 Africa Cup of Nations"
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/22/our-methodical-way-of-running-things-is-working-hh/
      title: "Our methodical way of running things is working – HH"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-fake-uth-doctors-in-court/
      title: "Two ‘fake’ UTH doctors in court."
    - source: Mwebantu
      url: https://www.mwebantu.com/seditious-practices-case-against-nawakwi-closed-awaiting-ruling-as-mingalato-clip-is-played-in-court/
      title: "Seditious practices case against Nawakwi closed awaiting ruling, as Mingalato clip is played in court."
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/22/only-those-in-fic-report-can-celebrate-upnds-3yrs-in-power-mundubile/
      title: "Only those in FIC report can celebrate UPND’s 3yrs in power – Mundubile"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/08/22/zesco-should-prepare-citizens-for-kariba-shutdown/
      title: "Zesco should prepare citizens for Kariba shutdown"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134229
      title: "Embrace sustainable climate change initiatives – BoZ"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134227
      title: "FQM spends $600m at Kansanshi"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134223
      title: "DEC nabs Zambian gospel artiste"
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/22/we-urged-govt-to-update-nation-on-aflatoxin-a-month-ago-vaz/
      title: "We urged govt to update nation on aflatoxin a month ago – VAZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/bally-alekontolola-president-hichilema-assures-volunteer-health-workers-across-the-country/
      title: "Bally alekontolola, President Hichilema assures volunteer health workers across the country."
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/22/state-closes-its-case-in-nawakwis-sedition-matter/
      title: "State closes its case in Nawakwi’s sedition matter"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/22/with-technological-advancement-we-now-use-social-media-posts-as-evidence-dpp/
      title: "With technological advancement, we now use social media posts as evidence – DPP"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134237
      title: "Chipolopolo setback…Musonda joins Daka on sidelines"
---
