---
title: "Thursday, May 16th, 2024"
description: "In this episode of the Zed News Podcast, Ayanda covers various news stories, including Muzala Samukonga's participation in the Rabat/Marrakech Wanda Diamond League, FNB Zambia's K4 million sponsorship for the 2024 FNB Kopala Run, the U17 girls' team's confidence ahead of their Uganda rematch, and the dismissal of the warrant of arrest for Geoffrey Bwalya Mwamba. Additionally, the Vice-President Mutale Nalumango discusses the challenges faced by the government, and Finance Minister Situmbeko Musokotwane shares his thoughts on Zambia's debt restructuring. A tragic incident in Kitwe is also discussed, where a woman set her house on fire, resulting in her husband's death and her surrender to the police."
tags: episode
episode: "246"
date: 2024-05-16T12:09:10.405834+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-05-16_podcast_dist.mp3
    length: 3 minutes, 57 seconds
    size: 3.66 MB
rss:
    enclosure_length: 3836919
    itunes_duration: 03:57
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 56 seconds
words:
    count: 550
    rate: 139 words per minute
references:
    count: 11
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/16/cleaning-mess-is-harder-hh/
      title: "Cleaning mess is harder – HH"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/16/nobody-has-died-of-hunger-because-weve-put-measures-in-place-upnd/
      title: "Nobody has died of hunger because we’ve put measures in place – UPND"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/16/masebo-launches-service-delivery-charters-for-statutory-boards/
      title: "Masebo launches Service Delivery Charters for Statutory Boards"
    - source: News Diggers!
      url: https://diggers.news/business/2024/05/16/musokotwane-says-zambia-doesnt-need-a-sinking-fund-to-clear-debt/
      title: "Musokotwane says Zambia doesn’t need a sinking fund to clear debt"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/05/16/court-revokes-bench-warrant-issued-against-gbm/
      title: "Court revokes bench warrant issued against GBM"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/16/muzala-continues-to-chase-olympics-qualification-at-wanda-diamond-league/
      title: "Muzala continues to chase Olympics qualification at Wanda Diamond League"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/16/fnb-to-spend-k4m-on-kopala-run/
      title: "FNB to spend K4m on Kopala Run"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/16/u17-girls-bubbling-with-confidence-ahead-of-uganda-clash/
      title: "U17 girls bubbling with confidence ahead of Uganda clash"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/05/16/woolley-posed-like-a-boyish-socialite-but-he-has-been-a-fantastic-diplomat/
      title: "Woolley posed like a boyish socialite, but he has been a fantastic diplomat"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/16/be-patient-pain-is-inevitable-when-squeezing-a-boil-insists-nalumango/
      title: "Be patient, pain is inevitable when squeezing a boil, insists Nalumango"
    - source: Mwebantu
      url: https://www.mwebantu.com/kitwe-woman-surrenders-to-police-after-setting-husband-on-fire/
      title: "Kitwe woman surrenders to police after setting husband on fire"
---