---
title: "Wednesday, February 21st, 2024"
description: Zambia mourns the loss of Copper Queens striker Norin Betani, who passed away after falling ill in camp before the Olympic Games qualifier against Ghana. The government has declared two days of National Mourning in solidarity with Namibia for the late President Hage Geingob. Yango, an international ride-hailing service, has announced support measures for partner drivers in Zambia. A doctor suing Mutale Mwanza for assault damages faces difficulties serving court documents, and a bench warrant has been issued for former RTSA CEO Zindaba Soko. The government remains uncertain about the upcoming maize yield but assures food security until the next harvest. The IMF praises the Zambian government for improving transparency and fighting corruption. China condemns the US for vetoing a UN Security Council resolution demanding an immediate ceasefire in Gaza.
tags: episode
episode: "185"
date: 2024-02-21T14:14:33.945803+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-02-21_podcast_dist.mp3
    length: 3 minutes, 18 seconds
    size: 3.06 MB
rss:
    enclosure_length: 3205388
    itunes_duration: 03:18
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 17 seconds
words:
    count: 460
    rate: 139 words per minute
references:
    count: 11
    sources: 3
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/yango-announces-support-measures-for-drivers-in-zambia/?utm_source=rss&utm_medium=rss&utm_campaign=yango-announces-support-measures-for-drivers-in-zambia
      title: "YANGO announces support measures for drivers in Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/israel-gaza-china-condemns-us-veto-of-call-for-immediate-ceasefire-at-un/
      title: "Israel Gaza: China condemns US veto of call for immediate ceasefire at UN"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/imf-praises-govt-for-transparency-fighting-corruption/
      title: "IMF praises Govt for Transparency & fighting corruption"
    - source: Mwebantu
      url: https://www.mwebantu.com/country-is-food-secure-but-bumper-harvest-uncertain-says-minister-of-agriculture/?utm_source=rss&utm_medium=rss&utm_campaign=country-is-food-secure-but-bumper-harvest-uncertain-says-minister-of-agriculture
      title: "Country is food secure, but bumper harvest uncertain, says Minister of Agriculture"
    - source: Mwebantu
      url: https://www.mwebantu.com/doctor-who-sued-mutale-mwanza-says-the-tv-personality-has-been-elusive/?utm_source=rss&utm_medium=rss&utm_campaign=doctor-who-sued-mutale-mwanza-says-the-tv-personality-has-been-elusive
      title: "Doctor who sued Mutale Mwanza says the TV personality has been elusive"
    - source: Mwebantu
      url: https://www.mwebantu.com/betani-reported-for-camp-unwell-faz-regrets-footballers-demise/?utm_source=rss&utm_medium=rss&utm_campaign=betani-reported-for-camp-unwell-faz-regrets-footballers-demise
      title: "‘Betani reported for camp unwell,’ FAZ regrets footballer’s demise"
    - source: Mwebantu
      url: https://www.mwebantu.com/court-issues-bench-warrant-against-zindaba-soko/?utm_source=rss&utm_medium=rss&utm_campaign=court-issues-bench-warrant-against-zindaba-soko
      title: "Court issues bench warrant against Zindaba Soko"
    - source: Mwebantu
      url: https://www.mwebantu.com/flags-to-fly-at-half-mast-as-zambia-mourns-late-namibian-president-hage-geingob-in-solidarity/?utm_source=rss&utm_medium=rss&utm_campaign=flags-to-fly-at-half-mast-as-zambia-mourns-late-namibian-president-hage-geingob-in-solidarity
      title: "Flags to fly at half-mast as Zambia mourns late Namibian President Hage Geingob in solidarity"
    - source: MUVI Television
      url: https://www.muvitv.com/2024/02/copper-queens-striker-dies-after-falling-ill-in-camp-before-ghana-outing/?utm_source=rss&utm_medium=rss&utm_campaign=copper-queens-striker-dies-after-falling-ill-in-camp-before-ghana-outing
      title: "COPPER QUEENS STRIKER DIES AFTER FALLING ILL IN CAMP BEFORE GHANA OUTING"
    - source: Mwebantu
      url: https://www.mwebantu.com/copper-queens-striker-betani-dies/?utm_source=rss&utm_medium=rss&utm_campaign=copper-queens-striker-betani-dies
      title: "Copper Queens striker, Betani dies"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/president-hichilema-challenges-cabinet-ministers/
      title: "President HICHILEMA challenges Cabinet Ministers"
---
