---
title: "Thursday, December 5th, 2024"
description: "In this episode, we cover the latest news from Zambia and beyond, including developments in football, a crackdown on cigarette smuggling, and updates on local court cases. We also discuss economic initiatives, a mysterious flu-like disease in the DRC, and Zambia's swimming team's success at the Africa Aquatics Zone 4 Championships."
tags: episode
episode: "366"
date: 2024-12-05T14:50:38.951734+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-12-05_podcast_dist.mp3
    length: 5 minutes, 14 seconds
    size: 4.83 MB
rss:
    enclosure_length: 5063006
    itunes_duration: 05:14
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 19 seconds
words:
    count: 740
    rate: 141 words per minute
references:
    count: 23
    sources: 4
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135687
      title: "Man (25) convicted of raping 81-year-old woman"
    - source: Mwebantu
      url: https://www.mwebantu.com/24-year-man-found-guilty-of-raping-sodomizing-83-year-old-nakulu/
      title: "24-year man found guilty of raping, sodomizing 83-year-old ‘nakulu’."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/05/i-wont-stop-scoring-barbra/
      title: "I won’t stop scoring – Barbra"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/12/05/court-of-appeal-dismisses-zamras-matter-challenging-high-court-ruling-in-case-against-honey-bee/
      title: "Court dismisses ZAMRA’s appeal in case against Honeybee"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/12/05/court-convicts-shantumbu-man-who-raped-81-yr-old-woman/
      title: "Court convicts Shantumbu man who raped 81-yr-old woman"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/unknown-flu-like-disease-kills-at-least-79-people-in-dr-congo/
      title: "Unknown flu-like disease kills at least 79 people in DR Congo"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/u17-chipolopolo-face-namibia/
      title: "U17 Chipolopolo face Namibia"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/05/van-nistelrooy-sees-potential-in-patson/
      title: "Van Nistelrooy sees potential in Patson"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/05/nalumango-talks-like-she-doesnt-live-in-zambia-kampyongo/
      title: "Nalumango talks like she doesn’t live in Zambia – Kampyongo"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/05/zra-impounds-armaguard-vehicle-used-for-smuggling-cigarettes/
      title: "ZRA impounds Armaguard vehicle used for smuggling cigarettes"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135683
      title: "IDC plans 40,000 jobs"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zacci-backs-lobito-corridor/
      title: "ZACCI backs Lobito Corridor"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambiadrc-to-form-commission-to-probe-zns-officers-death/
      title: "Zambia,DRC to form commission to probe ZNS officer’s death"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135689
      title: "‘Be reasonable!’"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/05/our-generators-will-continue-to-play-a-crucial-role-even-after-power-crisis-subsides-zesco/
      title: "Our generators will continue to play a crucial role even after power crisis subsides – Zesco"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/faz-to-revamp-school-football-league-in-ep/
      title: "FAZ to revamp school football league in EP"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/tambatamba-concerned-with-poor-work-culture-in-public-service/
      title: "Tambatamba concerned with poor work culture in public service"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/12/05/miles-seeks-courts-relief-to-enforce-ngonas-removal-as-pf-sg/
      title: "Miles seeks court’s relief to enforce Ng’ona’s removal as PF SG"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambian-swimmers-impress-with-medals-in-namibia/
      title: "Zambian swimmers impress with medals in Namibia"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/05/player-selection-nothing-to-worry-about-wada/
      title: "Player selection nothing to worry about – Wada"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/05/bakala-declares-u17-ready-to-face-namibia/
      title: "Bakala declares U17 ready to face Namibia"
    - source: Mwebantu
      url: https://www.mwebantu.com/smugglers-use-armaguard-vehicle-to-attempt-to-smuggle-cigarettes/
      title: "Smugglers use Armaguard vehicle to attempt to smuggle cigarettes."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-determined-to-sustain-95-95-95-target/
      title: "Govt determined to sustain 95-95-95 target"
---
