---
title: "Monday, November 4th, 2024"
description: "Today's episode of the Zed News Podcast covers a range of topics, including environmental concerns, job hunting tips, and community engagement in land investments. The episode also delves into political news, including Zambia's external debt and corruption crackdown, as well as sports updates and a tribute to musical legend Quincy Jones."
tags: episode
episode: "343"
date: 2024-11-04T14:49:02.472612+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-11-04_podcast_dist.mp3
    length: 5 minutes, 17 seconds
    size: 4.88 MB
rss:
    enclosure_length: 5116085
    itunes_duration: 05:17
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 46 seconds
words:
    count: 713
    rate: 135 words per minute
references:
    count: 18
    sources: 5
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/11/04/interview-anxiety/
      title: "Interview Anxiety"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/04/govt-has-only-made-debt-service-to-multilateral-creditors-dr-musokotwane/
      title: "Govt has only made debt service to multilateral creditors – Dr Musokotwane"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135415
      title: "BoZ hails financial sector evolution"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135412
      title: "Partner with us, Musokotwane woos investors"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135409
      title: "Bowman’s woes deepen"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135406
      title: "HH pledges to refurbish Namwala’s Lubanga Shabongwe school"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/quincy-jones-giant-of-us-music-has-died-aged-91/
      title: "Quincy Jones, giant of US music, has died aged 91"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-invites-japanese-investment-to-strengthen-energy-sector-and-foster-regional-stability/
      title: "Zambia Invites Japanese Investment to Strengthen Energy Sector and Foster Regional Stability"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135419
      title: "HH salutes Copper Queens"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/11/04/cage-forest-reserves-encroachers/?utm_source=rss&utm_medium=rss&utm_campaign=cage-forest-reserves-encroachers
      title: "Cage forest reserves encroachers"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/11/04/the-role-of-community-engagement-in-fostering-sustainable-land-investments-in-zambia/
      title: "The Role of Community Engagement in Fostering Sustainable Land Investments in Zambia"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/04/buffaloes-dim-mutondo-stars/
      title: "Buffaloes dim Mutondo Stars"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/04/its-not-easy-to-ban-charcoal-minus-giving-people-alternatives-chikwanda/
      title: "It’s not easy to ban charcoal minus giving people alternatives – Chikwanda"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/04/resign-or-get-fired-kangwa-tells-corrupt-pss-ceos/
      title: "Resign or get fired, Kangwa tells corrupt PSs, CEOs"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/04/kundananji-sends-bay-fc-to-nwsl-playoffs/
      title: "Kundananji sends Bay FC to NWSL Playoffs"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/04/284-former-standard-chartered-bank-employees-sue-company-over-pensions/
      title: "284 former Standard Chartered Bank employees sue company over pensions"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambians-assured-of-improved-election-integrity-soon/
      title: "Zambians assured of improved election integrity soon"
    - source: Mwebantu
      url: https://www.mwebantu.com/bowman-lusambo-allegedly-dupes-mp-in-k850000-silverest-house-sale/
      title: "Bowman Lusambo allegedly dupes MP in K850,000 Silverest house sale."
---
