---
title: "Monday, August 19th, 2024"
description: "In this episode, the Zed News Podcast discusses a fraudulent scheme involving medical staff and Social Welfare officials, the passing of former First Lady of Zambia Maureen Mwanawasa, Zambia's vulnerability to climate change, and political corruption cases. The episode also covers sports, business news, and President Hichilema's financial donations to charity."
tags: episode
episode: "288"
date: 2024-08-19T17:39:21.941970+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-08-19_podcast_dist.mp3
    length: 4 minutes, 58 seconds
    size: 4.58 MB
rss:
    enclosure_length: 4804704
    itunes_duration: 04:58
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 33 seconds
words:
    count: 675
    rate: 136 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134149
      title: "ZEDF raises $25m funding support"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134144
      title: "Regional stability vital!"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/19/hh-donates-his-salary-allowances-to-charity-jito/
      title: "HH donates his salary, allowances to charity – Jito"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/19/upnd-doesnt-know-what-its-doing-in-corruption-fight-evidence-is-everywhere-wynter/
      title: "UPND doesn’t know what it’s doing in corruption fight, evidence is everywhere – Wynter"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/19/people-of-luapula-thought-i-was-lame-because-im-hichilema-jokes-hh/
      title: "People of Luapula thought I was lame because I’m Hichilema, jokes HH"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/19/some-people-are-ditching-sp-because-we-refused-to-join-uka-musumali/
      title: "Some people are ditching SP because we refused to join UKA – Musumali"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/19/a-letter-to-maureen-mwanawasa/
      title: "A Letter to Maureen Mwanawasa"
    - source: Mwebantu
      url: https://www.mwebantu.com/chinese-man-torches-farmers-house-after-son-steals-precious-stone/
      title: "Chinese man torches farmer’s house after son steals precious stone."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134160
      title: "Chinyemba crowned African champion"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134157
      title: "Under-par Zesco lose to Dynamos"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/08/19/can-zambia-weather-the-storm-climate-crisis-and-policy-response/
      title: "Can Zambia Weather the Storm? Climate Crisis and Policy Response"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/08/19/lungus-suspicious-silence-on-jay-jays-disappearance-and-his-abuse-of-the-mp/
      title: "Lungu’s suspicious silence on Jay Jay’s disappearance and his abuse of the MP"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/19/court-hears-how-malanji-pressured-mof-to-fund-procurement-of-properties-in-turkey/
      title: "Court hears how Malanji pressured MoF to fund procurement of properties in Turkey"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134155
      title: "‘You snooze, you lose’…We made mistakes and got punished, Arrows bemoan"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134153
      title: "‘Brave’ Rangers batter MUZA"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134141
      title: "Hichilema’s leadership outstanding – SADC summit"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134151
      title: "State embarks on carbon project developers capacity building"
    - source: Mwebantu
      url: https://www.mwebantu.com/erb-declares-emergency-receives-zescos-application-for-emergency-tariff-adjustment/
      title: "ERB declares emergency, receives Zesco’s application for emergency tariff adjustment"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134167
      title: "Diggers bury brooding ‘Powerhouse’ Lusaka"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/19/investigation-reveals-fraud-corruption-at-cancer-hospital-uth/
      title: "Investigation reveals fraud, corruption at Cancer Hospital, UTH"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/19/well-not-support-unnatural-sexual-practices-insists-hh/
      title: "We’ll not support unnatural sexual practices, insists HH"
    - source: Mwebantu
      url: https://www.mwebantu.com/former-first-lady-dr-maureen-mwanawasa-mourned-in-solemn-ceremony/
      title: "Former First Lady Dr Maureen Mwanawasa mourned in solemn ceremony"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134146
      title: "CEC pays out $2.4m interest on green bond"
---