---
title: "Thursday, March 28th, 2024"
description: This is episode 211 of the Zed News Podcast.
tags: episode
episode: "211"
date: 2024-03-28T13:38:52.508894+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-03-28_podcast_dist.mp3
    length: 4 minutes
    size: 3.69 MB
rss:
    enclosure_length: 3870358
    itunes_duration: 04:00
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 37 seconds
words:
    count: 530
    rate: 132 words per minute
references:
    count: 13
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2024/03/28/the-copper-queens-zambias-unstoppable-storm-descends-on-the-olympic-stage/
      title: "The Copper Queens: Zambia’s Unstoppable Storm Descends on the Olympic Stage"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/28/zambias-debt-restructuring-deal-secures-every-childs-future-masisi/
      title: "Zambia’s debt restructuring deal secures every child’s future – Masisi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/28/ti-z-zcid-sign-mou-to-enhance-advocacy-efforts-on-political-party-funding/
      title: "TI-Z, ZCID sign MoU to enhance advocacy efforts on political party funding"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/28/organisations-in-us-want-to-meet-musokotwane-following-debt-restructuring-kanyama/
      title: "Organisations in US want to meet Musokotwane following debt restructuring – Kanyama"
    - source: Mwebantu
      url: https://www.mwebantu.com/16-year-old-unlicensed-driver-in-court-for-murder/?utm_source=rss&utm_medium=rss&utm_campaign=16-year-old-unlicensed-driver-in-court-for-murder
      title: "16-year-old unlicensed driver in court for murder"
    - source: Mwebantu
      url: https://www.mwebantu.com/botswana-president-commends-zambias-debt-restructuring-success/?utm_source=rss&utm_medium=rss&utm_campaign=botswana-president-commends-zambias-debt-restructuring-success
      title: "Botswana President commends Zambia’s debt restructuring success."
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/28/rtsa-cautions-motorists-ahead-of-4d-holiday-dont-drink-and-drive/
      title: "RTSA cautions motorists ahead of 4D holiday: “Don’t drink and drive”"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/28/bigtree-pumps-k400000-towards-abu-title-fight/
      title: "Bigtree pumps K400,000 towards ABU title fight"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/03/28/lungu-has-taught-us-a-debt-lesson-next-time-a-politician-says-i-have-no-vision-believe-him/
      title: "Lungu has taught us a debt lesson, next time a politician says I have no vision, believe him"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/28/green-eagles-dismiss-namazaba/
      title: "Green Eagles dismiss Namazaba"
    - source: News Diggers!
      url: https://diggers.news/business/2024/03/28/airtel-zambia-hits-10-million-customers/
      title: "Airtel Zambia hits 10 million customers"
    - source: Mwebantu
      url: https://www.mwebantu.com/jean-chisenga-suspended-for-30-days-for-gross-misconduct/?utm_source=rss&utm_medium=rss&utm_campaign=jean-chisenga-suspended-for-30-days-for-gross-misconduct
      title: "Jean Chisenga suspended for 30 days for gross misconduct"
    - source: Mwebantu
      url: https://www.mwebantu.com/dangerous-traditional-doctor-in-court-for-murder/?utm_source=rss&utm_medium=rss&utm_campaign=dangerous-traditional-doctor-in-court-for-murder
      title: "Dangerous traditional doctor in court for murder"
---
