---
title: "Thursday, October 17th, 2024"
description: "Today's episode of the Zed News Podcast covers various updates from Zambia, including developments in the banking sector, judicial matters, and financial concerns. The podcast also touches on employment practices, economic news, environmental issues, sports, and the mining sector, featuring updates on government policies, investments, and initiatives aimed at promoting growth and development in the country."
tags: episode
episode: "331"
date: 2024-10-17T15:10:05.797723+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-10-17_podcast_dist.mp3
    length: 5 minutes, 30 seconds
    size: 5.07 MB
rss:
    enclosure_length: 5313782
    itunes_duration: 05:30
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 50 seconds
words:
    count: 732
    rate: 133 words per minute
references:
    count: 25
    sources: 4
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/maize-imports-from-tanzania-on-course-fra/
      title: "Maize imports from Tanzania on course – FRA"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/17/boz-asks-court-to-dismiss-british-banks-case-challenging-liquidation-of-investrust/
      title: "BoZ asks court to dismiss British bank’s case challenging liquidation of Investrust"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-signs-us491m-farm-to-market-compact-deal/
      title: "Zambia signs US$491m Farm to Market Compact deal"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/17/public-sector-recruitment-must-be-merit-based-tiz/
      title: "Public sector recruitment must be merit-based – TIZ"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/17/we-changed-zema-management-because-the-one-before-was-very-corrupt-chikote/
      title: "We changed ZEMA management because the one before was very corrupt – Chikote"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/17/fuel-shortages-worsen-as-erb-explains-supply-challenges/
      title: "Fuel shortages worsen, as ERB explains supply challenges"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135248
      title: "‘Let’s maximise budget benefits’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135238
      title: "AfDB nods $2.7bn for economic interventions"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135245
      title: "Kamwambi interred"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135240
      title: "$34m mining machinery plant opens in Chambishi"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/17/concourt-president-appears-before-jcc-in-suspended-judges-case/
      title: "ConCourt president testifies in JCC case involving her suspended Judges"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/17/non-remittance-of-over-k1bn-of-non-tax-revenues-worries-mof/
      title: "Non remittance of over K1bn of non-tax revenues worries MoF"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/17/kwacha-stability-due-to-upnds-policies-musokotwane/
      title: "Kwacha stability due to UPND’s policies – Musokotwane"
    - source: Mwebantu
      url: https://www.mwebantu.com/gbm-appeals-against-five-year-jail-term/
      title: "GBM appeals against five year jail term."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135243
      title: "‘AFCON fight still on’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135234
      title: "Lake Kariba water levels keep dropping"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135236
      title: "Saudi firm closes in on FQM stake"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135232
      title: "‘Recover K1bn non-tax revenue!’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135229
      title: "Veep calls for use of climate-resilient indigenous seeds in agro sector"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135227
      title: "Court dismisses Changala’s application to summon HH, 35 others"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/17/findlay-asks-court-to-release-his-passport-as-he-seeks-medical-attention-in-sa/
      title: "Findlay asks court to release his passport as he seeks medical attention in SA"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/17/zema-approves-116-projects-worth-1-91bn/
      title: "ZEMA approves 116 projects worth $1.91bn"
    - source: Mwebantu
      url: https://www.mwebantu.com/11-juldan-motors-buses-grounded-following-inactive-gps/
      title: "11 Juldan Motors buses grounded following inactive GPS"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/17/gbm-appeals-his-5-year-sentence/
      title: "GBM appeals his 5-year sentence"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/court-dismisses-changalas-application-to-subpoena-hh-veep/
      title: "Court dismisses CHANGALA’s application to subpoena HH, VEEP"
---
