---
title: "Tuesday, December 31st, 2024"
description: "In this episode, we cover a range of news topics from Zambia, including the country's achievements on the international stage, a pressing oral health crisis, and developments in politics, including the Patriotic Front's search for a new leader and former President Edgar Lungu's declaration as the TONSE Alliance's presidential candidate."
tags: episode
episode: "384"
date: 2024-12-31T14:50:09.440958+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-12-31_podcast_dist.mp3
    length: 6 minutes, 12 seconds
    size: 5.72 MB
rss:
    enclosure_length: 5993801
    itunes_duration: 06:12
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 50 seconds
words:
    count: 861
    rate: 139 words per minute
references:
    count: 18
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/31/id-rather-have-floods-than-drought-hh/
      title: "I’d rather have floods than drought – HH"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/12/31/looking-ahead-with-pride-the-zambia-high-commission-to-australia-and-new-zealand-celebrates-2024s-successes/
      title: "Looking ahead with pride: The Zambia High Commission to Australia and New Zealand celebrates 2024’s successes"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/31/copper-export-earnings-rose-by-18-7-in-nov-zamstats/
      title: "Copper export earnings rose by 18.7% in Nov – ZamStats"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135755
      title: "K2.2bn disbursed for CDF"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135750
      title: "ZDA posts $9.8bn investments"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/12/31/chipata-compound-woman-gets-5yrs-for-assaulting-a-child/
      title: "Chipata compound woman gets 5yrs for assaulting a child"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/12/31/the-burden-of-oral-diseases-in-zambia-the-silent-epidemic/
      title: "The Burden of Oral Diseases in Zambia – The Silent Epidemic"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/man-utd-relegation-a-possibility-says-amorim/
      title: "Man Utd relegation ‘a possibility’ says Amorim"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-strengthens-ties-with-catholic-church/
      title: "HH strengthens ties with Catholic Church"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/31/antonio-forms-democratic-progressive-party/
      title: "Antonio forms Democratic Progressive Party"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-am-the-tonse-alliance-candidate-for-2026-says-ecl/
      title: "‘I am the Tonse Alliance candidate for 2026,’ says ECL"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135753
      title: "President has lived up to his words – Mweetwa"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135757
      title: "‘TAZARA, China deal to be finalised next year’"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/12/31/if-pf-members-want-mundubile-give-him-an-opportunity-to-try/
      title: "If PF members want Mundubile, give him an opportunity to try"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/31/im-the-only-presidential-candidate-endorsed-by-tonse-for-2026-lungu/
      title: "I’m the only presidential candidate endorsed by Tonse for 2026 – Lungu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/suspects-flee-lukulu-police-station-custody/
      title: "Suspects flee Lukulu Police Station custody"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/31/zda-credits-political-leadership-after-actualising-9-83bn-from-investments-between-2021-24/
      title: "ZDA credits political leadership after actualising $9.83bn from investments between 2021/24"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/fertiliser-distribution-hits-100-success-rate/
      title: "Fertiliser distribution hits 100% success rate"
---