---
title: "Tuesday, October 8th, 2024"
description: "This episode of the Zed News Podcast covers various news from Zambia, including sports updates on the national football team and Nkana FC, social issues like condom distribution in schools, and infrastructure projects. The episode also reports on mine accidents, economic news, and the Presidential Delivery Unit Forum, finishing off with additional sports updates."
tags: episode
episode: "324"
date: 2024-10-08T13:43:15.835174+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-10-08_podcast_dist.mp3
    length: 4 minutes, 45 seconds
    size: 4.38 MB
rss:
    enclosure_length: 4591546
    itunes_duration: 04:45
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 1 second
words:
    count: 681
    rate: 143 words per minute
references:
    count: 20
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/08/20-feared-dead-after-mine-accident-in-nangoma/
      title: "10 die, five missing after mine accident in Nangoma"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/08/nrfa-to-hand-over-3-toll-gates-to-macro-ocean/
      title: "NRFA to hand over 3 toll gates to Macro Ocean"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/08/injury-knocks-chilufya-banda-out-of-chad-clash/
      title: "Injury knocks Chilufya, Banda out of Chad clash"
    - source: Mwebantu
      url: https://www.mwebantu.com/10-people-die-in-mine-accident-in-mumbwa-district-police-say/
      title: "10 people die in mine accident in Mumbwa district, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/eu-to-spend-20m-euros-to-complete-construction-of-8-schools/
      title: "EU to spend 20m Euros to complete construction of 8 schools"
    - source: Mwebantu
      url: https://www.mwebantu.com/john-sangwa-abandons-proceedings-as-concort-sets-december-10-to-rule-on-ecl-eligibility-judgement/
      title: "John Sangwa ‘abandons’ proceedings, as Concort sets December 10 to rule on ECL eligibility judgement."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/10/08/we-need-back-to-back-afcon-appearances-kamanga/
      title: "We need back to back AFCON appearances – Kamanga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zacci-rwandas-private-sector-pen-mou-to-enhance-trade-and-investment/
      title: "ZACCI, Rwanda’s private sector pen MOU to enhance trade and investment"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/nkana-put-coach-bakala-on-leave/
      title: "Nkana put coach Bakala on leave"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/08/3m-copper-production-target-should-also-include-gold-sugilite-hambayi/
      title: "3m copper production target should also include gold, sugilite – Hambayi"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/08/magistrate-commits-iba-dgs-murder-suspects-to-high-court/
      title: "Magistrate commits IBA DG’s murder suspects to High Court"
    - source: Mwebantu
      url: https://www.mwebantu.com/mpika-man-on-the-run-after-slicing-former-wifes-boyfriends-face/
      title: "Mpika man on the run after slicing former wife’s boyfriend’s face"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/gold-mine-accident-search-for-trapped-miners-continues/
      title: "Gold Mine Accident: Search for trapped miners continues"
    - source: News Diggers!
      url: https://diggers.news/business/2024/10/08/public-infrastructure-projects-lack-supervision-eiz/
      title: "Public infrastructure projects lack supervision – EIZ"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/10/08/court-to-rule-on-brebnars-application-to-subpoena-hh-nalumango/
      title: "Court to rule on Brebnar’s application to subpoena HH, Nalumango"
    - source: Mwebantu
      url: https://www.mwebantu.com/nkana-send-coaches-farming/
      title: "Nkana send coaches farming."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-to-officiate-on-pdu-delivery-forum/
      title: "HH to officiate at PDU delivery Forum"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/10/08/schools-should-consult-parents-before-distributing-condoms-to-underage-pupils/
      title: "Schools should consult parents before distributing condoms to underage pupils"
    - source: News Diggers!
      url: https://diggers.news/local/2024/10/08/we-spend-about-k350000-monthly-to-run-each-generator-in-markets-zesco/
      title: "We spend about K350,000 monthly to run each generator in markets – Zesco"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/frankie-and-kangwa-join-chipolopolo-camp/
      title: "Frankie and Kangwa join Chipolopolo camp"
---
