---
title: "Thursday, April 11th, 2024"
description: "Zed News Podcast episode 221 features news items on the Copper Queens' Olympic qualification, the Zambian futsal team's World Cup qualifier, a Pakistani national's court appearance, restructuring Zesco for energy diversification, a libel case involving a former Judiciary research advocate, the league lead of Red Arrows, salutes to the Copper Queens, Chinese contributions in Zambia, criticism of former president Edgar Lungu, and various other local and international news."
tags: episode
episode: "221"
date: 2024-04-11T12:09:26.081421+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-04-11_podcast_dist.mp3
    length: 6 minutes, 42 seconds
    size: 6.17 MB
rss:
    enclosure_length: 6464630
    itunes_duration: 06:42
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 6 seconds
words:
    count: 945
    rate: 141 words per minute
references:
    count: 22
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/11/we-want-to-reach-the-semifinal-says-cristoforetti-as-zambia-faces-ghana/
      title: "We want to reach the semifinal, says Cristoforetti as Zambia faces Ghana"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/11/lwandamina-calm-over-arrows-league-lead/
      title: "Lwandamina calm over Arrows’ league lead"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/04/11/another-daring-chinese-criminal-syndicate/
      title: "Another daring Chinese criminal syndicate"
    - source: Mwebantu
      url: https://www.mwebantu.com/new-charge-for-outspoken-emmanuel-mwamba/
      title: "New charge for outspoken Emmanuel Mwamba"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/us-inflation-jumps-as-fuel-and-housing-costs-rise/
      title: "US inflation jumps as fuel and housing costs rise"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/11/hh-lungu-salute-copper-queens/
      title: "HH, Lungu salute Copper Queens"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-to-see-new-igaming-trends-in-2024/
      title: "Zambia to see new iGaming trends in 2024"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ictaz-welcomes-busting-of-scam-syndicate/
      title: "ICTAZ welcomes busting of scam syndicate"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nac-challenges-artistes-with-k50000-independence-grants-offer/
      title: "NAC challenges artistes with K50,000 independence grants offer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/biden-vows-ironclad-support-for-israel-amid-iran-attack-fears/
      title: "Biden vows ‘ironclad’ support for Israel amid Iran attack fears"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/trade-kings-pledges-to-enhance-manufacturing-capacity/
      title: "Trade Kings pledges to enhance manufacturing capacity"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/11/olympic-qualification-means-a-lot-to-me-mwape/
      title: "Olympic qualification means a lot to me – Mwape"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/04/11/pakistani-national-denies-possessing-proceeds-of-crime/
      title: "Pakistani national denies possessing proceeds of crime"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/11/zesco-must-be-restructured-to-make-it-efficient-in-diversifying-energy-sources-sensio/
      title: "Zesco must be restructured to make it efficient in diversifying energy sources – Sensio"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/04/11/high-court-strikes-off-judge-mulife-from-his-ex-advocates-libel-case/
      title: "High Court strikes off Judge Mulife from his ex-advocate’s libel case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/qatar-airways-avoids-australian-lawsuit-over-womens-invasive-examinations/
      title: "Qatar Airways avoids Australian lawsuit over women’s invasive examinations"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/11/only-insane-people-can-think-about-bringing-lungu-back-govt/
      title: "Only insane people can think about bringing Lungu back – Govt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kitwe-cholera-cases-not-reducing/
      title: "Kitwe cholera cases not reducing"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/uk-returns-looted-asante-kingdom-artefacts-to-ghana/
      title: "UK returns looted Asante Kingdom artefacts to Ghana"
    - source: Mwebantu
      url: https://www.mwebantu.com/zra-recovers-k3-2-million-in-tax-fraud/
      title: "ZRA recovers K3.2 Million in tax fraud."
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/11/increased-srr-one-of-the-reasons-why-investrust-failed-mukosa/
      title: "Increased SRR one of the reasons why Investrust failed – Mukosa"
    - source: Mwebantu
      url: https://www.mwebantu.com/21-year-old-muchinga-woman-arrested-for-allegedly-indecently-assaulting-a-10-year-old-boy/
      title: "21-year-old Muchinga woman arrested for allegedly indecently assaulting a 10-year-old boy."
---
