---
title: "Thursday, May 23rd, 2024"
description: "Zed News Podcast episode 251, hosted by Ayanda, covers three news items from May 23rd, 2024. A 21-year-old woman is arrested for sharing pornographic videos on social media, pension trustees seek to declare former Education Minister David Mabumba bankrupt, and former President Edgar Lungu offers to appear before police while alleging a night ambush plot."
tags: episode
episode: "251"
date: 2024-05-23T16:07:06.018528+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-05-23_podcast_dist.mp3
    length: 2 minutes
    size: 1.86 MB
rss:
    enclosure_length: 1954849
    itunes_duration: 02:00
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 52 seconds
words:
    count: 308
    rate: 154 words per minute
references:
    count: 3
    sources: 1
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/pension-trustees-want-former-education-minister-david-mabumba-declared-bankrupt/
      title: "Pension trustees want former Education Minister David Mabumba declared bankrupt."
    - source: Mwebantu
      url: https://www.mwebantu.com/kopala-tiktok-star-nabbed-for-spreading-pornographic-materials-on-social-media/
      title: "‘Kopala’ TikTok star nabbed for spreading pornographic materials on social media"
    - source: Mwebantu
      url: https://www.mwebantu.com/former-president-edgar-lungu-offers-to-appear-before-police-alleges-night-ambush-plot/
      title: "Former President Edgar Lungu offers to appear before police, alleges night ambush plot."
---