---
title: "Tuesday, May 7th, 2024"
description: "In this episode of Zed News Podcast, Ayanda discusses various news items including FAZ president Andrew Kamanga's claims of a coordinated plan to discredit the Football House leadership, the Zambian U20 men's handball national team's dominant victory over Namibia, the Africa Boxing Union (ABU) announcing Benin boxer Kouassi Martin Klaklevi as the challenger for Davy Mwale's ABU bantamweight title, and the tragic accident on the Solwezi-Chingola road that resulted in the death of three family members. Other topics include the trial date for the murder case of former Zambia Air Force commander Ronnie Shikapwasha, and the rising cost of living in Zambia."
tags: episode
episode: "239"
date: 2024-05-07T12:08:42.530075+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-05-07_podcast_dist.mp3
    length: 3 minutes, 59 seconds
    size: 3.69 MB
rss:
    enclosure_length: 3864084
    itunes_duration: 03:59
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 25 seconds
words:
    count: 583
    rate: 146 words per minute
references:
    count: 12
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/07/u20-handball-team-trounces-namibia/
      title: "U20 handball team trounces Namibia"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/07/zambia-fails-to-qualify-for-olympics-at-world-relays/
      title: "Zambia fails to qualify for Olympics at World Relays"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/07/faz-preparing-to-champ-chipolopolo-in-europe-kamanga/
      title: "FAZ preparing to camp Chipolopolo in Europe – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/07/to-see-positive-development-citizens-should-find-an-alternative-to-upnd-kafwaya/
      title: "To see positive development, citizens should find an alternative to UPND – Kafwaya"
    - source: Mwebantu
      url: https://www.mwebantu.com/shikapwasha-murder-trial-to-start-on-thursday/
      title: "Shikapwasha murder trial to start on Thursday."
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/07/increasing-load-shedding-hours-will-spell-doom-for-citizens-mundubile/
      title: "Increasing load-shedding hours will spell doom for citizens – Mundubile"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/07/were-aware-of-a-plan-to-soil-faz-leadership-kamanga/
      title: "We’re aware of a plan to soil FAZ leadership – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/07/abu-names-mwales-challenger-for-abu-title/
      title: "ABU names challenger for Mwale’s ABU title"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/05/07/according-to-hh-increasing-zesco-tariffs-when-theres-no-electricity-is-foolishness/
      title: "According to HH, increasing Zesco tariffs when there’s no electricity is foolishness"
    - source: News Diggers!
      url: https://diggers.news/business/2024/05/07/master-mine-has-laid-off-306-workers-numaw/
      title: "Master Mine has laid off 306 workers – NUMAW"
    - source: Mwebantu
      url: https://www.mwebantu.com/three-members-of-the-same-family-die-in-solwezi-rta/
      title: "Three members of the same family die in Solwezi RTA"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-are-aware-of-a-plan-to-soil-faz-and-its-leadershipsays-kamanga/
      title: "“We Are Aware of a Plan to Soil FAZ and Its Leadership,”says Kamanga"
---