---
title: "Wednesday, July 31st, 2024"
description: "This is episode 275 of the Zed News Podcast."
tags: episode
episode: "275"
date: 2024-07-31T14:09:16.008680+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-07-31_podcast_dist.mp3
    length: 4 minutes, 32 seconds
    size: 4.19 MB
rss:
    enclosure_length: 4388836
    itunes_duration: 04:32
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes
words:
    count: 610
    rate: 135 words per minute
references:
    count: 9
    sources: 1
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/31/upnd-promised-to-transform-economy-in-5yrs-not-10-kangombe/
      title: "UPND promised to transform economy in 5yrs, not 10 – Kang’ombe"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/31/zras-revelation-that-only-0-1-of-taxpayers-cover-80-of-the-total-revenue-is-alarming/
      title: "ZRA’s revelation that only 0.1% of taxpayers cover 80% of the total revenue is alarming"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/31/court-finds-lusambo-with-case-to-answer/
      title: "Court finds Lusambo with case to answer"
    - source: News Diggers!
      url: https://diggers.news/business/2024/07/31/our-latest-245m-injection-into-kcm-was-internally-sourced-vedanta/
      title: "Our $245m injection into KCM was internally sourced – Vedanta"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/31/govt-confirms-owing-athletes/
      title: "Govt confirms owing athletes"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/31/player-selection-exercise-excites-faz/
      title: "Player selection exercise excites FAZ"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/31/chinyemba-dominates-indian-boxer-at-olympics/
      title: "Chinyemba dominates Indian boxer at Olympics"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/31/helsb-awards-loans-to-1457-mulungushi-university-students/
      title: "HELSB awards loans to 1,457 Mulungushi University students"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/31/queens-date-germany/
      title: "Queens date Germany"
---