---
title: "Monday, January 1st, 2024"
description: This is the one hundred and forty-eighth episode of the podcast.
tags: episode
episode: "148"
date: 2024-01-01T14:10:41.485948+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-01-01_podcast_dist.mp3
    length: 7 minutes, 23 seconds
    size: 6.80 MB
rss:
    enclosure_length: 7128766
    itunes_duration: 07:23
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 25 seconds
words:
    count: 1,045
    rate: 142 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/01/01/happy-new-year-and-a-reminder-of-some-2023-achievements/
      title: "Happy New Year and a reminder of some 2023 achievements"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/01/kakubos-resignation-a-reminder-that-hh-is-serious-tayali/
      title: "Kakubo’s resignation a reminder that HH is serious – Tayali"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/01/kwacha-is-depreciating-daily-inflation-rise-not-surprising-haabazoka/
      title: "Kwacha is depreciating daily, inflation rise not surprising – Haabazoka"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/01/in-2024-lets-reflect-on-zambias-stability-vj/
      title: "In 2024, let’s reflect on Zambia’s stability – VJ"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/01/zesco-extends-league-lead-to-4-points/
      title: "Zesco extends league lead to 4 points"
    - source: Mwebantu
      url: https://www.mwebantu.com/welder-jailed-365-days-for-stealing-from-gods-house/?utm_source=rss&utm_medium=rss&utm_campaign=welder-jailed-365-days-for-stealing-from-gods-house
      title: "Welder jailed 365 days for stealing from God’s ‘ House’"
    - source: Mwebantu
      url: https://www.mwebantu.com/thieves-vandalise-blood-bank-at-chipata-central-hospital/?utm_source=rss&utm_medium=rss&utm_campaign=thieves-vandalise-blood-bank-at-chipata-central-hospital
      title: "Thieves vandalise blood bank at Chipata Central Hospital"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tsunami-warning-in-japan-after-strong-earthquake/
      title: "Tsunami warning in Japan after strong earthquake"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/police-donate-groceries-to-matero-after-care/
      title: "Police donate Groceries to Matero After Care"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-congratulates-tshisekedi/
      title: "HH Congratulates Tshisekedi"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipolopolo-off-to-saudi-arabia/
      title: "Chipolopolo off to Saudi Arabia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/155923-2/
      title: "Benjamin Kiplagat: Ugandan athlete stabbed to death in Kenya – reports"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/dmmu-to-put-58-water-tanks-in-kanyama/
      title: "DMMU to put 58 water tanks in Kanyama"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/01/wada-mwila-urge-chipolopolo-to-shine-at-afcon/
      title: "Wada, Mwila urge Chipolopolo to shine at AFCON"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/01/absa-cup-format-will-be-changed-reveals-faz/
      title: "ABSA Cup format will be changed, reveals FAZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/livingstone-swarm-public-places-for-new-year/
      title: "Livingstone swarm public places for New Year"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zaf-donates-to-the-community/
      title: "ZAF Donates to the Community"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/01/u17-girls-national-team-to-play-against-the-rest/
      title: "U17 girls national team to play against The Rest"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/01/theres-no-load-shedding-power-cuts-can-be-explained-insists-zesco/
      title: "There’s no load shedding, power cuts can be explained, insists Zesco"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mobile-money-vendors-concerned-over-mobile-money-levy/
      title: "Mobile money vendors concerned over mobile Money levy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/queen-margrethe-ii-danish-monarch-announces-abdication-live-on-tv/
      title: "Queen Margrethe II: Danish monarch announces abdication live on TV"
---
