---
title: "Tuesday, January 9th, 2024"
description: This is the one hundred and fifty-fourth episode of the podcast.
tags: episode
episode: "154"
date: 2024-01-09T14:11:19.217065+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-01-09_podcast_dist.mp3
    length: 9 minutes, 18 seconds
    size: 8.55 MB
rss:
    enclosure_length: 8960264
    itunes_duration: 09:18
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 5 seconds
words:
    count: 1,298
    rate: 140 words per minute
references:
    count: 20
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/09/2024-is-zambias-year-to-prove-its-sporting-prowess-nkandu/
      title: "2024 is Zambia’s year to prove its sporting prowess – Nkandu"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/09/first-family-donates-new-year-presents-to-nalolo-community/
      title: "First family donates New Year presents to Nalolo community"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/09/acc-urges-judiciary-to-embrace-judicial-accountability/
      title: "ACC urges Judiciary to embrace judicial accountability"
    - source: Mwebantu
      url: https://www.mwebantu.com/41-year-old-ex-convict-arrested-after-allegedly-being-found-trafficking-pure-cocaine/?utm_source=rss&utm_medium=rss&utm_campaign=41-year-old-ex-convict-arrested-after-allegedly-being-found-trafficking-pure-cocaine
      title: "41-year-old ex-convict arrested after allegedly being found trafficking pure cocaine"
    - source: Mwebantu
      url: https://www.mwebantu.com/pregnant-woman-dies-after-being-beaten-by-her-husband-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=pregnant-woman-dies-after-being-beaten-by-her-husband-police-say
      title: "Pregnant woman dies after being beaten by her husband, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/migratory-locusts-alert-to-invade-southern-africa/
      title: "Migratory Locusts to invade Southern Africa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/bed-siders-not-allowed-in-cholera-centers/
      title: "‘Bed-siders’ not allowed in Cholera centers"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambian-correctional-facilities-in-over-150-percent-overcrowding/?utm_source=rss&utm_medium=rss&utm_campaign=zambian-correctional-facilities-in-over-150-percent-overcrowding
      title: "Zambian correctional facilities in over 150 percent overcrowding"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/09/chipolopolo-face-cameroon/
      title: "Chipolopolo face Cameroon"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/01/09/distribute-chlorine-and-contain-cholera/
      title: "Distribute chlorine and contain cholera"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/09/mpulungu-clergy-appeals-to-govt-to-re-introduce-religious-ministry/
      title: "Mpulungu clergy appeals to govt to re-introduce Religious Ministry"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/south-korea-passes-law-banning-dog-meat-trade/
      title: "South Korea passes law banning dog meat trade"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/09/take-up-football-as-a-career-bahati-mp-urges-girls/
      title: "Take up football as a career, Bahati MP urges girls"
    - source: Mwebantu
      url: https://www.mwebantu.com/fire-incident-at-zambia-police-service-headquarters-prompts-swift-response-and-evacuation/?utm_source=rss&utm_medium=rss&utm_campaign=fire-incident-at-zambia-police-service-headquarters-prompts-swift-response-and-evacuation
      title: "Fire incident at Zambia Police Service Headquarters prompts swift response and evacuation"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/09/weve-given-govt-a-checklist-of-what-chipolopolo-needs-to-succeed-at-afcon-faz/
      title: "We’ve given govt a checklist of what Chipolopolo needs to succeed at AFCON – FAZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/muza-usha-ndeo-bishop-john-general-tells-journalists/?utm_source=rss&utm_medium=rss&utm_campaign=muza-usha-ndeo-bishop-john-general-tells-journalists
      title: "Muza usha Ndeo, Bishop John General tells journalists"
    - source: Mwebantu
      url: https://www.mwebantu.com/given-lubinda-is-court-for-refusing-to-declare-diplomatic-passport/?utm_source=rss&utm_medium=rss&utm_campaign=given-lubinda-is-court-for-refusing-to-declare-diplomatic-passport
      title: "Given Lubinda is court for refusing to declare diplomatic passport"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/09/we-should-leave-pf-for-miles-since-its-his-uncles-party-mumbi/
      title: "We should leave PF for Miles since it’s his uncle’s party – Mumbi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/09/i-cant-lie-if-govt-helps-my-people-says-lubusha-as-phiri-accuses-him-of-recruiting-pf-councillors-for-upnd/
      title: "I can’t lie if govt helps my people, says Lubusha as Phiri accuses him of recruiting PF councillors for UPND"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nigerian-poverty-minister-suspended-over-money-in-personal-bank-account/
      title: "Nigerian poverty minister suspended over money in personal bank account"
---
