---
title: "Monday, January 29th, 2024"
description: This is the one hundred and sixty-eighth episode of the podcast.
tags: episode
episode: "168"
date: 2024-01-29T14:32:22.414408+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-01-29_podcast_dist.mp3
    length: 5 minutes, 38 seconds
    size: 5.20 MB
rss:
    enclosure_length: 5452751
    itunes_duration: 05:38
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 27 minutes, 5 seconds
words:
    count: 789
    rate: 140 words per minute
references:
    count: 26
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/29/ill-be-a-better-goalkeeper-after-playing-at-afcon-mulenga/
      title: "I’ll be a better goalkeeper after playing at AFCON – Mulenga"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/29/nkandu-tips-faz-to-stick-with-grant/
      title: "Nkandu tips FAZ to stick with Grant"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/29/councils-must-come-up-with-right-specifications-for-cdf-projects-milupi/
      title: "Councils must come up with right specifications for CDF projects – Milupi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/29/its-politics-of-the-belly-politicians-just-want-to-live-well-kavindele/
      title: "It’s politics of the belly, politicians just want to live well – Kavindele"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/29/zra-seizes-beer-concealed-as-gaga/
      title: "ZRA seizes beer concealed as gaga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/pf-divisions-due-to-selfishness-chabinga/
      title: "PF divisions due to selfishness-Chabinga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/african-presidents-arrive-in-rome-for-italy-summit/
      title: "African presidents arrive in Rome for Italy summit"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/police-warn-against-solidarity-gatherings-for-barotse-alliance/
      title: "Police warn against solidarity gatherings for Barotse Alliance"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/01/29/is-upnd-now-desperate-for-defectors/
      title: "Is UPND now desperate for defectors?"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/29/kwacha-likely-to-remain-under-pressure-in-short-to-medium-term-pwc/
      title: "Kwacha likely to remain under pressure in short to medium term – PwC"
    - source: Mwebantu
      url: https://www.mwebantu.com/convict-pleads-not-to-be-sent-to-jail-because-of-painful-manhood/?utm_source=rss&utm_medium=rss&utm_campaign=convict-pleads-not-to-be-sent-to-jail-because-of-painful-manhood
      title: "Convict pleads not to be sent to jail because of painful manhood"
    - source: Mwebantu
      url: https://www.mwebantu.com/betpawa-customer-sets-record-win-for-aviator-in-zambia/?utm_source=rss&utm_medium=rss&utm_campaign=betpawa-customer-sets-record-win-for-aviator-in-zambia
      title: "betPawa customer sets record win for Aviator in Zambia"
    - source: Mwebantu
      url: https://www.mwebantu.com/truck-driver-jailed-four-years-for-stealing-sulphuric-acid/?utm_source=rss&utm_medium=rss&utm_campaign=truck-driver-jailed-four-years-for-stealing-sulphuric-acid
      title: "Truck driver jailed four years for stealing sulphuric acid"
    - source: Mwebantu
      url: https://www.mwebantu.com/choma-man-dies-in-a-bar-while-watching-football/?utm_source=rss&utm_medium=rss&utm_campaign=choma-man-dies-in-a-bar-while-watching-football
      title: "Choma man dies in a bar while watching football"
    - source: Mwebantu
      url: https://www.mwebantu.com/luanshya-man-sent-to-prison-for-defiling-child-with-mental-disorder/?utm_source=rss&utm_medium=rss&utm_campaign=luanshya-man-sent-to-prison-for-defiling-child-with-mental-disorder
      title: "Luanshya man sent to prison for defiling child with mental disorder"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tobacco-board-to-plant-one-million-trees-in-lundazi/
      title: "Tobacco Board to Plant one million Trees in Lundazi"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambian-economy-to-grow-by-4-7-imf/
      title: "Zambian Economy to Grow by 4.7%-IMF"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/29/lungu-bemoans-lying-culture-iyee-were-even-not-ashamed/
      title: "Lungu bemoans lying culture: Iyee! We’re even not ashamed"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/29/police-to-question-barotseland-nationalist-youth-alliance-leaders/
      title: "Police to question Barotseland Nationalist Youth Alliance leaders"
    - source: Mwebantu
      url: https://www.mwebantu.com/18-months-old-baby-of-nakonde-drowns-in-neighbours-well/?utm_source=rss&utm_medium=rss&utm_campaign=18-months-old-baby-of-nakonde-drowns-in-neighbours-well
      title: "18 months old baby of Nakonde drowns in neighbour’s well"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/muyombe-cut-off-from-mafinga/
      title: "Muyombe cut off from Mafinga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/south-korea-offer-to-help-zambia/
      title: "South Korea Offer to Help Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/sports-federation-challenged-to-seek-fresh-talent/
      title: "Sports Federation challenged to seek fresh talent"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/oydc-zambia-puts-cholera-in-check-ahead-of-africa-games/
      title: "OYDC Zambia puts Cholera in check ahead of Africa games"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/29/long-delays-in-prosecuting-some-high-profile-people-worrying-lifuka/
      title: "Long delays in prosecuting some high profile people worrying – Lifuka"
    - source: Mwebantu
      url: https://www.mwebantu.com/double-tragedy-juvenile-dies-from-electrocution-while-one-survives-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=double-tragedy-juvenile-dies-from-electrocution-while-one-survives-police-say
      title: "Double Tragedy, juvenile dies from electrocution while one survives, police say"
---
