---
title: "Wednesday, March 6th, 2024"
description: In today's Zed News Podcast episode 195, Ayanda discusses various news items, including U15 coach Aaron Kawangu's focus on developing young players, Bruce Mwape's determination to remain focused on the Olympic Games qualifiers, and the elimination of Zambia's table tennis players from the African Games. Additionally, Beston Chambeshi attributes Konkola Blades' success to improved work ethic, and Transparency International Zambia calls for the temporary removal of Solicitor General Marshal Muchende SC if the ACC decides to investigate him. The episode also touches on the launch of Crown TV on MultiChoice platforms, the seizure of ethanol by the Zambia Revenue Authority, and the Vice President's aide suing a former Zambia Army commander.
tags: episode
episode: "195"
date: 2024-03-06T14:29:28.965338+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-06_podcast_dist.mp3
    length: 4 minutes, 4 seconds
    size: 3.76 MB
rss:
    enclosure_length: 3946008
    itunes_duration: 04:04
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 22 minutes, 29 seconds
words:
    count: 564
    rate: 139 words per minute
references:
    count: 30
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/06/our-focus-is-to-develop-young-players-u15-coach/
      title: "Our focus is to develop young players – U15 coach"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/06/konkola-has-improved-because-the-working-culture-has-changed-chambeshi/
      title: "Konkola has improved because the working culture has changed – Chambeshi"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/03/06/the-fic-is-back-on-track-what-will-upnd-govt-do-about-their-reports/
      title: "The FIC is back on track; what will UPND govt do about their reports?"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/06/we-wont-be-swayed-by-morocco-coachs-mind-games-copper-queens-gaffer/
      title: "We won’t be swayed by Morocco coach’s mind games – Copper Queens gaffer"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/06/zambias-table-tennis-players-eliminated-from-singles-at-african-games/
      title: "Zambia’s table tennis players eliminated from singles at African Games"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/06/hh-should-temporarily-remove-muchende-should-acc-decide-to-investigate-him-tiz/
      title: "HH should temporarily remove Muchende should ACC decide to investigate him – TIZ"
    - source: News Diggers!
      url: https://diggers.news/business/2024/03/06/mining-sector-has-experienced-stability-in-the-past-2yrs-chamber-of-mines/
      title: "Mining sector has experienced stability in the past 2yrs – Chamber of Mines"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/06/hh-not-to-blame-for-drought-stardy/
      title: "HH not to blame for drought – Stardy"
    - source: Mwebantu
      url: https://www.mwebantu.com/zra-thwarts-800000-litres-ethanol-smuggling/?utm_source=rss&utm_medium=rss&utm_campaign=zra-thwarts-800000-litres-ethanol-smuggling
      title: "ZRA thwarts 80,0000 litres ethanol smuggling"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilemas-state-of-the-nation-address-rescheduled-for-march-15/?utm_source=rss&utm_medium=rss&utm_campaign=president-hakainde-hichilemas-state-of-the-nation-address-rescheduled-for-march-15
      title: "President Hakainde Hichilema’s State of the Nation Address rescheduled for March 15"
    - source: Mwebantu
      url: https://www.mwebantu.com/gardener-in-court-for-stealing-eagles-mealie-meal-in-shoprite/?utm_source=rss&utm_medium=rss&utm_campaign=gardener-in-court-for-stealing-eagles-mealie-meal-in-shoprite
      title: "Gardener in court for ‘stealing’ Eagles mealie meal in shoprite"
    - source: Mwebantu
      url: https://www.mwebantu.com/vice-presidents-aide-sues-former-army-commander/?utm_source=rss&utm_medium=rss&utm_campaign=vice-presidents-aide-sues-former-army-commander
      title: "Vice President’s aide sues former Army commander"
    - source: Mwebantu
      url: https://www.mwebantu.com/barbra-banda-on-the-verge-of-a-k17-8-million-transfer-to-usa/?utm_source=rss&utm_medium=rss&utm_campaign=barbra-banda-on-the-verge-of-a-k17-8-million-transfer-to-usa
      title: "Barbra Banda on the verge of a K17.8 million transfer to USA"
    - source: Mwebantu
      url: https://www.mwebantu.com/mps-trained-to-empower-zambias-participation-in-carbon-markets-and-rural-prosperity/?utm_source=rss&utm_medium=rss&utm_campaign=mps-trained-to-empower-zambias-participation-in-carbon-markets-and-rural-prosperity
      title: "MPs trained to empower Zambia’s participation in carbon markets and rural prosperity"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/dambwa-north-roads-set-for-rehab/
      title: "Dambwa North Roads Set for Rehab"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/african-media-told-not-to-rush-in-using-ai/
      title: "African Media told not to rush in using AI"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/nanjuwa-advises-investors-to-be-law-abiding/
      title: "Nanjuwa advises investors to be law-abiding"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-asked-to-promote-boxing/
      title: "Govt asked to Promote Boxing"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/esther-phiri-planning-a-comeback/
      title: "Esther Phiri Planning a Comeback"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/06/god-knew-hh-will-handle-zambias-problems-well-kawana/
      title: "God knew HH will handle Zambia’s problems well – Kawana"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/banda-becomes-second-most-expensive-female-player/
      title: "Banda becomes second most expensive female footballer"
    - source: Mwebantu
      url: https://www.mwebantu.com/father-murdered-as-police-arrest-son-and-witch-finder-for-murder/?utm_source=rss&utm_medium=rss&utm_campaign=father-murdered-as-police-arrest-son-and-witch-finder-for-murder
      title: "Father murdered as police arrest son and witch finder for murder."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/haiti-pm-ariel-henry-in-puerto-rico-as-gang-violence-continues/
      title: "Haiti PM Ariel Henry in Puerto Rico as gang violence continues"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/znbc-act-set-to-amendment/
      title: "ZNBC Act set for amendment"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/06/cristoforetti-calls-18-players-ahead-of-futsal-afcon/
      title: "Cristoforetti calls 18 players ahead of futsal AFCON"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-to-register-5th-largest-gdp-in-southern-africa-imf/
      title: "Zambia to Register 4th Largest GDP in Southern Africa-IMF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/fqm-plans-to-sell-minority-shares-in-its-zambian-copper-operations/
      title: "FQM plans to sell minority shares in its Zambian copper operations"
    - source: Mwebantu
      url: https://www.mwebantu.com/multichoice-adds-crown-tv-giving-zambians-more-local-to-choose-from/?utm_source=rss&utm_medium=rss&utm_campaign=multichoice-adds-crown-tv-giving-zambians-more-local-to-choose-from
      title: "MultiChoice adds Crown TV – Giving Zambians more local to choose from"
    - source: Mwebantu
      url: https://www.mwebantu.com/government-will-not-sit-idle-on-threats-to-national-security-minister-of-home-affairs-and-internal-security-warns/?utm_source=rss&utm_medium=rss&utm_campaign=government-will-not-sit-idle-on-threats-to-national-security-minister-of-home-affairs-and-internal-security-warns
      title: "Government will not sit idle on threats to national security, Minister of Home Affairs and Internal Security warns"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/162464-2/
      title: "Nalumango tells Youths to be self-reliant and enterprising"
---