---
title: "Friday, January 12th, 2024"
description: This is the one hundred and fifty-seventh episode of the podcast.
tags: episode
episode: "157"
date: 2024-01-12T14:12:02.976278+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-01-12_podcast_dist.mp3
    length: 11 minutes, 41 seconds
    size: 10.73 MB
rss:
    enclosure_length: 11252771
    itunes_duration: 11:41
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 47 seconds
words:
    count: 1,665
    rate: 143 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/afcon-2023-gambia-coach-feared-team-would-die-on-aborted-flight-to-ivory-coast/
      title: "Afcon 2023: Gambia coach feared team would die on aborted flight to Ivory Coast"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/12/our-target-is-to-push-sports-tourism-to-greater-heights-sikumba/
      title: "Our target is to push sports tourism to greater heights – Sikumba"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mkushi-hires-15-contractors-to-make-desks/
      title: "Mkushi hires 15 Contractors to make desks"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/znbc-staff-do-medical-checkup/
      title: "ZNBC Staff do Medical Checkup"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipolopolo-will-deliver/
      title: "“Chipolopolo Will Deliver”"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/01/12/promote-good-hygiene-to-avert-cholera-mwamba/
      title: "Promote good hygiene to avert cholera – Mwamba"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/12/vedanta-salutes-netball-africa-cup-winning-team/
      title: "Vedanta salutes netball Africa Cup winning team"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/12/corruption-didnt-finish-those-who-knew-how-to-steal-are-still-there-masebo/
      title: "Corruption didn’t finish, those who knew how to steal are still there – Masebo"
    - source: Mwebantu
      url: https://www.mwebantu.com/four-die-in-kapiri-mposhi-rta-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=four-die-in-kapiri-mposhi-rta-police-say
      title: "Four die in Kapiri Mposhi RTA, police say."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/cec-lists-200m-green-bond-on-luse/
      title: "CEC Lists $200m Green Bond on LuSE"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/luembe-named-aviation-authority-dg/
      title: "Luembe Named Aviation Authority DG"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kalomo-ward-uses-cdf-to-build-dam/
      title: "Kalomo Ward uses CDF to build Dam"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lusaka-clamps-makeshifts-restaurants/
      title: "Lusaka Clamps Makeshifts Restaurants"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/1-5m-women-screened-for-cervical-cancer/
      title: "1.5m Women Screened for Cervical Cancer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/armyworms-attack-nalolo-maize/
      title: "Armyworms attack Nalolo Maize"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/01/12/katuta-spat-on-me-called-me-a-son-of-a-dog-photojournalist-tells-court/
      title: "Katuta spat on me, called me a son of a dog, photojournalist tells court"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/12/were-ready-for-the-afcon-chipolopolo/
      title: "We’re ready for the AFCON – Chipolopolo"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/01/12/power-dynamos-face-in-form-konkola-blades/
      title: "Power Dynamos face in-form Konkola Blades"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/01/12/dont-move-to-the-city-without-a-plan-tap-into-cdf/
      title: "Don’t move to the city without a plan, tap into CDF"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/12/hh-congratulates-tshisekedi/
      title: "HH congratulates Tshisekedi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/12/govt-directs-churches-to-restrict-worship-to-2-hours/
      title: "Govt directs churches to restrict worship to 2 hours"
    - source: Mwebantu
      url: https://www.mwebantu.com/quicksilver-faces-power-test/?utm_source=rss&utm_medium=rss&utm_campaign=quicksilver-faces-power-test
      title: "Quicksilver faces Power test"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/12/k3-5m-for-one-chiefs-palace-not-exorbitant-govt/
      title: "K3.5m for one chief’s palace not exorbitant – Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/unrepentant-tanzanian-drug-dealer-admits-trafficking-in-pure-500grammes-cocaine-for-sale/?utm_source=rss&utm_medium=rss&utm_campaign=unrepentant-tanzanian-drug-dealer-admits-trafficking-in-pure-500grammes-cocaine-for-sale
      title: "Unrepentant Tanzanian drug dealer admits trafficking in pure 500grammes cocaine for sale"
    - source: Mwebantu
      url: https://www.mwebantu.com/minister-ps-and-three-upnd-members-want-government-to-pay-them-money-over-malicious-prosecution/?utm_source=rss&utm_medium=rss&utm_campaign=minister-ps-and-three-upnd-members-want-government-to-pay-them-money-over-malicious-prosecution
      title: "Minister, PS and three UPND members want Government to pay them money over malicious prosecution"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/us-and-uk-strike-houthi-rebel-targets-in-yemen/
      title: "US and UK strike Houthi rebel targets in Yemen"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/savenda-electric-invests-in-znbc-afcon-broadcasts/
      title: "Savenda Electric Invests in ZNBC AFCON Broadcasts"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/burundi-shuts-borders-with-bad-neighbour-rwanda/
      title: "Burundi shuts borders with ‘bad neighbour’ Rwanda"
---
