---
title: "Tuesday, April 9th, 2024"
description: "The Copper Queens face a crucial match in the Paris 2024 Olympic qualifiers against Morocco, while FAZ president Andrew Kamanga remains optimistic about their chances. Meanwhile, the State struggles to file documents in a case involving former defence permanent secretary Stardy Mwale and five others due to load-shedding. Davy Mwale will defend his Africa Boxing Union (ABU) title for the second time on August 10, 2024, and the Energy Minister, Peter Kapala, believes that having available power, even if it's not cheap, is better for the country."
tags: episode
episode: "219"
date: 2024-04-09T12:08:17.341042+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-04-09_podcast_dist.mp3
    length: 5 minutes, 9 seconds
    size: 4.76 MB
rss:
    enclosure_length: 4987142
    itunes_duration: 05:09
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 2 minutes, 59 seconds
words:
    count: 722
    rate: 140 words per minute
references:
    count: 15
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2024/04/09/state-fails-to-file-documents-in-gulfstream-case-due-to-load-shedding/
      title: "State fails to file documents in Gulfstream case due to load-shedding"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/09/mwale-will-fight-again-on-august-10-oqbp/
      title: "Mwale will fight again on August 10 – OQBP"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/09/olympic-spot-on-the-line-as-queens-face-morocco/
      title: "Olympic spot on the line as Queens face Morocco"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/09/its-better-to-have-available-power-that-is-not-cheap-kapala/
      title: "It’s better to have available power that is not cheap – Kapala"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/09/kafwaya-tells-govt-to-reverse-mopani-irh-deal/
      title: "Kafwaya tells govt to reverse Mopani-IRH deal"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/09/agro-fuel-withholding-diesel-from-local-market-omcaz/
      title: "Agro Fuel withholding diesel from local market – OMCAZ"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/wrestlemania-40-the-rock-john-cena-involved-in-best-wwe-event/
      title: "WrestleMania 40: The Rock, John Cena involved in ‘best’ WWE event"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/consumers-warned-of-beverages-packaged-used-bottles/
      title: "Consumers warned of beverages packaged used bottles"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/165216-2/
      title: "More than 100 die as extreme heatwave devastates Mali"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/handball-association-to-proposal-sports-ley-on-betting/
      title: "Handball Association to Proposal Sports Levy on Betting"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/09/copper-queens-will-overturn-morocco-tie-kamanga/
      title: "Copper Queens will overturn Morocco tie – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/09/govt-ensuring-that-the-less-privileged-access-healthcare-services-masebo/
      title: "Govt ensuring that the less privileged access healthcare services – Masebo"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/04/09/reckless-police-can-destroy-a-govt-hh-must-watch-out/
      title: "Reckless police can destroy a govt; HH must watch out"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-mum-and-son-in-court-for-allegedly-killing-dad/
      title: "Lusaka Mum and son in court for allegedly killing dad"
    - source: Mwebantu
      url: https://www.mwebantu.com/father-mukosa-urges-politicians-to-stop-using-his-message-of-social-justice-for-political-mileage/
      title: "Father Mukosa urges politicians to stop using his message of social justice for political mileage"
---
