---
title: "Wednesday, March 13th, 2024"
description: This is episode 200 of the Zed News Podcast, where Ayanda has, for the first time, a guest in the studio! After a brief chat with her guest, Ayanda goes on to talk about Zambian football, government efforts to regulate social media, and the nation's success at the All-Africa Games in Accra, Ghana. The episode also features commentary on the current political climate and crime in Lusaka, as well as environmental and international news.
tags: episode
episode: "200"
date: 2024-03-13T16:50:13.427722+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-03-13_podcast_dist.mp3
    length: 8 minutes, 43 seconds
    size: 7.84 MB
rss:
    enclosure_length: 8218263
    itunes_duration: 08:43
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 hours, 23 minutes, 36 seconds
words:
    count: 1,148
    rate: 132 words per minute
references:
    count: 14
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/13/were-living-in-a-one-term-era-for-non-performing-presidents-andyford/
      title: "We’re living in a one-term era for non-performing presidents – Andyford"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/13/govt-wont-condone-lawlessness-mwiimbu-tells-mmembe/
      title: "Govt won’t condone lawlessness, Mwiimbu tells M’membe"
    - source: News Diggers!
      url: https://diggers.news/business/2024/03/13/well-clap-for-govt-if-no-one-starves-katambo/
      title: "We’ll clap for govt if no one starves – Katambo"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/13/napsa-must-avoid-relegation-liwewe/
      title: "Napsa must avoid relegation – Liwewe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ghana-opposition-ndcs-plan-to-use-drones-near-polling-stations-sparks-row/
      title: "Ghana opposition NDC’s plan to use drones near polling stations sparks row"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/biden-and-trump-set-for-election-rematch-after-securing-party-nominations/
      title: "Biden and Trump set for election rematch after securing party nominations"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/13/barbra-kundananji-will-take-the-world-by-storm-grant/
      title: "Barbra, Kundananji will take the world by storm – Grant"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/environmental-consultant-tips-govt/
      title: "Environmental Consultant tips Govt"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/03/13/22-yr-old-woman-admits-stealing-child/
      title: "22-yr-old woman admits stealing child"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/13/police-arrest-chawama-gang-leader/
      title: "Police arrest Chawama gang leader"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/13/mia-wins-bronze-qualifiers-for-100m-final/
      title: "Mia wins bronze, qualifiers for 100m final"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-mints-gold-and-bronze-in-judo-at-african-games/
      title: "Zambia mints gold and bronze in judo at African games"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/03/13/a-foolish-justification-for-wanting-to-regulate-social-media-podcasts-part-2/
      title: "A foolish justification for wanting to regulate social media podcasts: Part 2"
    - source: Mwebantu
      url: https://www.mwebantu.com/judokas-reap-gold-bronze-at-african-games/?utm_source=rss&utm_medium=rss&utm_campaign=judokas-reap-gold-bronze-at-african-games
      title: "Judokas reap gold, bronze at African Games"
---
