---
title: "Thursday, August 29th, 2024"
description: "In this episode, Zambian sports news covers Zanaco coach's concerns about Atletico Lusaka, Fashion Sakala's goal in a loss to Al Nassr, and a 27-man squad for Africa Cup of Nations qualifiers. In business, ZCCM-IH acquires additional shareholding in Lubambe Copper Mines, while Mopani Copper Mines pays its contractors. Economic news highlights Zambia's need for $10 billion in power generation investments and the Bank of Zambia's praise for ZAFFICO's pole treatment plant investment. In politics, a new Food Reserve Agency board is appointed, and in court news, two Chinese nationals are granted bail for smuggling. Lastly, the completion of the Lusaka-Ndola Dual Carriageway is expected to promote trade and commerce."
tags: episode
episode: "296"
date: 2024-08-29T14:40:27.120198+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-08-29_podcast_dist.mp3
    length: 3 minutes, 38 seconds
    size: 3.37 MB
rss:
    enclosure_length: 3529931
    itunes_duration: 03:38
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 15 seconds
words:
    count: 509
    rate: 140 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134410
      title: "EU targets green economy support"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134413
      title: "‘Don’t disappoint!’"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/29/wada-wary-of-atleticos-young-guns/
      title: "Wada wary of Atletico’s young guns"
    - source: Mwebantu
      url: https://www.mwebantu.com/grant-snubs-fashion-sakala-for-ivory-coast-sierra-leone-match/
      title: "Grant snubs Fashion Sakala for Ivory Coast, Sierra Leone match"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/29/prolonged-load-shedding-due-to-power-import-challenges-from-namibia-zesco/
      title: "Prolonged load shedding due to power import challenges from Namibia – Zesco"
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/29/mtolo-names-new-fraa-board/
      title: "Mtolo names new FRA board"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/08/29/court-grants-bail-to-2-chinese-accused-of-gold-smuggling/
      title: "Court grants bail to 2 Chinese accused of gold smuggling"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/29/mopani-has-paid-all-its-contractors-matambo/
      title: "Mopani has paid all its contractors – Matambo"
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/29/central-bank-confirms-dbz-insolvency/
      title: "Central Bank confirms DBZ insolvency"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134428
      title: "Society Business Park closure: PnP puts workers’ safety first"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134425
      title: "ZCCM-IH acquires more shares in Lubambe"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134423
      title: "Govt unveils new FRA board"
    - source: News Diggers!
      url: https://diggers.news/business/2024/08/29/zccm-ih-acquires-additional-10-shareholding-in-lubambe/
      title: "ZCCM-IH acquires additional 10% shareholding in Lubambe"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-ndola-dual-carriageway-to-boost-zambias-regional-trade/
      title: "Lusaka-Ndola dual carriageway to boost Zambia’s regional trade."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134421
      title: "Zambia needs $10bn to up power generation – State"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134416
      title: "Muzala eyes another record"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/08/29/nchanga-rangers-thump-lumwana-radiants-4-0/
      title: "Nchanga Rangers thump Lumwana radiants 4-0"
    - source: Mwebantu
      url: https://www.mwebantu.com/kasanda-free-after-one-year-detention/
      title: "Kasanda ‘free’ after one year detention."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134418
      title: "‘ZAFFICO on track to boost forex’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134407
      title: "Don’t politicise energy crisis – Chikote"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=134405
      title: "Kanyama jobs galore!"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/29/fashion-grants-avram-food-for-thought-with-goal-in-al-feiha-loss/
      title: "Fashion grants Avram food for thought with goal in Al Feiha loss"
    - source: News Diggers!
      url: https://diggers.news/local/2024/08/29/police-object-to-kapyangas-notice-of-protest-citing-security-concerns/
      title: "Police object to Kapyanga’s notice of protest, citing security concerns"
---
