---
title: "Thursday, July 4th, 2024"
description: "Zed News Podcast episode 256 features updates on a truck-bus crash victim in Lusaka, police arresting three suspects in a cemetery attack, an affiliate marketing program for betting, the importance of friendships, a court case involving an alleged assault by a PF official, the Zambia We Want party launch, drought response support, security concerns for Zambian judges and magistrates, and the Chipolopolo's draw in the 2025 AfCON qualifier. Other topics include President Hichilema's stance on PF wrangles, by-elections, a shooting incident involving a Kenyan magistrate, a church service for late Chipolopolo striker Justin Shonga, and issue-based politics."
tags: episode
episode: "256"
date: 2024-07-04T17:10:22.186637+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-07-04_podcast_dist.mp3
    length: 8 minutes, 19 seconds
    size: 7.64 MB
rss:
    enclosure_length: 8014421
    itunes_duration: 08:19
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 9 seconds
words:
    count: 1,142
    rate: 137 words per minute
references:
    count: 22
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2024/07/04/friendships/
      title: "Friendships"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2024/07/04/how-to-turn-players-excitement-into-stable-income-with-affiliate-marketing/
      title: "How to turn players’ excitement into stable income with affiliate marketing"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/04/sichinga-others-launch-zambia-we-want-party/
      title: "Sichinga, others launch Zambia We Want Party"
    - source: News Diggers!
      url: https://diggers.news/business/2024/07/04/were-receiving-drought-support-because-donors-trust-upnd-govt-musokotwane/
      title: "We’re receiving drought support because donors trust UPND govt – Musokotwane"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/04/shooting-of-kenyan-magistrate-prompts-zambian-adjudicators-to-seek-improved-security/
      title: "Shooting of Kenyan magistrate prompts Zambian adjudicators to seek improved security"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/04/mwape-reveals-olympics-squad/
      title: "Mwape reveals Olympics squad"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambian-judges-and-magistrates-living-in-fear-after-shooting-of-their-kenyan-counterpart/
      title: "Zambian Judges and magistrates living in fear after shooting of their Kenyan counterpart"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133319
      title: "‘Apply for FNB’s collateral-free loans’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133313
      title: "Veep calls for issue-based politics"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133307
      title: "Katanga forfeits 10 Higer buses worth K26m"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133325
      title: "‘You were a true son of the soil’"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133322
      title: "‘My conscience is clear’"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/04/police-nab-3-for-attacking-lsk-man-in-a-cemetery/
      title: "Police nab 3 for attacking Lsk man in a cemetery"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/07/04/cop-sustained-painful-neck-after-being-assaulted-by-emmanuel-mwamba-witness/
      title: "Cop sustained painful neck after being assaulted by Emmanuel Mwamba – Witness"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/04/the-church-has-become-too-politically-charged/
      title: "The Church has become too politically charged"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hichilema-has-no-business-in-pf-wrangles-says-state-house/
      title: "President Hichilema has no business in PF wrangles, says State House."
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133316
      title: "ZCCM-IH shareholders nod K243m dividend"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133298
      title: "PF loses nine seats…as Miles Sampa gets the boot"
    - source: Mwebantu
      url: https://www.mwebantu.com/chipolopolo-drawn-against-defending-champions-ivory-coast-in-2025-afcon-qualifier/
      title: "Chipolopolo drawn against defending Champions Ivory Coast in 2025 AfCON qualifier."
    - source: Mwebantu
      url: https://www.mwebantu.com/parliament-declares-nine-pf-seats-vacant-as-leader-miles-sampa-opposes-the-move/
      title: "Parliament declares nine PF seats vacant, as leader Miles Sampa opposes the move"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/04/lusaka-man-loses-leg-after-truck-bus-crash-at-the-layby/
      title: "Lusaka man loses leg after truck, bus crash at layby"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-not-involved-in-pf-wrangles-hamasaka/
      title: "HH not involved in PF wrangles – HAMASAKA"
---
