---
title: "Wednesday, February 28th, 2024"
description: In episode 190 of the Zed News Podcast, Ayanda discusses various news items including the Zambian government's positive report on the banking sector's performance, President Hakainde Hichilema's call for strengthening relationships with Saudi Arabia, and the condemnation of political hooliganism by former President Edgar Lungu and his faction supporters. The episode also touches on the unidentified girl in ICU at UTH, the death of Chitambo District Commissioner Evans Chola in a road traffic accident, and the ongoing Olympic qualifier between Zambia and Ghana. Additionally, the episode covers various legal matters, including the dismissal of an application to release one of Francis Muchemwa's seized properties, and the police scrutinizing a statement made by former President Edgar Lungu.
tags: episode
episode: "190"
date: 2024-02-28T14:08:56.779460+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-02-28_podcast_dist.mp3
    length: 3 minutes, 25 seconds
    size: 3.16 MB
rss:
    enclosure_length: 3317402
    itunes_duration: 03:25
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 38 seconds
words:
    count: 473
    rate: 138 words per minute
references:
    count: 26
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/28/princes-kasune-urges-mining-investors-to-embrace-csr/
      title: "Kasune urges mining investors to embrace CSR"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/28/hh-eyes-capital-technology-value-addition-from-saudi/?utm_source=rss&utm_medium=rss&utm_campaign=hh-eyes-capital-technology-value-addition-from-saudi
      title: "HH eyes capital, technology, value addition from Saudi"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/28/stop-political-hooliganism/?utm_source=rss&utm_medium=rss&utm_campaign=stop-political-hooliganism
      title: "Stop political hooliganism"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/28/zambia-hosts-black-queens/
      title: "Zambia hosts Black Queens"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/28/court-refuses-to-order-release-of-one-of-muchemwas-houses/
      title: "Court refuses to order release of one of Muchemwa’s houses"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/28/stay-healthy-focused-to-win-at-olympics-matete-tips-samukonga/
      title: "Stay healthy, focused, to win at Olympics, Matete tips Samukonga"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/28/court-warns-lusambo-sureties-against-missing-court/
      title: "Court warns Lusambo, sureties against missing court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/job-scam-cons-mozambicans-out-of-thousands-of-dollars/
      title: "Job scam cons Mozambicans out of thousands of dollars"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-need-to-be-cautious-says-bruce-mwpe/?utm_source=rss&utm_medium=rss&utm_campaign=we-need-to-be-cautious-says-bruce-mwpe
      title: "‘We need to be cautious,’ says Bruce Mwape"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/5000-mtendere-properties-connected-to-sewer-network/
      title: "5,000 Mtendere Properties Connected to sewer network"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/no-mealie-meal-selling-at-850-in-milenge/
      title: "“No Mealie Meal selling at K850 in Milenge”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ecz-deploys-poll-staff-for-itapa-election/
      title: "ECZ deploys Poll Staff for Itapa election"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/28/unknown-girl-in-icu-at-uth/?utm_source=rss&utm_medium=rss&utm_campaign=unknown-girl-in-icu-at-uth
      title: "Unknown girl in ICU at UTH"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/28/chitambo-dc-dies-in-accident/?utm_source=rss&utm_medium=rss&utm_campaign=chitambo-dc-dies-in-accident
      title: "Chitambo DC dies in accident"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/02/28/sme-minister-others-not-entitled-to-compensation-ag-tells-court/
      title: "SME Minister, others not entitled to compensation, AG tells court"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/28/police-detain-kasanda-for-aggravated-robbery/
      title: "Police detain Kasanda for aggravated robbery"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-pupils-drown-in-kafulafuta-dam-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=two-pupils-drown-in-kafulafuta-dam-police-say
      title: "Two pupils drown in Kafulafuta dam, police say"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/28/lungus-involvement-in-uka-causing-more-confusion-in-pf-mumba/
      title: "Lungu’s involvement in UKA causing more confusion in PF – Mumba"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/02/28/hh-must-tame-his-police-kabwata-teargas-was-unnecessary/
      title: "HH must tame his police, Kabwata teargas was unnecessary"
    - source: Mwebantu
      url: https://www.mwebantu.com/commander-ii-left-homeless/?utm_source=rss&utm_medium=rss&utm_campaign=commander-ii-left-homeless
      title: "Commander II left ‘homeless’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kwacha-will-stabilize/
      title: "“Kwacha will stabilize”"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/02/28/banking-sector-faring-well/?utm_source=rss&utm_medium=rss&utm_campaign=banking-sector-faring-well
      title: "Banking sector faring well"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/28/we-can-take-as-long-as-we-like-to-investigate-a-matter-ig/
      title: "We can take as long as we like to investigate a matter – IG"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-scrutinising-statement-made-by-former-president-edgar-lungu/?utm_source=rss&utm_medium=rss&utm_campaign=police-scrutinising-statement-made-by-former-president-edgar-lungu
      title: "Police scrutinising statement made by Former President Edgar Lungu."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/lungus-statement-irresponsible-nevers-mumba/
      title: "Lungu’s Statement Irresponsible-Nevers Mumba"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/tourism-sector-not-using-tax-incentives-muhanga/
      title: "Tourism sector not using tax incentives- Muhanga"
---
