---
title: "Friday, May 17th, 2024"
description: "Zed News Podcast episode 247 features the forfeiture of properties to the state in a corruption case, a disappointing draw for Green Buffaloes in football, a Zambian teenager's debut for FC Zurich, a U17 women's national team match, discussions on subsidizing electricity, boxers preparing for Olympic qualifiers, and various other news items from Zambia."
tags: episode
episode: "247"
date: 2024-05-17T12:09:28.006884+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-05-17_podcast_dist.mp3
    length: 6 minutes, 2 seconds
    size: 5.56 MB
rss:
    enclosure_length: 5834344
    itunes_duration: 06:02
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 14 seconds
words:
    count: 875
    rate: 145 words per minute
references:
    count: 14
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/05/17/why-is-govt-still-single-sourcing-tazama-pipeline-fuel-suppliers/
      title: "Why is govt still single sourcing TAZAMA pipeline fuel suppliers?"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/17/u17-girls-face-uganda/
      title: "U17 girls face Uganda"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/05/17/court-orders-forfeiture-of-10-vehicles-farm-cash-to-state/
      title: "Court orders forfeiture of 10 vehicles, farm, cash to state"
    - source: Mwebantu
      url: https://www.mwebantu.com/four-zambians-shortlisted-for-prestigious-rasa-awards/
      title: "Four Zambians Shortlisted for Prestigious RASA Awards"
    - source: News Diggers!
      url: https://diggers.news/local/2024/05/17/water-crisis-will-worsen-in-3rd-quarter-mposha/
      title: "Water crisis will worsen in 3rd quarter – Mposha"
    - source: Mwebantu
      url: https://www.mwebantu.com/10-people-die-in-southern-province-after-consuming-suspected-poisonous-home-made-beer-police-say/
      title: "10 people die in Southern Province after consuming suspected poisonous home-made beer, police say"
    - source: News Diggers!
      url: https://diggers.news/business/2024/05/17/subsidising-electricity-would-kill-zesco-pac/
      title: "Subsidising electricity would kill Zesco – PAC"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/05/17/businessman-sues-state-over-mobile-money-levy/
      title: "Businessman sues state over mobile money levy"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-ordered-to-arrest-fellow-officer/
      title: "Police ordered to arrest fellow officer"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/17/zbf-to-send-three-boxers-for-world-olympic-qualifiers/
      title: "ZBF to send three boxers for World Olympic qualifiers"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/17/zambian-teenager-makes-zurich-debut/
      title: "Zambian teenager makes Zurich debut"
    - source: Mwebantu
      url: https://www.mwebantu.com/amos-chanda-granted-bail/
      title: "Amos Chanda granted bail."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/05/17/nkana-draw-disappoints-buffaloes-coach/
      title: "Nkana draw disappoints Buffaloes coach"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/05/17/kapata-tells-court-she-built-10-double-storey-houses-at-k1m/
      title: "Kapata tells court she built 10 double-storey houses at K1m"
---