---
title: "Monday, April 15th, 2024"
description: "In episode 223 of the Zed News Podcast, Ayanda discusses the latest news from Zambia, including President Hakainde Hichilema's comments on the country's debt and the new Buteko Market in Kantanshi Constituency. Former President Edgar Lungu expresses concern over widespread hunger, while Tasila Lungu faces questions about her finances and the acquisition of a farm. The Drug Enforcement Commission challenges Tasila to provide evidence of her father's involvement in the purchase, and ZESCO Limited reinstates an eight-hour load-shedding schedule in Lusaka. Rainford Kalaba, a former Chipolopolo captain, is in critical but stable condition after a road traffic accident, and Barbra Banda, a top Zambian footballer, has arrived in the USA to join her new club, Orlando Pride."
tags: episode
episode: "223"
date: 2024-04-15T23:28:25.989455+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-04-15_podcast_dist.mp3
    length: 4 minutes, 1 second
    size: 3.71 MB
rss:
    enclosure_length: 3895015
    itunes_duration: 04:01
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 32 seconds
words:
    count: 578
    rate: 144 words per minute
references:
    count: 10
    sources: 3
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=131622
      title: "Tasila Lungu had no known income"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=131625
      title: "State lauds Sangwa on Mopani but…"
    - source: Mwebantu
      url: https://www.mwebantu.com/dec-challenges-tasila-lungu-to-prove-how-her-father-helped-her-to-buy-a-farm/
      title: "DEC challenges Tasila Lungu to prove how her father helped her to buy a farm"
    - source: Mwebantu
      url: https://www.mwebantu.com/kalaba-responding-to-his-name-says-uth/
      title: "Kalaba responding to his name says UTH"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/15/njala-yatinyokola-laments-lungu/
      title: "Njala yatinyokola, laments Lungu"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=131627
      title: "Zesco reverts to eight hours "
    - source: Mwebantu
      url: https://www.mwebantu.com/keep-kalaba-in-your-prayers-andrew-kamanga-urges-fans/
      title: "‘Keep Kalaba in your prayers,’ Andrew Kamanga urges fans"
    - source: Mwebantu
      url: https://www.mwebantu.com/barbra-banda-wants-to-get-down-to-business/
      title: "Barbra Banda wants to get down to business"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/15/i-see-some-of-you-being-one-term-leaders-preacher-tells-hhs-delegation/
      title: "I see some of you being one term leaders, preacher tells HH’s delegation"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/15/we-found-debt-as-high-as-mt-kilimanjaro-hh/
      title: "We found debt as high as Mt Kilimanjaro – HH"
---
