---
title: "Thursday, March 7th, 2024"
description: In episode 196, Ayanda discusses various news items including Dr. Fred M'membe's criticism of the demolition of Munyale Market, the tragic suicide of Charles Ngoma, Barbra Banda's record-breaking transfer to Orlando Pride, and the ABU title fight. The episode also touches on the internal issues at the Human Rights Commission, investigations into the US$2.8 billion detected by the FIC, and the launch of National Arts and Film Policies. Additionally, updates on road rehabilitation, dam construction, winter maize project, and ZAF's plans to engage in agriculture are provided.
tags: episode
episode: "196"
date: 2024-03-07T14:08:31.277968+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-03-07_podcast_dist.mp3
    length: 5 minutes, 42 seconds
    size: 5.26 MB
rss:
    enclosure_length: 5512936
    itunes_duration: 05:42
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 9 seconds
words:
    count: 761
    rate: 134 words per minute
references:
    count: 18
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/07/zammsa-distributes-10-mortuary-units-valued-at-k8-6m/
      title: "ZAMMSA distributes 10 mortuary units valued at K8.6m"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/07/abu-changes-opponent-to-fight-mwale-for-abu-title/
      title: "ABU changes Mwale’s opponent for ABU title"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/07/corruption-under-upnd-bankrupting-the-nation-sumaili/
      title: "Corruption under UPND bankrupting the nation – Sumaili"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/07/divorce-forces-man-to-set-himself-ablaze/
      title: "Divorce forces man to set himself ablaze"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-to-construct-dams-to-harvest-rain/
      title: "Govt to construct dams to harvest rain"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambians-flood-orlando-prides-page-demanding-barbra-banda-announcement/?utm_source=rss&utm_medium=rss&utm_campaign=zambians-flood-orlando-prides-page-demanding-barbra-banda-announcement
      title: "Zambians Flood Orlando Pride’s Page Demanding Barbra Banda Announcement"
    - source: Mwebantu
      url: https://www.mwebantu.com/fred-mmembe-dragged-to-court-for-espionage/?utm_source=rss&utm_medium=rss&utm_campaign=fred-mmembe-dragged-to-court-for-espionage
      title: "Fred M’membe dragged to court for Espionage"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-launches-arts-and-film-policy/
      title: "Govt launches Arts and Film Policy"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/07/demolition-of-munyaule-market-barbaric-mmembe/
      title: "Demolition of Munyaule market barbaric – M’membe"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/07/faz-agm-set-for-april-27/
      title: "FAZ AGM set for April 27"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/03/07/barbra-joins-orlando-pride-for-740000/
      title: "Barbra joins Orlando Pride for $740,000"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/03/07/infighting-at-human-rights-commission-is-denting-the-image-of-the-institution/
      title: "Infighting at Human Rights Commission is denting the image of the institution"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zaf-plans-to-get-into-agriculture/
      title: "ZAF plans to get into agriculture"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/03/07/court-explains-espionage-charge-to-mmembe/
      title: "Court explains espionage charge to M’membe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zns-starts-winter-maize-project/
      title: "ZNS starts Winter Maize Project"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/faith-musonda-denies-she-bought-property-in-kingsland-city/
      title: "Faith Musonda denies she bought property in Kingsland City"
    - source: News Diggers!
      url: https://diggers.news/local/2024/03/07/were-investigating-some-matters-involved-in-the-2-8bn-detected-by-fic-dec/
      title: "We’re investigating some matters involved in the $2.8bn detected by FIC – DEC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/luangwa-rufunsa-chongwe-roads-to-be-rehabilitated-at-k168m/
      title: "Luangwa, Rufunsa, Chongwe Roads to be rehabilitated at K168m"
---
