---
title: "Monday, February 12th, 2024"
description: This is the one hundred and seventy-eighth episode of the podcast.
tags: episode
episode: "178"
date: 2024-02-12T14:09:38.862670+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-02-12_podcast_dist.mp3
    length: 9 minutes, 55 seconds
    size: 9.11 MB
rss:
    enclosure_length: 9551678
    itunes_duration: 09:55
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 24 seconds
words:
    count: 1,381
    rate: 139 words per minute
references:
    count: 22
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/02/12/changes-at-nrfa-are-welcome-after-the-unexplained-overpayment-to-contractors/
      title: "Changes at NRFA are welcome after the unexplained overpayment to contractors"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/12/hamukale-slams-officers-facilitating-mealie-meal-smuggling/
      title: "Hamukale slams officers facilitating mealie meal smuggling"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/12/injectable-prep-not-a-passport-to-engage-in-reckless-sexual-behaviour-zma/
      title: "Injectable PrEP not a passport to engage in reckless sexual behaviour – ZMA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/janny-salutes-chikotesha/
      title: "Janny Salutes Chikotesha"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/govt-welcomes-formation-of-uka/
      title: "Govt Welcomes formation of UKA"
    - source: Mwebantu
      url: https://www.mwebantu.com/monze-council-worker-left-traumatized-after-being-raped-by-two-burglars-police-say/?utm_source=rss&utm_medium=rss&utm_campaign=monze-council-worker-left-traumatized-after-being-raped-by-two-burglars-police-say
      title: "Monze council worker left traumatized after being raped by two burglars, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/stubb-elected-finland-president/
      title: "Stubb elected Finland President"
    - source: Mwebantu
      url: https://www.mwebantu.com/traditional-leader-nabbed-for-sexual-assault/?utm_source=rss&utm_medium=rss&utm_campaign=traditional-leader-nabbed-for-sexual-assault
      title: "Traditional leader nabbed for sexual assault"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/12/copper-princesses-march-on-despite-loss/
      title: "Copper Princesses march on despite loss"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/12/huge-strides-have-been-made-in-corruption-fight-nkulukusa/
      title: "Huge strides have been made in corruption fight – Nkulukusa"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/12/well-register-our-group-as-united-kwacha-alliance-saki/
      title: "We’ll register our group as United Kwacha Alliance – Saki"
    - source: News Diggers!
      url: https://diggers.news/local/2024/02/12/govt-evacuates-kambwili-to-sa/
      title: "Govt evacuates Kambwili to SA"
    - source: Mwebantu
      url: https://www.mwebantu.com/nkana-fans-look-away-league-returns/?utm_source=rss&utm_medium=rss&utm_campaign=nkana-fans-look-away-league-returns
      title: "Nkana fans look away! League returns"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/150-volunteers-teach-kanyama-pupils-on-cholera-prevention/
      title: "150 volunteers teach Kanyama Pupils on Cholera Prevention"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/uka-is-a-marriage-of-convenience-kabamba/
      title: "UKA is a marriage of convenience-Kabamba"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/zambia-an-attractive-investment-destination/
      title: "“Zambia is an attractive investment destination”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/imenda-calls-on-burundis-ambassador-to-zambia/
      title: "Imenda calls on Burundi’s Ambassador to Zambia"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/12/nkandu-hails-futsal-team-for-afcon-qualification/
      title: "Nkandu hails futsal team for AFCON qualification"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/02/12/when-my-time-was-needed-i-stepped-up-patson/
      title: "When my time was needed, I stepped up – Patson"
    - source: Mwebantu
      url: https://www.mwebantu.com/youth-arrested-for-stealing-money-and-buying-mark-ll/?utm_source=rss&utm_medium=rss&utm_campaign=youth-arrested-for-stealing-money-and-buying-mark-ll
      title: "Youth arrested for stealing money and buying Mark ll"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/renaissance-act-ii-beyonce-announces-new-album-in-super-bowl-advert/
      title: "Renaissance Act II: Beyoncé announces new album in Super Bowl advert"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ceec-to-disburse-k390m-in-loans-to-entrepreneurs/
      title: "CEEC to Disburse K390m in Loans to entrepreneurs"
---
