---
title: "Wednesday, January 24th, 2024"
description: This is the one hundred and sixty-fifth episode of the podcast.
tags: episode
episode: "165"
date: 2024-01-24T14:10:54.461488+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-01-24_podcast_dist.mp3
    length: 11 minutes, 5 seconds
    size: 10.18 MB
rss:
    enclosure_length: 10674736
    itunes_duration: 11:05
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 40 seconds
words:
    count: 1,522
    rate: 137 words per minute
references:
    count: 28
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/01/24/you-can-count-on-zambia-for-peace-hh/
      title: "You can count on Zambia for peace – HH"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/01/24/flip-flopping-is-good-citizens-must-not-consistently-praise-upnd-even-when-they-do-wrong/
      title: "Flip-flopping is good, citizens must not consistently praise UPND even when they do wrong"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/01/24/regular-inspections-key-to-mine-safety/
      title: "Regular inspections key to mine safety"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/24/a-govt-that-wants-to-be-trusted-must-keep-its-promises-sichinga/
      title: "A govt that wants to be trusted must keep its promises – Sichinga"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/01/24/linda-applies-to-withdraw-from-representing-injured-unza-student/
      title: "Linda applies to withdraw from representing injured UNZA student"
    - source: Mwebantu
      url: https://www.mwebantu.com/nursing-student-found-dead/?utm_source=rss&utm_medium=rss&utm_campaign=nursing-student-found-dead
      title: "Nursing student found dead"
    - source: News Diggers!
      url: https://diggers.news/business/2024/01/24/govt-hasnt-been-subsidising-fuel-weve-just-been-cushioning-cost-of-transportation-erb/
      title: "Govt hasn’t been subsidising fuel, we’ve just been cushioning cost of transportation – ERB"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/kabwe-warriors-signs-deal-with-1xbet/
      title: "Kabwe Warriors Signs Deal with 1XBET"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/i-dont-intend-to-challenge-hh-nkombo/
      title: "I don’t intend to challenge HH -Nkombo"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/01/24/lumwana-to-create-1000-jobs/
      title: "Lumwana to create 1,000 jobs"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/01/24/munir-lost-his-stepfather-surety-tells-court/
      title: "Munir lost his stepfather, surety tells court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/350-chipata-farmers-get-loans-under-credit-window/
      title: "350 Chipata Farmers Get Loans under Credit window"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/upnd-wins-mayembe-ward-by-election-in-shiwangandu/
      title: "UPND Wins Mayembe ward by election in Shiwang’andu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/south-korea-donates-vehicles-to-govt/
      title: "South Korea donates vehicles to Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/it-is-not-subsidy-of-fuel-erb-clarifies/?utm_source=rss&utm_medium=rss&utm_campaign=it-is-not-subsidy-of-fuel-erb-clarifies
      title: "It is not subsidy of fuel, ERB clarifies"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-to-travel-to-botswana/?utm_source=rss&utm_medium=rss&utm_campaign=president-hakainde-hichilema-to-travel-to-botswana
      title: "President Hakainde Hichilema to travel to Botswana"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/no-demolition-of-chisokone-market/
      title: "“No Demolition of Chisokone Market”"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/24/our-civic-space-is-open-and-inclusive-haimbe-tells-eu/
      title: "Our civic space is open and inclusive, Haimbe tells EU"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/24/chikoya-comes-to-sangwas-defence-its-not-a-crime-to-express-concern-about-unmet-promises/
      title: "Chikoya comes to Sangwa’s defence: “it’s not a crime to express concern about unmet promises”"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/24/cholera-vaccines-are-safe-assures-govt-as-over-1-4m-get-vaccinated/
      title: "Cholera vaccines are safe, assures govt, as over 1.4m get vaccinated"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/chipolopolo-takes-on-morocco/
      title: "Chipolopolo Takes on Morocco"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2024/01/24/kalumbila-to-build-800-houses/
      title: "Kalumbila to build 800 houses"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/24/we-are-under-pressure-having-covid-on-top-of-cholera-is-a-big-stretch-chilengi/
      title: "We are under pressure, having Covid on top of Cholera is a big stretch – Chilengi"
    - source: News Diggers!
      url: https://diggers.news/local/2024/01/24/we-have-apprehended-176-street-vendors-since-dec-lcc/
      title: "We have apprehended 176 street vendors since Dec – LCC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/barrick-lumwana-mine-to-start-building-new-pit/
      title: "Barrick Lumwana Mine to start building new pit"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/trump-defeats-haley-to-win-key-new-hampshire-primary/
      title: "Trump defeats Haley to win key New Hampshire primary"
    - source: Mwebantu
      url: https://www.mwebantu.com/serial-defiler-in-court-for-defiling-seven-girls/?utm_source=rss&utm_medium=rss&utm_campaign=serial-defiler-in-court-for-defiling-seven-girls
      title: "Serial defiler in court for defiling seven girls"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/hh-to-hold-talks-with-masisi/
      title: "HH to hold talks with Masisi"
---
