---
title: "Saturday, April 27th, 2024"
description: "Zed News Podcast episode 233 features Ayanda discussing the latest developments in Zambian football, including the Red Arrows' impending league title, the postponement of the Football Association of Zambia's Annual General Meeting due to a court injunction, and Barbra Banda's impressive performance for Orlando Pride in the NWSL."
tags: episode
episode: "233"
date: 2024-04-27T22:12:18.519123+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-04-27_podcast_dist.mp3
    length: 2 minutes, 13 seconds
    size: 2.07 MB
rss:
    enclosure_length: 2170518
    itunes_duration: 02:13
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 2 minutes
words:
    count: 323
    rate: 146 words per minute
references:
    count: 5
    sources: 1
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/barbra-banda-shines-for-orlando-pride/
      title: "Barbra Banda shines for Orlando Pride"
    - source: Mwebantu
      url: https://www.mwebantu.com/red-arrows-a-point-away-from-winning-the-league/
      title: "Red Arrows a point away from winning the league"
    - source: Mwebantu
      url: https://www.mwebantu.com/faz-agm-iced-wrangles-persist/
      title: "FAZ AGM iced, wrangles persist"
    - source: Mwebantu
      url: https://www.mwebantu.com/nkana-seek-to-end-zesco-title-hopes/
      title: "Nkana seek to end Zesco title hopes"
    - source: Mwebantu
      url: https://www.mwebantu.com/we-have-to-be-ready-to-bear-fifa-sanctions-rueben-kamanga-says-after-foiled-faz-agm/
      title: "‘We have to be ready to bear FIFA sanctions,’ Rueben Kamanga says after foiled FAZ AGM"
---
