---
title: "Friday, April 19th, 2024"
description: " In this episode of Zed News Podcast, Ayanda covers various local and international news stories. Locally, RED Arrows take a 10-point lead in the Super League, the Minister of Sports calls for unity in football administration, and the Health Minister reveals alarming cervical cancer rates. Former Minister of Justice Given Lubinda is acquitted of corruption charges, and the Indian Business Community is urged to invest in Zambia's agriculture sector. In international news, Israeli missiles reportedly strike Iran, and a public inquiry is underway into the infected blood scandal in the UK."
tags: episode
episode: "227"
date: 2024-04-19T12:08:33.287827+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-04-19_podcast_dist.mp3
    length: 6 minutes, 9 seconds
    size: 5.66 MB
rss:
    enclosure_length: 5937582
    itunes_duration: 06:09
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 17 seconds
words:
    count: 881
    rate: 143 words per minute
references:
    count: 15
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/19/weve-been-turned-into-beggars-because-of-upnd-policies-mundubile/
      title: "We’ve been turned into beggars because of UPND policies – Mundubile"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/19/arrows-kills-off-competition-for-league-title/
      title: "Arrows dump Zesco out of title race"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/19/kanyemba-names-provisional-womens-u17-squad-for-uganda-game/
      title: "Kanyemba names provisional women’s U17 squad for Uganda game"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/04/19/govt-promised-to-evacuate-all-cancer-patients-what-happened/
      title: "Govt promised to evacuate all cancer patients, what happened?"
    - source: News Diggers!
      url: https://diggers.news/local/2024/04/19/its-an-honour-that-ill-meet-hh-at-kuomboka-chitimukulu/
      title: "It’s an honour that I’ll meet HH at Kuomboka – Chitimukulu"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/19/ccpc-investigates-unfair-trade-practices-in-poultry-industry/
      title: "CCPC investigates unfair trade practices in poultry industry"
    - source: Mwebantu
      url: https://www.mwebantu.com/lubinda-given-justice-at-court/
      title: "Lubinda ‘Given’ Justice at court."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/mining-revival-to-benefit-banking-melu/
      title: "Mining Revival to benefit banking- Melu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/infected-blood-scandal-children-used-as-guinea-pigs-in-clinical-trials/
      title: "Infected blood scandal: Children used as ‘guinea pigs’ in clinical trials"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/israeli-missile-strikes-iran/
      title: "Israeli missile strikes Iran"
    - source: News Diggers!
      url: https://diggers.news/business/2024/04/19/mopani-has-sent-requests-for-quotations-to-local-contractors-amsc/
      title: "Mopani has sent requests for quotations to local contractors – AMSC"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/19/nkandu-says-football-isnt-progressing-because-of-rifts-among-administrators/
      title: "Nkandu says football isn’t progressing because of rifts among administrators"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/165825-2/
      title: "Yo Maps receives heavenly confirmation"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/04/19/kalabas-condition-improving-uth/
      title: "Kalaba’s condition improving – UTH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/indian-community-asked-to-invest-in-agriculture/
      title: "Indian Community asked to Invest in Agriculture"
---
