---
title: "Wednesday, November 27th, 2024"
description: "In this episode, we cover a range of news from Africa, including a concerning trend in cyberattacks on government and financial institutions, the growing issue of self-medication in Zambia, and positive news from the Zambian government's drought response plan. We also touch on politics, sports, and economy, including the upcoming bodybuilding event in Zambia and the Bank of Zambia's lawsuit against ZCCM Investment Holdings."
tags: episode
episode: "360"
date: 2024-11-27T14:49:40.858019+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-11-27_podcast_dist.mp3
    length: 5 minutes, 31 seconds
    size: 5.09 MB
rss:
    enclosure_length: 5336353
    itunes_duration: 05:31
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 19 seconds
words:
    count: 775
    rate: 140 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/27/trade-kings-begins-distribution-of-agricultural-supplies-to-farmers/
      title: "Trade Kings begins distribution of agricultural supplies to farmers"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/27/barbra-a-worthy-footballer-of-the-year-winner-bbc/
      title: "Barbra a worthy Footballer of the Year winner – BBC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/fragile-frail-weak-man-citys-defensive-woes-continue/
      title: "‘Fragile, frail & weak’ – Man City’s defensive woes continue"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/angola-drc-identified-as-markets-for-zambian-beef-exports/
      title: "Angola, DRC identified as markets for Zambian beef exports"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2024/11/27/positive-technologies-over-half-of-cyberattacks-in-africa-target-government-and-finance/
      title: "Positive Technologies: over half of cyberattacks in Africa target government and finance"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/27/zanaco-host-nkana-buffaloes-face-nkwazi-in-military-derby/
      title: "Zanaco host Nkana, Buffaloes face Nkwazi in military derby"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/court-orders-nakacinda-to-account-for-mmd-vehicles/
      title: "Court orders NAKACINDA to account for MMD Vehicles"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/protect-your-whatsapp-zicta-warns-users/
      title: "Protect your WhatsApp, ZICTA warns users"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/27/more-are-expected-to-join-upnd-alliance-milupi/
      title: "More are expected to join UPND Alliance – Milupi"
    - source: News Diggers!
      url: https://diggers.news/courts/2024/11/27/boz-sues-over-500-shareholders-of-investrust-bank/
      title: "BOZ sues over 500 shareholders of Investrust Bank"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chikote-solar-development-needs-private-collaboration/
      title: "CHIKOTE: Solar development needs private collaboration"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/27/dont-sacrifice-your-dignity-at-the-altar-of-cheap-thrills-lungu-tells-people-of-luapula/
      title: "Don’t sacrifice your dignity at the altar of cheap thrills, Lungu tells people of Luapula"
    - source: News Diggers!
      url: https://diggers.news/local/2024/11/27/self-medication-a-big-challenge-in-fight-against-antimicrobial-resistance-znphi/
      title: "Self-medication a big challenge in fight against antimicrobial resistance – ZNPHI"
    - source: Mwebantu
      url: https://www.mwebantu.com/ecz-chairperson-mwangala-zaloumis-given-72-hours-ultimatum-to-resign/
      title: "ECZ chairperson Mwangala Zaloumis given 72 hours ultimatum to resign."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/11/27/zambia-to-host-bodybuilding-event-as-wff-brings-professional-licensing-to-local-athletes/
      title: "Zambia to host bodybuilding event as WFF brings professional licensing to local athletes"
    - source: News Diggers!
      url: https://diggers.news/business/2024/11/27/weve-assisted-over-a-million-households-under-drought-response-plan-dmmu/
      title: "We’ve assisted over a million households under drought response plan – DMMU"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/researcher-proposes-amendment-to-end-by-elections/
      title: "Researcher proposes amendment to end by-elections"
---
