---
title: "Monday, December 16th, 2024"
description: "In this episode, we cover a range of news from Zambia and beyond, including promotions from global bookmaker 1xBet, governance and infrastructure developments, environmental news, and sports updates. From calls for accountability to celebrations of sporting achievements, we bring you the latest news and updates from around the region."
tags: episode
episode: "373"
date: 2024-12-16T14:50:16.220507+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-12-16_podcast_dist.mp3
    length: 5 minutes, 12 seconds
    size: 4.79 MB
rss:
    enclosure_length: 5027061
    itunes_duration: 05:12
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 56 seconds
words:
    count: 715
    rate: 138 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/16/zambias-ranking-as-africas-best-at-uplifting-lives-is-fake-andyford/
      title: "Zambia’s ranking as Africa’s best at uplifting lives is fake – Andyford"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/16/cif-approves-34m-for-zambias-nature-people-and-climate-plan/
      title: "CIF approves $34m for Zambia’s nature, people and climate plan"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/16/arrows-defeat-forest-radiants-dim-napsa-stars/
      title: "Arrows defeat Forest, Radiants dim NAPSA Stars"
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2024/12/16/get-festive-emotions-with-1xbet/
      title: "Get festive emotions with 1xBet!"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/3-die-in-road-accident/
      title: "3 die in road accident"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/12/16/300-increase-in-property-rates-what-a-way-to-reduce-the-cost-of-doing-business/
      title: "300% increase in property rates? What a way to reduce the cost of doing business!"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/volleyball-green-buffaloes-secure-bronze-at-zone-six-region-senior-club-championship/
      title: "Volleyball :Green Buffaloes secure bronze at Zone Six Region Senior Club Championship."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/court-turns-down-munir-s-appeal-to-drop-one-case/
      title: "Court turns down Munir ‘s appeal to drop one case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kabimba-salutes-hhs-stance-on-corruption/
      title: "Kabimba salutes HH’s stance on Corruption"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/squash-zambia-wins-gold-at-uhuru-championship/
      title: "Squash: Zambia wins gold at Uhuru Championship"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/16/zambia-qualifies-for-chan-after-mozambique-withdraws/
      title: "Zambia qualifies for CHAN after Mozambique withdraws"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/12/16/buffaloes-coach-complains-after-failing-to-defend-volleyball-crown/
      title: "Buffaloes coach complains after failing to defend volleyball crown"
    - source: Mwebantu
      url: https://www.mwebantu.com/liteta-rta-claims-three-lives-police-say/
      title: "Liteta RTA claims three lives, police say."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-to-construct-police-post-in-kawanachingola/
      title: "Govt to construct police post in Kawana,Chingola"
    - source: News Diggers!
      url: https://diggers.news/business/2024/12/16/issues-surrounding-management-of-cadastre-software-resolved-govt/
      title: "Issues surrounding management of Cadastre software resolved – Govt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zaffico-to-establish-integrated-wood-processing-plant/
      title: "ZAFFICO to establish $30m Integrated wood processing plant"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/16/masaiti-town-council-made-23-payments-to-suppliers-without-clearance-from-zra-ag/
      title: "Masaiti Town Council made 23 payments to suppliers without clearance from ZRA – AG"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/water-bodies-encroachment-limits-nwwsscos-capacity-to-supply-water-nzovu/
      title: "Water bodies encroachment limits NWWSSCO’s capacity to supply water-Nzovu"
    - source: News Diggers!
      url: https://diggers.news/local/2024/12/16/always-think-of-projects-to-better-zambia-hh-urges-public-sector-players/
      title: "Always think of projects to better Zambia, HH urges public sector players"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/us-give-3000-to-40-farmers-cooperatives-in-lusaka-and-cb/
      title: "US give $3,000 to 40 farmers’ cooperatives in Lusaka and CB"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/banda-set-to-get-caf-award/
      title: "Banda set to get CAF Award"
---