---
title: "Friday, July 19th, 2024"
description: "The Zed News Podcast episode 267 covers 25 news items from Zambia, including the transfer of ministers in the Zambian government, the progress of the Zambia national soccer team, and the development of an African Swine Fever vaccine in Kenya. The episode also discusses the investigation of an attempted rape at Levy Mwanawasa University Teaching Hospital and the suspension of the ZAMMSA director general due to the mysterious disappearance of medical supplies. The Vice President, Mutale Nalumango, emphasizes that the Anti-Corruption Commission (ACC) is not burying corruption cases and that the government will not protect anyone involved in corruption. The episode concludes with the signing of a Transfrontier Conservation Area Memorandum of Agreement between Zambia, Zimbabwe, and Mozambique."
tags: episode
episode: "267"
date: 2024-07-19T16:47:30.684109+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2024-07-19_podcast_dist.mp3
    length: 6 minutes, 49 seconds
    size: 6.27 MB
rss:
    enclosure_length: 6579148
    itunes_duration: 06:49
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 18 seconds
words:
    count: 918
    rate: 135 words per minute
references:
    count: 25
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/19/hh-moves-kapala-to-livestock-as-chikote-takes-over-energy/
      title: "HH moves Kapala to Livestock, as Chikote takes over Energy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/bones-of-suspected-small-scale-miner-found-at-sensele-mine/
      title: "Bones of suspected small scale miner found at Sensele Mine"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/19/its-time-for-muzala-to-prove-himself-matete/
      title: "It’s time for Muzala to prove himself – Matete"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/no-one-will-be-shielded-hh/
      title: "No one will be shielded – HH"
    - source: News Diggers!
      url: https://diggers.news/opinion/2024/07/19/how-can-upnd-be-so-shameless-to-denounce-the-fic-report-which-they-used-to-de-campaign-pf/
      title: "How can UPND be so shameless to denounce the FIC report which they used to de-campaign PF?"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/19/ecl-didnt-return-to-politics-to-play-pr-hes-in-uka-as-our-choice-flag-bearer-pf/
      title: "ECL didn’t return to politics to play PR, he’s in UKA as our choice flag bearer – PF"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/19/kabwe-warriors-dont-fear-arrows/
      title: "Kabwe Warriors don’t fear Arrows – Chakatazya"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/19/chipolopolo-continue-to-nose-dive-on-fifa-rankings/
      title: "Chipolopolo continue to nose dive on FIFA rankings"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133625
      title: "Govt cuts power exports by 150MW"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133623
      title: "Kenya develops African swine fever vaccine"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133618
      title: "Grizzly generates $32.5m from gems auction"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133616
      title: "Police probe attempted rape on State House staffer"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133613
      title: "Solicitor General sues ex-ACC commissioner for libel"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133609
      title: "ZAMMSA boss Victor Nyasulu suspended over drugs scam"
    - source: Mwebantu
      url: https://www.mwebantu.com/solicitor-general-sues-ex-acc-commissioner-over-corruption-allegations/
      title: "Solicitor General sues ex-ACC commissioner over corruption allegations."
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/19/were-preparing-approval-for-next-financing-to-zambia-world-bank/
      title: "We’re preparing approval for next financing to Zambia – World Bank"
    - source: News Diggers!
      url: https://diggers.news/local/2024/07/19/cabinet-approves-zammsa-amendment-bill-for-emergency-drug-procurement/
      title: "Cabinet approves ZAMMSA amendment bill for emergency drug procurement"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133607
      title: "Cabinet nods K2bn Cash-for-Work programme …as Rwanda donates 20,000 50Kg bags of relief maize"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133603
      title: "President Hichilema assures of enhanced drought response"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/fic-report-only-contains-suspicious-transactions-vp/
      title: "FIC Report only contains suspicious transactions – VP"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2024/07/19/arrows-eye-cecafa-cup-final/
      title: "Arrows eye CECAFA Cup final"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=133600
      title: "HH dissolves ACC board …as stakeholders throw weight behind HH over move"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/acc-hasnt-buried-corruption-cases-vp/
      title: "ACC hasn’t buried corruption cases – VP"
    - source: Mwebantu
      url: https://www.mwebantu.com/mbunda-royal-establishment-demands-apology-from-gender-division-ps-for-uncultured-behavior/
      title: "Mbunda Royal Establishment demands apology from Gender Division PS for ‘uncultured behavior’"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/transfrontier-conservation-area-memorandum-of-agreement-signed/
      title: "Transfrontier Conservation Area Memorandum of Agreement signed"
---
