---
title: "Thursday, March 14th, 2024"
description: Zambian government reviews gun licensing to curb rising gun violence, and denies a statement by OCIDA chairperson calling for sanctions against President Hichilema. Sedrick Kasanda is charged with aggravated robbery, while Nelly Mutti and four others become State Counsel. South Africa terminates a deal to sell a stake in South African Airways, and President Hichilema launches a transport empowerment program. OCIDA disowns a letter to the US Embassy and denounces member Brebner Changala, as ABSA, ZAFFICO, and the Zambia Forestry Department launch a tree planting partnership. The US House passes a bill that could lead to a nationwide TikTok ban, and Jacob Zuma becomes a political wildcard in South Africa's election.
tags: episode
episode: "201"
date: 2024-03-14T15:06:11.618041+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2024-03-14_podcast_dist.mp3
    length: 4 minutes, 41 seconds
    size: 4.32 MB
rss:
    enclosure_length: 4534913
    itunes_duration: 04:41
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 56 seconds
words:
    count: 684
    rate: 146 words per minute
references:
    count: 11
    sources: 2
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/ocida-members-disown-letter-to-us-embassy/
      title: "OCIDA members disown letter to US Embassy"
    - source: Mwebantu
      url: https://www.mwebantu.com/review-of-gun-licensing-begins-to-curb-rising-gun-violence/?utm_source=rss&utm_medium=rss&utm_campaign=review-of-gun-licensing-begins-to-curb-rising-gun-violence
      title: "Review of gun licensing begins to curb rising gun violence."
    - source: Mwebantu
      url: https://www.mwebantu.com/state-house-denounces-alleged-statement-by-ocida-chairperson-as-malicious/?utm_source=rss&utm_medium=rss&utm_campaign=state-house-denounces-alleged-statement-by-ocida-chairperson-as-malicious
      title: "State House denounces alleged statement by OCIDA chairperson as malicious."
    - source: Mwebantu
      url: https://www.mwebantu.com/sedrick-kasanda-in-court-over-us5million-armed-robbery-charge/?utm_source=rss&utm_medium=rss&utm_campaign=sedrick-kasanda-in-court-over-us5million-armed-robbery-charge
      title: "Sedrick Kasanda in court over US$5million armed robbery charge"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/south-african-airways-privatisation-deal-collapses/
      title: "South African Airways’ privatisation deal collapses"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/jacob-zuma-the-political-wildcard-in-south-africas-election/
      title: "Jacob Zuma – the political wildcard in South Africa’s election"
    - source: Mwebantu
      url: https://www.mwebantu.com/speaker-nelly-mutti-and-four-others-conferred-state-counsel-status/?utm_source=rss&utm_medium=rss&utm_campaign=speaker-nelly-mutti-and-four-others-conferred-state-counsel-status
      title: "Speaker Nelly Mutti and four others conferred State Counsel status."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/state-house-disappointed-with-archbishop-mpundu/
      title: "OCIDA letter to US Embassy malicious – HAMASAKA"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/us-house-passes-bill-that-could-ban-tiktok-nationwide/
      title: "US House passes bill that could ban TikTok nationwide"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/transport-empowerment-programme-launched/
      title: "Transport empowerment programme launched"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://www.znbc.co.zm/news/absa-zaffico-launch-tree-planting-partnership/
      title: "ABSA, ZAFFICO launch tree planting partnership"
---