---
title: "Friday, June 6th, 2025"
description: "First Quantum Minerals reports significant progress on its S3 project, a key development set to boost copper production and the economy. The episode also covers major national news, including the passing of former President Edgar Lungu and recommendations for electoral reform."
tags: episode
episode: "496"
date: 2025-06-06T16:00:08.206307+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-06-06_podcast_dist.mp3
    length: 21 minutes, 49 seconds
    size: 20.01 MB
rss:
    enclosure_length: 20985959
    itunes_duration: 21:49
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 13
    sources: 3
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/06/time-to-elevate-vocational-education-route-in-secondary-schools/?utm_source=rss&utm_medium=rss&utm_campaign=time-to-elevate-vocational-education-route-in-secondary-schools
      title: "Time to elevate vocational education route in secondary schools"
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/06/electoral-committee-recommends-different-genders-for-presidential-candidate-running-mate/
      title: "Electoral Committee recommends different genders for presidential candidate, running mate"
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/06/we-work-with-govt-opposition-has-no-money-mpezeni/
      title: "We work with govt, opposition has no money \u2013 Mpezeni"
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/06/ngoccs-u-turn-on-constitutional-amendments-shocking-upnd/
      title: "NGOCC\u2019s U-turn on constitutional amendments shocking \u2013 UPND"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/06/06/farewell-mr-lungu-you-ran-your-race/
      title: "Farewell Mr Lungu, you ran your race"
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/06/state-house-responds-to-donation-rejection-hh-has-always-been-a-giver/
      title: "State House responds to donation rejection: HH has always been a giver"
    - source: Mwebantu
      url: https://www.mwebantu.com/upnd-remembers-ecl/
      title: "UPND remembers ECL"
    - source: Mwebantu
      url: https://www.mwebantu.com/fqm-makes-significant-progress-on-its-s3-project/
      title: "FQM makes significant progress on its S3 project"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/06/06/kuku-woman-gets-1-year-for-trafficking-in-114-6g-of-cannabis/
      title: "Kuku woman gets 1 year for trafficking in 114.6g of cannabis"
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/06/acc-arrests-5-rsta-officers-for-corruption/
      title: "ACC arrests 5 RSTA officers for corruption"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/06/06/i-was-praying-not-to-meet-japan-again-kanyemba/
      title: "I was praying not to meet Japan again \u2013 Kanyemba"
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/06/sunkutu-has-shortened-her-removal-process-by-resigning-jonas/
      title: "Sunkutu has shortened her removal process by resigning \u2013 Jonas"
    - source: Mwebantu
      url: https://www.mwebantu.com/player-boycott-forces-cancellation-of-games-keith-mweemba-warns-ring-leaders/
      title: "Player boycott forces cancellation of games, Keith Mweemba warns ring leaders."
---