---
title: "Friday, April 18th, 2025"
description: "In this episode, President Hakainde Hichilema emphasizes his proactive approach to governance, while the government prioritizes constitutional amendments ahead of next year's general elections. The episode also covers a range of other topics, including a new cyber security law, a measles outbreak, economic updates, and sporting events."
tags: episode
episode: "461"
date: 2025-04-18T15:38:22.694273+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-04-18_podcast_dist.mp3
    length: 4 minutes
    size: 3.69 MB
rss:
    enclosure_length: 3873490
    itunes_duration: 04:00
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 6 seconds
words:
    count: 552
    rate: 138 words per minute
references:
    count: 13
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/18/be-safe-rtsa-zpl-caution-fans-ahead-of-kitwe-derby/
      title: "Be safe, RTSA, ZPL caution fans ahead of Kitwe derby"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/measles-outbreak-spreads-nationwide-dr-muchima/
      title: "Measles Outbreak Spreads Nationwide – Dr. MUCHIMA"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/18/bally-mocks-tonse-socialist-alliance-and-netizens-respond/
      title: "Bally mocks Tonse, Socialist alliance and netizens respond"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/18/govt-frees-gbm-on-medical-grounds/
      title: "Govt frees GBM on medical grounds"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/18/im-an-involved-president-not-an-observer-hh/
      title: "I’m an involved President, not an observer – HH"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/18/kk-day-golf-tourney-to-tee-off-at-state-house/
      title: "KK Day golf tourney to tee off at State House"
    - source: News Diggers!
      url: https://diggers.news/business/2025/04/18/exchange-rate-has-been-stable-despite-pressure-boz/
      title: "Exchange rate has been stable despite pressure – BoZ"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/04/18/i-charged-nakacinda-after-discovering-that-hh-didnt-order-a-search-of-lungus-house-officer/
      title: "I charged Nakacinda after discovering that HH didn’t order a search of Lungu’s house – Officer"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/18/fifa-seems-to-favour-kamanga-laments-mutale/
      title: "FIFA seems to favour Kamanga, laments Mutale"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/18/constitutional-amendment-wasnt-priority-in-2021-2022-we-were-attending-to-the-economy-mweetwa/
      title: "Constitutional amendment wasn’t priority in 2021/2022, we were attending to the economy – Mweetwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kcm-eyes-300000-tonnes-annual-production/
      title: "KCM Eyes 300,000 Tonnes Annual Production"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/18/us-warns-its-citizens-over-new-surveillance-law-in-zambia/
      title: "US warns its citizens over new surveillance law in Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/cyber-laws-meant-to-protect-all-mwiimbu/
      title: "Cyber Laws Meant to Protect All – MWIIMBU"
---
