---
title: "Monday, May 26th, 2025"
description: "This episode of Zed News covers the assault on a Zambian business figure by street vendors, raising concerns about urban management and informal economy clashes, and the proposed Constitutional Amendment Bill No. 7, which threatens democratic values by expanding executive power. The podcast also discusses Zambia\u0027s economic growth challenges and highlights political developments in Malawi, as well as local issues like a child being attacked by a rooster."
tags: episode
episode: "487"
date: 2025-05-26T15:39:25.903219+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-05-26_podcast_dist.mp3
    length: 6 minutes, 56 seconds
    size: 6.38 MB
rss:
    enclosure_length: 6693877
    itunes_duration: 06:56
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 8 seconds
words:
    count: 967
    rate: 139 words per minute
references:
    count: 14
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/e-paper/2025/05/26/news-diggers-epaper-edition-2002-monday-may-26-2025/
      title: "\"News Diggers! ePaper Edition 2002 Monday May 26, 2025\""
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/05/26/30-days-not-enough-a-hasty-constitution-amendment-is-a-democracy-at-risk/
      title: "\"30 days not enough: A hasty Constitution amendment is a democracy at risk\""
    - source: News Diggers!
      url: https://diggers.news/business/2025/05/26/economy-must-grow-at-over-10-annually-for-poverty-to-be-reduced-eaz/
      title: "\"Economy must grow at over 10% annually for poverty to be reduced \u2013 EAZ\""
    - source: Mwebantu
      url: https://www.mwebantu.com/traders-assault-simon-mwewa/
      title: "\"Traders assault \u201cSimon Mwewa.\u201d\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/26/vendors-attack-simon-mwewa/
      title: "\"Vendors attack Simon Mwewa\""
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/05/26/the-new-dawn-of-autocracy/
      title: "\"The New Dawn of Autocracy?\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/26/well-not-disclose-our-candidate-for-lumezi-for-security-reasons-tonse/
      title: "\"We\u2019ll not disclose our candidate for Lumezi for security reasons \u2013 Tonse\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/26/under-pf-youd-be-clobbered-just-for-wearing-red-recalls-chief-kaingu/
      title: "\"Under PF, you\u2019d be clobbered just for wearing red, recalls Chief Kaingu\""
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/05/26/the-invisible-axe-how-urban-mindsets-fuel-zambias-deforestation-crisis-part-1/
      title: "\"The Invisible Axe: How Urban Mindsets Fuel Zambia\u2019s Deforestation Crisis- Part 1\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/26/a-committed-president-like-hh-may-not-be-seen-for-a-very-long-time-c-province-ps/
      title: "\"A committed President like HH may not be seen for a very long time \u2013 C/Province PS\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/26/freedom-of-expression-is-being-enjoyed-by-law-abiding-citizens-milupi/
      title: "\"Freedom of expression is being enjoyed by law-abiding citizens \u2013 Milupi\""
    - source: Mwebantu
      url: https://www.mwebantu.com/upnd-adopts-lufeyo-ngoma-for-lumezi-by-election/
      title: "\"UPND adopts Lufeyo Ngoma for Lumezi by-election.\""
    - source: Mwebantu
      url: https://www.mwebantu.com/baby-attacked-by-a-chicken-police-say/
      title: "\"Baby attacked by a chicken, police say\""
    - source: Mwebantu
      url: https://www.mwebantu.com/police-launch-manhunt-after-simon-mwewa-stoned-by-angry-vendors/
      title: "\"Police launch manhunt after \u201cSimon Mwewa\u201d stoned by angry vendors.\""
---