---
title: "Monday, January 27th, 2025"
description: "This episode of the Zed News Podcast covers various news updates from Zambia, including the controversy surrounding Flava FM and the Zambia Police Service, struggles with the National Health Insurance Scheme, and political developments such as allegations of human rights abuses and preparations for the Mission 300 Africa Energy Summit."
tags: episode
episode: "403"
date: 2025-01-27T20:48:52.660944+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-01-27_podcast_dist.mp3
    length: 4 minutes, 31 seconds
    size: 4.17 MB
rss:
    enclosure_length: 4372118
    itunes_duration: 04:31
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 33 seconds
words:
    count: 633
    rate: 140 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/police-dismiss-social-media-claims-about-flava-fm-and-un-special-rapporteur-warn-emmanuel-mwamba/
      title: "Police dismiss social media claims about Flava FM and UN Special Rapporteur, warn Emmanuel Mwamba"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/27/hh-to-attend-energy-summit-in-tanzania/
      title: "HH to attend Energy Summit in Tanzania"
    - source: News Diggers!
      url: https://diggers.news/business/2025/01/27/overnight-post-budget-taxes-risk-pushing-inflation-up-zam/
      title: "“Overnight” post budget taxes risk pushing inflation up – ZAM"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/01/27/zambias-nhima-dilemma-can-we-learn-from-the-uk-and-usa/
      title: "Zambia’s NHIMA Dilemma: Can we learn from the UK and USA?"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/01/27/has-nhima-collapsed-part-1/
      title: "Has NHIMA Collapsed? – Part 1"
    - source: Mwebantu
      url: https://www.mwebantu.com/drunk-mother-detained-for-manslaughter-after-babys-death/
      title: "Drunk mother detained for manslaughter after baby’s death."
    - source: Mwebantu
      url: https://www.mwebantu.com/citizens-first-president-harry-kalaba-writes-to-un-over-alleged-human-rights-abuses-in-zambia/
      title: "Citizens First president Harry Kalaba writes to UN over alleged human rights abuses in Zambia."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/27/fifa-clears-kamanga-to-contest-council-seat/
      title: "FIFA clears Kamanga to contest council seat"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/27/hh-is-de-facto-pf-president-kbf/
      title: "HH is de facto PF president – KBF"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/27/fifa-threatens-prison-leopards-with-transfer-ban/
      title: "FIFA threatens Prison Leopards with transfer ban"
    - source: News Diggers!
      url: https://diggers.news/business/2025/01/27/private-sector-has-shown-interest-to-work-on-l-stone-sesheke-road-milupi/
      title: "Private sector has shown interest to work on L/stone – Sesheke road – Milupi"
    - source: News Diggers!
      url: https://diggers.news/business/2025/01/27/erb-institutes-investigations-against-surya-for-selling-water-contaminated-fuel/
      title: "ERB institutes investigations against Surya for selling water contaminated fuel"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/political-parties-summoned-after-petauke-campaign-violence/
      title: "Political parties summoned after Petauke campaign violence"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/president-hichilema-zambia-advancing-in-electricity-solutions/
      title: "President HICHILEMA: Zambia advancing in electricity solutions"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/27/action-will-be-taken-against-mwamba-over-flava-fm-un-envoy-falsehoods-police/
      title: "Action will be taken against Mwamba over Flava FM, UN envoy falsehoods – Police"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/police-asked-to-investigate-fake-news-on-presidents-health/
      title: "Police asked to investigate fake news on President’s health"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/nurse-claims-officers-were-drunk-during-jay-jay-banda-escape/
      title: "Nurse claims officers were drunk during ‘JAY JAY’ BANDA escape"
---
