---
title: "Thursday, May 29th, 2025"
description: "Today\u0027s Zed News covers concerns over public trust in Zambia\u0027s judiciary, especially regarding electoral disputes, and the violence surrounding the upcoming Lumezi by-election. The podcast also examines the limited representation for persons with disabilities in the draft Constitution and the government\u0027s claims of laying a foundation for economic recovery."
tags: episode
episode: "490"
date: 2025-05-29T15:38:59.036416+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-05-29_podcast_dist.mp3
    length: 6 minutes, 43 seconds
    size: 6.19 MB
rss:
    enclosure_length: 6492840
    itunes_duration: 06:43
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 41 seconds
words:
    count: 951
    rate: 142 words per minute
references:
    count: 11
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2025/05/29/court-tells-acc-not-to-abuse-court-process-in-lusambo-case/
      title: "\"Court tells ACC not to abuse court process in Lusambo case\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/29/upnd-ferried-cadres-in-lumezi-to-cause-violence-lungu-claims/
      title: "\"UPND ferried cadres in Lumezi to cause violence, Lungu claims\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/29/political-leadership-no-longer-being-decided-by-voters-alone-cj-notes/
      title: "\"Political leadership no longer being decided by voters alone, CJ notes\""
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/05/29/judges-role-in-electoral-dispute-requires-massive-public-confidence/
      title: "\"Judges role in electoral dispute requires massive public confidence\""
    - source: News Diggers!
      url: https://diggers.news/business/2025/05/29/fra-to-announce-maize-purchase-price-next-month/
      title: "\"FRA to announce maize purchase price next month\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/29/i-know-youre-angry-but-pf-tonse-are-not-your-saviour-nevers/
      title: "\"I know you\u2019re angry, but PF, Tonse are not your saviour \u2013 Nevers\""
    - source: Mwebantu
      url: https://www.mwebantu.com/security-guard-jailed-for-knife-cutting-boy-who-stole-his-phone/
      title: "\"Security guard jailed for knife cutting boy who \u2018stole\u2019 his phone\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/29/persons-with-disabilities-demand-20-mps-under-mixed-member-proportional-representation/
      title: "\"Persons with disabilities demand 20 MPs under mixed-member proportional representation\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/29/weve-laid-a-robust-foundation-for-economic-recovery-job-creation-govt/
      title: "\"We\u2019ve laid a robust foundation for economic recovery, job creation \u2013 govt\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/29/lumezi-by-election-was-a-missed-chance-for-parties-to-adopt-women-candidates-ngocc/
      title: "\"Lumezi by-election was a missed chance for parties to adopt women candidates \u2013 NGOCC\""
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/29/volleyballnational-team-off-to-botswana-for-ditsala-cup/
      title: "\"Volleyball National team off to Botswana for Ditsala Cup\""
---