---
title: "Tuesday, March 18th, 2025"
description: "Today's episode covers a range of stories, including a disturbing incident of child abuse in Lusaka, the upcoming Ukusefya Pang'wena traditional ceremony, and significant economic developments, including the approval of 203 projects worth $3.3 billion and the pilot of smart meters in Lusaka."
tags: episode
episode: "438"
date: 2025-03-18T14:06:53.333364+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-03-18_podcast_dist.mp3
    length: 3 minutes, 42 seconds
    size: 3.43 MB
rss:
    enclosure_length: 3592205
    itunes_duration: 03:42
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 33 seconds
words:
    count: 490
    rate: 132 words per minute
references:
    count: 4
    sources: 1
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zema-approves-203-development-projects-worth-3-3-billion/
      title: "ZEMA Approves 203 Development Projects worth $3.3 Billion"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zesco-pilots-smart-meters-to-improve-electricity-reliability/
      title: "ZESCO Pilots Smart Meters to Improve Electricity Reliability"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/father-arrested-for-sexually-abusing-7-year-old-daughter/
      title: "Father arrested for sexually abusing 7-year-old daughter"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ukusefya-pangwena-set-for-august-7-to-9-2025/
      title: "Ukusefya Pang’wena set for August 7 to 9, 2025"
---