---
title: "Thursday, April 24th, 2025"
description: "Three Nkana Football Club players have been arrested in connection with alleged malicious damage to government property at Levy Mwanawasa Stadium in Ndola. Meanwhile, a 46-year-old man has been dragged to court for sharing a screenshot claiming that President Hichilema impregnated Chipo Mwanawasa. In other news, the government has announced plans to pursue a solar energy partnership to power Levy Mwanawasa Stadium and National Heroes Stadium in Lusaka."
tags: episode
episode: "465"
date: 2025-04-24T14:12:14.138984+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-04-24_podcast_dist.mp3
    length: 12 minutes, 53 seconds
    size: 11.83 MB
rss:
    enclosure_length: 12400246
    itunes_duration: 12:53
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 22
    sources: 3
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136099
      title: "No ghost chiefs on Govt subsidy payroll \u2013 PS"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136097
      title: "Rugby refs boycott!"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/04/24/jack-man-in-court-for-sharing-screenshot-claiming-hh-impregnated-chipo-mwanawasa/
      title: "Man in court for sharing screenshot claiming HH impregnated Chipo Mwanawasa"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/24/govt-explores-clean-energy-transition-for-levy-mwanawasa-heroes-stadium/
      title: "Govt explores clean energy transition for Levy Mwanawasa, Heroes Stadium"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/04/24/lack-of-due-diligence-on-investors-giving-smugglers-audacity/
      title: "Lack of due diligence on investors giving smugglers audacity"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mumbwa-businessman-arrested-for-theft-for-1500-bags-of-fertilizer/
      title: "Mumbwa Businessman arrested for theft for 1,500 bags of Fertilizer"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/24/kalabas-citizens-first-dumps-uka/
      title: "Kalaba\u2019s Citizens First \u2018dumps\u2019 UKA"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/24/police-detain-fake-army-brigadier-general/
      title: "Police detain fake Army \u2018Brigadier General\u2019"
    - source: News Diggers!
      url: https://diggers.news/business/2025/04/24/halt-cdf-increment-until-proper-management-systems-are-installed-zica-tells-govt/
      title: "Halt CDF increment until proper management systems are installed, ZICA tells govt"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136123
      title: "GOVT assures to grow SMEs through market linkages"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136120
      title: "Bank of China assures economic support to Zambia"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136118
      title: "Make households eligible for K5 billion SRF \u2013 ZICA"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136114
      title: "HH sends delegation to Pope\u2019s funeral"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136110
      title: "SP plot?"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136107
      title: "Kalaba ditches UKA"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136102
      title: "Man nabbed over online investment scam"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/24/police-nab-3-nkana-players-over-vandalism/
      title: "Police nab 3 Nkana players over vandalism"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/24/our-focus-is-supporting-athletes-nocz/
      title: "Our focus is supporting athletes \u2013 NOCZ"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/24/constitution-under-threat-you-cant-increase-mps-when-youre-broke-sangwa/
      title: "Constitution under threat; you can\u2019t increase MPs when you\u2019re broke \u2013 Sangwa"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/misa-opposes-zambia-institute-of-journalism-bill/
      title: "MISA opposes Zambia Institute of Journalism Bill"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/undp-govt-launch-study-on-nature-related-financial-risks/
      title: "UNDP, Govt launch study on nature related financial risks"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zanaco-to-contribute-k150000-towards-ukusefya-pangena/
      title: "Zanaco to contribute K150,000 towards  Ukusefya Pangw\u2019ena"
---
