---
title: "Monday, June 2nd, 2025"
description: "Zed News Episode 492 covers Zambia\u0027s economic outlook, including the central bank\u0027s cautious monetary policy, ZAMEFA\u0027s revenue gains despite profit dips, and President Hichilema\u0027s push for beef export diversification. The episode also addresses the healthcare sector\u0027s challenges, accountability in leadership, and the Copper Queens\u0027 WAFCON preparations."
tags: episode
episode: "492"
date: 2025-06-02T15:39:57.906989+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-06-02_podcast_dist.mp3
    length: 6 minutes, 58 seconds
    size: 6.42 MB
rss:
    enclosure_length: 6729403
    itunes_duration: 06:58
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 40 seconds
words:
    count: 924
    rate: 133 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/02/dont-follow-my-footsteps-mutubila-urges-young-couples/?utm_source=rss&utm_medium=rss&utm_campaign=dont-follow-my-footsteps-mutubila-urges-young-couples
      title: "\"Don\u2019t follow my footsteps, Mutubila urges young couples\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/02/govt-seeks-emergency-meet-with-rdaz/?utm_source=rss&utm_medium=rss&utm_campaign=govt-seeks-emergency-meet-with-rdaz
      title: "\"Govt seeks emergency meet with RDAZ\""
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/06/02/cristoforetti-hails-faz-pfl-for-pushing-futsal-forward/
      title: "\"Cristoforetti hails FAZ, PFL for pushing futsal forward\""
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/06/02/power-needs-signings-to-compete-on-2-fronts-mutapa/
      title: "\"Power needs signings to compete on 2 fronts \u2013 Mutapa\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/02/tanzanian-port-signs-up-2-global-metal-giants/?utm_source=rss&utm_medium=rss&utm_campaign=tanzanian-port-signs-up-2-global-metal-giants
      title: "\"Tanzanian port signs up 2  global metal giants\""
    - source: News Diggers!
      url: https://diggers.news/courts/2025/06/02/lsk-man-sues-administrator-for-selling-estate-without-consent-demands-k1-5-m/
      title: "\"Lsk man sues administrator for selling estate without consent, demands K1.5 m\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/02/eaz-backs-boz-decision-to-maintain-mpr/?utm_source=rss&utm_medium=rss&utm_campaign=eaz-backs-boz-decision-to-maintain-mpr
      title: "\"EAZ backs BoZ decision to maintain MPR\""
    - source: Mwebantu
      url: https://www.mwebantu.com/thieving-maid-jailed-one-year/
      title: "\"Thieving maid jailed one year.\""
    - source: Mwebantu
      url: https://www.mwebantu.com/32-years-of-cohabiting-not-marriage-court/
      title: "\"32 Years of Cohabiting Not Marriage \u2013 Court!\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/02/dismissed-judge-to-open-defence-in-land-title-case/?utm_source=rss&utm_medium=rss&utm_campaign=dismissed-judge-to-open-defence-in-land-title-case
      title: "\"Dismissed judge to open defence in land title case\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/02/imenda-regrets-partisanship-on-constitutional-reform/?utm_source=rss&utm_medium=rss&utm_campaign=imenda-regrets-partisanship-on-constitutional-reform
      title: "\"Imenda regrets partisanship on constitutional reform\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/02/mmembe-responds-to-nakandu-it-shows-failed-leadership/
      title: "\"M\u2019membe responds to Nakandu \u2013 it shows failed leadership\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/02/people-got-kickbacks-from-156-ambulance-deal-govt-cant-cancel-contract-mundubile/
      title: "\"Govt can\u2019t cancel 156 ambulance contract because people got kickbacks \u2013 Mundubile\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/02/let-doctors-be-patient-with-government/?utm_source=rss&utm_medium=rss&utm_campaign=let-doctors-be-patient-with-government
      title: "\"Let doctors be patient  with Government\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/02/zamefa-revenue-up-to-k1-4bn/?utm_source=rss&utm_medium=rss&utm_campaign=zamefa-revenue-up-to-k1-4bn
      title: "\"ZAMEFA revenue up to K1.4bn\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/02/as-accountability-champion-hh-should-be-transparent-over-his-assets-actionaid/
      title: "\"As accountability champion, HH should be transparent over his assets \u2013 ActionAid\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/02/it-will-be-unlawful-if-opposition-joins-unip-rally-matembo/
      title: "\"It will be unlawful if opposition joins UNIP rally \u2013 Matembo\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/02/dont-fear-being-bewitched-support-bill-7-kasune-urges-mps/
      title: "\"Don\u2019t fear being bewitched, support Bill 7, Kasune urges MPs\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/02/3838/?utm_source=rss&utm_medium=rss&utm_campaign=3838
      title: "\"President Hichilema eyes $1bn beef exports\""
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/06/02/youre-going-to-win-wafcon-keith-tells-copper-queens/
      title: "\"You\u2019re going to win WAFCON, Keith tells Copper Queens\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/02/we-cant-pay-what-you-deserve-but-youve-a-duty-to-save-lives-muchima-tells-doctors/
      title: "\"We can\u2019t pay what you deserve, but you\u2019ve a duty to save lives, Muchima tells doctors\""
---