---
title: "Tuesday, June 10th, 2025"
description: "This episode covers the passing of former President Edgar Lungu and the ensuing political tensions, including calls for unity during mourning, power struggles within the Patriotic Front, and government transparency concerns. Other key stories include riots in Serenje District, a young mother\u0027s desertion case, allegations of misused funds by a Justice Minister, and the national football team\u0027s COSAFA Cup exit."
tags: episode
episode: "498"
date: 2025-06-10T16:14:45.050578+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-06-10_podcast_dist.mp3
    length: 6 minutes, 56 seconds
    size: 6.38 MB
rss:
    enclosure_length: 6687609
    itunes_duration: 06:56
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 9 minutes, 26 seconds
words:
    count: 975
    rate: 141 words per minute
references:
    count: 16
    sources: 3
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/10/napsa-subscribes-to-icra-zambia/?utm_source=rss&utm_medium=rss&utm_campaign=napsa-subscribes-to-icra-zambia
      title: "\"Napsa subscribes to ICRA Zambia\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/10/pf-leaders-using-lungus-funeral-to-position-themselves-for-party-presidency-kavindele/
      title: "\"PF leaders using Lungu\u2019s funeral to position themselves for party presidency \u2013 Kavindele\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/10/lets-give-ecl-befitting-send-of/?utm_source=rss&utm_medium=rss&utm_campaign=lets-give-ecl-befitting-send-of
      title: "\"Let\u2019s give ECL befitting send-of\""
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2025/06/10/psgs-historic-journey-how-the-team-won-champions-league-for-the-first-time/
      title: "\"PSG\u2019s historic journey: How the team won Champions League for the first time\""
    - source: Mwebantu
      url: https://www.mwebantu.com/110-suspects-arrested-in-serenje-district-riot/
      title: "\"110 suspects arrested in Serenje District riot\""
    - source: Mwebantu
      url: https://www.mwebantu.com/government-dismisses-allegations-of-poisoning-and-body-repatriation-claims/
      title: "\"Government dismisses allegations of poisoning and body repatriation claims.\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/10/ertc-recommendations-constrained-by-constitutional-legal-frameworks-cof/
      title: "\"ERTC recommendations constrained by constitutional, legal frameworks \u2013 COF\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/10/ertc-recommends-harmonisation-of-epa-with-cyber-crimes-act-to-address-use-of-social-media-in-elections/
      title: "\"ERTC recommends harmonisation of EPA with Cyber Crimes Act to address use of social media in elections\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/10/serenje-police-arrest-110-suspects-following-riot-at-dcs-office/
      title: "\"Serenje police arrest 110 suspects following riot at DC\u2019s office\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/10/kasunes-bill-7-tours-amount-to-abuse-of-office-saki/
      title: "\"Kasune\u2019s Bill 7 tours amount to abuse of office \u2013 Saki\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/10/lungu-will-be-accorded-full-military-honour-govt/
      title: "\"Lungu will be accorded full military honour \u2013 Govt\""
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/06/10/zambia-crashes-out-of-cosafa-cup/
      title: "\"Zambia crashes out of COSAFA Cup\""
    - source: News Diggers!
      url: https://diggers.news/courts/2025/06/10/25-yr-old-mother-pleads-not-guilty-to-deserting-3-month-old-baby/
      title: "\"25-yr-old mother pleads not guilty to deserting 3-month-old baby\""
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/06/10/allow-nation-to-mourn-lungu-with-dignity-honour/?utm_source=rss&utm_medium=rss&utm_campaign=allow-nation-to-mourn-lungu-with-dignity-honour
      title: "\"\u2018Allow nation to mourn Lungu with dignity, honour\u2019\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/10/its-not-certain-when-lungus-remains-will-arrive-in-the-country-lubinda/
      title: "\"It\u2019s not certain when Lungu\u2019s remains will arrive in the country \u2013 Lubinda\""
    - source: Mwebantu
      url: https://www.mwebantu.com/government-denies-travel-ban-on-former-president-edgar-chagwa-lungu/
      title: "\"Government denies travel ban on former President Edgar Chagwa Lungu.\""
---