---
title: "Tuesday, April 8th, 2025"
description: "The Clerk of the National Assembly, Roy Ngulube, has died while on official duty abroad. Meanwhile, the US Ambassador to Zambia has emphasized that corruption remains a major obstacle to Zambia\u0027s economic development, urging the Anti-Corruption Commission to ensure that the cost of engaging in corrupt activities outweighs the benefits. Additionally, the murder case of IBA Director General Guntila Muleya has stalled due to the illness of one of the suspects, and a popular Zambian TV drama, Zuba, has come to an end after eight years."
tags: episode
episode: "453"
date: 2025-04-08T16:11:02.325250+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-04-08_podcast_dist.mp3
    length: 15 minutes, 55 seconds
    size: 14.61 MB
rss:
    enclosure_length: 15316763
    itunes_duration: 15:55
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 14
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/08/we-cant-applaud-hh-he-hasnt-appointed-enough-women-ngocc/
      title: "We can\u2019t applaud HH, he hasn\u2019t appointed enough women \u2013 NGOCC"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/08/corruption-preventing-zambia-from-achieving-its-full-economic-potential-us-envoy/
      title: "Corruption preventing Zambia from achieving its full economic potential \u2013 US Envoy"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/04/08/iba-dg-murder-suspects-appear-before-high-court/
      title: "IBA DG murder suspects appear before High Court"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/08/nawakwi-wasnt-neglected-hh-ordered-her-evacuation-to-south-africa-moh/
      title: "Nawakwi wasn\u2019t neglected, HH ordered her evacuation to South Africa \u2013 MoH"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/08/nawakwi-died-traumatised-humiliated-lungu/
      title: "Nawakwi died traumatised, humiliated \u2013 Lungu"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/08/catholic-church-should-offer-constructive-criticism-govt/
      title: "Catholic church should offer constructive criticism \u2013 Govt"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/08/zamra-withdraws-anaconda-sex-booster-coffee/
      title: "ZAMRA withdraws Anaconda Sex Booster Coffee"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/08/theres-no-improvement-in-corruption-fight-just-witch-hunts-chisanga-tells-acc/
      title: "There\u2019s no improvement in corruption fight, just witch hunts, Chisanga tells ACC"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/04/08/indeed-corruption-is-the-root-cause-of-our-economic-stagnation/
      title: "Indeed, corruption is the root cause of our economic stagnation"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/08/burundian-military-officials-in-zambia-to-benchmark-best-practices-from-defence-force/
      title: "Burundian military officials in Zambia to benchmark best practices from Defence Force"
    - source: Mwebantu
      url: https://www.mwebantu.com/live-python-and-white-cat-recovered-from-alleged-defilers-house-during-rituals-police-say/
      title: "Live python and white cat recovered from alleged defilers house during rituals, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/clerk-of-the-national-assembly-dies-while-on-duty/
      title: "Clerk of the National Assembly dies while on duty."
    - source: Mwebantu
      url: https://www.mwebantu.com/iba-director-general-murder-suspect-falls-sick-on-court-day/
      title: "IBA director general murder suspect falls sick on court day."
    - source: Mwebantu
      url: https://www.mwebantu.com/the-end-of-an-entertainment-era-zuba-comes-to-a-close-after-8-years/
      title: "The End of an Entertainment Era: Zuba Comes to a Close after 8 Years"
---
