---
title: "Tuesday, May 27th, 2025"
description: "Today\u0027s Zed News covers a disturbing case of exploitation in Kitwe, political concerns over chiefs engaging in partisan politics, and criticisms of Zambia\u0027s focus on social media over development. The episode also highlights Zambia\u0027s participation in African Development Bank meetings and the Copper Queens\u0027 advancements in women\u0027s football."
tags: episode
episode: "488"
date: 2025-05-27T15:39:21.631820+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-05-27_podcast_dist.mp3
    length: 7 minutes, 7 seconds
    size: 6.55 MB
rss:
    enclosure_length: 6869421
    itunes_duration: 07:07
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 4 seconds
words:
    count: 974
    rate: 137 words per minute
references:
    count: 10
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/27/vj-maintains-praise-for-hhs-leadership/
      title: "\"VJ maintains praise for HH\u2019s leadership\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/27/partisanship-among-chiefs-a-recipe-for-confusion-sichalwe/
      title: "\"Partisanship among chiefs a  recipe for confusion \u2013 Sichalwe\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/27/zambia-is-a-facebook-country-were-not-serious-haabazoka/
      title: "\"Zambia is a Facebook country, we\u2019re not serious \u2013 Haabazoka\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/27/were-optimistic-dr-samuel-maimbo-will-secure-majority-vote-musokotwane/
      title: "\"We\u2019re optimistic Dr Samuel Maimbo will secure majority vote \u2013 Musokotwane\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/27/govt-questions-motive-behind-contractors-abandoning-projects/
      title: "\"Govt questions motive behind contractors abandoning projects\""
    - source: Mwebantu
      url: https://www.mwebantu.com/dstv-inducted-into-brand-africa-hall-of-fame-and-named-1-most-admired-african-media-brand-2025/
      title: "\"DStv Inducted into Brand Africa Hall of Fame and Named #1 Most Admired African Media Brand 2025\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/27/vote-for-a-leader-not-those-giving-out-money-lumezi-priest/
      title: "\"Vote for a leader not those giving out money \u2013 Lumezi priest\""
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/05/27/to-understand-the-rise-of-brothel-massage-parlours-check-the-clients/
      title: "\"To understand the rise of brothel-massage parlours; check the clients\""
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/27/bb11-and-kundananji-join-copper-queens/
      title: "\"BB11 and Kundananji join Copper Queens\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/27/opposition-can-never-commend-hh-despite-his-hard-work-imenda/
      title: "\"Opposition can never commend HH despite his hard work \u2013 Imenda\""
---