---
title: "Thursday, March 27th, 2025"
description: "At least 26 people have been killed in South Korea\u0027s largest wildfires, with tens of thousands displaced. In Zambia, the Judiciary has called for applications to fill 20 judges\u0027 positions, a move hailed as a positive step towards judicial reform. Meanwhile, the 2024 Zambia Bribe Payers Index has revealed a significant increase in bribery, with the Overall Aggregate Bribery Index rising to 15.3%."
tags: episode
episode: "445"
date: 2025-03-27T13:25:15.622368+00:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-03-27_podcast_dist.mp3
    length: 17 minutes, 54 seconds
    size: 16.43 MB
rss:
    enclosure_length: 17228928
    itunes_duration: 17:54
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 23
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2025/03/27/how-the-1xbet-affiliate-program-changed-a-life-a-real-case-study-and-partner-tips/
      title: "How the 1xBet Affiliate Program Changed a Life: A Real Case Study and Partner Tips"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/27/arrows-overcome-rangers-as-warriors-make-easy-work-of-lumwana/
      title: "Arrows overcome Rangers as Warriors make easy work of Lumwana"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/03/27/court-joins-sampa-to-ngonas-petition-over-matero-seat-dispute/
      title: "Court joins Sampa to Ng\u2019ona\u2019s petition over Matero seat dispute"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/27/zambia-faces-rising-corruption-as-bribery-index-hits-15-3/
      title: "Zambia faces rising corruption as Bribery Index hits 15.3%"
    - source: News Diggers!
      url: https://diggers.news/business/2025/03/27/vandalism-on-our-installations-is-now-organised-funded-zesco/
      title: "Vandalism on our installations is now organised, funded \u2013 ZESCO"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/27/its-rare-to-find-teachers-whore-qualified-at-degree-level-in-rural-areas-tsc/
      title: "It\u2019s rare to find teachers who\u2019re qualified at degree level in rural areas \u2013 TSC"
    - source: Mwebantu
      url: https://www.mwebantu.com/megapari-joins-the-kuomboka-ceremony/
      title: "Megapari Joins the Kuomboka Ceremony"
    - source: Mwebantu
      url: https://www.mwebantu.com/yango-zambia-honors-its-female-partner-drivers-and-couriers-in-celebration-of-international-womens-month/
      title: "Yango Zambia honors its female partner drivers and couriers in celebration of International Women\u2019s Month"
    - source: Mwebantu
      url: https://www.mwebantu.com/teen-who-lived-with-bullet-in-chest-for-five-years-undergoes-successful-surgery/
      title: "Teen who lived with bullet in chest for five years undergoes successful surgery."
    - source: Mwebantu
      url: https://www.mwebantu.com/i-was-impregnated-by-my-father-girl-told-doctor/
      title: "\u2018I was impregnated by my father\u2019, girl told doctor."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/red-locusts-invade-maize-fields-in-limulunga/
      title: "Red Locusts Invade Maize Fields in Limulunga"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zamseed-develops-army-worm-resistant-maize-seed-variety/
      title: "ZAMSEED Develops Army Worm Tolerant Maize Seed Variety"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-sends-experts-to-netherlands-to-pre-inspect-medical-equipment/
      title: "Govt Sends Experts to Netherlands to Pre-Inspect Medical Equipment"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/27/mwamba-vows-to-return-for-2026-presidential-race-amid-legal-battles/
      title: "Mwamba vows to return for 2026 presidential race amid legal battles"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/03/27/court-adjourns-lusambos-case-due-to-water-shortage-at-magistrates-complex/
      title: "Court adjourns Lusambo\u2019s case due to water shortage at Magistrates\u2019 Complex"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/03/27/bravo-hh-judiciary-for-advertising-judges-positions-its-a-win-for-justice/
      title: "Bravo HH, Judiciary for advertising  judges positions; it\u2019s a win for justice"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-will-work-with-whoever-is-elected-faz-president/
      title: "\u201cGovt will work with whoever is elected FAZ President\u201d"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/26-people-killed-in-south-koreas-largest-wild-fires/
      title: "26 People Killed in South Korea\u2019s largest Wild fires"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/27/the-church-must-not-ridicule-us-on-social-media-govt/
      title: "The Church must not ridicule us on social media \u2013 Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/water-shortage-adjourns-bowmans-case/
      title: "Water shortage \u2018adjourns\u2019 Bowman\u2019s case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/standards-agency-destroys-over-5000-non-compliant-products/
      title: "Standards Agency Destroys over 5,000 Non-Compliant Electrical Products"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mazoka-challenges-women-to-forge-investment-partnerships/
      title: "Mazoka Challenges Women to Forge Investment Partnerships"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/proposed-constitutional-amendements-progressive-gears/
      title: "Proposed Constitutional Amendements Progressive -GEARS"
---
