---
title: "Tuesday, February 25th, 2025"
description: "This episode of the Zed News Podcast covers a range of topics, including a court order for former Defence Minister GBM to undergo a medical assessment, the UPND's efforts to tackle intimidation reports, and significant developments in infrastructure and international cooperation. The episode also touches on local crime news, environmental concerns, and sports achievements."
tags: episode
episode: "423"
date: 2025-02-25T14:10:15.198948+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-02-25_podcast_dist.mp3
    length: 4 minutes, 2 seconds
    size: 3.74 MB
rss:
    enclosure_length: 3917380
    itunes_duration: 04:02
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 55 seconds
words:
    count: 561
    rate: 139 words per minute
references:
    count: 23
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/25/high-court-orders-medical-board-to-determine-whether-local-doctors-cant-handle-gbms-ailments/
      title: "High Court orders medical board to determine whether local doctors can’t handle GBM’s ailments"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/25/zambias-private-sector-needs-to-thrive-to-trade-under-afcfta-sacbta/
      title: "Zambia’s private sector needs to thrive to trade under AfCFTA – SACBTA"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/02/25/mr-president-you-preferred-floods-to-drought-so-whats-the-plan/
      title: "Mr President, you preferred floods to drought, so what’s the plan?"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/25/i-recovered-49-bundles-of-fake-dollars-in-a-porsche-cop-testifies-in-kelvin-sampas-theft-case/
      title: "I recovered 49 bundles of fake dollars in a Porsche, cop testifies in Kelvin Sampa’s theft case"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/25/upnd-going-forward-says-mwaliteta/?utm_source=rss&utm_medium=rss&utm_campaign=upnd-going-forward-says-mwaliteta
      title: "UPND going forward, says Mwaliteta"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/25/hh-egypt-visit-critically-beneficial/?utm_source=rss&utm_medium=rss&utm_campaign=hh-egypt-visit-critically-beneficial
      title: "HH Egypt visit critically beneficial"
    - source: Mwebantu
      url: https://www.mwebantu.com/acc-suspends-senior-official-over-misuse-of-commission-vehicle/
      title: "ACC suspends senior official over misuse of Commission vehicle."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kanyama-man-severely-injured-in-beer-bottle-attack/
      title: "Kanyama Man Severely Injured in Beer Bottle Attack"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/25/mps-councillors-who-havent-done-well-wont-be-adopted-mwaliteta/
      title: "MPs, Councillors who haven’t done well won’t be adopted – Mwaliteta"
    - source: Mwebantu
      url: https://www.mwebantu.com/judge-orders-that-gbm-be-examined-by-medical-board/
      title: "Judge orders that GBM be examined by medical board"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/parliamentary-committee-calls-for-revision-of-znbc-tv-levy/
      title: "Parliamentary Committee Calls for Revision of ZNBC TV Levy"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/nhima-director-general-assures-sustainability-of-health-insurance-scheme/
      title: "NHIMA Director General Assures Sustainability of Health Insurance Scheme"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/25/subject-gbm-to-medical-assessment-by-independent-board/?utm_source=rss&utm_medium=rss&utm_campaign=subject-gbm-to-medical-assessment-by-independent-board
      title: "‘Subject GBM to medical assessment by independent board’"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/25/zambias-rank-as-6th-poorest-country-a-reflection-of-misplaced-priorities-sensio/
      title: "Zambia’s rank as 6th poorest country a reflection of misplaced priorities – Sensio"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/25/criminal-stabs-good-samaritan-for-disrupting-his-theft-operation-at-a-kitwe-boarding-house/
      title: "Criminal stabs good samaritan for disrupting his theft operation at a Kitwe boarding house"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/25/existing-laws-sufficiently-provide-for-acquisition-of-citizenship-by-refugees-kabesha-tells-concourt/
      title: "Existing laws sufficiently provide for acquisition of citizenship by refugees, Kabesha tells ConCourt"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/25/zns-to-construct-nakonde-airport-at-k2-8bn/
      title: "ZNS to construct Nakonde Airport at K2.8bn"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambias-mma-team-shines-at-impact-fighting-championship-in-lubumbashi/
      title: "Zambia’s MMA Team Shines at Impact Fighting Championship in Lubumbashi"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/uth-declares-first-pediatric-kidney-transplant-a-success/
      title: "UTH Declares First Pediatric Kidney Transplant a Success"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/25/eiz-undertakes-investigation-into-sino-metals-tailing-dam-incident/?utm_source=rss&utm_medium=rss&utm_campaign=eiz-undertakes-investigation-into-sino-metals-tailing-dam-incident
      title: "EIZ undertakes investigation into Sino Metals tailing dam incident"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/25/zambia-tanzania-ponder-how-to-fight-transnational-crimes/
      title: "Zambia, Tanzania ponder how to fight transnational crimes"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-and-japan-sign-64k-grant-for-sianda-secondary-school-classroom-block/
      title: "Zambia and Japan Sign $64K Grant for Sianda Secondary School Classroom Block"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/28923-2/
      title: "HH Appeals for Capital Mobilization for Zambian Infrastructure"
---
