---
title: "Wednesday, February 5th, 2025"
description: "This episode of the Zed News Podcast covers various news updates from Zambia, including sports news, political developments, and updates on the country's power deficit, healthcare, and legal matters. From the future of Zambian volleyball to President Hakainde Hichilema's business initiatives, this episode provides a comprehensive overview of the latest news from Zambia and beyond."
tags: episode
episode: "409"
date: 2025-02-05T14:08:54.458372+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-02-05_podcast_dist.mp3
    length: 5 minutes, 4 seconds
    size: 4.67 MB
rss:
    enclosure_length: 4898749
    itunes_duration: 05:04
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 38 seconds
words:
    count: 700
    rate: 138 words per minute
references:
    count: 20
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/05/were-importing-550mw-exporting-80mw-of-power-govt/
      title: "We’re importing 550MW, exporting 80MW of power – Govt"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/05/sampa-told-me-hes-hhs-right-hand-man-defrauded-me-80000-japanese-investor/
      title: "Sampa told me he’s HH’s right hand man, defrauded me $80,000 – Japanese investor"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/05/jay-jay-says-nothing-plays-gospel-on-fb-live/
      title: "Jay Jay says nothing,  plays gospel on FB live"
    - source: Mwebantu
      url: https://www.mwebantu.com/pedaling-towards-dreams-with-yango/
      title: "Pedaling towards dreams with YANGO"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/helsb-awards-loans-to-2094-university-students/
      title: "HELSB awards loans to 2,094 university students"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-launch-manhunt-for-muchinga-man-for-raping-his-grandmother/
      title: "Police launch manhunt for Muchinga man for raping his grandmother."
    - source: Mwebantu
      url: https://www.mwebantu.com/japanese-businessman-narrates-how-kelvin-sampa-duped-him-of-his-us80000/
      title: "Japanese businessman narrates how Kelvin Sampa ‘duped’ him of his  US$80,000"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/05/govt-didnt-influence-kalus-withdrawal-from-faz-elections-nkandu/
      title: "Govt didn’t influence Kalu’s withdrawal from FAZ elections – Nkandu"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/05/hh-urges-toyota-to-establish-manufacturing-plant-in-zambia/
      title: "HH urges Toyota to establish manufacturing plant in Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/toyota-tsusho-urged-to-accelerate-zambia-solar-plans/
      title: "Toyota Tsusho urged to accelerate Zambia solar plans"
    - source: Mwebantu
      url: https://www.mwebantu.com/court-allows-temporary-release-of-findlays-passport/
      title: "Court allows temporary release of Findlay’s passport."
    - source: Mwebantu
      url: https://www.mwebantu.com/a-17-year-old-girl-has-died-at-her-boyfriends-residence-during-a-sleepover-reportedly-due-to-asphyxiation-caused-by-emissions-from-a-running-generator/
      title: "A 17-year-old girl has died at her boyfriend’s residence during a sleepover, reportedly due to asphyxiation caused by emissions from a running generator."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/05/cecafa-joins-cosafa-in-backing-kamanga-for-fifa-role/
      title: "CECAFA joins COSAFA in backing Kamanga for FIFA role"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/02/05/lubinda-is-dreaming-but-his-warning-on-community-house-is-valid/
      title: "Lubinda is dreaming, but his warning on Community House is valid"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/05/cdh-refurbishment-will-only-be-completed-by-dec-muchima/
      title: "CDH refurbishment will only be completed by Dec – Muchima"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/musokotwane-banking-sector-key-to-zambias-development/
      title: "MUSOKOTWANE: Banking sector key to Zambia’s development"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/05/zava-southern-province-chair-calls-for-grassroots-volleyball-development/
      title: "ZAVA Southern Province chair calls for grassroots volleyball development"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/05/govt-has-weakened-us-we-cant-provide-effective-checks-and-balances-pf/
      title: "Govt has weakened us, we can’t provide effective checks and balances – PF"
    - source: Mwebantu
      url: https://www.mwebantu.com/uth-security-guard-arrested-for-alleged-theft-of-antiretroviral-therapy-art-drugs/
      title: "UTH security guard arrested for alleged theft of antiretroviral therapy (ART) drugs."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chipangali-man-crushed-by-falling-concrete-slab/
      title: "Chipangali man crushed by falling concrete slab"
---
