---
title: "Tuesday, April 1st, 2025"
description: "Today\u0027s episode covers various news stories from Zambia, including the expulsion of several PF members by faction president Miles Sampa, President Hakainde Hichilema\u0027s advice to his Cabinet ministers to avoid excessive drinking, and the UPND government\u0027s progress in infrastructure development. Other stories include the visit of a Namibian defence force chief to Zambia, the abuse of temporary government power, and the distribution of new banknotes by the Bank of Zambia. Additionally, the Energy Regulation Board has reduced the price of diesel, and two young doctors have been sentenced to life in prison for killing their 14-year-old maid."
tags: episode
episode: "448"
date: 2025-04-01T13:24:26.842556+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-04-01_podcast_dist.mp3
    length: 17 minutes, 59 seconds
    size: 16.50 MB
rss:
    enclosure_length: 17297471
    itunes_duration: 17:59
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 14
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/business/2025/04/01/weve-distributed-new-notes-except-k50-k100-boz/
      title: "We\u2019ve distributed new notes, except K50, K100 \u2013 BoZ"
    - source: News Diggers!
      url: https://diggers.news/business/2025/04/01/erb-cuts-diesel-price-by-k2-31-maintains-petrol/
      title: "ERB cuts diesel price by K2.31, maintains petrol"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/01/i-tell-ministers-not-to-over-indulge-in-alcohol-someone-cant-sleep-during-cabinet-meetings-hh/
      title: "I tell ministers not to over indulge in alcohol, someone can\u2019t sleep during Cabinet meetings \u2013 HH"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/01/upnd-on-the-right-track-weve-done-far-better-than-expected-milupi/
      title: "UPND on the right track, we\u2019ve done far better than expected \u2013 Milupi"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/01/namibian-defence-force-chief-visits-zambia/
      title: "Namibian defence force chief visits Zambia"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/04/01/abuse-of-temporary-govt-power-lessons-from-given-lubinda-and-jean-kapata-part-2/
      title: "Abuse of temporary govt power. Lessons from Given Lubinda and Jean Kapata Part 2"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/01/over-100-elephants-have-migrated-into-livingstone-dnpw-warns/
      title: "Over 100 elephants have migrated into Livingstone, DNPW warns"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-young-doctors-sentenced-to-life-in-prison-for-killing-their-14-year-old-maid-in-lusaka/
      title: "Two young doctors sentenced to life in prison for killing their 14-year-old maid in Lusaka"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/missing-pemba-boy-found-dead-in-stream/
      title: "Missing Pemba Boy Found Dead in Stream"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ecz-reviewing-2019-delimitation-report/
      title: "ECZ Reviewing 2019 Delimitation Report"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/01/cabinet-dissolves-grz-funeral-scheme-board-of-trustees-after-it-refuses-to-award-contract-to-sanlam-insurance/
      title: "Cabinet dissolves GRZ Funeral Scheme Board of Trustees after it refuses to award contract to Sanlam Insurance"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/01/miles-expels-sunday-chabinga-mumba-from-pf/
      title: "Miles expels Sunday, Chabinga, Mumba from PF"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/01/none-of-the-proposed-constitution-amendments-favour-hh-mweetwa/
      title: "None of the proposed constitution amendments favour HH \u2013 Mweetwa"
    - source: Mwebantu
      url: https://www.mwebantu.com/sasol-techno-oil-announced-as-official-partner-of-the-inaugural-mkushi-agriexpo/
      title: "SASOL TECHNO OIL announced as Official Partner of the Inaugural Mkushi AgriExpo"
---