---
title: "Wednesday, February 12th, 2025"
description: "This episode of the Zed News Podcast covers a range of topics, including Zambia's improved Corruption Perception Index, sports updates, and various news stories on governance, law enforcement, and the economy. From the Copper Queens' new coach to the arrest of a PF MP for money laundering, this episode keeps listeners informed on the latest developments in Zambia."
tags: episode
episode: "414"
date: 2025-02-12T14:09:37.691065+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-02-12_podcast_dist.mp3
    length: 5 minutes, 4 seconds
    size: 4.67 MB
rss:
    enclosure_length: 4898332
    itunes_duration: 05:04
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 21 seconds
words:
    count: 686
    rate: 135 words per minute
references:
    count: 12
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/12/dec-arrests-tasila-for-money-laundering/
      title: "DEC arrests Tasila for money laundering"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/12/matete-calls-for-change-of-leadership-at-za/
      title: "Matete calls for change of leadership at ZA"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/12/i-will-be-the-father-of-all-clubs-as-faz-president-not-just-muza-keith/
      title: "I’ll be the father of all clubs as FAZ president, not just MUZA – Keith"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/12/hauptle-holds-first-training-with-copper-queens/
      title: "Hauptle holds first training with Copper Queens"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/12/zaca-challenges-zesco-to-honour-7hr-power-supply-announcement/
      title: "ZACA challenges Zesco to honour 7hr power supply announcement"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/12/weve-paid-118821-beneficiaries-of-cash-for-work-initiative-lcc/
      title: "We’ve paid 118,821 beneficiaries of Cash for Work initiative – LCC"
    - source: Mwebantu
      url: https://www.mwebantu.com/bank-of-zambia-raises-policy-rate-to-14-5-to-curb-inflation/
      title: "Bank of Zambia raises policy rate to 14.5% to curb inflation."
    - source: Mwebantu
      url: https://www.mwebantu.com/money-in-politics-has-no-receipts-lusambo-tells-magistrate/
      title: "Money in politics has no receipts, Lusambo tells magistrate."
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/02/12/key-napsa-scandals-which-upnd-govt-must-correct-and-not-repeat/
      title: "Key NAPSA scandals which UPND govt must correct and not repeat"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/12/zambias-corruption-perception-score-improves-by-2-points/
      title: "Zambia’s corruption perception score improves by 2 points"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/12/police-warn-against-misuse-of-abduction-term-following-chanda-nondes-arrest/
      title: "Police warn against misuse of ‘abduction’ term following Chanda Nonde’s arrest"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/12/report-alleged-vote-buying-in-petauke-to-acc-ecz-advises-emmanuel-mwamba/
      title: "Report alleged vote-buying in Petauke to ACC, ECZ advises Emmanuel Mwamba"
---