---
title: "Wednesday, April 23rd, 2025"
description: "This is episode 464 of the Zed News Podcast."
tags: episode
episode: "464"
date: 2025-04-23T22:13:48.063224+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-04-23_podcast_dist.mp3
    length: 15 minutes, 11 seconds
    size: 13.94 MB
rss:
    enclosure_length: 14614594
    itunes_duration: 15:11
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 15
    sources: 2
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136085
      title: "Thieves haul K20m!"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136081
      title: "\u2018More constituencies needed\u2019"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136087
      title: "Civil servants warned: Resign if you choose politics"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/23/haimbe-milupi-archbishop-chama-to-represent-zambia-at-popes-funeral/
      title: "Haimbe, Milupi, Archbishop Chama to represent Zambia at Pope\u2019s funeral"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/04/23/why-colonialism-was-actually-good-for-africa-part-1/
      title: "Why colonialism was actually \u2018good\u2019 for Africa \u2013 Part 1"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/04/23/widow-sues-mypay-finsbury-for-360000-over-late-husbands-unpaid-salaries-benefits/
      title: "Widow sues MyPay, Finsbury for $360,000 over late husband\u2019s unpaid salaries, benefits"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/23/nkulukusa-calls-for-pension-reform-to-provide-steady-income-after-retirement/
      title: "Nkulukusa calls for pension reform to provide steady income after retirement"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/23/faz-shifts-absa-cup-semis-venue-to-kabwe/
      title: "FAZ reverses decision, ABSA Cup semis to stay in Ndola"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/23/zesco-united-not-focusing-on-other-teams-siwale/
      title: "Zesco United not focusing on other teams \u2013 Siwale"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/23/copper-princesses-set-base-in-togo/
      title: "Copper Princesses set base in Togo"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/04/23/rolling-the-red-carpet-for-bogus-investors-who-smuggle-out-dollars/
      title: "Rolling the red carpet for bogus investors who smuggle out dollars"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136095
      title: "World Cup hopes diminishing"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136091
      title: "ZAMMSA rolls out 70 anaesthetic  entilator machines"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/23/lungu-in-good-health-he-is-taking-a-break-from-the-disrespect-nakacinda/
      title: "Lungu in good health, he is taking a break from the disrespect \u2013 Nakacinda"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/23/i-have-nightmares-over-who-will-succeed-hh-hes-raised-the-bar-of-leadership-too-high-mweetwa/
      title: "I have nightmares over who will succeed HH, he\u2019s raised the bar of leadership too high \u2013 Mweetwa"
---
