---
title: "Thursday, March 13th, 2025"
description: "This episode of the Zed News Podcast covers a range of local and international news, including a violent attack on PF youths during Youth Day celebrations, a suspected murder investigation, and concerns over poor asset declaration among public officials in Zambia. The episode also touches on positive developments, such as the empowerment of women entrepreneurs and Zambia's sporting achievements."
tags: episode
episode: "435"
date: 2025-03-13T14:09:19.200302+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-03-13_podcast_dist.mp3
    length: 4 minutes, 24 seconds
    size: 4.07 MB
rss:
    enclosure_length: 4265120
    itunes_duration: 04:24
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 58 seconds
words:
    count: 610
    rate: 139 words per minute
references:
    count: 19
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/13/i-have-no-confidence-in-faz-electoral-committee-kashala/
      title: "I have no confidence in FAZ electoral committee – Kashala"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/13/british-envoy-celebrates-commonwealth-sports-day-with-zambian-students/
      title: "British envoy celebrates Commonwealth Sports Day with Zambian students"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/13/youths-are-the-driving-force-behind-change-veep/
      title: "Youths are the driving force behind change – VEEP"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/chilanga-hungry-lion-remains-closed/
      title: "Chilanga Hungry Lion Remains Closed"
    - source: Mwebantu
      url: https://www.mwebantu.com/covid-19-kit-thieves-jailed-three-years/
      title: "COVID-19 kit thieves jailed three years."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-committed-to-upholding-democracy-good-governance/
      title: "Zambia Committed to Upholding Democracy, Good Governance"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/13/suspected-upnd-cadres-attack-pf-youths-during-youth-day-celebrations-in-lusaka/
      title: "Suspected UPND cadres attack PF youths during Youth Day celebrations in Lusaka"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mtn-super-league-fixtures/
      title: "MTN Super League Fixtures"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/13/kamanga-fails-in-bid-to-acquire-a-fifa-council-seat/
      title: "Kamanga fails in bid to acquire a FIFA Council seat"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/03/13/poor-asset-declaration-culture-a-threat-to-corruption-fight/
      title: "Poor asset declaration culture a threat to corruption fight"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/13/govt-moves-to-regulate-cctv-systems-prohibits-branding-of-online-taxis/
      title: "Govt moves to regulate CCTV systems, prohibits branding of online taxis"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/13/dont-heed-calls-for-demonstrations-on-constitution-amendment-mweetwa-urges-youths/
      title: "Don’t heed calls for demonstrations on Constitution amendment, Mweetwa urges youths"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/stanchart-invests-k14m-to-empower-women/
      title: "StanChart Invests K14m to Empower Women"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/matero-boys-secondary-school-pays-for-stolen-exam-fees/
      title: "Matero Boys Secondary School Pays for Stolen Exam Fees"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-attends-virtual-sadc-summit-on-drc/
      title: "HH attends Virtual SADC Summit on DRC"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/13/police-probe-suspected-murder-after-discovery-of-burnt-body-in-emmasdale/
      title: "Police probe suspected murder after discovery of burnt body in Emmasdale"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/13/power-dynamos-extend-lead-with-7th-consecutive-win/
      title: "Power Dynamos extend lead with 7th consecutive win"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-calls-for-timely-remittance-of-obligation-to-sadc/
      title: "Zambia Calls For Timely Remittance of Financial Obligations to SADC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/copper-princessess-promises-fans-entertaining-game/
      title: "Copper Princessess Promises Fans Entertaining Game"
---
