---
title: "Friday, May 30th, 2025"
description: "Today\u0027s Zed News covers Permanent Secretary Nicholas Phiri\u0027s broken promise on ambulance delivery and the implications for government accountability, alongside President HH\u0027s vision for national food self-sufficiency. The episode also addresses economic news, including a dip in inflation, and emphasizes the importance of road safety following several tragic accidents."
tags: episode
episode: "491"
date: 2025-05-30T15:39:18.032693+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-05-30_podcast_dist.mp3
    length: 8 minutes, 40 seconds
    size: 7.97 MB
rss:
    enclosure_length: 8351921
    itunes_duration: 08:40
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes
words:
    count: 1,181
    rate: 136 words per minute
references:
    count: 18
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/30/hh-has-not-suspended-judge-sunkutu-on-tribal-grounds-kawana/
      title: "\"HH has not suspended Judge Sunkutu on tribal grounds \u2013 Kawana\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/30/districts-must-feed-themselves-sell-surplus-to-urban-areas-hh/
      title: "\"Districts must feed themselves, sell surplus to urban areas \u2013 HH\""
    - source: Mwebantu
      url: https://www.mwebantu.com/growing-reserves-boost-zambias-economic-stability-says-financial-economist/
      title: "\"Growing reserves boost Zambia\u2019s economic stability, says financial economist.\""
    - source: Mwebantu
      url: https://www.mwebantu.com/mps-ordered-to-pay-k100000-over-chilufya-tayalis-disappearance/
      title: "\"MPs ordered to pay K100,000 over Chilufya Tayali\u2019s \u2018disappearance\u2019\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/30/local-govt-ps-swallows-vomit-backpedals-on-vow-to-resign/
      title: "\"Local Govt PS \u2018swallows vomit\u2019, backpedals on vow to resign\""
    - source: Mwebantu
      url: https://www.mwebantu.com/two-die-six-injured-in-solwezi-chingola-road-accident/
      title: "\"Two die, six injured in Solwezi-Chingola road accident\""
    - source: Mwebantu
      url: https://www.mwebantu.com/ex-unzasu-president-awaits-punishment-from-jail-for-inciting-riots/
      title: "\"Ex-UNZASU president awaits punishment from jail for inciting riots\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/30/sino-metals-rongxing-to-compensate-affected-farmers-k16-2m/
      title: "\"Sino Metals, Rongxing to compensate affected farmers K16.2m\""
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/30/theres-no-easy-team-at-cosafa-warns-wada/
      title: "\"There\u2019s no easy team at COSAFA, warns Wada\""
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/30/copper-queens-intensify-wafcon-preparations/
      title: "\"Copper Queens intensify WAFCON preparations\""
    - source: Mwebantu
      url: https://www.mwebantu.com/uka-expels-new-heritage-party-president-chishala-kateka-for-alleged-misconduct/
      title: "\"UKA expels New Heritage Party president Chishala Kateka for alleged misconduct.\""
    - source: News Diggers!
      url: https://diggers.news/courts/2025/05/30/court-orders-mpika-nakonde-mps-to-pay-k100000-for-failing-to-avail-tayali/
      title: "\"Court orders Mpika, Nakonde MPs to pay K100,000 for failing to avail Tayali\""
    - source: Mwebantu
      url: https://www.mwebantu.com/tragically-a-cbu-graduand-has-lost-their-life-in-a-road-traffic-accident-while-traveling-to-the-graduation-ceremony-at-the-university/
      title: "\"Tragically, a CBU graduand has lost their life in a road traffic accident while traveling to the graduation ceremony at the University.\""
    - source: Mwebantu
      url: https://www.mwebantu.com/jealous-husband-stabs-kasempa-man-over-alleged-affair-with-his-wife/
      title: "\"Jealous husband stabs Kasempa man over alleged affair with his wife.\""
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2025/05/30/kulima-tower-offers-free-rides-for-june-babies-on-hhs-birthday/
      title: "\"Kulima Tower offers free rides for June babies on HH\u2019s birthday\""
    - source: News Diggers!
      url: https://diggers.news/business/2025/05/30/inflation-down-to-15-3/
      title: "\"Inflation down to 15.3%\""
    - source: News Diggers!
      url: https://diggers.news/courts/2025/05/30/court-convicts-former-unzasu-president-for-inciting-violence/
      title: "\"Court convicts former UNZASU president for inciting violence\""
    - source: Mwebantu
      url: https://www.mwebantu.com/chinese-firms-ordered-by-government-to-pay-k16-2-million-to-farmers-affected-by-their-pollution/
      title: "\"Chinese firms ordered by government to pay K16.2 million to farmers affected by their pollution\""
---