---
title: "Wednesday, May 14th, 2025"
description: "Today\u0027s episode highlights a significant \u20ac60 million pledge from the Czech Republic towards Zambia\u0027s health sector, alongside President Hichilema\u0027s call for investment in local drug manufacturing. Meanwhile, Zambia\u0027s AfDB candidate urged Africa to reform its development financing strategy following proposed US funding cuts, while domestic reports featured allegations of political interference at ZAMMSA and arrests related to counterfeit currency."
tags: episode
episode: "479"
date: 2025-05-14T15:22:53.918092+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-05-14_podcast_dist.mp3
    length: 14 minutes, 32 seconds
    size: 13.34 MB
rss:
    enclosure_length: 13992669
    itunes_duration: 14:32
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 24
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/chinese-business-chamber-unveils-new-council/?utm_source=rss&utm_medium=rss&utm_campaign=chinese-business-chamber-unveils-new-council
      title: "Chinese business chamber unveils new council"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/zacl-asks-court-to-throw-out-unfair-dismissal-case/?utm_source=rss&utm_medium=rss&utm_campaign=zacl-asks-court-to-throw-out-unfair-dismissal-case
      title: "ZACL asks court to throw out unfair dismissal case"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/k700000-theft-accused-matero-boys-teacher-in-court/?utm_source=rss&utm_medium=rss&utm_campaign=k700000-theft-accused-matero-boys-teacher-in-court
      title: "K700,000 theft accused Matero Boys teacher in court"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/hh-invites-czechs-to-boost-medicines-production/?utm_source=rss&utm_medium=rss&utm_campaign=hh-invites-czechs-to-boost-medicines-production
      title: "HH invites Czechs to boost medicines production"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/new-dawn-set-on-reducing-poverty-enhancing-welfare-of-citizens/?utm_source=rss&utm_medium=rss&utm_campaign=new-dawn-set-on-reducing-poverty-enhancing-welfare-of-citizens
      title: "New Dawn set on reducing poverty, enhancing welfare of citizens"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/police-nab-4-over-fake-money/?utm_source=rss&utm_medium=rss&utm_campaign=police-nab-4-over-fake-money
      title: "Police nab 4 over fake money"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/court-wants-musyani-presented-over-fresh-cybercrime-matter/?utm_source=rss&utm_medium=rss&utm_campaign=court-wants-musyani-presented-over-fresh-cybercrime-matter
      title: "Court wants Musyani presented over fresh cybercrime matter"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/hh-donates-to-kafulafuta-bereaved-family/?utm_source=rss&utm_medium=rss&utm_campaign=hh-donates-to-kafulafuta-bereaved-family
      title: "HH donates to Kafulafuta bereaved family"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/14/good-luck-muchima-tells-nyasulu/
      title: "Good luck, Muchima tells Nyasulu"
    - source: News Diggers!
      url: https://diggers.news/business/2025/05/14/czech-republic-pledges-e60m-donation-to-zambias-health-sector/
      title: "Czech Republic pledges \u20ac60m donation to Zambia\u2019s health sector"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/14/being-wasteful-is-refusing-to-use-gulfstream-and-hiring-expensive-jets-mundubile/
      title: "Being wasteful is refusing to use Gulfstream and hiring expensive jets \u2013 Mundubile"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/14/kampamba-safe-amid-unrest-in-libya-govt/
      title: "Kampamba safe amid unrest in Libya \u2013 Govt"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/05/14/kingsley-denies-role-in-zra-asset-disposal-committee/
      title: "Kingsley denies role in ZRA asset disposal committee"
    - source: Mwebantu
      url: https://www.mwebantu.com/you-misquoted-me-matambo-tells-news-diggers/
      title: "\u201cYou misquoted me,\u201d Matambo tells News Diggers"
    - source: Mwebantu
      url: https://www.mwebantu.com/chamanga-retires-after-25-years-of-professional-football/
      title: "Chamanga retires after 25 years of professional football."
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/maimbo-calls-for-fresh-thinking-as-us-plans-cut-to-afdb/?utm_source=rss&utm_medium=rss&utm_campaign=maimbo-calls-for-fresh-thinking-as-us-plans-cut-to-afdb
      title: "Maimbo calls for fresh thinking as US plans cut to AfDB"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/14/haabazoka-explains-kwacha-gain/?utm_source=rss&utm_medium=rss&utm_campaign=haabazoka-explains-kwacha-gain
      title: "Haabazoka explains Kwacha gain"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/14/nyasulu-implicates-hhs-advisor-i-used-to-get-calls-from-mwananyanda-on-procurement/
      title: "Nyasulu implicates HH\u2019s advisor: I used to get calls from Mwananyanda on procurement"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/14/you-can-remove-upnd-and-still-remain-poor-veep/
      title: "You can remove UPND and still remain poor \u2013 VEEP"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136319
      title: "Health \u2018gets\u2019 \u20ac60m Czech fund"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/14/copper-princesses-storm-u17-cosafa-semis/
      title: "Copper Princesses storm U17 COSAFA semis"
    - source: Mwebantu
      url: https://www.mwebantu.com/upnd-has-delivered-on-copperbelt-campaign-promises/
      title: "UPND has delivered on Copperbelt campaign promises."
    - source: Mwebantu
      url: https://www.mwebantu.com/reverend-denies-stealing-over-k700-000-in-gce-exam-fees/
      title: "Reverend denies stealing over K700, 000 in GCE exam fees"
    - source: Mwebantu
      url: https://www.mwebantu.com/jailed-john-wick-wanted-at-court-over-alleged-cyber-harassment/
      title: "Jailed \u2018John Wick\u2019 wanted at court over alleged cyber harassment."
---
