---
title: "Wednesday, March 26th, 2025"
description: "The Zambian government is working to strengthen the Children\u0027s Code Act to better protect children from abuse, and five men have been arrested in Solwezi for producing counterfeit medical fitness certificates. Activists are calling for fast-track courts to deal with child abuse cases, and President Hakainde Hichilema has emphasized the importance of partnership between the government and the church. Meanwhile, the Home Affairs and Internal Security Minister has announced that the Public Gatherings Bill, which will replace the Public Order Act, is expected to be in place before the 2026 general election."
tags: episode
episode: "444"
date: 2025-03-26T15:38:10.870301+00:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-03-26_podcast_dist.mp3
    length: 17 minutes, 29 seconds
    size: 16.04 MB
rss:
    enclosure_length: 16824344
    itunes_duration: 17:29
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 19
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/03/26/malaria-still-global-health-burden/?utm_source=rss&utm_medium=rss&utm_campaign=malaria-still-global-health-burden
      title: "Malaria still global health burden"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/26/chipolopolo-freeze-as-russia-runs-riot-in-moscow/
      title: "Chipolopolo freeze as Russia runs riot in Moscow"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/03/26/delimitation-of-constituencies-doesnt-require-constitutional-amendment/
      title: "Delimitation of constituencies doesn\u2019t require constitutional amendment"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/26/advertisement-of-judge-positions-excites-csos/
      title: "Advertisement of judge positions excites CSOs"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/26/nothing-wrong-in-working-with-agro-fuel-even-pf-used-them-minister/
      title: "Nothing wrong in working with Agro Fuel, even PF used them \u2013 minister"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/26/police-postpone-mmembe-questioning/
      title: "Police postpone M\u2019membe questioning"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/26/amos-revelations-confirm-zambia-wasnt-safe-under-lungu-wynter/
      title: "Amos\u2019 revelations confirm Zambia wasn\u2019t safe under Lungu \u2013 Wynter"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/03/26/tonse-revives-lungus-eligibility-case/
      title: "Tonse revives Lungu\u2019s eligibility case"
    - source: News Diggers!
      url: https://diggers.news/business/2025/03/26/feasibility-study-for-luapula-kafue-water-transfer-project-is-at-no-cost-to-govt-nzovu/
      title: "Feasibility study for Luapula-Kafue Water Transfer project is at no cost to Govt \u2013 Nzovu"
    - source: Mwebantu
      url: https://www.mwebantu.com/pastor-on-the-run-after-defiling-girl-police-say/
      title: "Pastor on the run after defiling girl, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/childrens-code-act-to-be-stregthened/
      title: "Children\u2019s Code Act to be Strengthened"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/fake-medical-fitness-certificates-get-5-solwezi-men-arrested/
      title: "Fake Medical Fitness Certificates Get 5 Solwezi Men Arrested"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/activists-calls-for-fast-truck-courts-to-deal-with-child-abuse/
      title: "Activists Calls for Fast Track Courts to Deal with Child Abuse"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/26/theres-no-money-in-parliament-most-mps-are-suffering-liswaniso/
      title: "There\u2019s no money in Parliament, most MPs are suffering \u2013 Liswaniso"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/26/i-havent-banned-issuance-of-prescriptions-muchima/
      title: "I haven\u2019t banned issuance of prescriptions \u2013 Muchima"
    - source: Mwebantu
      url: https://www.mwebantu.com/ecls-eligibility-case-back-in-court/
      title: "ECL\u2019s eligibility case back in Court!"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/public-gatherings-bill-replace-public-order-act-before-2026/
      title: "Public Gatherings Bill to Replace Public Order Act Before 2026"
    - source: Mwebantu
      url: https://www.mwebantu.com/bulldozers-temper-goes-high-in-court/
      title: "Bulldozer\u2019s temper goes \u2018high\u2019 in court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/the-church-is-a-partner-of-government-not-a-competitor/
      title: "\u201cThe Church is a Partner of Government not a Competitor\u201d"
---
