---
title: "Monday, April 7th, 2025"
description: "Zambia is mourning the loss of former Finance Minister and Forum for Democracy and Development (FDD) leader Edith Nawakwi, who passed away at the age of 66. Meanwhile, the government is working to reduce its reliance on foreign aid in the health sector, and President Hakainde Hichilema has expressed sadness at Nawakwi\u0027s passing. Other news includes the qualification of Zambia\u0027s under-17 football team to the World Cup, and the closure of two Lusaka orphanages after successfully relocating children to their birth families or foster homes."
tags: episode
episode: "452"
date: 2025-04-07T14:50:49.498989+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-04-07_podcast_dist.mp3
    length: 18 minutes, 21 seconds
    size: 16.83 MB
rss:
    enclosure_length: 17650228
    itunes_duration: 18:21
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 18
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/07/govt-must-hold-convention-on-constitutional-amendment-fodep/
      title: "Govt must hold convention on constitutional amendment \u2013 FODEP"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/07/nawakwi-dies/
      title: "Nawakwi dies"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-mourns-nawakwi/
      title: "HH Mourns NAWAKWI"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/04/07/us-foreign-aid-reduction-what-does-this-mean-for-zambias-health-sector-part-2/
      title: "US Foreign Aid Reduction: What Does This Mean for Zambia\u2019s Health Sector? \u2013 Part 2"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/04/07/the-monster-defiler-living-among-us/
      title: "The monster defiler living among us!"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/07/dont-blame-hh-for-his-ministers-misconduct-mbula/
      title: "Don\u2019t blame HH for his ministers\u2019 misconduct \u2013 Mbula"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/07/pf-mps-want-to-defect-they-ask-me-in-the-night-if-theres-space-to-join-hh/
      title: "PF MPs want to defect, they ask me in the night if there\u2019s space to join \u2013 HH"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/07/we-should-applaud-hh-for-appointing-more-women-in-govt-gender-ps/
      title: "We should applaud HH for appointing more women in govt \u2013 Gender PS"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/07/ive-positioned-myself-to-ensure-hhs-victory-in-2026-running-mate-or-not-nevers/
      title: "I\u2019ve positioned myself to ensure HH\u2019s victory in 2026, running mate or not \u2013 Nevers"
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-mourns-edith-nawakwi/
      title: "President Hakainde Hichilema mourns Edith Nawakwi."
    - source: Mwebantu
      url: https://www.mwebantu.com/edith-zewelani-nawakwi-dies-at-66/
      title: "Edith Zewelani Nawakwi dies at 66"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/two-lusaka-orphanages-shut-down/
      title: "Two Lusaka Orphanages Shut Down"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/munir-zulu-sentenced-to-12-months-with-hard-labour/
      title: "MUNIR ZULU sentenced to 12 months with hard labour"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-to-improve-tourism-infrastructure-hh/
      title: "Zambia to Improve Tourism Infrastructure \u2013 HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ex-cabinet-minister-nawakwi-has-died/
      title: "Ex- cabinet minister NAWAKWI has died"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/07/you-have-to-undergo-capacity-building-to-get-ceec-loans-ps/
      title: "You have to undergo capacity building to get CEEC loans \u2013 PS"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/07/govt-working-to-cheapen-smart-zambias-internet-chiyama/
      title: "Govt working to cheapen Smart Zambia\u2019s internet \u2013 Chiyama"
    - source: Mwebantu
      url: https://www.mwebantu.com/u17-qualify-to-world-cup/
      title: "U17 qualify to World Cup"
---
