---
title: "Tuesday, January 21st, 2025"
description: "Today's episode of the Zed News Podcast covers various news stories from Zambia, including corruption charges against a Ministry of Health employee, calls for increased scrutiny of the church, and financial oversight failures in local councils. The episode also touches on political news, international cooperation, and regional updates, as well as sports news and a reminder about the importance of global cooperation for peace and development."
tags: episode
episode: "399"
date: 2025-01-21T14:50:36.947931+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-01-21_podcast_dist.mp3
    length: 5 minutes, 11 seconds
    size: 4.78 MB
rss:
    enclosure_length: 5008670
    itunes_duration: 05:11
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 20 seconds
words:
    count: 732
    rate: 141 words per minute
references:
    count: 20
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/21/zammsa-must-operationalise-drug-fund-chilufya/
      title: "ZAMMSA must operationalise drug fund – Chilufya"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/21/mongu-municipal-council-misapplied-k1m-of-cdf-funds-ag-reveals/
      title: "Mongu Municipal Council misapplied K1m of CDF funds, AG reveals"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/21/were-willing-to-learn-from-egypt-on-cybercrime-fight-govt/
      title: "We’re willing to learn from Egypt on cybercrime fight – Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/munir-to-call-fugitive-jay-jay-as-witness/
      title: "Munir to call fugitive Jay Jay as witness."
    - source: Mwebantu
      url: https://www.mwebantu.com/presidential-assassin-witchdoctors-denied-bail/
      title: "Presidential ‘assassin’ witchdoctors denied bail"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-arrest-truck-driver-for-drunk-driving-after-tanker-overturns/
      title: "Police arrest truck driver for drunk driving after tanker overturns."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mozambique-opposition-leader-open-to-serving-in-rivals-government/
      title: "Mozambique opposition leader open to serving in rival’s government"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/21/dec-nabs-moh-employee-for-stealing-over-k4m/
      title: "DEC nabs MoH employee for stealing over K4m"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/tanzania-confirms-marburg-virus-outbreak-after-initial-denial/
      title: "Tanzania confirms Marburg virus outbreak after initial denial"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/fra-maize-stolen-in-mazabuka/
      title: "FRA Maize Stolen in Mazabuka"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/01/21/concourt-refuses-to-block-petauke-by-election/
      title: "ConCourt refuses to block Petauke by-election"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/21/well-be-after-tasila-until-we-get-her-dec/
      title: "We’ll be after Tasila until we get her – DEC"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/01/21/court-denies-2-witchcraft-assassins-bail/
      title: "Court denies 2 ‘witchcraft assassins’ bail"
    - source: News Diggers!
      url: https://diggers.news/business/2025/01/21/its-shocking-that-boz-blamed-us-for-their-system-failure-zesco/
      title: "It’s shocking that BoZ blamed us for their system failure – Zesco"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/21/church-needs-microscopic-scrutiny-says-ngocc-in-reaction-to-skeleton-saga/
      title: "Church needs microscopic scrutiny, says NGOCC in reaction to skeleton saga"
    - source: Mwebantu
      url: https://www.mwebantu.com/muchinga-man-assaults-wife-over-conjugal-rights-dispute/
      title: "Muchinga man assaults wife over conjugal rights dispute."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zammsa-health-ministry-officials-summoned-by-dec/
      title: "ZAMMSA, Health Ministry Officials summoned by DEC"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/01/21/give-new-acc-board-a-chance-to-fail-part-2/
      title: "Give new ACC board a chance to fail – Part 2"
    - source: Mwebantu
      url: https://www.mwebantu.com/deputy-head-teacher-loses-k28000-social-cash-transfer-funds-to-aviator-akadeke/
      title: "Deputy Head teacher loses K28,000 Social Cash Transfer Funds to aviator ‘akadeke’."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/global-cooperation-needed-to-end-conflicts-hh/
      title: "Global cooperation needed to end conflicts – HH"
---
