---
title: "Monday, February 17th, 2025"
description: "In this episode of the Zed News Podcast, Ayanda covers the latest updates from Zambia, including the President's response to the suspension of USAID programs, a major investment in a new copper cathode plant, and developments in healthcare, infrastructure, and social issues. The episode also touches on governance, wildlife news, and sports, including a FIFA VAR training workshop for local referees."
tags: episode
episode: "417"
date: 2025-02-17T14:10:58.448556+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-02-17_podcast_dist.mp3
    length: 4 minutes, 57 seconds
    size: 4.56 MB
rss:
    enclosure_length: 4785480
    itunes_duration: 04:57
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 37 seconds
words:
    count: 673
    rate: 136 words per minute
references:
    count: 28
    sources: 5
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/usaid-freeze-wake-up-call-hh/?utm_source=rss&utm_medium=rss&utm_campaign=usaid-freeze-wake-up-call-hh
      title: "USAID freeze wake-up call – HH"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/17/dogs-are-now-malnourished-because-things-are-worse-off-in-zambia-lubinda/
      title: "Dogs are now malnourished because things are worse off in Zambia – Lubinda"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/17/weve-made-progress-in-printing-new-curriculum-text-books-zeph/
      title: "We’ve made progress in printing new curriculum text books – ZEPH"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/headteacher-imprisoned-8months-over-cheque/?utm_source=rss&utm_medium=rss&utm_campaign=headteacher-imprisoned-8months-over-cheque
      title: "Headteacher imprisoned 8months over cheque"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/mimbula-pumps-250m-for-copper-cathode-plant/?utm_source=rss&utm_medium=rss&utm_campaign=mimbula-pumps-250m-for-copper-cathode-plant
      title: "Mimbula pumps $250m for copper cathode plant"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/approving-policy-on-disabled-estimable/?utm_source=rss&utm_medium=rss&utm_campaign=approving-policy-on-disabled-estimable
      title: "Approving policy on disabled estimable"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/02/17/selfish-leaders-made-pf-weak-not-upnd/
      title: "Selfish leaders made PF weak, not UPND"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/zammsa-assures-of-continued-medicine-supply/?utm_source=rss&utm_medium=rss&utm_campaign=zammsa-assures-of-continued-medicine-supply
      title: "ZAMMSA assures of continued medicine supply"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/02/17/the-hidden-strategies-how-the-tobacco-industry-targets-zambian-youths-part-2/
      title: "The Hidden Strategies: How the Tobacco Industry Targets Zambian Youths – Part 2"
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-businessmen-jailed-six-years-for-illegal-possession-of-lions-skulls/
      title: "Lusaka businessmen jailed six years for illegal possession of lions skulls"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/17/very-few-people-will-actually-use-k500-notes-ndulo/
      title: "Very few people will actually use K500 notes – Ndulo"
    - source: Mwebantu
      url: https://www.mwebantu.com/grandpa-75-in-court-for-defiling-mentally-challenged-ex-tenants-daughter/
      title: "Grandpa, 75, in court for defiling mentally challenged ex-tenants daughter."
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/zda-to-host-international-investment-conference/?utm_source=rss&utm_medium=rss&utm_campaign=zda-to-host-international-investment-conference
      title: "ZDA to host international investment conference"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/car-dealer-miner-jailed-6-years-over-200kg-lion-bones/?utm_source=rss&utm_medium=rss&utm_campaign=car-dealer-miner-jailed-6-years-over-200kg-lion-bones
      title: "Car dealer, miner jailed 6 years over 200kg lion bones"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/17/rural-populations-will-vote-for-upnd-next-year-theyre-used-to-life-without-electricity-kakoma/
      title: "Rural populations will vote for UPND next year, they’re used to life without electricity – Kakoma"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/17/moe-moh-sign-mou-to-improve-healthcare-services-for-learners/
      title: "MoE, MoH sign MoU to improve healthcare services for learners"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/17/cdf-absorption-in-lsk-has-been-the-worst-nkombo/
      title: "CDF absorption in Lsk has been the worst – Nkombo"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135915
      title: "Elumelu’s Message to Global Investors: “Africa Delivers Unmatched Returns”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/elephant-kills-65-year-old-man-in-chama/
      title: "Elephant kills 65-year-old man in Chama"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/boz-governor-new-notes-wont-fuel-inflation/
      title: "BOZ Governor: New Notes Won’t Fuel Inflation"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/barrick-gold-up-in-q4/?utm_source=rss&utm_medium=rss&utm_campaign=barrick-gold-up-in-q4
      title: "Barrick Gold up in Q4"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/5-days-of-ncwala/?utm_source=rss&utm_medium=rss&utm_campaign=5-days-of-ncwala
      title: "5 days of Nc’wala"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/17/govt-commissions-k7m-acrow-bridge/?utm_source=rss&utm_medium=rss&utm_campaign=govt-commissions-k7m-acrow-bridge
      title: "Govt commissions K7m acrow bridge"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/17/govt-should-be-more-flexible-when-handling-new-foreign-businesses-japanese-envoy/
      title: "Govt should be more flexible when handling new foreign businesses – Japanese Envoy"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/17/we-spent-over-k6-8m-on-luombwa-acrow-bridge-milupi/
      title: "We spent over K6.8m on Luombwa Acrow Bridge – Milupi"
    - source: Mwebantu
      url: https://www.mwebantu.com/nakonde-woman-searches-for-missing-baby-allegedly-stolen-by-friend/
      title: "Nakonde woman searches for missing baby allegedly stolen by friend."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/no-live-broadcast-for-suspected-wizards-trial/
      title: "No live broadcast for suspected wizards’ trial"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/faz-unveils-var-training-for-local-referees/
      title: "FAZ unveils VAR training for local referees"
---
