---
title: "Monday, March 24th, 2025"
description: "This episode of the Zed News Podcast covers a range of news stories from Zambia, including a bartending competition winner, concerns over stolen medications in hospitals, and politics surrounding constitutional amendments. The episode also touches on a tragic workplace accident, international news from South Korea, and a fun fact about the first nuclear-powered submarine."
tags: episode
episode: "442"
date: 2025-03-24T22:09:03.986468+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-03-24_podcast_dist.mp3
    length: 5 minutes, 59 seconds
    size: 5.52 MB
rss:
    enclosure_length: 5783146
    itunes_duration: 05:59
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 46 seconds
words:
    count: 824
    rate: 138 words per minute
references:
    count: 15
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/03/24/bornface-mwanza-scoops-diageo-bartender-mix-off-top-slot/?utm_source=rss&utm_medium=rss&utm_campaign=bornface-mwanza-scoops-diageo-bartender-mix-off-top-slot
      title: "Bornface Mwanza scoops Diageo Bartender Mix-off top slot"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/24/some-health-workers-stealing-drugs-giving-proscriptions-muchima/
      title: "Some health workers stealing drugs, giving proscriptions – Muchima"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/03/24/u-s-foreign-aid-reduction-what-does-this-mean-for-zambias-health-sector-part-1/
      title: "U.S Foreign Aid Reduction: What does this mean for Zambia’s health sector? – Part 1"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/03/24/the-criminality-in-the-fuel-supply-saga-questions-for-the-minister-in-parliament-part-1/
      title: "The criminality in the fuel supply saga; questions for the minister in Parliament: Part 1"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/24/senior-chief-kopa-backs-delimitation-calls/
      title: "Senior Chief Kopa backs delimitation calls"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/24/its-their-time-if-they-want-the-constitution-amended-let-it-be-chief-chikanza/
      title: "It’s their time, if they want the Constitution amended, let it be – Chief Chikanza"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/24/tonse-a-winning-ticket-for-2026-and-improved-living-standards-lungu/
      title: "Tonse, a winning ticket for 2026 and improved living standards – Lungu"
    - source: Mwebantu
      url: https://www.mwebantu.com/100-brands-gear-up-for-the-inaugural-mkushi-agriexpo-2025/
      title: "100+ Brands Gear Up for the Inaugural Mkushi AgriExpo 2025!"
    - source: Mwebantu
      url: https://www.mwebantu.com/maids-jailed-for-death-of-baby-who-swallowed-coin-battery/
      title: "Maids jailed for death of baby who swallowed coin battery"
    - source: Mwebantu
      url: https://www.mwebantu.com/10-kawambwa-sugar-employees-drown-on-their-way-for-work/
      title: "10 Kawambwa sugar employees drown on their way for work."
    - source: News Diggers!
      url: https://diggers.news/courts/2025/03/24/isoka-mp-asks-court-to-enter-default-judgement-against-bowman/
      title: "Isoka MP demands K375,000 from Bowman"
    - source: Mwebantu
      url: https://www.mwebantu.com/elias-musyani-out-from-detention-after-three-days/
      title: "Elias Musyani out from detention after three days."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/south-korea-court-reinstates-pm-as-acting-leader/
      title: "South Korea court reinstates PM as acting leader"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/24/police-dont-arrest-violent-upnd-cadres-for-fear-of-being-demoted-pf/
      title: "Police don’t arrest violent UPND cadres for fear of being demoted – PF"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/24/govt-plans-to-amend-non-contentious-clauses-to-avoid-spending-money-on-meetings-mweetwa/
      title: "Govt plans to amend non-contentious clauses to avoid spending money on meetings – Mweetwa"
---
