---
title: "Thursday, March 20th, 2025"
description: "Today's episode of the Zed News Podcast covers a range of news from Zambia, including a tragic student death, a inspiring story of a young filmmaker, and updates on legal cases and health news. The episode also touches on sports highlights and shares an interesting historical fact."
tags: episode
episode: "440"
date: 2025-03-20T14:06:59.255989+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-03-20_podcast_dist.mp3
    length: 3 minutes, 23 seconds
    size: 3.13 MB
rss:
    enclosure_length: 3280408
    itunes_duration: 03:23
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 43 seconds
words:
    count: 501
    rate: 148 words per minute
references:
    count: 4
    sources: 2
articles:
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-records-first-mpox-related-death/
      title: "Zambia Records First Mpox-Related Death"
    - source: Mwebantu
      url: https://www.mwebantu.com/unza-students-protest-after-first-year-student-dies-in-road-accident/
      title: "UNZA students protest after first-year student dies in road accident."
    - source: Mwebantu
      url: https://www.mwebantu.com/from-biomedical-engineer-to-filmmaker-extraordinaire-ruth-bupe-nkondes-journey-of-passion-and-purpose/
      title: "From Biomedical Engineer to Filmmaker Extraordinaire: Ruth Bupe Nkonde’s Journey of Passion and Purpose"
    - source: Mwebantu
      url: https://www.mwebantu.com/judge-halts-decision-to-forfeit-esther-lungus-flats/
      title: "Judge halts decision to forfeit Esther Lungu’s flats"
---
