---
title: "Friday, February 14th, 2025"
description: "This episode of the Zed News Podcast covers a range of news from Zambia and beyond, including updates on the tourism sector, political tensions surrounding the Petauke by-election, and legal cases involving alleged false information and witch doctors. The episode also touches on economic concerns, local crime, and sports news, as well as sharing a fun fact about Valentine's Day."
tags: episode
episode: "416"
date: 2025-02-14T14:08:52.160919+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-02-14_podcast_dist.mp3
    length: 5 minutes, 19 seconds
    size: 4.90 MB
rss:
    enclosure_length: 5139492
    itunes_duration: 05:19
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 35 seconds
words:
    count: 756
    rate: 142 words per minute
references:
    count: 15
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/lifestyle/2025/02/14/valentines-day-support-your-favorite-team-and-win-with-1xbet/
      title: "Valentine’s Day: support your favorite team and win with 1xBet!"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/14/i-doubt-speaker-will-declare-our-seats-vacant-mungandu/
      title: "I doubt Speaker will declare our seats vacant – Mung’andu"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/14/i-was-happy-that-the-country-would-have-early-elections-witness-tells-court/
      title: "I was happy that the country would have early elections, witness tells court"
    - source: Mwebantu
      url: https://www.mwebantu.com/ministry-of-defence-eulogies-former-namibian-president/
      title: "Ministry of Defence eulogies former Namibian president."
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/14/introduction-of-k200-k500-notes-indicates-inflationary-issue-hambayi/
      title: "Introduction of K200, K500 notes indicates inflationary issue – Hambayi"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/14/jamaika-zed-denies-trafficking-in-84-65g-of-marijuana/
      title: "Jamaika Zed denies trafficking in 84.65g of marijuana"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/14/foloko-pays-tribute-to-mpondela/
      title: "Foloko pays tribute to Mpondela"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/14/ncz-failed-to-recall-30-tank-cars-worth-over-k25m-leased-to-zimbabwean-company-ag/
      title: "NCZ failed to recall 30 tank cars worth over K25m leased to Zimbabwean company – AG"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/14/reliance-on-foreign-coaches-disappoints-hamfwiti/
      title: "Reliance on foreign coaches disappoints Hamfwiti"
    - source: Mwebantu
      url: https://www.mwebantu.com/harry-kalaba-brags-about-winning-the-2026-presidential-election/
      title: "Harry Kalaba brags about winning the 2026 Presidential election."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zpl-distributes-funds-to-all-clubs/
      title: "ZPL distributes funds to all clubs"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/14/ministry-of-tourism-generated-k319-5m-none-tax-revenue-in-2024-sikumba/
      title: "Ministry of Tourism generated K319.5m none-tax revenue in 2024 – Sikumba"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/14/chabinga-is-the-only-one-who-can-decide-fate-of-pf-mps-that-supported-upnd-in-petauke-mulusa/
      title: "Chabinga is the only one who can decide fate of PF MPs that supported UPND in Petauke – Mulusa"
    - source: Mwebantu
      url: https://www.mwebantu.com/witchdoctor-assasins-court-case-to-be-broadcast-live/
      title: "Witchdoctor ‘assasins’ court case to be broadcast live"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/12-arrested-for-thefts-at-the-kafue-traffic-circle/
      title: "12 arrested for car thefts at the Kafue traffic circle"
---
