---
title: "Tuesday, January 14th, 2025"
description: "This episode of the Zed News Podcast covers a range of topics, including education, politics, health, and sports in Zambia. From the directive to pay student levies to concerns about the upcoming elections and cholera outbreaks, this episode provides an overview of the country's current events."
tags: episode
episode: "394"
date: 2025-01-14T14:48:37.038290+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-01-14_podcast_dist.mp3
    length: 4 minutes, 49 seconds
    size: 4.45 MB
rss:
    enclosure_length: 4669705
    itunes_duration: 04:49
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 21 seconds
words:
    count: 655
    rate: 136 words per minute
references:
    count: 20
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/14/zesco-coach-plans-to-halt-nkanas-winning-run/
      title: "Zesco coach plans to halt Nkana’s winning run"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/14/mwapes-axing-was-not-properly-handled-by-faz-kashala/
      title: "Mwape’s axing was not properly handled by FAZ – Kashala"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/young-golfers-tournament-set-for-jan-19/
      title: "Young Golfers’ Tournament Set for Jan 19"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/14/it-wont-be-surprising-if-govt-deregisters-pf-mwamba/
      title: "It won’t be surprising if govt deregisters PF – Mwamba"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/14/ecz-will-always-be-accused-of-favouring-ruling-party-kasaro/
      title: "ECZ will always be accused of favouring ruling party – Kasaro"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/water-utilities-intensify-cholera-mitigation-efforts-in-hotspot-areas/
      title: "Water Utilities Intensify Cholera Mitigation Efforts in Hotspot Areas"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/storm-dikeledi-causes-rainfall-disruption-in-zambia/
      title: "Storm Dikeledi Causes Rainfall Disruption in Zambia"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/5-socialist-party-officials-resign/
      title: "5 Socialist Party Officials resign"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/14/system-of-higher-education-is-fragile-in-zambia-hea/
      title: "System of higher education is fragile in Zambia – HEA"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/14/dont-expect-a-better-2025-because-of-elections-next-year-binwell/
      title: "Don’t expect a better 2025 because of elections next year – Binwell"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/01/14/ill-withhold-nakacindas-passport-if-he-misses-court-again-magistrate-warns/
      title: "I’ll withhold Nakacinda’s passport if he misses court again, Magistrate warns"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/01/14/proper-processes-were-followed-in-mopani-deal-ag-tells-court/
      title: "Proper processes were followed in Mopani deal, AG tells court"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/01/14/nawakwi-is-admitted-at-uth-court-hears/
      title: "Nawakwi is admitted at UTH, court hears"
    - source: Mwebantu
      url: https://www.mwebantu.com/kansanshi-mine-pledges-full-cooperation-in-abuse-allegations-probe/
      title: "Kansanshi Mine pledges full cooperation in abuse allegations probe."
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/14/weve-started-the-process-of-creating-a-new-lands-act-masebo/
      title: "We’ve started the process of creating a new lands act – Masebo"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-civil-aviation-industry-to-undergo-icao-security-audit/
      title: "Zambia Civil Aviation Industry to Undergo ICAO Security Audit"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/4900-youths-in-cp-empowered-with-survival-skills/
      title: "4,900 Youths in CP Empowered with Survival Skills"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/upnd-calls-on-media-houses-to-be-professional/
      title: "UPND Calls on Media Houses to be Professional"
    - source: Mwebantu
      url: https://www.mwebantu.com/edith-nawakwi-sick-again-fails-to-appear-in-court/
      title: "Edith Nawakwi sick again, fails to appear in court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/tiz-praises-police-for-fair-enforcement-during-kawambwa-by-election/
      title: "TIZ Praises Police for Fair Enforcement During Kawambwa By-Election"
---
