---
title: "Tuesday, April 22nd, 2025"
description: "Zambia\u0027s government is under scrutiny as critics slam the newly enacted Cyber Security Act, which they claim will undermine investigative journalism and stifle free expression. Meanwhile, President Hakainde Hichilema has reaffirmed his commitment to safeguarding press freedom and media self-regulation, dismissing reports of government plans to impose media regulations. Additionally, the government has been urged to take action against corruption and mismanagement, with calls for Permanent Secretaries with political ambitions to resign immediately."
tags: episode
episode: "463"
date: 2025-04-22T18:02:50.323468+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-04-22_podcast_dist.mp3
    length: 17 minutes, 44 seconds
    size: 16.27 MB
rss:
    enclosure_length: 17056310
    itunes_duration: 17:44
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 23
    sources: 3
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136060
      title: "HH mourns Pope Francis"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136057
      title: "Nkana pledges to repair the damage"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/us-to-ban-artificial-food-dyes-in-cereals-snacks-and-beverages/
      title: "US to ban artificial food dyes in cereals, snacks and beverages"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/22/well-replace-damaged-seats-at-levy-mwanawasa-stadium-nkana/
      title: "We\u2019ll replace damaged seats at Levy Mwanawasa Stadium \u2013 Nkana"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/22/cyber-security-act-will-undermine-investigative-journalism-fpi/
      title: "Cyber Security Act will undermine investigative journalism \u2013 FPI"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/22/swimsuits-yes-but-not-g-strings-says-masebo-at-miss-universe-zambia-finale/
      title: "Swimsuits yes, but not G-strings, says Masebo at Miss Universe Zambia finale"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/04/22/smuggling-of-dollars-a-case-of-connivance-and-weaknesses-in-zambias-financial-regulations/
      title: "Smuggling of dollars: A case of connivance and weaknesses in Zambia\u2019s financial regulations"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/22/even-upnd-mps-are-against-constitutional-amendments-kapyanga/
      title: "Even UPND MPs are against constitutional amendments \u2013 Kapyanga"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/22/govt-has-been-intercepting-communication-since-time-immemorial-ictaz/
      title: "Govt has been intercepting communication since time immemorial \u2013 ICTAZ"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/22/upnd-will-be-shocked-if-they-think-opposition-alliance-is-inconsequential-musumali/
      title: "UPND will be shocked if they think opposition alliance is inconsequential \u2013 Musumali"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136079
      title: "Chilanga upgrades Ndola plant"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136075
      title: "ZANACO disburses K8 million alternative solar financing"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136073
      title: "NCZ makes 18,563 tonnes compound D"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136070
      title: "President committed to safeguarding Press freedom, media self-regulation"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136067
      title: "2 train drivers die in accident"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136064
      title: "1,000 km economic roads approved for funding under PPP"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/all-hospitalized-mpox-patients-discharged/
      title: "All Hospitalized Mpox Patients Discharged"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/22/changing-govt-from-pf-to-upnd-has-cost-us-dearly-kateka/
      title: "Changing govt from PF to UPND has cost us dearly \u2013 Kateka"
    - source: News Diggers!
      url: https://diggers.news/business/2025/04/22/we-dont-approve-contracts-zppa-explains-role-in-controversial-grz-funeral-scheme-tender/
      title: "We don\u2019t approve contracts: ZPPA explains role in controversial GRZ funeral scheme tender"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/22/journalists-salute-hh-for-disowning-mlc-bill-embracing-self-regulation/
      title: "Journalists salute HH for disowning MLC bill, embracing self regulation"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/munir-zulu-denied-bail-pending-appeal/
      title: "Munir Zulu Denied Bail Pending Appeal"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ecz-hands-over-electoral-reform-report-to-government/
      title: "ECZ Hands Over Electoral Reform Report to Government"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/resign-now-pss-eyeing-2026-told/
      title: "Resign Now, PSs Eyeing 2026 Told"
---
