---
title: "Wednesday, March 19th, 2025"
description: "In this episode of the Zed News Podcast, we cover various news stories from Zambia and beyond, including Dr. Fredrick Chitangala's appointment as Executive Director of Chreso Ministries, legal updates on high-profile cases, and economic news on Zambia's partnership with the World Bank. We also touch on governance, wildlife crime, and more."
tags: episode
episode: "439"
date: 2025-03-19T14:07:14.356274+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-03-19_podcast_dist.mp3
    length: 4 minutes, 23 seconds
    size: 4.05 MB
rss:
    enclosure_length: 4243805
    itunes_duration: 04:23
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 1 minute, 54 seconds
words:
    count: 614
    rate: 140 words per minute
references:
    count: 7
    sources: 3
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/03/19/chitangala-appointed-executive-director-of-chreso-ministries/?utm_source=rss&utm_medium=rss&utm_campaign=chitangala-appointed-executive-director-of-chreso-ministries
      title: "Chitangala appointed Executive Director of Chreso Ministries"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/more-support-constitution-amendments/
      title: "Amendments Must Serve Democracy, Not Election Cycles"
    - source: Mwebantu
      url: https://www.mwebantu.com/state-applies-to-visit-nawakwis-home-to-confirm-sickness/
      title: "State applies to visit Nawakwi’s home to confirm sickness"
    - source: Mwebantu
      url: https://www.mwebantu.com/malanji-helicopters-case-adjourned-after-bonanza-fell-sick/
      title: "Malanji ‘helicopters’ case adjourned after ‘Bonanza” fell sick"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-improves-ties-with-world-bank-hh/
      title: "Zambia improves ties with World Bank – HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/three-arrested-for-smuggling-33-protected-birds/
      title: "Three arrested for smuggling 33 protected birds"
    - source: Mwebantu
      url: https://www.mwebantu.com/former-ex-zra-boss-found-with-case-to-answer-over-auctioned-cars/
      title: "Former EX-ZRA boss found with case to answer over auctioned cars"
---
