---
title: "Friday, March 7th, 2025"
description: "This episode of the Zed News Podcast covers a range of topics, including sports updates, social issues, economic concerns, and governance news in Zambia and beyond. From Ken \"The Takeover\" Sekeletu's MMA championship win to the Zambian Civil Liberties Union's petition for a non-discriminatory citizenship process, this episode brings listeners up to speed on the latest headlines."
tags: episode
episode: "431"
date: 2025-03-07T14:09:23.430674+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-03-07_podcast_dist.mp3
    length: 5 minutes, 26 seconds
    size: 5.02 MB
rss:
    enclosure_length: 5259442
    itunes_duration: 05:26
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 4 seconds
words:
    count: 780
    rate: 144 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/07/allow-govt-interference-at-your-peril-fifa-warns-faz/
      title: "Allow govt interference at your peril, FIFA warns FAZ"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/07/speaker-disappointed-with-mps-habit-of-late-coming/
      title: "Speaker disappointed with MPs’ habit of late coming"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/07/lubinda-decries-zambias-economic-decline-under-upnd-despite-copper-wealth/
      title: "Lubinda decries Zambia’s economic decline under UPND despite copper wealth"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-men-jailed-five-years-for-blackmail-and-filming-sex-act/
      title: "Two men jailed five years for blackmail and filming sex act"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hired-killers-paid-k5-000-to-murder-businessman/
      title: "Hired killers paid K5, 000 to murder Businessman"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/03/07/high-court-denies-2-nigerians-bail-pending-appeal/
      title: "High Court denies 2 Nigerians bail pending appeal"
    - source: Mwebantu
      url: https://www.mwebantu.com/traditional-healer-jailed-for-life-after-killing-ex-lovers-son/
      title: "Traditional healer jailed for life after killing ex-lover’s son"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/07/sekeletu-grabs-interim-featherweight-crown-at-efc-121/
      title: "Sekeletu grabs Interim Featherweight crown at EFC 121"
    - source: News Diggers!
      url: https://diggers.news/business/2025/03/07/ph-levels-beyond-ngabwe-remain-normal-despite-sino-metals-pollution-mposha/
      title: "pH levels beyond Ngabwe remain normal despite Sino Metals’ pollution – Mposha"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/veep-calls-for-better-cdf-monitoring/
      title: "VEEP calls for better CDF monitoring"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/03/07/all-citizenship-applicants-must-undergo-non-discriminatory-scrutiny-process-zclu/
      title: "All citizenship applicants must undergo non-discriminatory scrutiny process – ZCLU"
    - source: News Diggers!
      url: https://diggers.news/business/2025/03/07/were-on-our-own-trump-has-slapped-us-on-both-cheeks-hh/
      title: "We’re on our own, Trump has slapped us on both cheeks – HH"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/officers-deployed-along-kafue-to-track-wildlife-deaths/
      title: "Officers deployed along Kafue River to Track wildlife deaths"
    - source: Mwebantu
      url: https://www.mwebantu.com/16-year-old-girl-defiled-and-killed-police-say/
      title: "16-year-old girl defiled and killed, police say."
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/07/red-arrows-aims-to-defend-absa-cup/
      title: "Red Arrows aims to defend ABSA Cup"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/03/07/asset-declaration-is-not-only-good-for-the-public-its-good-for-hh-too-part-1/
      title: "Asset declaration is not only good for the public, it’s good for HH too: Part 1"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/cyclist-killed-in-petauke-motorbike-crash/
      title: "Cyclist Killed in Petauke Motorbike Crash"
---
