---
title: "Thursday, February 13th, 2025"
description: "In this episode, we cover the latest news from Zambia and beyond, including President Hichilema's upcoming trip to the African Union's Assembly of Heads of State, a former judge's abuse of office allegations, and updates from the world of sports, athletics, and finance. We also touch on crime news, local updates, and inspiring stories to brighten your day."
tags: episode
episode: "415"
date: 2025-02-13T14:09:14.399144+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-02-13_podcast_dist.mp3
    length: 5 minutes, 7 seconds
    size: 4.71 MB
rss:
    enclosure_length: 4943053
    itunes_duration: 05:07
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 55 seconds
words:
    count: 731
    rate: 143 words per minute
references:
    count: 16
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/13/ex-mongu-high-court-judge-found-with-case-to-answer/
      title: "Ex-Mongu High Court Judge found with case to answer"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kamangas-case-not-closed-yet-dec/
      title: "KAMANGA’s case not closed yet – DEC"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/13/mpondela-quits-za-race-endorses-mungambata/
      title: "Mpondela quits ZA race, endorses Mung’ambata"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/13/at-mining-indaba-people-wanted-to-know-how-zambia-resuscitated-its-mines-ps/
      title: "At mining indaba people wanted to know how Zambia resuscitated its mines – PS"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-nears-target-in-cattle-vaccination-drive/
      title: "Govt nears target in cattle vaccination drive"
    - source: Mwebantu
      url: https://www.mwebantu.com/police-dismiss-abduction-claims-of-chanda-nonde/
      title: "Police dismiss abduction claims of Chanda Nonde"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/13/u17-boys-have-enough-experience-to-face-anyone-kawangu/
      title: "U17 boys have enough experience to face anyone – Kawangu"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/13/people-still-condemn-me-for-missing-penalty-at-afcon-kalaba/
      title: "People still condemn me for missing penalty at AFCON – Kalaba"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/13/zambias-new-corruption-perception-index-inaccurate-pf/
      title: "Zambia’s new corruption perception index inaccurate – PF"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/13/money-kept-under-mattresses-will-become-museum-material-boz-warns/
      title: "LEAs will take interest in people that will be depositing large sums in banks – BoZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-arrested-for-stealing-over-k400-000-and-casino-tokens-in-lusaka/
      title: "Two arrested for stealing over K400, 000 and casino tokens in Lusaka."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/gce-exams-to-continue-in-new-curriculum/
      title: "GCE Exams to Continue in New Curriculum"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/13/hh-to-attend-au-summit-in-ethiopia/
      title: "HH to attend AU Summit in Ethiopia"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/13/broadcasters-should-exercise-caution-when-selecting-guests-for-programmes-mweetwa/
      title: "Broadcasters should exercise caution when selecting guests for programmes – Mweetwa"
    - source: Mwebantu
      url: https://www.mwebantu.com/ex-judge-muma-found-with-case-to-answer/
      title: "Ex-Judge Muma found with case to answer."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-heads-to-addis-for-au-summit/
      title: "HH heads to Addis for AU Summit"
---
