---
title: "Thursday, May 15th, 2025"
description: "This is episode 480 of the Zed News Podcast."
tags: episode
episode: "480"
date: 2025-05-15T17:20:31.411955+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-05-15_podcast_dist.mp3
    length: 11 minutes, 59 seconds
    size: 11.01 MB
rss:
    enclosure_length: 11546353
    itunes_duration: 11:59
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 15
    sources: 3
articles:
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136327
      title: "Financial closure reached for Chisamba solar project"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/15/there-is-no-link-between-my-acquittal-and-joining-upnd-amos/
      title: "There is no link between my acquittal and joining UPND \u2013 Amos"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/05/15/court-rejects-bozs-application-in-investrust-liquidation-case/
      title: "Court rejects BoZ\u2019s application in Investrust liquidation case"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/15/chipyoka-signs-3-yr-deal-at-hapoel-petah-tikva/
      title: "Chipyoka signs 3-yr deal at Hapoel Petah Tikva"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/15/things-are-bad-says-kampamba-as-violence-continues-in-libya/
      title: "Things are bad, says Kampamba as violence continues in Libya"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/15/pfl-invites-spanish-futsal-expert-to-zambia/
      title: "PFL invites Spanish futsal expert to Zambia"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/15/keiths-election-is-a-victory-for-football-damiano/
      title: "Keith\u2019s election is a victory for football \u2013 Damiano"
    - source: Mwebantu
      url: https://www.mwebantu.com/yango-recognizes-the-mothers-of-its-partner-drivers-in-zambia-with-thoughtful-appreciation/
      title: "Yango Recognizes the Mothers of Its Partner Drivers in Zambia with Thoughtful Appreciation"
    - source: Mwebantu
      url: https://www.mwebantu.com/expect-more-calls-from-state-house-says-hamasaka/
      title: "Expect more calls from State House, says Hamasaka."
    - source: Mwebantu
      url: https://www.mwebantu.com/mrs-kennedy-and-her-friends-in-court-for-abducting-hubbys-side-chick/
      title: "Mrs Kennedy and her friends, in court for \u2018abducting\u2019 hubby\u2019s \u2018side chick\u2019"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/15/police-warn-sp-youths-planning-to-protest-over-drug-theft-well-meet-on-the-ground/
      title: "Police warn SP youths planning to protest over drug theft: \u201cWe\u2019ll meet on the ground\u201d"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/15/its-my-duty-to-call-zammsa-moh-when-theyre-doing-wrong-things-hhs-advisor/
      title: "It\u2019s my duty to call ZAMMSA, MoH when they\u2019re doing wrong things \u2013 HH\u2019s advisor"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/15/dont-underrate-weak-opposition-chama-warns/
      title: "Don\u2019t underrate weak opposition, Chama warns"
    - source: Mwebantu
      url: https://www.mwebantu.com/kitwe-man-nabbed-for-splitting-k5-coin/
      title: "Kitwe man nabbed for splitting K5 coin"
    - source: Mwebantu
      url: https://www.mwebantu.com/papa-found-guilty-of-defiling-mentally-challenged-victim-multiple-times/
      title: "\u2018Papa\u2019 found guilty of defiling mentally challenged victim, multiple times."
---
