---
title: "Wednesday, February 26th, 2025"
description: "This episode of the Zed News Podcast covers various news stories in Zambia, including a former MP's counterfeit cash scandal, tensions surrounding the government's economic reforms, and controversy over the revised 2022 census report. Other topics include government contracts, flood concerns, and local achievements in film and sports."
tags: episode
episode: "424"
date: 2025-02-26T14:09:23.163575+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-02-26_podcast_dist.mp3
    length: 6 minutes, 1 second
    size: 5.55 MB
rss:
    enclosure_length: 5814917
    itunes_duration: 06:01
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 4 seconds
words:
    count: 834
    rate: 139 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/26/govt-replaced-old-contractors-with-upnd-cadres-whore-now-buying-cars-mundubile/
      title: "Govt replaced old contractors with UPND cadres who’re now buying cars – Mundubile"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/26/speaker-orders-statement-on-floods/
      title: "Speaker orders statement on floods"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/26/ecz-was-right-to-disqualify-you-high-court-tells-cf-pambashe-candidate/
      title: "ECZ was right to disqualify you, High Court  tells CF Pambashe candidate"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/heavy-rains-devastate-200-hectares-of-crops-in-shibuyunji/
      title: "Heavy Rains Devastate 200 Hectares of Crops in ShibuyunjI"
    - source: Mwebantu
      url: https://www.mwebantu.com/witness-found-papers-between-two-dollar-notes-in-kelvin-sampa-case/
      title: "Witness found papers between two dollar notes in Kelvin Sampa case."
    - source: Mwebantu
      url: https://www.mwebantu.com/chirundu-businessman-colleague-shot-in-daylight-robbery-police-say/
      title: "Chirundu businessman, colleague shot in daylight robbery, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/anita-banda-crafting-stories-inspiring-generations/
      title: "Anita Banda: Crafting Stories, Inspiring Generations"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/energy-minister-calls-for-sadc-collaboration-on-sustainable-energy/
      title: "Energy Minister Calls for SADC Collaboration on Sustainable Energy"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/26/kelvin-sampa-didnt-know-how-genuine-dollars-turned-fake-court-hears/
      title: "Kelvin Sampa didn’t know how genuine dollars turned fake, court hears"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/02/26/economic-policy-reforms-seem-to-favour-foreigners-over-local-businesses/
      title: "Economic policy reforms seem to favour foreigners over local businesses"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/26/us-can-emulate-zambias-democracy-mweetwa-tells-voa/
      title: "US can emulate Zambia’s democracy, Mweetwa tells VoA"
    - source: Mwebantu
      url: https://www.mwebantu.com/ndola-woman-kills-hubby-for-misusing-salary-police-say/
      title: "Ndola woman kills hubby for misusing salary, police say"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/96-year-old-woman-burnt-to-death-by-granddaughters-in-mambwe/
      title: "96-Year-Old Woman Burnt to Death by Granddaughters in Mambwe"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/26/govts-engagement-with-dangote-for-cheaper-fuel-a-good-move-ptaz/
      title: "Govt’s engagement with Dangote for cheaper fuel a good move – PTAZ"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/26/dmmu-focused-more-on-drought-they-didnt-prepare-for-floods-chanda-kabwe/
      title: "DMMU focused more on drought, they didn’t prepare for floods – Chanda Kabwe"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/national-heroes-stadium-rehabilitation-to-be-completed-in-march/
      title: "National Heroes Stadium Rehabilitation to be Completed in March"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ukraine-official-says-minerals-deal-agreed-with-us/
      title: "Ukraine official says minerals deal agreed with US"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/243000-kwacha-released-for-ftc-malambo-road-rehabilitation-in-chikankata/
      title: "243,000 Kwacha Released for FTC Malambo Road Rehabilitation in Chikankata"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/26/govt-officials-clash-over-mistakes-in-census-report-its-null-and-void-says-beyani/
      title: "Govt officials clash over “mistakes” in census report: It’s null and void, says Beyani"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/26/zns-officer-who-slit-throat-in-suicide-attempt-dies/
      title: "ZNS officer who slit throat in suicide attempt dies"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-and-botswana-to-establish-electricity-interconnector/
      title: "Zambia and Botswana to Establish Electricity Interconnector"
---
