---
title: "Wednesday, April 16th, 2025"
description: "Today's episode covers a range of topics, including Zambia's financial sector, agricultural news, political updates, sports highlights, and more. From the launch of a Strategic Plan for the Capital Markets Tribunal to the locust infestation in Central Province, and from the Football Association of Zambia's Elective Annual General Meeting to Barbra Banda's historic achievement, stay informed about the latest news and updates from Zambia and beyond."
tags: episode
episode: "459"
date: 2025-04-16T15:40:59.265148+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-04-16_podcast_dist.mp3
    length: 5 minutes, 22 seconds
    size: 4.95 MB
rss:
    enclosure_length: 5191736
    itunes_duration: 05:22
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 41 seconds
words:
    count: 760
    rate: 142 words per minute
references:
    count: 14
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/16/its-game-on-in-lumezi-well-demolish-them-levy/
      title: "It’s game on in Lumezi, we’ll demolish them – Levy"
    - source: Mwebantu
      url: https://www.mwebantu.com/zambia-showcases-investment-tourism-and-innovation-potential-at-osaka-2025-world-expo/
      title: "Zambia showcases investment, tourism and innovation potential at Osaka 2025 World Expo."
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/16/kcm-pays-35-of-debt-to-cec-under-court-approved-scheme/
      title: "KCM pays 35% of debt to CEC under court-approved Scheme"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/16/keith-promises-to-pay-referees-more/
      title: "Keith promises to pay referees more"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-calls-for-more-desk-production/
      title: "Govt Calls for More Desk Production"
    - source: News Diggers!
      url: https://diggers.news/business/2025/04/16/strategic-plan-for-capital-markets-tribunal-will-instill-investor-confidence-govt/
      title: "Strategic Plan for Capital Markets Tribunal will instill investor confidence – Govt"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/16/locust-infestation-in-central-province-worries-govt/
      title: "Locust infestation in Central Province worries Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/release-me-from-jail-while-am-on-appeal-munir-asks-court/
      title: "Release me from jail while am on appeal, Munir asks court."
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/16/govt-opens-chawama-nrc-office-in-decentralisation-effort/
      title: "Govt opens Chawama NRC office in decentralisation effort"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/16/fifa-sets-21-day-deadline-for-reconvened-faz-agm/
      title: "FIFA sets 21-day deadline for reconvened FAZ AGM"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/16/u20-afcon-group-a-is-fair-mulwanda/
      title: "U20 AFCON Group A is fair – Mulwanda"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/16/bb11-dedicates-fifpro-award-to-teammates/
      title: "BB11 dedicates FIFPRO award to teammates"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/16/gbm-alive-says-kawana-as-he-warns-against-social-media-abuse/
      title: "GBM alive, says Kawana as he warns against social media abuse"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/us-pastor-kidnapped-during-church-service-in-south-africa-found-after-shoot-out/
      title: "US pastor kidnapped during church service in South Africa found after shoot-out"
---
