---
title: "Tuesday, February 11th, 2025"
description: "This episode of the Zed News Podcast covers a range of top stories from Zambia, including concerns about alcohol abuse, mismanagement at the Zambia Statistics Agency, and updates on politics, finance, sports, and health. The episode also touches on issues like corruption, procurement practices, and citizen engagement, as well as international news and a fun fact about Nelson Mandela's release from prison."
tags: episode
episode: "413"
date: 2025-02-11T14:09:44.725185+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-02-11_podcast_dist.mp3
    length: 5 minutes, 24 seconds
    size: 4.98 MB
rss:
    enclosure_length: 5218487
    itunes_duration: 05:24
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 22 seconds
words:
    count: 719
    rate: 133 words per minute
references:
    count: 20
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/11/lets-stop-alcohol-abuse/?utm_source=rss&utm_medium=rss&utm_campaign=lets-stop-alcohol-abuse
      title: "Let’s stop alcohol abuse"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/tasila-lungu-arrested-and-charged/
      title: "Tasila Lungu Arrested and Charged"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/11/mchelenganga-leaves-napsa-stars/
      title: "Mcheleng’anga leaves Napsa Stars"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/11/cholera-cases-hit-238/
      title: "Cholera cases hit 238"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/02/11/people-in-govt-idc-chewed-money-on-the-napsa-marcopolo-share-transaction/
      title: "People in govt, IDC chewed money on the NAPSA, Marcopolo share transaction"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/11/mwape-doesnt-get-the-credit-he-deserves-ellis/
      title: "Mwape doesn’t get the credit he deserves – Ellis"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/over-100000-vaccinated-in-chililabombwe-cholera-campaign/
      title: "Over 100,000 Vaccinated in Chililabombwe Cholera Campaign"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/influx-of-refugees-expected-in-luapula-following-unrest-in-drc/
      title: "Influx of Refugees expected in Luapula following unrest in DRC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/local-authorities-told-to-avoid-procurement-corruption/
      title: "Local authorities told to avoid procurement corruption"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/11/upnd-dissolves-eastern-province-party-structures/
      title: "UPND dissolves E/Province party structures after losing in Petauke"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/11/well-expel-pf-mps-who-campaigned-for-upnd-lubinda/
      title: "We’ll expel PF MPs who campaigned for UPND – Lubinda"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/11/its-not-persecution-when-were-pursuing-proceeds-of-crime-dpp/
      title: "It’s not persecution when we’re pursuing proceeds of crime – DPP"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ecz-advises-reporting-vote-buying-allegations-to-acc/
      title: "ECZ Advises Reporting Vote Buying Allegations to ACC"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/former-wbc-champion-catherine-phiri-hints-at-retirement-with-final-fight/
      title: "Former WBC Champion Catherine Phiri Hints at Retirement with Final Fight"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/national-assembly-resumes/
      title: "National Assembly Resumes"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/11/well-help-zambian-clubs-reach-levels-to-participate-at-club-world-cup-mwenya/
      title: "We’ll help Zambian clubs reach levels to participate at Club World Cup – Mwenya"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/world-bank-commends-zambias-reforms-and-investments/
      title: "World Bank Commends Zambia’s Reforms and Investments"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/11/zamstats-misappropriated-k10m-on-allowances-ag/
      title: "ZamStats misapplied K10m on allowances – AG"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/11/we-appreciate-zccbs-campaign-for-debt-cancellation-but-creditors-will-decide-musokotwane/
      title: "We appreciate ZCCB’s campaign for debt cancellation, but creditors will decide – Musokotwane"
    - source: Mwebantu
      url: https://www.mwebantu.com/jailed-bulldozer-fires-lawyers-says-he-is-innocent/
      title: "Jailed Bulldozer ‘fires’ lawyers, says he is innocent."
---