---
title: "Friday, February 21st, 2025"
description: "This episode of the Zed News Podcast covers a range of news stories from Zambia and beyond, including economic developments, sports updates, and community initiatives. Topics include Africa's push for its own credit rating agency, support for local athletes, and the introduction of the Video Assistant Referee system in the Zambia Premier League, among others."
tags: episode
episode: "421"
date: 2025-02-21T14:09:52.812684+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-02-21_podcast_dist.mp3
    length: 6 minutes, 27 seconds
    size: 5.94 MB
rss:
    enclosure_length: 6225350
    itunes_duration: 06:27
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 31 seconds
words:
    count: 894
    rate: 139 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/21/trade-kings-flies-zambian-flag-high-at-dubai-exhibition/
      title: "Trade kings flies Zambian flag high at Dubai exhibition"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/02/21/media-is-the-watchdog-defending-govt-is-hon-mweetwas-job/
      title: "Media is the watchdog, defending govt is Hon. Mweetwa’s job"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/21/zpl-embraces-introduction-of-var/
      title: "ZPL embraces  introduction of VAR"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambia-army-employs-u20-womens-national-team-player-lydia-shamalima/
      title: "Zambia Army Employs U20 Women’s National Team Player Lydia Shamalima"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-considering-support-to-radio-stations-with-wildlife-content/
      title: "Govt Considering Support to Radio Stations with Wildlife Content"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-expects-lifesaving-medicines-exempted-from-usaid-freeze/
      title: "Govt Expects Lifesaving Medicines Exempted from USAID Freeze"
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/02/21/icra-backs-hhs-call-for-africa-to-have-credit-rating-agency/?utm_source=rss&utm_medium=rss&utm_campaign=icra-backs-hhs-call-for-africa-to-have-credit-rating-agency
      title: "ICRA backs HH’s call for Africa to have credit rating agency"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/21/heritage-homes-gifts-womens-national-athletics-team-k400000/
      title: "Heritage Homes gifts Women’s National Athletics Team K400,000"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/21/chilanga-man-gets-9-months-for-stealing-items-worth-k30000-from-fathers-farm/
      title: "Chilanga man gets 9 months for stealing items worth K30,000 from father’s farm"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/02/21/faz-urges-fans-to-behave-well-during-the-zambia-malawi-games/
      title: "FAZ urges fans to behave well during the Zambia-Malawi games"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/21/lusambo-opposes-forfeiture-of-his-properties/
      title: "Lusambo opposes forfeiture of his properties"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-makes-strides-in-addressing-non-communicable-diseases/
      title: "Govt Makes Strides in Addressing Non-Communicable Diseases"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/znbc-commemorates-world-mother-language-day-promotes-linguistic-diversity/
      title: "ZNBC Commemorates World Mother Language Day, Promotes Linguistic Diversity"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/21/cbu-explains-delay-in-offering-some-courses-at-mpika-campus/
      title: "CBU explains delay in offering some courses at Mpika campus"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/21/private-sector-led-economic-growth-key-to-addressing-poverty-wb/
      title: "Private sector led economic growth key to addressing poverty – WB"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/copper-queens-coach-nora-hauptle-aims-for-winning-start-against-malawi/
      title: "Copper Queens Coach Nora Hauptle Aims for Winning Start Against Malawi"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/govt-has-made-reducing-the-high-cost-of-living-a-top-priority-nalumango/
      title: "Govt has made reducing the high cost of living a top priority-Nalumango"
---
