---
title: "Thursday, June 12th, 2025"
description: "This special 500th and final episode of the Zed News Podcast reflects on recent political discourse, including calls for Edgar Lungu\u0027s retirement, and highlights economic developments like the appointment of a new ZCCM-IH Board Chairperson and advancements in renewable energy, while also addressing concerns surrounding Bill 7 and calls for unity amidst political tensions and grief. The episode concludes with gratitude to listeners and a look ahead to a new daily news digest format."
tags: episode
episode: "500"
date: 2025-06-12T16:14:13.402576+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-06-12_podcast_dist.mp3
    length: 8 minutes, 5 seconds
    size: 7.44 MB
rss:
    enclosure_length: 7803979
    itunes_duration: 08:05
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 8 minutes, 55 seconds
words:
    count: 1,126
    rate: 139 words per minute
references:
    count: 16
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/12/kabwata-police-detains-murder-suspect/
      title: "\"Kabwata police detains murder suspect\""
    - source: News Diggers!
      url: https://diggers.news/business/2025/06/12/private-companies-will-construct-hydro-power-stations-in-mpika-chikote/
      title: "\"Private companies will construct hydro-power stations in Mpika \u2013 Chikote\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/12/southern-province-police-call-for-orderly-mourning-of-lungu/
      title: "\"Southern Province Police call for orderly mourning of Lungu\""
    - source: Mwebantu
      url: https://www.mwebantu.com/zingalume-youth-guilty-of-trying-to-rape-mum/
      title: "\"Zingalume youth guilty of trying to rape mum\""
    - source: Mwebantu
      url: https://www.mwebantu.com/two-mpongwe-men-jailed-for-assaulting-chief-ndubeni-at-a-bar-on-christmas-day/
      title: "\"Two Mpongwe men jailed for assaulting Chief Ndubeni at a bar on Christmas Day\""
    - source: Mwebantu
      url: https://www.mwebantu.com/inonge-wina-begs-for-peace-urges-politicians-against-being-excited/
      title: "\"Inonge Wina begs for peace, urges politicians against being \u2018excited\u2019\""
    - source: Mwebantu
      url: https://www.mwebantu.com/it-was-a-good-tournament-chambeshi-picks-positives-from-cosafa-disaster/
      title: "\"\u2018It was a good tournament,\u2019 Chambeshi picks positives from COSAFA disaster\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/12/our-call-for-ecl-to-retire-doesnt-mean-we-hated-him-mungandu/
      title: "\"Our call for ECL to retire doesn\u2019t mean we hated him \u2013 Mung\u2019andu\""
    - source: News Diggers!
      url: https://diggers.news/business/2025/06/12/idc-appoints-musonda-as-zccm-ih-board-chairperson/
      title: "\"IDC appoints Musonda as ZCCM-IH Board Chairperson\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/12/govt-should-halt-bill-7-consultations-actionaid/
      title: "\"Govt should halt Bill 7 consultations \u2013 ActionAid\""
    - source: Mwebantu
      url: https://www.mwebantu.com/chinese-nabbed-for-possession-of-over-100-tortoise/
      title: "\"Chinese nabbed for possession of over 100 tortoise\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/12/gonzales-mourns-lungu/
      title: "\"Gonzales mourns Lungu\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/12/aligning-epa-with-cyber-laws-will-undermine-transparency-during-elections-fodep/
      title: "\"Aligning EPA with cyber laws will undermine transparency during elections \u2013 FODEP\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/12/dont-react-to-pf-lungus-family-theyre-devastated-inonge-urges-upnd/
      title: "\"Don\u2019t react to PF, Lungu\u2019s family, they\u2019re devastated, Inonge urges UPND\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/12/serenje-mp-explains-riot/
      title: "\"Serenje MP explains riot\""
    - source: Mwebantu
      url: https://www.mwebantu.com/president-hakainde-hichilema-not-welcome-near-body-of-late-former-president-says-family/
      title: "\"President Hakainde Hichilema not welcome near body of late former President, says family.\""
---