---
title: "Friday, January 3rd, 2025"
description: "This episode of the Zed News Podcast covers the latest developments in Zambian politics, including opposition parties' discussions on fielding a single candidate in the Petauke by-election and criticism of the Education Minister's inflammatory comments. The episode also touches on economic news, community developments, and sports updates, including investments, GDP growth, and achievements of Zambian athletes."
tags: episode
episode: "387"
date: 2025-01-03T14:50:30.827220+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-01-03_podcast_dist.mp3
    length: 4 minutes, 52 seconds
    size: 4.50 MB
rss:
    enclosure_length: 4713589
    itunes_duration: 04:52
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 10 seconds
words:
    count: 666
    rate: 137 words per minute
references:
    count: 21
    sources: 4
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/03/haz-sets-k7-5m-budget-for-2025-activities/
      title: "HAZ sets K7.5m budget for 2025 activities"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/01/03/high-court-grants-kabuswe-leave-to-sue-miles/
      title: "High Court grants Kabuswe leave to sue Miles"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/03/copper-queens-tip-chiawa-girls-to-stay-away-from-early-marriages/
      title: "Copper Queens tip Chiawa girls to stay away from early marriages"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135765
      title: "EAZ hails ZRA’s K130bn revenue"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135763
      title: "Govt setting up 460 ECE centres"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135759
      title: "Wada unveils CHAN squad"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/boy-of-eight-survives-five-days-in-lion-inhabited-game-park/
      title: "Boy of eight survives five days in lion-inhabited game park"
    - source: Mwebantu
      url: https://www.mwebantu.com/gardener-jailed-two-years-for-beating-boss-over-salary-arrears/
      title: "Gardener jailed two years for beating boss over salary arrears."
    - source: Mwebantu
      url: https://www.mwebantu.com/lusambo-asks-court-to-release-him-from-prison/
      title: "Lusambo asks court to release him from prison"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=135767
      title: "Comply with electrical products standards – ZCSA"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/03/opposition-discussing-possibility-of-fielding-one-candidate-in-petauke-pf/
      title: "Opposition discussing possibility of fielding one candidate in Petauke – PF"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/union-files-17-cases-with-faz-committee/
      title: "Union files 17 cases with FAZ Committee"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zambias-gdp-to-grow-rapidly-in-2025/
      title: "Zambia’s GDP to Grow Rapidly in 2025"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/03/kangwa-strikes-as-beer-sheva-maintains-top-spot-in-israeli-pl/
      title: "Kangwa strikes as Be’er Sheva maintains top spot in Israeli PL"
    - source: News Diggers!
      url: https://diggers.news/business/2025/01/03/lobito-corridor-will-triple-zambias-gdp-zda-boss/
      title: "Lobito Corridor will triple Zambia’s GDP – ZDA boss"
    - source: Mwebantu
      url: https://www.mwebantu.com/driver-in-dandy-krazy-accident-charged/
      title: "Driver in Dandy Krazy accident charged"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-commends-carters-global-democracy-efforts/
      title: "HH commends CARTER’s Global Democracy Efforts"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/03/refusal-to-declare-assets-means-hh-is-corrupt-sp/
      title: "Refusal to declare assets means HH is corrupt – SP"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/03/claiming-that-upnd-has-done-better-than-kaunda-is-an-insult-kalaba/
      title: "Claiming that UPND has done better than Kaunda is an insult – Kalaba"
    - source: News Diggers!
      url: https://diggers.news/business/2025/01/03/attracting-9bn-investment-a-sign-that-people-can-do-business-in-zambia-musokotwane/
      title: "Attracting $9bn investment a sign that people can do business in Zambia – Musokotwane"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/dec-nabs-lesa-na-satana-cartel-members/
      title: "DEC Nabs ‘Lesa na Satana’ Cartel Members"
---
