---
title: "Wednesday, April 9th, 2025"
description: "Security has been tightened in Mtilizi ahead of by-elections, while the Electoral Commission of Zambia has deployed polling staff to all nine polling stations. Meanwhile, a security guard at a private school in Sinazongwe has been arrested for allegedly sodomizing two boarding school boys. In other news, the US Embassy has urged the Zambian government to increase funding for the Anti-Corruption Commission and other accountability institutions."
tags: episode
episode: "454"
date: 2025-04-09T14:20:30.600416+01:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-04-09_podcast_dist.mp3
    length: 13 minutes, 5 seconds
    size: 12.01 MB
rss:
    enclosure_length: 12593343
    itunes_duration: 13:05
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/e-paper/2025/04/09/news-diggers-epaper-edition-1969-wednesday-april-9-2025/
      title: "News Diggers! ePaper Edition 1969 Wednesday April 9, 2025"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/09/weve-achieved-80-nationwide-distribution-of-health-centre-kits-zammsa/
      title: "We\u2019ve achieved 80% nationwide distribution of Health Centre Kits \u2013 ZAMMSA"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/04/09/sex-is-man-and-woman-state-tells-court/
      title: "Sex is man and woman, state tells court"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/09/us-embassy-urges-increased-funding-for-acc-fic/
      title: "US Embassy urges increased funding for ACC, FIC"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/09/lungu-is-doing-well-after-chemotherapy-kawana/
      title: "Lungu is doing well after chemotherapy \u2013 Kawana"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/09/nevers-mumba-not-a-factor-he-has-never-won-any-election-kafwaya/
      title: "Nevers Mumba not a factor, he has never won any election \u2013 Kafwaya"
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/09/communities-near-tourism-spots-should-not-wallow-in-poverty-ps/
      title: "Communities near tourism spots should not wallow in poverty \u2013 PS"
    - source: Mwebantu
      url: https://www.mwebantu.com/an-impact-story-of-yango-in-zambia-a-superapp-that-does-it-all/
      title: "An Impact Story of Yango in Zambia: A SuperApp That Does It All"
    - source: Mwebantu
      url: https://www.mwebantu.com/kamasutra-styles-in-court/
      title: "Kamasutra styles \u2018in court\u2019."
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/04/09/lungu-must-not-make-hay-out-of-the-dead-part-1/
      title: "Lungu must not make hay out of the dead: Part 1"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/04/09/i-dont-know-the-meaning-of-metaphor-says-prof-mumba-as-mutembo-grills-him/
      title: "I don\u2019t know the meaning of metaphor, says Prof Mumba as Mutembo grills him"
    - source: News Diggers!
      url: https://diggers.news/business/2025/04/09/nothing-will-stand-in-the-way-of-open-access-govt/
      title: "Nothing will stand in the way of Open Access \u2013 Govt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/muchima-advocates-for-healthy-lifestyles/
      title: "Muchima advocates for Healthy Lifestyles"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/u17-challenged-to-work-on-tactical-errors/
      title: "U17 challenged to work on tactical errors"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/security-tightened-in-mtilizi/
      title: "Security tightened in Mtilizi"
    - source: Mwebantu
      url: https://www.mwebantu.com/two-more-judgements-await-jailed-munir-zulu/
      title: "Two more judgements await jailed Munir Zulu."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/security-guard-sodomizes-2-boarding-school-boys/
      title: "Security Guard Sodomizes 2 Boarding School Boys"
---
