---
title: "Tuesday, March 4th, 2025"
description: "Today's episode covers a range of topics, including political news, environmental issues, and sports updates. From Given Lubinda's claims about the 2026 general elections to developments in the mining sector, and from environmental concerns to a 6-Nation football tournament, this episode has it all."
tags: episode
episode: "428"
date: 2025-03-04T14:09:05.906059+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-03-04_podcast_dist.mp3
    length: 4 minutes, 31 seconds
    size: 4.17 MB
rss:
    enclosure_length: 4375877
    itunes_duration: 04:31
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 45 seconds
words:
    count: 662
    rate: 147 words per minute
references:
    count: 16
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/04/hh-will-still-leave-power-with-a-chair-glued-to-his-buttocks-pf/
      title: "HH will still leave power with a chair glued to his buttocks – PF"
    - source: Mwebantu
      url: https://www.mwebantu.com/yango-launches-free-insurance-for-partner-drivers-couriers-and-customers-in-zambia/
      title: "Yango launches free insurance for partner drivers, couriers and customers in Zambia"
    - source: News Diggers!
      url: https://diggers.news/business/2025/03/04/test-runs-at-mulungushi-textiles-will-commence-on-march-22-govt/
      title: "Test runs at Mulungushi Textiles will commence on March 22 – Govt"
    - source: Mwebantu
      url: https://www.mwebantu.com/judge-sets-judgement-for-maid-murder-case/
      title: "Judge sets judgement for maid murder case"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/trump-pauses-us-military-aid-to-ukraine/
      title: "Trump pauses US military aid to Ukraine"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/04/opposition-cant-expect-to-win-in-2026-with-current-voters-register-lubinda/
      title: "Opposition can’t expect to win in 2026 with current voter’s register – Lubinda"
    - source: News Diggers!
      url: https://diggers.news/business/2025/03/04/maz-urges-people-to-offload-maize-on-market-predicts-good-harvest/
      title: "MAZ urges people to offload maize on market, predicts good harvest"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/04/zambia-will-host-6-nations-tourney-in-may-kamanga/
      title: "Zambia will host 6-Nations tourney in May – Kamanga"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/04/father-defiles-12-year-old-daughter/
      title: "Father defiles 12-year-old daughter"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/another-copperbelt-mine-closed-over-pollution/
      title: "Another Copperbelt mine closed over pollution"
    - source: News Diggers!
      url: https://diggers.news/business/2025/03/04/15-duty-on-gemstones-wouldve-promoted-smuggling-esmaz/
      title: "15% duty on gemstones would’ve promoted smuggling – ESMAZ"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/03/04/is-this-the-dawn-of-state-capture/
      title: "Is this the dawn of State Capture?"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/zaf-intensifies-efforts-to-treat-kafue-river-contamination/
      title: "ZAF intensifies efforts to treat Kafue River contamination"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/03/04/miles-asks-court-to-subpoena-kabuswe-in-case-challenging-mopani-deal/
      title: "Miles asks court to subpoena Kabuswe in case challenging Mopani deal"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/03/04/i-found-the-kasupe-couples-bodies-decomposed-90m-from-their-house-officer-tells-court/
      title: "I found Kasupe couple’s bodies decomposed 90m from their house, officer tells court"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/sino-metals-faces-court-action-over-environmental-pollution/
      title: "Sino Metals faces court action over environmental pollution"
---