---
title: "Thursday, April 3rd, 2025"
description: "Riots erupted in Chingola, Zambia, after illegal miners clashed with the Zambia National Service, resulting in looting and 62 arrests. In other news, a police officer and three others are facing charges of aggravated robbery, accused of stealing over $250,000 and K200,000 from a victim. Meanwhile, President Hakainde Hichilema has appealed to foreign envoys to establish their official residences in Zambia, emphasizing the importance of deepening diplomatic engagement and strengthening bilateral relations."
tags: episode
episode: "450"
date: 2025-04-03T19:18:47.917870+01:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-04-03_podcast_dist.mp3
    length: 9 minutes, 38 seconds
    size: 8.86 MB
rss:
    enclosure_length: 9288538
    itunes_duration: 09:38
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 4
    sources: 1
articles:
    - source: Mwebantu
      url: https://www.mwebantu.com/police-officer-in-court-over-u250000-aggravated-robbery/
      title: "Police officer in court over U250,000 aggravated robbery."
    - source: Mwebantu
      url: https://www.mwebantu.com/riots-erupt-in-kitwe-after-illegal-miners-clash-with-zns/
      title: "Riots erupt in Chingola after illegal miners clash with ZNS."
    - source: Mwebantu
      url: https://www.mwebantu.com/late-ngandu-magandes-daughter-sues-over-dads-estate/
      title: "Late Ng\u2019andu Magande\u2019s daughter sues over dad\u2019s estate."
    - source: Mwebantu
      url: https://www.mwebantu.com/set-up-your-base-in-zambia-hh-appeals-to-envoys/
      title: "\u2018Set up your base in Zambia,\u2019 HH appeals to envoys"
---
