---
title: "Friday, May 2nd, 2025"
description: "This episode covers the horrifying death of a man allegedly buried alive in Kasempa following witchcraft accusations. President Hichilema also addresses the nation\u0027s concerns about the high cost of living, despite recent fuel price reductions."
tags: episode
episode: "471"
date: 2025-05-02T23:10:03.494575-12:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-05-02_podcast_dist.mp3
    length: 21 minutes, 36 seconds
    size: 19.82 MB
rss:
    enclosure_length: 20778650
    itunes_duration: 21:36
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 25
    sources: 4
articles:
    - source: Zambia Daily Mail
      url: https://www.daily-mail.co.zm/2025/05/02/pdu-optimistic-about-2030-universal-access-to-health-attainment/?utm_source=rss&utm_medium=rss&utm_campaign=pdu-optimistic-about-2030-universal-access-to-health-attainment
      title: "PDU optimistic about 2030 universal access to health attainment"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/05/02/a-farewell-from-our-icon-as-ms-mukosha-funga-leaves-news-diggers/
      title: "A farewell from our icon, as Ms Mukosha Funga leaves News Diggers"
    - source: News Diggers!
      url: https://diggers.news/business/2025/05/02/market-forces-should-determine-maize-price-maz/
      title: "Market forces should determine maize price \u2013 MAZ"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/02/theres-a-dangerously-thin-line-between-cyber-regulation-and-silencing-people-fr-lungu/
      title: "There\u2019s a dangerously thin line between cyber regulation and silencing people \u2013 Fr Lungu"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/02/electoral-committee-report-may-be-shared-with-stakeholders-ecz/
      title: "Electoral committee report may be shared with stakeholders \u2013 ECZ"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/05/02/why-colonialism-was-actually-good-for-africa-part-4/
      title: "Why colonialism was actually \u2018good\u2019 for Africa \u2013 Part 4"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/02/well-win-lumezi-unified-opposition-doesnt-shake-us-upnd/
      title: "We\u2019ll win Lumezi, unified opposition doesn\u2019t shake us \u2013 UPND"
    - source: Mwebantu
      url: https://www.mwebantu.com/chomba-jailed-30-years-for-raping-sodomizing-83-year-old-woman/
      title: "Chomba jailed 30 years for raping, sodomizing 83-year-old woman"
    - source: News Diggers!
      url: https://diggers.news/business/2025/05/02/fares-may-not-reduce-despite-fuel-price-cut-bus-drivers/
      title: "Fares may not reduce despite fuel price cut \u2013 Bus drivers"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/02/being-called-bootlickers-is-not-new-zctu/
      title: "Being called bootlickers is not new \u2013 ZCTU"
    - source: Mwebantu
      url: https://www.mwebantu.com/i-have-never-seen-my-dad-says-yo-maps/
      title: "\u201cI have never seen my dad,\u201d says Yo Maps."
    - source: Mwebantu
      url: https://www.mwebantu.com/vendor-dies-after-signpost-falls-on-her-police-say/
      title: "Vendor dies after signpost falls on her, police say"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136229
      title: "China urges media collaboration to foster global development"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136226
      title: "\u2018Health, education at centre of Govt development agenda\u2019"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136224
      title: "Opposition against proposed dialogue told to rethink"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136221
      title: "Zesco to continue power rationing despite increase in water levels"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136218
      title: "$500,000 wire manufacturing plant commissioned!"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136216
      title: "US, UK runners in for Kansanshi Marathon"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136212
      title: "Zambia 15s \u2018roll-up sleeves\u2019 for battle of Zambezi"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136210
      title: "FIFA bans Lumwana Radiants!"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136207
      title: "\u20ac6m Kazungula water project elates Kawana"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136202
      title: "Horrifying act! Man buried alive"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/02/copper-production-increase-must-translate-to-better-lives-mundubile/
      title: "Copper production increase must translate to better lives \u2013 Mundubile"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/02/cost-of-living-worries-us-says-hh-as-he-celebrates-reduction-in-fuel-prices/
      title: "Cost of living worries us, says HH as he celebrates reduction in fuel prices"
    - source: Mwebantu
      url: https://www.mwebantu.com/ecl-will-be-president-again-says-given-lubinda/
      title: "ECL will be president again,\u2019 says Given Lubinda"
---
