---
title: "Friday, May 9th, 2025"
description: "Responding to the U.S. government cutting $50 million in health aid due to widespread medicine theft, Zambia\u0027s Health Minister stated this deep-rooted problem began before the current UPND administration took office. In other key developments, Keith Mweemba was elected as the new Football Association of Zambia president."
tags: episode
episode: "476"
date: 2025-05-09T18:55:33.009597+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-05-09_podcast_dist.mp3
    length: 10 minutes, 59 seconds
    size: 10.09 MB
rss:
    enclosure_length: 10577938
    itunes_duration: 10:59
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 12
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/09/police-identify-17-year-old-as-prime-suspect-in-kamwala-south-teens-death/
      title: "Police identify 17-year-old as prime suspect in Kamwala South teen\u2019s death"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/05/09/dead-aid/
      title: "Dead aid"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/09/candidates-make-final-pitches-as-faz-goes-to-polls/
      title: "Candidates make final pitches as FAZ goes to polls"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/09/kashala-slams-faz-over-fashion-saga/
      title: "Kashala slams FAZ over Fashion saga"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/09/mulwanda-optimistic-as-u20-faces-sa/
      title: "Mulwanda optimistic as U20 faces SA"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/05/09/malole-mp-in-court-over-motor-vehicle-theft/
      title: "Malole MP in court over motor vehicle theft"
    - source: Mwebantu
      url: https://www.mwebantu.com/keith-mweemba-defeats-andrew-kamanga/
      title: "Keith Mweemba defeats Andrew Kamanga"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/09/hh-accords-rodger-chongwe-official-funeral/
      title: "HH accords Rodger Chongwe official funeral"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/05/09/copper-princesses-jet-into-windhoek-for-cosafa-u17-title-defence/
      title: "Copper Princesses jet into Windhoek for COSAFA U17 title defence"
    - source: News Diggers!
      url: https://diggers.news/local/2025/05/09/arrest-of-cleaning-association-president-worries-tiz/
      title: "Arrest of Cleaning Association president worries TIZ"
    - source: Mwebantu
      url: https://www.mwebantu.com/crhe-urges-bold-leadership-transparency-in-wake-of-us-aid-withdrawal-over-health-sector-scandal/
      title: "CRHE urges bold leadership, transparency in wake of US aid withdrawal over health sector scandal."
    - source: Mwebantu
      url: https://www.mwebantu.com/health-minister-says-medicine-theft-started-before-upnd-took-office/
      title: "Health Minister says medicine theft started before UPND took office."
---
