---
title: "Tuesday, March 11th, 2025"
description: 'This episode of the Zed News Podcast covers various news stories from Zambia, including sports updates, constitutional amendment debates, protests, and positive developments in public services, education, and the economy. Other topics include a cybersecurity trial, a chess championship, and a fun fact about "The Fresh Prince of Bel-Air" TV show.'
tags: episode
episode: "433"
date: 2025-03-11T14:10:28.840063+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-03-11_podcast_dist.mp3
    length: 4 minutes, 36 seconds
    size: 4.25 MB
rss:
    enclosure_length: 4455708
    itunes_duration: 04:36
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 5 minutes, 7 seconds
words:
    count: 641
    rate: 139 words per minute
references:
    count: 23
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/03/11/kamanga-tips-u17-girls-to-finish-off-tanzania-at-home/
      title: "Kamanga tips U17 girls to finish off Tanzania at home"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/03/11/changing-constitution-before-elections-is-normally-about-self-preservation-part-1/
      title: "Changing Constitution before elections is normally about self-preservation"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/11/were-ready-to-conduct-delimitation-of-constituencies-before-2026-ecz/
      title: "We’re ready to conduct delimitation of constituencies before 2026 – ECZ"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/11/its-strange-for-hh-to-say-theres-consensus-on-constitution-amendment-linda/
      title: "It’s strange for HH to say there’s consensus on constitution amendment – Linda"
    - source: Mwebantu
      url: https://www.mwebantu.com/state-house-dismisses-tonse-alliances-claims-on-constitutional-amendments/
      title: "State House dismisses Tonse Alliance’s claims on Constitutional Amendments"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/11/matambo-eyeing-my-seat-in-2026-laments-mpongwe-mp/
      title: "Matambo eyeing my seat in 2026, laments Mpongwe MP"
    - source: Mwebantu
      url: https://www.mwebantu.com/kafue-roundabout-thief-admits-stealing-from-moving-car/
      title: "Kafue roundabout thief admits stealing from moving car."
    - source: Mwebantu
      url: https://www.mwebantu.com/magistrate-acquits-ecls-proxy-and-three-others/
      title: "Magistrate acquits ECL’s ‘proxy’ and three others."
    - source: Mwebantu
      url: https://www.mwebantu.com/tonse-alliance-calls-for-nationwide-protests-against-constitutional-amendments/
      title: "Tonse Alliance calls for nationwide protests against Constitutional amendments"
    - source: Mwebantu
      url: https://www.mwebantu.com/investigator-explains-why-the-olios-were-prompted-to-report-cyber-bullying/
      title: "Investigator explains why the ‘Olios’ were prompted to report cyber bullying"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ndola-subordinate-court-launched/
      title: "Ndola Subordinate Court Launched"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/police-told-to-take-interest-in-why-me/
      title: "Police Told to Take Interest in Why Me"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/11/key-questions-need-clarification-on-constitution-amendment-sensio/
      title: "Key questions need clarification on Constitution amendment – Sensio"
    - source: News Diggers!
      url: https://diggers.news/business/2025/03/11/open-access-to-tazama-forces-omcs-to-cut-fuel-prices/
      title: "Open access to TAZAMA forces OMCs to cut fuel prices"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/11/report-corrupt-upnd-officials-to-acc-nkandu/
      title: "Report corrupt UPND officials to ACC – Nkandu"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/29-health-rooms-constructed-in-kasama/
      title: "29 Health Rooms Constructed in Kasama"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/kcm-helsb-award-student-loans-to-64-students/
      title: "KCM, HELSB Award Student Loans to 64 Students"
    - source: News Diggers!
      url: https://diggers.news/local/2025/03/11/speaker-katotobwe-top-assets-declarations/
      title: "Speaker, Katotobwe top assets declarations"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/ppp-model-of-infrastructure-development-is-meant-to-open-up-zambia/
      title: "“PPP-Model of Infrastructure Development is Meant to Open up Zambia”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/mwali-mulwale-defend-national-chess-titles/
      title: "Mwali, Mulwale Defend National Chess Titles"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/03/11/court-to-rule-on-whether-musyani-has-case-to-answer-against-kidist-on-march-21/
      title: "Court to rule on whether Musyani has case to answer against Kidist on March 21"
    - source: Mwebantu
      url: https://www.mwebantu.com/harry-kalaba-blasts-government-for-failing-to-recruit-left-out-teachers/
      title: "Harry Kalaba blasts government for failing to recruit left-out teachers."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-has-no-intention-to-amend-50-plus-one-clause-hamasaka/
      title: "HH Has No Intention to Amend 50% Plus One Clause-Hamasaka"
---
