---
title: "Friday, April 25th, 2025"
description: "Today\u0027s episode focuses on Zambian news, including FAZ presidential aspirant Keith Mweemba\u0027s accusations of a clandestine plan to aid incumbent president Andrew Kamanga in the upcoming elective AGM. Additionally, Dr. Ron Mwambwa has told the Constitutional Court that he was appointed to act as Auditor General, while Chief Justice Dr. Mumba Malila has urged Magistrates to avoid corruption. Other topics include the Zambia U-20 national team\u0027s preparations for the TotalEnergies U-20 Africa Cup of Nations, and the country\u0027s maintained annual inflation rate of 16.5%."
tags: episode
episode: "466"
date: 2025-04-25T13:25:36.231293+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-04-25_podcast_dist.mp3
    length: 10 minutes, 30 seconds
    size: 9.65 MB
rss:
    enclosure_length: 10116515
    itunes_duration: 10:30
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 10
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/04/25/cf-left-uka-because-weve-failed-saboi/
      title: "CF left UKA because we\u2019ve failed \u2013 Saboi"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/04/25/i-was-appointed-to-act-as-auditor-general-dr-mwambwa-tells-court/
      title: "I was appointed to act as Auditor General, Dr Mwambwa tells court"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/04/25/avoid-being-corrupt-dr-malila-urges-magistrates/
      title: "Avoid being corrupt, Dr Malila urges Magistrates"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/25/foreign-based-u20-stars-bubble-with-confidence/
      title: "Foreign based U20 stars bubble with confidence"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/25/play-time-helping-me-gel-with-other-copper-princesses-jessica/
      title: "Play time helping me gel with other Copper Princesses \u2013 Jessica"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/04/25/reuben-msimuko-working-to-give-kamanga-undue-advantage-in-faz-elections-keith/
      title: "Reuben, Msimuko working to give Kamanga undue advantage in FAZ elections \u2013 Keith"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/04/25/nakacinda-fails-to-take-fresh-plea-in-sedition-case/
      title: "Nakacinda fails to take fresh plea in sedition case"
    - source: News Diggers!
      url: https://diggers.news/business/2025/04/25/inflation-steadies-at-16-5/
      title: "Inflation steadies at 16.5%"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/04/25/why-colonialism-was-actually-good-for-africa-part-2/
      title: "Why colonialism was actually \u2018good\u2019 for Africa \u2013 Part 2"
    - source: Times of Zambia
      url: https://www.times.co.zm/?p=136126
      title: "\u2018UKA, Tonse failed projects\u2019"
---