---
title: "Thursday, January 2nd, 2025"
description: "In this episode of the Zed News Podcast, we cover the Zambian government's stance against street vendors in Lusaka's Central Business District, former MP Bowman Lusambo's bail application, and the impact of the Zambian Kwacha's depreciation on the economy. We also discuss local arts and education initiatives, as well as updates in sports and a tragic loss in the music community."
tags: episode
episode: "386"
date: 2025-01-02T14:49:22.016663+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-01-02_podcast_dist.mp3
    length: 4 minutes, 49 seconds
    size: 4.44 MB
rss:
    enclosure_length: 4656749
    itunes_duration: 04:49
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 4 minutes, 2 seconds
words:
    count: 672
    rate: 140 words per minute
references:
    count: 17
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/02/this-year-we-must-surpass-previous-sporting-achievements-nkandu/
      title: "This year we must surpass previous sporting achievements – Nkandu"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/01/02/lusambo-renews-bail-application-in-the-high-court/
      title: "Lusambo renews bail application in the High Court"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/02/helsb-awards-521-additional-loans-to-university-students/
      title: "HELSB awards 521 additional loans to university students"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/02/govt-awards-k500000-grant-to-10-artistes/
      title: "Govt awards K500,000 grant to 10 artistes"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-mourns-dandy-krazy/
      title: "HH mourns DANDY KRAZY"
    - source: Mwebantu
      url: https://www.mwebantu.com/dandy-crazy-dies/
      title: "Dandy Crazy dies."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/dandy-krazy-dies/
      title: "DANDY KRAZY dies"
    - source: Mwebantu
      url: https://www.mwebantu.com/drunk-officer-arrested-for-freeing-suspects-to-cross-over-into-the-new-year/
      title: "Drunk officer arrested for freeing suspects to cross over into the New Year."
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/02/kwacha-has-depreciated-due-to-demand-of-foreign-currency-towards-festive-season-chizonde/
      title: "Kwacha has depreciated due to demand of foreign currency towards festive season – Chizonde"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/02/zambia-capable-of-winning-chan-makembo/
      title: "Zambia capable of winning CHAN – Makembo"
    - source: News Diggers!
      url: https://diggers.news/opinion/2025/01/02/are-all-mines-in-zambia-at-liberty-to-stop-mining-when-selling-prices-drop/
      title: "Are all mines in Zambia at liberty to stop mining when selling prices drop?"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/02/miles-tips-young-footballers/
      title: "Miles tips young footballers"
    - source: Mwebantu
      url: https://www.mwebantu.com/woman-gang-raped-in-mobile-money-booth-police-say/
      title: "Woman gang raped in mobile money booth, police say"
    - source: Mwebantu
      url: https://www.mwebantu.com/accident-victims-escape-hospital-after-minor-injuries/
      title: "Accident victims escape hospital after minor injuries."
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/02/with-cholera-situation-in-nakonde-well-use-force-to-remove-street-vendors-in-lusaka-phiri/
      title: "With cholera situation in Nakonde, we’ll use force to remove street vendors in Lusaka – Phiri"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/02/lungu-urges-sadc-to-intervene-in-mozambiques-post-election-conflict/
      title: "Lungu urges SADC to intervene in Mozambique’s post election conflict"
    - source: Mwebantu
      url: https://www.mwebantu.com/kalaba-slams-education-minister-for-monkey-remarks/
      title: "Kalaba slams Education Minister for ‘monkey’ remarks."
---
