---
title: "Wednesday, June 11th, 2025"
description: "Episode 499 covers Zambia\u0027s pressing healthcare shortages and concerns over governance issues like board chairs becoming CEOs, alongside economic updates and political reflections. The episode also touches on sports disappointments and critical food security challenges facing the nation."
tags: episode
episode: "499"
date: 2025-06-11T16:11:26.490985+02:00
mp3:
    url: https://f003.backblazeb2.com/file/aluminum-zinc/zednews/2025-06-11_podcast_dist.mp3
    length: 7 minutes, 3 seconds
    size: 6.50 MB
rss:
    enclosure_length: 6812999
    itunes_duration: 07:03
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 6 minutes, 7 seconds
words:
    count: 987
    rate: 140 words per minute
references:
    count: 13
    sources: 2
articles:
    - source: News Diggers!
      url: https://diggers.news/courts/2025/06/11/zesco-savenda-enter-consent-order-to-discontinue-k1-3m-performance-bond-dispute/
      title: "\"Zesco, Savenda enter consent order to discontinue K1.3m performance bond dispute\""
    - source: News Diggers!
      url: https://diggers.news/business/2025/06/11/nusfaz-urges-fra-to-enter-soya-bean-market/
      title: "\"NUSFAZ urges FRA to enter soya bean market\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/11/lungus-children-refute-claims-that-police-have-withheld-their-passports/
      title: "\"Lungu\u2019s children refute claims that police have withheld their passports\""
    - source: Mwebantu
      url: https://www.mwebantu.com/upnd-bans-members-from-commenting-on-late-former-president-edgar-lungus-death-without-clearance/
      title: "\"UPND bans members from commenting on late former President Edgar Lungu\u2019s death without clearance.\""
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/06/11/chipolopolo-play-for-pride-against-botswana/
      title: "\"Chipolopolo play for pride against Botswana\""
    - source: Mwebantu
      url: https://www.mwebantu.com/lusaka-man-nabbed-after-after-taking-dead-girlfriend-of-six-days-to-uth-as-bid/
      title: "\"Lusaka man nabbed after after taking dead girlfriend of six days to UTH as BID.\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/11/zma-urges-govt-to-expedite-employment-of-doctors/
      title: "\"ZMA urges govt to expedite employment of doctors\""
    - source: News Diggers!
      url: https://diggers.news/business/2025/06/11/iodz-notes-breach-of-corporate-governance-principles-by-state-owned-enterprises/
      title: "\"Institute of Directors condemns board chairs vying for CEO roles\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/11/lungu-expressed-concern-that-hh-was-repeating-his-mistakes-sa-ambassador/
      title: "\"Wait for Lungu\u2019s remains continues as family remains in SA\""
    - source: Mwebantu
      url: https://www.mwebantu.com/znbc-staffer-found-dead-in-lodge/
      title: "\"ZNBC staffer found dead in lodge.\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/11/mourn-lungu-without-disrespecting-sata-kaseba/
      title: "\"Mourn Lungu without disrespecting Sata \u2013 Kaseba\""
    - source: News Diggers!
      url: https://diggers.news/local/2025/06/11/govt-has-no-funds-to-buy-more-maize-mtolo/
      title: "\"Govt has no funds to buy more maize \u2013 Mtolo\""
    - source: News Diggers!
      url: https://diggers.news/business/2025/06/11/napsa-receives-dividend-of-k40m-from-nhil/
      title: "\"NAPSA receives dividend of K40m from NHIL\""
---