---
title: "Wednesday, May 14th, 2025"
description: "Today\u0027s episode highlights a significant \u20ac60 million pledge from the Czech Republic to boost Zambia\u0027s health sector, alongside concerns raised by Zambia\u0027s AfDB candidate regarding potential US funding cuts to the bank. Other major news includes serious allegations of political interference in health procurement made by the former ZAMMSA director against State House and a former minister."
tags: episode
episode: "479"
date: 2025-05-14T14:35:03.936549+01:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-05-14_podcast_dist.mp3
    length: 11 minutes, 42 seconds
    size: 10.75 MB
rss:
    enclosure_length: 11267993
    itunes_duration: 11:42
presenter: John Smith and Jane Doe
locale:
    id: en-US
    name: English (United States)
references:
    count: 0
    sources: 0
articles:
---