---
title: "Monday, February 24th, 2025"
description: "In this episode of the Zed News Podcast, we cover the reinstatement of the export duty on precious metals in Zambia's mining sector, efforts to reduce borrowing costs, and environmental concerns including pollution in the Kafue River. We also touch on legal news, a tragic case of incest, and lighter stories including a new baseball initiative and airport projects."
tags: episode
episode: "422"
date: 2025-02-24T14:08:54.828537+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-02-24_podcast_dist.mp3
    length: 4 minutes, 54 seconds
    size: 4.52 MB
rss:
    enclosure_length: 4744102
    itunes_duration: 04:54
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 36 seconds
words:
    count: 711
    rate: 145 words per minute
references:
    count: 19
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/24/chabinga-a-charlatan-he-can-sell-his-birthright-pf/
      title: "Chabinga a charlatan, he can sell his birthright – PF"
    - source: Mwebantu
      url: https://www.mwebantu.com/investing-with-confidence-fostering-equitable-partnerships-the-zambia-international-mining-and-energy-conference-returns-for-its-12th-edition-from-19-to-20-march-2025/
      title: "Investing with Confidence & Fostering Equitable Partnerships: The Zambia International Mining and Energy Conference Returns for its 12th Edition from 19 to 20 March 2025"
    - source: Mwebantu
      url: https://www.mwebantu.com/nine-year-old-girl-who-was-repeatedly-defiled-by-own-father-gets-justice/
      title: "Nine-year-old girl who was repeatedly defiled by own father gets justice."
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/24/victoria-falls-power-station-generating-maximum-power-station-manager/
      title: "Victoria Falls Power Station generating maximum power – Station Manager"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/24/dont-eat-fish-from-kafue-river-other-polluted-streams-warns-govt/
      title: "Don’t eat fish from Kafue River, other polluted streams, warns govt"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hailstorm-damages-over-20-hectares-of-crops-in-kasama-district/
      title: "Hailstorm Damages Over 20 Hectares of Crops in Kasama District"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-tours-cairos-new-administrative-capital/
      title: "“Zambia can draw valuable lessons from Egypt’s high-tech advancements”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/popes-night-in-hospital-went-well-vatican-says/
      title: "Pope’s night in hospital went well, Vatican says"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/baseball-5-initiative-kicks-off-in-chongwe-district/
      title: "Baseball-5 Initiative Kicks Off in Chongwe District"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/24/musokotwane-outlines-govts-plan-to-reduce-cost-of-borrowing-from-commercial-banks/
      title: "Musokotwane outlines govt’s plan to reduce cost of borrowing from commercial banks"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/24/copper-price-collapse-a-major-driver-for-2020-external-debt-default-wb/
      title: "Copper price collapse a major driver for 2020 external debt default – WB"
    - source: News Diggers!
      url: https://diggers.news/local/2025/02/24/ill-still-support-hh-to-secure-victory-in-2026-elections-akafumba/
      title: "I’ll still support HH to secure victory in 2026 elections – Akafumba"
    - source: News Diggers!
      url: https://diggers.news/business/2025/02/24/if-we-dont-contain-inflation-well-be-forced-to-introduce-notes-higher-than-k500-haabazoka/
      title: "If we don’t contain inflation, we’ll be forced to introduce notes higher than K500 – Haabazoka"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/morocco-to-collaborate-with-zambia-on-electric-vehicle-battery-production/
      title: "Morocco to Collaborate with Zambia on Electric Vehicle Battery Production"
    - source: News Diggers!
      url: https://diggers.news/guest-diggers/2025/02/24/what-went-wrong-with-the-export-duty-on-precious-metals/
      title: "What went wrong with the export duty on precious metals?"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/24/farmer-sues-state-over-seized-peacocks-ostriches/
      title: "Farmer sues state over seized peacocks, ostriches"
    - source: News Diggers!
      url: https://diggers.news/courts/2025/02/24/2-maids-get-18-months-for-stealing-items-worth-over-k250000-from-employer/
      title: "2 maids get 18 months for stealing items worth over K250,000 from employer"
    - source: Mwebantu
      url: https://www.mwebantu.com/zesco-disconnect-power-in-flood-affected-areas/
      title: "ZESCO disconnect power in flood affected areas."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/government-commits-over-4-8-billion-kwacha-to-airport-projects/
      title: "Government Commits Over 4.8 Billion Kwacha to Airport Projects"
---