---
title: "Thursday, January 23rd, 2025"
description: "This episode of the Zed News Podcast covers the latest news from Zambia, including developments in sports governance, political warnings, and government commitments to fighting corruption and addressing regional instability. The episode also touches on environmental issues, health concerns, business news, infrastructure developments, and sports updates."
tags: episode
episode: "401"
date: 2025-01-23T20:49:06.399690+02:00
mp3:
    url: https://aluminum-zinc.s3.af-south-1.amazonaws.com/zednews/2025-01-23_podcast_dist.mp3
    length: 5 minutes, 6 seconds
    size: 4.70 MB
rss:
    enclosure_length: 4927169
    itunes_duration: 05:06
presenter: Ayanda
locale:
    id: en-ZA
    name: English (South Africa)
production_time: 3 minutes, 48 seconds
words:
    count: 697
    rate: 137 words per minute
references:
    count: 21
    sources: 3
articles:
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/23/voting-for-upnd-in-petauke-will-kill-jay-jay-lungu-nakacinda/
      title: "Voting for UPND in Petauke will kill Jay Jay, Lungu – Nakacinda"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/23/i-want-to-be-faz-president-kashala/
      title: "I want to be FAZ president – Kashala"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/23/we-have-4-mpox-cases-at-uth-muchima/
      title: "We have 4 Mpox cases at UTH – Muchima"
    - source: Mwebantu
      url: https://www.mwebantu.com/john-general-whatsapp-told-raped-woman-who-asked-for-baby-bwela-tupange/
      title: "John General WhatsApp told ‘raped’ woman who asked for baby, “Bwela Tupange”"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/hh-fires-deputy-police-chief-milner-muyambango/
      title: "HH fires Deputy Police Chief MILNER MUYAMBANGO"
    - source: Mwebantu
      url: https://www.mwebantu.com/the-love-for-soft-life-lands-youth-in-jail/
      title: "The love for ‘soft life’ lands youth in jail."
    - source: Mwebantu
      url: https://www.mwebantu.com/mps-defend-seditious-practice-charged-munir-zulu-in-court/
      title: "MPs defend seditious practice charged Munir Zulu in court."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/president-hichilema-commits-to-zero-tolerance-to-corruption/
      title: "President HICHILEMA commits to zero tolerance to corruption"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/100mw-chisamba-solar-project-nearing-completion/
      title: "100MW Chisamba Solar Project Nearing Completion"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/copper-production-soars/
      title: "Copper production soars"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/23/chipolopolo-will-survive-group-of-death-at-chan-micho/
      title: "Chipolopolo will survive group of death at CHAN – Micho"
    - source: News Diggers!
      url: https://diggers.news/local/2025/01/23/weve-received-18-more-cdf-ambulances-phiri/
      title: "We’ve received 18 more CDF ambulances – Phiri"
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/un-visit-to-highlight-zambias-democratic-progress/
      title: "UN visit to highlight Zambia’s democratic progress"
    - source: News Diggers!
      url: https://diggers.news/goal-diggers/2025/01/23/chelsea-poised-to-smash-kundananjis-transfer-record/
      title: "Chelsea to smash Kundananji’s transfer record"
    - source: Mwebantu
      url: https://www.mwebantu.com/copperbelt-province-minister-elisha-matambo-opens-landmark-concrete-traffic-circle-in-mufulira/
      title: "Copperbelt province Minister Elisha Matambo opens landmark concrete traffic circle in Mufulira."
    - source: Zambia National Broadcasting Corporation (ZNBC)
      url: https://znbc.co.zm/news/joel-mondoka-put-to-rest/
      title: "JOEL MONDOKA put to rest"
    - source: News Diggers!
      url: https://diggers.news/business/2025/01/23/copper-production-increased-by-12-in-2024-kabuswe/
      title: "Copper production increased by 12% in 2024 – Kabuswe"
    - source: News Diggers!
      url: https://diggers.news/business/2025/01/23/govt-recovers-k28000-from-choma-d-headteacher-lost-in-aviator-gambling/
      title: "Govt recovers K28,000 from Choma D/headteacher lost in Aviator gambling"
    - source: News Diggers!
      url: https://diggers.news/business/2025/01/23/well-issue-mimbula-minerals-a-demand-notice-after-pollution-assessment-zema/
      title: "We’ll issue Mimbula Minerals a demand notice after pollution assessment – ZEMA"
    - source: Mwebantu
      url: https://www.mwebantu.com/grade-12-pupil-dies-after-falling-while-running-to-attend-class/
      title: "Grade 12 pupil dies after falling while running to attend class."
    - source: Mwebantu
      url: https://www.mwebantu.com/nhima-owes-more-than-k600-million-to-accredited-health-facilities/
      title: "NHIMA owes more than K600 million to accredited health facilities."
---