{% extends "base.njk" %}

{% block header %}
<header class="bg-light py-3">
    <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-start">
            <h1 class="display-5 fw-bolder mb-2">Zed News Podcast</h1>
            <p class="lead fw-normal mb-4">
            Discover the Zed News Podcast – your weekday source for the
            latest happenings in Zambia (and beyond). Stay informed and
            up-to-date with AI-powered updates from various Zambian sources.
            Our podcast runs on autopilot, leveraging technology to curate
            content & summarize each news item, providing you with concise
            and easily digestible updates. Tune in every weekday and stay
            ahead of the news.
            </p>
            <div class="d-flex flex-column align-items-start flex-md-row justify-content-md-between gap-3">
                <button type="button" id="home-play-btn" class="btn btn-outline-danger">
                    <i class="fa-solid fa-circle-play me-2"></i>
                    Listen
                </button>
                <div class="podcast-listen-btn-container"></div>
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#other-ways-to-listen">
                    <i class="fa-solid fa-headphones me-2"></i>
                    Other ways to listen
                </button>
            </div>
        </div>
        </div>
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <img
            class="img-fluid rounded-3 my-5"
            src="/img/podcast-illustration.svg"
            alt="Zed News Podcast"
        />
        </div>
    </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="section bg-success bg-gradient py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-5 justify-content-center">
        <div class="col-lg-10">
            <div class="card mb-5 mb-xl-0">
            <div id="audio-player" class="card-body p-5">
                <div class="small text-uppercase fw-bold">
                <i class="fa-solid fa-star text-warning"></i>
                Latest Episode
                </div>
                <div class="mb-3">
                    {%- set latestEpisode = collections.episode | reverse | first -%}
                    {%- set episodeTitle = latestEpisode.data.title -%}
                    {%- set episodeTitleParts = episodeTitle.split(", ") -%}
                    {%- set episodeDayOfWeek = episodeTitleParts[0] -%}
                    <span class="display-4 fw-bold">{{ episodeDayOfWeek }}</span>
                    <span class="text-muted">{{ episodeTitleParts[1] }}, {{ episodeTitleParts[2] }}</span>
                </div>
                <audio class="podcast-player" controls>
                    <source src="{{ latestEpisode.data.mp3.url }}" type="audio/mp3" />
                    <code>audio</code> tag is not supported in this browser.
                </audio>
                <div class="mt-3">
                    <a href="{{ latestEpisode.url }}">
                        <i class="fa-solid fa-note-sticky text-primary me-2"></i>
                        Episode notes
                    </a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="section py-5">
    <div class="container px-5">
        <div class="row gx-5">
        <div class="col">
            <h2 class="fw-bolder fs-5 mb-4">Recent Episodes</h2>
            {%- set episodes = collections.episode | reverse -%}
            {%- for episode in episodes.slice(1, 5) -%}
            {# Episode #}
            <div class="d-flex mb-4 border-bottom">
                <div class="flex-shrink-0">
                    <img src="/img/zed-news-podcast-icon.svg" alt="Episode {{ episode.data.episode }}" />
                </div>
                <div class="flex-grow-1 ms-3"
                     data-aos="fade-up"
                     data-aos-delay="50"
                     data-aos-duration="1800"
                     data-aos-easing="ease-out-back">
                    <div class="small text-muted">{{ episode.data.title }}</div>
                    <a class="link-dark" href="{{ episode.url }}"
                    >Episode {{ episode.data.episode }}
                    </a>
                    <audio class="podcast-player" controls>
                    <source src="{{ episode.data.mp3.url }}" type="audio/mp3" />
                    <code>audio</code> tag is not supported in this browser.
                    </audio>
                </div>
            </div>
            {%- endfor -%}
            <div class="text-end mb-5 mb-xl-0">
            <a class="text-decoration-none" href="/episodes/">
                View all episodes
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="py-5 section__support" style="background-image: url('/img/support.jpg')" >
    <div class="overlay"></div>
    <div class="text-center my-5">
        <h1 class="text-white fs-3 fw-bolder">Support the project</h1>
        <p class="text-white lead mb-0">
        If you find this useful, consider supporting the developer!
        </p>
        <a class="btn btn-warning btn-lg mt-3" href="https://ko-fi.com/engineervix" target="_blank" rel="noopener noreferrer">
        <i class="fa-solid text-danger fa-heart me-2"></i>
        Show some love
        </a>
    </div>
</section>

{# Modal #}
<div class="modal fade" id="other-ways-to-listen" tabindex="-1" aria-labelledby="otherWaysToListenLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title fs-5" id="otherWaysToListenLabel">Take your pick …</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a
                    class="btn btn-outline-dark px-4"
                    href="https://podcasts.apple.com/us/podcast/zed-news-podcast/id1690709989"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <i class="fa-brands fa-apple me-2"></i>
                    Apple Podcasts
                </a>
                <a
                    class="btn btn-outline-success px-4"
                    href="https://open.spotify.com/show/14vv6liB2y2EWgJGRsNWVa"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <i class="fa-brands fa-spotify me-2"></i>
                    Spotify
                </a>
                <a
                    class="btn btn-outline-danger px-4"
                    href="https://deezer.com/show/6126025"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <i class="fa-brands fa-deezer me-2"></i>
                    Deezer
                </a>
                <a
                    class="btn btn-social-yt px-4"
                    href="https://pca.st/riwx8tbc"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Pocket Casts" role="img" viewBox="0 0 512 512" width="1rem" height="1rem" fill="#000000" class="me-2">
                        <g id="SVGRepo_bgCarrierPocketCast" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrierPocketCast" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrierPocketCast">
                            <rect width="512" height="512" rx="15%" fill="none"></rect>
                            <path fill="#ffffff" d="M256 400a144 144 0 11144-144h48a192 192 0 10-192 192v-48zm0-71a73 73 0 1173-73h42a115 115 0 10-115 115v-42z"></path>
                        </g>
                    </svg>
                    <span class="d-inline-block align-middle">PocketCast</span>
                </a>
                <a
                    class="btn btn-social-email px-4"
                    href="https://overcast.fm/itunes1690709989"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Overcast" role="img" viewBox="0 0 512 512" stroke-linecap="round" stroke-width="23" width="1rem" height="1rem" fill="#000000" class="me-2">
                        <g id="SVGRepo_bgCarrierOverCast" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrierOverCast" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrierOverCast">
                            <rect width="512" height="512" rx="15%" fill="none"></rect>
                            <g fill="none" stroke="#000000">
                            <circle cx="255" cy="255" r="175"></circle>
                            <path d="m160 181.1s-24.2 27.3-24.2 75 24.2 73.9 24.2 73.9"></path>
                            <path d="m352.8 181.1s24.2 27.3 24.2 75-24.2 73.9-24.2 73.9"></path>
                            <path d="m314.2 213s16.3 20.3 15.9 43c-.5 27.3-15.7 42.3-15.7 42.3"></path>
                            <path d="m197.8 213s-16.3 20.3-15.9 43c.5 27.3 15.7 42.3 15.7 42.3"></path>
                            </g>
                            <g fill="#000000">
                            <circle cx="255" cy="255" r="32"></circle>
                            <path d="m260.4 284.9-22.7-6.1-37.8 141.2 22.7 6.1z"></path>
                            <path d="m251.6 284.7 22.6-6 37.6 141.3-22.6 6z"></path>
                            <path d="m230.6 360.9 8.4-8.6 58.2 56.7-8.4 8.6z"></path>
                            <path d="m279.9 361.2-7.6-7.7-57.7 57.3 7.6 7.7z"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="d-inline-block align-middle">Overast</span>
                </a>
                <a
                    class="btn btn-social-gh px-4"
                    href="https://castro.fm/itunes/1690709989"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Castro" role="img" viewBox="0 0 32 32" fill="#fff" width="1rem" height="1rem" class="me-2">
                        <g id="SVGRepo_bgCarrierCastro" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrierCastro" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrierCastro">
                            <path d="M16 0c-8.839 0-16 7.161-16 16s7.161 16 16 16c8.839 0 16-7.161 16-16s-7.161-16-16-16zM15.995 18.656c-3.645 0-3.645-5.473 0-5.473 3.651 0 3.651 5.473 0 5.473zM22.656 25.125l-2.683-3.719c5.303-3.876 2.553-12.267-4.009-12.256-6.568 0.016-9.281 8.417-3.964 12.271l-2.688 3.724c-3.995-2.891-5.676-8.025-4.161-12.719 1.521-4.687 5.891-7.869 10.823-7.864 6.277 0 11.365 5.088 11.365 11.364 0.005 3.641-1.735 7.063-4.683 9.199z"></path>
                        </g>
                    </svg>
                    <span class="d-inline-block align-middle">Castro</span>
                </a>
                <a
                    class="btn btn-social-rss px-4"
                    href="/feed.xml"
                    target="_blank"
                >
                    <i class="fa-solid fa-rss me-2"></i>
                    RSS Feed
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}
