{% extends "base.njk" %}

{% block header %}
<header class="bg-light py-3">
    <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
            <h1 class="display-5 fw-bolder mb-2">Zed News Podcast</h1>
            <p class="lead fw-normal mb-4">
            Discover the Zed News Podcast – your weekday source for the
            latest happenings in Zambia (and beyond). Stay informed and
            up-to-date with AI-powered updates from various Zambian sources.
            Our podcast runs on autopilot, leveraging technology to curate
            content & summarize each news item, providing you with concise
            and easily digestible updates. Tune in every weekday and stay
            ahead of the news.
            </p>
            <div
            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
            >
            <a class="px-4 me-sm-3" href="#">
                <img
                src="/img/apple-podcasts-badge.svg"
                alt="Listen on Apple Podcasts"
                height="40"
                />
            </a>
            <!-- <a class="px-4" href="#">
                <img
                src="img/google-podcasts-badge.svg"
                alt="Listen on Google Podcasts"
                height="38"
                />
            </a> -->
            <a class="btn btn-outline-dark px-4" href="#!">
                <i class="fa-solid fa-headphones me-2"></i>
                Listen & Subscribe</a
            >
            </div>
        </div>
        </div>
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <img
            class="img-fluid rounded-3 my-5"
            src="/img/podcast-illustration.svg"
            alt="Zed News Podcast"
        />
        </div>
    </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="section bg-success bg-gradient py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-5 justify-content-center">
        <div class="col-lg-10">
            <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
                <div class="small text-uppercase fw-bold">
                <i class="fa-solid fa-star text-warning"></i>
                Latest Episode
                </div>
                <div class="mb-3">
                <span class="display-4 fw-bold">Friday</span>
                <span class="text-muted">26th May 2023</span>
                </div>
                <audio class="podcast-player" controls>
                <source src="https://res.cloudinary.com/engineervix/video/upload/v1685358411/sound/example.mp3" type="audio/mp3" />
                <code>audio</code> tag is not supported in this browser.
                </audio>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="section py-5">
    <div class="container px-5">
        <div class="row gx-5">
        <div class="col">
            <h2 class="fw-bolder fs-5 mb-4">Recent Episodes</h2>
            <!-- Episode -->
            <div class="d-flex mb-4 border-bottom">
            <div class="flex-shrink-0">
                <img src="/img/zed-news-podcast-icon.svg" alt="Episode 4" />
            </div>
            <div class="flex-grow-1 ms-3">
                <div class="small text-muted">Thursday, May 12, 2023</div>
                <a class="link-dark" href="#"
                >Episode 004
                </a>
                <audio class="podcast-player" controls>
                <source src="https://res.cloudinary.com/engineervix/video/upload/v1685358411/sound/example.mp3" type="audio/mp3" />
                <code>audio</code> tag is not supported in this browser.
                </audio>
            </div>
            </div>
            <!-- Episode -->
            <div class="d-flex mb-4 border-bottom">
            <div class="flex-shrink-0">
                <img src="/img/zed-news-podcast-icon.svg" alt="Episode 003" />
            </div>
            <div class="flex-grow-1 ms-3">
                <div class="small text-muted">Wednesday, May 11, 2023</div>
                <a class="link-dark" href="#"
                >Episode 003
                </a>
                <audio class="podcast-player" controls>
                <source src="https://res.cloudinary.com/engineervix/video/upload/v1685358411/sound/example.mp3" type="audio/mp3" />
                <code>audio</code> tag is not supported in this browser.
                </audio>
            </div>
            </div>
            <!-- Episode -->
            <div class="d-flex mb-4 border-bottom">
            <div class="flex-shrink-0">
                <img src="/img/zed-news-podcast-icon.svg" alt="Episode 002" />
            </div>
            <div class="flex-grow-1 ms-3">
                <div class="small text-muted">Tuesday, May 10, 2023</div>
                <a class="link-dark" href="#"
                >Episode 002
                </a>
                <audio class="podcast-player" controls>
                <source src="https://res.cloudinary.com/engineervix/video/upload/v1685358411/sound/example.mp3" type="audio/mp3" />
                <code>audio</code> tag is not supported in this browser.
                </audio>
            </div>
            </div>
            <!-- Episode -->
            <div class="d-flex mb-5 border-bottom">
            <div class="flex-shrink-0">
                <img src="/img/zed-news-podcast-icon.svg" alt="Episode 001" />
            </div>
            <div class="flex-grow-1 ms-3">
                <div class="small text-muted">Monday, May 09, 2023</div>
                <a class="link-dark" href="#"
                >Episode 001
                </a>
                <audio class="podcast-player" controls>
                <source src="https://res.cloudinary.com/engineervix/video/upload/v1685358411/sound/example.mp3" type="audio/mp3" />
                <code>audio</code> tag is not supported in this browser.
                </audio>
            </div>
            </div>
            <div class="text-end mb-5 mb-xl-0">
            <a class="text-decoration-none" href="#">
                View all episodes
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="py-5 section__support" style="background-image: url('/img/support.jpg')" >
    <div class="overlay"></div>
    <div class="text-center my-5">
        <h1 class="text-white fs-3 fw-bolder">Support the project</h1>
        <p class="text-white-50 lead mb-0">
        Enjoy listening to the podcast? Consider supporting the developer!
        </p>
        <a class="btn btn-warning btn-lg mt-3" href="#">
        <i class="fa-solid fa-mug-hot me-2"></i>
        Buy me a coffee
        </a>
    </div>
</section>
{% endblock %}
