{% extends "base.njk" %}

{% block header %}
<header class="py-3">
    <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col">
        <div class="my-5 text-center text-xl-start">
            <h1 class="display-5 fw-bolder mb-2">{{ title }}</h1>
            <p class="lead fw-normal mb-4">{{ description }}</p>
            <div class="mb-5">
            <audio class="podcast-player" controls>
                <source src="{{ mp3.url }}" type="audio/mp3" />
                <code>audio</code> tag is not supported in this browser.
            </audio>
            </div>
            {# Buttons: Subscribe, Share #}
            <div
            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
            >
                {# <a class="btn btn-warning px-4" href="#!">
                    <i class="fa-brands fa-chromecast me-2"></i>
                    Subscribe
                </a> #}
                {# <a class="btn btn-outline-danger px-4" href="https://deezer.com/show/6126025" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-deezer me-2"></i>
                    Listen on Deezer
                </a> #}
                <button type="button" class="btn btn-outline-danger px-4" data-bs-toggle="modal" data-bs-target="#share">
                    <i class="fa-solid fa-share-nodes me-2"></i>
                    Share
                </button>
            </div>
        </div>
        </div>
    </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="section py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <h2 class="pb-3">Episode notes 📋</h2>

                <h3 class="fs-4 pb-3 border-bottom">Overview 📈</h3>
                {% set has_production = production_time is defined and production_time %}
                {% set has_words = words is defined and words %}
                {% set has_full_cards = has_production and has_words %}
                <div class="row features-icons text-center pb-3">
                    {# presenter #}
                    <div class="col-lg-{% if has_full_cards %}4{% else %}6{% endif %} col-md-6">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i
                            class="fa-regular fa-circle-user m-auto text-primary"
                            ></i>
                        </div>
                        <h4 class="fs-5">Presenter</h4>
                        <p class="lead mb-0">
                            This episode was presented by {{ presenter }}.
                        </p>
                        </div>
                    </div>
                    {# locale #}
                    <div class="col-lg-{% if has_full_cards %}4{% else %}6{% endif %} col-md-6">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fa-solid fa-language m-auto text-primary"></i>
                        </div>
                        <h4 class="fs-5">Locale</h4>
                        <p class="lead mb-0">{{ locale.name }}</p>
                        </div>
                    </div>
                    {% if production_time %}
                    {# time to produce #}
                    <div class="col-lg-4 col-md-6">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fa-solid fa-stopwatch m-auto text-primary"></i>
                            </div>
                            <h4 class="fs-5">Production time</h4>
                            <p class="lead mb-0">
                                It took {{ production_time }} to produce this
                                episode.
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {# audio file #}
                    <div class="col-lg-{% if has_full_cards %}4{% else %}6{% endif %} col-md-6">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i
                            class="fa-solid fa-circle-play m-auto text-primary"
                            ></i>
                        </div>
                        <h4 class="fs-5">Audio file</h4>
                        <p class="lead mb-0">
                            The size of the audio file is {{ mp3.size }}. Running time is {{ mp3.length }}.
                        </p>
                        </div>
                    </div>
                    {% if words %}
                    {# number of words #}
                    <div class="col-lg-4 col-md-6">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fa-solid fa-keyboard m-auto text-primary"></i>
                            </div>
                            <h4 class="fs-5">Word count</h4>
                            <p class="lead mb-0">
                                {{ words.count }} words. This means that the presenter spoke at a rate of {{ words.rate }}.
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {# number of articles #}
                    <div class="col-lg-{% if has_full_cards %}4{% else %}6{% endif %} col-md-6">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i
                            class="fa-regular fa-newspaper m-auto text-primary"
                            ></i>
                        </div>
                        <h4 class="fs-5">Article count</h4>
                        <p class="lead mb-0">
                            {{ references.count }} articles from {{ references.sources }} sources. See below for more details.
                        </p>
                        </div>
                    </div>
                </div>

                <h3 class="fs-4 pb-3 border-bottom">News sources 📰</h3>

                <div class="accordion pt-3" id="news-sources">
                {%- for source, articles in site.articlesBySource(articles) -%}
                    <div class="accordion-item">
                        <p class="accordion-header">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ loop.index }}"
                            aria-expanded="false"
                            aria-controls="collapse{{ loop.index }}"
                        >
                            {{ source }}
                        </button>
                        </p>
                        <div
                        id="collapse{{ loop.index }}"
                        class="accordion-collapse collapse"
                        data-bs-parent="#news-sources"
                        >
                        <div class="accordion-body">
                            <ul class="fa-ul">
                            {%- for article in articles -%}
                                <li>
                                    <span class="fa-li">
                                    <i class="text-success fa-solid fa-caret-right"></i>
                                    </span>
                                    <a
                                    href="{{ article.url }}"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    >{{ article.title }}</a
                                    >
                                </li>
                            {%- endfor -%}
                            </ul>
                        </div>
                        </div>
                    </div>
                {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>

{# Modal #}
<div class="modal fade" id="share" tabindex="-1" aria-labelledby="shareLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title fs-5" id="shareLabel">Share this episode</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button
                    class="btn btn-social-tw px-4"
                    data-sharer="twitter"
                    data-title="Checkout Episode {{ episode }} of the Zed News Podcast!!"
                    data-hashtags="Zambia, paZed, news, podcast, AI"
                    data-url="{{ site.base_url }}{{ page.url }}"
                >
                    <i class="fa-brands fa-twitter me-2"></i>
                    Share on Twitter
                </button>
                <button
                    class="btn btn-social-fb px-4"
                    data-sharer="facebook"
                    data-hashtag="Zambia"
                    data-url="{{ site.base_url }}{{ page.url }}"
                >
                    <i class="fa-brands fa-facebook me-2"></i>
                    Share on Facebook
                </button>
                <button
                    class="btn btn-social-whatsapp px-4"
                    data-sharer="whatsapp"
                    data-title="Checkout Episode {{ episode }} of the Zed News Podcast!!"
                    data-url="{{ site.base_url }}{{ page.url }}"
                >
                    <i class="fa-brands fa-whatsapp me-2"></i>
                    Share on Whatsapp
                </button>
                <button
                    class="btn btn-social-telegram px-4"
                    data-sharer="telegram"
                    data-title="Checkout Episode {{ episode }} of the Zed News Podcast!!"
                    data-url="{{ site.base_url }}{{ page.url }}"
                >
                    <i class="fa-brands fa-telegram me-2"></i>
                    Share on Telegram
                </button>
                <button
                    class="btn btn-social-email px-4"
                    data-sharer="email"
                    data-title="Zed News Podcast - Episode {{ episode }}"
                    data-url="{{ site.base_url }}{{ page.url }}" data-subject="Hey! Check out Episode {{ episode }} of the Zed News Podcast!"
                    data-to="somebody@email.com"
                >
                    <i class="fa-solid fa-envelope-open-text me-2"></i>
                    Share via Email
                </button>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}
